[2018-06-15 11:41] theScrabi commented on #2241
Related to this: https://github.com/owncloud/android/issues/2124#issuecomment-371083397

[2018-06-15 11:53] theScrabi commented on #1727
The problem is that all these `select all` icons are verry abstract, and there is not a "commonly known" icon for select all, So I wouldn't recommend using only the icon. I'd recommend to put at least a text beside of it, so no toolbar.

[2018-06-15 12:34] sd1998 commented on #1727
@theScrabi I agree. So I will be adding the option in the three dot menu.

[2018-06-16 06:32] sd1998 commented on #2197
@davigonz I would like to work on this

[2018-06-16 07:37] sciurius commented on #2241
Thanks for the detailed explanation.
May I assume that using Android jobs for this is already planned for a near future version?

[2018-06-16 15:38] michaelstingl commented on #2241
@davigonz Is there already an issue for the implementation of "Android jobs"/"job scheduler"? Priority and roadmap should be discussed there…

[2018-06-18 06:16] davigonz commented on #2241
Sure, #2124 is related and @jesmrec and I were trying to reproduce any bad behaviour with instant uploads in latest versions of Android but no progress so far.

[2018-06-20 15:49] davigonz opened #2244 "[2.8.0] Wizard, include coming features"
Let's go for a new version of our wizard, available for all the users updating the app from 2.7.0 to 2.8.0

**Features to include:**

1. User quota
<img src="https://user-images.githubusercontent.com/15261363/41766369-17183e08-7607-11e8-8d3f-50ac0f9a74cb.png" width=50%>

2. New icons
<img src="https://user-images.githubusercontent.com/15261363/41766355-0fa3b6fc-7607-11e8-9e25-c1d8032390fb.png" wid

[2018-06-20 20:57] switzel commented on #10
In case someone is looking for this: the nextcloud app allows changing the local folder to sd card. The ownCloud one doesn't seem to be actively developed any more.

[2018-06-21 01:28] AnrDaemon commented on #10
You're confusing client functionality with server functionality, it seems

[2018-06-21 01:42] boltronics commented on #10
@AnrDaemon Assuming that was directed at me, are you implying that the nextcloud Android client supports syncing against ownCloud as well?

[2018-06-21 02:31] AnrDaemon commented on #10
I don't see why it would not.

[2018-06-21 06:44] davigonz commented on #10
Hi @switzel , @boltronics , @AnrDaemon , it's true we don't currently support sd card but it doesn't mean the app is not actively developed any more, have you checked our [changelog](https://github.com/owncloud/android/blob/master/CHANGELOG.md)?

We have included a **bunch of new features during the last year** such as video streaming,  gif support, fingerprint and pattern lock, multiple public li

[2018-06-21 08:18] AnrDaemon commented on #10
Perhaps you don't understand, but a user judge the application by the features they are using.
I can't use video streaming or gifs because I can't store anything on the device - I simply don't have free space…

[2018-06-21 08:31] woeterman94 commented on #1755
2 years later, this still doesn't seem possible.

How can I force the camera upload to upload existing photos on the device?

[2018-06-21 08:41] theScrabi commented on #10
I think we do. We wont to have a well running and stable application that satisfies our users as well as possible. However implementing something takes time, and as I just said, here fore us and what we see other things, are more important right now. Things such as cleaning the codebase in order not to bad patch features.

 @AnrDaemon if you are desperate on this feature you are highly welcome to

[2018-06-21 08:58] theScrabi commented on #1755
Ok true this could be a useful enhancement. But a possible work around was to copy the images onto your computer and upload it from there.

Not perfect I know, but once you did it you don't have to bother about it anymore.
However help for such enhancements is welcome :)

[2018-06-22 02:06] cgpgh opened #2245 "New install of ver 2.8 andriod not working"
### Actual behaviour
-Tell us what happens
I have used a free version for long time and it worked like a charm. I recently installed OC 10.0.8 and purchased this app to show support. But after I enter my OC server details and user name/passwd. It just sits there. Never connects. The mac desktop client works fine. What could be the problem. I uninstalled and reinstalled. Pls help.

### Expected beh

[2018-06-22 06:48] davigonz commented on #2245
Hi @cgpgh , first of all, thank you for reporting this issue, can you please tell us the error message you see after entering the credentials?

I guess you are a beta tester since as you say above, you bought the official app and there's no 2.8 final version yet but 2.8 beta v1.

Are you sure the app is not working with the demo server? I've just downloaded the beta version from PlayStore and is w

[2018-06-22 08:31] davigonz commented on #2244
@jesmrec @theScrabi @michaelstingl any suggestion is welcome

[2018-06-22 09:53] michaelstingl commented on #2244
Before pins not necessary

[2018-06-22 10:31] michaelstingl commented on #2244
But confusing for new users

[2018-06-22 10:43] jesmrec commented on #2244
New users will not see this wizard, they will see the welcome wizard. In the welcome wizard is not included these slides.

[2018-06-22 12:38] michaelstingl commented on #2244
ah, different wizards. makes sense. 👍

[2018-06-22 13:27] sd1998 opened #2247 "Inappropriate Message when creating a folder with an existing folder name"
### Actual behaviour
When trying to create a folder with the same name as one that has already been created. The snackbar message states "Method not allowed".

### Expected behaviour
I think the message should be a bit more informative like "Folder with same name exists" of another forlder should be created with suffix "<folder name> + 1".

### Steps to reproduce
1. Create a folder named "xyz" by

[2018-06-22 13:28] sd1998 commented on #2247
@davigonz @jesmrec  I think this is an issue and if you agree with this then I would like to make the change its just a minor one.

[2018-06-22 16:10] cgpgh commented on #2245
David,

Thank you for the reply.

I purchased ver 2.7 that did not work. so I signed up for beta to see that helps but no.

Demo server login with both versions did not work, I feel it's isolated to my device, but don't know how to fix it.

It save  the user name and password and after shows loading and stays there. I am unable to take screenshots on the phone it's prevented due to security.

Rega

[2018-06-22 16:14] cgpgh commented on #2245
I was able to get a screenshot of the loading page where it stays there.

[cid:7973db1c-b738-438b-8655-7386c685ee9f]

Regards

Cyril

________________________________
From: Cyril Gnanaprakasham <cyril73@hotmail.com>
Sent: Friday, June 22, 2018 9:10 AM
To: owncloud/android
Subject: Re: [owncloud/android] New install of ver 2.8 andriod not working (#2245)

David,

Thank you for the reply.

I purchas

[2018-06-22 19:46] michaelstingl commented on #2245
@cgpgh Your screenshot didn't made it to your comment.

In the beta version, you can access the logs on the settings screen. Could you send them to apps@owncloud.com ?

[2018-06-22 19:59] cgpgh commented on #2245
Michael,

The logs are empty, see screenshot attached.

Regards

Cyril

________________________________
From: Michael Stingl <notifications@github.com>
Sent: Friday, June 22, 2018 12:46 PM
To: owncloud/android
Cc: cgpgh; Mention
Subject: Re: [owncloud/android] New install of ver 2.8 andriod not working (#2245)

@cgpgh<https://github.com/cgpgh> Your screenshot didn't made it to your comment.

In t

[2018-06-25 06:49] jesmrec commented on #2247
go ahead

[2018-06-25 06:59] theScrabi commented on #2245
I think we can not see the attached file here in the github issue page. @cgpgh please take a look at the web version of this issue.

[2018-06-25 07:00] sd1998 commented on #2247
@jesmrec Which one of the following should it be? The message should be a bit more informative like "Folder with same name exists"? or another folder should be created with suffix " + 1".?

[2018-06-25 07:50] michaelstingl commented on #2247
What error does the server send in the response? Could you post it here?

[2018-06-25 08:21] nzjc commented on #1829
Now with 2.7.0 I still have the same problem as I did back in 2016... I am running a Xiaomi 5S and while 'instant' upload did used to work periodically, Camera Upload doesn't seem to have worked ever. I wonder if my OS is just not doing the scan at all..

However, if I change to Open Camera and set a different folder (one level up from ../Camera in DCIM) - it does work just fine. Could this just b

[2018-06-25 10:41] jesmrec commented on #2247
The response of the MKCOL request is a 405 error with:

`<s:message>The resource you tried to create already exists</s:message>`

[2018-06-25 10:56] jesmrec commented on #1829
some devices adds a customization layer over the Android. If you want to help us to research which the problem with your device is, you can send a mail to apps@owncloud.com and there, we will give you more details about the info we need or the ways we can suggest you to ship us related info.

[2018-06-25 13:34] #2066 closed

[2018-06-26 12:18] cdamken commented on #2219
Question: Now is not necessary to type `http://` or `https://` in front of the URL, will be that autodetect?

[2018-06-26 13:41] theScrabi commented on #2219
no its not automated.

[2018-06-26 15:16] jesmrec opened #2249 "Camera uploads problems"
There are different devices which are having problems with camera uploads.

We will use this issue to gather all the info related to find which the  problem could be, and needed fixes as well.

[2018-06-26 16:37] #2188 closed

[2018-06-26 16:50] jesmrec commented on #2249
A user has reported us that the problem happens with the following info:

Device: Xiaomi 5S (32GB version)
Android version: 7.0 NRD90M
Xiaomi MIUI ver: Global 9.5.2.0
App version 2.7.0
Camera folder: /storage/emulated/0/DCIM/OpenCamera (have tried Camera aswell)
Camera App: OpenCamera, previously in-built Xiaimi MIUI camera app

[2018-06-27 06:34] jesmrec commented on #2237
@quan92 do you perform the same steps as @lhartmann? all details will be helpful to reproduce

[2018-06-27 08:32] davigonz commented on #2244
Well, since the wizard images are fixed and we can not put text in there, I have redesigned it:

1. User quota

<img src="https://user-images.githubusercontent.com/15261363/41962366-22b107d0-79f5-11e8-8dc7-d74d8b70e714.png" width=50%>
2. New icons

<img src="https://user-images.githubusercontent.com/15261363/41962372-25b25362-79f5-11e8-8831-9a686a1c46e8.png" width=50%>
3. New pins

<img src="https

[2018-06-27 08:43] jesmrec commented on #2244
for me it is ok. Only one small tweak i would do: i would set the "New pins" in the 2nd place because the white arrow is much more clear in this slide than in the "New icons" one. So, the user will see the "New icons" first, will understand the changes (the meaning of the white arrow) and then, will be clearer to understand the "New icons" one. It sounds a bit convoluted, maybe not worthy...

[2018-06-27 08:46] lefherz commented on #2249
Version 2.7.0 reports with upload errors have following devices & Android versions:

* phhgsi_arm64_a - Android 5.0.2
* flo - Android 6.0 (Works fairly well, aside from very unreliable photo upload. The instant
upload occasionally works automatically, but usually you have to go into
settings and re-choose the source directory. Then it will realize there are
files there and start to upload. Probabl

[2018-06-27 09:02] davigonz commented on #2244
I agree with you about the arrow meaning but I would keep this order since is the common user flow:

1. Press the button to download or set a file as available offline.
2. See files with syncing, downloaded or available offline pins.

[2018-06-27 09:16] jesmrec commented on #2244
if this is the pattern we use to apply in all the wizards (show slides in the order the flow leads), then go ahead.

[2018-06-27 12:10] michaelstingl commented on #2249
bullhead ==> Nexus 5X
dreamlte ==> Samsung Galaxy S8
greatqlte ==> Samsung Galaxy Note8
natrium ==> Xiaomi Mi 5s Plus
taimen ==> Google Pixel 2 XL
walleye ==> Google Pixel 2
zeroflte ==> Samsung Galaxy S6

[2018-06-27 13:10] michaelstingl commented on #2249
Most devices look very common. Nothing suspicious.

[2018-06-27 13:43] #2244 closed

[2018-06-27 14:13] davigonz commented on #2238
This is ready to code review @theScrabi and QA @jesmrec

[2018-06-27 16:44] jesmrec commented on #2238
### (2)

Steps:

1. Switch connection off
2. Try to delete/rename/move any item

Current: Error message in a Toast
Expected: Error message in a Snackbar (this is the behaviour in the previous version 2.7.0)

[2018-06-27 19:05] michaelstingl commented on #2249
Okay, if my Google Pixel 2 with Android P is locked and placed on my desk without touching it, it doesn't upload new photos after 15 Minutes. As soon as I press the power button, it starts uploading. I don't need to unlock it.

[2018-06-27 19:54] michaelstingl commented on #2249
Hm, not everything smooth…

![2018-06-27_21_50_03](https://user-images.githubusercontent.com/214010/41996262-a2bea22a-7a54-11e8-997b-8b3831603bbd.png)

[2018-06-28 06:58] theScrabi commented on #2219
good point :D

[2018-06-28 06:59] jesmrec commented on #2238
### (3)

Steps:

1. In server, set maintenance mode (`sudo -u www-data ./occ maintenance:mode --on`)
2. In app, perform any action

Current: Authentication failed (error 503 is returned)
Expected: System in maintenance mode

[2018-06-28 07:33] davigonz commented on #2219
Do you mean the `Server address https://` message? That's just the placeholder and will turns into the headline once you tap the inputfield

[2018-06-28 07:40] theScrabi commented on #2219
no I think he mans this part:
![screen shot 2018-06-28 at 09 38 51](https://user-images.githubusercontent.com/1891273/42020057-16fdf4d0-7ab7-11e8-81fe-39f2e7367069.png)

you can't see a http:// or https:// written here. Which is not correct, because our login does not accept an address without the scheme.

[2018-06-28 08:00] davigonz commented on #2219
Yes, our login accepts it, you can put the address without the scheme

[<img src="https://user-images.githubusercontent.com/15261363/42020856-64601788-7ab9-11e8-9514-c831aec45f88.gif" width="400px"/>](https://user-images.githubusercontent.com/15261363/42020856-64601788-7ab9-11e8-9514-c831aec45f88.gif)

[2018-06-28 08:05] jesmrec commented on #2238
### (4)

Bug (2) also reproducible with the following steps:

1. Select to copy/move items to a new location
2. In web UI, remove the target folder
3. In the app, confirm the operation

Current: Error message in a Toast
Expected: Error message in a Snackbar

[2018-06-28 08:29] theScrabi commented on #2238
https://github.com/owncloud/android/issues/2238#issuecomment-400748691

fixed

[2018-06-28 09:02] theScrabi commented on #2238
(3) https://github.com/owncloud/android/issues/2238#issuecomment-400932784
fixed

[2018-06-28 09:03] theScrabi commented on #2238
(4) https://github.com/owncloud/android/issues/2238#issuecomment-400949114

fixed

[2018-06-28 09:04] theScrabi commented on #2219
O.o uff ... didn't know

[2018-06-28 09:11] theScrabi commented on #10
Please remember on bounty source this issue is open as well:
https://www.bountysource.com/issues/541829-configure-download-folder-external_sd

So if you want to support us you can donate to this issue, maybe someone wants to give it a shot.

[2018-06-28 10:09] jesmrec commented on #2249
I have the feeling that there are still many users that does not understand correctly how this feature works. Of course, this is not his/her fault. By reviewing all the feedback stuff i guess:

- Users that keeps expecting uploads to be performed instantly
- Users that don't use the `Camera folder` field to select the camera app they use to take pics/videos
- Users that take pics with the app clos

[2018-06-28 10:19] theScrabi commented on #2249
Maybe if the users don't understand what is going on here, we might ask how can we make the user understand, or better why does the user not understand.

[2018-06-28 10:39] jesmrec commented on #2249
we did it, by including it in ownCloud manual, blog posts... but you can not force users to read such stuff.

[2018-06-28 10:48] theScrabi commented on #2249
That's the point, so how can we make the user understand this even if he is to lazy for reading the posts.

[2018-06-28 10:49] theScrabi commented on #2249
Maybe by showing a notice (AlertDialog) when enabling image uploads?

[2018-06-28 11:21] theScrabi commented on #2249
Explaining it directly.

[2018-06-28 12:11] davigonz commented on #2249
And we included a specific step in our wizard as well.

Something like this could help, I can understand they might skip the wizard but if a user decides to enable camera uploads, it's more likely he read the dialog we show there.

[2018-06-28 12:15] jesmrec commented on #2249
the point is that such alert will be triggered when the option is enabled. Those users who has the option already enabled will never read this.

[2018-06-28 12:46] jesmrec commented on #2238
About (3), you set a new message:

https://github.com/owncloud/android/blob/7aad9eb2201063e7606f8680ceb9e9f2681dd711/res/values/strings.xml#L79

Message in 2.7.0 and older is the same you are comparing with, and i think this is the message to be displayed

https://github.com/owncloud/android/blob/7aad9eb2201063e7606f8680ceb9e9f2681dd711/src/com/owncloud/android/ui/activity/FileDisplayActivity.java

[2018-06-28 16:06] cdamken commented on #2219
Nice!, I hate to write `damken.cloud` and then I have to go back and write the `https://`

[2018-06-29 06:58] theScrabi commented on #2238
Ok, I thought I'll make it translatable.
However It came in my mind that maybe the error message send by the server is already translated. Could that be?

[2018-06-29 12:07] davigonz commented on #2070
@PVince81 just a question about the last step with chunked uploads:

How long does the server take to build the file once all the chunks are uploaded? Is there any way to check that file is completed and ready to be moved to the final destination?

[2018-06-29 12:35] jesmrec commented on #2238
### (5)

Steps:

1. Share content with a user
2. Try to share again with the same user

Current: `It is not posible to move folder into a descendant`
Expected: `Path already shared with this user`

Android 6

[2018-06-29 14:57] PVince81 commented on #2070
@davigonz the assembly depends on the size of the file and number of chunks. The duration is likely similar to the duration of the last PUT when using the old chunking.

There is currently no mechanism to track this. However there's a POC for a possible mechanism to "check later" here: https://github.com/owncloud/core/pull/31851

[2018-06-30 17:33] rezaiyan commented on #2194
@theScrabi
Can you share directory of this page to anyone want to do it : )

[2018-07-01 10:46] michaelstingl commented on #2194
@rezaiyan this is the current state (app version 2.7.0):

| ![01](https://user-images.githubusercontent.com/214010/42133514-0528bc3c-7d2c-11e8-93e5-b8c4598f448d.png) | ![02](https://user-images.githubusercontent.com/214010/42133515-05596512-7d2c-11e8-8ec3-0737da09685d.png) | ![03](https://user-images.githubusercontent.com/214010/42133516-0575138e-7d2c-11e8-9f04-69a0da98cf0a.png) | ![04-2](https://

[2018-07-02 07:50] davigonz commented on #2238
(5) https://github.com/owncloud/android/issues/2238#issuecomment-401341095

Fixed

[2018-07-02 09:01] PVince81 commented on #2069
It works now with 2.7.0. It will reupload the full file automatically after wifi is back.

Next up is to have it resume on chunk level: https://github.com/owncloud/android/issues/2070

[2018-07-02 09:01] #2069 closed

[2018-07-03 09:47] cdutsov opened #2253 "App cannot open folders with name that contains a space"
### Actual behaviour
-Tell us what happens
When trying to open folder or upload to folders containing space in their name, the app fails to do so. For example opening folder "My Files" will not work, whereas "My-Files" will be opened.

### Expected behaviour
-Tell us what should happen
 The app should open folders containing a space in their name.

### Steps to reproduce
1.Make a folder with space

[2018-07-03 10:14] jesmrec commented on #2238
### (6)

Steps:

1. Login in a basic auth account
2. In server, remove the account
3. In app, pull to refresh or perform any action

Current: `Error: Call to member function getUID() on null`
Expected: Authentication error and link to change account

Android 7 & 8

[2018-07-04 11:03] theScrabi commented on #2238
[error (3)](https://github.com/owncloud/android/issues/2238#issuecomment-400932784) and [error (6)](https://github.com/owncloud/android/issues/2238#issuecomment-402092692) somehow block each other.

If the cloud is in maintaincance mode it will send a 503 "Service unavailable" which tells us directly that the cloud is not available at the moment. However if one delets an account a 503 is also retu

[2018-07-04 11:37] theScrabi commented on #2238
ok i found a way by looking into the httpPhrase returned together with the httpcode.

[2018-07-04 11:43] theScrabi commented on #2238
nr. 6 fixed

[2018-07-04 16:02] jesmrec commented on #2238
### (7)

To reproduce, it is needed a device with fingerprint lock support

Steps:

1. Install 2.7.0
2. Attach an account and in settings, enable passcode + fingerprint lock
3. Upgrade to 2.8.0 (upgrade wizard appears)
4. Browse through the wizard and tap on the tick of the last slide

Current: Fingerprint asked. By putting your correct finger, app is unlocked with the blue background of the wizar

[2018-07-05 06:52] sd1998 commented on #2197
@jesmrec Should I add this as an option in the settings and if the user enables this option only then the images will be saved based on file hierarchy derived from the image date?

[2018-07-05 08:21] jesmrec commented on #2197
The idea of this feature sounds interesting for the case the app is installed from scratch or the instant uploads are enabled/triggered for the first time. All pics are organized using folders by timestamp year-month.

But... If i have enabled it before, i will have my folder with all my pics together (current behaviour). From the moment this feature is enabled, my pics will be stored in different

[2018-07-05 08:53] davigonz commented on #2238
(7) https://github.com/owncloud/android/issues/2238#issuecomment-402517259 fixed

[2018-07-05 09:43] lucasvieites commented on #2197
Hi @sd1998 , @jesmrec,
thank you for working on this!
I think we are talking about two different things;

1. New install - Enable "timestamp hierarchy"
2. Existing installation - Re-order existing uploads in "timestamp hierarchy"

Option 1 is clear, and for option 2 I'd suggest having a greyed out setting that get's writable when you enable "timestamp hierarchy" and asks if the user wants to re-or

[2018-07-05 11:20] AqwelF commented on #2124
Same issue on honor 9 under oreo 8.1 AOSP treble. On reboot the app crash everytime. Is it possible to make owncloud autostart off on boot ? App version 2.7.0 thanks

[2018-07-05 11:44] davigonz commented on #2124
Hi @AqwelF , thanks for reporting this, are you using available offline feature? If so, have you noticed any strange behaviour when using it?

[2018-07-05 11:50] jesmrec commented on #2238
All stuff fixed and approved. Ready to go.

[2018-07-05 12:45] michaelstingl commented on #695
Search API has been implemented on oC server and is planned to be included in oC 10.0.10: https://github.com/owncloud/core/issues/25373#issuecomment-400967608

[2018-07-05 13:39] AqwelF commented on #2124
How could i know if i use it ? I only install owncloud from fdroid, add my server, reboot phone, crash... Do you want a catlog or something else ?

[2018-07-06 07:35] theScrabi commented on #2124
if you mark a file as offline available then you use it. The file will have a yellow down arrow attached to it.

[2018-07-06 07:58] theScrabi commented on #2197
Hm well reordering in that great size should be made part of the server what do you thing?

[2018-07-06 08:39] davigonz commented on #2197
If I have understood correctly, what @lucasvieites suggests is the next scenario:

1. Press upload button.
2. Select a couple of pictures, e.g. **IMG_20180721, IMG_20180615, IMG_20170322**
3. App automatically reads the file creation or last modification date of those pictures, create the next hierarchy in internal storage (ownCloud folder) and upload the files following the same hierarchy on the

[2018-07-06 08:52] lucasvieites commented on #2197
@theScrabi You're absolutely right! What was I thinking?! That should not be done from the mobile side.
@davigonz Yes, that's the general idea. I'm not sure if the pictures are also stored locally on the device.

Thank you

[2018-07-06 10:30] AqwelF commented on #2124
Its work fine if i do so, no probleme with download file or sync offline file.

[2018-07-07 10:50] arnwas commented on #1870
Even with 2.7.0 on a Samsung S7 Edge with Oreo it does still not work. Both SD and internal storage

[2018-07-07 10:51] arnwas commented on #2028
This does not work on my Samsung S7 Edge with Oreo. Both from SD card nor internal memory

[2018-07-09 06:21] jesmrec commented on #2028
@arnwas could you report here?: https://github.com/owncloud/android/issues/2249

[2018-07-09 16:48] sd1998 commented on #1987
@jesmrec I would like to work on this

[2018-07-09 16:51] sd1998 commented on #1911
@jesmrec Can I work on this?

[2018-07-10 06:28] jesmrec commented on #1987
go for it

[2018-07-10 15:32] herrjon opened #2257 ""Local copy could not be renamed; try a different name" when connecting for first time"
### Actual behaviour
When setting up owncloud on Android phone for the first time the message "Local copy could not be renamed; try a different name" appears after accepting the server certificate (in my case I have a self generated ssl certificate)

### Expected behaviour
Configuration should complete without errors.

### Steps to reproduce
1. Install owncloud for Android
2. Open, enter configura

[2018-07-10 16:11] jesmrec commented on #2257
i can not reproduce here the problem with a self-signed server. The issue (maybe) can be related with some kind of redirection that the dyndns service performs. Could you send us a test account in your server to test which the problem could be? you can send it to apps@owncloud.com (please, include a link the current issue in the mail)

[2018-07-10 16:19] herrjon commented on #2257
I apologize - problem was at my end.
I didn't enter the complete url which had to include "/owncloud"
 "https://xxxx.dyndns.org/owncloud"

Where I had only entered:
""https://xxxx.dyndns.org"

[2018-07-10 16:19] #2257 closed

[2018-07-12 10:06] ChrisEdS commented on #2245
// Update from ownCloud Support-Team
## Missing screenshot

![screenshot_20180622-125741](https://user-images.githubusercontent.com/33026403/42626962-ee221968-85cb-11e8-9b9b-93e339bbf57f.png)

[2018-07-12 14:56] cgpgh commented on #2245
All,

The app is now working fine. There was another conflicting app that was preventing it from working.

Regards

Cyril

________________________________
From: Christian Scherm <notifications@github.com>
Sent: Thursday, July 12, 2018 3:06 AM
To: owncloud/android
Cc: cgpgh; Mention
Subject: Re: [owncloud/android] New install of ver 2.8 andriod not working (#2245)

// Update from ownCloud Support-

[2018-07-12 14:59] ChrisEdS commented on #2245
@cgpgh Good news!

[2018-07-12 14:59] #2245 closed

[2018-07-15 19:12] andreaslink-de commented on #2149
Hej there,

some time past and I really would like to get this error fixed as it's still existing exactly the same way, even though I go with every stable version, which is provided. So following your template...

### Actual behaviour
Pictures are not uploaded when being taken outside a valid wifi network and then entering back into a wifi network (like e.g. at home). I always need to press the bu

[2018-07-16 12:22] davigonz commented on #2212
Hi @andreaslink-de , thanks for adding more information to this topic, could you please tell us how many uploads (more or less) are needed to see this behaviour? That will help us to reproduce it, thanks.

[2018-07-16 13:50] andreaslink-de commented on #2212
Hi @davigonz, I guess, that information is as such not that important as it's a matter of time. So in other words if you have an incredible fast internet connection between phone and server (like a lokal setup), then I guess, you need about a 50 or 200 to reach that message.
So I just went out, took some pics from my children in the garden and immediatly manually pressed the upload button inside t

[2018-07-16 18:22] mdnazmulhasan27771 opened #2260 "logo/ icon Design"
Hi,

My name is MD NAZMUL HASAN. I am a professional Graphics Designer. I have a 5-year experience in Graphic Design. I have done many logo designs I've done many apps icon for Github and play store.

My Some Work is Here: https://www.flickr.com/photos/nazmulhasan27771

➥ MY SERVICE :

Friendly and professional logo design service and support.
My designs are unique.
Fantastic value for money.
Alwa

[2018-07-18 11:21] davigonz commented on #2238
@theScrabi any update on F-Droid release?

[2018-07-20 14:14] widhalmt opened #2263 "Add configureable auto-delete for downloaded files"
Hi,

When I use the android app to `move` files from my android device to my ownCloud installation, the files are not deleted from the android device but merely moved to the owncloud folder. Thus the files are marked as "downloaded" in the app and still consume space.

I know there are several issues about really moving the files and deleting them locally. I know the workaround to use the ownCloud

[2018-07-20 15:29] michaelstingl opened #2264 "Re-shares not shown in Android app UI"
### Actual behaviour
Re-shares not shown in Android app UI.

### Expected behaviour
Owner of a share should also see recipients of re-shares, same as in web UI.

### Steps to reproduce
1. User A shares folder with User B
2. User B shares received folder with User C

Can this problem be reproduced with the official owncloud server?
(url: https://demo.owncloud.org, user: test, password: test)
yes

#

[2018-07-23 08:56] davigonz commented on #2264
Yes, I will check the complexity of this

[2018-07-23 09:30] michaelstingl commented on #2264
I hope complexity isn't that high:

![visibility_of_shared_folders_ _issue__2505_ _owncloud_enterprise](https://user-images.githubusercontent.com/214010/43068836-d0cfe6c6-8e6b-11e8-8050-64761d9ed460.png)

[2018-07-23 09:55] davigonz commented on #2264
So, we should switch to v2.php

[2018-07-23 13:12] michaelstingl commented on #2264
`v2.php` and `v1.php` are identical. @PVince81 is there a recommendation to use `v2.php` or `v1.php`? @davigonz key is, to add the `reshare=true` parameter to the request.

[2018-07-24 15:38] mgriego commented on #2212
I'm running into this same issue on a Motorola G6.  Android 8.0.0, app version 2.8.0.  It's like the OS is expecting the app to yield periodically, and it doesn't during uploads, so it thinks the app has stopped responding.  I can get it to happen when uploading a single photo on a slow connection.  On faster connections, it takes a few photos.  I actually think that it's causing the OS to prematu

[2018-07-24 15:42] PVince81 commented on #2264
use v2.php if you like sane HTTP return codes.
if you love OCS 100 return codes you can keep using v1.php...

[2018-07-25 12:08] Seriousitchy opened #2265 "Login doesn't work"
### Actual behaviour
-Tell us what happens
After entering all credentials, the screen doesn't proceed to the files view. It simply refreshes the login screen. No message whatsoever.
This behavior applies to my tablet, but on my Smartphone the APP is working as it should.
Also, the login is working with the nextcloud APP on my tablet (with the same owncloud Server).

### Expected behaviour
-Tell us

[2018-07-25 15:43] davigonz commented on #2265
Hi @Seriousitchy , thanks for reporting this, do you have a customized system in your smartphone as well? Is it the first time you are using the app in your tablet or it worked with previous app and server versions?

[2018-07-25 16:23] Seriousitchy commented on #2265
Hi @davigonz, my Smartphone has the stock Rom installed and unlike the tablet its not rooted. I remember that it used to work once, I cant remember which versions I had back then though.

[2018-07-26 11:16] theScrabi commented on #2265
@Seriousitchy you could use the latest [beta release](https://f-droid.org/repo/com.owncloud.android_20700100.apk) of our application. It has log functionality. You could send us the log. Optionally you could use logcat to gather logs of the app.

[2018-07-26 11:20] theScrabi commented on #2212
maybe with our new okHttp client throttling was possible.

[2018-07-26 11:40] davigonz commented on #2228
This is not blocked any more, moving it to To Do

[2018-07-26 11:44] phil-davis commented on #2228
Note: discussion here also about the password policy app exposing more detail in capabilities of what is required for a valid password
https://github.com/owncloud/password_policy/issues/76

The capabilities here would still be the same, so not a blocker for implementing this bit! I am just posting here so people are aware that more password capability details might come...

[2018-07-26 11:57] davigonz commented on #2098
This is no longer needed since we deprecated the separate beta app [in here](https://github.com/owncloud/android/pull/2151/files). From that moment on, beta and final versions will use the same user agent.

[2018-07-26 11:57] #2098 closed

[2018-07-26 12:00] davigonz commented on #1964
Hi @johnkj , have you noticed this problem again with the recent versions of the Android app, such as 2.8, released a couple of weeks ago?

[2018-07-26 12:06] davigonz commented on #2030
We deprecated the beta app described in this issue and the solution proposed [here](https://github.com/owncloud/android/issues/2098) is no longer needed, so this shouldn't happen again with the new beta version.

I will close this, if you want to know how to join our new betas, please have a look at the end of our [ readme file](https://github.com/owncloud/android/blob/master/README.md)

[2018-07-26 12:06] #2030 closed

[2018-07-26 21:14] Seriousitchy commented on #2265
@theScrabi thank you, but I still cant find a log.
Am I looking in the wrong folder? Thats the path I found: Android/data/com.owncloud.android/

[2018-07-26 21:30] Seriousitchy commented on #2265
@theScrabi thank you! I attached the log file here:
[currentLog.txt](https://github.com/owncloud/android/files/2233653/currentLog.txt)

[2018-07-27 07:34] theScrabi commented on #2265
@davigonz
So there are two parts in the log I don't like first is line 14-24:
[code]

Here the cause of our error in line 359-363:
[code]

[2018-07-27 07:41] theScrabi commented on #2265
@Seriousitchy you could try to replace basic auth with oauth, by installing this app:
https://marketplace.owncloud.com/apps/oauth2

However if you do this (on apache2) make sure to enable the modes `rewrite` and `headers`.

[2018-07-27 12:09] davigonz commented on #2265
Hi again @Seriousitchy , I have tried the 2.8 app and the logs that @theScrabi comments above also appear, so nothing strange from my point of view.

Could you create a test account and send us the credentials to apps@owncloud.com so we can try to reproduce the problem directly on your server? Thanks

[2018-07-30 07:47] jtvn commented on #2212
I have the same issue on OnePlus 3 and Oneplus 6 - both running Android 8. This is using the 2.8 OwnCloud Android client application, downloaded from F-Droid.

![screenshot_20180729-222653](https://user-images.githubusercontent.com/2311376/43383967-e1606878-93dc-11e8-8422-36cc71eabbc7.jpg)

This *mostly* freezes when the "Uploaded Files" is shown, but it also shows in other screens (for example wh

[2018-07-30 07:53] jtvn commented on #2212
I have the same issue on OnePlus 3 and Oneplus 5T - both running Android 8. This is using the 2.8 OwnCloud Android client application, downloaded from F-Droid.
![screenshot_20180729-222653](https://user-images.githubusercontent.com/2311376/43384437-5ce76b08-93de-11e8-990c-b424daa91f94.jpg)

This *mostly* freezes when the "Uploaded Files" is shown, but it also shows in other screens (for example wh

[2018-07-30 10:42] jesmrec commented on #2238
who is taking care about the documentation? @settermjd?

[2018-07-31 10:19] nzjc commented on #2249
I was the user who reported a problem with Device: Xiaomi 5S (32GB version) (June 26th report). I have now shifted to the beta version of Owncloud and camera upload (from OpenCamera folder) seems to be working automatically as I would expect.

The version that is displayed in the App is 2.8.0

[2018-08-01 16:20] jesmrec opened #2272 "Sorting options in Sharing view"
Check these steps out:

1. Open a 3rd party app, f.ex. "Photos"
2. Select some pics and share with oC

Current behaviour:

Folder picker displayed. Three-dot-button on the top-right contains the option sort, which does not work and no action can be performed.

Expected behaviour:

One of them:

- Sorting works as well as in the app's file list
- Sorting option does not appear in Three-dot-button m

[2018-08-03 12:44] theScrabi opened #2273 "Refactor documents Provider"
Documents Provider currently has some issues that make him kind of unusable.
There is a NULL pointer exception from time to time that causes him to display no file:
![sync_error m4v](https://user-images.githubusercontent.com/1891273/43643406-7cef0226-972b-11e8-868c-ae410745a520.gif)

Sometimes if you can actually see the files, that you can only see the files that where synced, but not the ones th

[2018-08-03 14:55] kolevv commented on #2253
I'm using version 2.8.0 and am unable to reproduce this bug. Running OxygenOS 5.1.4

[2018-08-03 17:05] theScrabi commented on #2253
This is an error which seem to be related to apache HttpClient. Please wait until the next release, we are about to remove okHttp.

[2018-08-06 20:59] pixolex commented on #2263
I want that!

[2018-08-07 06:46] #2194 closed

[2018-08-09 08:56] #2264 closed

[2018-08-09 13:35] davigonz commented on #2055
I've just implemented this in the network library replacement branch, chttps://github.com/owncloud/android/pull/2236/commits/cd60d63ab445d5bcb89705d2855b81aeb8b5c152b5c152

[2018-08-09 13:58] michaelstingl commented on #2055
cool, awesome!

[2018-08-11 09:01] BDMN opened #2276 "Please add to 3-bar navigation pane links to "Favorites" and "Shared by link" files."
In continue to Ticket#201808107002029.
### Actual behaviour
- 3-bar menu contains only "All files" and "Uploads" links
### Expected behaviour
- By analogy with web-interface please add links: "Favorites" and "Shared by link"
### Why this should be added
This features are very useful. Especially with such scenarios:
- Very deep directory-subdirectory structure (3 and more subs).
- Very large amount

[2018-08-11 11:16] michaelstingl commented on #2276
@BDMN thanks for opening this issue!

[2018-08-13 15:43] jesmrec commented on #2276
Favorites is not developed yet as feature in mobile side. It is in our roadmap, and a shortcut will be included. Share links, you have a link in the bottom bar. We can discuss if including it in the drawer menu.

[2018-08-13 15:52] michaelstingl commented on #2276
Issue for Favorites: https://github.com/owncloud/android/issues/867

[2018-08-13 15:55] michaelstingl commented on #2276
@jesmrec in iOS. In Android there is no bottom bar.

[2018-08-13 16:26] jesmrec commented on #2276
you are right...

[2018-08-14 12:43] pixolex commented on #1534
One plus!

[2018-08-14 12:56] lefherz opened #2277 "App asks users to rate it with every new version"
### Actual behaviour
- After the app was upgraded, users are asked to rate it.

### Expected behaviour
- users who purchased the app on GooglePlay should be asked to rate it.
- everyone should only be asked once.

### Steps to reproduce
unfortunately I can't reproduce it myself, but users have reported that they are asked too often.

### Environment data (picking one of the more angry users)
Andro

[2018-08-14 14:55] zym88 commented on #2212
Same problem on Pixel running ownCloud 2.8.0 on Android 8.1.0. This happens both over 4G and my wifi with local server. If I click on "wait" the upload finishes.

[2018-08-14 15:43] jesmrec commented on #2124
i reproduced the problem by adding an URL to `setup.xml` file, building and installing the app / rebooting the device

Stracktrace when installing:

08-14 17:36:17.795 23260-23260/com.owncloud.android.debug E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.owncloud.android.debug, PID: 23260
    java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState
        at

[2018-08-15 00:37] bluesbro1982 opened #2279 "LDAP Auth fails on upload from Android client"
### Actual behaviour
When trying tou upload a large-ish file to owncloud from a Galaxy s9+ running Android 8.0, uploading appears to start, but hangs. Server side error message reads:

### Expected behaviour
Should let a file be uploaded

### Steps to reproduce
1.
2.
3.

Can this problem be reproduced with the official owncloud server?
(url: https://demo.owncloud.org, user: test, password: test)
N

[2018-08-15 16:05] sbourdette commented on #2249
I'm on Galasy S8 owncloud client 2.8.0.

I have the same behaviour as @michaelstingl screenshot.
Next I have a alert message saying Owncloud has crashed

[2018-08-16 09:55] jesmrec commented on #2277
we have to review these parameters:

https://github.com/owncloud/android/pull/2102#issuecomment-369931339

[2018-08-16 09:56] jesmrec commented on #2279
i will check if the behaviour is reprodicible and how LDAP affects. Thanks for reporting!!

[2018-08-16 20:25] vikene commented on #1980
@jesmrec  I would like to take this up 👍

[2018-08-17 06:25] jesmrec commented on #1980
@vikene if you want to work on it in order to fix, go ahead :)

[2018-08-17 16:43] voroyam opened #2280 "Error message stays after account is removed"
### Actual behaviour
-Error message **stays** after account is removed

### Expected behaviour
-Error message **disappears** after account is removed

### Steps to reproduce
1. Install newest ownCloud Android App
2. Connect to OC server 10.0.9 and sync
3. Receive an "Downloading...0%" because of errors you created.

[2018-08-22 17:57] roman65536 commented on #2249
On a Galaxy A5 (2016) had to put owncloud to unmonitored apps. Otherwise app monitor would stop owncloud on longer upload, consequently stopping uploading with 404 from server.

Now it works perfect, even on large (+100M) uploads.

[2018-08-23 07:38] jesmrec opened #2281 "Change orientation in welcome wizard"
### Steps to reproduce
1.  Install the app from scratch
2. When welcome wizard appears, change orientation

### Current behaviour

Welcome Wizard empty

### Expected behaviour

Maybe welcome wizard should only be available in portrait.

[2018-08-23 17:11] Patriack commented on #2124
Hi,
I have this issue at this moment. Have you made some progress?
Thank.

[2018-08-27 10:10] davigonz commented on #2212
@jesmrec can we reproduce this?

[2018-08-27 10:55] jesmrec commented on #2124
@Patriack it is in our minds to be fixed asap.

[2018-08-27 11:07] jesmrec opened #2283 "Android P"
Using this issue to report all stuff, comments and bugs related with Android 9 (P) to optimize oC app running over it.

Some documentation about migration to Android 9: https://developer.android.com/about/versions/pie/android-9.0-migration

[2018-08-27 11:10] jesmrec commented on #2212
i was not able to reproduce it. Maybe in the next beta, @insanebits @andreaslink-de or @jtvn can help us by sending logs to clarify where the problem is.

[2018-08-27 12:05] jesmrec commented on #2212
in the beta version we set as available a logs section in the Settings view. We will warn you here once it is released.

[2018-08-28 16:38] michaelstingl opened #2284 "User/group share: Show <shareWithAdditionalInfo> in autocompletion of shares"
oC users can have same displayname, only username or email is different:

![users_-_owncloud_enterprise_edition](https://user-images.githubusercontent.com/214010/44736144-bcb95100-aaee-11e8-83a4-35e4d9d97a6b.png)

This make sharing UI difficult, but oC server got a solution for this:

![settings_-_owncloud_enterprise_edition](https://user-images.githubusercontent.com/214010/44736170-d65a9880-aaee-

[2018-08-28 16:48] michaelstingl commented on #2284
@davigonz @jesmrec Is this something easy for the 2.8.0, or better schedule for 2.8.1 or 2.9.0 ?

[2018-08-28 17:01] jesmrec commented on #2284
i would add it to 2.10.0, so current milestone is pretty full.

[2018-08-28 17:18] Patriack commented on #2124
So,
I find a fix, but my issue come from firebase. I hope that can help you, but I not expect that so much.
The issue was caused by firebase, who's got an update who avoid to set an boot completed service. So my fix was ​​to not start the service for any android version up from marshmallow.

[2018-08-29 05:47] byTschus opened #2285 "Instant photo/video upload works only when the App is open."
The feature "Instant Upload" don't work. It uploads the pictures/videos when i open the App.

It should upload pictures/videos everytime i make a record. Not until I open the App.

### Environment data
Android version:
Android 8.0
Device model:
Huawei Mate 10 Pro
Stock or customized system:
EMUI 8
ownCloud app version:
2.8
ownCloud server version:
10.0.9

[2018-08-29 15:12] jesmrec commented on #2285
Feature instant upload does not exist anymore in the app. It was replaced by "Camera uploads", that are not instant, so you have to wait (in average) 15 minutes until job scheduler get the pics and upload them  to oC. The reason is that Android is cutting off background processes to save battery, so the processes we use (in background) to run to check if new pics/videos were taken can not be keep

[2018-08-29 15:17] jesmrec commented on #1809
@Fukurokudzu is this still reproducible?

[2018-08-29 15:18] jesmrec commented on #1716
issue moved to https://github.com/owncloud/android/issues/2284

[2018-08-29 15:18] #1716 closed

[2018-08-29 15:19] jesmrec commented on #1900
Already implemented and available from 2.7.0.

[2018-08-29 15:19] #1900 closed

[2018-08-29 15:21] jesmrec commented on #1823
@Spielmops is this still reproducible?

[2018-08-29 15:22] jesmrec commented on #1630
@MeiRos still reproducible?

[2018-08-29 15:23] jesmrec commented on #1585
@tallship is this still alive and reproducible?

[2018-08-29 15:25] jesmrec commented on #1512
Duplicated. Let's keep the newer one: https://github.com/owncloud/android/issues/1876

[2018-08-29 15:25] #1512 closed

[2018-08-29 16:29] MeiRos commented on #1630
Hi @jesmrec !
Can't test this anymore and unfortunately I can't remember if this was fixed. Anyway, the server was a disaster. My data got lost some time after I opened this thread, because of the hdd break. :| And after that I forgot the whole thing. I didn't want to build the server again on that vps. :)

[2018-08-29 16:36] jesmrec commented on #1630
ok, we can close this. If you think or remember to discuss about, feel free to reopen. thanks.

[2018-08-29 16:36] #1630 closed

[2018-08-29 19:10] Spielmops commented on #1823
I have an older version of owncloud and therefore I am using Owncloud-Client 1.9.1. That works. This next winter I will install Nextcloud on a new server.

Spielmops

[2018-08-29 19:10] #1823 closed

[2018-08-30 17:05] Haabster opened #2287 "InstantUpload and 2 accounts: upload to a random account"
### Actual behaviour
I have two accounts setup on my phone. This works great. I also have InstantUpload enabled, which works. Only when uploading my pictures and videos, the app does upload two a "random" account (probably the one I used last).

### Expected behaviour
Select the account to which InstantUpload should upload, so it always uploads to the same, desired account.

### Steps to reproduce

[2018-08-31 13:05] davigonz commented on #2070
@PVince81 how have you handled [this scenario](https://github.com/owncloud/android/pull/2236#issuecomment-417652094) in core? Is it possible to know the content of remote.php/dav/uploads/<user> via PROPFIND? If so, which webdav properties could we request?

[2018-08-31 13:26] PVince81 commented on #2070
in the web UI we use a transfer id based on the final file path and time stamp: https://github.com/owncloud/core/blob/v10.0.9/apps/files/js/file-upload.js#L45

[2018-09-03 06:36] jesmrec commented on #1963
@xavery92 still reproducible?

[2018-09-03 06:37] jesmrec commented on #1729
@atsag still reproducible?

[2018-09-03 06:39] jesmrec commented on #1316
@eribertomota still reproducible?

[2018-09-03 06:58] davigonz commented on #2070
It makes sense, I will follow that path, thanks!

[2018-09-05 14:33] #1727 closed

[2018-09-05 15:28] #2219 closed

[2018-09-05 16:20] davigonz opened #2289 "[2.9.0 beta v1] Release new beta version"
### TASKS:
 - [x] [COORDINATION] Get in touch with community/marketing team to publish a blog post, several days before releasing.
 - [x] [DEV] Use **replace_network_library** branch and:
         - Update version code and name in build.gradle.
         - Update changelog file (< 500 chars)
 - [x] [QA] Perform some tests @jesmrec
 - [x] [GIT] Create and sign tag `oc-android-2.9.0-beta.1` in `HEAD`

[2018-09-06 06:44] davigonz opened #2291 "[2.9.0] New release"
### TASKS
- [ ] [WIZARD] Create new steps with important features included in 2.9.0 https://github.com/owncloud/android/issues/2244
 - [ ] [COORDINATION] Ping community guys to publish a blog post, at least one week before releasing.
 - [ ] [GIT] Create branch release_0.9.21 in owncloud/android-library from master, if needed
 - [ ] [GIT] Create branch release_2.9.0 in owncloud/android from master

[2018-09-06 06:46] #2089 closed

[2018-09-09 19:46] atsag commented on #1729
@jesmrec @davigonz  Sorry for the delay - no, the bug was fixed right after the #1765 changes.

[2018-09-09 19:46] #1729 closed

[2018-09-11 14:08] davigonz commented on #2281
Can you please include the device in which you have noticed this? I have seen the welcome wizard in other devices in landscape mode, in tablets for example, and it works as expected.

[2018-09-11 14:12] davigonz commented on #2287
Hi @Haabster, thanks for reporting this, camera uploads for each account is not implemented yet so the behaviour you describe is what we expect taking into account the current implementation.

Anyway, we will implement this in the future, not sure exactly when, but is in our mind.

[2018-09-11 14:15] jesmrec commented on #2281
Nexus 5X v8.1

[2018-09-11 16:42] davigonz commented on #2289
@jesmrec versionCode, versionName and changelog updated, time for a tiny QA round

[2018-09-12 06:39] jesmrec commented on #2289
Some test will be executed:

- [ ] Upgrade version from 2.8.0
- [ ] Add several accounts
- [ ] Download files
- [ ] Upload files
- [ ] Share content
- [ ] Passcode, pattern and fingerprint lock

[2018-09-12 06:40] jesmrec commented on #2289
### (1)

1. Install 2.8.0
2. Upgrade to 2.9.0 beta1

Current: app crashes
Expected: regular behaviour after upgrading

Nexus 6P v7

[2018-09-12 07:36] jesmrec opened #2292 "Commit hash in settings"
Including the commit hash in the settings, near to the version number would be very useful in terms of testing, so you know exactly which the installed version is.

This is something already available in both ios and ios-neo apps.

[2018-09-12 09:04] davigonz commented on #2289
@jesmrec first bug fixed

[2018-09-12 11:14] jesmrec commented on #2289
Smoke test finished, we can move forward the beta @davigonz

[2018-09-12 11:21] jesmrec opened #2293 "Pattern lock asked very often after disabling fingerprint lock"
Steps to reproduce

1. Enable pattern lock & fingerprint
2. Close the app and open it again, in order to be asked the fingerprint
3. Enter correct finger to unlock the app
4. Go to Settings and disable fingerprint, keeping pattern lock enabled

Current: If you open again the settings view, or go back to the file list, or download a file and go back (maybe more actions), the pattern lock is always

[2018-09-13 10:14] jesmrec commented on #2253
@cdutsov networking library was replaced and it is available in beta version, if you want to have a look.

[2018-09-13 10:15] jesmrec commented on #2212
@andreaslink-de 2.9.0-beta1 is already available in Play Store.

[2018-09-13 14:15] andreaslink-de commented on #2212
Pretty cool @jesmrec I still can only see 2.8.0, how can I access/find the beta?

[2018-09-13 14:57] michaelstingl commented on #2212
@andreaslink-de you can check here:
https://central.owncloud.org/t/owncloud-2-9-beta-app-for-android-released/15549

[2018-09-15 08:49] thommierother opened #2294 "2.9: can not select different target folder for automatic picture uploads"
### Actual behaviour
Default setting uses /CameraUpload and /Video for automatic uploads from mobile devices. It is not possible to select a different sub-folder which already exists on the OC account and save this setting (e.g./Pictures/[Devicename])

### Expected behaviour
Selection of any folder as target for automatic uploads from Android device

### Steps to reproduce
1. click on "path for ca

[2018-09-16 18:42] andreaslink-de commented on #2212
Ok, thanks, I found it, installed it and used it for some days now, but nothing changed of all my former errors, which is disappointing. So I still have the same issue, as initially mentioned here in the thread.

[2018-09-17 09:48] michaelstingl opened #2295 "Respect default user and group share permissions from server settings"
### Steps to reproduce
1. Set Server Snyc Settings to only allow Sharing
![image](https://user-images.githubusercontent.com/24212810/45425918-f9fb1280-b69a-11e8-81c7-78aa051e49f9.png)

2. Sync Client respects this settings
3. Mobile Client do not respect these settings

### Expected behaviour
Mobile Clients settings should reflect the server settings

Related: https://github.com/owncloud/enterpris

[2018-09-17 15:14] voroyam opened #2296 "Change Password is buggy"
### Steps to reproduce
1. Setup oC 10.0.9 + android App 2.8.0
2. Connect user1 to ownCloud on android device
3. Change password as the user1 or as the admin

### Expected behavior
Connection on the android device should be lost

User should be advised to edit his account settings.

### Actual behaviour
User can upload, navigate, download files.

deleting the session as user1 on the web UI does not

[2018-09-17 15:39] #2296 closed

[2018-09-18 13:08] fmkaiser commented on #2124
@davigonz As discussed here is one of the traces from our branded clients

[code]

<img width="737" alt="screenshot_20180918_144045" src="https://user-images.githubusercontent.com/2922101/45688159-ed6e3280-bb50-11e8-9fc3-e31bc7c8c779.png">

<img width="740" alt="screenshot_20180918_144331" src="https://user-images.githubusercontent.com/2922101/45688291-45a53480-bb51-11e8-82eb-8c08497d6e67.png">

A

[2018-09-24 06:36] jesmrec commented on #2212
could you point us the logs? you will find them in `Settings`. The idea would be: first cleaning the logs, then reproduce the problem, and then, ship us them to `apps@owncloud.com`. Thanks @andreaslink-de !

[2018-09-24 09:01] jesmrec commented on #2289
Reported issue: https://github.com/owncloud/android/issues/2294

Not reproducible in my side, because with Samsung Galaxy Edge (Android 7), changing folder leads to a crash.

[2018-09-26 12:12] davigonz commented on #2289
F-Droid PR to include this beta is already merged so it should be available soon.

[2018-09-26 15:53] rexbron opened #2297 "Don"
### Actual behaviour
-Tell us what happens

### Expected behaviour
-Tell us what should happen

### Steps to reproduce
1.
2.
3.

Can this problem be reproduced with the official owncloud server?
(url: https://demo.owncloud.org, user: test, password: test)

### Environment data
Android version:

Device model:

Stock or customized system:

ownCloud app version:

ownCloud server version:

### Logs
##

[2018-09-28 07:39] guettli commented on #10
One work-around: AFAIK  you can use the nextcloud android app and connect it to an owncloud server.

[2018-09-30 13:53] sd1998 commented on #2293
@jesmrec Yes, I will look into it.

[2018-10-01 07:29] stupidly-logical commented on #2297
I am looking into this.

[2018-10-01 12:37] stupidly-logical opened #2299 "Buld failed - Android Studio"
### Actual behaviour
-Build fails with message : Failed to find byte code for android/hardware/fingerprint/FingerprintManager$AuthenticationCallback

### Expected behaviour
-Build must be successful and should install apk on connected device

### Steps to reproduce
1.
2.
3.

Can this problem be reproduced with the official owncloud server?
(url: https://demo.owncloud.org, user: test, password: tes

[2018-10-01 12:54] davigonz commented on #695
Reopening this, since searching using the API is still pending.

[2018-10-01 13:07] davigonz commented on #2299
Hi @stupidly-logical , thanks for reporting this, please try to disable Instant run by going into Preferences > Build, Execution, Deployment > Instant Run and disable it.

[2018-10-01 13:28] mbode28 opened #2300 "Adapt the sharee searching to the capability "min number of characters to search""
### Actual behaviour
When typing a user name to share an item with, no user is found, if username is shorter than 4 characters

### Expected behaviour
After typing a couple of characters of the user name, a selection of matching user names should be displayed like it is in the web frontend or the KDE client.

### Steps to reproduce
1. Select a file in owncloud app (long press)
2. tap sharing icon

[2018-10-01 14:13] michaelstingl commented on #2300
@mbode28 minimum required characters can be configured on the server:
https://github.com/owncloud/core/blob/v10.0.10/config/config.sample.php#L282-L290

Please check if this fixes your problem.

[2018-10-01 14:30] mbode28 commented on #2300
This setting makes no difference in the android app. It make a difference
in the web frontend though.

Am Mo., 1. Okt. 2018 um 16:14 Uhr schrieb Michael Stingl <
notifications@github.com>:

[2018-10-01 14:33] michaelstingl commented on #2300
@davigonz @jesmrec Could you have a look?

[2018-10-01 14:46] jesmrec commented on #2300
we changed this behaviour time ago to avoid a request flooding that makes servers with a huge number of users to run very very slow while sharees are being searched.

A "workaround" is  typing a blank space after the two characters.

[2018-10-01 16:29] mbode28 commented on #2300
The trick with the spaces doesn't work for me. But I found another one:
changed the full name of the user to something longer than the username and
then enter the full name.

For me that's ok. You may close the bug.

Thanks for your very fast help.

Jesús Recio Rincón <notifications@github.com> schrieb am Mo., 1. Okt. 2018,
16:47:

[2018-10-01 17:31] stupidly-logical commented on #2299
Thanks. It worked. Closing.

[2018-10-01 17:31] #2299 closed

[2018-10-01 19:10] sd1998 commented on #2292
@jesmrec I would like to work on this.

[2018-10-02 06:16] jesmrec commented on #2297
@stupidly-logical ok, also you can contribute in other stuff labelled as `Contributions are welcome` or `good first issue`. The current one is not an easy one (some implications to face), but if you are confident yourself, go ahead!

[2018-10-02 06:17] jesmrec commented on #2300
the trick works by completing till 4 characters, in your case the username has 2 characters, so you need 2 blanks. But it is cool your solution as well. Thanks for reporting, if you need something else related with the issue, please reopen.

[2018-10-02 06:36] sd1998 commented on #2292
@jesmrec Here the commit hash is the Github commit hash? And that has to bee added near the version no. on the android app. But the hash would keep on changing as and when more commits will be made so how will the hash get updated in the app?

[2018-10-02 06:49] sd1998 commented on #1911
@jesmrec What are the different sorting criteria's should I use? For ex:- newest first, older first etc.

[2018-10-02 06:53] jesmrec commented on #2292
yes, this is the github commit hash. The hash commit goes together with the installed version. So, when you install a new version, the commit is updated to the new one (only in this case afaik). The commit should be added in building time.

[2018-10-02 06:55] jesmrec commented on #1911
the same in the file list, if it is posible. Have a look at the option in three-dot-button menu.

[2018-10-02 07:52] jesmrec commented on #2294
thanks for reporting, we will have a look!

[2018-10-02 08:37] thommierother commented on #2294
Hi Jesus,
I think we talked about that shortly, 2 wks ago in Nuremberg, I don't remember if that was you ;-) If you need additional info or have something to test, drop me a note

[2018-10-02 09:11] davigonz commented on #1911
Just updated the name of this issue to avoid misunderstandings. So the files here should appear sorted by newest first at least. Additionally, more sorting options could be included.

[2018-10-02 11:36] jesmrec opened #2302 "Log in button only enabled when credentials are typed"
Currently, the login button is enabled in the momento the URL is typed. The point is that we can avoid error messages like this one:

![oct-02-2018 13-34-30](https://user-images.githubusercontent.com/14894746/46346324-f0d0e600-c647-11e8-92d8-95d8f1069477.gif)

only is enabled in the moment both username and password are not empty, for basic auth. Other auth methods (OAuth2, saml) enables the butto

[2018-10-02 12:09] michaelstingl commented on #2300
Capabilities could be read from the server:
`OC.getCapabilities().files_sharing.search_min_length`

or as XML
[code]

[2018-10-02 13:09] jesmrec commented on #2300
so we can adapt the apps to the capability. reopening...

[2018-10-02 14:34] #2289 closed

[2018-10-02 14:47] davigonz commented on #2294
Hi @thommierother , yes, we talked about this shortly in Nuremberg 😊. I don't get exactly what you mean, the behaviour you expect is **Selection of any folder as target for automatic uploads from Android device** and that is already possible, have a look at the next gif.

![oct-02-2018 16-41-13](https://user-images.githubusercontent.com/15261363/46356207-8d07e680-c662-11e8-881c-a2c767c5832a.gif)

[2018-10-02 14:49] davigonz commented on #2294
Anyway, there's a bug in 2.9 beta which makes the app crash when selecting the target folder for camera uploads.

[2018-10-02 15:12] thommierother commented on #2294
ok, it was that crash I see on my device too. I will wait for the final

[2018-10-03 07:35] jesmrec opened #2303 "Warn users to select the correct camera folder (camera uploads)"
We have noticed that some users get confused with the "Camera folder" field of camera upload's settings. An incorrect selection in this field makes camera uploads not to work.

The idea is warning the users to select the correct camera folder (folder in which the camera stores the pics and videos) when the feature is enabled (either pics or videos). An alert should be enough.

Considerations:

- S

[2018-10-03 08:12] davigonz opened #2304 "Available offline feature stops working after rebooting in Android 8 and above"
### Actual behaviour
- Available offline files are not automatically uploaded after being edited.

### Expected behaviour
- Available offline files are automatically uploaded after editing them.

### Steps to reproduce
1. Set a file, .txt for example, as available offline and wait till is properly synchronized.
2. Reboot the device.
3. Edit the file and save it.

Can this problem be reproduced wit

[2018-10-03 08:18] davigonz commented on #2304
Just as I suspected in [here](https://github.com/owncloud/android/issues/2124#issuecomment-371083397) , available offline is not working properly with Android 8 because of https://github.com/owncloud/android/issues/2124.

[2018-10-04 13:54] sd1998 commented on #1987
@jesmrec In this case the part of the URL to the right side of the '/' should also be converted to lowercase?

[2018-10-05 01:57] yang511 opened #2308 "Android source code can not build"
Android source code can not build
Because owncloud-android-library is empty folder
It's free open source or paid source?
Please let me know
Thanks

[2018-10-05 01:58] yang511 commented on #2308
http://prntscr.com/l2csj4
It's screenshot of android project
owncloud-android-library folder is empty

[2018-10-05 02:08] yang511 commented on #2308
http://prntscr.com/l2cv2f

[2018-10-05 06:37] jesmrec commented on #1987
yes, it is.

[2018-10-05 07:56] sd1998 commented on #1987
@jesmrec I don't think that the link after '/' is being converted to lower case. [link](https://github.com/owncloud/android/blob/master/src/com/owncloud/android/authentication/AuthenticatorActivity.java#L1319)

[2018-10-05 11:14] jesmrec commented on #2055
i'd use UUID notation (as in new iOS app) for each request (32 hexadecimal digits: 8 + 4 + 4 + 4 + 12). I think it is a bit cleaner than using any character and any length between 20 and 200.

For logs in debug, including the id + method is enough info from my pov to debug-track issues

[2018-10-05 11:16] #2293 closed

[2018-10-05 11:33] jesmrec commented on #1987
do not seem to. The point is that URL validation fails if it is not.

[2018-10-06 03:47] yang511 commented on #2308
Sorry, I was solved all issue
Thanks

[2018-10-06 03:47] #2308 closed

[2018-10-07 12:18] sd1998 commented on #2302
@jesmrec I would like to work on this.

[2018-10-08 08:35] sciurius opened #2310 "Existing image files clutter logfile"
I have a vast amount of pictures in the storage/emulated/0/DCIM/Camera/ folder.

For each of them, a log entry (3 lines) is written every couple of minutes.
This quickly fills the log file, and makes it hard to spot other problems.

[2018-10-08 09:03] sciurius opened #2311 "Error moving to final directory"
Since some time I cannot download files anymore. The logfile shows "Error moving to final directory".

### Steps to reproduce
This happens with every file I try to download.

### Environment data
Android version: 8.0

Device model: Samsung A320-FL

Stock or customized system: Stock

Also on: Samsung NT-8010 with Android 7.1 (LineageOS 14.1).
Also on: ASUS Zenpad Z300M with Android 7.0.

ownCloud a

[2018-10-08 11:13] sciurius commented on #2310
Yes, exactly. Thanks for looking into this!

[2018-10-08 11:29] davigonz commented on #2311
Hi @sciurius , we have noticed a similar behaviour in https://github.com/owncloud/android/pull/2236#issuecomment-427785126 and we are currently working on fixing it, it should work properly in 2.9 final version, stay tuned.

[2018-10-09 08:10] jesmrec commented on #2311
Already fixed. It will be available in next version.

[2018-10-09 13:51] davigonz opened #2312 "[2.9.0] Wizard, include coming features"
A new version of the app is getting closer, so let's see how we let our users know about the new features.

**Features to include:**

1. Search in current folder.
2. Select all and select inverse.
3. Available offline with jobs (15 minutes)

[2018-10-09 14:00] #2180 closed

[2018-10-09 14:02] davigonz commented on #2180
To be released in 2.9

[2018-10-09 14:03] davigonz commented on #2095
@jesmrec I guess this is already fixed

[2018-10-09 14:31] davigonz opened #2313 "[2.9.0 beta v2] Release new beta version"
### TASKS:
 - [x] [COORDINATION] Get in touch with community/marketing team to publish a blog post, several days before releasing.
 - [x] [DEV] Use **fix/av_offline_jobs** branch and:
         - Update version code and name in build.gradle.
         - Update changelog file (< 500 chars)
 - [x] [QA] Perform some tests @davigonz
    - Install `2.9.0-beta1` or `2.8.0 `
    - Add a couple of accounts

[2018-10-09 14:41] jesmrec commented on #2095
yes, with the new library does not happen any more. If it'd happen, we will reopen. Closing...

[2018-10-09 14:41] #2095 closed

[2018-10-10 16:25] jesmrec opened #2315 "Av. offline files are neither uploaded nor conflicted"
Steps:

1.- Set a folder with txt files as av. offline
2.- Open a txt file with an external editor, modify it, and save it

### Actual behaviour
It is available offline and should be pushed to the server

### Expected behaviour
It is set as conflicted and it is not pushed. Conflict dialog does not appear

Android 8.1

[2018-10-11 02:36] daylightsports opened #2316 "Pause manual upload when wifi is off."
### Actual behaviour
-Manual upload does not pause when wifi is disconnected or turned off. There is no option to change this behaviour. This is different to auto-upload, which does have wifi/charging option.

### Expected behaviour
-We need an option to pause upload when wifi is off.

### Environment data
Android version: 9

Device model: pixel 2 xl

Stock or customized system:stock

ownCloud app

[2018-10-11 12:04] jesmrec commented on #2312
In the 2. slide, i'd change `Select many files at once` for `Select all files at once`

apart of that, perfect and awesome :)

[2018-10-12 16:55] funthomasz commented on #2281
Hello, I´ve installed the app and I´m also having this issue on Galaxy S8 with 8.0 Oreo.
Can I work on this?

[2018-10-13 08:59] madchap commented on #695
Hi,

Not sure this fits in there, yet it would be great to be able to filter/search on collaborative tags as well.

Thanks.

[2018-10-15 07:12] davigonz commented on #2281
Can I work on this?

Sure, go for it! If you have any blocker, ping us 😉

[2018-10-15 11:54] davigonz commented on #2124
Hi @AqwelF, @Patriack and @fmkaiser , we have just released ownCloud `2.9 beta 2` for Android in PlayStore, can you please try it and tell us if the problem is still present? Thanks

[2018-10-15 11:55] davigonz commented on #2294
Hi @thommierother , we have just released ownCloud `2.9 beta 2` for Android in PlayStore, can you please try it out and tell us if the crash is still present? Thanks

[2018-10-15 11:56] davigonz commented on #2311
Hi @sciurius,  we have just released ownCloud 2.9 beta 2 for Android in PlayStore, can you please try it out and tell us if the downloads are working for you again? Thanks

[2018-10-15 12:08] sd1998 commented on #2281
@jesmrec @davigonz  @funthomasz This bug also exists on Samsung Galaxy S9+ with 8.0 Oreo.

[2018-10-15 12:12] PVince81 commented on #2124
I usually had a single crash when booting the phone. With this new version I did not see a crash.

[2018-10-15 12:17] sciurius commented on #2311
Confirmed, thanks!

[2018-10-15 12:18] davigonz commented on #2124
Yes, that's one of the crashes we have fixed, glad to hear that, thanks for testing it 😊

[2018-10-15 12:20] davigonz commented on #2311
Glad to hear that, I will close this, please if you see something weird , open a new issue. Thanks for testing it!

[2018-10-15 12:20] #2311 closed

[2018-10-15 14:27] fmkaiser commented on #2124
I can also confirm that the crash after booting the phone is gone on my Xperia X Compact with Android 8.0 in 2.9b2.

Looking forward to the final release of the branded version. Subjectively, we had those crashes there a lot more often than with the vanilla version. I don't suppose there is a beta for that as well?

[2018-10-16 13:44] davigonz commented on #2294
Glad to hear that, since this issue is only about the problem when selecting the camera uploads folder and is already fixed, I'm going to close it, if you detect any other weird behaviour in camera uploads, please open a new issue or have a look at the issues already opened with the label `sync::camera_uploads`. Thanks!

[2018-10-16 13:44] #2294 closed

[2018-10-16 13:54] davigonz commented on #2124
We have fixed the crash related to the first log you reported in https://github.com/owncloud/android/issues/2124#issuecomment-422386177 , which is the most frequent in your crashes reports and what this issue is about.

Regarding the second one, it might be triggered because of some kind of error when removing ownCloud files from an external app, could you collect some steps to reproduce and open

[2018-10-17 07:58] #2313 closed

[2018-10-17 08:20] funthomasz commented on #2281
OK, I will try to solve this and test it both on a tablet and a phone.

[2018-10-17 18:26] alexanderbruns opened #2319 "Open xls-files or doc-files with Docs to Go"
### Actual behaviour
- I open a file with owncloud-client and it is opened in "Doc to Go". I have an non-root device Samsung Galaxy S7 with Android 8. When I want to safe the file, it is locally safed to a folder. It is not sofed to a folder of owncloud so the file in owncloud is not uploaded and updated.

### Expected behaviour
-I want to open the file in "Doc to Go" and then the changes should b

[2018-10-18 13:00] davigonz commented on #2319
Hi @alexanderbruns , what you describe here is the **available offline** feature and is already implemented, can you try the same steps after setting that file as available offline, is the next option to download file and you will see the next icon after pressing it.

<img src="https://user-images.githubusercontent.com/15261363/47155988-5bd81900-d2e6-11e8-8289-052f79f09d4f.png" width=50%>

[2018-10-18 13:05] davigonz commented on #2316
Do you mean that the upload keeps running using your cellular data once there's no wifi connection?

[2018-10-19 07:53] davigonz commented on #2319
This is the point, the files to synchronize should be in the ownCloud folder, the changes can not be automatically recognized by the ownCloud Android app if you save the files in any folder in internal storage.

[2018-10-20 02:39] dormitionskete commented on #1987
I'd like to add my two cents worth, if you don't mind, please.

I don't think you should be converting the URL's to upper or lower case.  I just noticed a problem has cropped up on our WebStores for what appears to be Android users.

Their devices seem to be converting their entire URL's to lower case.  This is causing problems for our Android users to access any of our pages that use parameters,

[2018-10-21 21:31] alexanderbruns commented on #2319
But the folder in that owncloud temporary downloads the file for opening by Docs to go is not readeable by Docs to go on a non-root device. In my old Phone runnin cyanogenmod that was no problem. But on a stock-rom it is no longer possible for me to open files downloaded temp by owncloud-client with docs to go to edit and safe back to owncloudclient automatic upload.

In Dropbox this is no problem

[2018-10-21 21:51] daylightsports commented on #2316
Yes that's what happened.
Tim

On 19 October 2018 00:06:42 David González Verdugo
<notifications@github.com> wrote:

[2018-10-22 07:28] jesmrec opened #2321 "Private share crashes"
### Steps to reproduce
1. Install the app
2. Create a private share

### Actual behaviour
App crashes. When app restarts, there is an authentication error and user needs to enter credentials again

### Expected behaviour
Private link created and life goes on

Reproducible in `master` branch (2.9.0-beta2)
Not reproducible in 2.8.0

[2018-10-22 09:55] jesmrec opened #2322 "App crashes creating private link"
### Steps to reproduce
1. Install the app
2. Create a private share

### Actual behaviour
App crashes. When app restarts, there is an authentication error and user needs to enter credentials again

### Expected behaviour
Private link created and life goes on

Reproducible in `master` branch (2.9.0-beta2)
Not reproducible in 2.8.0

[2018-10-22 12:34] davigonz commented on #2321
Duplicated of #2323

[2018-10-22 12:34] #2321 closed

[2018-10-22 12:43] #2055 closed

[2018-10-22 13:02] PVince81 commented on #2322
it seems the private link was created already, it just did not appear in the app.

[2018-10-23 16:32] davigonz commented on #2304
I've taken advantage of this issue to improve the behaviour when solving available offline conflicts in background synchronization. Instead of showing an intrusive dialog that could interrupt the user when using any other app, a notification will appear, showing the dialog after tapping it.

[2018-10-24 09:15] jesmrec commented on #2322
Fixed. Will be released in 2.9.0

[2018-10-24 15:20] #2322 closed

[2018-10-25 04:56] hannesa2 commented on #2044
Let's see how it is going in https://github.com/owncloud/android-library to see if a continue makes sense here

[2018-10-25 12:04] davigonz opened #2327 "Android Studio 3.2.1 + Gradle update"
As @hannesa2 mentions in https://github.com/owncloud/android-library/pull/198 , Android Studio 3.2.1 is suggesting some changes in dependencies and we could update the Gradle version as well.

[2018-10-25 12:25] #2315 closed, assigned to davigonz

[2018-10-25 12:37] #2304 closed

[2018-10-25 12:48] jesmrec commented on #2124
To be released in 2.9.0.

Thanks all for your contributions here. Hoping for your feedback once the version is out there.

[2018-10-25 13:00] davigonz commented on #2241
Implementation of available offline with Android jobs is already merged and will be released in 2.9 so  the local files will be checked every 15 minutes and automatically uploaded if there's any change, even with the app closed.

[2018-10-26 07:46] #1911 closed

[2018-10-27 14:40] MegaBrutal commented on #2249
I have a problem with Camera uploads which I've not seen mentioned here. My Camera uploads feature only works sporadically. I noticed it is connected to how much free space I have on the device. Since I'm always in a low space condition with my device, Camera uploads usually doesn't work. But when I occasionally manage to free up a larger amount of storage space, ownCloud starts to upload all the

[2018-10-27 21:01] #1966 closed

[2018-10-27 21:05] #1934 closed

[2018-10-27 21:07] #1848 closed

[2018-10-27 21:09] #1822 closed

[2018-10-27 21:11] #1800 closed

[2018-10-27 21:13] #1585 closed

[2018-10-27 21:29] michaelstingl commented on #1064
I don't really see a use case for this. Maybe someone(tm) can explain?

[2018-10-27 21:44] michaelstingl commented on #1026
Seems BPG failed in getting the traction it needs and HEIF won the race to replace JPEG. (support in Android P, iOS 11, Win 10 1803+…)

[2018-10-27 21:44] #1026 closed

[2018-10-27 21:54] michaelstingl commented on #242
no longer relevant with https://github.com/owncloud/android/issues/1890

[2018-10-27 21:54] #242 closed

[2018-10-27 22:08] michaelstingl commented on #58
Scope and title of this issue is "Sync Contacts, Calendar …". Sadly this never made it to the ownCloud client, and the roadmap is full with ideas to improve file sync and share. We added the recommendation to use [davdroid](https://www.davdroid.com/) to the settings screen with https://github.com/owncloud/android/commit/5cc53641413d2e367972de0e766c4c2bddcbb1e0 .

Please discuss credential sharing

[2018-10-27 22:08] #58 closed

[2018-10-28 20:19] madmaxoft opened #2328 "Instant upload: manual start"
Since the Instant Upload sometimes takes hours (really!) to notice a new photo / video file, it would be great to have the option to "force a check for new files & upload now".

### Environment data
Android version: 6.0
Device model: LG G4 (LG-H815)
Stock or customized system: Stock Android 6.0
ownCloud app version: 2.9.0-beta.2, 2.8.0, has been a problem earlier, too
ownCloud server version: Not

[2018-10-29 07:43] davigonz commented on #2249
Hi @MegaBrutal , thanks for the information, I have a couple of questions:

1. Are you waiting 15 minutes to have your pictures uploaded? Maybe is not a problem with the free storage space and all the pictures are uploaded after waiting a certain amount of time.

2. Do you see any error when there's no enough storage space? I mean, within the camera upload notifications, or are they not even trigg

[2018-10-29 11:11] jesmrec commented on #2328
Thanks for your suggestion!! we will study it.

[2018-10-29 13:37] #2247 closed

[2018-10-29 14:29] sd1998 opened #2329 "Re-enter password while creating share link"
### Actual behaviour
The password option in the create share link options request the user to enter the password once.

### Expected behaviour
The user should be asked to re-enter the password while creating the share link which happens in case of setting a pattern lock or passcode lock on the app.

### Steps to reproduce
1. Select a file or a directory
2. Select the share option from the toolbar

[2018-10-29 15:45] MegaBrutal commented on #2249
Hi @davigonz,

1. I waited several weeks/months with the application open in the background. (I suppose I don't have to keep it in the foreground for 15 minutes.)
2. The ownCloud app doesn't show me any notifications about storage space. Android sometimes shows me low space warning (with suggestion to run the cleanup tool), but now with ~504 MB free space, I don't have that warning. I only get tha

[2018-10-29 20:42] funthomasz commented on #2281
OK guys, solved it, now when you turn the device, the wizard doesn´t disappear and stays at the same screen. I have tested it and it works fine on both phones and tablets. I have also created a pull request.

[2018-10-30 13:48] davigonz commented on #2281
Great @funthomasz , thank you so much!!

[2018-10-31 10:14] jesmrec commented on #2291
### (3)

1. Remove connection from device
2. Share a file or folder with a user

Current: no error message about lack of connection
Expected: error message (in 2.8.0 was displayed in a Toast)

Nexus 6P v7 server 10.0.10

[2018-10-31 11:47] jesmrec commented on #2291
### (4)

1. Open Settings view
2. Enable Picture or video uploads
3. Tap on Picture/video upload path

Current: `Cancel` button with incorrect label
Expected: Correct label in `Cancel` button

Nexus 6P v7 server 10.0.10

[2018-10-31 13:02] jesmrec commented on #2291
### (5)

1. Copy text from an app out of ownCloud (browser, text editor...)
2. Share the copied text with oC (no matter the account and the target folder)
3. Enter a file name

Current: file is not uploaded to oC
Expected: file is uploaded to oC

Nexus 6P v7 server 10.0.10

[2018-10-31 14:25] jesmrec commented on #2291
### (6)

1. Open a 3rd party app with Document Provider integration
2. Check that oC accounts are correctly there
3. Do any modification in the accounts (remove one, add another one...)
4. Check again the Document Provider account list

Current: Same accounts in 2.. To refresh, it is necesary to reboot the device
Expected: Hot updates(?)

Nexus 6P v7 server 10.0.10

[2018-10-31 16:42] jesmrec commented on #2291
### (7)

1. User A shares a folder with user B, with no edit permissions
2. User B uploads a file to the shared folder

Current: Content is uploaded, is shown during a while in the file list, and then is deleted. Upload is successful in uploads view

Expected: Failed upload due to a lack of permissions

NOTE: delete and change operations work as expected (error correct)

Nexus 6P v7 server 10.0.10

[2018-11-02 12:09] davigonz commented on #2291
[Document provider account manager](https://github.com/owncloud/android/issues/2291#issuecomment-434707232) was not properly working in <= 2.8 either so is not a regression bug and is not going to be fixed here, we could open a ticket with all the left work for document provider.

CC / @jesmrec

[2018-11-02 13:17] davigonz commented on #2070
With the next scenario:

1. **User A** shares a folder with **user B**, with no edit permissions
2. **User B** uploads a file to the shared folder

@PVince81 how do you know this is forbidden with the new endpoint? Because I've noticed that with the old chunking endpoint you get an error when trying to upload the first chunk to the final destination while with the new endpoint, since the chunks ar

[2018-11-02 13:55] PVince81 commented on #2070
A 500 error is likely a bug, please report in core with the matching curl requests for the chunk upload (unless easily reproducible in web UI and cheating the permissions)

Currently the expectation is that the final MOVE tells you whether the operation can be done or not. There is no way to check this upfront because the final destination path is only known during the final MOVE. So expect a 403

[2018-11-03 16:37] sd1998 commented on #2211
@jesmrec Could you tell me what is required in this?

[2018-11-03 16:42] sd1998 commented on #2006
@jesmrec I would like to work on this.

[2018-11-04 05:18] sd1998 opened #2335 "Batched deletions"
### Actual behaviour
When selecting multiple files as deleting each file is deleted individually due to which the snackbar message is shown multiple times(it is shown after each file has been deleted).

### Expected behaviour
The files should be deleted in batches  or the message should be shown once after all the selected files have been deleted

### Steps to reproduce
1. Select multiple files
2.

[2018-11-05 07:44] jesmrec commented on #2335
Agreed. This is an interesting improvement.

[2018-11-05 07:46] davigonz commented on #2291
[Upload file to a banned folder ](https://github.com/owncloud/android/issues/2291#issuecomment-434760233) bug is server related so is not going to be fixed for this release, have a look at https://github.com/owncloud/android/issues/2070#issuecomment-435377083, I will open a new issue in core with the details.

[2018-11-05 09:31] davigonz commented on #2070
@PVince81 I have already opened an issue (https://github.com/owncloud/core/issues/33416) and noticed that web UI shows the error `You don't have permission to upload or create files here` even before starting the upload and the progress is not shown either, how is that possible if as you said, there's no way to check this upfront because the final destination path is only known during the final `M

[2018-11-05 11:01] PVince81 commented on #2070
@davigonz this might be because the file list reads the "oc:permissions" of the current folder to determine whether read-only or not, so it does not even start the upload.

You can likely cheat this way:
1. open two browsers A and B
1. in A, create "test" and share with another user user2
1. in B, login as user2
1. see that "test" is writable, navigate into it
1. now in A, remove the "edit" permis

[2018-11-05 11:14] jesmrec commented on #2291
### (8)

1. Start to download a file in the app (a big one is better to reproduce)
2. Minimize the app
3. Before the download finishes, switch the connection off
4. Wait some minutes
5. Switch connection on

Current: app crashes
Expected: download is resumed

Nexus 5X v8.1 server 10.0.10

[2018-11-05 12:28] jesmrec commented on #2238
Documentation issue, moved to ongoing 2.9.0 https://github.com/owncloud/android/issues/2291

CC @settermjd

[2018-11-05 12:28] #2238 closed

[2018-11-05 13:03] davigonz commented on #2335
This would be great @sd1998, thanks for the suggestion

[2018-11-05 13:21] davigonz commented on #2070
@PVince81 I managed to reproduce it in the same browser as well, as you can see in the [gif attached](https://user-images.githubusercontent.com/15261363/47989243-bb0a9b80-e0e4-11e8-970f-f27936bded41.gif) in the core issue I created, I was just curious about that error message. Thanks for the explanation!

[2018-11-06 09:31] jesmrec commented on #2291
All stuff fixed, we will deal with two additional issues:

- Document provider will be improved. I will create a new issue about
- Problem in server side regarding chunked uploads: https://github.com/owncloud/core/issues/33416

Ready for the markets

[2018-11-06 09:36] jesmrec commented on #2273
It will be included in 2.9.0

[2018-11-06 09:51] jesmrec opened #2336 "Document Provider improvements"
Stuff to improve in document provider:

- **Account management**: accounts are not hot-refreshed. Adding an account, removing an account, or edit one account only works in case of a device reboot. Check for more details:

https://github.com/owncloud/android/issues/2291#issuecomment-434707232

- **Save changes/new files**: right now is only posible to open existing files in oC. Modify these files a

[2018-11-06 11:35] jesmrec commented on #2211
i guess that higher-size fonts in login view. @theScrabi could you clarify/confirm?

[2018-11-06 17:14] davigonz commented on #2291
@settermjd can you take care of the documentation for ownCloud 2.8 and 2.9 for Android? Here you have the topics in central with more information about the features included:

- 2.8.0 => https://central.owncloud.org/t/owncloud-android-app-2-8-0-released/
- 2.9.0 => https://central.owncloud.org/t/owncloud-2-9-for-android-released/16634/2

[2018-11-06 20:05] esackbauer opened #2338 "After updating to 2.90 no files, cant login anymore"
After updating:
- I opened the owncloud app, it said something about broken folder, no files were shown.
- I stopped the app and reset the all application data, when trying to login I get:
"Die lokale Kopie konnte nicht umbenannt werden. Versuche es mit einem anderen neuen Namen."
I try to translate:
"The local copy couldnt be renamed. Try it with a different new name."

### Steps to reproduce
1.

[2018-11-06 20:11] garaznico commented on #2338
Same problem with my app.
Android 7.0
Huawei P9 lite

[2018-11-06 20:14] esackbauer commented on #2338
I tried the latest NextCloud app version 3.3.2, its working as expected

[2018-11-06 20:18] chtronche commented on #2338
Same thing here.
Huawei P20 lite
Android 8
Use to work until the app automatic update today
No log on  server

[2018-11-06 20:21] esackbauer commented on #2291
There seems to be a major issue in 2.90:
https://github.com/owncloud/android/issues/2338

[2018-11-06 21:41] michaelstingl commented on #2338
Could you check if this happens only with the updated app? (migration issue) Does a fresh install has the same issue? Maybe test on other device?

Could you send a test account to apps<at>owncloud.com?

[2018-11-06 22:15] esackbauer commented on #2338
it happens also with the fresh install of the app.
Test account sent

[2018-11-06 22:16] garaznico commented on #2338
It happened with the updated app and with a fresh installation too.

[2018-11-06 22:28] jesmrec commented on #2338
all reporters have huawei devices, this can be a clue... but in my own huawei i can not reproduce with a fresh install. Also not reproduced with the test account after login. i will check with more devices, just in case.

[2018-11-07 04:52] BDMN commented on #2276
Hello team,

Is there any updates here about share links?

[2018-11-07 06:53] garaznico commented on #2338
I use login and password method. The demo server work forum me, maybe It can be an error with my username? Some local file on Android phone?

[2018-11-07 07:12] michaelstingl commented on #2276
@BDMN The Android team was busy with the exchange of the networking library and working on a new WebDAV library. The old libraries are deprecated for a long time. Also on the roadmap for the next months are more refactoring and architectural changes to make the app future-proof and stable with good performance. This means on the other hand, that some requested features will be delayed for quite so

[2018-11-07 07:14] michaelstingl commented on #2338
@garaznico thanks for the feedback. User `admin` and password `admin` also works on the demo servers. You could create a new user with a similar pattern like your user to check.

[2018-11-07 07:45] jesmrec commented on #2338
if any of you can send a screenshot with the app settings, it is useful to reproduce. Any important to take in account in server side? LDAP/AD users? all info about your environment to reproduce will be helpful

[2018-11-07 07:45] esackbauer commented on #2338
Demo server works for me.
I use LDAP app on my server. The test account I gave you is not LDAP. I will create a new LDAP user account. Takes about 1 hour until I'm at my desk.

[2018-11-07 07:52] jesmrec commented on #2338
external storages?

[2018-11-07 08:16] esackbauer commented on #2338
no

[2018-11-07 08:21] esackbauer commented on #2338
no

[2018-11-07 08:36] jesmrec commented on #2338
i checked it but the credentials does not work (wrong username or password) after a fresh install. Maybe some typo in the email?

[2018-11-07 08:54] esackbauer commented on #2338
you got new credentials.

[2018-11-07 09:08] jesmrec commented on #2338
problem reproduced with this test account. We are going to research a bit and we will let you know our findings

[2018-11-07 09:42] jesmrec commented on #2338
do you have Server logs? the point is that the PROPFIND request to `remote.php/dav/files/<username>` is failing in server side when user is LDAP... so, the new endpoints can be involved.

[code]

[2018-11-07 10:19] esackbauer commented on #2338
log file sent via mail

[2018-11-07 11:14] jesmrec commented on #2338
the problem is that we are sending the username in the initial PROPFIND. In case of an LDAP, at the point of the initial request we do not know yet which user id is used to identify (uid, username, email..), and we are supposing (wrongly) that this is the username. We will avoid the username in this kind of request and get the correct user id for all the ones in which it is needed.

the issue is c

[2018-11-07 11:23] garaznico commented on #2338
Thank you very much!

[2018-11-07 13:40] davigonz opened #2340 "[2.9.1] New release with LDAP hot fix"
### TASKS
 - [x] [GIT] Create branch `release_2.9.1` in owncloud/android from master
 - [x] [GIT] Create branch `release_0.9.22` in owncloud/android-library from master
 - [x] [DEV] Update version number and name in build.gradle in android module
 - [x] [DIS] Create changelog file (< 500 chars) and add to CHANGELOG.md in owncloud/android
 - [x] [WIZARD] Show wizard when upgrading to 2.9 or 2.9.1

[2018-11-07 16:20] jesmrec commented on #2340
Tests:

- [ ] Login with LDAP-uid + browsing
- [ ] Login with LDAP-username + browsing
- [ ] Upgrade from 2.9.0 LDAP
- [ ] Upgrade from 2.9.0 basic auth
- [ ] Upgrade from 2.8.0 LDAP
- [ ] Upgrade from 2.8.0 basic auth
- [ ] Smoke test basic auth
- [ ] Smoke test OAuth2

[2018-11-07 17:50] davigonz commented on #2338
Thanks @esackbauer @garaznico @chtronche @Jeroensum for reporting this, we are working on a new release to include the hot fix, it will be most likely available tomorrow, please follow up https://github.com/owncloud/android/issues/2340

[2018-11-07 17:52] jesmrec commented on #2338
@esackbauer , check your mail

[2018-11-07 17:52] jesmrec commented on #2340
tests finished.

[2018-11-07 21:24] hannesa2 opened #2342 "Wrong apk name with version 2.9.0"
I'm on master with commit https://github.com/owncloud/android/commit/bd07b13db15e2c59f3694749c98ff39e9bc08b2e and I see during build release apk a wrong filename

Because PR are not merged (see https://github.com/owncloud/android-library/pulls) I change to mode to just create issues and not solve the problems with PR to save my time

[2018-11-08 10:51] jesmrec commented on #2342
i'm not sure what you mean. apk files are filtered in `.gitignore`, so this kind of files are not allowed to be synced via git.

[2018-11-08 10:58] jesmrec commented on #2338
2.9.1 already in Google Play.

[2018-11-08 12:01] frankaschmitt opened #2344 "Cannot login to owncloud account"
### Actual behaviour
- android owncloud client suddenly empty owncloud folders (on three different android devices since yesterday 07.11.18) therefore deinstalled and re-installed owncloud on one of them
- type in owncloud-address (https://mycloudname.myqnapcloud.com/owncloud)
- one time asking if self-signed certificate is okay (yes)
- then getting error message "Die lokale Kopie konnte nicht umb

[2018-11-08 13:30] jesmrec commented on #2344
@frankaschmitt  Could you upgrade to 2.9.1?

[2018-11-08 13:44] jesmrec commented on #2344
i also noticed you are using a server version 8.0.4. From ownCloud 10, new endpoints were developed to make the dialog with mobile and desktop clients. From 2.9, this newer endpoints are the ones we are going to support, so, i would recommend and encourage you to upgrade your server to such version, so older ones are deprecated and not supported from the Android app.

[2018-11-08 14:11] frankaschmitt commented on #2344
thanks from quick response.

QNAP provides only version 8.0.4 for their NAS in their App-Store. I am not sure if I can install a newer version.

2.9.1 - how to get that version?   I can install from playstore (2.9.0) or from F-Droid (2.9.0 with beta 1 + 2)

[2018-11-08 14:21] jesmrec commented on #2344
2.9.1 is already available in Play Store

i edited my comment above. oC 9 is also supported

[2018-11-08 15:10] hanibalp commented on #2344
Hello,
with new version 2.9.1 I still have the same problem
"The local copy couldnt be renamed. Try it with a different new name."

[2018-11-08 15:57] michaelstingl commented on #695
There's another issue for tags (https://github.com/owncloud/android/issues/1587), but I could also imagine to extend the future search feature with filter/search for collaborative tags.

[2018-11-08 16:00] michaelstingl commented on #2344
@hanibalp what version of ownCloud server version are you using?

[2018-11-08 16:05] jesmrec commented on #2344
could you send us a test account in your server to apps@owncloud.com?

[2018-11-08 16:06] hanibalp commented on #2344
I don't know :( I'm only user. I don't understand anything of this
tings. I see this on my desktop ownCwould

Поздрави,

Ани

------ Original Message ------
From: "Michael Stingl" <notifications@github.com>
To: "owncloud/android" <android@noreply.github.com>
Cc: "hanibalp" <devetakova@sound9studio.com>; "Mention"
<mention@noreply.github.com>
Sent: 8.11.2018 г. 18:00:46 ч.
Subject: Re: [owncloud/an

[2018-11-08 16:11] jesmrec commented on #2344
@hanibalp you can send us the URL of your server

[2018-11-08 16:14] hanibalp commented on #2344
https://78.154.6.77/pkg/ownCloud/

User:test
Pass:test

Поздрави,

Ани

------ Original Message ------
From: "Jesús Recio Rincón" <notifications@github.com>
To: "owncloud/android" <android@noreply.github.com>
Cc: "hanibalp" <devetakova@sound9studio.com>; "Mention"
<mention@noreply.github.com>
Sent: 8.11.2018 г. 18:11:59 ч.
Subject: Re: [owncloud/android] Cannot login to owncloud account (#2344)

[2018-11-08 16:17] jesmrec commented on #2344
@hanibalp thanks, but it is better to send to the mail i posted above (apps@owncloud.com). This is an open forum and it is not a good idea to put credentials. You should delete them

I checked your server, you are using ownCloud 7, a very very old one. You have to update to 9.1 or newer

[2018-11-08 18:29] hannesa2 commented on #2342
Sorry my fault, in project root, there was an old artifact, and when you search
`find . -name *.apk` it doesn't search subdir, so it only finds only one, and I assumed it's currently created apk

`find . -name "*.apk"` brings light into the darkness and I found the other, currently created, apk's

[2018-11-08 18:29] #2342 closed

[2018-11-09 08:39] hannesa2 opened #2346 "point to obsolte way to handle version"
During rebase I found this obsolete way to handle version. But I recommend first remove this Eclipse
stuff https://github.com/owncloud/android/pull/2076 (this PR is on hold)
https://github.com/owncloud/android/blob/57a37e79093b54f62219a1afc77fe074c7e84297/build.gradle#L100

This is just a informer to not forget

[2018-11-09 09:01] davigonz commented on #2338
Hi @hanibalp , which server version do you have?

[2018-11-09 13:37] basdv98 opened #2347 ""Folder doesn't exist anymore" on OwnCloud account with a space"
### Actual behaviour
- When I'm logged in to an OwnCloud account with a space in the username, I get the error in Dutch:
"Map /remote.php/dav/files/Folder name/Folder name/ bestaat niet meer". Translated: "Folder /remote.php/dav/files/Folder name/Folder name/ doesn't exist anymore".

We already tried to create a new account without a space, in that case it works. If we create another new account a

[2018-11-09 16:12] Jeroensum commented on #2338
Demo server works for me.

I use username/password for my own installation.

[2018-11-09 16:22] hanibalp commented on #2344
does not allow me to make upgrades to a higher version :(

[2018-11-09 16:22] michaelstingl commented on #2338
@Jeroensum Did you already test the new 2.9.1? If this doesn't fix it, I'd assume your ownCloud server is too old. Old versions are no longer supported by the 2.9.x clients because it comes with a new networking library and new WebDAV library that doesn't support the old WebDAV endpoint.

[2018-11-09 19:30] dirkbroekstra opened #2348 "after latest update app stopped working."
### Actual behaviour
-Tell us what happens

### Expected behaviour
-Tell us what should happen

### Steps to reproduce
1.
2.
3.

Can this problem be reproduced with the official owncloud server?
(url: https://demo.owncloud.org, user: test, password: test)

### Environment data
Android version:

Device model:

Stock or customized system:

ownCloud app version:

ownCloud server version:

### Logs
##

[2018-11-09 19:41] dirkbroekstra commented on #2348
after deleting and reinstalling app and entering owncloud URL message from app reads:  ¨Lokaal kopie kon niet worden hernoemt¨ in English:  ¨Local copy could not be renamed¨

I tested with url: https://demo.owncloud.org it works fine.

I checked the version on my server. It appears to be 7.04 I cannot change this version as it is embedded in a clearOS  seversystem

[2018-11-09 19:42] dirkbroekstra commented on #2348
Is it possible to receive a link to download the old version apk?

[2018-11-10 21:46] ap0n commented on #2348
Same problem here. It's very frustrating not being able to access my data.

[2018-11-12 09:01] davigonz commented on #2348
Hi @dirkbroekstra , @ap0n , first of all sorry for the inconvenience. As you already probably know, ownCloud doesn't give support to server versions lower than 10.x and with the recent update of the ownCloud app for Android, we are not giving support to server versions lower than 9.x.

Therefore, we strongly recommend you to update to most recent versions since you will might find more compatibili

[2018-11-12 09:08] ap0n commented on #2348
Hi @davigonz . It is very difficult for me to upgrade my owncloud server as it is also embedded in my NAS system; I don't have the time to dig into it anyway.
Unfortunately I had to switch to other apps that provide the same functionality as yours and still support older server versions (and webdav).
In any case, thanks for your reply.

[2018-11-12 09:41] dirkbroekstra commented on #2348
I found this as a temperature solution: https://m.apksum.com/app/owncloud/com.owncloud.android

[2018-11-12 09:44] dirkbroekstra commented on #2348
@davigons
Thanx for your reply .

I will need to upgrade my clearOS system somewhere in the future. So the problem will be solved then, hopefully.

Best regards.

[2018-11-12 11:09] jesmrec commented on #2348
Version 2.9 of Android app only supports server version 9.x and newer. I encourage you to upgrade your server version, and any question or problem about it, check it in the open forum or post there whatever you need: https://central.owncloud.org/

If you don’t have the choice to upgrade your server, you can get the 2.8.0 version (the latest Android version that supports old server versions) from F

[2018-11-12 12:34] jesmrec commented on #2338
Version 2.9 of Android app only supports server version 9.x and newer. I encourage you to upgrade your server version, and any question or problem about it, check it in the open forum or post there whatever you need: https://central.owncloud.org/

If you don’t have the choice to upgrade your server, you can get the 2.8.0 version (the latest Android version that supports old server versions) from F

[2018-11-12 12:38] #2340 closed

[2018-11-12 12:47] jesmrec commented on #2347
hi @basdv98. Could you upgrade to 2.9.1 and let us know if the problem is fixed?

[2018-11-12 13:01] davigonz opened #2351 "Welcome new Android components [WIP]"
Android is getting more mature and modern and it would be great to start using some of the next technologies:
- [Android architecture components](https://developer.android.com/topic/libraries/architecture/)
- [Kotlin](https://developer.android.com/kotlin/)

To do that, we first need to define some tasks:
- Update Gradle + support for Android Studio 3.2.1: #2327
- Remove Eclipse structure: #2044
-

[2018-11-12 13:57] hanibalp commented on #2338
It works!!!! With version 2.7.0!

Thank you!!!!!

------ Original Message ------
From: "Jesús Recio Rincón" <notifications@github.com>
To: "owncloud/android" <android@noreply.github.com>
Cc: "hanibalp" <devetakova@sound9studio.com>; "Mention"
<mention@noreply.github.com>
Sent: 12.11.2018 г. 14:34:37 ч.
Subject: Re: [owncloud/android] After updating to 2.9.0 no files, cant
login anymore (#2338)

[2018-11-12 19:52] michaelstingl commented on #2347
@basdv98 login with user: admin and pw: admin and create new user.

I created a new user `space user`, and opening a folder failed horrible with the error message described above.

I tested with a virtual Nexus 5 with Android 5.1.0 (API 22) in Genymotion.

[2018-11-13 07:49] jesmrec commented on #2347
Reproduced with Android 5 as well

[2018-11-13 13:15] davigonz opened #2353 "[2.9.2] New release"
### TASKS
 - [x] [GIT] Create branch `release_2.9.2` in owncloud/android from master
 - [x] [GIT] Create branch `release_0.9.23` in owncloud/android-library from master
 - [ ] [DEV] Update version number and name in build.gradle in android module
 - [ ] [DIS] Create changelog file (< 500 chars) and add to CHANGELOG.md in owncloud/android
 - [ ] [WIZARD] Show wizard when upgrading to 2.9 or 2.9.2

[2018-11-13 14:50] davigonz commented on #2124
@AqwelF @Patriack @fmkaiser Have you tried 2.9.0 or 2.9.1? The crash shouldn't be there any more.

[2018-11-13 15:47] jimmyramos1984 opened #2355 "My owncloud account doesnt sync"
### Actual behaviour
-Tell us what happens
My folder is not actually synced. Since the last update is not working anything.
### Expected behaviour
-Tell us what should happen

### Steps to reproduce
1.
2.
3.

Can this problem be reproduced with the official owncloud server?
(url: https://demo.owncloud.org, user: test, password: test)

### Environment data
Android version:

Device model:

Stock or

[2018-11-13 15:57] jesmrec commented on #2355
Please, could you detail the steps to reproduce, as well as the android and server version, and the version of the app?

[2018-11-13 16:05] jimmyramos1984 commented on #2355
Dear Jesus

The steps are:

When I open the app there is nothing in there, althougt I have many folders
when I open it in web browser.

When I try to reload the synchronization nothing happens.

My android version is 8 and the server version is 10.0.5 (stable).

The version of the app is 2.9.1.

Thanks a lot.

On Tue, Nov 13, 2018, 10:57 AM Jesús Recio Rincón <notifications@github.com>
wrote:

--

[2018-11-13 16:08] jesmrec commented on #2355
Could you send us a test account in your server to apps@owncloud.com?

[2018-11-13 16:13] jimmyramos1984 commented on #2355
Do I send you a screenshot from my cell phone to the mail below?

On Tue, Nov 13, 2018, 11:08 AM Jesús Recio Rincón <notifications@github.com>
wrote:

--

Jimmy Ramos

[2018-11-13 16:24] jesmrec commented on #2355
all info you can send us will be helpful, but with the test account we will reproduce and get the source of the problem quicker. thanks

[2018-11-13 16:33] jimmyramos1984 commented on #2355
Sorry, but I don't know how to do the test account. May you help me how to
proceed?

On Tue, Nov 13, 2018, 11:24 AM Jesús Recio Rincón <notifications@github.com>
wrote:

--

Jimmy Ramos

[2018-11-13 16:49] jesmrec commented on #2355
do you own the server? if you do, you have to open the admin account -> Settings -> Users, and then you can create as many users as you want. If yo don't,  you should ask your server admin.

Other stuff that can help us:

- Does your username contain blank spaces?
- Does your username contain any special character?
- Do you know if your server uses LDAP or AD?

[2018-11-13 19:49] jimmyramos1984 commented on #2355
I am not the owner of the server but I was designated as an administrator
of an small group and I can create as many users as I want.

Additionally, usernames do have blank spaces, they don't have special
characters and I don't know if server uses LDAP or AD.

Hope it  can be usefull

Tks

On Tue, Nov 13, 2018, 11:49 AM Jesús Recio Rincón <notifications@github.com>
wrote:

--

Jimmy Ramos

[2018-11-14 12:05] jimmyramos1984 commented on #2355
Yes, my username has blanks.

On Wed, Nov 14, 2018, 2:25 AM Jesús Recio Rincón <notifications@github.com>
wrote:

--

Jimmy Ramos

[2018-11-14 12:35] jesmrec commented on #2355
ok, then probably you have the same problem as this other user: https://github.com/owncloud/android/issues/2347

we will release a fix in the 2.9.2 version soon. Keep tunned, and give us your feedback once the version is released.

[2018-11-14 14:01] fmkaiser commented on #2124
@davigonz As mentioned wrt. the beta earlier, I can confirm that the crash doesn't happen anymore on my phone with with 2.9.0 or 2.9.1 either. We are still waiting for the 2.9 release in in ownBrander.

[2018-11-14 15:41] davigonz commented on #2355
This issue is duplicated, please follow up #2347. I will close this, @jimmyramos1984 if you notice any other strange behaviour open a new ticket, thanks.

[2018-11-14 15:41] #2355 closed

[2018-11-15 10:44] PVince81 opened #2356 "Lost authentication with app password"
### Actual behaviour
Authentication info lost. App says authentication failed.
Need to login again.

### Expected behaviour
Never lose auth info.

### Steps to reproduce
Not reproducible accurately, happened by chance.

Android app is configured to connect using an app password that was manually generated on the server.

Here is what I was doing:
- edited file "pomodoro.md" on Monday 12th November

[2018-11-15 10:46] PVince81 commented on #2356
additional info: the app was upgraded from 2.9.0 and also I had an Android 8 -> 9 upgrade a few weeks ago, so the app might have carried some "old" configuration or state since then.

[2018-11-15 11:56] davigonz commented on #2356
Thanks @PVince81 for reporting this, I have a couple of questions:

1. Have you ever used multi-account in your device? Is it possible that the mysterious token comes from other ownCloud account set in your ownCloud app?
2. About the unexpected conflicts on the "pomodoro.md" file, are you using available offline feature? If so, does that conflict appear when using the app in foreground or as a not

[2018-11-15 12:41] PVince81 commented on #2356
@davigonz I don't I used multi-accounts on this device at all.

Regarding the conflicts, yes, the file "pomorodo.md" is set for available offline.
As far as I remember the conflict notification in the Android top bar appeared as soon as I opened the Android app, possibly on the folder "clientsync", without any specific action. Maybe it just wanted to refresh all offline files. The pomodoro file is

[2018-11-15 18:38] tpluscode commented on #2348
@jesmrec I'm pretty sure the problem goes beyond jus the server version.

I've been happily using ownCloud app with two providers:

1. https://my.owndrive.com/ - running version OwnCloud 12
2. https://cloud.woelkli.com/ - running Nextcloud 13

Here's what happened to me after latest update:

1. I noticed I am unable to upload to OwnDrive. Notification simply says `Folder error`
1. I refreshed this

[2018-11-15 23:42] michaelstingl commented on #2348
@tpluscode seems https://my.owndrive.com/ is also not an ownCloud server. The ownCloud Android app got tested only with supported ownCloud servers.

[2018-11-16 07:19] jesmrec commented on #2348
that's it... latest ownCloud version is 10. ownCloud12 comes not from official sources.

[2018-11-16 09:31] davigonz commented on #163
@tommys-place @fjf2002 have you touched the server to make your code explained in comments above works?  Thanks

[2018-11-16 10:16] Teasydlp opened #2358 ""Nothing in here. Upload something!" after app update"
### Actual behaviour
- After app update, my android app is loading for about 10 seconds and reports after that "Alles leer. Laden Sie etwas hoch!" (Nothing in here. Upload something!). There were no changes to the server for weeks. The app worked fine before the update.

Close/restart app does not help.
Restart smartphone does not help.
An android tablet shows the same behavior.

### Expected beha

[2018-11-16 12:44] davigonz opened #2359 "Changes in our Git Branching flow"
Considering the following scenario with our current Git branching flow:

![current_branching_flow](https://user-images.githubusercontent.com/15261363/48621255-3a308700-e9a3-11e8-8674-a734e4a11b46.png)

1. We create branches to work on 2.9.2 features that are eventually merged into `master` branch.
2. Once 2.9.2 development is finished, we create `release_2.9.2` branch. At this point,`master` branc

[2018-11-16 12:58] davigonz commented on #2358
Hi @Teasydlp , thanks for reporting this, are you using a username with spaces?

[2018-11-16 12:59] Teasydlp commented on #2358
Yes, I do.

[2018-11-16 13:40] davigonz commented on #2358
This is a duplicated of https://github.com/owncloud/android/issues/2347 then, we have already fixed this issue and will be out in a new version (2.9.2) next week, I will close this, stay tuned.

[2018-11-16 13:40] #2358 closed

[2018-11-16 16:00] michaelstingl commented on #2359
@davigonz we use [OneFlow](https://www.endoflineblog.com/oneflow-a-git-branching-model-and-workflow) (simple version) in the [`ios-app`](https://github.com/owncloud/ios-app/). Could you also have a look?

[2018-11-18 10:53] ap0n commented on #2348
@jesmrec you saved the day, thanks! I downgraded owncloud app via (F-droid) and it works perfectly.

[2018-11-19 09:22] jesmrec commented on #2353
Checks to do:

- [ ] https://github.com/owncloud/android/issues/2347 fixed
- [ ] Upgrade 2.8.0 -> 2.9.2 (Wizard)
- [ ] Upgrade 2.9.0 -> 2.9.2 (no Wizard)
- [ ] Upgrade 2.9.1 -> 2.9.2 (no Wizard)

[2018-11-19 10:17] jesmrec opened #2361 "Username with blanks incomplete in drawer"
Steps

1. Create an account which username contain  blanks
2. Add the account and another one (no matter how the username is) to the app
3. Open the second account
4. Open the drawer and tap on the triangle

Current: account name created in 1. appears trimmed
Expected:  account name created in 1. appears correctly in format user@server

Nexus 5X v8

[2018-11-19 10:22] sd1998 commented on #2361
@jesmrec I would like to work on this.

[2018-11-19 10:23] jesmrec opened #2362 "Cancel fingerprint after upgrading"
Maybe related with https://github.com/owncloud/android/issues/2281

Check these steps:

1. Install previous version
2. Enable fingerprint + passcode
3. Upgrade to the current one

Current: After upgrading, fingerprint is asked. Cancel the fingerprint to go to the passcode. Enter the passcode and then, a blue screen appears.

Expected: After upgrading, fingerprint is asked. Cancel the fingerprint t

[2018-11-19 13:45] jesmrec commented on #2347
@basdv98 we have pushed the 2.9.2 release, already available in Google Play. You can get it and give us your feedback about the reported problem.

[2018-11-19 13:47] jesmrec commented on #2355
@jimmyramos1984 you can download 2.9.2 already available in Google Play and give us your feedback about the problem

[2018-11-19 14:05] jimmyramos1984 commented on #2355
Dear Jesus

Tks a lot.. it works perfectly.

On Mon, Nov 19, 2018, 8:47 AM Jesús Recio Rincón <notifications@github.com>
wrote:

--

Jimmy Ramos

[2018-11-20 02:44] jasamples commented on #2347
Also having this same issue with accounts that have a user name in an "email address" format like "test@gmail.com"

[2018-11-20 12:10] davigonz commented on #2347
This is server related => https://github.com/owncloud/core/issues/33594

[2018-11-20 16:40] davigonz commented on #2291
Fixed and included in 2.9.1

[2018-11-21 15:43] davigonz opened #2364 "[2.9.3] New release with usernames containing @ hotfix"
### TASKS
 - [x] [GIT] Create branch `release_2.9.3` in owncloud/android from master
 - [x] [GIT] Create branch `release_0.9.24` in owncloud/android-library from master
 - [x] [DEV] Update version code and name in build.gradle in android module
 - [x] [DIS] Create changelog file (< 500 chars) and add to CHANGELOG.md in owncloud/android
 - [x] [WIZARD] Show wizard when upgrading to 2.9.3
 - [x] [QA

[2018-11-21 15:48] davigonz opened #2365 ""Folder doesn't exist anymore" on OwnCloud account with a @ character"
### Actual behaviour
- The message described in the title appears when browsing in the app logged with an account with @ in the username.

### Expected behaviour
- Browse files should work normally.

### Steps to reproduce
1. Create an account with a @ in the username, for example user@name
2. Log in on the ownCloud app for Android with that account.

### Environment data
Android version: 7.1.2

D

[2018-11-21 15:51] davigonz commented on #2347
Thanks for reporting this @jasamples, this issue is about problems with spaces in the username, which has been already fixed in 2.9.2, so I will close it and please follow up https://github.com/owncloud/android/issues/2365

[2018-11-21 15:51] #2347 closed

[2018-11-21 19:36] prsnbrg commented on #2364
What is with the Upload on f-droid?

[2018-11-21 22:11] mikedolx opened #4048 "NullPointerException and HOST_NOT_AVAILABLE result after ReadRemoteOperation"
Hi,

I'm currently updating my app to use Android Studio and gradle, therefore i use the opportunity to upgrade the ownCloud library to the latest available version (including the new okhttp reference).

After upgrading my app to Gradle and AS i tested it within an emulator and found an issue when performing the ReadRemoteFolderOperation() on any of my test instances (which are ownCloud and Nextcl

[2018-11-22 07:36] davigonz commented on #2364
@prsnbrg F-Droid will automatically update the version by using [this](https://gitlab.com/fdroid/fdroiddata/blob/master/metadata/com.owncloud.android.txt#L331).

[2018-11-22 07:56] prsnbrg commented on #2364
Oh sorry,
Yes I Updated my App yesterday with f-Droid.

In the last Release Checklist we have a point with Upload on f-droid, but now we have only Publishing Google Play.

[2018-11-22 09:47] davigonz commented on #2364
I might have forgotten to delete that task, but is no longer needed for final versions, only for beta ones.

[2018-11-23 10:52] RomanKarwacik opened #2367 "After update no files are shown"
### Actual behaviour
-Tell us what happens
In the "Alle Dateien" (All files) Tab, no files are shown, and the message "Alles leer. Laden Sie etwas hoch!" (All empty. Upload something!) is shown. I can upload files, but after reopening the app, the file also disappears (But is uploaded succesfully, as can be verified on other platforms).

### Expected behaviour
-Tell us what should happen
All my fi

[2018-11-23 10:56] RomanKarwacik commented on #2367
Probably due to https://github.com/owncloud/android/issues/2365 , as the accounts have @ signs in the username.

[2018-11-23 11:56] davigonz commented on #2367
Thanks @RomanKarwacik for reporting this issue. In 2.9.2 we fixed some bugs with usernames containing spaces and due to that fix, accounts with @ character stop working, we have already developed the solution for all the cases and should be out at the beginning of next week within 2.9.3, stay tuned.

I will close this as duplicated of #2365, please follow up there.

[2018-11-23 11:56] #2367 closed

[2018-11-23 12:36] jesmrec commented on #2364
List with username checks containing the allowed special characters: .-@_ and the blank:

https://github.com/owncloud/QA/blob/master/Mobile/Android/Release_2.9.3/fix_encoding_characters_username.md

[2018-11-26 08:32] jesmrec commented on #2364
Checks to be done:

- [ ] https://github.com/owncloud/QA/blob/master/Mobile/Android/Release_2.9.3/fix_encoding_characters_username.md
- [ ] Upgrade from 2.9.2
- [ ] Upgrade from 2.9.1
- [ ] Upgrade from 2.9.0
- [ ] Upgrade from 2.8.0
- [ ] Smoke test

[2018-11-26 11:34] jesmrec commented on #2364
All fixed.

[2018-11-26 11:37] #2365 closed

[2018-11-26 13:18] davigonz commented on #2367
Hi @RomanKarwacik , we've just released 2.9.3 to fix the problem you describe, please [download it via PlayStore](https://play.google.com/store/apps/details?id=com.owncloud.android), try it out and give us your feedback, thanks!

[2018-11-26 13:19] davigonz commented on #2347
Hi @jasamples , we've just released 2.9.3 to fix the problem you describe, please [download it via PlayStore](https://play.google.com/store/apps/details?id=com.owncloud.android), try it out and give us your feedback, thanks!

[2018-11-26 15:38] jasamples commented on #2347
Thanks @davigonz , we are back in business!  Everything is working well.

[2018-11-27 10:53] hannesa2 commented on #2359
When I read "At this point,master branch is blocked ..." this is really bad !
Maybe this is the reason why PR needs that much time here.

It's your decision what to do, but you should definite avoid blocking

[2018-11-28 11:08] jesmrec commented on #2124
@AqwelF @Patriack 2.9.x versions fixed the problem. If you think the problem persists or something similar, feel free to reopen.

Thanks all for you collaboration.

[2018-11-28 11:08] #2124 closed

[2018-11-28 11:10] jesmrec commented on #2348
2.9.3 version released, fixing this problem. If the problem persists, feel free to reopen.

[2018-11-28 11:12] jesmrec commented on #2344
@hanibalp , if you can not upgrade your server version, your option is using Android app version 2.8.0.

Check the following steps: https://github.com/owncloud/android/issues/2348#issuecomment-437841784. If you have any problem, question or whatever, reopen this issue, or send us an email to apps@owncloud.com

[2018-11-28 11:12] #2344 closed

[2018-11-28 11:23] jesmrec commented on #2265
@Seriousitchy are you still having this problem?

[2018-11-28 16:54] #2364 closed

[2018-11-28 17:06] davigonz opened #2374 "UI glitch in eye icon used to show/hide the password when sharing a file publicly"
### Actual behaviour
The eye icon used to show/hide the password of a public link  is almost not visible due to the white color used. This eye icon is the same resource that we use in the login view and it needs to be white, so changing the color here will not solve the problem, use new resource maybe?

[<img src="https://user-images.githubusercontent.com/15261363/49168190-48818a00-f337-11e8-9b82-

[2018-11-28 17:17] sd1998 commented on #2374
@davigonz I will implement this instead of #2329

[2018-11-28 17:17] davigonz commented on #2329
It won't be implemented, reasons in https://github.com/owncloud/android/pull/2352

[2018-11-28 17:17] #2329 closed

[2018-11-29 16:59] RomanKarwacik commented on #2367
It works now again, thank you!

[2018-11-30 09:07] PVince81 opened #2376 "Repeated conflict report on my todo list file"
Summary: I have a todo list file called "pomorodo.md" and every time (or often) whenever the mobile app syncs, it reports a conflict on said file.

### Actual behaviour
Conflict report on "pomorodo.md".
When I tell it to keep both versions and diff them, they're both 100% identical.

### Expected behaviour
No conflict.

### Steps to reproduce
Not reproducible accurately, but here are things I did

[2018-11-30 13:33] #2327 closed

[2018-11-30 13:52] davigonz commented on #2376
@PVince81 the job responsible for available offline files synchronization when the ownCloud app is in background is executed every 15 minutes and compares the last modified time of each local file (set as available offline) with the corresponding file in the ownCloud account to detect whether the ownCloud account has the file synchronized or not.

[Here](https://github.com/owncloud/android/blob/ma

[2018-11-30 15:11] PVince81 commented on #2376
Note that the text editor is now completely closed and I even rebooted the phone. The conflict still happens.

Will check details later including the files' local mtime.

[2018-12-01 01:53] sebascasti opened #2378 "Login error"
Hi, i've reinstalled my phone and now i can't login into the app. It show "Precondition failed". For two years i was using this app on this phone just perfect.

Can this problem be reproduced with the official owncloud server? Your demo server works Ok.
(url: https://demo.owncloud.org, user: test, password: test)

### Environment data
Android version: 7.0

Device model: Moto X Pure

Stock or custo

[2018-12-01 18:12] michaelstingl commented on #2378
[code]

11.0.2.7 isn't a legit ownCloud server version and seems to be not supported by the latest versions of the ownCloud iOS app.

[2018-12-01 18:12] #2378 closed

[2018-12-03 07:19] davigonz commented on #2376
Ok, thanks for the info

[2018-12-03 11:35] destinyfucker commented on #2082
Sorry for missing for a long time, I have never met the problem since then. Maybe it is due to my emulator, but I am sure. I will report it if OwnCloud carshes for the same reason next time. Thank you.

[2018-12-03 12:36] davigonz commented on #2082
So I guess we can close this, please reopen if the crash reappears in the future, thanks @destinyfucker

[2018-12-03 12:37] #2082 closed

[2018-12-04 15:31] jesmrec commented on #2265
After releasing new versions, there is no further problems in the auth process.

If the problem persists, please reopen to continue the researching.

[2018-12-04 15:31] #2265 closed

[2018-12-04 17:48] jesmrec commented on #2281
Fixed in #2369

[2018-12-04 17:48] #2281 closed

[2018-12-05 16:57] #2272 closed

[2018-12-05 19:53] michaelstingl commented on #2303
@hannesa2 what's the storage location of the camera app you are using? What location did you select in the app settings?

[2018-12-05 19:57] hannesa2 commented on #2303
picture from camera are stored at `/storage/emulated/0/DCIM/Camera`
I specified same directory in app, but in Owncloud there are just two files and no sync is done

[2018-12-05 20:06] michaelstingl commented on #2303
This issue is more about user errors, where people aren't aware that camera storage location and ownCloud settings doesn't match.

Otherwise it works pretty fine with 2.9+ versions. Maybe you could open a separate issue for your problem. You can build the app with logging enabled. It should show where the problem is.

![camera_folders](https://user-images.githubusercontent.com/214010/49540740-1d67

[2018-12-05 20:15] hannesa2 commented on #2303
As I understand, It looks not bad on  my side
![image](https://user-images.githubusercontent.com/3314607/49541336-cd8a1780-f8d2-11e8-8a3a-c223785b1aab.png)

An I see I've to solve it by myself

[2018-12-06 11:03] michaelstingl commented on #2303
@hannesa2 those are all very valid points, but unrelated to this issue "Warn users to select the correct camera folder". Please open another issue, so we can focus on every problem individually.

[2018-12-06 16:58] jonferreira commented on #2328
Any chance to get an option to upload photos / videos only while the phone is charging? Pretty useful when you want to use owncloud for "backup" purposes

[2018-12-06 18:13] BenjaminKobjolke commented on #2347
The problem still exists with other special characters in Folder names.
I have folders like [--Work--] and for those folders the problem still persists.

[2018-12-07 09:29] hannesa2 opened #2389 "Wrong preview images"
I'm not sure if this is the right repo, anyway at least I get the hint where to post it.

I use Owncloud X and I see in
* website _wrong_ preview images with **wrong** big images
* Android _wrong_ preview images but **right** big images

so I tried to rebuild it but to be honest I don't know how.

I tried this but without success
[code]

any clue how to get rid of it ?

[2018-12-07 21:55] hannesa2 commented on #2389
Should I make a video to see the non working behavior. I see no purpose to go ahead here, except a afford on my side.
You should simply believe me.

The only way I see is to solve it by my own, and I don't want to disturb my installed prod version. So I need a debug version. Cool https://github.com/owncloud/android/blob/84c03ba109171e2c558dc5818225bdeac1a5534a/build.gradle#L189 at least there is a

[2018-12-07 22:08] hannesa2 commented on #2389
the most afford in this repo is to point all of you to non-merged PR's and do rebase on non-merged PR's. -sad-

But all depends on an update of project structure. I see a deficit on the amount of merger and a blocking git workflow.
You should never block volunteers who invest there lifetime in this repo

[2018-12-08 06:53] michaelstingl commented on #2389
I just don't understand the issue enough yet. Easiest would be you know the instructions how to reproduce (using screenshots, video and example images), and I could try to debug server and app. If it's not easy to reproduce we'd need to find other ways.

[2018-12-08 08:17] hannesa2 commented on #2389
If you find it helpful, here it is.
you see the wrong preview and a click opens real image
![wrongpreview](https://user-images.githubusercontent.com/3314607/49683736-da249080-fac9-11e8-91fe-b81385537f4f.gif)

[2018-12-08 08:43] michaelstingl commented on #2389
Sounds a little bit like https://github.com/owncloud/core/issues/23193

Workaround could be to remove `data/<username>/thumbnails` (from https://github.com/owncloud/core/issues/23193#issuecomment-223416964)

@DeepDiver1975 any idea why previews (probably on the server) doesn't match the original images? What would be your recommendation to clean them up? occ command?

[2018-12-08 09:03] hannesa2 commented on #2389
great `Workaround could be to remove data/<username>/thumbnails` did the job !
But in my prod version, I've to clean data to get rid of woing thumbnails.
What's about a menu in preferences to delete cached data ?
The advance is, I've not to relogin and search for my damn password again

[2018-12-08 09:04] #2389 closed

[2018-12-08 11:07] hannesa2 opened #2393 "Production and debug version can't be installed on same device"
It happen with version 2.9.3 and the app declaims about authorities

And there is an old one https://github.com/owncloud/android/issues/1091 too

[2018-12-08 11:10] hannesa2 commented on #2393
In this https://github.com/owncloud/android/pull/2391 there is a commit https://github.com/owncloud/android/pull/2391/commits/fee4f6ef8e2b70ab877edbb90577b8bb6fbe78bf which solves it.
Unfortunately this https://github.com/owncloud/android/pull/2076 has no progress, that's why I've to do in `build.gradle` otherwise I would overwrite it in `debug` directory. But with Eclipse structure it's not possi

[2018-12-08 11:14] hannesa2 commented on #2393
But now I run into next issue. Prod and debug version try to use same account, but `ExistenceCheckRemoteOperation.java` prevent to use it
https://github.com/owncloud/android-library/blob/7dc611cd1444914bdd71615fa54b053d7c429ad1/src/com/owncloud/android/lib/resources/files/ExistenceCheckRemoteOperation.java#L116

What's the best way to enable this ?

[2018-12-08 15:19] hannesa2 opened #2394 "auto upload of pictures is broken"
With the current version, it seems the auto sync of pictures is broken. On my device there was nothing synced since months

[2018-12-08 18:10] hannesa2 commented on #2394
I did a test on a real device from 15:05 till 18:55

### Problem A:
It seems `CameraUploadsSyncJobService` does not start

[code]
Looks like L53 is never reached
![image](https://user-images.githubusercontent.com/3314607/49689026-1c29f280-fb1b-11e8-85fb-c9eac1bb62e1.png)

### Problem B:
Last entry at 15:47:47. After this time app seems to stop doing anything in background. No Job started, nothing

[2018-12-09 16:19] BigAdam2005 commented on #2316
I will fix it.

[2018-12-10 07:51] jesmrec commented on #2394
Thanks a lot for reporting. We have had some issues of people who automatic uploads do not work for them. I guess you selected the correct source folder. We will have a look.

[2018-12-10 12:04] jesmrec commented on #2328
@jonferreira this is a different feature, an interesting one. there is a open issue about it: https://github.com/owncloud/android/issues/879, you can wake up the discussion there.

[2018-12-10 12:31] jonferreira commented on #879
Thanks @jesmrec forpointing me here. This would be incredible useful to me, would make match the behaviour that already exists with Google Photos, iDrive, etc

[2018-12-10 12:41] jesmrec commented on #879
you are welcome. As you can check above, there is an open PR (https://github.com/owncloud/android/pull/745) with the fix, but it will need some review, update and QA.

@michaelstingl @pmaier1 from a product point of view, is this feature interesting? it will be scheduled in the medium term, anyway.

CC @davigonz @sd1998

[2018-12-10 12:42] jonferreira commented on #879
Yes noticed that although pending for 2 years doesn't bode well

[2018-12-10 14:36] michaelstingl commented on #879
I like the idea, but low priority. We first should make the app more stable and future-proof with https://github.com/owncloud/android/issues/2351, then implement missing features like search… (https://github.com/owncloud/android/issues/695)

[2018-12-10 14:53] jonferreira commented on #879
dang I was hopping this would be higher on the to-do list...

Honestly this and a "select all" button to upload files are the only 2 things I'm missing

[2018-12-11 11:00] sd1998 commented on #2374
@davigonz I have fixed the issue.

[2018-12-12 09:00] davigonz commented on #2316
Go for it @BigAdam2005 , if you need any help please ping me.

[2018-12-12 11:33] davigonz commented on #2394
Thanks for reporting this @hannesa2, in the `currentLog.txt` you attach I see several logs saying `Scheduling a CameraUploadsSyncJobService` in different hours but there's no 15 minutes wait.

`2018/12/08 15:03:20 CameraUploadsHandler : Scheduling a CameraUploadsSyncJobService
2018/12/08 15:03:38 CameraUploadsHandler : Scheduling a CameraUploadsSyncJobService
2018/12/08 15:03:45 CameraUploadsHandl

[2018-12-12 12:16] moshpirit commented on #2367
It doesn't work with 2.9.3 (F-droid) on my Android 8.0.0

[2018-12-12 12:17] #2302 closed

[2018-12-12 12:38] moshpirit commented on #2367
Yes, a space

[2018-12-12 12:40] davigonz commented on #2347
I have folders like [--Work--] and for those folders the problem still persists.

@BenjaminKobjolke thanks for reporting your problem but this issue was about special characters in usernames and was already fixed, can you open a new issue with the details about what you have noticed?

[2018-12-12 12:50] davigonz commented on #2367
Hmmm, weird... where do you have the space in the username? Middle, at the beginning, at the end?

[2018-12-12 12:52] moshpirit commented on #2367
in the middle.

[2018-12-12 13:38] sd1998 commented on #2276
@jesmrec is this still required? I would like to work on this.

[2018-12-12 13:59] jesmrec commented on #2276
yes, it would be nice to get, but only for the "Shared by links". We will set more options there at the time are developed

[2018-12-12 15:44] dassio opened #2396 "choose multi folder for auto upload"
### Actual behaviour
-choose auto upload source, currently only the camra folder will be selected
- in some cases , when using thirdparty app to take pictures, the pictures will be saved in a different folder
### Expected behaviour
- it should be able to choose more than one folder for auto upload

### Steps to reproduce
1.  enable auto upload
2. choose auto upload folder

Can this problem be repr

[2018-12-12 18:12] hannesa2 commented on #2394
Sorry, that was the only detected log file. If there are more, please tell me.
Or should we add more places to log, or add additional info ?

Btw, such lines `2018/12/08 15:03:20 CameraUploadsHandler : Scheduling a CameraUploadsSyncJobService` I modified manually, because timestamp is in separate line. What's the purpose of it ? I recommend to have it in one line, maybe with method name and line n

[2018-12-13 11:43] davigonz commented on #2351
Let's start with an "easy" usecase like **Get public shares for a file.** To do that, let's follow the next architecture:

![owncloud android app architecture](https://user-images.githubusercontent.com/15261363/49936572-8f918280-fed4-11e8-9a86-103169b897bd.png)

[2018-12-13 11:43] jesmrec commented on #2396
thanks for sharing your idea!

[2018-12-14 10:08] hannesa2 commented on #2283
my experience/comment concerning this: I did several upgrades on several apps, but the only painful was `Andorid O` with the background tasks, to P was almost compile issues and some flaky tests.
I guess apply [material components](https://github.com/material-components/material-components-android) and AndroidX causes more afford. If it's ever done here

[2018-12-14 13:12] hannesa2 opened #2399 "Android X"
https://github.com/owncloud/android/blob/ef2ccbea0ee76c8b0b99d21c4225e9b9607dc9fe/build.gradle#L21
I would not update here to 28, immediate to AndroidX is the way to go

[2018-12-14 14:10] BigAdam2005 commented on #2316
I have fixed it.

[2018-12-14 17:03] BigAdam2005 commented on #2396
I will implement it.

[2018-12-14 18:49] sd1998 commented on #2228
@jesmrec Is this feature still required?

[2018-12-14 18:59] sd1998 commented on #1840
@davigonz Can I work on this?

[2018-12-17 01:14] Unsigno commented on #2119
Hi all, this issue is still open ?

[2018-12-17 08:16] davigonz commented on #2119
Yes @Unsigno , but it was delayed because is not trivial at all, have a look at [this overview](https://github.com/owncloud/android/pull/2143#issuecomment-395018491).

[2018-12-17 08:18] davigonz commented on #2399
Yes @hannesa2 , we will start to migrate to Android X dependencies via #2351

[2018-12-17 09:21] davigonz commented on #1840
Sure @hannesa2 but we have things with more priority like https://github.com/owncloud/android/issues/1015 and since you have worked on the same menu to include sorting option, you might find it easier to implement. There's already a PR opened about that => https://github.com/owncloud/android/pull/1342 just in case you need something to look into.

[2018-12-17 09:59] davigonz commented on #1015
Great! Thanks

[2018-12-17 10:45] sd1998 commented on #1015
@davigonz I the select inverse option also required?

[2018-12-17 11:38] davigonz commented on #1015
It would be great to have it, yes, similar to we already have in the file list.

[2018-12-17 11:42] davigonz commented on #2283
Thanks @hannesa2 for your feedback, I agree with you, Android O seemed to be harder that P, we dealt with background tasks as well.

[2018-12-18 07:14] hannesa2 opened #2401 "security/snyk tool makes all PR red"
This `security/snyk` tool makes all PR red when we remove a module, please can someone fix it or remove it ?

<img width="160" alt="image" src="https://user-images.githubusercontent.com/3314607/50137702-49ee0480-029c-11e9-9df0-6e34526f9ea7.png">

@DeepDiver1975 @davigonz

[2018-12-18 07:40] hannesa2 commented on #2394
In my point of view, this issue has very high (or highest) priority.
But I can't fix, because my real device has loose connection and on Emulator I do no picture make.
@davigonz I guess you are the right person, at least the code lines have your name

[2018-12-18 09:09] DeepDiver1975 commented on #2401
in which PR? Please post a link. THX

[2018-12-18 09:58] michaelstingl commented on #2401
@DeepDiver1975 please check this one
https://github.com/owncloud/android/pull/2076

[2018-12-18 10:01] DeepDiver1975 commented on #2401
Okay - once merged please ping me again and I'll remove that from snyk.

## Background - Why not remove right away?
This can leave the master/develop branch with vulnerabilities until the merge.

[2018-12-18 10:12] PVince81 commented on #1658
Similar issue observed here by @dttpy on Samsung J6 with Android 8 and the latest ownCloud Android app. She doesn't use instant picture upload but manually uploads using the upload button, then selecting the pics from the SD card. The pictures are copied, not moved.

I also wonder if it could be some kind of permissions issues.

[2018-12-18 10:38] DeepDiver1975 commented on #2401
I guess we can close this - objections?

[2018-12-18 11:05] hannesa2 commented on #2401
The lib repo has the same issue
https://github.com/owncloud/android-library/pull/224
https://github.com/owncloud/android-library/pull/203

[2018-12-18 16:57] #2044 closed

[2018-12-19 07:03] hannesa2 commented on #2399
Android X needs Android P https://github.com/owncloud/android/issues/2283
I've to update

<img width="209" alt="image" src="https://user-images.githubusercontent.com/3314607/50204270-808f5200-0364-11e9-8274-7715a606226b.png">

[2018-12-19 07:12] hannesa2 commented on #2283
This is the attempt to Android P as well https://github.com/owncloud/android/pull/2402

[2018-12-19 07:13] hannesa2 commented on #2399
PR https://github.com/owncloud/android/pull/2402

[2018-12-19 07:54] hannesa2 commented on #2394
It would be nice to have this https://github.com/owncloud/android-library/pull/225 to have a more easy investigation

[2018-12-19 07:56] hannesa2 commented on #2401
@DeepDiver1975
Ok, this repo has this issue any more, but it still exists in https://github.com/owncloud/android-library/pull

[2018-12-19 08:15] DeepDiver1975 commented on #2401
Ping me on each PR individually after merge and I take care. THX a  lot

[2018-12-19 08:15] #2401 closed

[2018-12-19 09:48] davigonz opened #2403 "[New architecture] Get public shares for a file"
**Get public shares for a file** is the first use case to start implementing #2351 , following the next architecture:

![1 1 get public shares for file](https://user-images.githubusercontent.com/15261363/53404435-f7287b80-39b5-11e9-83bd-0ebd6aaf5aab.png)

Thanks to the `ViewModel` and `LiveData` , the shares shown in the view will be binded to the database, updating them automatically when a new c

[2018-12-19 10:10] jesmrec commented on #2396
One thing: currently, you can select the source folder for your camera uploads. If you install a different camera (not the built-in one), you can also select the folder of such camera as source.

You wrote:

my question is... at the same time?

Please, clarify a bit the scope of the issue

[2018-12-19 11:13] jesmrec commented on #2228
yes @sd1998. Before the feature elaboration, support of the capabilities etc... we should discuss about the UI look to show (check the webUI is a good point to start)

[2018-12-20 11:42] #2374 closed

[2018-12-20 11:49] #2303 closed

[2018-12-22 22:40] heppel commented on #2344
Just waiting a few hours fixed the issue for me. Probably something expired from some cache. Or some cleanup task finally did it's work. Or ...

[2018-12-24 10:33] sd1998 commented on #2228
@jesmrec I am unable to check the web UI as am unable to access owncloud-server hosted from docker due to some issues in my system could you suggest an alternative way to access the UI? Thanks.

[2018-12-26 17:11] schwedenmut opened #2407 "Google Camera modes broke camera upload feature"
### Actual behaviour
While using the default Google Camera application on my Pixel 2, all normal taken pictures are considered by the Camera Uploads feature. But by using effekts like Portrait, Panorama, Burst mode, the images will not be synchronized to OwnCloud.

I checked both on 415f88f79051aeb9d36f1fc4217ae65a8d2527f5, current [ownCloud 2.9.3](https://play.google.com/store/apps/details?id=com

[2018-12-26 19:20] schwedenmut commented on #2407
btw. I went ahead to check for a quick poc - after changing [CameraUploadsSyncJobService.java#L130-L132](https://github.com/owncloud/android/blob/master/owncloudApp/src/main/java/com/owncloud/android/files/services/CameraUploadsSyncJobService.java#L130-L132) from
[code]
to
[code]
the pictures from different modes of Google Camera will be uploaded.
This definitely is only a quick and ugly way to fi

[2018-12-27 06:38] sd1998 commented on #879
@jesmrec I would like to work on this.

[2018-12-29 09:21] hannesa2 opened #2413 "Travis deterministic release build"
With this line, I mentioned you don't use Travis to build release version
https://github.com/owncloud/android/blob/415f88f79051aeb9d36f1fc4217ae65a8d2527f5/owncloudApp/build.gradle#L105

I would be nice to have a deterministic build chain.
This means :

- add a tag builds automatic a release version
- uploaded to PlayStore Alpha
- in app you can see the Travis build with commit in preferences

In

[2018-12-29 11:45] hannesa2 commented on #2394
"Before fixing something, first we need to reproduce it and this is not the case." ... I can do it on my wife's and my device. Pixel and Pixel 2 both with Android P.

It looks like this `created before period to check, ignoring` prevents the upload.
https://github.com/owncloud/android/blob/415f88f79051aeb9d36f1fc4217ae65a8d2527f5/owncloudApp/src/main/java/com/owncloud/android/files/services/Camera

[2019-01-01 09:17] sd1998 commented on #695
@jesmrec Is this required?

[2019-01-02 09:14] davigonz commented on #2394
@hannesa2 we have to reproduce it in our side so we can fix and properly test it, I'm not saying you invented it, I trust you.

Camera uploads feature, as `...whatever.jpg created before period to check` said in your _currentLog.txt_, **does not upload pictures taken or videos recorded before enabling the feature**, there's a warning message about that when you enable the feature as well.

For exa

[2019-01-02 09:17] davigonz commented on #879
Go for it!

[2019-01-02 09:18] davigonz commented on #2228
Maybe https://demo.owncloud.org/? But I would recommend you to try to fix you docker issues as well 😄

[2019-01-02 13:00] davigonz commented on #2413
Thanks a lot @hannesa2 for the detailed explanation though we are thinking in using Bitrise, let's see

[2019-01-02 16:48] hannesa2 commented on #2394
And how to enable to sync my older, not synced files ?

[2019-01-02 16:59] hannesa2 commented on #2394
### Android camera view, these are just the last ...
![image](https://user-images.githubusercontent.com/3314607/50602474-a74a9e00-0eb7-11e9-8105-b70568708408.png)
here I can scroll down and see tons of other picture

### In Owncloud:
This is ALL
![image](https://user-images.githubusercontent.com/3314607/50602498-b7fb1400-0eb7-11e9-99c6-94868c94c2d3.png)

You see just four !

[2019-01-03 08:38] davigonz commented on #2394
@hannesa2 what I see in the logs and taking into account the photos you have, if **Camera uploads** feature detects `/storage/emulated/0/DCIM/Camera/IMG_20181228_144728_1.jpg` as created before period to check is because it should have uploaded a picture created after that moment, have a look at https://github.com/owncloud/android/blob/master/owncloudApp/src/main/java/com/owncloud/android/files/se

[2019-01-03 08:41] davigonz commented on #251
Hi @FStrohmeier , any update on this?

[2019-01-03 08:45] davigonz commented on #643
Since camera uploads are not instant anymore and now there's a delay of 15 minutes because some background restrictions in Android, this issue can be closed

[2019-01-03 08:45] #643 closed

[2019-01-03 08:47] davigonz commented on #2394
Uploading them, syncing older files is not the aim of Camera uploads feature.

[2019-01-03 11:32] FStrohmeier commented on #251
Hi, @davigonz, sorry no update as I am not using the app anymore.

Kind regards,
Franz

[2019-01-03 12:13] davigonz commented on #251
Let's close this then, if there's any other issue about that topic, please reopen

[2019-01-03 12:13] #251 closed

[2019-01-04 16:17] michaelstingl commented on #2413
We plan to use Bitrise for CI to auto-build every commit in every PR. Release builds for Play Store distribution shouldn't be build in a SaaS black box.

[2019-01-05 08:12] hannesa2 commented on #2413
If it reflect in a deterministic release build Bitrise is perfect.

Btw, I read 'plan'. The (interim) Travis solution could be live in 30 minutes, if someone provides necessary files and provide variables in Travis

[2019-01-05 08:12] #2413 closed

[2019-01-07 11:00] PVince81 commented on #10
Some use case for this: when you have a big photo collection and want to be able to view it offline.
On some tablet, the internal space is not enough so one must resort to using a micro SD card which enables much more space.

[2019-01-07 13:04] michaelstingl opened #2420 "Rename in PR#2405 broke daily transifex job"
Rename in PR #2405 broke daily transifex job:
https://github.com/owncloud/android/blob/master/.tx/config

@davigonz please adjust to fix. (ping @tboerger to test after merge)

[2019-01-08 07:49] davigonz commented on #2420
Thanks @michaelstingl for reporting this, the fix is already in #2421 , we will merge it asap.

[2019-01-08 08:53] tboerger commented on #2420
Solved, you can check it out at https://drone.owncloud.com/owncloud/translation-sync/342/21

[2019-01-08 08:53] #2420 closed

[2019-01-08 08:54] jesmrec commented on #2228
@sd1998 was you able to check the info? if not, i can ellaborate and paste you some screens about the feature.

[2019-01-08 09:04] sd1998 commented on #2228
@jesmrec I could not find the UI corresponding to this(when talking about password capabilities we are talking about the ability to set password for different actions(read, write or upload) on a file or directory while sharing right?). A little ellaboration would be helpful. Thanks.

[2019-01-08 09:32] jesmrec commented on #2228
You can find the capabilities in the server admin dashboard, Sharing option:

![screen shot 2019-01-08 at 10 23 37](https://user-images.githubusercontent.com/14894746/50821526-b609d880-132f-11e9-9b14-3da8482a9aaa.png)

Depending on the values selected there, in the capabilities request will be sent the values as i posted in the first message.

In the app:

![screen shot 2019-01-08 at 10 31 06](htt

[2019-01-08 22:57] moshpirit commented on #2367
It works with Nextcloud if it helps

[2019-01-09 09:12] davigonz commented on #2367
Could you write here your username or a similar one with the same format? Thanks

[2019-01-09 09:59] moshpirit commented on #2367
Alberto Aru

[2019-01-09 12:15] davigonz commented on #2367
@moshpirit I have downloaded ownCloud 2.9.3 for Android from F-Droid as you did and tried with the user `Alberto Aru`. The login works properly and folder browsing as well.

[<img src="https://user-images.githubusercontent.com/15261363/50898786-7bc43800-1410-11e9-9d10-da8549d3c3f5.gif" width="400px"/>](https://user-images.githubusercontent.com/15261363/50898786-7bc43800-1410-11e9-9d10-da8549d3c3f5

[2019-01-09 23:13] jonas740 commented on #2348
I have this issue with a fresh install. latest version of everything.

Set it all up today and not working. A cloud service that isnt reliable ?

[2019-01-10 08:15] jonas740 commented on #2348
@jesmrec owncloud 10.0.10 (stable)

Tried latest owncloud app and also the owncloud.de app.

Same problem on both. Cant really figure out why this error comes up. The owncloud server is a fresh install.

[2019-01-10 13:10] hosy opened #2422 "Download progress bar is still visible after successfully download"
### Actual behaviour
I click on a file, which is locally not available. Download view does appear and file will be downloaded.

### Expected behaviour
Progress bar should be hidden, after file was successfully downloaded (progress 100%)

### Steps to reproduce
1. Click on a file which is not downloaded on device
2. Download view is opened and shows download progress
3. After file was downloaded, p

[2019-01-10 13:11] hosy commented on #2422
![screenshot_20190110-115407](https://user-images.githubusercontent.com/736109/50970415-93b7bc80-14e1-11e9-9dcb-79f94f91c565.png)

[2019-01-10 14:15] jesmrec commented on #2348
is it posible to send us a test account to apps@owncloud.com? so, we can test directly what's going on.

[2019-01-10 15:24] jonas740 commented on #2348
@jesmrec Sure.

You mean that you want me to create a user for you to my owncloud page? Or what is it that you want.

I think its what you want so ill fix that and mail you this evening.

[2019-01-10 17:31] jesmrec commented on #2348
this is, a user so i can login in your server and check what happens

[2019-01-10 17:33] jonas740 commented on #2348
@jesmrec

I sent you a mail to apps@owncloud.com with log in details.

[2019-01-11 12:17] jesmrec commented on #2348
i check your server test account, from my side is working: i was able to login and perform basic actions (create folder, upload, download, browse, share).

Maybe database became corrupt or internal error happens. If you can try to remove the account, or event, reinstall the app and check, we can discard the problem is that one.

Just for clarification:

- Which Android version does your device use

[2019-01-11 13:53] jonas740 commented on #2348
@jesmrec haha what did you do? Because now it worked for me to log in with my account.

How strange is this?

And yes it is version 2.9.3

[2019-01-11 14:44] jonas740 commented on #2348
Very very strange that it all of a sudden just works. Could something have happened after i created that user for you or something like that.

[2019-01-11 17:05] jesmrec commented on #2348
diffucult to say... i will close again. If you notice something weird, please reopen o send a mail to apps@owncloud.com

[2019-01-11 17:05] #2348 closed

[2019-01-14 06:10] jonas740 commented on #2396
I recently discovered this problem.

When I got my new phone the photos are saved in one folder and my videos in a seperate one.

In owncloud you can only select one of theese folders as source.

[2019-01-15 10:16] #2292 closed

[2019-01-17 09:32] AbithaAntony commented on #2182
I am getting same crash in Samsung s7 OS version 8.0.0

[2019-01-18 09:00] davigonz commented on #2394
We fully tested the feature with timestamp solution and is working pretty fine. Which potential errors should we consider in your opinion?

Hmm, think that's not a good approach IMHO.

The app is not working wrong in this scenario, your expectations were wrong about the feature. What we could do to avoid this misunderstanding and future ones is including a message saying that the camera uploads fe

[2019-01-18 09:12] davigonz commented on #2182
Hi @AbithaAntony , don't you have any pending updates after 8.0.0? This was fixed with an Android update, at least within Android stock.

[2019-01-19 21:34] daxiong0513 opened #2425 "Unable to replace a new sync url(owncloud server address) on my phone"
### Actual behaviour
- I get owncloud client app from Google Play, the latest one,2.9.3 (2018.Nov updated)
before that, I created an owncloud server url monthes ago,it is a local network url. Just for testing some server feature.
Now, I would like to use an official server url/address to replace old one.
It is failed. Now it shows the first page ("please type your server address________"),
and onc

[2019-01-19 22:43] hannesa2 commented on #2394
pretty fine ? I'm not sure
![image](https://user-images.githubusercontent.com/3314607/51433084-393a0100-1c43-11e9-8796-4c6ce6f439fa.png)
I use the app for a long time and since this timestamp solution is invented, the app synced only four (4 !) files for the whole year 2018.

At least there is a huge room for missunderstanding. But this word is IMHO a diplomatic word for something other

[2019-01-20 20:20] vikene commented on #2422
Hey @hosy and @jesmrec , Can I look into this issue ?

[2019-01-21 07:49] davigonz commented on #2394
Having reports from people who say that camera uploads do not work for them doesn't mean that the feature is not working fine, this issue is an example of it. Most of the users didn't properly configure the uploads path, that's why we included a [new warning dialog](https://github.com/owncloud/android/issues/2303).

I have analyzed your logs and suggested possible causes in [this comment](https://

[2019-01-21 07:57] jesmrec commented on #2394
how many pics did you take in such year? about my comment, we planned the solution to warn users about the correct behaviour (already merged). I can also assure you that the number of reports decreased strongly from the latest @davigonz implementation.

[2019-01-21 17:43] hannesa2 commented on #2394
@jesmrec I took ~100 pictures. I'm on latest master  (including https://github.com/owncloud/android/issues/2303) and got no warning

[2019-01-22 07:50] davigonz commented on #2394
The warning appears when enabling the camera uploads feature, maybe you've not enabled it since then because is already enabled in your app.

[2019-01-22 10:46] davigonz opened #2426 "Notch support"
### Actual behaviour
- Notch appears over additional account icon,  making it not show well.

[<img src="https://user-images.githubusercontent.com/15261363/51530449-3dc90a00-1e3b-11e9-82d7-01d87c671683.png" width="300px"/>](https://user-images.githubusercontent.com/15261363/51530449-3dc90a00-1e3b-11e9-82d7-01d87c671683.png)

### Expected behaviour
- Icons for additional accounts should not be cove

[2019-01-22 11:39] davigonz commented on #2425
Hi @daxiong0513 , thanks for reporting this, is the official server url/address you are using accessible via web for example? Thanks

[2019-01-22 12:19] freestate opened #2427 "Can not sync shared group calendars with mobile device."
### Actual behaviour
- I don't get appointments on my mobile device. Icsx5 works for my web calandar. Appointments that are from a Group on my OwnCloud do not show up.

### Expected behaviour
- A new Calandar in davx5 that syncs with my mobile device.

### Steps to reproduce
1. Add Group on your OwnCloud and add users
2. Make some calandar entrys
3. Sync cal of some user from group

### Not tested

[2019-01-22 12:55] davigonz commented on #2427
Guess this is duplicated of https://github.com/owncloud/android/issues/1871, please follow up there.

[2019-01-22 12:55] #2427 closed

[2019-01-22 16:53] davigonz commented on #2228
Not sure if I have misunderstood what is needed here but after checking the current Android app behaviour, it is currently doing the same as Web UI - "Web UI does not allow to save the public links if the option selected has the password enforced".

- Enforce password protection for **read-only** links and create a share with **Download / View option**  => **NOT ALLOWED**

![download view](https:/

[2019-01-22 17:02] michaelstingl commented on #2228
https://marketplace.owncloud.com/apps/password_policy needed?

[2019-01-22 17:02] michaelstingl commented on #2228
@pmaier1 Could you explain the ownCloud server behaviour and what's missing in the iOS app?

[2019-01-22 17:36] jesmrec commented on #2228
The only solution for this problem is displaying/showing dinamically the `*` near to `Password` depending the selected option.

I mean, if you enable one of the three capabilities to handle the password protection (f.ex., for Read-only), the label `Password` will have always the `*`, even though you select `Only Upload` where the password is not enforced.

[2019-01-22 18:04] davigonz commented on #2284
@michaelstingl the web UI shows the additional info even after saving the share, not only when searching.

<img width="283" alt="screenshot 2019-01-22 at 19 01 29" src="https://user-images.githubusercontent.com/15261363/51555589-3bd16c00-1e78-11e9-9873-dc6940edc40d.png">

But I would say that the code included in https://github.com/owncloud/client/pull/6837/files only shows the additional info whe

[2019-01-22 18:08] davigonz commented on #2228
So the support is already implemented and just the * improvement is pending.

[2019-01-23 02:41] daxiong0513 commented on #2425
Hi Davigonz,
Thank you for help.
Yes, that link can be accessed via web. I can use chrome browser to open that url/address anywhere.

[2019-01-23 08:03] davigonz commented on #2425
@daxiong0513 are you using special characters in your username?

[2019-01-23 08:31] jesmrec commented on #2228
In order to set the * is needed to fetch the capability `enforced_for` , persist it in the database, and depending on the selected field, display it or not... so finally you are adding support beyond the UI. Tell me if i am wrong @davigonz.

[2019-01-23 09:32] jesmrec commented on #2228
Other approach is removing the * and when the password is enforced and not typed, a message error is shown. Core works in this way. Personally i do not like the core approach so it is very generical... splitting the capability allows us to show more accurate messages.

[2019-01-23 11:22] jesmrec commented on #1878
@chucklz1515 is this problem still reproducible?

[2019-01-23 11:55] davigonz commented on #2228
Yes, you're right, if we want to show the * in advance we have to persist the capability somewhere.

Do you mean like the scenarios I included in https://github.com/owncloud/android/issues/2228#issuecomment-456474735? If so, that's why I thought the support was already included, because without the *, the app is doing exactly the same as web UI.

They use the messages that come from the server, sa

[2019-01-23 15:47] deechte commented on #1590
@jesmrec after so much time, I don't even remember which folder it was. I'm three Android devices further in time. Nevertheless, I can't recall having seen a crash lately. Maybe it's fixed.

[2019-01-23 16:07] jesmrec commented on #1590
ok, please, if you notice again this behaviour, feel free to reopen or create a new issue. Thanks.

[2019-01-23 16:23] davigonz commented on #1799
@michaelstingl the switch to enable/disable light filtering from other apps is already in https://github.com/owncloud/android/pull/2429 and will be disabled by default in PlayStore release, but what about including a new option in the app so that end users can also enable/disable it under their own responsibility, after accepting a warning dialog?

[2019-01-23 16:30] PVince81 commented on #1799
side note: Android 9 has built in night mode and doesn't seem to affect the app any more, I'm using that now.

[2019-01-23 17:26] jesmrec commented on #2228
The purpose is that each kind of permission has its own password enforcement. Web does not take advantage, but it does not use the capability as the mobile clients does either (they do not get the JSON file). For example, web client never showed "*" in case of enforcement. Mobile clients did from scratch.

The only aim of this issue is the one explained here: https://github.com/owncloud/android/is

[2019-01-23 19:18] michaelstingl commented on #1799
👍

[2019-01-24 00:16] chucklz1515 commented on #1878
@jesmrec unfortunately no.

I can no longer access this phone as it stopped turning on a year and a half ago prompting me to buy a Xiaomi.

I also switched to Nextcloud.

[2019-01-24 07:33] jesmrec commented on #1878
thanks for responsing.

[2019-01-24 07:33] #1878 closed

[2019-01-25 11:07] jesmrec opened #2430 "Switch CI support to BitRise"
As currently is doing in the new iOS app, BitRise CI is a good tool to integrate with in the mobile world. It improves the performance like Travis, and will let us to have all the CI infra together under the same environment.

Since the new architecture components is going on (https://github.com/owncloud/android/issues/2403), will let us to develop more test and trigger them por push and pr, a ste

[2019-01-25 11:23] jesmrec opened #2431 "Upgrade min version (currently API 14 - Android 4.0)"
Currently, the min version supported by the app is 4.0:

https://github.com/owncloud/android/blob/980d9c73a953e708a6798aa5dc0164a21897c17a/owncloudApp/build.gradle#L66

Android 4.0 (and older) are used by a residual amount of users:

https://developer.android.com/about/dashboards/

We can not forget that there are also some features not supported for such version, f.ex. the ones that take advantag

[2019-01-27 16:59] hannesa2 commented on #2431
Without wasting any second I would go to 19. You loose 3 % of users, and yes that's true, they will stay at Owncloud 2.9.3 for ever (till they buy a new device)

Switching to 21 is a step, which I would do, if in development an annoying issue appears and an easier solution is going to 21 helps a lot. It's a trade off between afford and advantage
Then the next 7% stay at Owncloud 2.x.x for ever (ti

[2019-01-27 17:04] hannesa2 commented on #2407
Taste to a relation of
https://github.com/owncloud/android/issues/2249
https://github.com/owncloud/android/issues/2394 (not really solved)

[2019-01-27 17:09] Ryion404 commented on #2212
Good day, I have had what appears to be the same problem for months. I am also on the beta version.

Own cloud version 2.9.3
Android 9
Pixel 3.

I don't find anything about logs under settings. Can you help by pointing me to directions for gathering logs? I will email them once I can get ahold of them.

Thank you for your time!

[2019-01-30 05:21] hannesa2 commented on #2359
I vote at least for a removement of the PR-must-based-on-recent-master rule and accept such a git flow
<img width="62" alt="image" src="https://user-images.githubusercontent.com/3314607/51959941-05d34f80-2457-11e9-8eef-0febf22a25ae.png">

Advantage: the annoying "please rebase on master, then we can merge" tasks are gone

[2019-01-30 12:01] davigonz commented on #2359
Do you mean do not merge any feature till we release a new version? That's what I see in the git flow you attach.

[2019-01-30 18:14] hannesa2 commented on #2359
Sorry bad example, I hope the clarify it
<img width="81" alt="image" src="https://user-images.githubusercontent.com/3314607/52002708-f4c02800-24c2-11e9-8e7b-32f65768d602.png">
PR-must-based-**NOT**-on-recent-master rule

Instead of current
<img width="33" alt="image" src="https://user-images.githubusercontent.com/3314607/52002795-29cc7a80-24c3-11e9-85ce-0c2ed3bd3def.png">
PR-must-based-on-recent-m

[2019-01-31 07:43] davigonz commented on #2359
So you propose to use merge instead of rebase, is that correct? Could you give us an example by using branch names like the ones we use here?

[2019-01-31 18:03] hannesa2 commented on #2359
Correct, merge instead of rebase ! It avoids tons of "_please rebase on master_"

All development is done in master and after a `release_2.9.2` was created, only cherry picks to `release_2.9.2` will be done.

No merge `release_2.9.2` to `master` is valid. This cross merge makes confusion.

-my suggestion-

[2019-01-31 21:59] hannesa2 commented on #2359
Ordinary I'm a rebaser, but when you work in a big team with a lot parallel epics, I mutated to a merger.
When here code format or lints are merged within hours, then I like rebase. But to be honest, this is not the reality (sorry, it's not to blame someone. It's just to explain)
What me make here to a merger, is that even simply commit needs weeks to month to be merged.

[2019-02-02 18:02] drtrigon opened #2433 "Please add support for ownCloud 7/8 back into Version >=2.9.3"
### Actual behaviour
- Installed the most recent version of the client (due to OS update to Android 7 etc.) and now I cannot setup an account anymore. It throws an error "Fehlerhafte Server Konfiguration". My server uses an own certificate I have to confirm first once.

### Expected behaviour
- I should be able to setup my account and use the client. The server configuration has not been changed a

[2019-02-02 19:47] drtrigon commented on #2433
As FolderSync for ownCloud 7/8 works I suspect it beeing an old protocol. Could you please add support for it back in? I used to be there...

[2019-02-03 10:48] michaelstingl commented on #2433
@drtrigon the ownCloud Android client used an ancient networking library for a long time. The [main issue with discussions](https://github.com/owncloud/android-library/issues/51) was opened back in 2015. In 2018, the team invested heavily in fighting technical debt, so they started to migrate to the widely used [OkHttp](https://github.com/square/okhttp) library and worked with the DAVx5 (former DA

[2019-02-03 10:48] #2433 closed

[2019-02-04 08:19] michaelstingl commented on #2359
Could the merge button options help here?

![options](https://user-images.githubusercontent.com/214010/52196928-f6d90c80-285d-11e9-878b-4422fa2ff5c1.png)

In the repo of the new iOS app, we only have the squash-merging button enabled.

[2019-02-04 09:13] davigonz commented on #2359
IMHO, choosing rebase or merge is not a matter of having the features merged asap but a matter of what a team and a project needs. In our case, having an ordered history is what we wanted/needed till now and using rebase provides us that because we have the commits ordered by feature and not mixed in case we want to know where a specific issue comes from.

Maybe allow rebase merging? Documentation

[2019-02-04 16:51] hannesa2 commented on #2359
Normally speed matters, but not everywhere. So you stay on recent behavior

[2019-02-07 09:59] davigonz commented on #2285
Hi @byTschus , did you finally make the camera uploads work?

[2019-02-07 10:02] davigonz commented on #2034
Hi @daincredibleholg , is this already working for you?

[2019-02-07 10:10] davigonz commented on #2253
@cdutsov is this still reproducible?

[2019-02-07 12:03] davigonz opened #2436 "Replace the ownCloud file picker with the Android one when uploading files"
We could replace our current file picker with the Android one based on [Storage Access Framework (SAF)](https://developer.android.com/guide/topics/providers/document-provider), making simple for users to browse and upload documents, images, and other files.

This is what we currently have to upload files from the Android internal storage.

| Tap upload button | Select  files | oC custom file picke

[2019-02-07 12:14] jesmrec commented on #2436
this is a step forward since we get rid of features that are already supported by the framework. By placing the `Uploads from Camera` in other small button from the FAB we will not lose features and will have an straighforward way to upload files from other locations. Works for me.

[2019-02-07 12:23] davigonz commented on #2436
Yes, that was my first approach but I discarded it because if we include the _Uploads from Camera_ button in FAB, then there will not be enough room for coming features, specially when using the app in landscape mode. Keeping the bottom sheet is better imho since is more flexible and can be scrollable.

![filelist](https://user-images.githubusercontent.com/15261363/34608939-0468458e-f21b-11e7-8594

[2019-02-07 16:47] michaelstingl commented on #2436
Yeah, I always vote for the more native implementation and simplification 👍

[2019-02-08 08:46] cdutsov commented on #2253
The error seems to be fixed.
ownCloud Android app version: 2.9.3
ownCloud server version: 10.0.10.4

I think that you can mark this as fixed. :)

[2019-02-08 11:02] davigonz commented on #2253
Great @cdutsov ! Thanks

[2019-02-08 11:02] #2253 closed

[2019-02-08 11:36] jesmrec commented on #2362
Still reproducible

[2019-02-09 07:38] opfeifer commented on #2396
I would like to add that I have have sub-folders for each camera app inside the DCIM folder, on the phone as well as on the SD card. However, I cannot even select a folder outside of the standard path, since all folders above seem to be empty if I browse them, and I cannot edit the path otherwise.

[2019-02-09 12:54] hannesa2 opened #2441 "Lint check during PR ?"
<img width="824" alt="image" src="https://user-images.githubusercontent.com/3314607/52521092-2a5ad300-2c72-11e9-961e-c25df0ba666c.png">

Ok, it needs a PR, but I vote for lint error check during PR

### PRs:

https://github.com/owncloud/android/pull/2736

[2019-02-09 13:03] hannesa2 commented on #2441
Android Studio has not only this bug. Reopen Android Studio solves it.

But I vote for lint error check during PR

[2019-02-09 15:49] hannesa2 commented on #2441
at least the errors should be removed
<img width="513" alt="image" src="https://user-images.githubusercontent.com/3314607/52522811-9ea17080-2c8a-11e9-818d-0f2a4ec2f894.png">

[2019-02-09 22:21] drtrigon commented on #2433
Thanks for the intressting insights!

What would you recommend? What app, what version?

[2019-02-10 08:12] hannesa2 commented on #2433
An other way could be to makes it yourself.

These are the recent tags
<img width="179" alt="image" src="https://user-images.githubusercontent.com/3314607/52531271-dbb14580-2d12-11e9-845f-0096ed427970.png">
Checkout eg `git checkout -b oc-android-2.8.0 oc-android-2.8.0` and build your own version, but of course, you have to handle the release keystore for your own.
This needs some extra work https

[2019-02-10 09:31] michaelstingl commented on #2433
2.8.0 works fine with the older ownCloud versions. It's in the “F-Droid Archive” repository. Also _FolderSync_ you mentioned is an awesome app.

[2019-02-10 13:36] hannesa2 commented on #2394
Now I made a picture and I'm able to [filter for that now](https://github.com/owncloud/android/pull/2440) so it's easier to investigate (unfortunately the line is long and needs 3 screens)

![image](https://user-images.githubusercontent.com/3314607/52534250-98b99700-2d3f-11e9-8486-96ddccba6806.png)
![image](https://user-images.githubusercontent.com/3314607/52534252-9f480e80-2d3f-11e9-9dce-480a56a2

[2019-02-10 13:41] hannesa2 commented on #2394
Going deeper in log and observe the near time range I see L6484

It looks like it crashes and app is starting again !
But Owncloud logger don't share any information !

![image](https://user-images.githubusercontent.com/3314607/52534432-9c4e1d80-2d41-11e9-908f-c75826b6fcf6.png)

[2019-02-10 17:42] hannesa2 commented on #2394
Now I'm able to see, what's wrong https://github.com/owncloud/android/pull/2440

[2019-02-10 21:22] hannesa2 commented on #2394
Because `AndoridX https://github.com/owncloud/android/pull/2402 solves it for me, its for me done, but I would not surprised when other user run into same too.

#### Either this branch 4afb54fb0e2a3 causes it:
pro: you do not see a crash or a log entry, it's just not working
con: There must be more then a few of people out there, having this issue and I assume it was tested

#### Or installation o

[2019-02-11 16:11] daincredibleholg commented on #2034
I need to double check. But last time I did, it was still broken.

[2019-02-12 12:37] jesmrec commented on #1015
Done. Will be available in 2.10

[2019-02-12 12:37] #1015 closed

[2019-02-13 16:26] davigonz opened #2446 "[2.10.0 beta v1] Release new beta version"
### TASKS:
 - [x] [COORDINATION] Get in touch with community/marketing team to publish a blog post, several days before releasing.
 - [x] [DEV] Create **release/2.10.0_beta_v1** branch from master and:
         - Update version code and name in build.gradle.
         - Update changelog file (< 500 chars)
 - [x] [QA] Perform some tests @jesmrec
 - [x] [DEV] Merge **release/2.10.0_beta_v1** branch i

[2019-02-13 17:18] #2399 closed

[2019-02-13 18:38] #2394 closed

[2019-02-14 09:26] davigonz commented on #2446
@jesmrec you can start with some tests

[2019-02-14 09:57] davigonz opened #2450 "[New architecture] Create public shares"
Let's continue implementing the [new architecture](https://github.com/owncloud/android/issues/2351)  with a new use case, **Create public shares for a file** , following the next architecture:

![owncloud android app architecture](https://user-images.githubusercontent.com/15261363/52778836-2c90a900-3047-11e9-8347-e96ce9e2e20d.png)

_____
### TASKS

- [x] Include insert share query in OCShareDao
-

[2019-02-14 12:21] #2283 closed

[2019-02-14 13:13] Citrodata opened #2451 "Login fails with "§" in password"
### Actual behaviour
- We can login with a User

### Expected behaviour
-Login in with a User

### Steps to reproduce
1.  Set the Password of a User to QWERTZqwert123456!"§$%&
2. Login with App

### Error
Wrong User
We are using LDAP

Can this problem be reproduced with the official owncloud server?
(url: https://demo.owncloud.org, user: test, password: test)

No only if the Password is QWERTZqwer

[2019-02-14 16:23] michaelstingl commented on #2451
@Citrodata You can login with admin:admin, and create a new user.

I played with it a bit, and it seems the length isn't a problem. This Password worked too:
`QWERTZqwert123456!"$%&evenlonger`
^ I removed the "`§`" character

On the other hand, short passwords with "`§`" character don't work:
`123§`

ownCloud 2.9.3 on Pixel 3 XL running Android 9

[2019-02-17 19:01] jonas740 commented on #2396
So, is this feature added yet to the application ? Only seen a beta 2.10 version release but dont know if this feature is added into that one. Should not be very hard to implement this feature.

[2019-02-18 07:26] jesmrec commented on #2396
@jonas740 the feature is not implemented yet

[2019-02-18 07:35] davigonz commented on #2396
If you know how to implement this, maybe you could send us a contribution, we will really appreciate it! 😉

[2019-02-18 08:12] jonas740 commented on #2396
@davigonz ye, send me the code and ill do it. Since there already is one entry for choosing a folder. It should not be anything more then to "copy/paste" that and tweak it just a little bit.

But I think you could manage that yourself.

Its not like you have to invent the wheel all over again. ;)

[2019-02-18 09:18] jesmrec opened #2453 "[Release] 2.10.0"
### TASKS
 - [x] [COORDINATION] Ping community guys to publish a blog post, at least one week before releasing.
 - [x] [GIT] Create branch release_2.10.0 in owncloud/android from master
 - [x] [GIT] Create branch release_1.0.0 in owncloud/android-library from master
 - [x] [DEV] Update min version to 19 + remove Jelly Bean workaround
 - [x] [DEV] Update version number and name in build.gradle in a

[2019-02-18 09:20] jesmrec commented on #2453
For this release, we can also include https://github.com/owncloud/android/issues/2431

I guess it will carry the removal of the oc_jb_workaround

[2019-02-19 15:37] svvashishtha commented on #2361
I was unable to reproduce this issue.
I already had an account with a username without spaces. Added another one with spaces. Removed the first one and added it again.
The username for the one with spaces appears as <firstname secondname@server_ip>

[2019-02-19 15:45] jesmrec commented on #2361
@abelgardep is currently working on it. Could you reproduce?

[2019-02-19 16:00] abelgardep commented on #2361
Yes, i was able to reproduce it.
I created an account with this username: 'a 1 b 2 c 3'  (without the quotes).
In drawer, this username appears as 'a 1 b 2 c' but it should appear as 'a 1 b 2 c 3@server'
I have not found a fix yet.

[2019-02-19 16:05] svvashishtha commented on #2361
@jesmrec @abelgardep Able to reproduce now. Any username with more than one space will be trimmed.

[2019-02-20 13:01] davigonz commented on #2361
@svvashishtha we are not able to see where the problem comes from, you might want to have a look at it as well, thanks!

[2019-02-20 17:44] #2446 closed

[2019-02-21 01:07] wxy1234567890 opened #2458 "Command failed: gradlew.bat installDebug"
problems as follows:
FAILURE: Build failed with an exception.

* Where:
Settings file 'F:\myRNproject\android\settings.gradle' line: 3

* What went wrong:
Could not compile settings file 'F:\myRNproject\android\settings.gradle'.

  settings file 'F:\myRNproject\android\settings.gradle': 3: unexpected char: '\' @ line 3, column 127.
     ules\react-native-vector-icons\android')

[2019-02-21 06:26] hannesa2 commented on #2458
You are in the right repository ? React native ? Javascript ?

![image](https://user-images.githubusercontent.com/3314607/53148015-9c53e600-35a9-11e9-96ef-dab405f87771.png)

This is my `settings.gradle` I've no `@ line 3, column 127`
I guess there is the source (solution?) of your problem

[2019-02-21 06:26] #2458 closed

[2019-02-21 09:15] jesmrec commented on #2228
Done and merged

[2019-02-21 09:15] #2228 closed

[2019-02-21 11:23] davigonz commented on #2070
This will need to wait a bit more due to architectural changes that are being carried out in the Android app. It makes totally sense to start with chunked upload when the app contains those improvements and avoid additional work. Please follow up https://github.com/owncloud/android/issues/2351 to know the status of the architecture.

[2019-02-21 23:33] cs8898 opened #4049 "invoked 'android.accounts.Account com.owncloud.android.lib.common.OwnCloudAccount.getSavedAccount()' on a null object reference"
I thought i just have used the Sample code, but it seems that there are some issues...

Because i'm trying to get some ics files from the server i needed some webdav client but `sardine-android` isn't working... "Only WebDAV Client allowed" ;/

So i tried that lib included as
`com.github.owncloud:android-library:oc-android-library-0.9.24`

The used Code:
[code]

Heyo here is my Log:
[code]

[2019-02-22 08:24] davigonz commented on #2276
@sd1998 @hannesa2 moving it to 2.11

[2019-02-22 08:52] davigonz commented on #2453
### (1)
1. Upload file
2. Swipe down to see the notifications bar, two upload notifications appear:
 - Notification with upload progress
 - Meaningless notification with progress that does not move forward

Current: two notifications for uploads
Expected: show only one notification

Pixel 2 v9 server 10.0.10

[2019-02-22 13:33] #1799 closed

[2019-02-22 13:54] jesmrec commented on #1929
Incoming version 2.10 will include a Setting option to skip obscuration from apps like Twilight

[2019-02-23 14:16] braniqvranik opened #2459 "Owncloud application crashes when using FTP, SFTP or WebDav Ext.storage"
### Actual behaviour
The app was really good until I changed data sources. When setting your OC to use local filesystem (which is not recommended for security reason), this mobile app was perfect. When I've added NGINX webdav or Apache Webdav storage, the application crashes and is unusable. You click on 3-4 dirs and it crashes, my Samsung J7 closes the app. To the developers: Can you please repli

[2019-02-24 12:00] hannesa2 opened #2460 "Sync of offline made pictures does not work"
When you made pictures offline, the sync waits for ever to sync.

I expected an auto start with Wifi or with 15 minutes periodical sync job

![image](https://user-images.githubusercontent.com/3314607/53298896-2ca55b80-3834-11e9-86a2-30b9368d3da0.png)

### PRs:
- App: https://github.com/owncloud/android/pull/2679

[2019-02-26 15:47] jesmrec commented on #2451
Regression? https://github.com/owncloud/ios/issues/273

[2019-02-26 16:04] #2284 closed

[2019-02-27 13:38] hannesa2 commented on #2393
@davigonz do you have an idea ?

[2019-02-27 17:24] davigonz commented on #2393
@hannesa2 I fixed https://github.com/owncloud/android/pull/2391#issuecomment-467851048 locally, gave it another try and I was able to install both debug and release apks at the same time but the error I get is different from what you have:

[code]

This error is triggered because the storage manager is never created due to https://github.com/owncloud/android/blob/master/owncloudApp/src/main/java/c

[2019-02-27 18:58] tylus opened #2464 "Camera upload only works on specific path when folder is accessible in multiple ways"
When Camera Upload didn't work for me, I noticed that the same folder can be addressed through two different paths on my phone. I know both paths point to the same location because I see the same pictures in both. I don't understand this exactly, but I'm guessing one path is an alias or symlink to the other. I've waited the required 15+ minutes in both cases.

### Actual behaviour
- Camera upload

[2019-02-28 07:52] davigonz commented on #2464
Hi @tylus , thanks for reporting this. I see you are using a beta version, can you please attach here some logs from the Android app? The Logs option is accessible via Settings menu.

[2019-02-28 07:57] davigonz commented on #2460
So the steps to reproduce here are:

1. Disable wifi connection.
2. Enable camera uploads.
3. Take a picture.
4. Wait 15 minutes so the new picture is detected and enqueued
5. Enable wifi

Is this correct? Thanks

[2019-02-28 11:47] svvashishtha commented on #2361
@davigonz I was able to find the root of the problem. Textview clips the text set to it when text  is too large to fit in the given width.
If there's only one space in the username, the username is clipped at "@" or "/" etc. But if there are more than 1 spaces in the username, the username is clipped at the position of last space.
Example
 "s vashisht@192.168.0.65/owncloud"  will be shown as "s va

[2019-03-01 17:58] daincredibleholg commented on #2034
So, sorry for the delay.

I finally managed to check again and was able to switch to my wife's account on the tablet and open the ownCloud app. So it seems to be fixed.

Thanks for fixing this!

[2019-03-04 07:27] jesmrec commented on #2034
Closing it... thanks for reporting and checking!

[2019-03-04 07:27] #2034 closed

[2019-03-04 07:53] davigonz commented on #2393
We are about to release 2.10 version so let's put this off till 2.11.

[2019-03-04 21:18] #769 closed

[2019-03-04 21:19] #985 closed

[2019-03-04 21:21] #2425 closed

[2019-03-04 21:29] hannesa2 commented on #2460
This is the right order :
1. Enable camera uploads.
2. Disable wifi connection.
3. Take a picture.
4. Wait 15 minutes so the new picture is detected and enqueued
5. Enable WiFi
And pictures are still in wait-for-WiFi-mode

[2019-03-04 21:36] #788 closed

[2019-03-04 21:36] #930 closed

[2019-03-04 21:37] #902 closed

[2019-03-04 21:40] michaelstingl commented on #1041
@sd1998 sure, you're the sorting-expert now 👍

[2019-03-04 21:42] #1801 closed

[2019-03-04 21:44] #2079 closed

[2019-03-04 21:44] #2031 closed

[2019-03-04 21:45] #461 closed

[2019-03-04 21:46] #480 closed

[2019-03-04 21:46] #557 closed

[2019-03-04 21:46] #665 closed

[2019-03-04 21:47] #1064 closed

[2019-03-04 21:47] #1097 closed

[2019-03-04 21:47] #1255 closed

[2019-03-04 21:48] #1557 closed

[2019-03-04 21:49] #1899 closed

[2019-03-04 21:50] #1964 closed

[2019-03-04 21:52] #1371 closed

[2019-03-04 21:53] #1374 closed

[2019-03-04 21:55] #1126 closed

[2019-03-04 21:56] #1130 closed

[2019-03-04 21:57] #1132 closed

[2019-03-04 21:58] #1093 closed

[2019-03-04 22:02] michaelstingl commented on #622
2FA/TOTP works fine with [OAuth 2.0](https://marketplace.owncloud.com/apps/oauth2) enabled on the ownCloud server.

[2019-03-04 22:02] #622 closed

[2019-03-04 22:03] #693 closed

[2019-03-04 22:04] #358 closed

[2019-03-04 22:11] michaelstingl commented on #2011
In version 2.9, the ownCloud Android app [switched to a new networking library](https://owncloud.org/news/android-app-release-2-9-1-usability-improvements-new-network-library/). I'd assume this issue is gone. In case this happens again, please open a new issue.  (too many things changed)

[2019-03-04 22:11] #2011 closed

[2019-03-04 22:11] michaelstingl commented on #1983
In version 2.9, the ownCloud Android app [switched to a new networking library](https://owncloud.org/news/android-app-release-2-9-1-usability-improvements-new-network-library/). I'd assume this issue is gone. In case this happens again, please open a new issue.  (too many things changed)

[2019-03-04 22:11] #1983 closed

[2019-03-04 22:12] michaelstingl commented on #1950
In version 2.9, the ownCloud Android app [switched to a new networking library](https://owncloud.org/news/android-app-release-2-9-1-usability-improvements-new-network-library/). I'd assume this issue is gone. In case this happens again, please open a new issue.  (too many things changed)

[2019-03-04 22:12] #1950 closed

[2019-03-04 22:13] michaelstingl commented on #1796
In version 2.9, the ownCloud Android app [switched to a new networking library](https://owncloud.org/news/android-app-release-2-9-1-usability-improvements-new-network-library/). I'd assume this issue is gone. In case this happens again, please open a new issue.  (too many things changed)

[2019-03-04 22:13] #1796 closed

[2019-03-04 22:13] #1387 closed

[2019-03-04 22:14] michaelstingl commented on #793
In version 2.9, the ownCloud Android app [switched to a new networking library](https://owncloud.org/news/android-app-release-2-9-1-usability-improvements-new-network-library/). I'd assume this issue is gone. In case this happens again, please open a new issue.  (too many things changed)

[2019-03-04 22:14] #793 closed

[2019-03-04 22:14] michaelstingl commented on #616
In version 2.9, the ownCloud Android app [switched to a new networking library](https://owncloud.org/news/android-app-release-2-9-1-usability-improvements-new-network-library/). I'd assume this issue is gone. In case this happens again, please open a new issue.  (too many things changed)

[2019-03-04 22:14] #616 closed

[2019-03-04 22:14] michaelstingl commented on #612
In version 2.9, the ownCloud Android app [switched to a new networking library](https://owncloud.org/news/android-app-release-2-9-1-usability-improvements-new-network-library/). I'd assume this issue is gone. In case this happens again, please open a new issue.  (too many things changed)

[2019-03-04 22:14] #612 closed

[2019-03-04 22:16] michaelstingl commented on #470
In version 2.9, the ownCloud Android app [switched to a new networking library](https://owncloud.org/news/android-app-release-2-9-1-usability-improvements-new-network-library/). I'd assume this issue is gone. In case this happens again, please open a new issue.  (too many things changed)

[2019-03-04 22:16] #470 closed

[2019-03-04 22:16] michaelstingl commented on #455
In version 2.9, the ownCloud Android app [switched to a new networking library](https://owncloud.org/news/android-app-release-2-9-1-usability-improvements-new-network-library/). I'd assume this issue is gone. In case this happens again, please open a new issue.  (too many things changed)

[2019-03-04 22:16] #455 closed

[2019-03-04 22:19] #1690 closed

[2019-03-04 22:19] #1740 closed

[2019-03-04 22:22] #1077 closed

[2019-03-04 22:24] #936 closed

[2019-03-04 22:25] michaelstingl commented on #2240
works with https://github.com/owncloud/oauth2/pull/188

[2019-03-04 22:25] #2240 closed

[2019-03-04 23:32] michaelstingl commented on #1436
contacts and calendar aren't in scope of the ownCloud Android app

[2019-03-04 23:32] #1436 closed

[2019-03-05 16:42] jesmrec commented on #2453
### (2)

1. Share a folder which contains some files with another user, with no deletion permission
2. The recipient tries to delete something inside the shared folder

Current: Anything happens
Expected: files are not allowed to be deleted, but snackbar notification is shown

Pixel2 v9

[2019-03-06 08:45] jesmrec commented on #2453
### (3)

Set default mail for feedback to `android-app@owncloud.com` instead of `apps@owncloud.com`

Set mail subject as `Android <version> - Feedback` instead of `Feedback - Android <version>`

[2019-03-06 16:00] jesmrec commented on #2431
Already done as part of #2466

[2019-03-06 16:00] #2431 closed

[2019-03-06 16:34] jesmrec commented on #2453
All fixed. QA approved.

[2019-03-07 10:53] michaelstingl commented on #1799
2.10 with config option to allow this got released in the Play Store:
https://central.owncloud.org/t/owncloud-2-10-for-android-released/18900

[2019-03-07 10:53] michaelstingl commented on #1824
2.10 with config option to allow this got released in the Play Store:
https://central.owncloud.org/t/owncloud-2-10-for-android-released/18900

[2019-03-07 10:53] michaelstingl commented on #1929
2.10 with config option to allow this got released in the Play Store:
https://central.owncloud.org/t/owncloud-2-10-for-android-released/18900

[2019-03-07 11:58] jesmrec opened #2470 "Name conflicting in some actions is not consistent"
The policy in case of name conflicts is not consistent with these actions:

- Copy: If you copy an item inside the same directory, nothing happens.

- Upload: If you download twice the same file inside the same folder, file is uploaded twice with a serial increment number (`file.txt`and `file(2).txt`)

- Rename/Move: if you rename or move an item in any folder that contains another item with the s

[2019-03-07 12:09] sd1998 commented on #2470
@jesmrec I would like to work on this.

[2019-03-07 12:13] jesmrec commented on #2470
@sd1998 it is ok, but first, we have to decide and discuss which one is the behaviour we want to implement for the actions along the described cases. Once we remove the `discussion` label with the final decision, we can ping you. Of course, your opinion is also welcome about the way to proceed.

[2019-03-07 12:37] sd1998 commented on #2470
@jesmrec I think it would be better if on copying and pasting a file in the same directory would copy the file twice with a serial incremented just as in case of uploads.

Thus applying the same ploicy accross both the actions.

[2019-03-07 12:57] jesmrec opened #2471 "Batched permission errors when deleting if you are not granted"
This is something like: https://github.com/owncloud/android/issues/2335

Here the steps are:

1. Share a folder with another user. Do not grant to delete
2. Sharee opens the folder  in the account and try to remove several files by multiselecting

Current: an snackbar appears from each file that is not allowed to be removed
Expected: only one snackbar

### PRs
App: https://github.com/owncloud/andr

[2019-03-07 12:59] sd1998 commented on #2471
@jesmrec I would like to work on this.

[2019-03-08 08:46] #2422 closed

[2019-03-08 13:42] jesmrec commented on #2336
Here we have the official doc about storage access framework:

https://developer.android.com/guide/topics/providers/document-provider?hl=en

in which several examples of different options can illustrate the way to do. I'd go for an epic and several small issues to implement different features of the document provider

[2019-03-08 13:47] davigonz opened #2473 "UI glitch in warning icon used to show errors when sharing a file publicly"
### Actual behaviour
The warning icon used to show errors when sharing a file publicly is almost not visible due to the white color used. This warning icon is the same resource that we use in the login view and it needs to be white, so changing the color here will not solve the problem, use new resource maybe?

[<img src="https://user-images.githubusercontent.com/15261363/54031539-543ee100-41af-11

[2019-03-08 14:18] jesmrec commented on #2451
I have checked the request sent to the server, and the character is not sent in the base64 encoded header. We will have to check if the current password management supports (or not) unicode characters.

[2019-03-08 16:58] mueller-ma opened #2475 "DAVdroid has been renamed"
DAVdroid is mentioned in the settings menu, but it has been renamed to DAVx⁵: https://twitter.com/davx5app/status/1078775998911533056.

[2019-03-08 19:27] sd1998 commented on #2473
@davigonz I would like to work on this.

[2019-03-08 20:04] sd1998 commented on #2436
@jesmrec I would like to work on this.

[2019-03-09 17:56] hosy commented on #2436
Would be great if you implemente this. Looking forward to see your PR!

[2019-03-10 07:20] hosy commented on #2436
@sd1998 if you start working, please add a `Work in Progress` Label

[2019-03-10 12:41] mueller-ma opened #2478 "Canceling dialog in settings turns on setting"
### Steps to reproduce
1. Open settings
2. Click on "Touches with other visible windows"
3. Cancel the dialog by clicking somewhere outside the dialog
4. Touches with other visible windows is now turned on

Can this problem be reproduced with the official owncloud server?
(url: https://demo.owncloud.org, user: test, password: test)
This is most likely a client-only issue.

### Environment data
And

[2019-03-11 08:17] davigonz commented on #2473
Sure! Go for it

[2019-03-11 08:28] jesmrec opened #2480 "Make brandable the option to click in commit hash"
After https://github.com/owncloud/android/pull/2408, commit hash is shown in `Setting` to track the exact installed version. By clicking on it, you can go directly to github to get the commit.

We need the clicking option to be brandable, with a default of `yes`

[2019-03-11 09:27] hannesa2 commented on #2480
I don't understand exactly, but maybe it's already done ? https://github.com/owncloud/android/blob/master/owncloudApp/build.gradle#L188-L194 Here you `origin remote` is used

Btw, maybe you can merge https://github.com/owncloud/android/pull/2439 first ?

[2019-03-11 12:00] jesmrec commented on #2346
Done

[2019-03-11 12:00] #2346 closed

[2019-03-11 12:06] lefherz commented on #2297
A user on GooglePlay asked for the same feature, but with music instead of images.

[2019-03-11 12:40] davigonz commented on #2336
Let's define some tasks:
- [ ] Research about [document provider docs](https://developer.android.com/guide/topics/providers/document-provider) and [the current oC implementation](https://github.com/owncloud/android/blob/master/owncloudApp/src/main/java/com/owncloud/android/providers/DocumentsStorageProvider.java) and define pending scenarios that could be interesting.
- [ ] Create a small app in K

[2019-03-12 07:57] jesmrec opened #2481 "Folder with brackets [ ] does not show the content"
### Steps to reproduce
1.  In web UI create a folder called [Photos] and upload something inside
2. In the app, open the folder

### Actual behaviour
Content empty

### Expected behaviour
Content shown

Android 7
ownCloud 10.0.10

-------

### TASKS

- [x] Research
- [x] Create branch fix/content_folder_brackets
- [x] Development tasks
  - [x] Fix issue in dav4android
  - [x] Create new tag with t

[2019-03-12 08:22] sd1998 commented on #2481
@jesmrec I would like to work on this.

[2019-03-12 08:24] jesmrec commented on #2481
go ahead

[2019-03-12 09:47] jesmrec commented on #2279
@bluesbro1982 could you check if the latest version fix the problem?

[2019-03-12 09:51] jesmrec commented on #2041
Old upgrades, currently in 2.10.

If you experience problems with upgrading, please reopen or open a new issue.

[2019-03-12 09:51] #2041 closed

[2019-03-12 09:55] jesmrec commented on #1879
Instant uploads became camera uploads some time ago, so the problem reported here should not happen anymore. In case it happens, it will be caused by a different problem. Feel free to reopen if you notice the problem persists.

[2019-03-12 09:55] #1879 closed

[2019-03-12 09:56] jesmrec commented on #1831
@croisez is this problem still there?

[2019-03-12 10:00] jesmrec commented on #1629
@RUDI-TERROR is the problem still there?

[2019-03-12 11:02] michaelstingl commented on #2453
@settermjd the new features are explained and illustrated with screenshots in the central post:
https://central.owncloud.org/t/owncloud-2-10-for-android-released/18900
/cc @PVince81 FYI ^

[2019-03-12 12:10] jesmrec opened #2482 "Document provider under investigation"
- [x] Research about [document provider docs](https://developer.android.com/guide/topics/providers/document-provider) and [the current oC implementation](https://github.com/owncloud/android/blob/master/owncloudApp/src/main/java/com/owncloud/android/providers/DocumentsStorageProvider.java) and define pending scenarios that could be interesting to be added in the ownCloud app for Android.

- [x] Cre

[2019-03-12 15:06] jesmrec commented on #2478
Got it. Same effect in disabling camera uploads

[2019-03-13 11:38] jesmrec opened #2483 "After deleting log history, no extra logs are printed"
In debug mode

### Steps to reproduce

1. Go to Settings
2. Open Logs and delete history
3. Perform some actions in the app, so new logs will be made up
4. Open logs in Settings again

### Current behaviour

Logs empty

### Expected behaviour

Logs not empty

Reproduced with Android 9 and Android 8.

NOTE: By rebooting the device, logs are there again.

[2019-03-14 08:24] jesmrec commented on #2475
sorry, the branch was outdated again by transifex. we'd need a new rebase and we will merge asap before it becomes outdated again.