[2016-01-09 16:44] AndyScherzinger commented on #1414
@elpraga can you provide some more details on the select folder comment? From what I understand you want to move/copy files from within a folder chooser. If so I would recommend against it since it mixed we the actions one would expect in the context of choosing. So imho when selecting a folder, selecting a folder should be the only action (except for creating a folder though)

[2016-01-09 16:47] AndyScherzinger commented on #1390
I agree with @tobiasKaminsky for the use case of doing it on the server side. Since image rotation might be an image only action it might not make sense to implement it in core (just to support this mobile use case). If this is the case I would say this could then be handled completely on the client side (with its up- and downsides).

[2016-01-09 16:51] AndyScherzinger commented on #1415
Ah, I get what you mean. @jancborchardt what do you think? This is imho true, so changing the check mark within the graphic to white would solve this issue but would also lead to stay with white background colors so the icon work still fits other screen.

Any comment?

[2016-01-09 16:54] elpraga commented on #1414
I will as soon as I get home in a little bit.  The chance in icons you made
in 20160109 was great.
My last suggestion was to add an informative text in the choose folder
dialog that appears after clicking on respective icon.

If you click on the copy icon for example,  the dialog that appears would
say "copy to" in the top part,  just informing what are we selecting the
folder for.

But as I menti

[2016-01-09 16:54] AndyScherzinger commented on #1404
pinging @jancborchardt again for his 2 cents ;)

[2016-01-09 16:57] AndyScherzinger commented on #1414
Ah, now I get what you mean, sorry! This shouldn't be to much work to be implemented imho and yes, this would totally make sense. But that is also just my opinion. @tobiasKaminsky @jancborchardt what do you think? I vote yes on implementing this. copy/move in the title to show this context information.

[2016-01-09 18:18] tobiasKaminsky commented on #1414
This is a good idea.
cc @jancborchardt for the exact wording

[2016-01-10 15:10] RoxasShadow opened #1417 "Keep in sync additional folders"
I'd like to keep in sync additional custom folders (WhatsApp Images, Screenshots...).

To keep things simple from a UI prospective we could store these folders inside the same paths selected for camera pictures.

[2016-01-10 16:19] #1386 closed

[2016-01-10 16:31] cwmke opened #1419 "User list for sharing contains signed in user"
Using fdroid's owncloud beta20160109 on a Nexus 6p with PureNexus rom, I perform the following steps,
1. Long press on a folder I would like to share with another user.
2. Press the share button in the top bar.
3. Click 'Add User Or Group'.
4. Type in user's name.
5. List pops up with all users including my own.

This isn't very major, but it seems like (from what I can tell) it's unnecessary.

[2016-01-10 18:22] tobiasKaminsky commented on #1417
There is already an approach doing this: #744
If I find enough spare time I will implement it and then put it in beta.
If this is the same as you want, please close this issue and comment in the linked issue.

[2016-01-10 18:23] tobiasKaminsky commented on #1386
@cwmke is this working for you?

[2016-01-10 18:24] tobiasKaminsky commented on #1419
Thank you for this report.
CC to responsible devs: @masensio @davivel

[2016-01-10 18:56] cwmke commented on #1386
It is.  Sorry, I should have commented before closing.  It's fully functional.  I noticed an additional issue that I created a new issue for #1419.  Thanks for all of your help and the quick turn around.

[2016-01-10 19:27] agroeschl commented on #163
Okay I'm the next one with the same problem.

@tommys-place run your quick fix without problems?

Is there any work around this bug?

[2016-01-10 19:44] ET-Bent commented on #163
@tobiasKaminsky @agroeschl I fixed the issue by using this https://www.ssllabs.com/ssltest/ to see all issues with my ssl setup. It turned out that I had some issues with my keychain. After resolving all issues that SSLLabs selftest showed all works fine on any phone and pc.

[2016-01-10 20:08] agroeschl commented on #163
@et-bent sorry but how can this fix the bug in the owncloud Android APP?

I have the same Problem as akirasan and tommys-place:
I wanted to make connection more secure by using client side ssl certificate verification and have noticed SSL issues with Android app. Meaning , "I could not use client side SSL certificate authentication"

[2016-01-10 20:20] ET-Bent commented on #163
@agroeschl Sorry I misunderstood you then, so you are referring to the fact that the OwnCloud App does not allow to use SSL Certificates as authentication method right?

[2016-01-10 20:45] agroeschl commented on #163
@ET-BENT I'm using SSLVerifyClient require in Apache to increase the owncloud security. And I have no problems with Firefox, IE or chrome.

But the owncloud APP doesn't work. I get the same error message as described in this thread.

[2016-01-10 21:46] cornzy commented on #1415
I agree that the check mark needs to be white or light grey. I had the same problem that it is hard to see the checkbox in dark images in grid view. Another great approach for grid view is implemented in google fotos app. Aside the checkbox the thumbnail is displayed a bit smaller. Futher more the checkbox is displyed in the upper left corner, this position is much better for lefties (the left thu

[2016-01-10 23:45] Wikinaut opened #1420 "When server certificate has changed, always show certificate info. Certificate-untrusted info is not shown when syncing."
My OC server uses a CAcert.org certificate (which had to be manually "trusted" after checking the fingerprint when the oc client was setup initially).

I recently updated the certificate, because it was close to expire.

When upstarting the OC Android client, or when clicking "Konto aktualisieren" (account sync), no warning information was shown (that the certificate has changed).

But when actual

[2016-01-11 10:30] masensio commented on #1335
Hi @ogasser,

when an instant upload fails a notification is shown, but it is only for information and if you click on it the upload doesn't retry.
When the instant upload works properly, the notification is shown for a few seconds.

Failed uploads are retried when a new upload end or in a connection change. Unfortunately this retry works for images and not for videos and not in all of the cases a

[2016-01-11 11:30] jancborchardt commented on #1415
Sounds good – let's do it like other established Material apps solve it.

[2016-01-11 11:37] jancborchardt commented on #1414
Yeah, good call. »Copy file/foldername to« and »Move file/foldername to« in the header woulf be good wording.

Additionally if possible, it's always good to show the thumbnail of the file/folder to the left in that modal header. And have a relevant label for the button, like »Copy« / »Move«.

[2016-01-11 11:43] masensio commented on #1374
Hi @supportreq,

at the moment we only have the option share_feature to enable/disable Share Feature on the app. This option enable/disable the share by link and share with users at the same time.
We will have your suggestion into account for future improvements.

You can disable the share with user/group in the setup server admin panel.

[2016-01-11 12:01] rperezb commented on #1397
global setting -> not really in client basis, for instance, if you are using the web interface, you may decide individually the privileges to be used each time you share any data
The option that you are pointing out is global, in the sense of server basis, as an admin you may limit the sharing properties for every user on that server
![screen shot 2015-12-09 at 11 23 52](https://cloud.githubuserco

[2016-01-11 12:03] rperezb commented on #1178
Thanks @AndyScherzinger, fixed

[2016-01-11 12:52] AndyScherzinger commented on #1414
@jancborchardt be aware that you can have a multiple selection and then hit move/copy so the (list of) files/folders wouldn't make sense the action bar title... :)

[2016-01-11 12:56] AndyScherzinger commented on #1413
pinging @jancborchardt for feedback on #1416 - so I can push it to beta :)

[2016-01-11 18:13] stefanhoth opened #1421 "Feature request: Instant Upload to create year/month subfolders"
It would be great to customize the instant upload feature in a way that uploaded photos are stored in a subfolder per year/month so they will be easier to find and the InstantUpload folder stays manageable.

---

Right now users of the app can only choose one target folder and all files will be uploaded to that folder. This is obviously a very convenient thing but after a few months this folder is

[2016-01-11 18:39] LukeOwncloud opened #1422 "Beta: Nullpointer on select"
20160109

1 Set list view of some folder.
2 Exit owncloud app (swipe out)
3 open owncloud and browse to folder
4 set grid view
5 long click folder

Result:

    ************ CAUSE OF ERROR ************

java.lang.NullPointerException
	at com.android.internal.policy.impl.PhoneWindow$DecorView$ActionModeCallbackWrapper.onCreateActionMode(PhoneWindow.java:2550)
	at android.support.v7.view.SupportActi

[2016-01-11 18:41] LukeOwncloud opened #1423 "Beta: Exception on share with owncloud"
20160109

1 open any app
2 select share with owncloud

Result

    ************ CAUSE OF ERROR ************

java.lang.ClassCastException: java.lang.String cannot be cast to com.owncloud.android.datamodel.OCFile
	at com.owncloud.android.ui.activity.ImageSimpleAdapter.getView(ImageSimpleAdapter.java:53)
	at android.widget.AbsListView.obtainView(AbsListView.java:2159)
	at android.widget.ListView.mak

[2016-01-11 20:03] tobiasKaminsky commented on #1415
@AndyScherzinger Can you do this?
But I have no clue in which PR, or if we need a new one?

[2016-01-11 20:06] tobiasKaminsky commented on #1414
If there is more than one image we could show them stacked:
http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/3d-transparent-glass-icons-business/076001-3d-transparent-glass-icon-business-document1.png

[2016-01-11 23:16] AndyScherzinger commented on #1415
@tobiasKaminski sure thing. The original branch has already been merged, so I will have to create a new one targeting master. It'll only be a change of png files, so it will be easy to also push it to the beta branch :)

[2016-01-12 00:44] jsalatiel commented on #1357
Upgraded server to 8.2.2-1.1and still same problem!
{"reqId":"xxxx","remoteAddr":"xxx.xxx.xxx.xxx","app":"core","message":"Login failed: 'salas' (Remote IP: 'xxx.xxx.xxx.xxx')","level":2,"time":"2016-01-11T21:41:33-03:00"}

[2016-01-12 09:41] AndyScherzinger commented on #1415
@ all I fixed the images on a branch targeting master: #1424

[2016-01-12 12:49] jancborchardt opened #1425 "»New folder« entry in top right 3-dot menu"
This seems to be duplicated from the FAB and we should remove it from that 3-dot-menu.

Also, when the sidebar is open, tapping the 3-dot menu _only_ shows the »New folder« entry, but not the other entries. Should show everything, no?

[2016-01-12 12:52] jancborchardt opened #1426 "Background color should be white everywhere"
The background color of the Settings and Log sections is not white at the moment. But should be, exactly like in the file list etc.

The background should be white everywhere, except black in the image view of course. :)

[2016-01-12 12:55] jancborchardt opened #1427 "Highlight current view in sidebar, use »On device« as header title"
When I started the ownCloud app where I left off, I was initially confused about how little files where there. Turns out I was in the »On device« filter, with no indication.

Hence whenever the current view is a filter (anything else than »All files«), that filter should also be used as the title in the header.

Additionally, the current view should have a highlight in the sidebar. Darker icon & t

[2016-01-12 12:57] jancborchardt opened #1428 "Remove grey lines in sidebar"
The whitespace is enough as separator, and the grey lines look a bit old-style. Removing them will look much better.

[2016-01-12 12:58] jancborchardt opened #1429 "Settings and log should replace the content just like the files list instead of opening separate views"
Just as said in the title. Amy reasom we do not do this at the moment?

[2016-01-12 12:59] jancborchardt opened #1430 "Hide the extra instant upload settings if they are not enabled"
For some reason in the beta all the settings are shown. When instant upload is not enabled, none of the extra settings belonging to that should be shown though.

[2016-01-12 13:01] jancborchardt opened #1431 "Move storage path and passcode/PIN down to »Advanced« settings section along with cache size"
As said in the title. This will clean up the settings and have them sorted by importance/usage:
1. Accounts
2. Instant upload
3. Advanced
4. Additional links

[2016-01-12 13:04] jancborchardt opened #1432 "Move Settings to bottom of sidebar, move Log to Advanced settings"
First one to separate the settings from the actually daily useful filters. And then in the beta, the log entry should also be in the settings, advanced section. (Which I described in #1431)

[2016-01-12 13:06] jancborchardt opened #1433 "Checkboxes in list view should show over bottom right of filetype icon / thumbnail"
Currently it's very disconnected having them on the right. Checkboxes are usually on the left, also ref our web interface.

Same for the grid view btw, bottom right of the thumbnail is where the checkboxes should always go. :)

[2016-01-12 13:08] jancborchardt opened #1434 "Multiselect header glitch"
The multiselect header has a strange horizontal blue line in there.

Also, when multiselecting one file and then going to »Details«, the header is still in multiselect mode. Should be normal though, since in that view there is no multiselection.

[2016-01-12 13:08] AndyScherzinger commented on #1425
Hey @jancborchardt so the first issue should target the FAB branch imho and about the second issue I am not sure of this is the best way to handle it. In my opinion when the drawer is opened no menu should be shown in the action bar at all :) Just my 2 cents :)

[2016-01-12 13:10] jancborchardt commented on #867
Would be really really cool to have this. Anyone up for it @AndyScherzinger @tobiasKaminsky @LukeOwncloud @Kernald

[2016-01-12 13:11] AndyScherzinger commented on #1434
the details part is a duplicate of #1412 which shouldn't be a bug in case #1275 gets merged sometime.

[2016-01-12 13:13] jancborchardt commented on #757
Any updates on this, especially the Material-style account switcher, the Favorites entry and the »Sjared« entries? @AndyScherzinger @tobiasKaminsky @LukeOwncloud @Kernald

[2016-01-12 13:14] AndyScherzinger commented on #1433
So where should the star go then? Just asking since atm the star icon is places on the bottom right of the icon/thumbnail so that would have to move somewhere else then.

[2016-01-12 13:20] AndyScherzinger commented on #1429
Nope they should absolutely not and never ever! ;) Sorry for the wording but Settings and Logs and files are there different contexts with three totally different use cases and thus functionality thus they are three activities which end up in three different view by (Android platform design) design. This is basically how Android works and I don't see any reason whatsoever why we should change that

[2016-01-12 13:22] AndyScherzinger commented on #1427
Just a slight addition, standard way to highlight a sidebar item would usually be to collor the background of the row in light gray. Would that work for you?

[2016-01-12 13:24] AndyScherzinger commented on #1430
Is think @tobiasKaminsky implemented it the way you described it. It seems this got broken at some point in time.

[2016-01-12 15:15] jancborchardt commented on #1430
Yup – in the current stable release it works.

[2016-01-12 15:16] jancborchardt commented on #1427
If that's the standard way, yeah.

[2016-01-12 15:16] jancborchardt commented on #1429
Okidoke, thanks for the clarification in that case. :)

[2016-01-12 15:16] #1429 closed

[2016-01-12 15:18] jancborchardt commented on #1433
Damn, that's right. The star should go on the top right of the thumbnail. Any other icons/ badges on the bottom left. Does that sound reasonable?

[2016-01-12 15:19] jancborchardt commented on #1425
Ok, showing no menu when the sidebar is open is fine for me as well – then the 3-dots should jist be hidden. :)

[2016-01-12 15:20] jancborchardt commented on #1415
Btw @tobiasKaminsky @AndyScherzinger I just want to randomly thank you again for your great work and collaboration! :)

[2016-01-12 15:22] jancborchardt commented on #1414
Good call – show the first 3 of them in this stacked way, and then in the title say »Move 21 files to …«

[2016-01-12 15:38] rperezb commented on #819
@carlaschroder new feature on Android, on the settings menu, when you enable instant uploads you may decide whether the original file is kept in the original folder or is moved to the app

This may be decided when you upload files within the app

[2016-01-12 15:43] jancborchardt commented on #1404
Ah sorry – yeah I also think your first proposal of simply hiding the fab on multiselect is the best way to go.

[2016-01-12 15:46] jancborchardt commented on #1407
Thing is, this introduces a new layer of complexity. Sorry to bring it up, but Dropbox does it just like that: favs mean that on mobile the files are made available offline. And we do not even sync the favorite state of a file between server and mobile apps right now.

So we definitely have some details to work out and polish before we can think of adding more stuff. Hope that's understandable.

[2016-01-12 15:48] jancborchardt commented on #1412
Yeah, probably just a non-issue as soon as the details screen is gone. The blue line I mentioned in #1434 would still be cool to fix.

[2016-01-12 15:49] jancborchardt commented on #1402
Hm, sounds ok. We definitely need to set sensible max and min values as well as zoom steps. What does Google Photo do?

[2016-01-12 15:49] jancborchardt commented on #1284
cc @DeepDiver1975 for server input

[2016-01-12 16:14] RoxasShadow commented on #1417
It is. I searched through the issues but I wasn't able to find that. Thank you.

[2016-01-12 16:14] #1417 closed

[2016-01-12 16:42] rperezb commented on #1401
Just reproduced it, on Android 4.1.2 and 4.3 devices.
The thing is that the edit menu appears below the rename view so when you select any edit action (copy/cut..) it's detected as cancel action (cancel the rename) so that the view is closed.
Android 6 works fine since the edit menu is above the rename view

[2016-01-12 16:50] AndyScherzinger commented on #1429
Woohoo! Sorry, I really hope I wasn't rude in any way but this requirement really shocked me! :smiley:

[2016-01-12 17:15] AndyScherzinger commented on #1401
@rperezb can you provide 1 or 2 screenshots? Also also only have Android 6 at the moment. Thanks! :)

[2016-01-12 17:17] AndyScherzinger commented on #757
Not yet. I think we can revive the account switcher implementation done by @tobiasKaminsky and I can rework the drawer implementation for the UI side of the issue. So yeah I kind of have it on my personal roadmap UI wise -what do you say @tobiasKaminsky should I open a new branch (from master) to revive your already been done efforts?

[2016-01-12 17:18] JoKeyser commented on #1336
Same problem here, using a freshly installed client 1.9.0 from F-Droid on Android 4.4.4. (I've never used the Android client before.)
It's working with `demo.owncloud.org`.

My server is Debian jessie, with nginx 1.6.2. I'm running ownCloud 7.0.4.2. This was upgraded from wheezy not long ago, but web-access and Desktop clients work fine.
Checking with `/status.php` yields `{"installed":"true","ver

[2016-01-12 17:24] AndyScherzinger commented on #1402
Google Photos zooms time and size:
when you zoom out the images get smaller and it changes the grouping. Google photos uses sticky header where the smallest grouping is day and the larges is year. The groups gets more fine grained the more you scroll down (move back in time) and it also gets more coarse grained the more you zoom out. Very tricky but smart way (for photos)

[2016-01-12 17:27] AndyScherzinger commented on #1412
The blue lien isn't there ;) - The multiselection is basically a grey (kind of second action bar) hovering above the first one. So we will have to check if and how the bar can be themed/customized. If that is possible it shouldn't be to to big of a deal. But I never worked with the multiselect bar before.

[2016-01-12 17:28] AndyScherzinger commented on #1404
OK! Thanks for the Feedback. I'll change it accordingly then :)

[2016-01-12 17:38] AndyScherzinger commented on #1415
Argh, my mistake... This fix is (only) needed for the multi select... @tobiasKaminsky do you want to pull this change to the branch and we then close this PR or should we keep it as a separate one like it is now?

@jancborchardt You are welcome and it is a pleasure. Besides that I also have to thank you and everyone else from the core team ans community for the collaborative way of pushing this ap

[2016-01-12 17:39] AndyScherzinger commented on #1425
Excatly, that is what I meant! Less distraction! :)

[2016-01-12 17:46] AndyScherzinger commented on #1433
That would mean the status (downloaded, downloading, failed etc.) which is currently on the top right would have to move to the bottom left. So then you would have 3 mini icons around your thumbnail/icon one in each corner except for the top left.

We do have the share icon on the right of the whole list item:
* chain for a share by link
* share icon for user/group share

We could also move the st

[2016-01-12 17:51] AndyScherzinger commented on #1427
It is at the moment yes. So that should be easy to implement :)

So for collaboration @tobiasKaminsky I think you implemented this, would you be able to take care of the header title in the action bar? I can take care of the visual changes in the drawer (independently).

[2016-01-12 20:14] jancborchardt commented on #1429
Nah, thanks for educating me about Android platform standards. :) It wasn't a requirement, just a though cause from a web app design perspective it seems simpler if it's just a sidebar and a content view.

[2016-01-12 22:35] AndyScherzinger commented on #1432
@jancborchardt should we really move the log entry? The log entry is only shown:

* in the beta: so users can provide us with logs to support finding bugs
* in the regular app when installing a debug build: so it is a dev feature only

both kind of make sense being accessed easily without having to navigate through the setting, wouldn't you agree? I am fine either way since being a developer means

[2016-01-12 23:06] AndyScherzinger commented on #1428
DONE on https://github.com/owncloud/android/tree/drawer_enhancements

Will add further drawer related changed on the branch though

[2016-01-12 23:10] AndyScherzinger commented on #1432
Would it be finde with you to move to the new support lib navigation view? That is the view to render the menu items, example: http://antonioleiva.com/navigation-view/

[2016-01-12 23:12] AndyScherzinger commented on #1427
Would it be fine with you to move to the new support lib navigation view (already part of the used support lib...)? That is the view to render the menu items, example: http://antonioleiva.com/navigation-view/

[2016-01-13 08:14] jancborchardt commented on #1427
Seems like that's what we should go for.

[2016-01-13 08:20] jancborchardt commented on #1432
Yeah, the reason I'm not happy with the log entry there is that the main interface elements of the beta should look exactly like the normal release. :)

When an actual error occurs, the log is presented anyway. And when you want to get the log, the extra step into settings is ok.

[2016-01-13 08:49] jancborchardt commented on #1402
Ah ok, same as iPhoto on iOS then, grouping by event/location/time.

[2016-01-13 08:51] jancborchardt commented on #1104
I don't have the source files so pinging @nasli @rperezb @davivel about providing updated graphics with the new filetype icons etc. We need that for iOS as well anyway.

[2016-01-13 13:01] AndyScherzinger commented on #1432
Oh, okay didn't know that. So yeah, when the log pops up anyways in case of an error than we can move it into the settings. :)

[2016-01-13 13:05] AndyScherzinger commented on #1427
Alright :+1:  I'll will see if and when I can start working on it. Unfortunately quite busy the next few days... :disappointed:

The new implementation would then make use of menu-structures again which support grouping, thus we could then:
* either not add settings but put it at the bottom of the drawer
* or add it in a separate group since afaik groups are then seperated with a grey divider (jus

[2016-01-13 13:09] AndyScherzinger commented on #1402
Exactly. We do not have any grouping at all at the moment and I guess if we would like to introduce this we could only do time since anything else would be something that needs a lot of processing and if so should be something done on the server side (if ever). The other thing would be that we would have to add Headers to the grid view so the UI for images/videos would differ from any other.
So fo

[2016-01-13 14:22] jancborchardt commented on #1427
Yeah, no hassle here. The really important thing is the "On device" header for immediate feedback. The rest is polishing.

[2016-01-13 15:23] jancborchardt commented on #1402
Yeah. But in any case I don't see this as a high priority because the default is pretty good atm.

[2016-01-14 12:09] davivel commented on #1325
Sorry for coming back so late.

IMHO, setting a passcode per account is not the way to go. That is the role of the account passwords. We would have a situation where the users would need to remember two different secrets per account (or at least, per passcode-protected account). Sounds pretty uncomfortable.

To get protection per account, a simpler option would be asking the user for the account p

[2016-01-14 13:44] xenithorb commented on #1333
leaning off of @tobiasKaminsky I only had one or two federated shares with another person using ownCloud and I removed those shares. App began working again even with the share API enabled.

Is this not the right issue for that? My comments here on 12/9/15 are based on that as well

[2016-01-14 13:56] przybylski commented on #1325
I never said that password should be per account (altho it could) but we could attach password data to account, so password will survive data wipe.
Moving password to application itself will erase all account information and force users to setup their account once again.
Personally I am using data wipe from time to time to remove cached resources and related stuff.
Setting my 3 accounts again woul

[2016-01-14 15:29] quincunx commented on #1325
From a user's point of view, I agree with @przybylski
The reason why I discovered this issue was that the app kept crashing again and again. I suspected some corrupted cached data, therefore I used the feature to clear the application data (and it solved the issue).

[2016-01-14 16:28] jospoortvliet commented on #83
https://github.com/owncloud/notifications/wiki/Reading-and-deleting-notifications-as-a-Client would be the way to go now, I suppose ;-)

[2016-01-15 03:07] strugee commented on #1423
I can confirm this issue on a Nexus 6P, SDK 23 (CM13/Android 6.0.1), beta 20160109.

[2016-01-15 10:06] nasli commented on #1104
@przybylski, looks nice!!
Summing up the resources we have:

For the new type of files icons:
https://github.com/owncloud/core/tree/90810cc6052b38ac03dd8f08a200c5928a355d20/core/img/filetypes

For the ios intro guide you can find it here:
https://github.com/owncloud/ios/tree/develop/svg_resources/IntroGuide

Until new versions, you can get it from here https://s3.owncloud.com/owncloud/index.php/s/

[2016-01-15 10:14] rperezb commented on #1401
Does this help?

![edit menu](https://cloud.githubusercontent.com/assets/1846927/12350696/f0ed91ba-bb78-11e5-8883-45f2bde7bc4c.png)

[2016-01-15 10:15] jancborchardt opened #1435 "Secondary button text color"
Currently the secondary button is grey with the dark ownCloud blue as text. However that's a bit much use of the brand color.

Better would be to have the text color here black. Or if that's too intense compared to the primary button, a dark shade of grey.

[2016-01-15 15:11] jancborchardt opened #1436 "Mention CalDAV/CardDAV address somewhere in the app"
Currently we talk exactly _not at all_ about the Calendar and Contact syncing functionality of ownCloud. This is the cause of lots of negative reviews and people asking to integrate full-blown Calendar/Contacts sync into the app.

So to alleviate this a bit and to make it easy for people to copy/paste the address, we should do some small things in the app:
- Show the CalDAV/CardDAV address in the

[2016-01-15 16:00] DeepDiver1975 commented on #1436
I'd even go a step further - talk with the developers of DAVDroid and CalDAV/CardDAVSync on how to integrate.

The ownCloud client has all information at hand and can setup the accounts automatically.

[2016-01-15 17:09] przybylski commented on #1436
To go even further calendar & contacts should be moved to separate app and all essential classes (including authentication & account) to common library. file app should not become a monolithic monster.

[2016-01-15 17:17] tobiasKaminsky commented on #1104
I thought these are static images? Are they not? Maybe you can provide a screencast of ios?
Then we/@przybylski can do it the same way.

[2016-01-15 17:19] tobiasKaminsky commented on #1402
My idea was to "just" adjust the size to see more images at once. Nothing more, nothing less.
@jancborchardt Of course it is not high priority, but something I think is nice for me, so I am more into developing this than something else right now ;)

[2016-01-15 22:13] nobswolf commented on #1333
I have the same problem on a HTC One m8. Disabling the share API and Federated Cloud Sharing is a workaround. When there will be a solution? I can help debugging on server side, but not on the mobile device.

[2016-01-15 23:52] DeepDiver1975 commented on #1436
we don't want to add caldav and carddav sync into the owncloud app - other apps are already doing a great job here - we simply should integrate with them and setup the accounts.

[2016-01-16 09:15] lukass2000 commented on #819
How can i find this settings from the settings/pictures above?
![image](https://cloud.githubusercontent.com/assets/16731220/12371646/fd124c8a-bc39-11e5-86ce-0d1515646a3b.png)

[2016-01-16 12:07] sermilrod commented on #1336
In my case, I don't see error in nginx or syslog so that might be unrelated if you are having the same problem.

Any progress in this case? It has been month and a half without solution.

[2016-01-16 13:20] enoch85 commented on #819
@lukass2000 It's in the beta version of the owCloud app. @tobiasKaminsky Could you link the .apk please?

[2016-01-16 15:31] edent opened #1437 "Two Way Sync?"
### Expected behaviour
When I hit the "Synchronize" menu item, files stored locally on my device should be uploaded to the server.

Ideally, this should happen automatically.

### Actual behaviour
Files are downloaded from the server, but local changes are not uploaded.

### Steps to reproduce
1. Open Android app.
2. Long press on a folder.
3. Select "Synchronize"
4. The folder is stored in the lo

[2016-01-16 15:45] lukass2000 commented on #819
yes, link for download would great :)

[2016-01-16 16:52] tobiasKaminsky commented on #819
If you have already the beta app please go to settings and scroll to "download newest beta".
Otherwise: https://github.com/owncloud/android/tree/beta/apks

[2016-01-17 04:14] arnottcr commented on #1341
I am getting the same Cause of Error with the following device and firmware:

************ DEVICE INFORMATION ***********
Brand: oneplus
Device: A0001
Model: A0001
Id: MMB29T
Product: bacon

************ FIRMWARE ************
SDK: 23
Release: 6.0.1
Incremental: 20c8361ae4

[2016-01-17 18:08] kricklen commented on #953
I got the same problem, the owncloud app keeps requesting the same external folder infos from my server v8.2.2, though the content didn't change for months. This seemed to start with app v1.9.0.
The desktop v2.1.0 seems to work fine.
Is this still being investigated?

[2016-01-17 19:25] AndyScherzinger commented on #1401
Here is the problem...
https://code.google.com/p/android/issues/detail?id=170105

This means upgrading to AppCompat v23 which means targeting Android v23 which we startet on a branch but it needs a complete reimplementation of the permission Api.   I started with this but it still needs a lot of work.

[2016-01-17 19:26] AndyScherzinger commented on #1401
It'll take some time, unfortunately :(

[2016-01-17 20:59] cornzy commented on #1433
@jancborchardt I prefere having the checkbox on the upper left corner (like in other android apps like Google Foto). In Multi-Select you normally go through the grid from upper left to lower right. If you use your right hand (especially your thumb) you always cover the lower right corner, the upper left is most visible. Also with the left hand the checkbox in upper-left corner is well visible.

In

[2016-01-18 09:59] towo commented on #519
Sorry for the late reply, seems to be resolved with current versions.

[2016-01-18 09:59] #519 closed

[2016-01-18 13:57] jancborchardt commented on #1402
Ok, then just to answer any spec questions in case you want to dive in :)
- Since we currently do 3 pictures in the width of a normal device (at least on my Moto G that’s the case), the second view should likely be 5 pictures in that width. That will effectively display about double the amount of pictures, or even more depending on the height.
- The switch between the two views should be done by a

[2016-01-18 13:59] jancborchardt commented on #1433
True @cornzy, good points. What do you think about that @tobiasKaminsky @AndyScherzinger @davivel @masensio? No checkboxes in list view (only row highlight) and checkboxes on top left in grid view.

[2016-01-18 14:53] MorrisJobke opened #1440 "Bad wording "delete account" in Android app (scares user)"
In the settings you’ll have to long press the username and then chose ‘delete account’ to remove a local account from the app. This is kind of a bad wording. It does remove the account from the ownCloud app but for the user this is just a ‘logout’ on this device, so that he has to type in the username/password again the next time he starts the app. This doesn't really delete the account on the ser

[2016-01-18 14:58] MTRichards commented on #1440
Wording change is pretty simple, but what is recommended? I would prefer a specific request, so we are not guessing on what they think is a non destructive name.

In truth, "logout" is what we are doing, but @rperezb are we doing anything else - such as removing cached data, for example?

[2016-01-18 15:37] jancborchardt commented on #1440
Removing cached data would also be fully ok and be expected. However I think »Log out« is not a fully correct wording for what we want to do.

Maybe »Delete account from device« fits better here? Or is the use of the word »Remove« a tad more fitting?

[2016-01-18 15:39] MorrisJobke commented on #1440
Doesn't seem to work yet: https://github.com/owncloud/android/issues/125

[2016-01-18 16:08] jancborchardt commented on #125
This is not an enhancement but a bug. People expect all data of the app to be removed when they uninstall it.

[2016-01-18 16:09] AndyScherzinger commented on #1433
Hmm, tricky one....

What I see in many *list* based interfaces which are material styled they add a check mark by replacing the icon work on the left and changing the background color of the list item. Hangout doesn't do this, it only changes the background color (as mentioned by @cornzy) While other apps do, for Google e.g. GMail, Inbox and Drive, for other non Google app Amaze would be an examp

[2016-01-18 16:16] AndyScherzinger commented on #1440
Most Apps I know that don't delete any data on the server side (didn't check the client side) use "remove account", this seems to be a less scary and also a common wording.

[2016-01-18 17:29] kiwiASRALL commented on #1336
Same issue here... After uninstall and reinstall app, I can't connect to my owncloud...

[2016-01-18 18:03] MTRichards commented on #1440
@AndyScherzinger I like this wording.
@rperezb is there anything we are doing for which this doesn't work?

[2016-01-18 18:51] tobiasKaminsky commented on #1433
I have no preferences...You are the design gurus.
Whatever you decide I will fine with it :+1:

[2016-01-18 18:56] tobiasKaminsky commented on #1440
When #125 is implemented it should also inform the user that the local files are deleted as well.

[2016-01-18 21:45] jancborchardt commented on #1440
Good, »Remove account« works then.

[2016-01-19 05:22] strugee opened #1441 "Can't share the current folder"
It's possible to share a folder if you go to its parent and select it, but it's not possible to share if you descend into the relevant folder.

I'm on beta 20160109.

[2016-01-19 05:46] elpraga commented on #1409
@tobiasKaminsky were You able to identify the mistake? I am still unable to change the upload folder on my phone, the app crashes every time (it is working on my tablet though)

[2016-01-19 05:48] elpraga commented on #1390
I got the response from Gallery app developer:

[code]

So it makes it quite clear that they are not too interested in the feature and core does not support it right now :)

[2016-01-19 05:49] elpraga commented on #1391
@tobiasKaminsky were You able to reproduce this issue?

[2016-01-19 06:02] elpraga commented on #1407
I was only trying to point out a possible enhancement :) I suppose You are quite busy, and I definitely understand that, I wish I could add some code as well, and not just ideas.

Please, note that I was not suggesting to sync the Bookmarks (as in filemanager style) with the server, I think, there is little need for that. I just thought about it when going up and down the directory tree to get som

[2016-01-19 08:24] rperezb commented on #1440
yes, agreed "Remove account", makes sense. Let´s add this as a requirement for the next version.
For the moment, when a user "delete the account", on Android, no data is removed.

On the other hand, taking advantage of this thread looking for parity on iOS, on iOS we use the wording "Delete", in this case, we are removing the downloaded data. Is "Delete" ok?

[2016-01-19 08:49] marcobettoni commented on #1440
Interesting discussion ... I am rather surprised: is this user-friendly?
I do not know of any other piece of software where in order to close the session you need to activate a function called "delete / remove account"!
I am "only" a user of this app, from my perspective, I miss there a simple, standard "logout" function;  I just whant to close my session, so that another person cannot operate by

[2016-01-19 09:08] AndyScherzinger commented on #1440
Hi @marcobettoni I see your point. From what I understood from the discussion the app's behavior would exactly be that: removing this account from the phone including the removal off all the data (while of course keeping it on the server).
While you are right, the logout, would simply mean end the session keep everything on the phone.

@ all - am I right with the interpretation that with >remove a

[2016-01-19 09:11] MorrisJobke commented on #1440
I think that is what you sometimes what to do - remove that account (and maybe use a different one). And that is also what is already implemented (beside the local file deletion).

The logout is a rather different use case.

[2016-01-19 10:28] jancborchardt commented on #1440
@marcobettoni First off, a »Log out« function is a completely new feature request, so a different issue. :)

And secondly since this is about Android specifically, I would say there are 3 other measures in place already to prevent misuse by others:
- the app passcode you can set in the settings
- the lock mechanism of the operating system itself
- the user management and guest user functionality o

[2016-01-19 10:29] jancborchardt commented on #1440
@AndyScherzinger yes, »Remove account« should remove everything of course. It was just not fully implemented yet it seems.

[2016-01-19 11:33] ogasser commented on #1335
If an upload is retried due to connection change (or any other reason) and it is completed successfully, then  the "Upload failed" notification should be removed.

[2016-01-19 12:58] stefan-niedermann commented on #475
I think this is fixed in https://github.com/owncloud/android/commit/2afd2d6fb6171e94fd40a712cab9ee036b4c8058, isn't it?

[2016-01-19 13:08] AndyScherzinger commented on #475
It is still open in my opinion since the official/stable still uses the light/enterprise colored icon, the darkblue/white icon is only used for the beta app! There is no plan to move this to the stable release. We just did this so users can easily distinguish between both in case a user installed both in parallel.

But we can close it since no decision has been reached within way more than a year

[2016-01-19 13:12] AndyScherzinger commented on #475
To also provide my own opinion: We should move to the dark blue version matching the OSS Server side design (Also looks way better in the app switcher on Android since the bar then only shows the clouds :)

[2016-01-19 13:37] AndyScherzinger commented on #1435
The actual style is defined in style.xml:
[code]
but the colors are of course defined in setup.xml which is only touched by the core developers.
@davivel can you take care of this issue. Imho just change the color reference:
[code]

[2016-01-19 21:15] tobiasKaminsky commented on #1426
@AndyScherzinger maybe you can do this? As you are into the whole design in the app?

[2016-01-19 21:17] tobiasKaminsky commented on #1434
@AndyScherzinger can you help me with the blue horizontal line?
I suspect this comes from the "account update progress bar"?

[2016-01-19 22:39] AndyScherzinger commented on #1434
I can have a look, sure. The glitch should be in part because of the progress bar, but for some reason there is also a part visible from the action bar... Which is weird.

[2016-01-19 22:40] AndyScherzinger commented on #1426
Sure thing! Have to check when I find the time since the day job is keeping me quite busy these days.  I'll see what I can do.

[2016-01-19 23:25] AndyScherzinger commented on #1434
I fixed the coloring bug regarding the light blue line, but of course the dark blue one is still there since that is the progress bar as Tobias mentioned already. In order to properly fix this we would need to move to the toolbar implementation since that one can be customized with additional UI elements been added, but never got it to work properly for drawer/back/home navigation since the fragme

[2016-01-19 23:27] AndyScherzinger commented on #1434
@jancborchardt please ignore the checkboxes, they will be in the new design whenever the branch gets updated to latest master.

[2016-01-19 23:31] AndyScherzinger commented on #1434
I moved from the dark grey to a lighter grey since the dark grey for the action bar coloring since the dark grey would be rather Holo style (Android 4.x) while the light grey is more common in material styleed app, like Gmail.

[2016-01-19 23:49] AndyScherzinger commented on #1434
Screenshot with change merged to the beta branch, running on Android 4.0.x
![device-2016-01-20-004758](https://cloud.githubusercontent.com/assets/1315170/12435732/b25edd06-bf0f-11e5-9229-9cf0bff02227.png)

[2016-01-19 23:52] AndyScherzinger commented on #1434
So for explanation: The action mode hasn't been themed (before my last commit) and the style was Holo based and is now Material style based. So it should be fine, that dark blue line (as in progress bar) should be postponed as mentioned before.

[2016-01-20 10:51] rperezb commented on #1401
Good catch, @AndyScherzinger !

[2016-01-20 12:51] jancborchardt commented on #1434
@AndyScherzinger it seems to be a different grey color than before though, a lighter one?

[2016-01-20 14:21] AndyScherzinger commented on #1434
@jancborchardt exactly! Like I said I have chosen a light one, which seems typical for material design apps (see e.g. Gmail). I will change the coloring a bit and post a new screenshot but would suggest to stay with a light grey instead of a dark one to have a contrasting color for the standard, dark blue.

[2016-01-20 14:42] jancborchardt commented on #1434
I’m not sure, for several reasons:

- seems too much of a contrast to the default dark color
- too much of a contrast to the system bar above it
- too little contrast to the text

Also, there is still this dark line (loading bar?) below the bar which still makes it look strange. Can we get rid of that?

[2016-01-20 14:51] AndyScherzinger commented on #1434
@jancborchardt small optimization I just added for Lollipop and up, also greying out the system bar :smile:
![device-2016-01-20-154127](https://cloud.githubusercontent.com/assets/1315170/12452175/5ce9aa58-bf8d-11e5-9f31-41a99657615f.png)

Unfortunately getting rid of the progress bar like I said would only be possible when we integrate it into the bar itself and in order to do that we would need t

[2016-01-20 14:54] AndyScherzinger commented on #1434
So, simply said, we cannot get rid of the dark blue line except for one solution I can think of right now which would be to use the dark blue color (system bar and progress bar) when the multi select mode gets activated, so the progress bar then has the same color :wink:

[2016-01-20 14:55] AndyScherzinger commented on #1434
One more thing, the progress bar actually gets animated in some situations (!), when y sync is running and you trigger the mulstiselect at that moment... So still showing the progress (bar) makes sense to me.

[2016-01-20 14:57] AndyScherzinger commented on #1401
Thanks @rperezb but like I said this is a very time consuming matter now, since it means moving to v23 with all the consequences described above :disappointed:

[2016-01-20 14:58] jancborchardt opened #1442 "App drains battery"
Not sure what exactly it’s caused by, but today has been the third instance of the ownCloud app eating my battery in a massive way. Even though I wasn’t really using it today so far.

System is a Moto G with Cyanogenmod 12.1, Android 5.1. I use 2 accounts, no instant upload, some favorites though.

Can anyone reproduce @tobiasKaminsky @AndyScherzinger @llucax @davivel @masensio

![screenshot_2016-

[2016-01-20 15:07] AndyScherzinger commented on #1442
Probably fixed in 1.9.1, see #953 #1338 - resolving issue being #1359

[2016-01-20 15:27] jancborchardt commented on #1442
Ok, hope that release is being pushed out soon @MTRichards @davivel @rperezb, draining battery is a pretty grave issue.

[2016-01-20 15:27] jancborchardt commented on #1434
Looks much better now! :) :+1:

[2016-01-20 15:46] AndyScherzinger commented on #1434
W00t!  So can I commit and close the ticket then :smiley: Beware though that the grey system bar is Lollipop and up, since 4.x doesn't support coloring the system bar...

So 4.x would look like this:
![device-2016-01-20-164547](https://cloud.githubusercontent.com/assets/1315170/12453844/55542b9e-bf95-11e5-85b5-18ab53e297a3.png)

[2016-01-20 15:52] MTRichards commented on #1442
Yep, next version will have it - planned shortly.

[2016-01-20 15:59] AndyScherzinger commented on #1434
commit for the grey system bar coloring: https://github.com/owncloud/android/commit/8b22a06850e42a20ff3c6cb39e9341a480a3a2b1

[2016-01-20 16:55] jancborchardt commented on #1434
Yup, that’s fine. Good work!

[2016-01-20 17:14] AndyScherzinger commented on #1434
Fixed in #1176
related commits:
* https://github.com/owncloud/android/commit/2396355b85a48a5a0394ae2bec68fcdf14887529
* https://github.com/owncloud/android/commit/8b22a06850e42a20ff3c6cb39e9341a480a3a2b1

[2016-01-20 17:14] #1434 closed

[2016-01-20 19:25] tobiasKaminsky commented on #1335
This does not happen on my device (moto x play).
@masensio I think restarting the failed uploads is very important. Is this handled by "reliable upload" branch? Can I help you with this?

[2016-01-20 19:46] tobiasKaminsky commented on #1341
I have updated the beta.
Can you please retest? @AndyScherzinger @arnottcr

[2016-01-20 20:27] tobiasKaminsky commented on #1423
So I have found the cause:
https://github.com/owncloud/android/commit/7d5c573766d7b8a5b8113479f29520628e0c7cb0#diff-3e015e85b287e8a0cc4def4d9bf3994d
@masensio IMPORTANT!
Can you help me here as you have written the code?

https://github.com/owncloud/android/blob/beta/src/com/owncloud/android/ui/activity/Uploader.java#L636
In this line filePath is added to remote, but it is never assigned if there

[2016-01-20 20:45] tobiasKaminsky commented on #1067
@rperezb We have now 51 open PRs and they are getting even more...
The idea "1 (even small) community PR per week" seems not to work :/
I thought that the beta programm will speed up the whole process. At least this is the reason I am doing this.
But there are lots of PRs that are long time in beta and should be fine as they are tested by many users. And these PRs still not get reviewed by you, @d

[2016-01-20 21:02] przybylski commented on #1067
IMO one of the problem is that there is only single person which is saying which PR can enter the codebase and which doesn't.
This also discourages new people from pushing new PR, eg on android-library there was a very simple PR which was reviewed after 10months! and closed because of lack of response from original author,  this is unacceptable.
I understand that @davivel and @masensio are mostly

[2016-01-21 07:57] LukeOwncloud commented on #1423
@tobiasKaminsky :+1: Thanks!

[2016-01-21 08:07] LukeOwncloud commented on #1067
Maybe the push strategy of commiting changes (PRs) to the official repo and then waiting for them to be accepted, isn't the most appropriate approach. Instead there could be an unofficial repo - truly maintained and driven by the community. All contributions go there (first). When it is decided that some feature is to be included in the official repo, the corresponding source lines can be pulled.

[2016-01-21 08:25] przybylski commented on #1067
Having two repos will introduce even bigger pull queue and merging problems

[2016-01-21 09:16] AndyScherzinger commented on #1067
Hmmm, sensitive topic....

I totally get @tobiasKaminsky's frustration and I have also been there a couple of weeks ago and @tobiasKaminsky and other motivated me to not take a break. It happened for the same reason having several PRs to maintain which where done since month but keeping them on par with the master branch ended up in having merge conflicts every couple of weeks which is frustrating

[2016-01-21 11:07] jancborchardt commented on #1067
@tobiasKaminsky @AndyScherzinger @LukeOwncloud @przybylski @Kernald @stoyicker thanks a lot for your comments, and sorry. There’s really no excuse for this and we need to make sure to vastly improve this situation.

@tobiasKaminsky extra big sorry to you because you’ve been involved for so long, do so much awesome work, and yet wait for so many pull requests to be reviewed. :\

(I personally have

[2016-01-21 13:07] masensio commented on #1423
Hi all!

@LukeOwncloud, @strugee, @tobiasKaminsky, I've checked with master branch, and I don't have any crash. Do I need to do any action before trying to share?

[2016-01-21 13:41] MTRichards commented on #1067
To be completely transparent, we are looking at options to balance workloads better and put more time into exactly what you requested - and to give more review power. Thank you (all of you) for the smack upside the head.

Working on it! We are spread across quite a few time zones, but we want to fix this quickly.

[2016-01-21 17:11] tobiasKaminsky commented on #1441
This also happens with the official release?
I guess it is just a missing option in the "three dots menu"

[2016-01-21 17:12] tobiasKaminsky commented on #1409
Please try it again with the latest beta.

[2016-01-21 17:21] tobiasKaminsky commented on #1423
Master is working, you are right.
But on some commit someone implementent the "local.add()":
https://github.com/owncloud/android/blob/beta/src/com/owncloud/android/ui/activity/Uploader.java#L575
This results in L637 to adding an empty string to remote, which then leads to an execption (something like "remote path does not exist on creating OCfile).

I think you have added the part with local?

[2016-01-21 21:04] tobiasKaminsky commented on #1382
Cannot reproduce with the latest beta.
Can you retest it please?

[2016-01-21 21:47] AndyScherzinger commented on #1441
The official release doesn't offer this either, so yeah it is missing in general.

[2016-01-22 08:45] davivel commented on #1067
That reasoning is false. Many testers doesn't grant that the object of test is fine. First, the target of tests in software development is, by definition, finding problems, not granting correction. Second, the fact that a feature works fine doesn't mean that it's an appropiate feature for the product.

[2016-01-22 09:37] davivel commented on #1440
Hi @marcobettoni,

That's exactly what is happening.

May I ask you in what situation you need this? Are you using the Android app in a device shared with other people?

Thanks in advance.

[2016-01-22 10:04] marcobettoni commented on #1440
Hi @davivel ,

Sometimes other people may use my device (in my family, or in classes with students, etc.)

[2016-01-22 10:57] jancborchardt commented on #1067
Most of that is already made sure by @tobiasKaminsky @AndyScherzinger and everyone working together with me to get any new stuff gauged for viability and design reviewed.

Of course not, but every process has its holes and errors do slip through (like the current battery life issue). Up to a certain point (which we definitely are not yet at), more dedicated testers usually mean more issues found q

[2016-01-22 11:13] jiaojohn commented on #1067
Hello everyone,are there any Chinese here? Or who can speak Chinese?

[2016-01-22 11:14] karlitschek commented on #1067
@jiaojohn This open source project is using english as standard language.

[2016-01-22 11:18] jiaojohn commented on #1067
@karlitschek Crying in the corner ,I hava a poor english

[2016-01-22 12:59] bidinou opened #1443 "Synchronization has to be performed manually"
Hi !

When using the Android OwnCloud client, I have to manually select a file and click on "synchronize" otherwise, its content is not updated -- although the file properties are correctly updated in the Owncloud client.

STEPS TO PERFORM
1) perform the initial synchronization
2) for instance I have a file called todo.txt in Documents/ which is properly synced
3) I make a modification on my deskt

[2016-01-22 15:59] tobiasKaminsky commented on #1440
@marcobettoni Then this is a perfect scenario for the pin system.
Besides that: If the files are downloaded they are accessible by all other apps (like file explorer), so you cannot prevent other people to see your private data.

[2016-01-22 16:04] tobiasKaminsky commented on #1067
You are of course right.
I do not wanted to say that a PR that is long in beta need not to be tested by QA.
But obvious failure or misleading UI or wrong UX can be tested with this.
And of course some bugs are also being revealed and this makes the progress of QA faster as they find fewer bugs.

[2016-01-22 17:29] jancborchardt commented on #1440
Exactly. Just use the passcode functionality in settings @marcobettoni. :)

[2016-01-22 18:46] MTRichards commented on #1067
Follow up on our side, the next step here starting next Thurs, we will put a full time person on these requests. We will see how that goes, and also discuss other options - just letting you know one we can do immediately. We need to get through this backlog. Thank you all for your patience.

[2016-01-22 19:50] strugee commented on #1067
@tobiasKaminsky I _will_ say that from my perspective as a user of the ownCloud app, the beta provides _tremendous_ value for me. I generally use it as my daily-driver ownCloud app and it's really great to have, since I don't mind running into/reporting bugs but like how many new features there are.

I totally understand if it's too much of a maintenance burden and you want to stop, I just wanted

[2016-01-22 21:06] AndyScherzinger commented on #1067
First of all I just have to say WOW and a big thank you @MTRichards for such a quick response and also for ownCloud's decision on this matter. I am sure this caused some discussions, calls, stress, replanning, priorization and may or may not have also caused some stress. It is awesome to see that you guys took @tobiasKaminsky's comment serious and it just shows the value you see in community contr

[2016-01-23 12:41] tobiasKaminsky commented on #1403
The resized thumbnails is using the gallery app.
The used url is something like:  https://drive.URL.net/index.php/apps/gallery/api/preview/224777/1080/1776
But even in my browser this gives me: {"message":"CORS requires basic auth"}
So there seems something wrong with the auth and gallery app.
This is the reason why the download of the resized image is failing and therefore the (rectangle) thumbna

[2016-01-23 15:24] cornzy opened #1444 "Select and display image in Beta 20160120 broken?"
Just tested the latest Beta (20160120). When I open a image that is not already downloaded by the owncloud app, only the square preview is shown. Full scale image is only available after explecitly select "Download".

In addition with instant upload and "Original file will be ... kept in original folder" it is even worse because the image is downloaded again and is hence is again duplicated in the

[2016-01-23 15:27] cornzy opened #1445 "Beta 20160120: Share action is called "@2131165569""
In detail view of any file, the first action in the menu is called @2131165569 but seems to be the share action.

[2016-01-23 15:46] cornzy opened #1446 "Beta 20160120: Missing german translation for new setting options"
In the german version the new settings are not translate:

First level: "On device" --> "Lokal gespeichert"

In Settings (Einstellungen):
"Storage path" --> "Speicherort"
"Upload when charging only" --> "Upload nur beim aufladen" (absolut correct german would be: "Hochladen nur während des Aufladens" but "Upload" does not necessarily be translated and it would be too long)
"Original file will be..

[2016-01-23 16:03] cornzy opened #1447 "IllegalStateException in GridView"
I can reproduce this exception with the following steps:

Goto an folder which is configured for grid-view but is empty
Press back button

On master it seems to be necessary to switch from list to gridview prior to click back.

The calling code is in: ExtendedListFragment:428 (function setFooterEnabled)

***********\* CAUSE OF ERROR ************

java.lang.IllegalStateException: Cannot add header

[2016-01-24 07:10] tobiasKaminsky commented on #1444
This means that somehow the resized image generation is failing.
It needs gallery+ for oc <8.1 and gallery for oc >= 8.2.
Has it worked for you on previous betas?

Second problem: This is known and intended as the app has no infos where the file was coming from. So it will download the file from oc server.

[2016-01-24 07:14] tobiasKaminsky commented on #1446
Translation is done with transifex.
As they are only using the strings from official version there is no possibility to translate it.
Of course it will be translated once the feature is in official repo.

[2016-01-24 07:17] tobiasKaminsky commented on #1446
If you have proposals for the existing translations please go to transifex and talk to the guys there.

[2016-01-24 07:17] #1446 closed

[2016-01-24 07:58] tobiasKaminsky commented on #1447
I can solve this by changing:
mGridView.addFooterView(mGridFooterView, null, false);
to be in the if branch two lines above.

https://github.com/owncloud/android/blob/beta/src/com/owncloud/android/ui/fragment/ExtendedListFragment.java#L490

But I do not know if this affects something else?
@AndyScherzinger @przybylski

[2016-01-24 08:08] tobiasKaminsky commented on #1445
Thank you.
Will be fixed in next beta.

[2016-01-24 08:08] #1445 closed

[2016-01-24 08:14] tobiasKaminsky commented on #1391
Yes, but only with your images.
Can you test plain jpg files?
I suspect that the png is causing the problems...?

[2016-01-24 08:17] tobiasKaminsky commented on #1067
Great news!
If I can help you with my PRs (updating them to latest master, helping with QA) please let me know!

[2016-01-24 08:19] tobiasKaminsky commented on #1423
@LukeOwncloud please test it and reopen if not working.
Regarding the cause I suspect that this is just happening due to wrong merge by me ;)

[2016-01-24 08:19] #1423 closed

[2016-01-24 08:22] tobiasKaminsky commented on #1241
So...Do we have here a conclusion?
Maybe https://github.com/owncloud/core/issues/11685 helps and we will just have to wait?

[2016-01-24 08:24] tobiasKaminsky commented on #1402
@jancborchardt
My current approach is
- minimal 3 columns
- increasing by +1/-1 while pinching
- yes, only pinching is needed
- no view setting is being remembered. Do you think this is neccassery? I imagined this feature "just" for quick browsing the files and not having this remembered...?

[2016-01-24 08:46] tobiasKaminsky commented on #1402
Update: The zoomed grid is being remembered for all grids, but only for the current app session. If one restarts/force closes the app it is set to default column size 3 again.

[2016-01-24 09:10] tobiasKaminsky commented on #1430
Ok, this comes from me :)
https://github.com/owncloud/android/blame/beta/src/com/owncloud/android/ui/activity/Preferences.java#L634
But there must be a reason why I have disabled this on the other branch, so I just enable it on beta.

[2016-01-24 09:10] #1430 closed

[2016-01-24 09:20] jancborchardt commented on #1402
Good stuff. Except I would say that the remembering should be done permanently or not at all. Otherwise it's quite confusing when you restart.

[2016-01-24 10:43] Zevleu opened #1448 "Can't upload videos to OC from mobile"
Hello,
I'm newbie in OC, but I'm stuck and cannot find any solution.
I'm running OC8.2 on headless Debian Server (Trusty) with MySQL. I am running OwnClient Android appli on Android 5.0.2/Samsung S5: I have Instant video upload and Inst enabled on Android App, with upload via Wifi only

Here is description of the issue and outcome of my investigations:
- If I'm connected on my Wifi home network wi

[2016-01-24 11:03] Zevleu opened #1449 "Video not uploaded to OC from mobile"
### Actual behaviour
I'm running OC8.2 on headless Debian Server (Trusty) with MySQL. I am running OwnClient Android appli on Android 5.0.2/Samsung S5: I have Instant video upload enabled on Android App, with upload via Wifi only

Image upload runs perfectly. The issue is with video.
Here is description of the issue and outcome of my investigations:
- If I'm connected on my Wifi home network with

[2016-01-24 12:40] cornzy commented on #1444
@tobiasKaminsky ok, I have oc 8.2.2 and gallery+ ... that's no good combination?
I am not sure if it ever worked on previous beta but it works with stable app.

Second problem: I thought the app knows when it was uploaded using the same app. Doesn't it has an internal database for such inforamation? That means: I need to set "Original file will be ... move to app folder" to fix this?

[2016-01-24 14:10] stefan-niedermann commented on #1382
Not reproducable in current beta.

[2016-01-24 14:10] #1382 closed

[2016-01-24 16:57] AndyScherzinger commented on #1447
Looking through the code I don't know either. May ask @davivel since I also helped me some time ago with the footer handling when I worked on the Material design changes.

[2016-01-25 23:06] bebehei commented on #616
So I had the same issue as #516 but there was no entry showing up in the log on my server. Finally, I found out, it had to do with my setup provided by KabelBW. They use mainly IPv6.

wget with -4 and -6 both work without any flaws. ... But my phone fails!?

Could someone please fix this? (Or at least mark it as a bug? This is clearly not an enhancement.)

[2016-01-25 23:51] TheManOfTheMAn commented on #1241
Best solution would be to generate lower src image in general for every photo by async. generation if not existing and requested or continuously with a crone job. That files may just get something between 100x100 to 200x200 px per file with a little stronger compression to save file size.

Now new photos will be generated on the fly asynchronous if imitatively visited or in the background with the

[2016-01-26 08:35] elpraga commented on #1415
Did You managed to get the change to latest beta? I just checked in 20160124 and it still behaves as it used to, is that intentional?

[2016-01-26 08:37] elpraga commented on #1409
fixed in beta 20160124.
Thanks!

[2016-01-26 08:37] #1409 closed

[2016-01-26 08:41] elpraga commented on #1391
I am without a computer at the moment, so I try to convert the exact same pngs to jpegs and I will try again.

Yes, I only noticed this issue with .pngs

Did You try to take a screenshot on Your phone and upload it? Does Your screenshot on the phone saves as .png as well?

[2016-01-26 08:41] sermilrod commented on #1336
It would be great some developers feedback on this case, just to know if this is being tackled or what is going to happen with this situation.

[2016-01-26 08:43] elpraga commented on #1392
Was somebody able to address this issue? I just checked in 20160124 and the checker background still appears outside of the picture as well..

[2016-01-26 08:45] elpraga commented on #1393
@jancborchardt what do You think about this suggestion?

[2016-01-26 08:57] elpraga commented on #1241
I think we could just wait for now. The occ thumnail generation command should come out with OC 9.0 which should be out in early March if I am not mistaken.

We can see how much just the generatin of preview_max in cron helps.

I would suggest to put the minimal thumbnail bigger though. On my phone it is quite decent, and when it appears in the meantime when the bigger preview is being downloaded/

[2016-01-26 09:45] AndyScherzinger commented on #1415
@elpraga yes it should be... can you post a screenshot so I can check? At least the changed icon work is on the beta branch.

[2016-01-26 11:57] rperezb commented on #1104
@tobiasKaminsky you may check it: https://s3.owncloud.com/owncloud/index.php/s/KCaxDdBUxG91bau
There, you may fine¡d a video demo of the help intro

[2016-01-26 17:51] jancborchardt commented on #1393
Yeah, it should probably look the same whether you share something or the share comes from someone else. Otherwise it’s confusing. @elpraga do you want to take a stab at listing the cases and how it should look like?

Also taking into account how it currently is in the web interface and the mobile apps – it should be the same everywhere.

And a related issue is »Not possible to share current folde

[2016-01-26 18:52] jkutterer commented on #1317
The issue seems to be related Issue #1333

[2016-01-26 20:48] ilmaisin commented on #296
The beta client seems to support opening via SAF, but not saving.

[2016-01-27 09:54] elpraga commented on #1415
Hello @AndyScherzinger, I was just checking the issue and I noticed that there are indeed white checkmarks on Android 6.0, but transparent checkmarks remain on Android 4.1. Both versions checked with beta 20160124.

In other words, it is fixed on Android 6.0, and remains the same on 4.1.

Dis this help?

[2016-01-27 09:57] elpraga opened #1452 "Beta 20160124 crashes when opening a gif image."
************ CAUSE OF ERROR ************

java.lang.ArithmeticException: divide by zero
	at com.owncloud.android.ui.preview.ImageViewCustom.onDraw(ImageViewCustom.java:81)
	at third_parties.michaelOrtiz.TouchImageViewCustom.onDraw(TouchImageViewCustom.java:287)
	at android.view.View.draw(View.java:13477)
	at android.view.View.buildDrawingCache(View.java:12738)
	at android.view.View.getDisplayList(

[2016-01-27 12:22] AndyScherzinger commented on #1415
Hi @elpraga yes that helped :) The problem was that I missed changing the the icon work on all densities so this will be fixed in the next beta :) :+1:

[2016-01-27 13:52] jancborchardt commented on #382
This notification is all over the place, and as said before really ugly.

Also with the new sharing dialog. Would be really good if we can please not introduce it in any more places, and use more contextual loading feedback like inline spinners.

[2016-01-27 14:08] MTRichards opened #1454 "Top Open PRs"
@AndyScherzinger @tobiasKaminsky opened this for input on your top PRs.

@LukeOwncloud FYI.

[2016-01-27 14:10] MTRichards commented on #1067
Hi Guys! We are almost there...starting tomorrow!
@tobiasKaminsky @AndyScherzinger
While we will pick a priority for PRs (clearly security first, for example), we would love input on which PRs you guys think are a priority to review / work on first. Maybe we can use the issue #1454 to put a priority on the top ten from you guys? That would be great, and thank you.

[2016-01-27 18:23] przybylski commented on #1067
I'm looking forward to it :)

[2016-01-27 20:55] tobiasKaminsky commented on #1454
The biggest improvement for user would be https://github.com/owncloud/android/pull/1044, I think.
But this might not be the best to start with as it depends on gallery+ for < OC 8.2 and gallery for => 8.2

[2016-01-27 21:09] AndyScherzinger commented on #1454
I also don't have any preferences. A top PR imho would be #1191 since this prevents extra costs for users for example with their data plans especially when you are abroad and leave the hotel.

My PR can be considered rather low prio since I usually implement ui stuff so that is rather polishing work. The FAB PR would be nice though since I adds a primary action to the UI.

[2016-01-27 21:12] AndyScherzinger commented on #1415
@tobiasKaminski just wanted to let you know that I also fixed it on the beta branch.

[2016-01-28 09:40] davivel commented on #1355
@rijudewan , could you check if its fixed now for you? Solution by @przybylski was just merged in master branch.

Thanks in advance.

[2016-01-28 10:00] rperezb commented on #1443
@bidinou can you please check the same but checking as a favorite the file?
If you check it as favorite, changes will not only be downloaded but also uploaded if they came from the device itself.
 If this didn't work, please reopen

[2016-01-28 10:00] #1443 closed

[2016-01-28 10:07] masensio commented on #471
Hi @all!
We are working for merging PR #919 into master. The first part is on ```reliable_uploads_action_uploads_view``` branch.

This is the current status of the uploads view:
Screenshot with Current and Completed Uploads:
![screenshot_2016-01-28-10-18-04](https://cloud.githubusercontent.com/assets/3862330/12640535/a882af46-c5aa-11e5-99a1-181d635935b3.png)

Screenshot with some Failed Uploads:
!

[2016-01-28 10:28] rperezb commented on #471
Thanks @masensio
I'd vote for a similar approach to the iOS app behavior, talking about those failed uploads that need the user action (credentials error: update password, folder error: select another folder...)

- If the user tab over the file name: it's shown the needed view to fix the error
- Once the error is fixed: the upload is launched, automatically

So, with this approach, it´s only neede

[2016-01-28 11:15] AndyScherzinger commented on #471
@masensio looks awesome!  I think it is okay to offer both actions (delete/retry) to let the user decide. But if we can implement the same behavior as being in place in iOS that woudl probably be best simply for consistency reasons and having a system behavior like "problem fixed - auto restart upload" sound like the best option :)

Things I would change from a UI perspective (probably @jancborcha

[2016-01-28 11:33] nasli commented on #1104
@tobiasKaminsky, some images are static but the cloud is animated.
I just updated the images with the new filetypes
![newfiletypes](https://cloud.githubusercontent.com/assets/6570505/12643217/1b7f773a-c5bb-11e5-9fd1-294ffc074dcc.png)
![newfiletypesend](https://cloud.githubusercontent.com/assets/6570505/12643225/2bb8942e-c5bb-11e5-8b98-3a1e65439b3b.png)

the resources updated here https://s3.ownclo

[2016-01-28 11:49] davivel commented on #1325
If attached to the account, but not per account, then the passcode should be saved multiple times, repeated in all the accounts. Otherwise, the user could remove the account that stores the passcode and lose the passcode accidentally.

Alternatively, we could save the passcode in a single account, and move it to other existing account (if any) when the account is removed. Might be possible via Acc

[2016-01-28 12:39] davivel commented on #1325
And I just discovered the existence of the attribute ```application:manageSpaceActivity``` to attach to the app. Poorly documented (being generous) http://developer.android.com/intl/es/guide/topics/manifest/application-element.html , and apparently replacing the system button "Clear data" by a button "Manage space" that opens the Activity of our app we want.

This is AWESOME, since gives our app t

[2016-01-28 15:07] vaibhavshettar5 opened #1456 "sdk componet not installed in android studio."
sdk componet not installed : build-tools-21.1.1
i f any know then provide me download link.

[2016-01-28 16:50] przybylski commented on #1456
In android studio preferences
<img width="1039" alt="zrzut ekranu 2016-01-28 o 17 46 32" src="https://cloud.githubusercontent.com/assets/1734309/12651598/71f03f7e-c5e7-11e5-80cd-8deb6f94c703.png">

[2016-01-28 17:22] Technical-Angel commented on #10
I'm using ownCloud beta 20151202.

I cannot change the storage path at all. I created a owncloud folder on the SD card and I get Error: While migrating.

When trying to change the folder to internal storage, I get an error log screen.

I have about 30GB that I'm trying to drop down to the tablet, and I really want to help make this feature work!!! :)

Samsung Galaxy Tab 4, Android version 5.0.2

[2016-01-28 17:28] plabong commented on #1074
ownCloud Server 8.2.2 / Debian 8.3
---------------------------------------------
Installed desktop sync (Windows V2.1.0.5683) for 4 new users (these users never used desktop sync before) I've got the initially mentioned log entries in owncloud.log as follows:

[ownCloud.log entry]
-----------------------------------
Cannot modify header information
- headers already sent by (output started at <ocp

[2016-01-28 19:41] jancborchardt commented on #1104
@nasli that looks pixelated. Did you use the proper SVG icons?

[2016-01-28 20:06] jancborchardt commented on #471
Yeah, of course @AndyScherzinger’s UI input is correct. :)

[2016-01-28 21:18] nathan-b opened #1457 "Photo downloads consistently fail"
I use OC to store my photos organized in a folder hierarchy. The Android app syncs the filesystem data just fine -- I can see my photos, including thumbnails -- but when I go to view or download a photo, the "Downloading" progress bar pops up, sits for a few seconds, and then gives me a black screen with an exclamation mark and "Download failed". It also displays a download failed notification.

I

[2016-01-29 00:09] rijudewan commented on #1355
android {
        lintOptions {
            abortOnError false
        }
    }

this did a trick for me  on Android Studio ....

[2016-01-29 05:51] marneu commented on #10
Did you load with f-droid?
You should use the lastest beta and try to switch back to internal and then to external again, this should do the trick.

[2016-01-29 07:53] nasli commented on #1104
@jancborchardt , these are just screenshot to show the new look.

In the resources folder you can find all the .png that we are going to use, and the IntroGuide.svg is a file where all views are separated by layers for easy import and scale to any size needed

[2016-01-29 08:53] przybylski commented on #1104
Fortunately android studio can transform SVG to correctly sized png resources

[2016-01-29 09:07] davivel commented on #1440
Back with the wording: "remove account" sounds OK in English, but in **Spanish** probably the translation will be exactly the same as for "delete account". I guess this may happen in other languages too.

What about **"Forget account"**?

"Forget" is not unknown for the users; may be found, for instance, in the Wifi options, in "Forget network" to remove saved network configurations.

[2016-01-29 09:12] davivel commented on #1435
Thanks, @AndyScherzinger , I'll take care.

Anybody may touch setup.xml . The point is, maybe I complain :P

[2016-01-29 09:14] davivel commented on #1401
Sorry, but this needs to be moved to next release.

[2016-01-29 09:17] davivel commented on #1397
Sorry, but this needs to be moved to next release.

[2016-01-29 09:21] AndyScherzinger commented on #1435
Sweet, thanks! :+1:

[2016-01-29 09:26] davivel commented on #674
Sorry, but this need to be delayed to next release.

[2016-01-29 09:27] davivel commented on #340
I'm really sorry, but this need to be delayed once again.

[2016-01-29 09:27] davivel commented on #198
Sorry, but this needs to be delayed once again.

[2016-01-29 09:38] AndyScherzinger commented on #198
Hi @bboule It is label-wise in "3 - in review" imho, since @tobiasKaminsky already opened a pull request, see #1399 :)

[2016-01-29 10:37] CriticalNoob commented on #1074
There is a fix there :
https://github.com/fruux/sabre-dav/pull/577/files

[2016-01-29 11:14] davivel commented on #1336
@sermillrod, since you changed your SSL certificate, please, try the next steps:

1. Go to your device settings (out of the ownCloud app) > "Apps" > "ownCloud"
2. Click the button "Clear data" ; in Android 6 you will need to click first on "Storage"; this will clear all the app data, including previous certificates.
3. Try to log in again.

Besides, could you tell us where did you install the app

[2016-01-29 11:30] davivel commented on #1336
@JoKeyser , your log seems slightly different. Your server is behind a permanent redirection, right? Is there any other log message from "Mozilla/5.0 (Android) ownCloud-android/1.9.0" after that one?

Are you entering the "https://" prefix as part of the URL?

Could you try to input the IP of your server instead of the domain in the URL input field? The final IP, after the redirection.

Thanks in

[2016-01-29 11:30] sermilrod commented on #1336
Hi @davivel

I have tried to clear application data and it does not fix the problem I am afraid.

I have installed the 1.9.0 version of the application and I installed it from Play Store.

Regarding the URL there is no extra path after the domain, I access the application by using https://mydomain.com/

I hope this helps.

Thanks!

[2016-01-29 11:33] davivel commented on #1336
@semilrod, would you create a test account in your server and send it to apps@owncloud.com ?  I could test it directly that way, if you will. Please, include in the subject the text "Issue #1336".

[2016-01-29 11:38] davivel commented on #1341
People, we are mixing two different topics here. Could we focus back in the original issue, please?

@domneu, is the app still broken for you? Could you share with us some new logs with the fail, parting from the beta version in F-Droid?

Thanks in advance.

[2016-01-29 11:51] sermilrod commented on #1336
You should have now the information you need.

[2016-01-29 11:53] davivel commented on #1074
@CriticalNoob , can you explain a bit more, please?

@all, did anybody test the solution proposed by @CarstenMeyer ?

@all, anybody else is using a reverse proxy , besides @enoch85 ?

[2016-01-29 12:01] davivel commented on #1355
OK, then this is done.

Thanks!

[2016-01-29 12:01] #1355 closed

[2016-01-29 12:29] davivel commented on #1336
@sermilrod , seems there is an unexpected line break in the header 'Strict-Transport-Security' , right before 'includeSubdomains'. Usual web browsers seem deal with this problem, but unfortunately our network library doesn't, and reports an HTTP protocol violation.

The same as in #1203

Please, check your server configuration to remove the line break, and tell us how it results.

FYI: we didn't g

[2016-01-29 12:48] CriticalNoob commented on #1074
@davivel
Just look at the issue fixed by the pull.
https://github.com/fruux/sabre-dav/issues/572

Solution by @CarstenMeyer works for fixing auto upload but it doesn't have anything to do for "Cannot modify header information - headers already sent"

[2016-01-29 12:51] sermilrod commented on #1336
Thanks, I will test it by the end of the day and I will tell you something.

[2016-01-29 12:53] davivel commented on #1440
@all, any thoughts?

[2016-01-29 12:55] MTRichards commented on #198
For transparency, the delay is as @davivel said in another issue, because we need to regression test and release a fix quickly for #1442 , then we will get right back to this for the next release.

[2016-01-29 13:01] davivel commented on #1336
@JoKeyser , @kiwiASRALL , are you also using HSTS in your servers? Thanks.

[2016-01-29 13:03] davivel commented on #1074
@PVince81 , maybe this SabreDav fix is relevant for core? I'm afraid I get lost trying to track this in the server repo.

[2016-01-29 13:03] AndyScherzinger commented on #1440
"Forget account" sounds fine to me too. I get the point that translation might end up with ending up with a "delete" meaning. :(
Remove was just the idea since I simply looked up Google's wording for this kind of action.

[2016-01-29 13:18] sermilrod commented on #1336
Mobile app is working now @davivel thank you very much for the assistance.

[2016-01-29 13:32] PVince81 commented on #1074
@CriticalNoob are you running the latest OC version, 8.2.2 ?
The fix might be in already. But I also saw this: https://github.com/owncloud/core/pull/21938
So in 8.2.3 it will be using Sabre 2.1.9

[2016-01-29 14:12] jancborchardt commented on #1440
Yep, »Forget account« sounds good too. At this point we just need to roll with one – either »Remove« or »Forget« is fine. We could first go with »Remove« since that seems to be used by other apps. When there are still complaints, we can change it further.

[2016-01-29 14:17] rperezb commented on #1440
@MorrisJobke @michaelstingl hope this is fine for you too

[2016-01-29 14:18] MorrisJobke commented on #1440
Yes

[2016-01-29 14:30] davivel commented on #1336
Happy to hear it, @sermilrod.

Let's keep the issue open a while to get feedback from @JoKeyser and @kiwiASRALL .

[2016-01-29 14:33] sermilrod commented on #1336
Sure, I have no problem with that. Thanks again!

[2016-01-29 14:45] domneu commented on #1341
I won't be able to check it for a week.  I'm out of town.
On Jan 29, 2016 6:38 AM, "David A. Velasco" <notifications@github.com>
wrote:

[2016-01-29 15:33] CriticalNoob commented on #1074
@PVince81 Yep  8.2.2

As if you check Sabre 2.1.9 code you won't find the fix, it might not be fixed in 8.2.3.

I guess we will have to wait until Sabre 3.1.1 (or manually apply the fix).

[2016-01-29 17:42] Technical-Angel commented on #10
I uninstalled the official app before I started doing anything with the beta.

I just removed the beta I had installed and installed 20160120 using f-droid. I previously installed the beta using the built in APK installer. I now only have the option of default or the SD card, but when switching to SD, I still get the error: while migrating message.

Log file is empty.

And, as an aside, am I barki

[2016-01-29 20:20] tobiasKaminsky commented on #10
This is (currently) not working, but it will be implemented sooner or later. The previous step (manually syncing folders) will be soon in official app.
(Please correct me if I am wrong @davivel)

[2016-01-30 07:49] tobiasKaminsky commented on #1440
Or be a little bit more verbose to clarify what is meant: remove account from device.
Then the user is absolutely sure that the account on the server is not meant/touched.

[2016-01-30 07:52] tobiasKaminsky commented on #1336
@davivel while the cause of the error is solved, would it not be better to make the library more robust against such typo errors?
I know this can be a very hard work to solve all cases, but maybe just start with this and the cause of the linked issue #1203?

[2016-01-30 19:12] enoch85 commented on #1239
Dup of: https://github.com/owncloud/android/issues/1074

[2016-01-30 22:55] mcronce commented on #340
What do we need to do to make it happen?  Is there more code work that needs to be done?

[2016-01-31 13:44] meduz commented on #10
This is a very nice feature but I also get the "error: while migrating message" message. I am on android 4. Is there any way to see what is going wrong?

[2016-01-31 13:58] przybylski commented on #10
@meduz Only via logfile. Because of android system fragmentation it takes some time to provide reliable implementation for all distributions. It would be nice to know that kind of phone you own.

[2016-01-31 14:11] meduz commented on #10
Thanks for the answer  @przybylski.
Below is the information for my device . Unfortunately I could not find a way to root it.

************ DEVICE INFORMATION ***********
Brand: samsung
Device: v1awifi
Model: SM-P900
Id: KOT49H
Product: v1awifixx

************ FIRMWARE ************
SDK: 19
Release: 4.4.2
Incremental: P900XXUANI1

[2016-01-31 14:20] przybylski commented on #10
@meduz log file should be stored on your device, in the same place where files are.

[2016-01-31 21:21] CriticalNoob commented on #1074
Just to add that for the picture auto upload not working, you have to be sure to change some value in php.ini as described here : https://doc.owncloud.org/server/7.0/admin_manual/configuration/big_file_upload_configuration.html

On ubuntu server 14.04 the post_max_size default is low (8M i think) and as my picture are usually around 10M, they wouldn't upload.

[2016-02-01 07:44] tobiasKaminsky commented on #1456
@vaibhavshettar5 Could you solve it? Otherwise please reopen.

[2016-02-01 07:44] #1456 closed

[2016-02-01 07:53] tobiasKaminsky opened #1458 "Folder sync: future plan?"
What is the plan of integrating folder sync?
Will this be "only" for folders within owncloud? Or should this also work for every directory on the phone?
Example: I download lots of images with chrome. They all go to sdcard/downloads. To have these images synced I would now need #744, but maybe folder sync can also do this?

@davivel @rperezb

[2016-02-01 07:58] tobiasKaminsky commented on #1104
@przybylski
What is needed to get this running in beta?
As I said earlier this would be great for every new release to show the recent big changes.
For instance I would like to test it with the new feature "pinch zoom" #1402.

[2016-02-01 08:34] masensio commented on #1325
We are developing in the branch ```manage_space_activity```

[2016-02-01 08:45] rperezb commented on #340
Thx for your interest @mcronce
As @davivel has said https://github.com/owncloud/android/pull/919#issuecomment-176660199 we are currently working on it, yes, more core it´s needed, latest changes on the UI and then test it,

we do appreciate your help testing it. either you may compile the app using the branch: https://github.com/owncloud/android/tree/reliable_uploads_actions_uploads_view
Or perhap

[2016-02-01 08:54] tobiasKaminsky commented on #340
Just give me a ping when the developement is ready and I am happy to include it in beta.

[2016-02-01 08:57] tobiasKaminsky commented on #1452
Strange.
It is working for me.
Can you try it with a different gif?
(the gif must be downloaded of course to play it, otherwise it should show a regular thumbnail)

[2016-02-01 09:13] tobiasKaminsky commented on #1415
new beta published.
Please test :)

[2016-02-01 09:31] AndyScherzinger commented on #1415
Nice! Thanks @tobiasKaminsky! @elpraga Does it work for you? (Works for me)

[2016-02-01 11:53] davivel commented on #1251
Will be released in version 1.9.1.

[2016-02-01 11:53] #1251 closed

[2016-02-01 14:19] mcronce commented on #340
@rperezb I'm not much of a tester but I can give it a shot ;) I'd be more helpful writing code if you need a hand on that one

[2016-02-01 18:42] davivel commented on #1336
@tobiasKaminsky, that's the problem, and that's why there is a generic "Unknown error" message.

In this case, there is not much we can do to handle the error, unless we totally switch the current HTTP library to another one. At most, we could show an specific error message for exceptions about HTTP violations, but that's still quite generic. I wouldn't print the message of the exception itself be

[2016-02-01 18:50] domneu commented on #1341
I tried the latest beta from Fdroid.  The camera is not uploading
automatically at all.  No error, no transfer, no nothing.  When I  switch
on auto video upload, I get the following error:

************ CAUSE OF ERROR ************

java.lang.RuntimeException: Unable to start receiver
com.owncloud.android.files.InstantUploadBroadcastReceiver:
java.lang.NullPointerException

                at
andro

[2016-02-01 21:02] przybylski opened #1459 "Add Google analytics to the app"
So there is a feedback on which features are actually used

[2016-02-01 21:08] LukasReschke commented on #1459
Considering that ownCloud is a project that preaches data security I somehow have a small doubt that we're going in that direction :wink:

[2016-02-01 21:26] przybylski commented on #1104
@tobiasKaminsky now on whatsNew branch in FeatureList.java file you can add features to be shown in beta. I haven't tested it but it should work ;) I'll fix it if needed. One thing to notice is in setup.xml there is a bool flag which indicates are we in beta or not

[2016-02-01 21:53] przybylski commented on #1459
Not interfering in user data and storing statistics for app improvement are two different things IMO

[2016-02-01 21:54] przybylski commented on #1459
Beside we can always ask: "Would you like to provide anonymous statistics to improve this app?"

[2016-02-02 07:58] davivel commented on #1440
"Remove account" applied in 1eb1a597dcab91fafad56a33e42c3171ef844e05 .

(Sorry, @tobiasKaminsky , I read your message after pushing the change)

[2016-02-02 07:58] davivel commented on #1440
Will be in version 1.9.1

[2016-02-02 07:58] #1440 closed

[2016-02-02 08:14] rperezb commented on #1440
@carlaschroder not sure if this change affects documentation

[2016-02-02 08:19] rperezb opened #1460 "[1.9.1] Release of the new version"
AC:
- [x] Freeze the code https://github.com/owncloud/android/tree/release-1.9.1
- [x] Regression test plan
- [x] Release of the new version

- Minor changes included on the 1.9.1 branch:
   + Change "delete account" wording https://github.com/owncloud/android/issues/1440
  + Change secondary button color: https://github.com/owncloud/android/issues/1435

[2016-02-02 08:20] rperezb commented on #1435
Done via: https://github.com/owncloud/android/commit/3a5ce4838c12e4bfdd580c7a878b89a9c6044e38

[2016-02-02 08:20] #1435 closed

[2016-02-02 08:21] rperezb commented on #1442
Done, this will be included within the next version, 1.9.1

[2016-02-02 08:21] #1442 closed

[2016-02-02 08:30] AndyScherzinger commented on #1336
Just as a side note. We should switch the HTTP lib at some point anyways with Android v23 due to the fact that Google deprecated Apache HTTP in Android 23. For now I implemented the workaround to include the apache http legacy jar to be able to use it also in v23. SO we can/should move to another HTTP lib but at least for v23 we don't need to move right away.

[2016-02-02 09:12] hitam4450 commented on #1459
Why adding a 'Spy' system to OwnCloud, which prays its '*privacy'* feature?

If that is going to happen, i certainly will terminate the use and any activity for OwnCloud!

[2016-02-02 14:13] jospoortvliet commented on #1459
@hitam4450 is probably a typical user. Many users use ownCloud to get away from Google storing all your data, adding it back seems a bad diea. Also, 'anonymous' it won't be.

Self-hosted piwik statistics makes sense, using services from a external provider won't happen.

[2016-02-02 14:13] #1459 closed

[2016-02-02 14:56] carlaschroder commented on #1440
It does, thanks @rperezb.

[2016-02-02 16:21] keithf4 commented on #826
Just glancing through issues so I don't make a dupe request. I would really like this feature as well.

[2016-02-02 17:08] davivel commented on #1336
@AndyScherzinger , the app is not using the Apache HTTP deprecated by Google (maybe there are some references to constants in it, but nothing else, if I recall correctly). The  owncloud-android-library includes its own version of Apache HTTP Client in a JAR file, even older than the version deprecated by Google in Android, but independent of it.

[2016-02-02 17:20] AndyScherzinger commented on #1336
@davivel Ouh, didn't know that. But you are right then even though this will be tricky when we update to Android M since we then either ship an legacy apache jar or change the implementation.

Easy to fix would be:
https://github.com/owncloud/android/blob/master/src/com/owncloud/android/ui/activity/ShareActivity.java#L52

I (slightly) larger fix would have to be done for:
https://github.com/ownclo

[2016-02-03 17:38] masensio commented on #471
Hi @all,
as conclusion:
- use the same approach as on iOS.
- some enhacements for UI.

I'll put on the list of task to complete this issue.

Thanks for your suggestions.

[2016-02-03 18:11] sermilrod commented on #1336
I have my custom deployment @davivel , I do not make use of the owncloud package.

My nginx config is the same as it was except for that bit that I had to put in one line instead of putting it in separated lines. You could print out a more descriptive error instead of "unknown" or just simlpy have it documented in the default config for nginx so that the next person does not make the same mistake.

[2016-02-03 19:38] davivel commented on #1336
@sermilrod , excuse my ignorance about Nginx. Could you tell me what's the name of that configuration file, where is it located?

Would you remember if you entered manually the problematic property in separated lines, or if you copied it from a trusted reference?

[2016-02-04 09:52] davivel commented on #1198
This is in, will be released in 1.9.1

[2016-02-04 09:52] #1198 closed

[2016-02-04 10:16] sermilrod commented on #1336
The configuration was inside a vhost in nginx and looked like this:

add_header Strict-Transport-Security "max-age=63072000;
includeSubdomains;
preload";

upstream php-handler {
  server 127.0.0.1:{{ fast_cgi_port }};
}

server {
  listen {{ port }};
  server_name {{ server_name }} www.{{ server_name }};
  # enforce https
  return 301 https://$server_name$request_uri;
}
.
.
.

So you can see at th

[2016-02-04 12:06] davivel commented on #1336
Helps a lot. Thank you so much.

[2016-02-04 13:53] davivel commented on #1325
Solved via #1461

[2016-02-04 13:54] #1325 closed

[2016-02-04 13:56] davivel commented on #1460
Release branch frozen.

Let the tests begin.

:beer:

[2016-02-04 14:37] AndyScherzinger commented on #1232
assigned it to 1.9.1 and removed beta since it has been merged to master and will be shipped with v1.9.1.

[2016-02-04 22:25] elpraga commented on #1415
sorry, still the same situation using 20160201. Works fine on Android 6.0, but still transparent on 4.1.

6.0 is a Nexus 5  y 4.1 a tablet. Do You need some more info?

[2016-02-04 22:27] elpraga commented on #1261
Great! all options landed in Beta 20160201!

Thanks so much! Great work!

[2016-02-04 22:27] #1261 closed

[2016-02-04 22:33] elpraga commented on #1393
I will try to think about it, unfortunatelly, I am still without a computer.

[2016-02-04 22:39] AndyScherzinger commented on #1415
Strange, I check the icons again. Maybe I still missed one. Thanks for testing. I don't need more infos at the moment.

[2016-02-05 11:02] cdamken opened #1462 "Feature Request: Fingerprint Access"
Instead to use the `passcode lock`, I would like to have the fingerprint access function.

The interest here is that anybody can hack the key, but the fingerprint is unique.

@MTRichards

00004644

___

TASKS

- [x] [GIT] Create fingerprint_lock branch.
- [X] [RESEARCH]
- [X] [DEV] Include new Fingerprint lock in Details section of Settings view.
- [X] [DEV] Add Fingerprint Permission to the manif

[2016-02-05 12:14] AndyScherzinger commented on #1462
cross referencing to earlier issue ##1323

[2016-02-05 15:12] t-h-e opened #1463 "(Self-signed) cerificate changes"
When the server uses a different/new certificate, the client just does not update any files anymore. There is no warning or anything.

GoTo Settings -> Add account -> Type in server address -> Client is going to check the connection and asks if you trust the certificate. Accept and everything works again.

Probably only an issue with self signed certificates.

[2016-02-05 15:55] tobiasKaminsky commented on #1459
@jospoortvliet So, maybe we can reopen this issue and replace "google app" with "self written statistic" app?
Or do you think it is not worth the man power?

[2016-02-05 16:00] tobiasKaminsky commented on #340
@mcronce I think the whole "reliable upload" thing is too much for devs that use their spare time for it.
That is, at least for me, the reason why I did not tried to update @LukeOwncloud branch.

But there are many others open feature requests and bug reports where you can help.
The best way is to choose one issue/bug and discuss it first here on github and then implement it.

[2016-02-05 16:28] MTRichards commented on #1462
Please add a SF ticket reference and any STORY info you have  and can show so we can discuss.

[2016-02-05 19:59] davivel commented on #1341
Sorry, @domneu , I should have clarified.

Could you paste the log file right after taking a picture with instant upload enabled? Even though there is not result visible in the app, the log should be dumping some more information about what the app receives than before.

Thanks in advance.

[2016-02-05 22:31] carlaschroder opened #1464 "Getting clients for testing"
Hellos! I need beta clients for testing & writing up docs for new releases. It would be lovely if I could have new docs completed by the release date :) Not sure how to get pre-releases; is there a daily build somewheres? I don't really want to get bogged down in learning to build them. Thanks!

@rperezb @davivel @masensio

[2016-02-06 06:52] tobiasKaminsky commented on #1464
There is a beta version managed by me, but there are more features than in the new release.

[2016-02-06 08:05] tobiasKaminsky commented on #1104
@przybylski I have checked out this branch and with a clean install I first get the intro screen prior to the server login. But after the server login I also get the whatsNew screens.
I think the first appearance is the correct.

[2016-02-06 08:33] przybylski commented on #1104
@tobiasKaminsky yes, i know about this bug I haven't yet investigated it

[2016-02-06 08:40] dragotin opened #1465 "beta 20160120: Crash in file upload"
When uploading an image I get this backtrace:

[code]

[2016-02-06 09:07] tobiasKaminsky commented on #1104
![whatsnewpinch](https://cloud.githubusercontent.com/assets/5836855/12865837/a5e75df8-ccb8-11e5-8637-4491a1acf8f3.png)

This would be the introduction of the pinchZoom feature.
But maybe the images are a little bit to small?

![whatsnewpinch1](https://cloud.githubusercontent.com/assets/5836855/12865861/56ebf5e6-ccb9-11e5-9667-d927c9435a52.png)

I really like this feature and hope it will also be u

[2016-02-06 09:31] tobiasKaminsky commented on #1104
It would be great if the featureItem would move while swiping, just like it is done in the ImageAdapter.

[2016-02-06 14:06] cdamken commented on #1462
The SFDC ticket is mention above

Sent using CloudMagic Email
[https://cloudmagic.com/k/d/mailapp?ct=pa&cv=8.0.91&pv=5.1.1&source=email_footer_2] On Fri, Feb 05, 2016 at 5:30 PM, MTRichards < notifications@github.com [notifications@github.com] > wrote:
Please add a SF ticket reference and any STORY info you have and can show so we
can discuss.

—
Reply to this email directly or view it on GitHub
[

[2016-02-07 13:07] Spielmops opened #1467 "Version 1.9.0 not working as expected on Lollipop"
This version does not upload photos on automatic, when installed on Lollipop. So I tried to upload a photo manually. Without success and without any errormessage. Installed on Kitkat (4.2.x) it works.
I tried the newest beta with the same result and an enormous error-message stating it has something to do with permissions. (This issue has nothing to to with sd-cards, which are not writable!)

Spie

[2016-02-08 06:49] tobiasKaminsky commented on #1467
Can you post the error message of the beta version?
As this might be the same reason for the crash of the official version this might be very helpful.

[2016-02-08 08:55] tobiasKaminsky commented on #695
As /core needs some time to get the search api, I would like to add the search in the current folder.
This could look like https://github.com/owncloud/android/issues/695#issuecomment-61665708.
@jancborchardt @davivel is this ok?

[2016-02-08 08:59] tobiasKaminsky opened #1468 "Upload/Download notification: show remaining time/number of files"
Currently the notification of upload/download shows only progress.
I would like to enhance this by also showing:
- remaining time
- (x/Y) to indicate how many files are left to process. This will only be shown if there is more than one file in queue, resulting in:
120kB of 500kB, 5s remaining, (5/120)

@jancborchardt @AndyScherzinger what do the design gurus say? :)

[2016-02-08 09:01] tobiasKaminsky opened #1469 "Uploader: select all"
While adding files from a folder on the device, every single file has to be selected one by one.
There should be an option to select all files at once.
@jancborchardt @AndyScherzinger do you have an idea where we can do this?

[2016-02-08 09:42] AndyScherzinger commented on #1468
I tried to create a before/after mockup to get a basic idea.

today:
![today](https://cloud.githubusercontent.com/assets/1315170/12882163/0a4b24d0-ce50-11e5-9df6-348eac0e04d5.png)

adding multi-upload (+cancel) and remaining time
![new](https://cloud.githubusercontent.com/assets/1315170/12882175/1adb384e-ce50-11e5-8cd3-4826b8d1335e.png)

@jancborchardt is probably better at information design. :)

[2016-02-08 09:46] AndyScherzinger commented on #1469
Looking at today's upload dialog I would suggest adding it as a menu item but overflown (three dotted).
![screenshot_20160208-104453](https://cloud.githubusercontent.com/assets/1315170/12882318/1d0e46dc-ce51-11e5-8504-77867a8d5265.png)

[2016-02-08 14:19] Spielmops commented on #1467
The following error-message apeared after a shot with the camera (open
camera) on a Fairphone2 with lollipop:

************ CAUSE OF ERROR ************

java.lang.RuntimeException: Unable to start receiver
com.owncloud.android.files.InstantUploadBroadcastReceiver:
java.lang.SecurityException: Permission Denial: opening provider
com.android.externalstorage.ExternalStorageProvider from
ProcessRecord

[2016-02-08 15:04] jancborchardt commented on #1442
Next time when something app-breaking like this happens, we need to push out a fix immediately. Otherwise people will uninstall the app and possibly not install it again because they lost trust.

[2016-02-08 15:19] jancborchardt commented on #1104
@tobiasKaminsky the intro should not feature these detail actions. In fact it’s too long as it is and I would like it to ideally be just 3 slides. (As mentioned in the iOS issue about it before.) Only the really important stuff. Like Sync, Share, Instant Upload.

[2016-02-08 15:21] jancborchardt commented on #695
Yeah, we can have a filter of the current folder first, and then search of the rest later. Kind of like in the web interface where the current folder is filtered and other results show below.

[2016-02-08 15:22] jancborchardt commented on #1468
Much better, yes! The current multiple notifications are quite annoying and not super useful. Wording seems fine, can’t really think of an improvement at the moment.

[2016-02-08 15:23] jancborchardt commented on #1469
How do other apps do this? As far as I remember some others have a function for »Select all« in the multiselect bar. So as soon as you select the first file, you can select all from there.

[2016-02-08 15:32] AndyScherzinger commented on #1469
@jancborchardt exactly, but I only found applications that have this in the overflow menu not as text/icon in the bar itself.

[2016-02-08 15:32] przybylski commented on #1104
@jancborchardt those basic features (instant upload, sync & share) will be presented on first install.
Additional features will be shown only on upgrade.

[2016-02-08 17:23] carlaschroder commented on #1464
I really need something that looks like the final release :)

[2016-02-08 20:24] jancborchardt commented on #1104
Ok, but still I think this is only warranted for big features. And the screenshot above shows 6 dots / slides. ;)

[2016-02-08 21:02] domneu commented on #1341
Now I understand.  Thank you for your help on this.

Here it is:

************ CAUSE OF ERROR ************

java.lang.RuntimeException: Unable to start activity
ComponentInfo{com.owncloud.android.beta/com.owncloud.android.ui.activity.Uploader}:
java.lang.IndexOutOfBoundsException: Invalid index 0, size is 0

                at
android.app.ActivityThread.performLaunchActivity(ActivityThread.java:21

[2016-02-09 08:19] rperezb commented on #1464
@carlaschroder I think this may be closed too!

@tobiasKaminsky very appreciated your help :+1:

[2016-02-09 08:19] AndyScherzinger commented on #1104
@jancborchardt btw the original screenshots of the iOS app has 6 dots too :wink:

[2016-02-09 08:42] AndyScherzinger commented on #1415
Hi @elpraga I finally found the issue :) I committed a fix of the check boxes. @tobiasKaminsky just fyi I have also commited it to the beta branch https://github.com/owncloud/android/commit/52e7bd85dfe9c61655e9746e4767fb1d831671ed

[2016-02-09 11:15] jancborchardt commented on #1104
;)

[2016-02-09 16:51] davivel commented on #1442
@jancborchardt, thanks for your feedback. Your comment will be very useful to speed up future updates.

[2016-02-09 17:03] carlaschroder commented on #1464
Thank you @tobiasKaminsky and @rperezb :)

[2016-02-09 17:03] #1464 closed

[2016-02-09 19:30] tobiasKaminsky commented on #1469
I think that the "three dot" menu is ok as this function is not that often used?

[2016-02-10 09:10] rperezb commented on #340
@mcronce yes, your willingness is appreciated!
We have a label "contributions are welcome" https://github.com/owncloud/android/issues?q=is%3Aopen+is%3Aissue+label%3A%22contributions+are+welcome%22 please check any of them.
YEs, reliable uploads implies several changes, we are working on it on parts, first part is on the branch: https://github.com/owncloud/android/tree/reliable_uploads_actions_uplo

[2016-02-10 13:02] #1460 closed

[2016-02-10 13:20] davivel commented on #1460
Code corresponding to the version in https://github.com/owncloud/android/releases/tag/oc-android-1.9.1 .

Matching version of the OC client library for Andorid in https://github.com/owncloud/android-library/releases/tag/oc-android-library-0.9.10 .

Enjoy!

[2016-02-10 17:48] sudhirkhanger commented on #1152
Can we have the instructions updated?

[2016-02-10 19:49] AndyScherzinger commented on #1469
Yes, I think so too :+1:

[2016-02-11 01:09] boscowitch commented on #470
ALLOW HIGHER ENCRYPTIO FFS!!!!
cant believe i paid for this... and it fails at basics that are defaults post snowden ... how could i trust the app to use less secure settings...

[2016-02-11 13:36] jancborchardt commented on #1469
Cool, go for it then. :)

[2016-02-11 14:05] MTRichards commented on #1454
Hello @tobiasKaminsky @andromaex we are looking at 1191 in the next sprint - which is the next 2 weeks starting today, now that the new version is out (yeah!). Further, looking at #1100 at the top of the backlog as well (which means if we get time in the next 2 weeks, and we will get it in the next release), and then finishing the uploads view #471 in the next 2 weeks as well.

And a bug or two on

[2016-02-11 16:52] davivel commented on #709
True: duplicate of #296.

[2016-02-11 16:52] #709 closed

[2016-02-11 18:23] davivel commented on #828
I don't like much this approach. Screen surface in smartphones is scarce, so leaving unused margins is an important lose. Specially if we have to add extra entries in the list, such as an 'Up' button to browse to the parent. And more specially if we are rendering a list of items.

In terms of style, it doesn't fit well Material Design, that we are embracing.

@jancborchardt , I guess your smartpho

[2016-02-11 18:31] davivel commented on #893
Added Jr Job about the addition in issue_template.md.

About the test script on server side, well, too hard. There are tons of possible variables in a server setup to just talk about "right" and "wrong" servers. Right now the app already makes some very basic tests when a URL is entered in the log-in view - mainly, checking status.php and the value of the "installed" parameter in it. Sound to me l

[2016-02-11 18:34] davivel commented on #902
Is this still a problem? Not sure if that the problem is in the refresh folder, but maybe in the load of the images.

[2016-02-11 18:34] davivel commented on #902
What model is your device?

[2016-02-11 19:24] smico opened #1472 "Beta 20160120: crash - uploading picture to owncloud using "Easy Share Action""
### Expected behaviour
Picture should be uploaded to ownCloud

### Actual behaviour
ownCloud app crashes

### Steps to reproduce
1. open Gallery
2. share picture by using "Easy Share Action" button
3. ownCloud App crashes

### Environment data
Android version: 6.0.1
Device model: Nexus 4
Stock or customized system: Cyanogenmod 13
ownCloud app version: 20160120
ownCloud server version: ownCloud 8.2

[2016-02-11 20:56] Spielmops commented on #1467
I take one part back: uploading a file by hand is now working. The app "privacy impact" has a bug, where it shows to be active but is not. One time checking "not active" then check again "active" was it. Uploading by hand is OK.

That leaves automatic uploads of photos: it's not working, error-message has not changed.

Spielmops

[2016-02-12 08:48] AndyScherzinger commented on #1454
@MTRichards Thanks for the update! Sounds fine to me. One UI PR I would suggest woudl be #1413 wehich implements @jancborchardt requierements regarding styling of the new share privilege dialogs. The FAB #1100 would be nice but as far as I understand depends on a decision if we add another library (part of the PR) to the app or not, since Android doesn't provide a out of the box implementation for

[2016-02-12 09:49] tobiasKaminsky commented on #902
It is still the same.
Android 6 with Moto X Play, but also with Nexus4 on Android 5.
I think it is a problem of loading the file list/refreshing the folder, as scrolling is working very fast (either if there are thumbnails or placesholders)

[2016-02-12 10:59] joeplus commented on #471
Just a quick question:
Lets say the a user is uploading multiple files and there is on notification in the notification bar.
Will the entry be reset (disappears when the upload for one file has finished and appear again for the next file) or just refreshed (showing the overall progress for all files combined and only the file name is updated based on which file is currently uploaded)?

[2016-02-12 15:46] dahan1999 opened #1474 "No resource found: 'style/Theme.Sherlock.Light.Dialog'"
Error:(727) Error retrieving parent for item: No resource found that matches the given name 'style/Theme.Sherlock.Light.Dialog'.

I clone the latest repos and in the first compile I run into this error.

Anyone know how to solve it?

[2016-02-12 16:14] tobiasKaminsky commented on #471
@joeplus I think the notification is a different issue.
But the plan should be to show only one notification with changing content. See also #1468

[2016-02-12 16:16] tobiasKaminsky commented on #1474
Which branch do you use?
Sherlock should not be used any longer

[2016-02-12 16:25] dahan1999 commented on #1474
I am using https://github.com/owncloud/android

[2016-02-12 17:27] AndyScherzinger commented on #1474
Did you follow the instructions in https://github.com/owncloud/android/blob/master/SETUP.md development is only supported for gradle and ANT at the moment.

[2016-02-13 06:57] jkutterer commented on #1317
Bug seems to be fix in Version 1.9.1.

[2016-02-13 07:38] tobiasKaminsky commented on #1474
@dahan1999 Yeah, but which branch? You should use master.
I think "develop" could be so old that you get these error messages...

[2016-02-13 12:42] enoch85 commented on #1468
Wow, much better!

[2016-02-13 14:28] dahan1999 commented on #1474
I am sorry that I use an outdated branch. The issue is solved. Thank you for your help.

[2016-02-13 14:41] j-ed opened #1475 "download failed message shown"
## environment ##
ownCloud Android app v1.9.1

## expected behaviour ##
If a file download fails, a message should be displayed with detailed information about the file and file path which has failed. Additionally it should be possible to show a list of files to be download/synchronized which also allows to remove a file from that list.

## current behaviour ##
If a file download fails, a message

[2016-02-13 21:44] tobiasKaminsky commented on #1474
Glad it works!

[2016-02-13 21:44] #1474 closed

[2016-02-13 23:06] fornwall opened #1476 "Cannot upload file from Google Drive"
Using version `1.9.1` of the app on the stock Android 6.0 on a Nexus 6P:

1. Navigate to a folder where you want to upload a file.
2. Press the Upload button.
3. Select `Content from other apps`.
4. Select `Drive` in the `Open from` navigation drawer.
5. Select the file to upload.

No file is uploaded, but the following exception is shown in `logcat`:

    Upload of content://com.google.android.ap

[2016-02-14 00:20] ids1024 opened #1477 ""Couldn't Establish Connection" message when trying to connect"
I am trying to get the app to connect to my owncloud, but get the message "Couldn't Establish Connection".

Here is the adb logcat output:

[code]

As far as I understand, this says it is failing to retrieve https://owncloud.iandouglasscott.com/status.php, but that loads properly in the browser on my phone, so I don't know why this isn't working. It is probably a server-side issue, since using htt

[2016-02-15 05:17] rijudewan opened #1478 "Cant Download and Upload file from Android"
cant download any file  i try 1kb file and 40MB file both same cant download  ...
error ..
Operation finished with HTTP status code 503(fail) in log file...

But from desktop client it does not have any issue

[2016-02-15 06:43] childnode opened #1479 "[Beta][20160120] Misleading Connection Error on Setup"
### Expected behaviour
Getting an connection error if server is not reachable only.

### Actual behaviour
Upon Setup with new owncloud Android Client, user gets misleading connection error message even if the basic auth challenge denies the connection.

### Steps to reproduce
1. enter an owncloud server URL which is reachable
2. get the error message "unknown error" below the server field instead

[2016-02-15 08:42] AndyScherzinger commented on #1343
The changes for marshmallow have been rebased to master - thanks @davivel for the rebase and are now available on #1473

[2016-02-15 08:56] tobiasKaminsky commented on #1478
Is it working with demo.owncloud.org (user/pass: test)

[2016-02-15 08:57] tobiasKaminsky commented on #1477
Are you using some kind of IPv6?
As far as I know this is currently not supported by the app and therefore it fails.
(please correct me if I am wrong!)

[2016-02-15 11:37] rijudewan commented on #1478
yes its working .. with demo server ...
can any one give me the hint  .. y its not working in my server ...?

[2016-02-15 12:10] strugee commented on #1478
@rijudewan we have no idea. You need to provide logs and version numbers. Fill out the [issue template][1].

 [1]: https://raw.githubusercontent.com/owncloud/android/master/issue_template.md

[2016-02-15 12:12] strugee commented on #1472
Duplicate of #1465

[2016-02-15 16:28] ids1024 commented on #1477
My server and wifi network support ipv4 and ipv6, so it defaults to the latter. It wouldn't think that would cause any problem, but if I disable ipv6 with https://play.google.com/store/apps/details?id=de.lennartschoch.disableipv6, it works! That said, it is inconvenient to disable ipv6 on my phone just to fix this...

[2016-02-15 16:38] AndyScherzinger commented on #471
@masensio I just committed the refresh icon work :) https://github.com/owncloud/android/commit/3fa2d292bb70139ae00d0f9f9ab7209ba381b70e

[2016-02-15 16:39] ids1024 commented on #1477
Oh, it turns out my nginx server wasn't configured to serve over ipv6. Owncloud should probably fallback to ipv4 as mentioned in #616, but that fixes it anyway.

[2016-02-15 18:52] davivel commented on #1401
@AndyScherzinger 's PR was 'relocated' to #1473; almost there.

[2016-02-15 20:13] tobiasKaminsky commented on #1472
Right.
@smico can you test the latest beta and then comment in the linked issue?

[2016-02-15 20:13] #1472 closed

[2016-02-15 20:14] tobiasKaminsky commented on #1465
@dragotin
Can you test the latest beta?

[2016-02-15 20:15] tobiasKaminsky commented on #1477
Real ipv6 needs to be done sooner or later.
So, as this is "solved" by you, I close it?

[2016-02-15 20:15] #1477 closed

[2016-02-15 20:17] tobiasKaminsky commented on #470
@boscowitch I have enabled FFS and I can connect with the app.
Can you explain how to reproduce the problem?
(I also use letsencrypt, with apache2)

[2016-02-15 20:50] boscowitch commented on #470
Well I use nginx as an reverse proxy that points to my apache  so nginx handles all the ssl encyption and I set my encryption modes to only secure alorithms wiht high encryption like for example here https://cipherli.st/
to disallow weak encryption:
ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
before I allowed this:
ssl_ciphers 'EDH+CAMELLIA:EDH+aRSA:EECDH+aRSA+AESGCM:EECDH+aRSA+

[2016-02-15 22:10] childnode commented on #470
@boscowitch I bet same problem [as for me above](https://github.com/owncloud/android/issues/470#issuecomment-105204737): have you tried to enable `EECDH+aRSA+SHA`? yes, it's just a bad workaround ;/

[2016-02-15 22:26] ids1024 commented on #1477
Yes, it is solved, other than the fact it isn't falling back to ipv4, which is already addressed in #616.

[2016-02-15 22:34] boscowitch commented on #470
unfortunately every other free client seems to have the same limitations... i find this very strange why the heck should an app have less SSL chipers available than the chrome browser on android...

[2016-02-15 22:47] childnode commented on #402
*yay* back ... OC 8.2.2, php 5.6.17 and .18 with any webDav client ;( that's sooo frustrating

[2016-02-16 03:37] rijudewan commented on #1478
thanks its working now .. it was encryption problem ...

[2016-02-16 03:37] #1478 closed

[2016-02-16 17:12] davivel commented on #1343
I think the current solution (checking storage permission in the app start) may be good enough to get started. But probably other scenarios need to be cover.

Ideally, the permission check should be done (additionally) as later as possible, before writing in the public storage (right now, before writing a file since there is no option to choose other storage). In case of  failure, we should ask th

[2016-02-17 07:24] strugee commented on #1465
@tobiasKaminsky I'm not seeing an upgrade in F-Droid, any idea why? (Possibly their builder hasn't picked up the changes but I'm _pretty sure_ it's been 24 hours)

[2016-02-17 08:09] AndyScherzinger commented on #1343
We do show the dialog directly. The snackbar is only shown in case the user denied or revoked the permission. In that case the snackbar is shown with a description/reasoning on why the user needs to grant the permission. This is also in line with the permission API and the recommendation on how to implement the new permission system :)

[2016-02-17 14:30] TheKaban commented on #1074
Hello!
I have this error:

`Can not modify header information - headers already sent by (output started at /var/www/owncloud/3rdparty/sabre/http/lib/Sapi.php:70) at / var / www / owncloud / 3rdparty / sabre / http / lib / Sapi.php # 58`

OwnCloud: 8.2.2
OC: Linux Ubuntu Server 14.04.03
PHP: 5.5.9
Apahe: 2.4.7
Mysql: 5.5.47

[https://github.com/fruux/sabre-dav/pull/577/files](https://github.com/fru

[2016-02-17 16:30] CriticalNoob commented on #1074
I guess there is only way to know... But backup the file first.

[2016-02-17 17:20] fornwall commented on #1476
Does the owncloud app not support `content://` uri:s? A quick look at the code seems to indicate that it tries to resolve down to a local file path, which won't work in many cases - opening a content:// uri must be done through [ContentProvider#openFile()](http://developer.android.com/reference/android/content/ContentProvider.html#openFile(android.net.Uri, java.lang.String)).

[2016-02-17 18:36] tobiasKaminsky commented on #1465
@strugee F-Droid has a problem with the latest 4-5 builds.
I have already asked on IRC.

[2016-02-17 20:40] enoch85 commented on #1074
@davivel @tobiasKaminsky  When can we expect a fix for this?

[2016-02-17 22:23] pgroe opened #1480 "Downloads fail on mobile clients after server changed ssl key (browsing works fine, iOS also affected)"
### Expected behaviour
Server changed SSL key after expiry (self signed certificate).
Clients should ask for accepting self signed certificate and then work fine

### Actual behaviour
Browsers and desktop clients correctly recognize new certificate, ask for overriding self signed and work fine after accepting.
Mobile clients (Android and iOS) continue browsing repository, but fail to download and

[2016-02-18 09:03] strugee commented on #1465
@tobiasKaminsky gotcha. Thanks.

[2016-02-18 12:36] rperezb commented on #1067
Hey guys!

The dates for ownCloud Contributor conference 2016 are set, from 9-15 September.

It would be very very cool to meet you in person there. Letting you know in advance so that, perhaps, you may save some days :smiley:

Registration will open soon, Q1 -2016, further info may be found on:  https://owncloud.org/conf/

Plus, @jospoortvliet may help here too!

[2016-02-18 13:02] AndyScherzinger commented on #1067
Time frame looks good! :)
Last year you guys offered, let's say financial support for travel cost, just wanted to know if this would also be the case this year. Probably a question for @jospoortvliet :)

[2016-02-18 13:04] AndyScherzinger commented on #1074
@enoch85 reading through the comment it seems to me this is a server side issue (sabre dav). So probably @DeepDiver1975 has an idea :)

[2016-02-18 13:36] CriticalNoob commented on #1074
@enoch85
Options :
You manually fix it for your installation
You wait until the fix is applied to Sabre 2.1.9 (if Owncloud devs decide to)
You wait until there is a Owncloud version with Sabre 3.1.1 (Probably OC 9 but not sure)

[2016-02-19 07:33] rperezb commented on #1067
@AndyScherzinger great! yes, this year too.

@jospoortvliet will provide further details, there may be some delay since he is ooto

[2016-02-19 10:36] rperezb commented on #1401
This will be included within the next Android version

[2016-02-19 10:36] #1401 closed

[2016-02-19 12:36] jknockaert opened #1481 "APK on Amazon Appstore is out of date"
The Amazon App Store is still distributing version 1.8.0 of the ownCloud client app for Android. This has happened before: #423 and #561.

[2016-02-19 12:57] masensio commented on #1468
Hi @all,

I like the idea of upload notification improvement, although I some doubts about that:
- Remainig time, it is a tricky data because it depends on the bandwidth (as @AndyScherzinger said)
- Name of current upload: I think it is useful to know what the current upload is
- Notifications in general: maybe after merging uploads view PR  the uploads notifications would be removed because we wo

[2016-02-19 13:44] jancborchardt commented on #1468
Regarding the name of current upload, we could have the title be:

[2016-02-19 14:15] masensio commented on #1166
Now #1191 is merged on master.
I think that PR fixes this issue, so I'll close it.

Thanks @tobiasKaminsky and @AndyScherzinger

[2016-02-19 14:15] #1166 closed

[2016-02-19 19:36] cdamken commented on #1401
Thanks  @rperezb

[2016-02-19 20:06] woohooyeah opened #1482 "using Feedback option results in receiving a NDR"
### Expected behaviour
The feedback option creates a new e-mail message to incoming2@owncloud.com. We expect this address to exist, delivering our e-mail message containing the feedback content.

### Actual behaviour
The mailbox does not exist, according to ownCloud's mail server, kerio.owncloud.com. It results in a NDR being sent back.

### Steps to reproduce
1. Open the Settings
2. Tap 'Feedback

[2016-02-20 20:34] NYCone opened #1483 "Permissions Server instance not found"
### Expected behaviour
Tell us what should happen
Sign into OC from phone
### Actual behaviour
Tell us what happens instead
"Server Instance Not Found"
### Steps to reproduce
1. Try to sign in from phone
2.
3.

### Environment data
Android version:
4.4.2
Device model:
Samsung Galaxy S4
Stock or customized system:
Rooted -
ownCloud app version:
2.0.1
ownCloud server version:
8.2
### Logs
#### Web s

[2016-02-22 02:01] strugee commented on #1465
@tobiasKaminsky did you ever get a reply?

[2016-02-22 08:46] AndyScherzinger commented on #1482
@woohooyeah I can't reproduce this. I hit the Feedback button in the settings and the mail gets sent to apps@owncloud.com which works fine.

[2016-02-22 11:27] davivel commented on #1336
Note added to documentation in https://github.com/owncloud/documentation/pull/2156 .

Backports in its way for previous server versions.

Thanks everybody.

[2016-02-22 11:27] #1336 closed

[2016-02-22 12:47] rperezb commented on #1482
hehehe @AndyScherzinger confirmed! i have just read the mail

[2016-02-22 12:48] rperezb commented on #1482
@woohooyeah the ownCloud app sends feedback to apps@owncloud.com mail account.
How did you manage to fill in the mail as: incoming2@owncloud.com ?

[2016-02-22 15:22] woohooyeah commented on #1482
When testing it now, it fills in apps@owncloud.com, indeed.
When I tested it 3 days ago, it filled in incoming2@owncloud.com. Quite strange indeed.

[2016-02-22 16:02] AndyScherzinger commented on #1482
I checked the history and https://github.com/owncloud/android/commit/e86d7cd9b4867e30c458bf027ae135251968b122 was the last change which configured apps@... as the mail address (in 2013).

@woohooyeah Since it is working now I am closing the issue (for now). Please reopen it in case the situation comes up again.

[2016-02-22 16:41] AndyScherzinger commented on #1482
Sorry,
I need to reopen...didn't see it due to my spam filter, but I also get this reply...

This is an informative message sent by kerio.owncloud.com.

The server was not able to deliver your email message

Subject: Feedback - android v1.9.1
Date: Mon, 22 Feb 2016 09:42:38 +0100

to the following addresses:

<incoming2@owncloud.com> (kerio.owncloud.com: Mailbox does not exist)

Maybe there is som

[2016-02-22 16:51] AndyScherzinger commented on #1482
--> It is not an application error, it is rather an email server missconfiguration as it seems to me.

[2016-02-22 16:52] LukasReschke commented on #1482
@danimo ^

[2016-02-22 16:53] danimo commented on #1482
It's already fixed. Sorry for the inconvenience.

[2016-02-22 16:53] #1482 closed

[2016-02-23 11:42] rperezb commented on #1481
@jknockaert

We have been working with Amazon for several years without a problem. Recently they have made the app submission process increasingly difficult, the requirements for us to upload the app to the market has been changing over the time - this was the reason for the previous delays - and as a result we are no longer able to provide updates through Amazon.

While we still provide updates i

[2016-02-23 11:57] jknockaert commented on #1481
@rperezb Maybe the reference to the Amazon App Store should be removed here:
https://owncloud.com/download/

[2016-02-24 07:27] rperezb commented on #1481
@jknockaert yes, we will fix it, thx!

[2016-02-24 12:08] masensio commented on #1476
Hi @fornwall,

thanks for your feedback.

I think we have a problem when trying to upload a file to owncloud from some apps as Drive. We are taking into account an incorrect path when catching the file, so we need to review this process and fix this problem.
We will take in mind this issue for our upload improvements.

Thanks for your tips for fixing the issue.

[2016-02-24 13:08] creolis commented on #1333
Fixed for me, using the following versions:

Android: 6.0.1
App: 1.9.1
ownCloud: 8.2.2

Thanks, guys :)

[2016-02-24 13:43] jancborchardt commented on #125
Same when uninstalling the app – all files remain, and this actually could be seen as a privacy issue because I expect my data to be gone.

cc @davivel @MTRichards @AndyScherzinger @tobiasKaminsky

[2016-02-24 14:30] AndyScherzinger commented on #125
Remving local downloaded files when removing the corresponding account seems to be manageable, see @tobiasKaminsky' comments. Doing this when removing the app is a bit more complicated afaik since the app isn't called before deletion do do some cleanup. So as long as the data is within the app's installation directory it should get removed by Android automatically. If the data resides somewhere el

[2016-02-24 14:41] jancborchardt commented on #125
By default, the data is in the installation directory, right? If ppl change it (e.g. using external storage) then it’s fine if it stays there on uninstall. But by default it should work.

[2016-02-24 14:46] AndyScherzinger commented on #125
Exactly, yes! Is there any occurrence of this not being the case with latest releases?

[2016-02-24 16:55] davivel commented on #125
Wrong. File contents always are in external storage from the very beginning of the app existence. That's why this is not a bug, but I'm not entering in a semantics discussion here.

When the account is removed from the app, easy, and I wouldn't ask to the user. When the account is removed from 'Device settings' , not easy at all, and the most important reason to not having this done yet, probably.

[2016-02-24 16:59] davivel commented on #1333
@all, could you please test with version 1.9.1 as @creolis did and tell here your result? There was a crash fixed in that version that occurred when any federated share existed in the account.

Thanks in advance.

[2016-02-24 17:04] Messinger commented on #1333
Looks good here. Doesn't crash anymore.

[2016-02-24 17:05] davivel commented on #1317
@pecuna , could you confirm if it's fixed in 1.9.1 ?

Thanks to @all.

[2016-02-24 17:08] pecuna commented on #1317
Yes! I didn't see this bug for some long time now. Thank you all for resolving the issue!

[2016-02-24 17:08] #1317 closed

[2016-02-24 17:15] davivel commented on #1317
:tada:

[2016-02-24 17:22] davivel commented on #1483
Hi, @NYCone. That error message points that the URL you are entering in the input field is not exactly the one expected by the app. Maybe you missed part of the path in the end of the URL.

Please, see the URL in your web browser when you are logged in ownCloud, and in the root folder of your account. Try to input in the app exactly that without the part ```/index.php/apps/files/``` in the end, an

[2016-02-24 17:23] davivel commented on #1483
On the other hand, where did you get the app? The last official version is 1.9.1, we still didn't get to 2.0.1 :)

[2016-02-24 17:33] davivel commented on #1194
Subsumed by #1468

[2016-02-24 17:33] #1194 closed

[2016-02-24 17:43] davivel commented on #1159
Closing as included in #1468

[2016-02-24 17:43] #1159 closed

[2016-02-24 17:56] AndyScherzinger commented on #1468
True, issue to decide here would then be how to deal with long file names, mockups see below:

short name
![name1](https://cloud.githubusercontent.com/assets/1315170/13295201/0494cf02-db28-11e5-8f65-c1d013b3d6a6.png)

long name (middle ellipsized)
![name2](https://cloud.githubusercontent.com/assets/1315170/13295212/1068ccf2-db28-11e5-880c-ef7ed8c5c38e.png)

Thus the space is limited that's why I k

[2016-02-24 17:56] davivel commented on #1074
As an alternative, since this seems triggered specifically by the HEAD method, we can replace it with a PROPFIND with depth=0 and minimum properties in the response; if a I recall correctly, the desktop client uses something like that from years ago.

Sounds like "sneakable"...

[2016-02-24 18:03] davivel commented on #1323
Thanks for the reference, @Querschlag , seems feasable.

Let's track it in #1462.

[2016-02-24 18:03] #1323 closed

[2016-02-24 18:05] davivel commented on #1462
Very important the reference in #1323 from @Querschlag . Thanks, @AndyScherzinger , for the link.

[2016-02-24 18:10] davivel commented on #1343
True, @AndyScherzinger . Thanks.

Then probably the only pending weakspot is, what happens if there is a long queue of pending uploads or downloads and the storage permission is removed? Is the app response *just* uncomfortable, or is it unacceptable?

[2016-02-24 20:24] davivel commented on #1467
Hi, @Spielmops, I have some doubts.

What do you mean with "privacy impact"? Is it another app in your device?

About the camera app, "Open Camera" is the name of the app?

Thanks.

[2016-02-24 20:56] davivel commented on #470
@ConiKost, thanks anyway for your feedback.

@childnode , your input here is **awesome**. Thank you so much for your effort.

Right now the app (the OC library for Android) is explicitly enabling support for TLSv1.2 protocol, but it's not explicitly enabling any concrete cipher. We could try to explicitly request all the available ciphers, just in case any of them is not enabled by default. All th

[2016-02-24 21:08] davivel commented on #1480
In the case of Android, sure that browsing is working? If you add new files to a folder through the web UI, they appear in the list of files in the app?

This needs to be fixed.

As a workaround: in the Android app go to ```Settings```, long press on the problematic account, select ```Modify password```. When the login view is shown, a dialog reporting about the new certificate should appear. Acce

[2016-02-24 21:15] davivel commented on #402
@all, please, could you confirm if this is a problem for you with OC 1.9.1 for Android?

Thanks in advance.

[2016-02-24 22:06] boscowitch commented on #470
so only chrome or apps with it's own ssl implementation can connect ... I must say I excepted more from Android also disabling TLS 1.2 because of 2% incompatible websites in the whole web.... seems kinda drastic especially since websites have to update more often anyway out of security reasons... at least they should allow apps to enable it and not totally dissable it.

And I'm on Android 5 and as

[2016-02-25 09:46] AndyScherzinger commented on #1343
Hmmm...tricky case. I guess it depends on how robust the upload is implemented. It will obviously through a permission exception and I don't know how the upload implementation handles this tight now or with the work in progress reliable uploads implementation.

If the implementation detects the permission exception and pauses/stops the upload/download and queues the files to be processed until the

[2016-02-25 09:50] AndyScherzinger commented on #1462
@davivel would you rather head for the high level library or our own implementation based on the slightly lower level Google API? :)

[2016-02-25 10:21] AndyScherzinger commented on #1284
@rperezb this might be the corresponding issue to https://github.com/owncloud/core/issues/21555 - not sure though...

[2016-02-25 10:25] rperezb commented on #1284
@AndyScherzinger certainly, yes, it seems to be the same environment
Key:
- LDAP /AD server with avatar
- External storage  with session credentials

[2016-02-25 10:25] rperezb commented on #1284
good catch, @AndyScherzinger

[2016-02-25 10:27] AndyScherzinger commented on #1284
--> https://github.com/owncloud/android/issues/1284#ref-issue-125643366 :grin:

[2016-02-25 11:30] Stonerocker commented on #814
problem persists on version 1.9.1 with latest stable owncloud server 8.2.2

[2016-02-25 15:14] rperezb commented on #1481
fixed, thx

[2016-02-25 15:14] #1481 closed

[2016-02-25 15:15] rperezb opened #1489 "[2] Release of the new version"
#### AC:
- [x] create release branches (app & library)
- [x] Freeze the code
- [x] Regression test plan
- [x] Regression test validation

Bugs found:
- [x] Crash after some actions with navigation drawer and FAB #1578
- [x] App crashes when a link is copied (Av4.3) #1579
- [x] Minor improvements in FAB #1581
- [x] Uploads from Google Drive #1607 [WONTFIX]
- [x] If password not enforced, error mess

[2016-02-25 17:19] davivel commented on #814
Just to refresh my mind... the files do not appear if you pull down the list to enforce a refresh?

[2016-02-25 17:32] davivel commented on #1462
I'd prefer the high level library, but maybe it's not feasible; in our case the password fallback should be the current passcode Activity, just took a fast look to the lib, but if it's handling itself the password dialog I wouldn't expect a soft integration.

[2016-02-25 17:59] davivel commented on #1475
Thanks, @j-ed.

The topic about the list of downloads should be tracked in #407

[2016-02-25 18:03] davivel commented on #902
I'd bet for the load of the data and or refresh of the view, better than for the folder refresh (with the server side) itself. Handling of Fragments in FileDisplayActivity is... too complex, being generous.

[2016-02-25 18:13] AndyScherzinger commented on #902
This should be solvable moving on to recyclerview since it only renders the visible area while the list view renders all 800 images (the complete list) at once. So that might also bring some performance improvement :)

[2016-02-25 19:23] Spielmops commented on #1467
Privacy Impact is another app on my fairphone. For information: have a look at forum.fairphone.com. And "Open Camera" is in fact the name of the camera app  - information at f-droid.org. I tried it with another camera, the result is exact the same.

There are some android functions, which changed their behaviour in lollipop, so that several apps do not work the same way as since kitkat .

Spielmop

[2016-02-25 21:47] abishai commented on #1437
Must have feature. Without it the app is useless for me as I'm looking how to sync call recordings to owncloud and the app has no ability to sync user choosen folder in 2 way.

[2016-02-25 22:48] childnode commented on #402
so, can confirm this doesn't work for me with 1.9.1 (upload a 2,5 MB PDF) but I also can't check back for older version since I have removed it due to the annoying power sucking bug.

But I ran into 2 other bugs ;) and once again: I think it's more a core than an android bug.

[2016-02-26 09:01] Stonerocker commented on #814
Exactly. No files appear and synchronization fails. However, upload to the OwnCloud server works.

[2016-02-26 10:36] davivel commented on #814
OK, I read slowly again, and I was losing important context. I'm sorry.

@Stonerocker , you have an external storage provider in your OC server enabled, right? Could you try to disable it temporary and see if the app works in that case?

[2016-02-26 10:42] davivel commented on #1467
Thanks, @Spielmops . Probably yours is another case of a camera app that doesn't trigger the NEW_PICTURE event the app expects. I will double check before redirecting you to another issue.

I'd guess that you are not interested in installing the Google Camera app, right?

[2016-02-26 10:45] davivel commented on #902
Recyclerview more than probably will help with performance, but I suspect that the main reason for the problem here is in the level of Fragmens management.

[2016-02-26 10:51] davivel commented on #485
@RobTranquillo , is this still a problem for you? Thanks in advance.

[2016-02-26 11:05] RobTranquillo commented on #485
@davivel no, not longer. With Android 6 and the newer client everything works fine. Thx

[2016-02-26 11:07] davivel commented on #743
@cdr8H , is this still a problem for you?

I see a strange point here. The bug solved by the OC JB workaround app is bound to the installation of the OC app from Play Store. Otherwise, the bug should not happen (yours could be different).

Where did you install the OC app from?

[2016-02-26 12:05] davivel commented on #485
Thank you for your feedback :)

[2016-02-26 12:05] #485 closed

[2016-02-26 12:38] Stonerocker commented on #814
Sorry, no external storage provider. OC runs on a home base server on a qnap nas.

[2016-02-26 13:06] domneu commented on #1341
Did the last log I sent help at all?

Thank you,
Dominic

On Mon, Feb 8, 2016 at 4:02 PM, Dominic Neumann <domneu@gmail.com> wrote:

[2016-02-26 14:30] jancborchardt commented on #125
Sooo

is this the right way to do it? Seems not, or what am I hearing from @AndyScherzinger's comment?

[2016-02-26 14:33] jancborchardt commented on #1468
Lools good! Only thing I would change now is switch around to »5s remaining (79%)« so it's more of a sentence and a bit shorter.

[2016-02-26 16:18] davivel commented on #519
NIce, thanks for the feedback!

[2016-02-26 19:20] davivel commented on #1467
No, I was wrong. Open Camera triggers NEW_PICTURE, and instant upload of picture works work me.

Tested with Open Camera version 1.27, default installation (no setting modified); ownCloud for Android, version 1.9.1; Nexus 5 with Android 6.0.1.

What's your version of Open Camera? Did you modify its settings?

Do you see any error notification from the ownCloud app when the picture is taken, or not

[2016-02-26 19:21] davivel commented on #1467
Oh, please, could you update to ownCloud for Android 1.9.1? Thanks.

[2016-02-26 19:36] davivel commented on #251
@FStrohmeier , is this still a problem for you?

Thanks in advance.

[2016-02-26 20:02] davivel commented on #6
I renamed the issue and adde a summary of the current knowledge in the first comment.

[2016-02-26 20:05] davivel commented on #1217
Hi @all. Let's track this kind of issues in #6. And hopefully provide a solution soon.

Thanks.

[2016-02-26 20:05] #1217 closed

[2016-02-26 20:13] davivel commented on #349
This is currently working (with some bugs), but will have an overall review (hopefull soon) after the uploads view is released (almost there). Let's keep it open to track it.

[2016-02-26 20:18] davivel commented on #529
The fix has been merged and will be released with version 1.9.2.

Thanks, @tobiasKaminsky

[2016-02-26 20:18] #529 closed

[2016-02-26 20:21] davivel commented on #532
@all, let's close this one and track the progress both for video (addition) and pictures (review) in #349 .

Thanks

[2016-02-26 20:21] #532 closed

[2016-02-26 20:26] davivel commented on #78
Duplicated in #827, let's track it there, seems there is some info.

[2016-02-26 20:26] #78 closed

[2016-02-26 20:28] davivel commented on #1215
@pascalBokBok , are you still suffering this  problem?

[2016-02-26 20:39] davivel commented on #1341
No, sorry, that log is of a different crash triggered from a manual upload.

Try again, please. Do not search for a crash in the log, the information to see is that; instead, search for the word  "InstantUploadBroadcastReceiver".

[2016-02-26 20:42] davivel commented on #1448
Duplicated in #1448

[2016-02-26 20:42] #1448 closed

[2016-02-26 20:43] davivel commented on #1449
Hi, @Zevleu . I'm sorry, but automatic retry of instant videos was never implemented. Please, track its progress in #349

[2016-02-26 20:43] #1449 closed

[2016-02-26 20:58] domneu commented on #1341
Ok.  I will be able to try Monday.  Thank you for the help.

Dominic

On Fri, Feb 26, 2016 at 3:39 PM, David A. Velasco <notifications@github.com>
wrote:

[2016-02-26 23:09] Zevleu commented on #1449
Hi
I would like to add that upload retry, when appropriate network is recovered, works properly for pictures.
The issue only happens for videos.

Kind regards
Zevleu

----- Mail d'origine -----
De: David A. Velasco <notifications@github.com>
À: owncloud/android <android@noreply.github.com>
Cc: Zevleu <vincent.lescaut@free.fr>
Envoyé: Fri, 26 Feb 2016 21:44:05 +0100 (CET)
Objet: Re: [android] Video

[2016-02-27 08:59] proninyaroslav commented on #1458
Whether there are any developments in terms of support for the synchronization of any selected folder/folders? I could help you with this.

[2016-02-27 17:55] Spielmops commented on #1467
@davivel
Did you read the first two posts?
Spielmops

[2016-02-27 17:59] Spielmops commented on #1467
Update to version 1.9.1 did not change anything.
Spielmops

[2016-02-29 09:00] masensio commented on #1467
Hi @Spielmops,

if I'm not wrong you are running a beta version and you have this problem, isn't it?

In the log I can see:
ProcessRecord{2c4b1c18 9372:com.owncloud.android.beta/u0a89} (pid=9372,
uid=10089) requires android.permission.MANAGE_DOCUMENTS or
android.permission.MANAGE_DOCUMENTS
So beta version have to add this permission to the AndroidManifest. I think it is need to work with ExternalS

[2016-02-29 09:11] FStrohmeier commented on #251
@davivel
Hello,
unfortunately, it still fails (in most cases) and shows some very interesting and strange (new) behaviour.

I just installed the latest ownCloud app to my smartphone (I reset the smartphone to factory settings a few weeks ago).

After the first tries, I was happy, but then I found out the things being explained in the screenshot enclosed.

The error occured as follows: Upload finis

[2016-02-29 09:39] masensio commented on #1469
I think this issue is implemented by  https://github.com/owncloud/android/pull/1342

[2016-02-29 10:19] masensio commented on #1458
Hi @tobiasKaminsky,

Nowadays the next step for folder sync is to habe Favourite Folders, as Favourite File.
So in the future (I hope in a near future) we could select a folder as favourite and this folder will be automatically synchronized when the application detects some change on it.

For the moment folder sync process is only for owncloud folders.
Sync of any other phone directory would be in

[2016-02-29 10:39] masensio commented on #1463
Hi @t-h-e,

thanks for your feedback.
This is an issue when server certificate changed. As a workaround you don't need to delete the account, if you go to Settings --> Select account --> Change Password, you can accept the certificate again.

We need to fix this issue.

It is the same than #1480.

[2016-02-29 10:41] masensio commented on #1480
It is duplicated by #1463, please track it there.

[2016-02-29 10:41] #1480 closed

[2016-02-29 10:49] masensio commented on #1457
Hi @nathan-b,

thanks for your feedback and for using owncloud.

For solving your problem we need more information about it. Please report your issue with the template:
Expected behaviour

Tell us what should happen

Actual behaviour

Tell us what happens instead

Steps to reproduce

Environment data

Android version:

Device model:

Stock or customized system:

ownCloud app version:

ownCloud ser

[2016-02-29 10:51] AndyScherzinger commented on #1469
Yes, but not in the three dot menu I think, plus the contrib. agreement needs to be signed there.

[2016-02-29 10:53] t-h-e commented on #1463
I didn't say you need to delete the account, just open the add account page and type in the server address. The existing account will work again, after accepting the certificate.

Thanks for the fast reply. Sorry for the duplicate.

[2016-02-29 11:34] davivel commented on #1449
Yes, sorry, I was not clear enough. The issue I redirected to will cover retry of videos also.

[2016-02-29 12:13] masensio commented on #1463
Sorry, I thought to read "Delete Account" in your steps. If you select Change Password you don't need to type anything.

In any case, we need to fix it.

[2016-02-29 12:34] masensio commented on #1437
Hi @edent,

thanks for your feedback.

The menu option Synchonize launch a manual sync process. This option doesn't  work as Desktop Sync option. When you select this option the folder is syncronized only once, there is no folder indication that says it should be automatically synchronized.
The option for automatic synchronization is to set the folder as Favourite. This feature is in our roadmap,

[2016-02-29 12:56] masensio commented on #1426
Hi @all,

at the moment, this color is not specifically defined for Log and Settings section but by default it is white. Maybe it is better to specity in the xml layout for these sections to update background color with a minimum changes in code.

[2016-02-29 13:14] AndyScherzinger commented on #1426
Hmmmm, just checked the and it is also white on my phone (latest master), but yes I guess simply adding this to the two layouts is probably the quickest and safest ways to do this.

[2016-02-29 13:17] pascalBokBok commented on #1215
I don't think so... I'll reopen if I notice it happening.

[2016-02-29 13:17] #1215 closed

[2016-02-29 13:19] AndyScherzinger commented on #1426
@masensio my mistake the background isn't white as in #FFFFFF at the moment it is #FAFAFA while the background of the list really is #FFFFFF colored.

[2016-02-29 13:26] masensio commented on #1421
Hi @stefanhoth,

Thanks for your ideas for improving ownCloud App.
We will have your thoughts into account for future enhamencement into the instant uploads setup.

Thanks for using ownCloud.

[2016-02-29 13:30] masensio commented on #1420
Hi @Wikinaut,

thanks for your feedback.

We need to improve the way to manage the certificates. We will have into account this issue when improving the certificates management.

[2016-02-29 13:45] AndyScherzinger commented on #1426
@masensio the best and most technically accurate way would be via the theme :)

simply add the following line:
```<item name="android:windowBackground">@color/white</item>```

to the ```style.xml``` for the general theme definitions:
* Theme.ownCloud
* Theme.ownCloud.noActionBar

....and then you are done and it'll work on any (future) activity :smiley:

[2016-02-29 14:20] masensio commented on #1426
@AndyScherzinger
I've search "#FAFAFA" color in the whole project and I have found 0 occurrences. At the moment, we are using <color name="background_color">#FFFFFF</color> for background color.

On the other hand, to use the theme to define the background color is ok, but it is better to use the background_color instead of white, and give the proper value to background_color.

For Settings View,

[2016-02-29 15:09] AndyScherzinger commented on #1426
Yes, since I tested it locally before posting this :)

You won't find #FAFAFA - This is due to the fact that is is the default android background color set by the theme (the style.xml) we adopt (parent=). So you won't find any reference in our code base since it is inherited.

[2016-02-29 16:45] abishai commented on #1437
Why not? I thought this is the core of 2-way sync - ability to sync folders with owncloud. I'm using syncthing for that now and I'd like idea to use only 1 application for all cases.
Andoid app allows to sync videos and capera shots, why the support can't be extended to user choosen folders?

[2016-02-29 17:45] Spielmops commented on #1467
When I got my new phone, I tried the normal version with no luck, so I installed the beta-version with no luck either but with the error-message from above. So I changed back to the normal version with the intend that fdroid gives me a message when an update is available. The update is 1.9.1 and that changes nothing.

Spielmops

[2016-02-29 17:58] AndyScherzinger commented on #1467
@Spielmops have you uninstalled the beta? Since the log you posted is from the beta version as mentioned by @masensio
@masensio the permission exception was beta only since the was the Marshmallow test drive but has been fixed in the latest couple of beta releases with the new permission api implementation.

[2016-02-29 20:15] grantdobbe commented on #1437
My experience is different -- files don't automatically sync from ownCloud, but do automatically sync *to* ownCloud if they're changed.

Example: I use todo.txt to manage my personal to-do and grocery list. I use ownCloud to synchronize it between my desktop PC, my laptop, and my Android phone.

When I update todo.txt on my laptop, it is automatically synced to ownCloud and then pulled down to my

[2016-02-29 20:18] Spielmops commented on #1467
Spielmops

[2016-02-29 20:20] AndyScherzinger commented on #1467
I get that @spielmops but then the log would have to be a different...  ;)

[2016-02-29 20:24] Spielmops commented on #1467
Why? I installed the beta, got that error-message (and send it) and uninstalled the beta.

[2016-02-29 20:34] AndyScherzinger commented on #1467
Yes, but that is an error message from the beta client (which should be there in the actual beta). And this error should occur in the 1.9.1 official client, when the beta is not installed.

[2016-02-29 20:39] Spielmops commented on #1467
Sorry, but I do not get it: the error message is from a beta client and the error occurs in the version 1.9.1 official client, but that version gives no error-message. And the beta is not installed. So what is the problem?

[2016-02-29 20:49] AndyScherzinger commented on #1467
Can you tell me which version of the beta client you installed? See preferences at the bottom.

[2016-02-29 20:55] Spielmops commented on #1467
Version 20160120 - Added on 2016-01-21 from fdroid

[2016-02-29 21:32] AndyScherzinger commented on #1467
Ah, I see. Unfortunately the beta build don't make it to fdroid at the moment. The latest apks can be found here and should fix the permission bug you are experiencing:
https://github.com/owncloud/android/tree/beta/apks

[2016-03-01 05:26] nathan-b commented on #1457
**Expected behaviour**

The file is downloaded onto my device.

**Actual behaviour**

The "Downloading" progress bar pops up, sits for a few seconds, and then gives me a black screen with an exclamation mark and "Download failed"

**Steps to reproduce**

Open the app, select a photo, attempt to view or download it

**Environment data**
Android version: 6.0.1
Device model: LG Nexus 5
Stock or custo

[2016-03-01 08:45] davivel commented on #1333
Nice!

Please, if anybody disagree, comment it. Thanks!

[2016-03-01 08:45] #1333 closed

[2016-03-01 09:03] AndyScherzinger commented on #674
For documentation/referencing: implementation can be found in PR #1399

[2016-03-01 09:15] AndyScherzinger commented on #1432
@jancborchardt just a general question wouldn't it make sense that if we move the menu entry for log to the settings screen to also make it available in the standard release? If so we might need some discussion with @davivel and @masensio on when to purge the log. For background processes like instant uploads etc. it might make sense to provide access to a log for reporting issues here. On the oth

[2016-03-01 09:34] proninyaroslav commented on #1458
@masensio

How many folders can be add? I would not be limited to only one.

[2016-03-01 14:23] AndyScherzinger commented on #1030
@rperezb this issue can imho be closed since we made the move to material design in general even though there might always be issues related to (material) design in the future and the possibility to switch list/grid view has also been implemented.

[2016-03-01 14:59] AndyScherzinger commented on #1428
@masensio would you be so kind as to delete this branch? Tried to rebase it to latest master, messed it up again :disappointed:

[2016-03-01 15:41] Spielmops commented on #1467
How do I get apk's from there? The normal ways don't work

Spielmops

[2016-03-01 15:50] AndyScherzinger commented on #1467
this should probably work: https://github.com/owncloud/android/raw/beta/apks/owncloud-beta-20160206.apk

[2016-03-01 17:47] Spielmops commented on #1467
The beta from above installed, configured, one click on shutter and:

************ CAUSE OF ERROR ************

java.lang.RuntimeException: Unable to start receiver com.owncloud.android.files.InstantUploadBroadcastReceiver: java.lang.SecurityException: Permission Denial: opening provider com.android.externalstorage.ExternalStorageProvider from ProcessRecord{1295118a 10786:com.owncloud.android.beta

[2016-03-01 22:41] AndyScherzinger commented on #1467
@tobiasKaminski can you have a look? I'm not at a pc at the moment.

[2016-03-02 09:26] rperezb commented on #1030
@AndyScherzinger yes, you are right.

The app has changed noticeable since this issue was open and will keep the same path due to the FAB one, expected wihin the next version.

@jab416171 if there is any changed that you expect, please, open a concrete issue

thanks!

[2016-03-02 09:26] #1030 closed

[2016-03-02 09:36] rperezb commented on #1458
@proninyaroslav certainly it won't be limited to a certain number, as it's not limited the number of files that you want to set us favorite neither this feature is limited on the iOS app, where it's already implemented

[2016-03-02 15:50] raztud opened #1490 "Feature request: multiple delete"
### Expected behaviour
Would be very useful to be able to delete multiple files.

### Actual behaviour
I have to press long on each file and delete one by one. If I want to delete 10 pictures it takes 30 clicks instead of 11 or 12.

### Steps to reproduce
1. Go to a folder with files
2. Try to delete multiple files

### Environment data
Android version: 5.1

[2016-03-02 17:43] AndyScherzinger commented on #1490
Hi @raztud thank you for suggesting this feature. It is already described in #899 and implemented in #1176 so I am closing this issue. Please track any progress there. :)

[2016-03-02 17:43] #1490 closed

[2016-03-02 19:53] sudhirkhanger commented on #305
This bug report is probably not valid as there's a hamburger menu now instead of app icon.

[2016-03-02 20:31] AndyScherzinger commented on #305
True, @rperez you can close this one imho :)

[2016-03-02 20:45] malenki commented on #1074
I have the same issue. The log sais
`Error 	PHP 	Cannot modify header information - headers already sent by (output started at /www/htdocs/w0125c67/malenki.ch/o/3rdparty/sabre/http/lib/Sapi.php:70) at /www/htdocs/w0125c67/malenki.ch/o/3rdparty/sabre/http/lib/Sapi.php#58 `

[code]

I als ran the ownCloud server with the two files from
https://github.com/fruux/sabre-dav/pull/577/files – without succ

[2016-03-03 07:11] davivel commented on #1108
Hi @all. Sorry, but as far as I know there is no plan to change the distribution conditions of the app.

cc @rperezb @MTRichards

[2016-03-03 07:37] rperezb commented on #1108
hey, not, sorry, it is not planned to change the distribution conditions.

@zaxebo1 let me add another distribution point for the Android app besides the Google Play market and the github repo itself: droid.org https://f-droid.org/repository/browse/?fdid=com.owncloud.android

Hope this helps

[2016-03-03 07:40] rperezb commented on #305
yep, @AndyScherzinger you may have closed it too :smile:

[2016-03-03 07:40] #305 closed

[2016-03-03 11:33] LukeOwlclaw opened #1491 "Doubled PROPFIND when pressing back in folder view"
### Expected behaviour

I noticed that there are very many PROPFIND entries in my apache log. In particular there are two very similar entries when I browse up if the folder hierarchy.
### Actual behaviour

Only one PROPFIND per back press.
### Cause

On clicking back variable `ignoreETag` should be false:
https://github.com/owncloud/android/blob/master/src/com/owncloud/android/ui/activity/FileDis

[2016-03-03 16:55] AndyScherzinger commented on #305
Okay, will do that in the future :)

[2016-03-04 14:47] sudhirkhanger commented on #748
The dialog has already been updated. Will someone close this bug?

![4 march 2016 81319 pm ist](https://cloud.githubusercontent.com/assets/841656/13530096/a256c924-e245-11e5-9155-965c3e8260bc.png)

[2016-03-04 17:46] sudhirkhanger opened #1495 "Fix New Folder Alertdialog padding"
New Folder Alertdialog padding is not right. EditText expands to the both edges.

According to [Material Design guidelines][1], Alertdialog should have `24dp` padding on left and right sides and `20dp` between title and content.

**Here is how it currently looks.**
![4 march 2016 105454 pm ist](https://cloud.githubusercontent.com/assets/841656/13534840/1d1d2286-e25d-11e5-8d73-b550e8d55407.png)

**

[2016-03-04 19:48] #748 closed

[2016-03-04 19:48] jancborchardt commented on #748
Thanks for the notice @sudhirkhanger! :)

[2016-03-04 23:53] jab416171 commented on #1030
I really like where the ownCloud app is going, keep up the good work!

[2016-03-05 14:53] sudhirkhanger commented on #1495
@jancborchardt @AndyScherzinger

Another thing I noticed is that the keyboard is pulled with small letters. There are three following choices.

1. All words start with lowercase.
2. All words start with uppercase.
3. Only first word starts with uppercase.

ownCloud currently uses convention 1. Dolphin when creating a folder will create with a default name `New Folder` which is convention 2. ownClo

[2016-03-05 15:46] tobiasKaminsky commented on #1465
@strugee No, I have now asked again on IRC.

[2016-03-05 21:57] tobiasKaminsky commented on #1469
I have rebased it, and I think it might be better to show it direct?
Then we would have (in beta) sorting and select/deselect seen at once.

[2016-03-06 08:19] LukeOwncloud commented on #759
Cannot reproduce anymore. Closing...

[2016-03-06 08:19] #759 closed

[2016-03-06 08:29] LukeOwlclaw opened #1496 "Image does not open until thumbnails are loaded"
### Expected behaviour

When I click on an image, I expect the image to be shown as fast as possible.
### Actual behaviour

When I click on an image, the image is downloaded (progress bar), then spinner appears (cf. `PreviewImageFragment: onResume()` in log below) and keeps spinning. Finally (after all thumbnails are loaded) the image is displayed (log below: `PreviewImageFragment: Showing image w

[2016-03-06 16:37] jancborchardt commented on #1432
@AndyScherzinger sure! Then it could be in the »Advanced« section on the bottom, with PIN, Storage path and Cache size.

[2016-03-06 18:06] LukeOwncloud commented on #1422
Not reproducible anymore.

[2016-03-06 18:06] #1422 closed

[2016-03-06 20:21] RealRancor commented on #1074
@CarstenMeyer

Output buffering should be completely disabled as described at https://doc.owncloud.org/server/8.2/admin_manual/configuration_files/big_file_upload_configuration.html#configuring-php and normally also enforced in https://github.com/owncloud/core/blob/v8.2.2/.htaccess#L31

For the issue itself: Maybe some one should be ping upstream why https://github.com/fruux/sabre-dav/pull/577/fil

[2016-03-06 20:32] RealRancor commented on #1074
Just some background info, the fix hasn't made it into 2.1 however the changelog of 2.1.x is stating that https://github.com/fruux/sabre-dav/blob/3.1.1/CHANGELOG.md#212-2014-12-10

However the fix is included in SabreDAV 3.0.7 used by oC9:

https://github.com/fruux/sabre-dav/blob/3.0.7/lib/DAV/Server.php#L441

so its probably just a matter of upgrading to the upcoming oC9.

[2016-03-06 21:58] ids1024 commented on #1294
I think this would be good to have as an option if possible, and I would expect that the camera2 api can do this.

[2016-03-06 22:54] AndyScherzinger commented on #1495
@jancborchardt is the design wizard of oC. :)

[2016-03-07 09:17] CaptionF commented on #1077
@MTRichards @rperezb @jancborchardt  prospect waiting - what can we share about implementation?

[2016-03-07 11:19] #1108 closed

[2016-03-08 07:57] davivel opened #1497 "Failed uploads can not be retried in another account"
### Steps to reproduce

1. Login with user1 and upload some files
2. Before the uploads have finished, switch the device connection off in order to send some of them to "Failed". Then, switch it again on.
3. Login with user2
4. Open uploads view and retry the failed uploads

### Current behaviour
The retries fail, due to a "folder error"

### Expected behaviour

The retries go on (not specified, o

[2016-03-08 08:01] jesmrec opened #1498 "Failed uploads are not retried by the button"
### Expected behaviour
All the failed uploads go to Current queue

### Actual behaviour
Nothing happens

### Steps to reproduce
1. Upload some files
2. Before the uploads end, set the device in aeroplane mode (the uploads go to failed)
3. Disable the aeroplane mode to recover the connection
4. Tap on (...) on uploads view, and then tap in "retry"

### Environment data
Android version: 5.0.1

Devic

[2016-03-08 08:07] davivel opened #1499 "Deleting an account does not clear the current uploads"
### Steps to reproduce

1. Uploads some files
2. From server, delete the account before the uploads finish
3. Using another account in the app, open the uploads view

### Current behaviour

The uploads of the deleted user appears as failed, with UNKNOWN cause

### Exptected behaviour

The uploads of the deleted user are removed from uploads view

### Environment
Tested with: Nexus5 v5.0.1

[2016-03-08 08:11] davivel opened #1500 "Killing the app leaves uploads in an inconsistent state"
### Steps to reproduce

1. Upload some files
2. Kill the app
3. Open again the app and go to uploads view

### Current behaviour

The files are in "Current" list forever

### Expected behaviour

The files are uploaded and go to Uploaded list.

### Environment

Tested with: Nexus5 v5.0.1

[2016-03-08 08:13] jesmrec opened #1501 "Wording issues in uploads view"
About the uploads view:

· "Retry current uploads" (in ... menu) should be replaced for  "Retry failed uploads"
· The three upload list are named:

 - Uploaded
 - Current
 - Failed Uploads

They should be more uniform like that:

 - Current Uploads
 - Failed Uploads
 - Finished Uploads (as they are named in "..." menu)

or

 - Current
 - Failed
 - Uploaded/Finished

Related to the lists, the paddi

[2016-03-08 08:17] jesmrec opened #1502 "Manual retries are "delayed""
### Expected behaviour
When a failed upload is tapped, is added to the "Current" queue to be upload.

### Actual behaviour
Until the current retried upload is ended, no files are added to "Current" queue.

### Steps to reproduce
1.- Set to upload some large files
2.- Before the uploads end, set the device in aeroplane mode (the uploads go to failed)
3.- Disable the aeroplane mode
4.- Tap on severa

[2016-03-08 10:43] davivel commented on #1502
Fixed now in #1493.

cc @jesmrec

[2016-03-08 12:03] davivel commented on #1501
@jesmrec , I would go for the form "Current", "Failed", "Finished", **and** would replace the current title "ownCloud" with "Uploads".

[2016-03-08 12:15] jesmrec opened #1503 "Uploads in SAML requests authentication twice"
### Expected behaviour
Session expires, and credentials are requested only once. The uploads go to "Failed" list with cause "Credentials error"

### Actual behaviour
Session expires, and credentials are requested twice. The uploads go to "Failed" list with cause "UNKNOWN"

### Steps to reproduce
1.- In a SAML server, select some files to upload without confirming them
2.- Wait a couple of minutes

[2016-03-08 14:54] davivel commented on #1501
Fixed now in #1493, @jesmrec

[2016-03-08 15:25] davivel commented on #1498
This is now fixed in #1493, @jesmrec . After this fix, test cases about retry of uploads due to wrong password should be repeated.

[2016-03-08 15:35] jancborchardt commented on #1495
@sudhirkhanger awesome on the eye for detail! :) You are very welcome in our IRC channel #owncloud-design!

As for the issues:

- Yes, totally agree on the padding issue on the input field. @AndyScherzinger or @sudhirkhanger you wanna take care of that?
- Regarding capitalization, we use »Only first word starts with uppercase«, and it should stay that way.

[2016-03-08 22:02] AndyScherzinger commented on #1495
Not sure @jancborchardt but I think @sudhirkhanger took care of it already, right?

[2016-03-09 08:06] davivel commented on #983
Ready to go in release 1.9.2.

[2016-03-09 08:06] #983 closed

[2016-03-09 12:10] #674 closed

[2016-03-09 13:59] AndyScherzinger commented on #1343
@davivel this is to some extend covered by #1220 but like we discussed we should add some more checks to the code post 1.9.2 so we should probably change this issue's milestone to 1.9.3 or backlog. What do you think?

[2016-03-09 16:02] davivel commented on #674
Ready to go on next release 1.9.2.

[2016-03-09 16:46] davivel commented on #1500
Now solved in #1493, ready to test @jesmrec

[2016-03-09 17:09] davivel commented on #1499
As discussed offline, the current behaviour is the really expected behaviour, with the exception of the error cause, that needs to be "Credentials error". The client can't distinguish the deletion of the account in the server with from the modification of the password in the server.

[2016-03-09 17:09] davivel commented on #1499
Ready to test (regarding the error cause) in #1493.

[2016-03-09 17:35] davivel commented on #1497
Solved now in #1493, ready to be tested, @jesmrec

[2016-03-09 18:10] tobiasKaminsky commented on #1343
I think a "basic" android 6 support should be included in 1.9.2

[2016-03-09 19:49] AndyScherzinger commented on #1343
thanks to #1220 already merged to master basic support is included in the upcoming 1.9.2 :smiley: :+1:

[2016-03-09 23:29] elpraga commented on #1452
The same gif working as expected now  in 20160305.

[2016-03-09 23:29] #1452 closed

[2016-03-09 23:35] elpraga commented on #1407
OC 9.0 implemented tags on files and folders. If implementing somethings, tags make much more sense, as they are supported by core.

Closing as obsolete.

[2016-03-09 23:35] #1407 closed

[2016-03-10 08:36] AndyScherzinger commented on #1407
@elpraga but then tag would still need to be supported by the Android client in order for you to use it (!)

[2016-03-10 09:07] CiaranG commented on #1465
https://botbot.me/freenode/fdroid/2016-02-20/?msg=60522217&page=1

(in short, the build produces what appears to be an invalid apk file - odd though that seems)

[2016-03-10 10:22] elpraga commented on #1407
Sure thing @AndyScherzinger , what I ment was that if something should be implemented in the android app, it should be the new tag system that is supported by core, rather than a separate bookmark mechanism, as both provide very similar functionality.

[2016-03-10 10:33] elpraga commented on #1349
I have the same issue, and it continues even with 20160305. None of the videos are being streamed (or reproduced) on my Nexus 5.

I have had this issue for a long time, but I thought that it was due to my slow server, but during an upgrade to OC 9.0 yesterday I tried to play some videos in the web interface and it worked like a charm. Really very neat indeed.

I even tried to share a link to some

[2016-03-10 11:28] elpraga commented on #1349
..please note that I am able to play the same video files in beta 20160305 once they are downloaded using the internal player of the app.

[2016-03-10 12:09] AndyScherzinger commented on #1407
Yeah, makes sense :) In this case you could open up a feature request if you want to :+1:

[2016-03-10 12:10] davivel commented on #1389
@AndyScherzinger , at this point, could you ```git cherry-pick``` the commit into branch ```multiselect```?

[2016-03-10 12:13] AndyScherzinger commented on #1389
Hi @davivel sure thing, but it is (lucky me) not a pick, but some implementation that needs to be done, referencing the new, shipped icon work which wasn't possible before :)

[2016-03-10 13:04] AndyScherzinger commented on #1389
DONE, see https://github.com/owncloud/android/commit/b59d05bb49b218f3777cc136f192cbdb3fb19d00

[2016-03-10 13:05] #1389 closed

[2016-03-10 14:58] enoch85 commented on #1074
Some new output in the ownCloud 9 log:

[code]

[2016-03-10 23:14] sbhandari101 opened #1504 "Please provide steps for working with android studio in windows 7"
Please provide steps for working with android studio in windows 7...

i want to run owncloud android code in android studio with windows 7...
want some modification in own cloud android application....

so please provide me brief step for android application development

[2016-03-11 09:14] AndyScherzinger commented on #1504
@sbhandari101 Please see on the first Page for this project linked the https://github.com/owncloud/android/blob/master/SETUP.md

[2016-03-11 09:14] #1504 closed

[2016-03-11 09:19] davivel commented on #1441
This is a general behaviour in the app. If made this, we should consider also "Download/Synchronize the current folder", "Delete the current folder", "Move the current folder"... Sounds like the options menu growing a lot.

The only real limitation is for the root folder, since we can't browse to its father.  That's a case to consider, IMHO.

Calling @jancborchardt for an opinion.

cc @owncloud/an

[2016-03-11 09:25] davivel commented on #1419
Yes, the web UI filters it out, we could do the same.

[2016-03-11 09:30] davivel opened #1505 "Allow or not editing of a folder when sharing via link"
When option "Allow public uploads" is enabled by the server admin, users see the checkbox "Allow editing" when share a folder via public link. The Android app should behave the same way.

[2016-03-11 11:49] malkomich commented on #899
Hi guys,
I have been reviewing the PR #1176 and I have seen that the checkboxes are not always aligned:
![folder](https://cloud.githubusercontent.com/assets/3848202/13701329/831f2988-e787-11e5-8432-59e5e55b4326.png)
![gridview](https://cloud.githubusercontent.com/assets/3848202/13701089/a374c2a8-e785-11e5-997c-017265a5d7fc.png)

In list view they could be aligned right always regardless if there a

[2016-03-11 12:16] elpraga commented on #1349
I'm also using HTTPS on my server. I'm trying to think about what information might be relevant..

Could you give me a hint what information would help you to investigate the bug @tobiasKaminsky or @AndyScherzinger ?

Unfortunately the tablet I used to have died, so I cannot double check the behavior on another device.

[2016-03-11 12:33] elpraga opened #1506 "Beta 20160305 does not upload a file shared from anther app"
### Expected behaviour
Tell us what should happen
When I share a file from an app and send it to Owncloud beta, after selecting the folder and pressing upload, the file should be uploaded.

### Actual behaviour
Tell us what happens instead
Nothing. At all. The upload doesn't even start.
I'm able to upload files when I open owncloud beta app and press the + button and follow the steps.

### Steps t

[2016-03-11 13:23] ksyz commented on #10
This looks like related issue. [SD Card on Android 5 (Lollipop)](https://metactrl.com/docs/sdcard-on-lollipop/)

[2016-03-11 14:04] AndyScherzinger commented on #899
@malkomich something seems of since the multi select branch implementation has other icons and some newer themeing, see screenshots here: https://github.com/owncloud/android/issues/1434

[2016-03-11 16:28] tobiasKaminsky commented on #1349
Can you give me a temporary account to your server and send me the credentials to owncloud@tobiaskaminsky.de?

[2016-03-11 16:38] elpraga commented on #1349
Ok, no problem. I'll do it today when I get home.

Thank you @tobiaskaminsky !
El 11 mar. 2016 5:29 p. m., "Tobias Kaminsky" <notifications@github.com>
escribió:

[2016-03-11 16:42] tobiasKaminsky commented on #899
I have updated the branch with latest master.
Now it looks this way:
![multi_list](https://cloud.githubusercontent.com/assets/5836855/13708743/975aa732-e7b0-11e5-9a95-3a61b3543afd.png)
![multi_grid](https://cloud.githubusercontent.com/assets/5836855/13708744/97604930-e7b0-11e5-90d5-eb8245b99569.png)

[2016-03-11 17:12] tobiasKaminsky commented on #902
FileListListAdapter:396 gives me this times if I enter a directory with ~4000 images:
03-11 18:03:29.524 4340-4340/? D/FileListListAdapter: swap Directory time: 2121
03-11 18:03:41.557 4340-4340/? D/FileListListAdapter: swap Directory time: 3792
03-11 18:03:46.349 4340-4340/? D/FileListListAdapter: swap Directory time: 2850

Please note that I only enter it one time, but I get three executions of

[2016-03-11 17:24] tobiasKaminsky commented on #902
Maybe the app should store the content of the folder locally and only get the modification time of the folder: if this is the same all content is still valid and therefore no update must be done...?

[2016-03-11 17:27] tobiasKaminsky commented on #1457
Settings -> Apps -> Owncloud -> Permissions: Is storage allowed?

[2016-03-11 17:31] tobiasKaminsky commented on #1067
Can we have in one of the next sprints the loading the resized images instead of the original one: #1044

[2016-03-11 18:27] elpraga commented on #1349
I just did @tobiasKaminsky

Thanks for the help!

[2016-03-11 21:03] Ricain commented on #475
I agree if it helps restarting debates :)

[2016-03-12 02:58] nathan-b commented on #1457
Yes, Storage and (for some reason) Contacts are both enabled.

[2016-03-12 07:27] tobiasKaminsky commented on #1457
Strange I bet that this is the reason.
You can use the beta version (https://github.com/owncloud/android/tree/beta/apks) or via f-droid.
There you can see the log file.

[2016-03-12 08:44] tobiasKaminsky commented on #1349
I have tried it with latest beta:
opening the video within our app is not working (I remember that this never ever worked for me)
Then I tried "stream with external app":
bsplayerFree is not working
mxPlayer is working and one can jump between positions.

[2016-03-12 09:27] tobiasKaminsky commented on #1479
Thanks for reporting.
I have fixed it, it will be available in the next beta.
If the behaviour is still wrong, please update.

[2016-03-12 09:27] #1479 closed

[2016-03-12 09:29] elpraga commented on #1349
Hello Tobias!
Thank you for trying it out.

never     > ever worked for me)

Do you mean streaming the video within the app? That was what did not work
for me, but when I downloaded the video, I was able to play it within the
app. Did you try that? I also tried streaming the video from the web
interface, and it works nice even on the phone.

I never tried 'stream with external app' as the initial

[2016-03-12 09:29] tobiasKaminsky commented on #1465
@CiaranG Thank you.
But unfortunately I do not know how to fix it as the labels have to be resources as they are translated in all supported languages.
Maybe you can help me?

[2016-03-12 11:57] AndyScherzinger commented on #899
I fixed the layouting (and coloring) for the action bar and the list items, see https://github.com/owncloud/android/commit/0ef2389226c97d473e10fa3cd0ad3e0157576a3c
![device-2016-03-12-125532](https://cloud.githubusercontent.com/assets/1315170/13722820/05a4e346-e852-11e5-9583-4c0ea4f53ebb.png)

[2016-03-12 12:07] AndyScherzinger commented on #899
@tobiasKaminsky I think @malkomich's point is that due to the fact that some elements are rendered with the file name so the check box is aligned differently. @jancborchardt any idea how this could be solved? The only thing I I can think of is to find a smart way to center the checkbox on each item or we need to find. Google photos for example has the checkbox in the top left corner.

[2016-03-12 17:04] tobiasKaminsky commented on #1341
@domneu any update?

[2016-03-12 17:17] tobiasKaminsky opened #1507 "Remove actionbarsherlock"
Actionbarsherlock is not used any longer by the app, so the complete directory should be deleted, or?

[2016-03-12 17:38] sudhirkhanger commented on #1495
Yep the padding and first letter uppercase has already been submitted in the pull request.

https://github.com/owncloud/android/pull/1488

[2016-03-12 20:33] AndyScherzinger commented on #1507
If there is still an abs folder then yes :)

[2016-03-12 21:57] tobiasKaminsky commented on #1507
Never mind, it seems to be just a very very old svn checkout :/

[2016-03-12 21:57] #1507 closed

[2016-03-13 06:01] sudhirkhanger commented on #1506
Which app are you trying to upload from for an example? I just tried to share a picture with ownCloud app from Picktures app and it uploaded fine. I am running the latest `master`.

[2016-03-13 07:12] elpraga commented on #1506
That is strange. I tried it with QuickPic and with Xodo. Both work fine with 1.9.1 and none of them when 20160305.

Let me know what more information could I provide to find the cause.

[2016-03-13 07:17] tobiasKaminsky commented on #1506
I guess I have messed something up with the latest merge.
Till now there are 33 PR merged in the beta (some are now in master), so the chance is big that I can do a mistake ;)

[2016-03-13 07:36] elpraga commented on #1349
How could it be investigated @tobiasKaminsky ?
It seems that if the app can play the file once downloaded, and if streaming works in the web interface even using the phone, it could be just a small glitch easy to fix, maybe?

Please note, that my hope comes from my ignorance and I'm aware of it. :-D

If you need additional information I could provide, please let me know..

[2016-03-13 07:49] tobiasKaminsky commented on #1349
The internal video player is a big mess :/ I do not know why it cannot stream.
So it would be the best to use an external app.
The warning is not meant this strong: VLC for instance shows the url of the file playing back: https://tobi:23vl@owncl....
So you/or someone  also looking on the display might see the password for a short time.
It is not exposed to the internet or somewhere else.

[2016-03-13 08:29] tobiasKaminsky commented on #1506
There is now a new beta.
Please try it again :)

[2016-03-13 08:42] elpraga commented on #1506
No change in behavior. 20160313 still not working. The submit button gets pressed but nothing at all happens after the upload dialog disappears..

[2016-03-13 08:50] tobiasKaminsky commented on #1506
Please try to uninstall and reinstall it.
There seems to be a problem with an upgrade of the database.

[2016-03-13 09:00] tobiasKaminsky commented on #899
For me there are two different approaches, when entering multiselect:
- show only the checkmarks, as the other icons are unimportant
- keep every icon: move checkmarks to top left

[2016-03-13 09:00] elpraga commented on #1506
Ok.
That fixed it. It is wrong now.

Thanks!

[2016-03-13 09:00] #1506 closed

[2016-03-13 09:03] elpraga commented on #1349
Well, that is sad to hear..

I guess I'll stick with sharing the link and playing it.

I don't like the idea of my password being visible in the history of the player.. .. And having to remember deleting it.

... Just my personal paranoia, I guess.. :)

[2016-03-13 10:29] elcanux opened #1508 "Amazon no updated version"
Hi,

Can you update Amazon app store with new version app, the last version is 1.8.0
http://www.amazon.fr/gp/product/B00944PQMK

Thanks

[2016-03-13 10:51] AndyScherzinger commented on #1508
Hi @elcanux,

please see #1481 the core team decided to not support Amaonzon any longer due to the submission process changes.

Cheers

[2016-03-13 10:51] #1508 closed

[2016-03-13 11:30] tobiasKaminsky commented on #1349
as far as I have tried it, the url contains the password. But VLC replaces the url with the filename and does not show the url any longer.
So, maybe give it a try? If the other apps show the password in cleartext then it is a mistake by these apps and they should replace the passwort with ***.

[2016-03-13 11:34] tobiasKaminsky commented on #1506
@davivel Do you know if this is a general problem during upgrade (also for master)? Or is this a beta related problem?

[2016-03-13 12:31] AndyScherzinger commented on #899
True, not showing that info in multi select mode could also be an option I guess. So waiting for @jancborchardt's input since he is the expert :)

[2016-03-13 12:33] tobiasKaminsky commented on #899
Rethinking it, is not such a good idea, I think: what if you want to select all favorite items to unfavorite them?
So we should find a way to have the checkboxes shown with all other items!

[2016-03-13 12:36] AndyScherzinger commented on #899
Yeah, that is right. So sticking with top left is probably the easiest approach at the moment.

[2016-03-13 12:42] tobiasKaminsky commented on #899
Do you want to do this in the multiSelect branch? :)

[2016-03-13 12:42] AndyScherzinger commented on #899
Sure thing :) Gimme a second :grin:

[2016-03-13 12:46] AndyScherzinger commented on #899
@tobiasKaminsky can you take care of the rotation bug regarding the action bar menu? :)

[2016-03-13 12:50] tobiasKaminsky commented on #899
I will do this tomorrow morning

[2016-03-13 12:52] AndyScherzinger commented on #899
Sweet! :)
Changes for the checkbox have been pushed to the branch.
![device-2016-03-13-135019](https://cloud.githubusercontent.com/assets/1315170/13728768/c0e16da2-e922-11e5-84b8-0aa2a1b83a47.png)

[2016-03-13 12:56] tobiasKaminsky commented on #899
:+1: looks great :)

[2016-03-13 13:15] AndyScherzinger commented on #899
I now also commited thhttps://github.com/owncloud/android/commit/cca2e60e4932c1351883d358e36322a5f8514baae logic to show hide the fab entering/exiting multi selction mode :grimacing:

One thing I realized, might be something to deactivate with a flag is that if you do move or copy the file/folder chooser dialog also has multi selection mode which probably doesn't make sense.

[2016-03-13 13:19] AndyScherzinger commented on #1433
@jancborchardt can you look at the comments for the multi select? Problem is the bottom left is already taken with the status icon for the file/folder. This is an information not available in the web frontend for abvious reasons ;) So for now we "just" put it to the top/left since that is the only place available and grid items file file name also look different, so top left seems the most practic

[2016-03-13 13:19] AndyScherzinger commented on #1411
@tobiasKaminsky Hah, i already opened an issue for this a while ago :smile:

[2016-03-13 13:24] AndyScherzinger commented on #1404
Implemented, see https://github.com/owncloud/android/commit/cca2e60e4932c1351883d358e36322a5f8514baa now part of the multi select issue / PR #899 / #1176

[2016-03-13 13:24] #1404 closed

[2016-03-14 08:42] tobiasKaminsky commented on #1411
https://github.com/emilsjolander/StickyListHeaders/issues/255
There seems to be a solution, but I cannot get it to work :/

[2016-03-14 08:50] AndyScherzinger commented on #1411
Hmm, I might be able to also have a look, but might not find the time before the weekend to give it a try but would also have thought that onSaveInstanceState/onRestoreInstanceState might be the way to deal with it. The CAB is still there it "just" looses all menu items. funny thing is that when you select further list items after the rotation the menu appears again. So maybe there is a listener t

[2016-03-14 08:54] tobiasKaminsky commented on #1447
@cornzy is this still valid? I cannot reproduce it.

[2016-03-14 08:56] tobiasKaminsky commented on #407
@jancborchardt this is in beta a long time.
But the user cannot see if he is in "all files" or "on device" mode.
Do you have an idea how we can show this to the user?

[2016-03-14 08:56] tobiasKaminsky commented on #1415
@elpraga is this solved for you?

[2016-03-14 09:01] tobiasKaminsky commented on #1414
I have updated the title and removed the label as the latest idea by @jancborchardt is not related to beta any longer but a new idea for the dialogs.

[2016-03-14 09:01] tobiasKaminsky commented on #1410
@elpraga is this still valid?

[2016-03-14 09:02] tobiasKaminsky commented on #1403
@RoxasShadow is this still valid for you?

[2016-03-14 09:03] tobiasKaminsky commented on #1350
Is this still valid?

[2016-03-14 09:04] tobiasKaminsky commented on #1249
@AndyScherzinger is this still valid?

[2016-03-14 09:17] AndyScherzinger commented on #1249
I just checked Luke's latest description with downloading a file and aborting the download and this is still valid.

[2016-03-14 09:18] AndyScherzinger commented on #1350
I had this yesterday too, but didn't save the stack trace or anything :(

[2016-03-14 09:19] cornzy commented on #1447
@tobiasKaminsky is there a newer beta release? Just checked F-Droid but there is no update. With 20160120 I could still reproduce.

[2016-03-14 09:23] AndyScherzinger commented on #1447
@cornzy can you give the latest one a try: https://github.com/owncloud/android/blob/beta/apks/owncloud-beta-20160313.apk?raw=true
Unfortunately we are experiencing problems with f-droid for a couple of week now so the latest beta versions haven't made it to the f-droid repo :(

[2016-03-14 11:09] pascalBokBok commented on #1215
I can confirm that it times out and changes to an error message stating "Upload failed" with message "An error occurred while waiting for the ser..." (Can't read rest) which is dismissable :-)
My only suggestion is that the error message clarified if the image will be uploaded later.
It can be easily tested by disabling the wifi while uploading after having taken an image.

[2016-03-14 12:46] elpraga commented on #1415
Unfortunately my tablet with Android 4.1 died and as a result I have
nowhere to test it, because it was working on my phone previously.

I might have get hands on a tablet next week.

I'll post an update in a week.
El 14 mar. 2016 9:56 a. m., "Tobias Kaminsky" <notifications@github.com>
escribió:

[2016-03-14 12:48] elpraga commented on #1410
Cannot reproduce any more on beta 20160313

[2016-03-14 12:48] #1410 closed

[2016-03-14 15:55] enoch85 commented on #1350
Lost my phone this weekend to a pickpocket :/ Can't test sorry.

[2016-03-14 20:00] tobiasKaminsky commented on #1402
@jancborchardt this is now implemented.

[2016-03-14 20:52] fmai opened #1509 "Problem with special characters in passwords"
### Expected behaviour
If I set my password to test² I'm able to login to ownCloud via web or the native clients for debian and Windows 7. This should be the case for the android app also.

### Actual behaviour
The app shows "wrong username or password" if I try to connect.
If I set the connection to unencrypted and sniff the traffic, I can see that the app changes some special characters to quest

[2016-03-15 08:38] AndyScherzinger commented on #1509
@davivel most likely related or a duplicate of #1322 which is still open

[2016-03-15 08:58] davivel commented on #1503
@jesmrec , ready to test in #1493 now.

[2016-03-15 12:13] davivel opened #1511 "Current upload should be in the top of uploads view"
### Steps to reproduce

1. Upload a huge amount of files

### Actual behaviour

The uploads are not set on the top on the current list, so that the user can not control what is being upload each moment

### Expected behaviour

The current upload is set on the top on "Current" list

### Environment

Tested with Android Nexus5 v5.0.1

[2016-03-15 17:47] davivel commented on #1511
@jesmrec , @nasli , ready to test.

[2016-03-15 18:43] LukeOwlclaw opened #1512 "Clicking uploaded item in upload list has no effect"
### Expected behaviour

Clicking an uploaded item should open the file.

Bug? Or missing feature?

[2016-03-15 18:54] LukeOwncloud opened #1513 "Aborting current upload completely removes item from list"
### Expected behaviour
Item should be moved to `FAILED` section.
Reason: Delete button can be pressed too easily by accident. There is no confirmation dialog. By still listing the item, users can easily correct their mistake.

Bug? Or just UI issue?

[2016-03-15 19:01] LukeOwncloud opened #1514 "Upload via "share with owncloud" from third party app does not work"
Open third party app (e.g. Gallery), open file/photo, choose "Share with" ... ownCloud. Nothing happens.

Logcat:

    03-15 19:59:58.482 4911-4911/com.owncloud.android D/Uploader: Uploading file to dir /InstantUpload/
    03-15 19:59:58.652 4911-4911/com.owncloud.android D/Uploader: onPause() ending
    03-15 19:59:59.203 4911-4911/com.owncloud.android D/Uploader: onStop() ending
    03-15 19:59:

[2016-03-15 19:09] LukeOwncloud commented on #1501
Looks good!

[2016-03-15 19:16] LukeOwncloud commented on #1502
Upload is added instantly to `CURRENT` section -> Good, issue solved.

However: It immediately says `Uploading...` (even though other upload is still in progress). Is this behavior wanted? I'd prefer something like `Waiting for upload...`

[2016-03-15 19:20] LukeOwncloud commented on #1500
Good: State is consistent now.

Bad: Uploads are listed in section `FAILED` with error `UNKNOWN`. They are thus not retried when oc app is launched again.

Bug? Or intended behavior?

[2016-03-15 19:21] LukeOwncloud commented on #1498
Looks good!

[2016-03-15 19:30] LukeOwncloud commented on #1511
Problem: When two failed uploads are retried immediately after another, second goes to top of list but other item is currently uploaded.

### Steps to reproduce:

1. Upload two large files
2. Kill oc.
3. Launch oc, go to `Uploads` (Files are listed as `FAILED`)
4. Tap ***second*** entry in `FAILED` section (Uploads starts)
5. Tap first (now: only) entry in `FAILED` section

[2016-03-15 19:35] tobiasKaminsky commented on #1512
Maybe also long-press:
- open
- go to folder

[2016-03-15 19:40] LukeOwncloud opened #1515 "Error `UNKNOWN` if server certificate changes"
### Expected behaviour
A more helpful error message. Maybe even `Credentials error`.

Related to issue https://github.com/owncloud/android/issues/1463

[2016-03-16 00:23] nathan-b commented on #1457
I'll install the beta version soon...

I noticed the following behavior; I don't know if this is related to the bug or not:

![screenshot_20160316-132014](https://cloud.githubusercontent.com/assets/7409217/13798333/32192e52-eb7a-11e5-8619-b8d5e1368610.png)

Note the percentage on the progress bar.

[2016-03-16 05:26] LukeOwncloud opened #1516 "Update via scroll down in Uploads view?"
In the Uploads view, on scroll down a refresh symbols appears for a glimpse. Is it intended? Does it have any effect?

[2016-03-16 05:34] LukeOwncloud opened #1517 "Thumbnails not shown in `UPLOADED` section"
### Expected behaviour
For all photos a preview/thumbnail should be shown in https://github.com/owncloud/android/pull/1493.

### Actual behaviour
For some photos in `UPLOADED` section placeholder is shown.

### Steps to reproduce
0. Enable instant upload and set behavior to "move to app folder".
1. Take photo to invoke instant upload.
2. Wait until upload has finished. Do not click notification "u

[2016-03-16 05:40] LukeOwncloud opened #1518 "Delete dialog should provide preview"
### Expected behaviour
When I delete an image, I want to see a preview of the image I am deleting in the confirmation dialog.

### Actual behaviour
No preview, just filename. Not helpful when using grid view.

### Steps to reproduce
1. Delete photo.

### Environment data
ownCloud app version: 1.9.1

[2016-03-16 08:50] nasli commented on #1498
:+1: Works for me!

[2016-03-16 09:37] CoolCold commented on #744
@tobiasKaminsky should we make some donation gathering to let this be implemented? there are a lot of things which should be synced phone -> server (primarily for backup from my POV)

[2016-03-16 10:08] nasli commented on #1497
:+1: Fixed!!

[2016-03-16 13:05] davivel commented on #1376
Supported now thanks to #1492. Will be released in 1.9.2.

[2016-03-16 13:05] #1376 closed

[2016-03-16 14:51] cdamken commented on #1128
@MTRichards Can we add this in a milestone?

[2016-03-16 14:52] Paviluf opened #1519 "ownCloud app don't open the last revision of a modified file"
### Expected behaviour
When you open a file in the ownCloud app, it should show you the last version of the file (the one on the server).

### Actual behaviour
When you open the ownCloud app it check if there is updated files and see them. Then when you open a file that you have previously updated on your computer (that is synced to the server) the ownCloud app show you a previous version of the f

[2016-03-16 14:53] MTRichards commented on #1128
@davivel would like your input.

[2016-03-16 15:00] nasli commented on #1502
:+1: This issue fixed!!
I agree with @LukeOwncloud, "Uploading" should be using only for the one in progress, and the rest of pending uploads naming as "Waiting for upload", and that is how the iOS app works too.

[2016-03-16 15:06] nasli commented on #1501
:+1:

[2016-03-16 15:39] davivel commented on #1501
Thanks!

[2016-03-16 15:39] #1501 closed

[2016-03-16 15:40] davivel commented on #1502
OK, let's do that.

[2016-03-16 15:40] #1502 closed

[2016-03-16 15:41] nasli commented on #1499
Deleting the account from the server, set all pending uploads for this account to "Credential Error" except the current in progress that it is setting as "UNKNOWN"

[2016-03-16 15:55] davivel commented on #1499
Will check it

[2016-03-16 15:59] davivel commented on #1500
For the moment automatic retries are only for instant uploads, when WiFi is recovered. We explicitly disabled that retry to limit the scope of this user story / pull request. So, that part is intended.

The message "UNKNOWN" seems confusing, not just for you. so we'll change it.

Any proposal? "App was killed", "Unexpected interruption", "WTF" ?

[2016-03-16 16:01] davivel commented on #1511
Interesting case. I will review it.

Thanks for testing, @LukeOwncloud

[2016-03-16 16:02] nasli opened #1520 "Naming just the current upload in progres with "Uploading" and the rest of uploads as "Waiting to upload""
### Expected behaviour
Only the files in progress are setting as "Uploading" and the rest of files are naming as "Waiting to upload"

### Actual behaviour
All files in Current section are naming as "Uploading"

### Steps to reproduce
1. Upload some files

### Environment
Nexus 10, v5

[2016-03-16 16:02] nasli commented on #1502
Sure! here https://github.com/owncloud/android/issues/1520

[2016-03-16 16:17] nasli opened #1521 "Retry failed uploads button start uploads files by the bottom instead of the top"
### Expected behaviour
Current upload in progress is in the bottom

### Actual behaviour
Current upload is on the top. The list of current uploads are ordered in a contrary way that in the list of failed uploads.

### Steps to reproduce
1. Select to upload some files
2. Enabled aeroplane mode and disabled it
3. Select 'Retry failed uploads'

### Environment
Nexus 10, v5

[2016-03-16 16:22] nasli opened #1522 "Credentials are requested on each failed uploads with credentials error"
### Expected behaviour
The file it is uploaded and not need to enter the credentials for each failed upload

### Actual behaviour
It is requested again enter the new credentials for each failed upload and the file it is not uploaded
(NOTE: Check reuse of cells,another step after a failed instant upload with waiting for wifi, if we tap on it, the file seems to start but if we tap on the progress it

[2016-03-16 16:25] LukeOwncloud commented on #1500
Lol! I like wtf! ;-)
Bu

[2016-03-16 16:26] LukeOwncloud commented on #1500
But "app killed" is surely better!

[2016-03-16 16:39] nasli opened #1523 "Uploaded files are possible to upload it again"
### Expected behaviour
Uploaded files are not sensitive to actions of retry upload

### Actual behaviour
The file it is uploaded but if you tap in the list of uploaded files, the file start uploading again

### Steps to reproduce
1. Upload two files to a folder and delete the folder from server before uploads end
2. The uploads remain with the status folder error
3. Create a folder with the same n