[2015-11-21 11:46] tobiasKaminsky commented on #1298
I have debugged it.
The first 3 times the mLogPath file exists, but then there is a null file.
Android-library is also your PR, or?
Maybe I have messed something up when merging your both PRs (or it is a problem with some other PR, that can only occur on beta...?)

[2015-11-21 11:48] tobiasKaminsky commented on #1278
Glad to hear that it works as excepted!
Regarding the rotating cicle: Let us wait what other people say.
(And it is a little tricky to have the spinning circle on top of the thumbnail...)

[2015-11-21 12:04] przybylski commented on #1298
The weird thing to me that it appears after 3rd migration, i pushed some fix (in PR) to this but I do need to investigate further.

[2015-11-21 13:56] elpraga commented on #1278
I totally agree, I was just thinking to add that for no tech savy people, so there is an indication that something is coming up. I don' t have a strong opinion about this at all.

Thanks again!

[2015-11-21 15:54] elpraga commented on #1241
I have looked at quite some things so I will try to break it down:

##requesting larger previews then max_preview on server ##
Works without any problems. There should not be any problems if someone sets max_preview to lower resolutions then the app will ask for.

##file sizes / mobile network banwidth / speed of preview loading##
My Nexus5 384-384 thumbnails that look great when enlarged are usua

[2015-11-21 16:24] przybylski commented on #1298
Ok, this was related with thread racing, it's now fixed in bring_back_logging_arguments branch in android-library

[2015-11-21 16:34] przybylski commented on #1299
I was trying to prevent overriding. The scenario which I was thinking about was:
User has Documents dir on his external card with a lot of dirs. He wants to move it there but he also have some important stuff for/about owncloud :) and he accidently overrides it.

If anything I would suggest to add dialog "Directory owncloud already exists" do you want to override it ?"
Then erase the directory and

[2015-11-21 16:45] przybylski commented on #1241
My 2¢:
Downsides:
* Server would need to generate 3 kinds of files for every photo. If file is large then it needs to load the entire file to the memory, manipulate it (cache it?) and send to the user. Requesting for multiple previews will increase memory usage. Lets say that you can fit 10 images. Lets say that each photo is ~10MB which is reasonable for modern phones. This will generate memory u

[2015-11-21 17:00] elpraga commented on #1241
That is the reason why we are talking about it. Now you get 3 files for each file already. I use 2 devices and when I open the Gallery on the web, I get 7 files for one photo now.

My whole idea is to reduce the number of files and the server workload.

[2015-11-21 17:05] elpraga commented on #1241
Only preview_max is generated from the original file. The rest of the previews is generated from this reduced file.

You can change the preview_max values s in config.php (as I did) and lower the server workload.

If you avoid the full-screen preview, only the smallest thumbnail will be downloaded to your device, and it is not that big..

[2015-11-21 17:10] elpraga commented on #1241
This would be roughly the traffic you would automatically get when you open the folder with 100photos (and assuming that you list through the whole folder) to download the larger preview you have to click on the file, which I suppose would would not do if you were concerned about data traffic.

I apologize for sending three messages, I'm in my phone..

[2015-11-21 17:11] przybylski commented on #1249
I might have idea why this might happening, but personally I cannot reproduce it.
Can someone provide a step by step reproduction ;)

[2015-11-21 20:13] DougJod commented on #1275
I'm new to this project and would like to start with a simple issue so I can familiarize myself with the contribution process.

Is this issue simply a matter of removing the 'details' item from the file menu, or do you want to remove the FileDetailFragment altogether? The detail fragment still seems to serve a purpose when downloading a file (showing progress, option to cancel download, file detai

[2015-11-22 08:10] tobiasKaminsky commented on #1278
So I close it for now.
If needed we can reopen it or create a new issue.

[2015-11-22 08:10] #1278 closed

[2015-11-22 08:22] tobiasKaminsky commented on #1299
You are right, as the owncloud dir needs to be in sync with the database it will not really work if the files are written in an existing directory.
So I think it is just fine the way it is.

"move" and "copy" is pulled in by another PR (avoidDuplicateFiles) that is merged in beta.
I do not know how to solve this is an sane way:
We cannot change it in one of the two PRs as they are on its own.
Mayb

[2015-11-22 08:38] tobiasKaminsky commented on #1298
Thank you!
I have merged it into beta.
This works now, but I have found a new bug.

[2015-11-22 08:38] #1298 closed

[2015-11-22 08:41] tobiasKaminsky opened #1300 "Change storage path to empty folder"
When selecting an empty folder when changing the storage path, the app crashes as it tries to access the list of files is set to the content of the folder and thus is empty:
LocalFileListAdapter -> swapDirectory
and then getView is trying to use the empty list.

[2015-11-22 08:54] przybylski commented on #1299
Yup, new PR after merges sounds fine.

[2015-11-22 09:18] tobiasKaminsky opened #1301 "Change storage path: files are only copied?"
I saw that the original folder remains after changing the storage path?
Is this intended? As the UI says "moving" I thought that the old folder will be removed after a successful copy?

[2015-11-22 09:23] przybylski commented on #1301
This is something which was coming from UploadFileActivity which I mention about in here:
https://github.com/owncloud/android/issues/1299
The original design was always to move (via coping) directory structure, perhaps something is altering the default behavior, I'll check that.

[2015-11-22 10:27] przybylski commented on #1301
Fixed in https://github.com/owncloud/android/commit/ce4a8bc47743c2c388c7cf6d1c676bbb75a0af2b

[2015-11-22 10:47] przybylski commented on #1300
Fixed by https://github.com/owncloud/android/pull/1302

[2015-11-22 12:32] tobiasKaminsky commented on #1299
The new PR is done in #1303, right?
As my initial question is solved I close the issue.

[2015-11-22 12:32] #1299 closed

[2015-11-22 12:37] tobiasKaminsky commented on #1241
As far as I recall my conversation with the /core devs the one step that really slows down the server is generating the preview_max_values from the original one. As @elpraga said all other previews are generated from the resized version.

[2015-11-22 21:02] AndyScherzinger commented on #1249
I also haven't found a way to reproduce this behavior :(

[2015-11-23 10:21] Siggi0904 opened #1305 "Instant upload doesn't check wifi on every upload file start"
I've activated instand photo upload only on wifi. If I connect back to wifi, the app starts with upload.

But if the wifi connection where lost and some pictures have to be uploaded, the app uses the mobile connection to upload.

Looks like, that the app doesn't check the wifi connection on every picture or video on start upload.

[2015-11-23 10:25] Siggi0904 opened #1306 "Don't use an own folder on mobile for uploaded files"
The uploaded files where copied to an own owncloud folder.
Thats not good, because of to many files in the gallery and to much space consumption.

Please use to check to uploaded file the original folder and files.

[2015-11-23 11:40] MTRichards commented on #1104
@przybylski Welcome back!

[2015-11-23 12:42] LukeOwncloud commented on #1250
@tobiasKaminsky
Passing user name and password via URL has no effect. I am redirected to the login in screen.

I checked the server log:

    IP - - [23/Nov/2015:13:36:02 +0100] "GET /remote.php/webdav/path/my.mp3 HTTP/1.1" 401 2534 "-" "stagefright/1.2 (Linux;Android 4.2.2)"

Note that there is no user name (between first and second -). So it seems the music player inside the oC app tries to down

[2015-11-23 12:57] LukeOwncloud commented on #1249
@przybylski I provided the steps in my top post. Maybe your Internet connection is too fast?

Here some screenshots:

Right after chosing file (file is being loaded):
![loading](https://cloud.githubusercontent.com/assets/2737900/11336925/73b3a7a6-91e9-11e5-9c05-e63af28c6e12.jpg)

Upload is cancelled (file is not locally available):
![loading aborted](https://cloud.githubusercontent.com/assets/2737

[2015-11-23 13:38] jancborchardt commented on #1278
@elpraga thank you for the awesome suggestion! :) You are very welcome in our IRC channel #owncloud-design (on freenode IRC) and to open more issues with design suggestions.

[2015-11-23 13:47] AndyScherzinger commented on #1249
@LukeOwncloud I asked @jancborchardt since I am unsure what happens in the download use case.

[2015-11-23 13:51] AndyScherzinger commented on #1305
Hi @Siggi0904 - thanks for reporting this, imho it seems to be a duplicate of #1166 so I would close it if that is fine with you and the other issue is covering this in your opinion.

[2015-11-23 14:47] Siggi0904 commented on #1305
Hi @https://github.com/AndyScherzinger - yes it's ok.
Do you know when this bug is fixed? Next stable version?

[2015-11-23 16:34] AndyScherzinger commented on #1305
It is part of this change: #1191

Unfortunately I don't know when this will be release. This would be a question for @davivel or @rperezb but as far as I know it will most likely not be in the next release since the core team is working hard on a new share feature and the strategy is to release new versions basically around every three month and right now they are close to the new release.

[2015-11-23 17:23] LukeOwncloud commented on #1306
Duplicate of https://github.com/owncloud/android/issues/819. Please check progress there.

[2015-11-23 17:23] #1306 closed

[2015-11-23 17:27] LukeOwncloud commented on #1305
Closing due to duplicate of https://github.com/owncloud/android/issues/1166.

@Siggi0904 Milestone 1.9.1 https://github.com/owncloud/android/milestones/1.9.1-next is all about uploads. Maybe it'll be included already then...

[2015-11-23 17:27] #1305 closed

[2015-11-23 18:18] wolf12621 commented on #1294
sounds good for me

[2015-11-23 18:53] przybylski commented on #1294
Instant upload was designed to work with photos and OC gallery. But then I left OC community ;)
I would vote to leve Instant upload as it is but allow folder synchronizacion as additional feature

[2015-11-23 19:22] tobiasKaminsky commented on #1250
https://test:test@demo.owncloud.org/remote.php/webdav/Demo%20MP3%20-%20E.J.%20-%20Blick%20Zur%C3%BCck.mp3

This is the URL of a test audio file in demo.owncloud.org
If I copy this link to vlc it works. Unfortunately vlc or mx player is not opened when selecting "stream with external app". but this is maybe related to android 6.0

[2015-11-23 20:48] elpraga commented on #1278
Thank You @jancborchardt ! I am glad I can be of little help. I think You guys are doing a great job. I do use OC on daily bases, and I will definitely share any ideas I might have..

[2015-11-24 13:20] rperezb commented on #1067
Not sure what the best way to track bugs related to a pr is, currently, we are adding them to the same pr, not sure whether this is visible or it would be better to open a new ticket and add a reference to it on the pr description.
What do you think?

[2015-11-24 19:35] tobiasKaminsky commented on #1067
@rperezb I think opening a new issue and link to the corresponding PR is the best idea.
Then the PR can focus on code review and discussion about functionality.

[2015-11-24 20:04] tobiasKaminsky opened #1308 "Share: unspecific error message"
Hi,

I wanted to use "share with users", but all I got was:
Sorry, your server version does not allow share with users within clients.
Please contact your administrator

Although I am the admin I was clueless ;)
After digging in the code the problem is that my server is 8.1.x and not 8.2.x.

So I suggest to change the error message to:
Sorry, your server version is 8.1.2 and sharing with users wit

[2015-11-25 07:45] rperezb commented on #1067
great

[2015-11-25 11:53] davivel commented on #471
For @all interest, we are reviewing the current state of this topic. It's near to receive top priority.

[2015-11-25 11:56] AndyScherzinger commented on #471
Nice! looking forward to furthers details and I would be more than happy to support any UI work necessary :)

[2015-11-25 12:50] MrEnderkiller commented on #1074
I have the exact same problem.
**Browser:**
Chrome
**Operating system:**
Debian 8 (Jessie)
**Android Client:**
1.8.0 and latest beta
**Server:**
8.2

I have tried with both ownCloud mobile app version 1.8.0 and the latest beta. The error message in log is the same as the original issue :
[code]
So, Instant Upload is unusable for me, as it always fails.

[2015-11-25 13:30] AndyScherzinger commented on #1074
Now the upload is also broken for me :(
I have the exact same problem.
**Android Client:**
latest beta
**Server:**
8.2.1

Android logcat:
11-25 14:16:29.235 10768-10768/com.owncloud.android.beta D/com.owncloud.android.files.InstantUploadBroadcastReceiver: Received: android.hardware.action.NEW_PICTURE
11-25 14:16:29.252 10768-10768/com.owncloud.android.beta W/com.owncloud.android.files.InstantUploa

[2015-11-25 14:27] tobiasKaminsky commented on #1074
@AndyScherzinger which version do you use? latest is 20151124, yesterday.
There it is working for me.

[2015-11-25 14:50] jancborchardt commented on #1067
At least on the server and in other repositories: When we open a pull request for which there is no issue yet, we do not bother to open a separate issue about it since it would kind of be duplication. If the implementation of that PR should not go through (which is rarely the case without any follow-up), we can still open a more general issue.

[2015-11-25 16:34] LudovicRousseau commented on #916
+1, I am not sure I can trust an application that tells me something bad happened but I have no idea what nor how to solve it.
I am using ownCloud Android client version 1.8.0 from F-Droid.

[2015-11-25 17:12] AndyScherzinger commented on #1074
Mine isn't from yesterday, so I'll check that again.

[2015-11-25 18:00] MrEnderkiller commented on #1074
That's pretty strange but after trying with the new latest beta (today, the 20151125) the problem didn't appear again for me.

[2015-11-25 18:03] wolfen351 commented on #744
Just want to chip in here too, +1 for this feature, came here specifically to see if there is a way to use a different camera path, and discovered this gem. It would be great to have a folder i know will sync to the server, and from the server too

[2015-11-25 20:07] Bugsbane commented on #744
Really, this is not about pictures or videos or even InstantUpload at all, so much as asking for the same functionality of the desktop client to sync folders.

[2015-11-25 20:09] Bugsbane commented on #1294
From a UX perspective, it seems very strange to have the user specifically ask the app to upload all photos, but then have the app - by design - then not upload a specific set of photos without even warning the user.

[2015-11-26 05:09] wolfen351 commented on #744
Agree, but as a side effect it will solve all these photo not uploading issues too :) (or at least provide a workaround)

[2015-11-26 05:33] jancborchardt opened #1309 "Beta: storage path setting too present"
In the current beta, the storage path setting is shown as first entry in the settings. That’s way too present since it’s a one-time setting, if anything.

It should be in the same section as the Cache size. cc @tobiasKaminsky @AndyScherzinger @davivel

[2015-11-26 05:39] jancborchardt opened #1310 "Beta: storage path setting too complicated / doesn’t need to be a file picker"
What exactly is the use-case of there being a full-blown file picker for this? We really just need a choice between saving on the local storage or on an external storage like SD card.

We should do that similarly to how [Maps.me](https://play.google.com/store/apps/details?id=com.mapswithme.maps.pro) solves it. Simple choice between the storage mediums. No need to choose the exact path.

cc @AndySc

[2015-11-26 07:29] codinguser commented on #296
According to http://developer.android.com/about/dashboards/index.html
devices with Android KitKat (4.4) and above now represent over 63% of the total Android install base.
Will this warrant a revisiting of the priority of this issue?

[2015-11-26 07:43] tobiasKaminsky commented on #1309
This belongs to #1293 by @przybylski

[2015-11-26 07:45] tobiasKaminsky commented on #1310
This belongs to #1293 by @przybylski
I think the reason for using a file picker is the flexibility for the user to use any desired path and not a predefined one.
Maybe it is an option to choose between "internal" ,"external" , "custom" (which then will open the file picker).

[2015-11-26 08:20] rperezb opened #1311 "[Duplications] [1168] Wording not clear"
With the branch: https://github.com/owncloud/android/pull/1168
Access to settings:
 It's included a new option under the Instant upload section: "Behavior: Do nothing"

- This is not pretty clear to me its aim (without having the background of github discussions :smiley:  @MTRichards @jancborchardt any suggestion here?

![duplications](https://cloud.githubusercontent.com/assets/1846927/11418230/65

[2015-11-26 08:30] rperezb opened #1312 "[Duplications] [1168] Setting view not updated after changing the behavior"
With the branch: https://github.com/owncloud/android/pull/1168

STEPS:
1.- Access to settings:
2.- As Behavior it´s shown: Do nothing
3.- Tap on behavior and change it to move file to OC folder

EXPECTED BEHAVIOR
On the settings view it´s shown:  move file to OC folder

CURRENT BEHAVIOR
On the settings view it´s shown: do nothing
If you change the device orientation, it´s updated

Device
HTC 4.1.2

[2015-11-26 09:31] przybylski commented on #1309
ok

[2015-11-26 09:34] przybylski commented on #1310
I didn't want to force predefined path to the user, and allow them to put owncloud storage in any place they want. Mount points might differ on different phones (especially samsung). User must know whats he's doing.

[2015-11-26 09:47] AndyScherzinger commented on #1074
I tried both, latest beta 25th and actual master, both fail for instant upload but also simply hang for any kind of upload so it might be related to the Upgrade on the server side when I moved from 8.1 to 8.2.1.
Will probably reinstall oC on the server...

[2015-11-26 11:16] AndyScherzinger commented on #1074
I tried both, latest beta 25th and actual master, both fail for instant upload but also simply hang for any kind of upload so it might be related to the Upgrade on the server side when I moved from 8.1 to 8.2.1.

Reinstalled the server, so now I am running 8.2.0 with a lot of mayor problems:
* Upgrade doesn't work via updater since the replace fails all the time
* iPhone uploads don't work
* Andro

[2015-11-26 13:25] skymania commented on #984
Finally found some time and I am currently using this for my owncloud server. Still in development tho.

![0](https://cloud.synox.si/index.php/s/joYbOl1rRwfTbZH/download)

![1](https://cloud.synox.si/index.php/s/SNayLPGggLyqD6R/download)

![2](https://cloud.synox.si/index.php/s/B5msBXEVbP2UUZL/download)

![3](https://cloud.synox.si/index.php/s/sGBXxNOavrtgufC/download)

![4](https://cloud.synox.si

[2015-11-26 14:15] przybylski commented on #1104
I haven't got too much time this week to work on this but current progress looks like this (texts and images are dummy, I would need some resource for android).

On first run:
<img width="451" alt="zrzut ekranu 2015-11-26 o 14 41 56" src="https://cloud.githubusercontent.com/assets/1734309/11424692/a6be1fc4-944f-11e5-8a77-d07d694a4b7c.png">

<img width="451" alt="zrzut ekranu 2015-11-26 o 14 42 19"

[2015-11-26 14:40] AndyScherzinger commented on #1074
So I now have 8.2.1 running again which works for instant uploads but doesn't for regular manual uploads. For some reason the execute method is called, the pre exceute method is called but the doInBackground isn't. Pretty weired not sure if this is due to the server or the new phone (N5X), most likely the server doesn't really work.

[2015-11-26 15:28] przybylski commented on #1104
Code is ugly but accessible on branch https://github.com/owncloud/android/tree/whatsNew

[2015-11-26 15:37] AndyScherzinger commented on #1104
I can probably add the icon work needed and have a look at the code.
As for the background color I think @jancborchardt wanted us to move to #ffffff to have the same colors used by the web and the mobile apps.

[2015-11-26 15:39] AndyScherzinger commented on #1074
I created a ticket in core for this matter: https://github.com/owncloud/core/issues/20762

[2015-11-26 15:44] przybylski commented on #1309
This question will be stupid but where is cache size preference? :)
I wanted to move storage path to other place but I'm not sure where :)

[2015-11-26 15:45] AndyScherzinger commented on #1198
pull request had to be re created and is now part of #1209 (successor of #1090)

[2015-11-26 15:45] przybylski commented on #1104
First I wanted to cleanup code a bit, any feedback from UX perspective will be valuable

[2015-11-26 15:53] AndyScherzinger commented on #1104
Is it okay for you to have other community devs committing changes to the branch or should we just provide any feedback in the issue?

[2015-11-26 15:56] AndyScherzinger commented on #984
@skymania did you rewrite one of the material branches of the ownCloud Android app?! :question:

[2015-11-26 16:06] skymania commented on #984
the master one.

[2015-11-26 16:10] przybylski commented on #1104
Commit, I have no objections.

But shouldn't #ffffff coloring be fixed across whole application instead of single activities?
I changed background to #ffffff here's preview:
<img width="453" alt="zrzut ekranu 2015-11-26 o 17 08 41" src="https://cloud.githubusercontent.com/assets/1734309/11427068/818bd00a-9460-11e5-9e98-03d8e019dfd5.png">

[2015-11-26 16:25] AndyScherzinger commented on #984
hmm, okay. The fab implementation would have been on the material_fab branch already ;)

[2015-11-26 16:34] AndyScherzinger commented on #1104
It should, yes. I did that on a branch including a PR but this hasn't been merged to master yet.

[2015-11-26 17:10] tobiasKaminsky commented on #744
@Bugsbane This is not about syncing.
It is an extended instant upload that should work for any desired folder in the same way as the current instant uploader is working: from mobile phone to owncloud for any file type.

A real syncing is something complete different.

[2015-11-26 17:11] tobiasKaminsky commented on #296
@haseebeqx I think it is not a problem to change these settings.
It would be great if you can provide a pull request which we can merge into our beta app and see how it is working.

[2015-11-26 17:17] tobiasKaminsky commented on #1311
I am clueless about the wording ;)
I thought it is clear, but maybe only for me.
If our app has finished an upload it can either
- duplicate the file by copying it to the owncloud folder
- "do nothing" and keep the file in its original place
- move the file from its original place to the owncloud folder.

Most user complain about the duplicating (which is by now the current behaviour).
And I guess

[2015-11-26 17:30] tobiasKaminsky commented on #1312
This is working for me with nexus 4 and nexus 5 in emulator.
Maybe @AndyScherzinger (our design dev :) ) has an idea?

[2015-11-26 17:31] tobiasKaminsky commented on #1310
A good compromise would be my proposed idea with internal/external/custom?

[2015-11-26 17:32] AndyScherzinger commented on #1312
I'll have a look, but need proper internet access for cloning/checkout.

[2015-11-26 17:34] tobiasKaminsky commented on #1074
Please do not give up! Your work here is so valuable that I/we do not wanna miss it! :+1:
I am always using a "beta" server and a productive version, so that I always have my main cloud up and running.
If I can help you with something please let me know.
(Although I have a vServer with root and therefore probably less problems than you with 1&1)

[2015-11-26 17:35] tobiasKaminsky commented on #1309
Cache size is in Category "Common".

[2015-11-26 17:43] tobiasKaminsky commented on #1104
Shouldn't the "skip" look like a button?
Currently "skip" and "next" look a bit lost there...

@przybylski Great work. Looking forward to have it in beta branch.

Why is this so?
You could check for an existing account to distinguish between "update" or "new install", or?

[2015-11-26 18:12] przybylski commented on #1104
I was aiming for skip and next not look like a button, they are borderless, so they look more like integral part of activity.

That is actually a good idea :) in addition to the current mechanism.
Now it's currently storing a version code in a preference which indicate last version, when this changes, list of new features, if there are any, is shown.

The whole idea is to show "Welcome to ownCloud

[2015-11-26 18:13] przybylski commented on #1309
I think I need to rebase, I see no common category :)

[2015-11-26 18:21] tobiasKaminsky commented on #1104
it was just a minor idea, and I am not a UI expert, so I am fine with the borderless "buttons".

This is very good :+1:
Will this also work with beta version?

[2015-11-26 18:23] tobiasKaminsky commented on #1309
Oh. This is introduced by me with #1195
So put this <PreferenceCategory android:title="@string/common_category" android:key="common_category"> right after the instantUpload category.

This will produce a merge error, but as this is very obviously it should not be a problem.

[2015-11-26 18:46] przybylski commented on #1104
It depends, what is the versioning with beta looks like?

[2015-11-26 19:00] Bugsbane commented on #744
Well, one way syncing for ofiles from a folder on your phone to a folder on the server. How is this different to your proposal? Admittedly the desktop client is two way, but that's the only dfifference I see, unless I'm missing something.

[2015-11-26 19:07] tobiasKaminsky commented on #1104
20151126, 20151127, and so on

[2015-11-26 19:08] tobiasKaminsky commented on #744
Yes, two sync vs one way sync is the one (and really big) difference as two way sync is much more complicated than just pushing all new files to the server.

[2015-11-26 19:15] tobiasKaminsky commented on #1104
I have checked out your branch and tried it.
It really looks great!
But, is it possible to use swipe left/right to change between the screens? At least this was what I tried and I guess this is the most common way users try to use it.

[2015-11-26 19:23] tobiasKaminsky commented on #1104
Regarding the version number. I saw that you use eg. 1.8.0.
Maybe it is better to use the versionCode as in AndroidManifest: 10800000.
With that the beta version would work out of the box (as it is the same length: 20151125)

[2015-11-26 19:40] AndyScherzinger commented on #1074
I gave und giving up :) So I will happily continue and hope that someone can figure out the thumbnail problem I opened an issue for. My guess is that it is related to the hosting constellation, meaning a memory issue since I don't have dedicated memory or maybe it is something else since I couldn't find a pattern for the thumbnailing failures since even for the Nexus5 photos some get thumbnails an

[2015-11-26 21:31] przybylski commented on #1104
version code is calculated from string version, putting version code is not programmer friendly ;)
I could add another field which would indicate beta version but i don't think that beta needs a "whats new" view.

Right/left swipe is not yet implemented.

[2015-11-26 23:36] Bugsbane commented on #744
OK, sure. I can agree with that.

[2015-11-27 02:11] DougJod commented on #1144
@AndyScherzinger @jancborchardt
Are you sure that we don't want icons for all items? It looks incomplete with missing icons:
(the icons are from https://www.google.com/design/icons/)
![screenshot_2015-11-26-18-03-26](https://cloud.githubusercontent.com/assets/15933358/11432722/0901fe3a-9469-11e5-854e-e62716f532e7.png)
![screenshot_2015-11-26-18-02-21](https://cloud.githubusercontent.com/assets/159

[2015-11-27 08:17] jancborchardt commented on #1310
Yeah, but honestly the focus here should be on making it super simple. Most other apps don't really ask you for a path but simply if internal or SD card.

A complicated path picker will result in most users _not_ really knowing what they do. It's not about perceived freedom of choice here – cause that doesn't even make sense. It's another option which is not really needed given the use case.

[2015-11-27 08:18] jancborchardt commented on #1309
»Common« should also be renamed to »Details«.

And we should probably move the security code in there as well (as first entry) becaise currently it's just a single entry between the accounta and instant upload.

[2015-11-27 08:24] rperezb opened #1313 "[Duplications] [1168] Upload failed"
STEPS:
1.- Enable instant upload
2.- Behavior: select: do nothing
3.- Take an image
4.- The image is automatically uploaded

CURRENT BEHAVIOR:
Once the upload finishes, it´s shown a notification of failed upload
However, the file is uploaded

EXPECTED BEHAVIOR:
There is not any notification of failed upload

NOTE:
This happens too if you select the option: delete
This has not been reproduced if th

[2015-11-27 09:19] rperezb commented on #1312
Double check it, the view on a mobile device is not refreshed, however, on a tablet, it's

[2015-11-27 09:43] AndyScherzinger commented on #1144
In general I leave this decision to the UI expert @jancborchardt
Taking into account that we want to move to the three dotted menu I wouldn't add icons now and when we move to the three dotted menu we can either go for a standard popo up menu which would be Android standard behavior or create a custom one a suggested by @jancborchardt where icons do make sense but the layout is more advanced in co

[2015-11-27 10:37] rperezb commented on #1311
Ok, I'd say, let's wait for @MTRichards input, he has really good ideas.

suggestions:
- Instead of behavior: Storage options

![settings](https://cloud.githubusercontent.com/assets/1846927/11439301/cfded62c-94fa-11e5-9775-e6814c852677.png)

- For the options:

![options](https://cloud.githubusercontent.com/assets/1846927/11439296/ce430716-94fa-11e5-861a-e0fef2d1fa84.png)

[2015-11-27 15:31] tobiasKaminsky commented on #1310
Ok. This is also fine for me.
So let's try it with internal/external. And if there are several users that want to have custom storage path we can intregrate it?
Are you fine with this @przybyiski?

[2015-11-27 15:33] tobiasKaminsky commented on #1309
This should the be done in a new PR to keep the issues separated.

[2015-11-27 15:58] tobiasKaminsky commented on #1311
"Storage options" sounds good.
The other suggestion is too technically I think (1 vs 2 copies)
Besides that: what is local folder? You mean origin folder?

[2015-11-27 16:04] tobiasKaminsky commented on #1144
@AndyScherzinger this does not answer the "question" of @DougJod: It looks kind of weird when there are only several icons...
(even with the three dotted menu we can have icons...)

[2015-11-27 16:16] tobiasKaminsky commented on #1144
@AndyScherzinger this does not answer the "question" of @DougJod: It looks kind of weird when there are only several icons...
(even with the three dotted menu we can have icons...)

[2015-11-27 16:20] tobiasKaminsky commented on #1312
What devices and android versions have you tried?

[2015-11-27 16:21] tobiasKaminsky commented on #1313
fixed.
Please try again

[2015-11-27 16:22] tobiasKaminsky commented on #1104
Beta is not that important. Just thought that we can test the "what's new" screens already there.
This would also have the benefit that the beta user directly see the changes and can test the new features more, which is what we want.
As the field is a string value we can add the beta version "20151115" in it and test if it is parseable by the normal version "1.8.1" or if it is a 8-digit-value and

[2015-11-27 16:48] AndyScherzinger commented on #1104
Do we really want what's new screens for PRs? Depending on the PR in case it is not a big feature but rather an optimization or even a bugfix I wouldn't open such a screen, except for a version which I would call a changelog. The actual whatsNew implementation from what I understand is rather a general introduction showcase.

[2015-11-27 16:56] AndyScherzinger commented on #1144
You are right @tobiasKaminsky my comment was rather a summary of @jancborchardt's original comments where he pointed out that he would like to revamp the popup to a firefox like one with a multi column layout and icons only for some actions.
For the icons you are absolutely right and depending on the remaining actions we could probably have icons for all of them and rather use for icons as the mai

[2015-11-27 17:00] tobiasKaminsky commented on #1309
please see #1314 for renaming section

[2015-11-27 19:07] przybylski commented on #1309
There is still something which bothers me about the whole issue. In all places in code where storage is accessed ownCloud is using getExternalStoragePath which always returns path to external storage only if it exist. Otherwise it points to simulated storage. Did anyone actually tested that oc is using internal storage instead of external one?

[2015-11-27 19:19] przybylski commented on #1310
Storage is a general setting for all users and migration is taking care of all files regardless of their owner. Since storage directory also contains logs and temporary files.
I already did introduced internal external option on my computer but I have some concerns about this big. From day 1 oc android was designed to use external storage if it is possible.

[2015-11-27 19:24] AndyScherzinger commented on #1193
DONE and reviewed in PR #1277 waiting for merge

[2015-11-27 20:01] AndyScherzinger commented on #1312
Hmm strange. It seems this is specific to some Android versions even though I don't know which of them. This (https://github.com/owncloud/android/commit/35a68aa33766f43f9b190a4b67be327051e04ca4#diff-ffb88170f459941fc1526888859e39aaR80) should take care of it and change the summary value. Else I can see if implementing a onSharedPreferenceChangeListener which does this manually: http://stackoverflo

[2015-11-27 22:25] DougJod commented on #1144
I do like the FireFox menu. It uses a combination of a multi-colum layout (for icons without text) and a simple list (for text). Maybe we can combine the 3 icons; Share, Favorite and Delete into a single row without text, then put the rest of the text options in a simple list? I'll post a mock-up screenshot in a few minutes...

[2015-11-27 22:59] AndyScherzinger commented on #1144
@DougJod I think @jancborchardt described how he would prefer this to be implemented here: https://github.com/owncloud/android/issues/1144#issue-105352328

[2015-11-27 23:29] DougJod commented on #1144
With the FireFox menu (below) it looks like they have all the 'multi-column' icon rows at the top, then just a simple list of text items, some of which are grouped (Page & Tools) and one with the checkbox option.

I'm not sure how to combine text items midway through the list (Move|Copy) & (Open With|Send), especially since 'Open With' is only visible with downloaded files, but I'll work on it.

@

[2015-11-28 07:46] tobiasKaminsky commented on #1104
No, not for every PR, but for every big PR.
In current beta I suggest:
- Resized Images
- switchListvsGridView (but only because the behaviour is inherited from the parent folder)
- multiSelect
- streaming
These are "complicated" PRs or things that need some explanation, I think.
All other PRs (like video thumbnail, cancel wlan on exist, material button/fab, upload when charging) are enhancements

[2015-11-28 07:49] tobiasKaminsky commented on #1309
I cannot test as I only have internal storage ;)
But is this not replaced by your code?

[2015-11-28 07:54] tobiasKaminsky commented on #1067
@rperezb The way you are dealing with bugs in #1168 is great and we should keep this way:
If we find a bug reference it in the first post of the corresponding PR!
:+1:

[2015-11-28 07:57] tobiasKaminsky commented on #1312
Where do you have merged your commit? I cannot find it ;)
I think it belongs in #1168?

[2015-11-28 10:11] przybylski commented on #1309
I cannot test it as well because I also have nexus 4 :)

But using external storage was there since day one

[2015-11-28 10:13] AndyScherzinger commented on #1312
Exactly, see right be my comment here: https://github.com/owncloud/android/pull/1168#issuecomment-143574628

[2015-11-28 10:14] AndyScherzinger commented on #1309
Can't test it either, also only having Nexus devices.

[2015-11-28 10:24] tobiasKaminsky commented on #1312
Ah. Thought it is a new commit.
So, the problem exists even with your fix?

[2015-11-28 10:31] AndyScherzinger commented on #1312
I didn't tryout any of the possible fixes described here: https://github.com/owncloud/android/issues/1312#issuecomment-160197665
since we have summary="%s" Android should take care of it, but it seems that at least on @rperezb device (HTC) with Android 4.1.2 it doesn't
--> so I am not sure how to fix the summary display (anything else seems to work for her). It always works for my and you, so I ca

[2015-11-28 14:23] rishabh7m commented on #788
@LukeOwncloud @jabarros can I start on this if anyone is not working on this issue?

[2015-11-28 18:01] elpraga opened #1315 "Beta 20151128 - is Cache size setting remembered?"
The default cache size is 10 Mb. When I input a number, let's say 50, it gets set up to 50 MB. When I close and open Settings, it says 50 Mb. When I close the app and reopen it, it states 10 Mb.

It the change remembered? and that are the units? Mega bits or Mega Bytes?

[2015-11-28 18:28] luckyhacky commented on #163
+1

[2015-11-28 19:35] enoch85 commented on #1074
Thanks for your efforts @AndyScherzinger

[2015-11-28 20:39] eribertomota opened #1316 "Android 4.2.2 client: Server instance not found"
Hi,

When connecting from Android 4.2.2, I get "Server instance not found". So, I used tcpdump to see the connection in server side. The results are:

18:33:20.717832 IP 192.168.0.200.58648 > 192.168.0.100.80: Flags [P.], seq 1:108, ack 1, win 229, options [nop,nop,TS val 7995951 ecr 397463523], length 107: HTTP: GET /status.php HTTP/1.1
E.../.@.@..C.......d...PA.-.;iz.....)>.....
.z./....GET /sta

[2015-11-29 10:15] tobiasKaminsky commented on #1316
Can you see the status.php with the android browser? http://192.168.0.100/owncloud/status.php?
(or wherever you have installed the owncloud instance)

[2015-11-29 11:39] tobiasKaminsky commented on #1229
It is now in the git master branch of fdroid and should be soon in the repository browsable by the client :)

[2015-11-29 12:24] jancborchardt commented on #1309
Hehehe homies – I _do_ have an external storage so I guess I’m the authority for this and #1310 ;)

[2015-11-29 12:31] xylo commented on #1229
Nice!

[2015-11-29 12:37] eribertomota commented on #1316
Yes, I can see:

{"installed":"true","version":"7.0.4.2","versionstring":"7.0.4","edition":""}

Em domingo, 29 de novembro de 2015, Tobias Kaminsky <
notifications@github.com> escreveu:

http://192.168.0.100/owncloud/status.php?

https://ci6.googleusercontent.com/proxy/zonuuItwrWiup3-K0Y136zB-7m7xWzgUVbtwVjdYIzm7TnDrIPJ9bXXRalSqIZ3ghCda-PdePGye6kdR4qfPua3FQUMsSh-JikJrkTneEg8wXOUN7wpMZegCwON87yx4XM

[2015-11-29 12:45] jancborchardt commented on #1310
Exactly. Let’s do small steps, and only add stuff we really need.

@przybylski what do you exactly mean now? Storage is a setting per-user, but for all accounts, yes. And yep, when the storage is changed, the files also need to be moved over.

[2015-11-29 13:18] tobiasKaminsky commented on #1229
And here we go: https://f-droid.org/repository/browse/?fdfilter=owncloud&fdid=com.owncloud.android.beta

[2015-11-29 13:18] #1229 closed

[2015-11-29 13:39] tobiasKaminsky commented on #1315
Uh.
I have already fixed this in branch resizeCache.
Now it is also in beta 20151129.

[2015-11-29 13:40] przybylski commented on #1309
@jancborchardt could you please check if owncloud is putting files on your external storage? IMO it should that from the very beginning

[2015-11-29 15:41] LukeOwncloud commented on #1229
How difficult would it be to add the beta version? Currently f-droid just shows "owncloud beta" where it should say "v20151129".

[2015-11-29 19:33] tobiasKaminsky commented on #1229
Next build, maybe tomorrow ;), will have it.

[2015-11-30 05:38] pecuna opened #1317 "Crash upon start: NPE on FileDataStorageManager.prepareInsertShares"
Hello! I installed the beta client from fdroid an after entering login details I receive folowing message and have to close the app. Happens all the time. I can see the dirs for a short time every time I open the client but crash is following.

************ CAUSE OF ERROR ************

java.lang.NullPointerException
	at com.owncloud.android.datamodel.FileDataStorageManager.prepareInsertShares(File

[2015-11-30 07:40] rperezb commented on #1067
great to know your feedback!

Continuos improvement!

[2015-11-30 07:54] rperezb commented on #1312
Hey, I have checked it with:
View not refreshed, mobile handsets
- Galaxy Nexus 4.2.1
- Galaxy S3, 4.1.2
-  HTC ONE 4.3

View refreshed:
- Tablet nexus Android 6

(Code https://github.com/owncloud/android/commit/5d77cfc62d8f5018b44adc4832d372674c956128 )

[2015-11-30 08:20] strugee opened #1318 "Sharing screen shows "Choose upload folder" instead of ownCloud"
I'm on a Nexus 9 running Android 5.0.1, beta app 20151128. When I go to share a file from another app, the sharing screen presents me with an option to share to "Choose upload folder," with the ownCloud beta logo. This should clearly say ownCloud instead.

[2015-11-30 08:37] AndyScherzinger commented on #1312
Good morning @rperezb. Does that mean it only works on the tablet for you?

[2015-11-30 08:53] rperezb opened #1319 "[Duplications] [1168] Error on the preview, Android 4.1.2"
STEPS:
1.- Set the instant upload behavior to: delete
2.- Take a photo
3.- The photo is uploaded successfully
4.- Access to the folder where the photo is stored on the ownCloud app

CURRENT BEHAVIOR:
The photo is shown as downloaded, however, if you preview it there is an error: "The image cannot be shown"

LOGS
[code]
EXPECTED BEHAVIOR
The image is not shown as downloaded

(the error in the previ

[2015-11-30 09:47] jancborchardt commented on #1309
No it doesn’t. There’s only an empty cache folder on the SD card in the `Android/data/com.owncloud.android` folder for both the normal and beta version.

I assumed we postponed that anyway. cc @davivel?

[2015-11-30 11:03] rperezb commented on #1312
hey @AndyScherzinger checked with another device, a tablet Nexus 7 Android 4.3, the view is not refreshed till you change the device orientation or go to another view and go back to settings (as with the other devices)

[2015-11-30 11:26] rperezb commented on #1313
working, thx

[2015-11-30 11:26] #1313 closed

[2015-11-30 13:27] AndyScherzinger commented on #1312
@rperezb I think I found the mistake, it is related to Android versions rather than tablet/phone. I was relying on the change listener mechanism of setValue which is a feature that has been introduces with Android 4.4 (API 19). So I added some pre API-19 handling for this :) - For details please see https://github.com/owncloud/android/commit/4f7d416b81d42e26b7c36d673f76ddf460f4500e committed again

[2015-11-30 19:03] MTRichards commented on #1311
I think this solves a long standing issue where an Android user had duplicated files when they were added to ownCloud - 1 copy in the origin folder, 1 in ownCloud on the mobile device - doubling storage usage - and of course, 1 copy on the server.

This in particular is only for instant uploads, and allows a user to decide what to do about storing more than 1 image copy.

Should this option be und

[2015-11-30 19:58] tobiasKaminsky commented on #1317
@davivel This has something to do with sharing?
Can you have a look?
Maybe I have messed something up on merging, but it seems as "share.getShareType().getValue()" gives a NPE.

[2015-11-30 20:07] tobiasKaminsky commented on #1319
Not for me (Nexus 4 [real device], Nexus 5 [emulator]).
When entering the folder there was a yellow circle badget and the file was just as not downloaded.

So, I am currently clueless...

[2015-11-30 20:07] tobiasKaminsky commented on #1319
Does a folder refresh helps?

[2015-11-30 20:09] tobiasKaminsky commented on #1311
This option is the first item in the "instant upload" category.
Your wordings seem fine to me :+1:

[2015-11-30 20:13] MTRichards commented on #1311
Right - but is there a reason it is first, vs. third?

[2015-11-30 20:32] tobiasKaminsky commented on #1311
Ah...I have misunderstood you.
My intention was similar to your idea: show that this option is for both: pictures and videos and therefore I put it first.
But with the same argument we can put it behind picture/video.

Shall I also change the wordings to your proposal?

[2015-11-30 20:39] MTRichards commented on #1311
Now that I think about it, either position works - let's leave it.

Just want a nod from @jancborchardt and we can change it.

[2015-11-30 22:34] elpraga commented on #1315
It seems that the number is remembered in 20151129 now, but when You open the settings, the units are Mb, when You enter a number the units change to MB. When You leave the settings and enter them again, the units are Mb again..

Is the cache size in Mega bits or Mega Bytes? I am sorry to repeat the question, but it is quite a big difference and I down know how to find out myself..

[2015-12-01 07:45] rperezb commented on #1319
Yes, the yellow circle is shown, however, I think it shouldn't because the selected option is delete.
However, lets leave this to @masensio since here we reproduce it.

[2015-12-01 10:33] masensio commented on #1319
Hi @tobiasKaminsky,

I've checked this bug with a Nexus 9 Android 6, and I've reproduced it.

The image is shown properly but the yellow circle is shown but there isn't any sync process running on this folder.
On the other hand, if you refresh the folder the yellow circle continues there.
I'm reviewing this problem, looking for a solution.

[2015-12-01 11:44] JIghtuse commented on #819
Waiting for this feature. For me, current (duplicating) behavior was surprising.

[2015-12-01 12:41] masensio commented on #1319
Hi,
related with the yellow sync circle we have already fixed a similar bug in the release branch.
I applied the same fix here with a cherry pick and it works fine.

On the other hand, the preview problem in S3 device (4.1.2) is still present because is marked as downloaded, but I don't know why. I'm researching about it.

[2015-12-01 13:22] rperezb commented on #1312
great!

it worked
:clap: :clap:

[2015-12-01 13:22] #1312 closed

[2015-12-01 14:59] AndyScherzinger commented on #1312
Glad to here that :smiley:

[2015-12-01 15:10] masensio commented on #1319
Hi again,

this bug is fixed on the PR #1168: commit https://github.com/owncloud/android/commit/a7304351b1d8a821c64fcd0218106a0bcc5f723f

So I'll close it.

[2015-12-01 15:10] #1319 closed

[2015-12-01 16:21] jancborchardt commented on #1311
Right, I wanted to open an issue about this too, as I find position and wording confusing. :) Here’s what we should do:

- [ ] Move it to the third position as @MTRichards proposed above. Now it’s too present
- [ ] Only show it when one of either Image upload or Video upload is enabled. When nothing of that is enabled, showing this option does not make sense.
- [ ] Change the wording:

The thing t

[2015-12-01 16:53] AndyScherzinger commented on #1235
I am a month late, but it sounds like a neat feature and a fitting addition to the image view itself even if it is just for showing a slideshow of your vacation pictures to friends on your phone. So yeah, sounds great! :+1:

[2015-12-01 17:00] jancborchardt commented on #1311
Oh and the default should probably be »Kept in original folder« to not mess with anything, right? Duplication will only happen when you tap on a picture and download it.

@tobiasKaminsky @AndyScherzinger?

[2015-12-01 17:13] AndyScherzinger commented on #1311
@jancborchardt sounds good to me, even though I have to say I only took care of materializing the list view anything else is the work and achievement of @tobiasKaminsky.

I am fine with reducing it to just the two options even tough I am unsure if 4 isn't a use case for people with limited storage on their device (not everyone has a 32+GB phone) and thus using the client to basically move their ph

[2015-12-01 17:17] jancborchardt commented on #1311
I know, but wanted to make sure I didn’t miss anything, and you folks know most about the code. :)

We can still do that in the future if we really see that it’s not enough. But we should take small steps now, not too much scaffolding.

[2015-12-01 17:23] masensio commented on #1317
Hi @tobiasKaminsky,

I don't know if you have missed something on merge or not, but I've installed the beta version from f-droid (20151130) on a Nexus 10 Android 5.0.2.
I've done login and access to the files without problems.

[2015-12-01 17:26] AndyScherzinger commented on #1311
I am fine with keeping it simple but just wanted to point out that there might be options in the future to also hide but allow more complex scenarios for some users in case it is worth the effort in our eyes ;)

[2015-12-01 20:12] tobiasKaminsky commented on #1315
It is bytes, so it would be "MB".
I will change it.

[2015-12-01 20:14] #1315 closed

[2015-12-01 20:15] tobiasKaminsky commented on #1319
:+1: Thank you for bugfixing @masensio!

[2015-12-01 20:17] tobiasKaminsky commented on #1317
Yeah, for me (with 2 devices), my wife and a co-worker it is also working, but not for @pecuna...

@pecuna Can you tell us which owncloud server you use?
Does this also happen after a reinstall with clean data of the beta app?

[2015-12-01 21:00] pecuna commented on #1317
Still continues to happen with the owncloud server with selfsigned certificate, but on other with free ssl certificate I tried everything is ok on first look. So I think there is something wrong with selfsigned certificates. I have imported mine through CAdroid.

[2015-12-01 21:02] tobiasKaminsky commented on #1317
@davivel Do you have an idea here?

[2015-12-01 21:03] tobiasKaminsky commented on #1311
@jancborchardt @rperezb I have changed it.
Please test :)

[2015-12-02 07:13] strugee commented on #819
@JIghtuse I'm with you, but adding comments like that is unhelpful .It just means the developers have more mail to read, and doesn't actually do anything to get this merged. In the future, please refrain from "+1"-style comments. Thanks! :)

[2015-12-02 08:37] jancborchardt commented on #1311
@AndyScherzinger yup! It’s just important that we start small and go from there. :) That’s way easier than noticing we added too much and then take it away – cause then people will start complaining that something was taken away. ;)

[2015-12-02 08:38] masensio commented on #1311
Thanks @tobiasKaminsky for your quick change.
We are testing and everything works properly at the moment.

I have some comments in the code, related with the options for instant uploads.
With the last changes they are only used LOCAL_BEHAVIOUR_FORGET and LOCAL_BEAHVIOUR_MOVE for instant uploads, so LOCAL_BEAHVIOUR_REMOVE option is never used.
Maybe the code related with this option should be remov

[2015-12-02 15:03] supportreq commented on #592
@tobiasKaminsky any update on this?? I am not sure if it is working even for mp3 files..

[2015-12-02 15:05] supportreq commented on #592
Got this error :
[code]

[2015-12-02 17:52] przybylski commented on #1104
Left/Right swipe is now on branch, if anyone could update images and descriptions I would really appreciate it

[2015-12-02 18:56] tobiasKaminsky commented on #1311
I have removed the code.
In order to have this PR validated quicker, please feel free to do this changes by yourself :)

[2015-12-02 19:00] tobiasKaminsky commented on #1104
Great :+1:
@AndyScherzinger maybe you can help with images and descriptions?

[2015-12-02 19:23] tobiasKaminsky commented on #592
For me it is working with MX player, even with MP3.
But it needs some time...

Regarding the error, I have added some check and will upload a new beta soon.

[2015-12-02 20:13] AndyScherzinger commented on #1104
Sure thing, I will have a look, but might need help from Jan for the vector images to create the images in the right sizes.

[2015-12-02 20:17] przybylski opened #1320 "Remove support to build with Maven"

[2015-12-02 20:42] AndyScherzinger commented on #1320
As far as I know, there is none and besides that the maven build doesn't even work anymore...

[2015-12-02 20:45] przybylski commented on #1320
ok, removing ;)

[2015-12-02 20:54] AndyScherzinger commented on #1320
Hope that is fine with you @davivel

[2015-12-03 15:06] marcelklehr opened #1322 "Login with password containing umlauts doesn't work"
### Expected behaviour
Successful login with the provided credentials.

### Actual behaviour
Login failed.

### Steps to reproduce
1. Install owncloud and set password to `123ä`
4. Try logging in with the web interface -- login successful.
2. Try to login with android client.
3. Login fails.

### Environment data
Android version: 4..2.2

Device model: Fairphone

Stock or customized system: Customi

[2015-12-03 15:12] marcelklehr commented on #1322
I just updated my server instance to v8.2.1 and the problem persists.

[2015-12-03 17:08] Querschlag opened #1323 "Support for Nexus Imprint"
Google introduced a new fingerprint authentification service with the release of the Nexus 5X and 6P called Nexus Imprint. Github user @afollestad created a library that wraps around the Google Api and provides fingerprint unlock with a passphrase fallback.
Would it be possible to implement this as another method to unlock the app (instead of a PIN code)?

Library: https://github.com/afollestad/di

[2015-12-03 20:58] jdezego opened #1324 "Android - Duplicate files."
When I upload a file from my phone to my server, the app creates a folder on my phone and copies the file to that folder... so now I have 2 copies of ever file I upload on my phone. This effectively cuts my phone storage in half, and is crazy if I want to upload hundreds or thousands of photos. What is the thinking behind this? Dropbox does not do this.

If this "feature" is going to remain then i

[2015-12-03 21:36] quincunx opened #1325 "Clearing application data removes passcode"
If the application data is cleared via app info (Settings > Apps > ownCloud > Storage > CLEAR DATA), then the PIN is removed, too. But as the account info is kept, starting the app again will give one access to the account without any PIN code.

Tested on Nexus 5 with Android 6.0 and ownCloud Android App 1.8.0.

[2015-12-03 22:47] enoch85 commented on #1324
@tobiasKaminsky @davivel Will this be fixed in 2.0?

[2015-12-03 22:48] enoch85 commented on #1324
Seems like it https://github.com/owncloud/android/issues/819 --> Close.

[2015-12-03 23:05] przybylski commented on #1325
Clearing data is a system setting and application data (SharedPreferences) cannot hide from it, since it is controlled by system. This is a security thread which doesn't have a simple way of handling.

[2015-12-04 10:41] marneu commented on #10
Seconding the request:
Unfortunately the App uses the internal sdcard storage, thus making it on a 16Gb hard to survive where I do have a 128Gb external SD card.
To overcome the barrier it would be nice to do it like Titanium Backup and serve an option to store the synced data on the extSDcard device. Just an idea...

[2015-12-04 12:09] jdezego commented on #819
This issue is a year old. The Android app is literally useless until this is fixed. Uploading 2GB of photos creates 2GB of copies, effectively wiping out the storage space on my phone. As a 20yr developer this should be made a TOP priority and fixed today.

[2015-12-04 13:23] tobiasKaminsky commented on #1324
@enoch85 I think so, at least it is being tested right now.
Closing as duplicate of #819

[2015-12-04 13:23] #1324 closed

[2015-12-04 13:23] tobiasKaminsky commented on #1325
The only way is to also remove the account details when doing "clear data".

[2015-12-04 13:26] tobiasKaminsky commented on #10
@marneu As you can see @przybylski has implemented this feature and it is right now in the beta version.
So there is no need in putting a "+1" reply.
Regarding you proposal about the option: it is already there and was discussed...Please try to search before posting.

[2015-12-04 13:28] tobiasKaminsky commented on #819
@jdezego this is already in QA and will be in the next release I think.
Please try to search before posting such answers...
There is no need for such things like "should not charge money"... these are not helpful at all!

[2015-12-04 13:28] tobiasKaminsky commented on #1311
@rperezb @masensio Can this be closed?

[2015-12-04 13:49] marneu commented on #10
Thanks Tobias, is there a way to participate in the beta?

[2015-12-04 14:04] jdezego commented on #819
My research was noticing that the issue is a year old and still not fixed.
Your qa team should have noticed this immediately like I did. My review
will stand until this is corrected. Your reply to my comment pointing out
that it is not helpful, is not helpful.
On Dec 4, 2015 8:28 AM, "Tobias Kaminsky" <notifications@github.com> wrote:

[2015-12-04 14:10] przybylski commented on #10
@marneu you can download APKs from here https://github.com/owncloud/android/tree/beta/apks/

[2015-12-04 14:17] przybylski commented on #1325
Since 'clear data' is a system feature I guess app cannot remove account (because it doesn't know when data was cleared).
The way out is instead of putting pin into shared preferences create a dummy file which would be encrypted by this PIN, and if decryption succeeds then we can unlock app.

[2015-12-04 14:19] marneu commented on #10
Great: Do i need the uninstall the app before pushing the apk?

[2015-12-04 17:41] carlaschroder opened #1326 "User manual updates did not get published"
Hey all, re https://github.com/owncloud/android/pull/1254 -- the changes did not get published to https://doc.owncloud.org/android/. I took a look at the Jenkins config, and do not understand it. Please I need someone to fix this so that the manual gets published correctly.

[2015-12-04 17:43] carlaschroder commented on #1326
I don't see a Jenkins job for the Android user manual, or the iOS user manual.

[2015-12-04 21:36] elpraga opened #1327 "owncloud 1.9 does not install while beta is installed and vice versa"
I get repeatedly the error 505 while

[2015-12-04 21:37] elpraga commented on #1327
Installing the app from the store.

Anyine having similar issue?

[2015-12-04 22:19] carlaschroder commented on #1326
Hurrah, all fixedby @danimo!

[2015-12-04 22:19] #1326 closed

[2015-12-04 22:19] tobiasKaminsky commented on #1325
"clear data" also deletes the storage in /sdcard/owncloud/account-name or?
If this is true, then we would have an indicator: account folder is missing for existing account entry and then delete also the account entry.

[2015-12-04 22:20] tobiasKaminsky commented on #1326
When and how? :)
I was just about to see where the problem is.

[2015-12-04 22:21] tobiasKaminsky commented on #10
No. It is possible to install it alongside the official app.
The beta version is also available at f-droid.
But please only use just one instant uploader as otherwise it may come to strange behaviour.

[2015-12-04 22:22] carlaschroder commented on #1326
@tobiasKaminsky Just now :) Look on Rotor, in the Documentation section.

[2015-12-04 22:25] danimo commented on #1326
@tobiasKaminsky the docs are built on an internal machine inside a docker environment. Not much to see I'm afraid.

[2015-12-04 22:26] tobiasKaminsky commented on #819
Are you kidding?
Look at these issues
https://github.com/owncloud/android/issues/1324
https://github.com/owncloud/android/issues/1319
https://github.com/owncloud/android/issues/1313
https://github.com/owncloud/android/issues/1312
https://github.com/owncloud/android/issues/1311
https://github.com/owncloud/android/pull/1069
https://github.com/owncloud/android/issues/977
https://github.com/owncloud/a

[2015-12-04 22:32] jdezego commented on #819
Send me the code for this "feature" and I'll fix your mistakes and send it
back to you in 24 hours. I'll work on it in my spare time, like you.
On Dec 4, 2015 5:26 PM, "Tobias Kaminsky" <notifications@github.com> wrote:

[2015-12-04 22:38] tobiasKaminsky commented on #819
https://github.com/owncloud/android/pull/1168
As you can see, it is approved by qa. So it will be in the next release.
If you (really) want to help, just find another open issue, show an idea how to solve it, discuss it with the official/community devs and implement it.
I think there are a lot of old issues that need some help.

[2015-12-04 22:44] Kernald commented on #819
Guys. Just stop, please. The feature will soon be merged as far as I understand, thanks to @tobisKaminsky. There's no need to say you need it, it won't come quicker. Neither there is need to be rude nor to get angry.

[2015-12-05 07:20] tobiasKaminsky commented on #1327
What android version do you have exactly?
Is this an owncloud upgrade or a fresh install?
It seems as this is a problem with the android version...
https://android.stackexchange.com/questions/88214/how-do-i-deal-with-unknown-installation-error-code-505

[2015-12-05 07:35] tobiasKaminsky commented on #1178
@davivel
This is working in 1.9?
Great job! :+1:

[2015-12-05 09:19] Bugsbane commented on #819
Pull requests talk louder than comments. 'nuff said.

[2015-12-05 11:44] PVince81 commented on #916
Just had a conflict again and the new Android client shows a red arrow icon to mark conflicted files. Then upon synchronizing the dialog had greatly improved wording.

I think this ticket can be closed as fixed.

Thanks a lot!

[2015-12-05 11:44] #916 closed

[2015-12-05 11:45] PVince81 commented on #916
#1068 seems to be the wording fix

[2015-12-05 11:46] PVince81 commented on #916
To clarify, the red arrow also appears on parent folders, so it's easy to see in which folder there are conflict files

[2015-12-05 11:47] tobiasKaminsky commented on #916
Oh man, this is sooo long ago, I even did not know that I have implemented this :/

[2015-12-05 14:33] alve89 commented on #1308
This is issued in Android. I got the same error message right now on iPhone iOS 9.1. So it is not os-specific.

[2015-12-05 16:00] tobiasKaminsky opened #1330 "Storage path: switch to external folder after reinstall"
Hi @przybylski,

on a fresh install I have switched the storage path to external sdcard and used it a lot.
After a reinstall (due to some tests) I wanted to switch a fresh-install back to the external sdcard.
This does not work as owncloud says that the folder is existing (we talked about it).

Now the question is, how to deal with such a situation? Deleting the folder and download all files once

[2015-12-05 16:02] tobiasKaminsky commented on #1308
This might be possible, but it is definitively an android issue as it android code that generates the error message and is not only a redirected server message.

[2015-12-05 16:02] tobiasKaminsky commented on #1308
cc @davivel @jancborchardt

[2015-12-05 17:52] przybylski commented on #1330
I think asking user whether use or overwrite existing folder is better solution. It event match issue filed by @jancborchardt that setting path is overly complicated.

[2015-12-06 06:56] tobiasKaminsky commented on #1330
You are right, this is the best and (for the user) easiest solution.
If a user does not want to use or overwrite the destination folder he would have rename it manually.

[2015-12-06 09:04] pecuna commented on #1317
I have the same issue now on the new stable ( 1.9.0 ). When I open the client with account on server with self-signed certificate the app gives me  "Unfortunately Owncloud has stopped working". Other account with certificate from the net (startssl) has no problems.

[2015-12-06 10:06] marneu commented on #1330
Some experience on using the Beta:

Parallel installation on android with ownCloud went ok. After changing to a different location on extSdcard following error occurs (location will not be changed):

[code]

I tried to uninstall ownCloud and removed the SDcard folder ownCloud to check to simulate a fresh install. The error remains the same, the newly and empty folder is not moved to the new locati

[2015-12-06 10:16] marneu commented on #1330
Tobias, I'd like to second your thoughts and even go further, the app should check on installation whether it finds an existing data path (based on tag(?)) and use it without notice.

[2015-12-06 10:58] przybylski commented on #1330
This crash is caused by some changes in "Avoid duplication" in views.
The fix to that is in here: https://github.com/owncloud/android/pull/1302 but I looks like @tobiasKaminsky haven't merged it onto beta

[2015-12-06 11:12] przybylski commented on #1330
@marneu could you open new bug with crash and assign it to me?

[2015-12-06 11:14] przybylski commented on #1325
No it is not removing data folder

[2015-12-06 18:16] Mickael-Martin commented on #1327
Same issue on cm12.1 (Android 5.1 based). Fresh install or upgrade.
Can I log this ?

[2015-12-06 19:16] marneu opened #1331 "Beta 20151202 crashes on changing to external folder"
Some experience on using the Beta:

Parallel installation on android with ownCloud went ok. After changing to a different location on extSdcard following error occurs (location will not be changed):

[code]

I tried to uninstall ownCloud and removed the SDcard folder ownCloud to check to simulate a fresh install. The error remains the same, the newly and empty folder is not moved to the new locati

[2015-12-06 19:18] marneu commented on #1330
ok, I made https://github.com/owncloud/android/issues/1331 but can not assign you nore add a label, sorry.

[2015-12-06 19:47] mhoess commented on #10
Hi,
syncing to a sd card folder does not work on android 4.x (think because of authorizatization issues for writing on SD Card)
Can somebody help?

[2015-12-06 19:56] marneu commented on #10
Did you try SDFix (nextapp.sdfix)?

[2015-12-07 09:04] xephon2 opened #1332 "Limit download notifications"
When downloading a whole directory, the download task is not handled as a single job. All files are notified separately and trigger a notification icon in the header bar on Android. Therefore one or two icons appear and hide again and again and you get no real notification about the remaining time of the whole download job, because the displayed time is only related to the currently downloaded fil

[2015-12-07 10:57] aslmx opened #1333 "Application Not Responding / Crashes after v1.9 updates on S-Galaxy S4"
Hi,

updated today to v1.9 from the fdroid market. The version works fine on my S5 and on a colleagues phone (no idea what make and model, but its running cyanogen mod), but on my S4 i repeatedly encounter crashes when changing folders inside the app.

Log:

12-07 11:52:43.864 E/AndroidRuntime(28352): FATAL EXCEPTION: Thread-16681
12-07 11:52:43.864 E/AndroidRuntime(28352): Process: com.owncloud.a

[2015-12-07 11:09] elpraga commented on #1327
In my case it was first reinstall, then I uninstalled the app and tried to install it again with the same error.

I emptied the cache of play store and tried again. But with the same result.

I am afraid to uninstall the beta, because I do use the app on daily bases and I cannot be without it..

[2015-12-07 11:14] elpraga commented on #1327
Please note, that there is no problem in installing nor upgrading other apps on my phone. The only one I have problems with is the OC legacy one.

[2015-12-07 11:38] elpraga commented on #1327
I can confirm the issue now. I did uninstall the beta on my tablet and I could install the version from Google Store without any problems, but no I cannot install Beta 20151202 on the tablet.

Does this help?

[2015-12-07 12:33] jancborchardt opened #1334 "Sorting by recently modified should mix files and folders"
Currently when sorting by recently modified first shows folders and then files. Rather we should mix them, whichever item was modified most recently. This is the same we do in the web interface.

Because right now the sorting is very strange for folders with a lot of items and folders – you need to scroll down a lot to get to the relevant items.

[2015-12-07 13:07] jancborchardt commented on #1308
Agree. Let’s simplify the message a bit though:

Sounds a bit more understandable and something you would actually say. That’s a rule of thumb for any message: It needs to be something you would actually say to someone personally, not something technical.

[2015-12-07 16:26] przybylski commented on #1310
I did push some code regarding this and few other issues.
This code should work for SD cards but it needs a bit more work from UX perspective.
@jancborchardt could you have a look?
@tobiasKaminsky does my commits from externalSD2 needs to be merged into beta somehow?

[2015-12-07 17:43] DougJod commented on #1144
Sorry, I've been working on another project and haven't had time to follow up on this yet.
I don't know a way to mimic this FireFox menu without building a custom dialog with fixed (non menu driven) fields. The FireFox menu is a global options menu, which has built in behavior for showing items as icons (via the showAsAction attribute) and also dynamically handling the menu item grouping and overf

[2015-12-07 20:45] tobiasKaminsky commented on #1308
:+1: Yeah, this is clearer and much easier to implement :)

[2015-12-07 20:47] tobiasKaminsky commented on #1334
But this is the way other file browser do this, oder?
(I can only verify this for dolphin [KDE file browser])

[2015-12-07 20:54] tobiasKaminsky commented on #1333
This has something to do with sharing, which is only supported in > 1.8, therefore 1.8 will not have these crashes.
@davivel @masensio

[2015-12-07 20:56] tobiasKaminsky commented on #10
The app should work without any other app required.
I do not know if Andrid 4.x behaves different than >5 regarding the storage on sdcards...

[2015-12-08 08:51] AndyScherzinger commented on #1144
I would also stick with the standard menu for now especially since we might have to rethink it again when we move to a three dotted menu icon per entry which usually triggers a popup menu.

[2015-12-08 11:31] jancborchardt commented on #1334
Desktop file managers might do that, but on mobile it’s impractical. :)

[2015-12-08 14:37] przybylski commented on #1251
fixed by https://github.com/owncloud/android/pull/1296

[2015-12-08 16:16] Mickael-Martin commented on #1327
Ok. Uninstall beta works for me too. Thanks

[2015-12-08 16:34] ogasser opened #1335 "Delete upoad failed notification on succcess"
If an instant upload fails on the first try a notification is shown. It seems that the app automatically tries to upload the file again (the pictures are all on my server even if the "Upload failed - The operation couldn't be completed, server is unav…" notification is shown.

Once the upload succeeded the "upload failed" notification should be deleted to not confuse the user.

[2015-12-08 19:17] sermilrod opened #1336 "Unknown error ocurred!"
Hi,

The android client for owncloud is throwing the following error when trying to connect over HTTPS:

"Unknown error ocurred!" after testing the connection.

I just updated recently to core version 8.2.1 and suddenly the mobile connectivity stopped working.

I am using nginx + php5-fpm (5.6.16-2+deb.sury.org~trusty+1 (fpm-fcgi)) in ubuntu 14.04 and the nginx config is directly the config you pr

[2015-12-08 20:54] tobiasKaminsky commented on #1334
Ok.
Then we do it :+1:

[2015-12-08 20:55] tobiasKaminsky commented on #1336
what is said when opening the your server within the browser? http://yourdomain.de/owncloud/status.php?

[2015-12-09 08:33] masensio commented on #1311
PR #1168 is in master. I'll close this issue.

[2015-12-09 08:33] #1311 closed

[2015-12-09 13:18] masensio commented on #1178
This issue is included in 1.9 version of the app.
Next step: manage share with privileges :)

[2015-12-09 13:18] #1178 closed

[2015-12-09 13:33] jas4711 opened #1337 "Chromecast support?"
When viewing images using the built-in photo viewer, would it be possible to have a chromecast cast-button?  I don't know if it is possible to support chromecast without non-free libraries though -- if it isn't, I wouldn't want this implemented.

[2015-12-09 13:36] masensio commented on #1308
Hi @all,
this message isn't provided by the server.
The app checks if the server version supports the searching of users and if this feature is available (it could be disabled by the administrator). The client shows this message if the feature isn't available because of any of these reasons.
So if you say "To use sharing with other users, your server needs to be at least version 8.2" maybe it isn'

[2015-12-09 14:09] przybylski commented on #1337
Chromecast has support in Google API Library and is fairly easy to implement.
Could you provide 1-2 scenarios how ownCloud app could benefit from it?

[2015-12-09 14:37] jas4711 commented on #1337
Simple scenario: cast one image to chromecast device. After downloading and viewing an image locally, have the cast icon appear to allow me to cast the image to the TV.

Actual scenario (this happened yesterday where we eventually resolved to uploading the images to Google and using Google Photos): Open up a directory with several images, click on an cast icon to start casting, and by selecting im

[2015-12-09 14:58] sermilrod commented on #1336
that works perfectly fine. Access via browser and desktop applications look good.

[2015-12-09 14:58] xenithorb commented on #1333
Also seeing this on the stable F-Droid build on CM 12.1 (5.1.1)
[code]

My status.php reports the following:
[code]

[2015-12-09 15:07] xenithorb commented on #1333
Turning off the Share API from the server admin panel does temporarily prevent the app from crashing.

[2015-12-09 18:38] tobiasKaminsky commented on #1308
https://github.com/owncloud/android/blob/master/src/com/owncloud/android/authentication/AccountUtils.java#L292

This is used to check if the server supports sharing otherwise the error message is displayed.
I cannot see a check for enable/disabled sharing feature?

[2015-12-09 22:04] m4lvin commented on #953
Was something changed recently which can bring back this issue? I never had this problem before but now owncloud is emptying my battery... (app version 1.9.0 from f-droid, Android 5.1.1 on Nexus 4, owncloud 8.2.1 on server)

[2015-12-09 23:14] enoch85 commented on #1074
I can add and confirm that this happens on every time a picture is uploaded through InstantUpload.

[2015-12-10 01:41] EMCP commented on #10
I tried to follow the link towards https://github.com/owncloud/android/blob/beta/apks/owncloud-beta-20151202.apk , inside ES File Manager and in my own browser.  Getting a 'cannot parse' error message on install attempts.

[2015-12-10 16:34] davivel commented on #1308
Hi, @tobiasKaminsky .

There are other checks, but don't result in a message, they silently hide the share feature. I will double check this case.

[2015-12-10 17:09] davivel commented on #1308
This is what happens now if server version is lower than 8.2, and Share API is enabled:

![now_00](https://cloud.githubusercontent.com/assets/2225614/11722458/10a801ec-9f69-11e5-9fec-40ab23a3e7e4.png)

![now_01](https://cloud.githubusercontent.com/assets/2225614/11722461/14a64556-9f69-11e5-9216-2aa08c86dd82.png)

This is my proposal:

![proposal](https://cloud.githubusercontent.com/assets/2225614/

[2015-12-10 17:12] davivel commented on #1308
And this is also other proposal...

[2015-12-10 17:15] jancborchardt commented on #1308
Yeah, good call on that @davivel – showing the message directly instead of the sharing elements is definitely the best.

[2015-12-10 17:20] davivel commented on #1320
Totally fine. Kill it.

[2015-12-10 17:30] davivel commented on #1325
cc @rperezb @MTRichards @cmonteroluque

To solve it we'll need:
1. Move all the information of the Account from current storage (AccountManager) to app database; (possible exception: account password; or maybe not)
2. Update all the code dependent of 1; not so bad as seems; specially important: code validating account and redirecting to log-in Activity when invalid.
3. Grant that the information o

[2015-12-10 17:35] przybylski commented on #1325
Please don't move Account information from AccountManager to app DB, the whole point was to have oc integrated with system, so android could schedule synchronizations of files (those "keep in sync" as well as file list), or maybe those functionalities were owned by some other app component?

[2015-12-10 17:39] przybylski commented on #1325
And BTW why not use http://developer.android.com/reference/android/accounts/AccountManager.html#KEY_USERDATA to store PIN information?
This could lockup single account instead of whole app (but locking entire app is also possible).

[2015-12-10 17:39] davivel commented on #1325
The point is keep the minimum information available in the AccountManager, this is:
  - accountName
  - password (maybe not)

And use the accountName to access the rest of the Account data in the app database.

If I'm not wrong, keeping the accountName and the SyncAdapter (registered through syncadapter_files.xml) should be enough to keep the integration in the device accounts.

[2015-12-10 17:42] przybylski commented on #1325
SyncAdapter requires Account to in onPerformSync method which is called by the system, this would need to be triggered by hand

[2015-12-10 17:45] davivel commented on #1325
Yes, and that Account only contains Account#name and Account#type ; Account#name is used to recover data from KEY_USERDATA, but could be used instead as an index to recover data from a table in the database, since onPerformSync receives also a ContentProviderClient to access the database.

[2015-12-10 17:53] przybylski commented on #1325
Userdata is Parcelable so it can store anything. I don't see a point of moving account data to app

[2015-12-10 18:12] johnassel opened #1338 "ownCloud 1.9.0 constantly syncing"
Since 1.9.0 the Android OC client is constantly syncing and keeping the device awake when the auto-sync option under "Accounts" is checked. I've got it installed on two 5.1.1 devices and this behaviour occurs on both. Once it has finished scanning the whole folder structure it starts again after 30-60 seconds, keeping the device awake (it never goes do deep-sleep), draining the battery and generat

[2015-12-10 18:17] tobiasKaminsky commented on #10
Normally this is working the way you described it.
You can also install it via fdroid.

[2015-12-10 18:21] tobiasKaminsky commented on #1320
I think there is currently no PR for this, so this issue should remain open?

[2015-12-10 18:27] davivel commented on #1320
Fine for me, closed it since it's a question, and was answered. But this other way works too.

[2015-12-10 18:35] JohnVeness commented on #971
Same problem with 1.9.0

[2015-12-10 18:36] davivel commented on #1325
The point is getting that when a user clicks the button 'Clear data', the account data are also cleared :)

We can explore your proposal to store the passcode in the AccountManager tomorrow, I can't go on today.

[2015-12-10 19:20] helmo opened #1339 "Beta install fails"
Hi,

I just tried to install the 20151202 beta on a Nexus 5 Android 6.0.1 via f-droid.
The phone was cleanly installed today.

It fails at the end of the installation process with the not so helpful message "Failed to install due to an unknown error"

Other apps installed just fine via F-droid.
Please let me know if there's a way to get a more helpful message from this.

[2015-12-10 19:34] helmo commented on #1339
While officially not compatible(according to f-droid) the app did install just fine on an old android 4.1

[2015-12-10 20:05] przybylski commented on #1325
I made a simple POC code to illustrate that assigning pin data to account.
This changes survives data clear.
Code is available here https://github.com/owncloud/android/tree/POC_account_pin

[2015-12-10 20:06] przybylski commented on #1325
Only this change is relevant: https://github.com/owncloud/android/commit/f7155df0d9db44860dad876baa0496218c51aa41 but it's basing on bug_1251 branch which made some changes to how passcode is processed

[2015-12-10 20:23] tobiasKaminsky commented on #971
cc @masensio

[2015-12-10 20:24] tobiasKaminsky commented on #1339
For me it is working on a nexus 4 on android 6.
But I have no idea how to find the reason...

btw: why is it not compatible according to f-droid?

[2015-12-10 20:49] helmo commented on #1339
Strange ... I didn't find it before I check the "Incompatible versions" checkbox. But now I can still find it after the checkbox is unchecked. ... So sorry, must have been a typo or me not looking good enough.

[2015-12-11 08:22] xdmx commented on #1338
I have this exact issue. I charged my phone 12 hours ago and never used it since then. My battery is at 56% with owncloud responsible for 70% of the draining + various mb of data used

I've now disabled the auto sync as well

[2015-12-11 08:29] masensio commented on #971
Ups, sorry I forgot to update the changelog here

[2015-12-11 08:36] masensio commented on #971
Changelog updated again :smile:
You can see at:
https://github.com/owncloud/android/blob/HEAD/CHANGELOG.md

[2015-12-11 08:36] #971 closed

[2015-12-11 10:31] ondratu commented on #1338
Hi, i have the same problem. I send feedback from android that ownCloud killing my battery on my Samsung S5 Mini. Now i try to start syncing and as I see on server log, syncing is still repeating.

[2015-12-11 10:33] smu commented on #1338
Same here, on a Nexus 7 running Cyanogenmod 12.

[2015-12-11 10:59] elpraga commented on #1327
Can we confirm that it is the case? I can confirm it on my two devices, but I cannot be sure if it is the case in all occasions.

 Can something e done about it?

[2015-12-11 11:21] AndyScherzinger commented on #1308
Nice one! I also think this would be the best way to deal with this :+1:

[2015-12-11 11:43] przybylski commented on #1327
beta and regular release have the same package name so they can't be installed without conflicts on a device

[2015-12-11 11:43] przybylski commented on #1327
simple fix is to change beta package name

[2015-12-11 13:45] elpraga commented on #1327
Something must have changed since 1.8; I used to have 1.8 and beta installed together without any problems, and I upgraded the beta many times.

I am not sure what do You mean by changing the package name, but if You mean changing the filename of the beta, that does not work.

If You mean changing something inside the package, could this be fixed in the next beta? (I suppose it would be easier to

[2015-12-11 15:47] domneu opened #1341 ""Unfortunately, Owncloud has stopped" after photo when AutoUpload is enabled"
After a photo is taken, I get the above behavior and the photo never gets transferred to the server.  This occurs over cellular, as well as wifi.  It even happens when wifi-only is enabled and the phone is not connected to wifi.  This is only occurring on our 50 or so Verizon Kyocera Brigadier phones.   Our other phones (mostly Motorolas) work fine.  If there is anything I can do to help solve thi

[2015-12-11 20:03] ccoenen commented on #1338
I have this on a nexus 10 (stock android) and a Galaxy S4 (cyanogenmod). Going back to 1.8.0 is a workaround for now.

[2015-12-11 20:04] ccoenen commented on #1338
Oh and i only noticed because of a dead battery and a warning from my ISP that i'm using too much data on my sorry 500MB/month plan.

[2015-12-12 15:58] tobiasKaminsky commented on #1327
@przybylski
$aapt dump badging owncloud-beta-20151202.apk
package: name='com.owncloud.android.beta' versionCode='20151202' versionName='20151202' platformBuildVersionName='6.0-2166767'
sdkVersion:'14'
targetSdkVersion:'23'

Where do you see the same package name? In fdroid?

[2015-12-12 15:59] tobiasKaminsky commented on #1341
A logcat would be fine, otherwise we cannot see where the problem is.

[2015-12-12 17:23] tobiasKaminsky commented on #1327
1.9 version downloaded from fdroid:
$aapt dump badging com.owncloud.android_10900000.apk |head
package: name='com.owncloud.android' versionCode='10900000' versionName='1.9.0' platformBuildVersionName='5.1.1-1819727'
sdkVersion:'14'
targetSdkVersion:'22'

[2015-12-12 19:12] przybylski commented on #1327
@tobiasKaminsky I was looking directly on beta branch, https://github.com/owncloud/android/blob/beta/AndroidManifest.xml but obviously I might be wrong

[2015-12-12 19:26] tobiasKaminsky commented on #1327
@przybylski AndroidManifest and gradle.build are adjusted by my betaBuild script (which is not public, but it can/should be...)

[2015-12-12 20:51] domneu commented on #1341
It is not rooted.   Is a logcat still possible?

[2015-12-13 10:55] tobiasKaminsky opened #1343 "Android 6: new permission system"
I have installed owncloud on a fresh android 6 system.
After installing I could not download any file because the "storage" permission was not granted.
This should, according to the new permission system, catched during runtime and the user should be asked if one wants to grant this permission.

[2015-12-13 10:57] tobiasKaminsky commented on #1341
Of course: https://play.google.com/store/apps/details?id=com.nolanlawson.logcat
Then use "owncloud" to filter your logcat and please post the output right after an unsuccessful instant upload.

[2015-12-13 13:22] godfuture opened #1344 "Allow to share pictures with gallery link in addition to files link"
The owncloud gallery allows to generate gallery share links. I would like to use these gallery share links with my owncloud android client. They are extremly useful.

I may share fotos and videos as files, but people that I shared my photos do not know how to switch to gallery view. I would like to decide what kind of share link is generated at share options.

[2015-12-13 13:26] godfuture opened #1345 "Allow downloading of files (especially pictures) unzipped from share link"
Zipped downloads are not common for mobile useres. Users do not know (and do not want) to handle zipped files on their phone.

I would be happy, if files could be downloaded as single file.

[2015-12-13 13:29] godfuture commented on #1345
I just noticed that this ticket is not relevant for owncloud android client. I have opened another ticket here: https://github.com/owncloud/core/issues/21170.

This ticket might be closed.

[2015-12-13 13:48] #1345 closed

[2015-12-13 14:05] tobiasKaminsky commented on #1310
I have merged them into beta and replied to your pull request.

[2015-12-13 14:53] tobiasKaminsky commented on #819
Closing as #1168 is in master :)

[2015-12-13 14:53] #819 closed

[2015-12-13 16:08] enoch85 commented on #1339
@helmo I just installed the latest beta today and faced the same issue. What I did whas to uninstall it, and then made a clean install again.

Off topic: @tobiasKaminsky The latest beta is working very well! I love the fact that the files aren't duplicated. Great work!

[2015-12-13 16:25] enoch85 commented on #765
Any new updated screenshot on this?

[2015-12-13 16:29] enoch85 commented on #815
Duplicate files error is fixed, and merged. https://github.com/owncloud/android/pull/1168 Could we close this issue?

[2015-12-13 16:45] enoch85 opened #1346 "[Beta 20151213] + Sign interferes with select"
When selecting files with the Android app you can't select the last ones because it interferes with the + sign to add.

A possible soulution would be to inactivate the + sign when selecting.

**Phone**
OnePlus 2
Android 5.1.1

[2015-12-13 16:48] enoch85 opened #1347 "[BUG 1176][Beta 20151213] When deleting from server the app freezes"
When selecting several files for deletion in server side, the app freezes in the same mode.

It says "successful deletion" and then the icon is just spinning and nothing happens. To fix it you have to kill the app.

**Phone**
OnePlus 2
Android 5.1.1

![screenshot_2015-12-13-17-17-49](https://cloud.githubusercontent.com/assets/4511254/11768052/6a0529d6-a1c1-11e5-86cd-3a06d7a2bb1b.png)

[2015-12-13 16:49] przybylski commented on #1346
Checkboxes should be gone long ago, and they should be replaced by long press selection

[2015-12-13 16:51] enoch85 commented on #1346
@przybylski So you think it's better to delete every image once at the time, rather than have the possibility to select several at once? Sorry, don't agree with you on that one.

And if I recall it correctly, that's the behavior of the stable app.

[2015-12-13 17:32] enoch85 opened #1348 "[Beta 20151213] App crashes when switching to landscape view"
When I rotate the screen when watching videos the app crashes. Tested with files on server, have not tested if they are present locally.

************ CAUSE OF ERROR ************

java.lang.RuntimeException: Unable to start activity ComponentInfo{com.owncloud.android.beta/com.owncloud.android.ui.activity.FileDisplayActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'androi

[2015-12-13 17:45] enoch85 opened #1349 "[Beta 20151213] Streaming videos from server doesn't work"
When choosing to keep the photos and videos in the original place, the I can't play videos. I don't know if I'm supposed to be able to do that, but anyway, it doesn't work.

The video file also get downloaded randomly, or I mean, the question if I want to stream it with an external app, doesn't always pop up.

When I choose to move the files to the app folder, videos play without any issue.

**Pho

[2015-12-13 17:49] enoch85 opened #1350 "[Beta 20151213] App crashes when long pressing picture in grid view"
***********\* CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke interface method 'boolean android.view.ActionMode$Callback.onCreateActionMode(android.view.ActionMode, android.view.Menu)' on a null object reference
    at com.android.internal.policy.impl.PhoneWindow$DecorView$ActionModeCallbackWrapper.onCreateActionMode(PhoneWindow.java:3279)
    at android.support.v7.v

[2015-12-13 17:52] enoch85 commented on #1350
On the second try it worked.

[2015-12-13 17:55] enoch85 commented on #1350
Related error, when removing picture in grid veiew from server:

************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke interface method 'void android.view.Menu.clear()' on a null object reference
	at com.owncloud.android.ui.fragment.OCFileListFragment$7.onItemCheckedStateChanged(OCFileListFragment.java:348)
	at android.widget.AbsListView$MultiChoiceModeWrapper

[2015-12-13 18:03] Bugsbane commented on #765
Hey @LukeOwncloud

Thanks so much for your work on this. Looking forward to using it. As a user, the only thing that's unclear to me from the last screenshot is what a recycle icon stands for in the context of already uploaded files. If it's supposed to stand for delete, then I don't understand why it doesn't use the trash can icon we use everywhere else in ownCloud, and I would expect to see here

[2015-12-13 18:23] tobiasKaminsky commented on #815
Thanks for pointing out @enoch85

[2015-12-13 18:23] #815 closed

[2015-12-13 18:27] tobiasKaminsky commented on #1346
@przybylski This is a new feature from branch multiSelect.

@enoch85 Your solution seems very good for me.
@AndyScherzinger how do we want to proceed with this? Can you create a new PR/branch which depends on "your" material_fab and "my" multiSelect, and implements the idea of @enoch85?

[2015-12-13 18:29] tobiasKaminsky commented on #765
@Bugsbane I think clicking this icon will just remove the entry from the list.

[2015-12-13 19:32] jospoortvliet commented on #819
Congrats, @tobiasKaminsky - epic piece of work! I look forward to the next Android client release.

[2015-12-13 19:57] przybylski commented on #1346
@enoch85 what i meant was, we should use contextual action bar with list view like described here: https://androidperspective.wordpress.com/2013/04/17/contextual-action-bar-with-listview/ instead of putting checkboxes

[2015-12-13 20:56] enoch85 commented on #1346
@przybylski Oh, that looks awesome. :) @AndyScherzinger What do you think, would it be possible?

[2015-12-13 22:17] sermilrod commented on #1336
I am still wondering why the application prompts such a undescriptive message of error, and how could that be fixed

[2015-12-13 23:48] przybylski commented on #1339
When I was working with beta branch today I notice that I got INSTALL_FAILED_CONFLICTING_PROVIDER error while running beta. I had to uninstall stable ownCloud to make it work. Perhaps some content provider is using incorrect authority?

[2015-12-14 09:06] AndyScherzinger commented on #1346
What would solve the problem and imho be the right thing to do anyways would be to ad ennough whitespace at the end of a list so that the list items can scroll completely above the FAB when the user scrolls to the end of the list. At least that is what I am used to in apps utilizing the FAB, e.g. SeriesGuide.

So I would change that for starters.
Besides this small fix, for platform expected behav

[2015-12-14 09:44] AndyScherzinger commented on #1343
We can implement this via the AppCompat lib so it works in a backwards compatible way :) What suprises me a little is the fact that the storage permission is missing since that would lead to the same problem on any Android version and Android 6 still supports the now legacy permission model?!

ContextCompat should be able to handle all this: https://developer.android.com/training/permissions/reque

[2015-12-14 12:04] jancborchardt commented on #1346
I’ve been in favor of moving to »long-press for select« since a long time, see https://github.com/owncloud/android/issues/899 ;)
(@enoch85 for info: Long-press will initiate the multiselect mode, every file after that only has to be tapped to be selected, not long-pressed.)

Just needs someone to implement and review it. As @tobiasKaminsky mentioned there is a branch, see the PR at https://github.

[2015-12-14 12:04] jancborchardt commented on #1346
So @davivel @masensio since this causes a bug where you can not select the last file, we should push forward https://github.com/owncloud/android/pull/1176

[2015-12-14 12:06] jancborchardt commented on #765
@LukasReschke @Bugsbane @tobiasKaminsky since it’s just a history, I wouldn’t even have that icon there. As noted the icon is confusing, and the function is not really necessary anyway.

[2015-12-14 13:03] domneu commented on #1341
Sorry, I have done what you requested, but the logcat is blank when I
filter by owncloud.  Again, I do NOT have root on this phone.  Is this the
expected bahavior?

Thank You,
Dominic

On Sun, Dec 13, 2015 at 5:57 AM, Tobias Kaminsky <notifications@github.com>
wrote:

[2015-12-14 13:26] przybylski commented on #1341
Yes, since 4.2 this app requires root.
You can try to reproduce this issue on beta, if this still happens then you can provide logs to us which is stored on the device directly.

[2015-12-14 14:08] domneu commented on #1341
I'm attempting the beta route.  Where are the logs in the beta version
stored?

On Mon, Dec 14, 2015 at 8:26 AM, Bartosz Przybylski <
notifications@github.com> wrote:

[2015-12-14 14:09] LukasReschke commented on #765
@LukeOwncloud is not @LukasReschke :speak_no_evil:

[2015-12-14 14:20] domneu commented on #1341
************ CAUSE OF ERROR ************

java.lang.RuntimeException: Unable to start receiver
com.owncloud.android.files.InstantUploadBroadcastReceiver:
java.lang.NullPointerException
at android.app.ActivityThread.handleReceiver(ActivityThread.java:2430)
at android.app.ActivityThread.access$1700(ActivityThread.java:139)
at android.app.ActivityThread$H.handleMessage(ActivityThread.java:1276)
at an

[2015-12-14 19:09] tobiasKaminsky commented on #1346
Of course you can select the last item:
If there is no entry selected so far --> long press
if there is already multi-select --> just click on any point of the item (can also be very left)

The checkbox is just there to visualise the selection state, but it is not necessary to tip exactly on it.

[2015-12-14 19:11] tobiasKaminsky commented on #765
@jancborchardt But how is the history being cleared? It cannot show all entries. Should it always show just the latest (10/20/50) entries?

[2015-12-14 21:03] enoch85 commented on #1346
@tobiasKaminsky As it is possible to select, it's not obvious.

[2015-12-15 01:12] TJWeiten opened #1352 "Implement a Document Provider"
One sorely lacking feature (unless it's already implemented in which case this is a bug report) is the lack of ownCloud's app acting as a document provider. A document provider essentially tells the Android operating system that it is an application that manages files. Google Drive is a document provider, and therefore whenever the OS-level file picker comes up (for example, when selecting a new i

[2015-12-15 01:24] TJWeiten opened #1353 "View Photos Temporarily without Downloading them to System"
One personal annoyance is that the ownCloud app downloads every image that I open on my devices to the internal storage. Sometimes, I want to view an image just temporarily and NOT have it automatically downloaded and stored to /sdcard/owncloud/.../.

Perhaps downloading them into a cache would be more proper, then if the user clicks the menu button, offer to let them download the image and then i

[2015-12-15 02:05] rijudewan opened #1354 "Instant upload with 3rd Party Camera App"
Instant upload  with 3rd Party  Camera App does not work. Is there any way that i can use instant upload with 3rd party camera app .

[2015-12-15 03:47] rijudewan opened #1355 "Build Error"
Error:(57, 12) Error: Avoid non-default constructors in fragments: use a default constructor plus Fragment#setArguments(Bundle) instead [ValidFragment]
    public FileFragment(OCFile file) {
[code]
D:\AndroidProject\ownCloud-9.0\src\com\owncloud\android\ui\preview\PreviewMediaFragment.java:107: Error: Avoid non-default constructors in fragments: use a default constructor plus Fragment#setArguments

[2015-12-15 08:05] Bugsbane commented on #765
@tobiasKaminsky if it's just "remove this entry" wouldn't the X icon make more sense than "recycle" which implies turning the file into somehing new or at least retrieving it from deleted (such as the Windows file explorer recycle bin)?

[2015-12-15 09:59] etiess opened #1356 "[Share with users, groups] Should not be accent sensitive"
### Expected behaviour

As mentionned for the client (owncloud/client#4286) and for the server (https://github.com/owncloud/core/issues/21212), sharing a file/folder with users/groups is accent sensitive, while I think it should not.

In fact, you have to enter the name with the accent, in order it is proposed in the users list. Investigating a bit further, I noticed that "í" is considered as a no

[2015-12-15 10:33] przybylski commented on #1354
What sort of app you are talking about?
As long as that app sends `android.hardware.action.NEW_PICTURE` or `com.android.camera.NEW_PICTURE` intent after taking picture then we are uploading it.

[2015-12-15 10:36] przybylski commented on #1352
Possible duplicate: https://github.com/owncloud/android/issues/296

[2015-12-15 15:26] AndyScherzinger commented on #1354
as mentioned, camera app would need to support the mentioned intends, seen also here #1217

[2015-12-15 15:35] AndyScherzinger commented on #1353
please see  #1044 and close this issue in case the references PR is fulfilling this issue in your opinion.
It does in mine :)

[2015-12-15 15:52] AndyScherzinger commented on #1346
Like I said this should be done via being able scroll beyond the FAB and that would simple fix this matter and would be the right thing to do anyways ;)

[2015-12-15 16:26] AndyScherzinger commented on #1346
I also pushed the change to the beta branch, see attached the screenshots from the actual state on the fab branch:
![device-2015-12-15-172001](https://cloud.githubusercontent.com/assets/1315170/11816434/be7b5b08-a350-11e5-8d98-e1512cf50a97.png)

![device-2015-12-15-172125](https://cloud.githubusercontent.com/assets/1315170/11816438/c244cd50-a350-11e5-8cf5-d2b4edede76d.png)

Feel free to comment. T

[2015-12-15 16:41] enoch85 commented on #1346
I think it's too much whitespace at the botton. Why not just remove it while selecting? When you are selecting you aren't selecting because you want to upload something, you select because you want to edit/delete/move the files you've selected, IMHO.

[2015-12-15 17:18] AndyScherzinger commented on #1346
The whitespace is material standard spacing (spacing to the right and bottom - and now also to the top (end of the list).

The button needs to be below the whole thing at some point anyways. As soon as someone finds the time to actually start implementing the three-dot menu per list item (positioned in the bottom right corner) we would have to scroll past the list anyways b/c else you would end up

[2015-12-15 17:32] enoch85 commented on #1346
@AndyScherzinger A bit tired now, hard to imagine, but I'm sure it will be nice. :)

[2015-12-15 18:41] AndyScherzinger commented on #1346
@enoch85 This might give you a rough idea:
https://lh3.googleusercontent.com/Qw9I4Vfxh30PNXJVGRqtybamXPdg50xmIiSMB7qbXqflzxHHDL92fLB8RguM1QHEXg=h900

This is how SeriesGuide handles it, even though that SeriesGuide is using tiles while we might stay with standard list items (design wise) but it will kind of have a similar layout.

[2015-12-15 19:47] domneu commented on #1341
Is this information helpful, or do you need something more?

[2015-12-15 19:59] enoch85 commented on #1346
@AndyScherzinger Ok, so that means that 2/5 is useless? It looks like you only can access 3, the rest is blocked by a big fab(?)

[2015-12-15 20:44] AndyScherzinger commented on #1346
Na... When you scroll down the list has enough whitespace at the end so the last can be scrolled above the fab, like in my screen shots

[2015-12-15 21:12] tobiasKaminsky commented on #1354
Yeah, there is nothing we can do here (except developing and implementing #744)

[2015-12-15 21:14] tobiasKaminsky commented on #1341
This is helpful, but without trying to debug/analyse the code I cannot say for now which is the problem...

[2015-12-15 21:17] tobiasKaminsky commented on #1346
@AndyScherzinger I thought that @jancborchardt and me have decided to not implement the "per item three dotted menu" and rather use the way I have implemented it now with the multi-select.
Otherwise the #1176 PR is useless ;)

[2015-12-15 21:55] AndyScherzinger commented on #1346
Hmm, That seemed to slipped through for me. Went back to the tickets and you are right, this is all covered by your PR. But that would then also mean the discussion about the new changed menu layout doesn't make any sense then. @jancborchardt?

[2015-12-15 23:08] TJWeiten commented on #1352
Definite duplicate. Closing the issue.

[2015-12-15 23:08] #1352 closed

[2015-12-15 23:10] TJWeiten commented on #1353
Alright, that does look like it's mostly fulfilling what I'm looking for. Hopefully it gets merged soon.

[2015-12-15 23:10] #1353 closed

[2015-12-16 09:38] jsalatiel opened #1357 "Lots of login failed in log after update to material version"
Since the last update to the new material design version, my owncloud log is being flooded with

`
Error	PHP	Cannot modify header information - headers already sent by (output started at /var/www/owncloud/user-otp/user_otp/lib/otp.php:310) at /var/www/owncloud/lib/private/api.php#346	2015-12-14T13:46:02-03:00
Warning	core	Login failed: 'salas'
Error	PHP	session_regenerate_id(): Cannot regenerate s

[2015-12-16 10:09] tobiasKaminsky commented on #1357
Do you mean the new owncloud-1.9 version?
Or the beta version?

[2015-12-16 11:06] jsalatiel commented on #1357
Sorry , i forgot to say.
owncloud 1.9.0 downloaded from play store

[2015-12-16 11:13] AndyScherzinger commented on #1357
@davivel @masensio looping you in here since it shouldn't be material design related, since material has been introduced with 1.8.0

[2015-12-16 11:16] jsalatiel commented on #1357
I don't update play store apps very often, so i cant say exactly in which version it started. I only got the material design version yesterday and it is already 1.9.

[2015-12-16 11:36] jsalatiel commented on #1357
I only noticed this problem because right after update the app in play store, i was unable to connect to the server and found out that fail2ban had banned my ip address because of several 'login failed'. So i manually unban my ip address and seconds later it was banned again.

[2015-12-16 15:31] aslmx commented on #1333
disabling the share api will - according to admin ui - not only disable sharing with 3rd party apps, but also the user to user sharing.

Is there no possibility to fix this in the app?

[2015-12-16 19:15] jancborchardt commented on #1346
@tobiasKaminsky @AndyScherzinger I’m actually not sure where we stood with the 3-dots-menu for each item. I still think it makes sense in the list view. In grid view we indeed need another way (maybe the controls only being displayed on scroll in the bottom right and fading out again). But needing long press to access the actions for a single item is very non-material.

[2015-12-16 19:16] jancborchardt commented on #1346
And the multiselect PR #1176 is to fix the current behavior, eh?

[2015-12-16 19:18] jancborchardt commented on #765
@tobiasKaminsky just show the latest 20 entries or so, and lazy load more on scrolling down. Just like the ownCloud Activity app in the web interface (or like Twitter, Facebook, etc ;).

[2015-12-16 22:28] hypnotoad commented on #1338
Exactly the same problem here.

Battery empty, 500MB in 2 days, server has higher load than usual (approx 1 query per second for 3 days)

[2015-12-17 10:51] smu commented on #1338
The current version from fdroid suffers from the same bug.

[2015-12-17 13:44] rawbertp opened #1358 "Multiple files upload from Google Photos application not working"
Steps to reproduce:
1. Go to any folder in the ownCloud app
2. Click on Upload
3. Select "Content from other apps"
4. Select Google "Photos" app
5. Select multiple (e.g. 3) photos/files
6. Click "Done"

Actual outcome:
- Only one file is uploaded (instead of all 3)

Expected:
- All selected files get uploaded

[2015-12-17 15:37] tobiasKaminsky commented on #1346
Multiselect can solve everything ;)
I do not know in which situation it is useful to have the "three dots" menu in each line?
If I want to edit one item, I select it with a long click and use the "three dots" menu in the top.
Same is true for selecting multiple items.
(and it is the way the standard gallery app handles it)

[2015-12-17 15:38] tobiasKaminsky commented on #765
I have never used lazy loading before, but I guess that it is possible with android.
Maybe @LukeOwncloud wants to resume his developer skills and help here?

[2015-12-17 15:39] tobiasKaminsky commented on #1338
@davivel Do you have an idea which change can have such an deep impact?

[2015-12-17 16:57] AndyScherzinger commented on #1346
I think @jancborchardt's point here is efficiency :)
* multiselect implementation: long click an item, click action bar three dot, choose action
* three dot per item: click three dot, choose action

--> 2 clicks Vs 3 clicks (while the first is also a long click)

To do it material style we maybe should mark items click on the left aligned item icon like gmail and other do it. Ling click at least t

[2015-12-17 16:59] AndyScherzinger commented on #1339
I get the same error as descibed by @przybylski that's why I basically only run the beta on my phone since then... :smile:

[2015-12-17 17:10] AndyScherzinger commented on #1355
@rijudewan can you provide some more details on how you provoked this build error? Like are you using ant or gradle? Did you get this error in Android Studio and if so did you execute the setup command for gradle befor doing so? see https://github.com/owncloud/android/blob/master/SETUP.md

[2015-12-17 17:14] AndyScherzinger commented on #1333
pinging @davivel @masensio since you are the share api experts :smiley:

[2015-12-18 07:25] tobiasKaminsky commented on #1346
At least for the grid view we cannot copy the behaviour of gmail but have a look at gallery.
And I do not think it is a good idea to have two different behaviours for list or grid view.

Long click: legacy --> again: galley and other apps are doing it.

Your idea about "clicking on the left item" is also only possible in list view and not in grid view...

[2015-12-18 07:25] tobiasKaminsky commented on #1339
I will have a look on this weekend or maybe even at monday...

[2015-12-18 08:43] AndyScherzinger commented on #1346
True, I forgot about the Grid View.... So yeah, the long press multi select also seems to me the best as in most consistent solution. :+1: Sorry for the confusion!

[2015-12-18 09:17] tobiasKaminsky commented on #1346
No problem. I think it is important to discuss the pro and contras of a solution and therefore everything is fine :+1:

[2015-12-18 13:30] davivel commented on #1336
Hi, @sermilrod. We need some information to help you.

Did you update the ownCloud app recently? Before or after updating your server? Was the previous version working fine?

Did you update the app from Play Store, F-Droid or any other store? Did you upgrade, or made a clean installation?

Do you use a self-signed certificate in your server?

Did you change your server certificate recently?

Could

[2015-12-18 13:47] davivel commented on #1338
Probably induced some way with the synchronization of full folders.

The point I don't fully understand is that the auto-sync is repeated once and again. That needs to be due to some wrong interaction with the system.

Could you all tell us your Android version, please?

@rperezb , @MTRichards , @cmonteroluque , we need to review tis.

[2015-12-18 13:50] davivel commented on #1357
@jsalatiel , would you consider to upgrade your server?

I have to search for the issue, but I'm sure I've read that error message before and was server-side related. Let me check...

[2015-12-18 13:55] davivel commented on #1357
@jsalatiel , do you know what version of the app was installed before you updated?

[2015-12-18 13:57] jsalatiel commented on #1357
Hi @davivel ,  i have scheduled the update to january 18.
If it is a server related problem it will be fixed there :)
i have no idea what version it was. Sorry :/

[2015-12-18 13:58] jsalatiel commented on #1357
btw, i see absolutely no errors when accessing through webdav from another clients;

[2015-12-18 14:00] davivel commented on #1357
No, I was wrong. I've read that log before, but in other issues of the Android app. Too many, indeed.

[2015-12-18 14:01] davivel commented on #1357
Do you use Nginx ?

[2015-12-18 14:02] davivel commented on #1074
@enoch85 , do you use Nginx?

[2015-12-18 14:03] jsalatiel commented on #1357
No, apache2 2.4.10-10+deb8u3

ii owncloud 8.1.4-12.1
ii php5 5.6.14+dfsg-0+deb8u1

[2015-12-18 14:09] MTRichards commented on #1338
Please do dig into this, or put it top for next sprint... we can discuss.

[2015-12-18 14:10] davivel commented on #1338
OK

[2015-12-18 14:14] schaal commented on #1338
I have the same issue. I'm on stock android 5.1.1 on a Moto X Play.

[2015-12-18 15:51] johnassel commented on #1338
Android 5.1.1 and 6.0.1 on Cyanogenmod 12/13.

[2015-12-18 15:52] davivel commented on #1338
Thanks, seems there is no need to keep reporting Android versions.

@przybylski came in with a really good catch. This should be fixed really soon.

[2015-12-18 16:06] davivel commented on #1341
Tracking the stack trace, the problem seems that our line
https://github.com/owncloud/android/blob/master/src/com/owncloud/android/files/InstantUploadBroadcastReceiver.java#L98
is passing a NULL value in the first parameter. That results in a crash in
https://github.com/owncloud/android/blob/master/src/com/owncloud/android/files/InstantUploadBroadcastReceiver.java#L98 .

Protecting the code of the

[2015-12-18 16:39] davivel commented on #1341
Added a new log, maybe helps to know why the URI is NULL.

[2015-12-18 16:53] domneu commented on #1341
Thank you.  I will try it a bit later and reply with the results.
On Dec 18, 2015 11:39 AM, "David A. Velasco" <notifications@github.com>
wrote:

[2015-12-18 19:39] Messinger commented on #1333
I have this crashes on any android device since 1.9, and this makes the application real unusable.

[2015-12-18 21:02] AndyScherzinger commented on #1341
I can also test it on the beta branch during the next days since this also happens on my Nexus5X running Stock 6.0.1

[2015-12-19 07:00] tobiasKaminsky commented on #1333
@davivel It seems that somehow the ShareType is not correctly get from the server at
https://github.com/owncloud/android/blob/master/src/com/owncloud/android/operations/GetSharesForFileOperation.java#L74

[2015-12-19 07:02] tobiasKaminsky commented on #1346
So...
@AndyScherzinger has solved this issue by adding a padding on the bottom?
Can I close this? @enoch85

[2015-12-19 07:09] tobiasKaminsky opened #1362 "Result of 'String.replace()' is ignored"
In https://github.com/owncloud/android/blob/master/src/com/owncloud/android/ui/activity/FileDisplayActivity.java#L739

androidStudio says: Result of 'String.replace()' is ignored

[2015-12-19 10:49] przybylski commented on #1362
and it's right. If it is suppose to update displayed name then result should be assigned to displayName.
Beside those two calls are doing the same thing

[2015-12-19 12:30] przybylski commented on #296
Since there is no response from previous developer for over a month, I wrote it last night.

[2015-12-19 14:43] enoch85 commented on #1346
@tobiasKaminsky Yeah, as long as you solve it I'm fine with closing. :) :+1:

[2015-12-19 18:09] domneu commented on #1341
Ok, I have a dumb question... How do I download the latest beta .apk?  It seems that I have to download the source and then compile it.  Is this correct?  Or is it hosted somewhere already compiled?  The one on f-droid is a few days old.  Sorry about this.

[2015-12-19 18:27] przybylski commented on #1341
@domneu .apk is made by @tobiasKaminsky from time to time and uploaded to f-droid, if you want to have latest stuff you would need to compile code yourself

[2015-12-19 19:11] jimgoofy commented on #1337
Another great feature would be too stream a video file directly from the owncloud server to the chromecast and control the playback from the owncloud android client.

[2015-12-19 21:20] tobiasKaminsky commented on #1362
But now both calls are useless.
So they can either be removed or should be assigned back to displayName...?

[2015-12-19 21:22] tobiasKaminsky commented on #1341
I will do a new beta on sunday.
They are also listed in folder "apk" on branch "beta".

[2015-12-19 21:23] przybylski commented on #1362
author of those lines should say why he did it like this

[2015-12-19 22:13] przybylski commented on #1362
@davivel ??

[2015-12-19 23:28] wlp7s0 commented on #163
This thread was created in 2013 and this feature wasn't implemented yet.
Is there any chance it can be added? I can't use android mobile app because of this error.
Thanks for answer.

[2015-12-20 02:30] rijudewan commented on #1355
yes i followed the instruction .... when i build in debug  mode it does not give me error  but when i build in release mode  then there is error ....
Error:(58, 12) Error: Avoid non-default constructors in fragments: use a default constructor plus Fragment#setArguments(Bundle) instead [ValidFragment]
    public FileFragment(OCFile file) {
[code]
D:\AndroidProject\ownCloud-9.0\src\com\owncloud\andr

[2015-12-20 03:08] rijudewan commented on #1354
i have created a sales and merchandiser app for Microsoft Dynamic AX 2012 it has a option to take photo of the product  after image is captured  i convert it to bitmap and paint  Date&Time ,GPS coordinate and customer ID and Name and save it back to Gallery.

sample code  look like this ..
private void captureImage() {
        Intent intent = new Intent(MediaStore.ACTION_IMAGE_CAPTURE);
        fi

[2015-12-20 07:09] tobiasKaminsky commented on #1362
https://github.com/owncloud/android/blob/382191d1f94c02475bdd607852e552b5621a7d9c/src/com/owncloud/android/ui/activity/FileDisplayActivity.java#L730
By https://github.com/Pro9

[2015-12-20 07:09] tobiasKaminsky commented on #1362
cc: @Pro9

[2015-12-20 07:15] tobiasKaminsky commented on #163
@wip7s0 there is just not enough man power to do all wishes.
The best would be a contribution. That would speed it up...

@ET-Bent "with official certificates or self signed". This issue is about client certificates. I think you are talking about server certificates? If so, please open a new issue and we can try to help you.

[2015-12-20 07:23] tobiasKaminsky commented on #1354
sendBroadcast(new Intent(Camera.ACTION_NEW_PICTURE, Uri.parse(imageID)));
you already have included it.
https://developer.android.com/reference/android/hardware/Camera.html#ACTION_NEW_PICTURE

[2015-12-20 07:53] tobiasKaminsky commented on #1341
Beta is now available here:
https://github.com/owncloud/android/tree/beta/apks

The app also has a manual update check in settings

[2015-12-20 07:55] tobiasKaminsky commented on #1339
I have solved it hopefully, please test it.

[2015-12-20 07:57] tobiasKaminsky commented on #1327
I hopefully have solved the problem in the latest beta.
Please try it again.

[2015-12-20 07:58] tobiasKaminsky commented on #1335
As far as I know there is no auto-retry.
@davivel was there a change I have missed?

[2015-12-20 08:09] tobiasKaminsky commented on #1334
Done in #1369

[2015-12-20 08:13] tobiasKaminsky commented on #1308
But this message can be wrong, or?
As @masensio said:

There must be a check if the version or the permission to share is the problem...

[2015-12-20 09:04] rijudewan commented on #1354
hi  tobiasKaminsky,
sendBroadcast(new Intent(Camera.ACTION_NEW_PICTURE, Uri.parse(imageID)));
This code is not working  for me ....  any thing wrong my my code

[2015-12-20 09:23] przybylski commented on #1354
assuming fileUri is a correct Uri
[code]

[2015-12-20 10:01] rijudewan commented on #1354
hi przybylski ,
 thanks for your answer . I tried your code but its same.. it does not do any thing then code is actually triggered but nothing happens

[2015-12-20 10:25] przybylski commented on #1354
Make sure that your Uri is correct one and you have enabled instant upload in ownCloud app. The correct uri should be something like:
`content://media/external/images/media/<ID>`

[2015-12-20 11:10] rijudewan commented on #1354
thank you ... i need to look on it cause  now my file url is  .....
file:///storage/emulated/0/DCIM/Camera/%20_1220_1907.jpg

[2015-12-20 12:31] enoch85 opened #1371 "Automatically create new issue on Github or send crash report via email"
Instead of that the user has to copy the crash report / Log, it would be nice it could be done automatically. Maybe by creating a new issue on GitHub with the label "crash report" and some other useful info, or by sending it by email.

[2015-12-20 13:20] przybylski commented on #1371
At some point we might be overflown with repeating crash issues.
In regular build crashes are visible in developer console.
There exists solution which can be built in into app but I am not sure how they would fit just into beta.
Also I hope that people who are using beta are clever enough to get log and provide it to us.

[2015-12-20 13:46] rishabh7m commented on #1358
@AndyScherzinger Hi,  I am working on this if anyone has not started yet.

[2015-12-20 13:56] przybylski commented on #1355
There are 2 sides on those issues, first, ownCloud project was incorrectly setup.
Second, you had global variable (probably in your home dir) which was aborting of failure.
My commit will fix this

[2015-12-20 13:57] przybylski commented on #1354
Closing

[2015-12-20 13:57] #1354 closed

[2015-12-20 14:02] przybylski commented on #1362
Blame is showing me this commit: https://github.com/owncloud/android/commit/703366c45970d051609fe5758948a5103f6e931c but maybe this was just merged by @davivel

[2015-12-20 14:32] AndyScherzinger commented on #1358
Awesome! Go ahead, as far as I know no one else has started on this, looking forward to your fix :)

[2015-12-20 14:41] domneu commented on #1341
For some reason, the Instant Upload of photos would not work.  Owncloud
would not error or attempt to upload any photos.  I tried clearing cache,
Wi-Fi only, clearing app data, etc., but nothing worked.  Finally, I tried
taking a video and got this error log:

************ CAUSE OF ERROR ************

java.lang.RuntimeException: Unable to start receiver
com.owncloud.android.files.InstantUploadBroa

[2015-12-20 14:48] przybylski commented on #1341
@domneu it looks like it's uploading video, not picture, the same fix, as for pictures, needs to be applied as provided by @davivel few days ago

[2015-12-20 17:33] tobiasKaminsky commented on #1362
Uh? How did you get this commit?
Android studio is showing me another commit as the "cause"?
https://github.com/owncloud/android/commit/382191d1f94c02475bdd607852e552b5621a7d9c#diff-845104e37d2ed427df8ae96910082d31R730

[2015-12-20 17:38] przybylski commented on #1362
on github, there is a blame button at the top of the file

[2015-12-20 19:25] guik67 commented on #1336
Hi,

Same issue here and solved it with adding the 'trusted_domains' parameter in config.php

Try to acces your owncloud via your mobile web browser, it should tell you to add the trusted domains.

Hope it helped

[2015-12-21 09:53] helmo commented on #1339
![screenshot_20151221-103302](https://cloud.githubusercontent.com/assets/104120/11927652/5e54b968-a7ce-11e5-813d-abb92ee3a98a.png)

Sorry, still fails to install in parallel with the normal version via f-droid.

After uninstalling the 1.9 version I got one step further.

[code]

After the app closed I opened it again and I could enter my login.... YAY it works.

[2015-12-21 12:43] supportreq opened #1374 "Enhancement to disable sharing with user or groups using settings.xml"
Hey, the new sharing with user & group feature is really cool, but is it possible to somehow disable the same using a setting? Currently disabling sharing even disables public shares.. please advice..

[2015-12-21 14:19] davivel commented on #1341
True, I missed the flow of video uploads. Shame on me. Will fix it.

Anyway, this is what I expected for pictures:

Mmm, I added an extra line to log, but I thought that beta APKs had the logs entry enabled in the navigation drawer. Now I see that's not the case.

I'll make a new PR.

@domneu , meanwhile, could you check if the Google camera app may be installed in those devices? Could you check i

[2015-12-21 16:29] AndyScherzinger commented on #1346
@tobiasKaminsky that's how I fixed it, yes! :)

[2015-12-21 17:35] tobiasKaminsky commented on #1341
I can enable it.

[2015-12-21 17:36] #1346 closed

[2015-12-21 17:36] tobiasKaminsky commented on #1346
Yeah, all credits belong to @AndyScherzinger :+1:

[2015-12-21 18:32] tobiasKaminsky commented on #1339
I have installed fdroid on a fresh android 6 (nexus 4) and first installed the official owncloud and after that the beta 20151220 and had no problems...

[2015-12-21 18:45] tobiasKaminsky commented on #1341
For me there is "Logs" in the drawer?

[2015-12-21 19:58] przybylski commented on #1104
@AndyScherzinger @jancborchardt any feedback?

[2015-12-22 08:26] davivel commented on #1341
Not in the version in F-Droid, that's available for beta users.

That entry is conditioned to be available only in debug APKs; the F-Droid version is in release mode, I guess.

[2015-12-22 08:32] davivel commented on #1336
Thanks, @guik67 , but if this was the same problem...

... probably some of this would be failing too.

@sermilrod , are you using the same URL to access from web browser, desktop client and Android client, right?

[2015-12-22 09:57] jesmrec opened #1376 "Federated sharing support in mobile devices"
Sharing in mobile devices does not support federated sharing with other servers' users.

[2015-12-22 10:47] AndyScherzinger commented on #1104
Hi @przybylski I haven't found the time yet to have a closer look, but it looks good from the screenshots though. Only thing I would change are minor graphical things, like having the circles without borders in a semi-transparent and dark blue and also have the right hand side arrow icon in the dark blue, but I can work on that later maybe even in a separate PR. So, looks good to me :)

[2015-12-22 10:51] #1338 closed

[2015-12-22 10:56] davivel commented on #1338
The fix for this problem is already merged. Will be included in next version 1.9.1, that should be available in the beginning of 2016.

[2015-12-22 11:36] cmonteroluque commented on #1376
@MTRichards

[2015-12-22 12:20] d-t-o opened #1379 "Client keeps scanning directory even though it should not be synched"
### Expected behaviour
it should be possible to not autosynch/refresh specific folders.

### Actual behaviour
the client is relentless and goes on for hours, ~~synching~~ scanning a folder that was removed locally, until the phone runs out of battery.

i have a directory in my owncloud storage that i do not want to synch on my phone as it's rather big (~2GB). what i've done so far is select the di

[2015-12-22 13:30] MTRichards commented on #1376
Likely a server side issue, captured here:
https://github.com/owncloud/core/issues/21328

@rperezb will likely require some mobile work to understand an update to the sharing API.

[2015-12-22 13:31] elpraga commented on #1327
Fixed  in  20151220 , I am able to install both versions again.  Tank you for fixing this.

And Mary Christmas!

[2015-12-22 13:31] #1327 closed

[2015-12-22 13:46] MTRichards commented on #1376
I stand corrected, looks like we need to handle this entirely on mobile. Closed the server side issue.

[2015-12-22 16:35] CriticalNoob opened #1380 "Automatic upload works only sometime"
What I'm doing :
-Check automatic picture upload
-Check only wifi

What is happening :
-Nothing most of the time
-If I'm on wifi + owncloud in the background + I take a picture : It uploads it

What I'm expecting to happen :
-Should upload all the pictures that has been taken when I didn't had wifi
-The app shouldn't have to be launched to upload pictures

 Some suggestion :
-Maybe a way to disabl

[2015-12-22 16:39] davivel commented on #1379
Hi, @d-t-o.

Sorry, that's not what you're searching for. That action deletes the local copy of any file in that folder that is downloaded in the device, but has no effect in the way the folder is synchronized or refreshed in the future.

What you want is selective sync (or not sync), a feature not available in the app, that is already requested in #960 (and maybe in other issues).

About the spec

[2015-12-22 16:39] #1379 closed

[2015-12-22 18:10] tobiasKaminsky commented on #1104
Beside the (technical/visual) part we need someone who can do the images for the new PRs...?

[2015-12-22 18:17] tobiasKaminsky commented on #1380
This should work the way you want it already...
But I have currently no clue how to check why it does not work.

your suggestions:
1: no notification is not customisable but there is an issue that should reduce the amount of notifications
2: what/where are those loading dots?
3: this is already possible. please see settings.
(and please open in the future different issues for each question)

[2015-12-22 19:31] tobiasKaminsky commented on #1341
Right. I had only checked it in my local debug version.
Now I have changed it and it should be available in f-droid tomorrow.

[2015-12-22 19:48] domneu commented on #1341
great. I will download it again and report the results.
On Dec 22, 2015 2:31 PM, "Tobias Kaminsky" <notifications@github.com> wrote:

[2015-12-22 20:02] tobiasKaminsky commented on #1339
@helmo please check again

[2015-12-22 20:03] #1300 closed

[2015-12-22 20:03] #1301 closed

[2015-12-22 20:04] tobiasKaminsky commented on #1309
@jancborchardt @przybylski can you both try to solve this issue?

[2015-12-22 20:05] tobiasKaminsky commented on #1317
@davivel pinging
(removing beta label as @pecuna says the problem also occurs on stable)

[2015-12-22 20:06] tobiasKaminsky commented on #1330
@przybylski what is the status of this issue?

[2015-12-22 20:56] przybylski commented on #1330
This should work now since some fundamental changes were made

[2015-12-22 20:58] przybylski commented on #1309
I'll ask a friend with phone with SD card for some help. Currently I'm more guessing than developing ;)

[2015-12-22 21:09] tobiasKaminsky commented on #1330
Then I close it.
We can reopen it if necessary.

[2015-12-22 21:09] #1330 closed

[2015-12-22 21:10] tobiasKaminsky commented on #1309
:+1:
I can test also, but I guess that it is more time consumption than helpful if you do a change and I test and report back to you...

[2015-12-22 21:10] tobiasKaminsky commented on #1309
Please have in mind that (at least in android 6) there are two different sdcard "types": formatted as internal storage / as external sd card

[2015-12-22 21:30] przybylski commented on #1104
Please push images to whatsNew branch. It's currently in PR

[2015-12-22 23:02] przybylski commented on #1309
Yeah, internal/external memory is generally a weird thing in android.
Version 6.0 also changes the way of handling sd cards so for now this feature is < 6.0

[2015-12-22 23:07] AndyScherzinger commented on #1104
@tobiasKaminsky for new images we probably need some help from @owncloud/designers :)

[2015-12-22 23:12] AndyScherzinger commented on #1341
I also have this problem on my Nexus5X running Android 6.0.1, just the beta (installed via build in Android Studio), no "standard" oC version in parallel. The permission error seems weird since it seems I am the only one with this problem:

************ CAUSE OF ERROR ************

java.lang.RuntimeException: Unable to start receiver com.owncloud.android.files.InstantUploadBroadcastReceiver: java.

[2015-12-22 23:18] helmo commented on #1339
I updated again today.
Also re-installed the play-store version and then the beta ... worked fine.

[2015-12-22 23:18] #1339 closed

[2015-12-23 09:33] marneu commented on #1330
Final comment: Works as expected. The original app needs to be uninstalled before installing the beta.
External SDcard is detected and used.

[2015-12-23 09:36] davivel commented on #1341
@AndyScherzinger , different issue, though maybe it's already registered something similar. Seems that we'll have to give some love to new permissions system in the end...

[2015-12-23 10:04] tobiasKaminsky commented on #1341
This could be #1343

[2015-12-23 10:06] tobiasKaminsky commented on #1309
:+1:
If you write code to support 6.0 please let me know as I can test it.

[2015-12-23 12:46] AndyScherzinger commented on #1341
Probably the same issue as referenced by @tobiasKaminsky which would mean it is a Android 6 only problem (?) or is anyone experiencing the same issue on a pre Android 6?

[2015-12-23 17:16] jesmrec opened #1381 "Incomplete size in list and details view (PR 1209)"
PR: https://github.com/owncloud/android/pull/1209

In list view, uploads view and details view, the size of the file is shown without decimals. In server side is shown with at least one decimal when the size is greater than 1MB. For example, these two files:

Server:
343 KB (any decimal)
1,4 MB (one decimal when size > 1MB)

Mobile device:
343 KB (any decimal, right)
1 MB (any decimal, should be s

[2015-12-23 17:39] davivel commented on #1381
@AndyScherzinger , that's a gift for you ;)

[2015-12-23 20:24] przybylski commented on #1309
I did another change, it works fine on old huawei, and should work on 6.0 as well.
@tobiasKaminsky please update beta when you'll fine a moment

[2015-12-24 09:42] AndyScherzinger commented on #1381
Thanks :)  Looping in @jancborchardt since this is contrary to what has been specified for mobile!

[2015-12-24 09:43] AndyScherzinger commented on #1381
I can fix or let's say change this but I would like to have Jan's Feedback first :)

[2015-12-24 09:48] stefan-niedermann opened #1382 "NullpointerException in Beta"
Installed Beta
Opend Sidebar via Swipe gesture
Closed Sidebar via Swipe gesture
Switched to Grid View
Got this Stacktrace

[code]

[2015-12-24 12:32] stonerl opened #1383 "Quick Account-Switching in navigation drawer"
Currently when one has  multiple accounts in the app the only way to switch between these accounts is to open the settings and select the appropriate account.

Would it be possible to have a quicker way? e.g. from the sidebar?

[2015-12-24 12:35] tobiasKaminsky commented on #1349
If you keep the files in original please then owncloud cannot play the videos/ show the images.
The streaming question should always appear if the file is not downloaded.
Can you provide me a step by step how to reproduce the problem?

[2015-12-24 12:53] tobiasKaminsky commented on #1383
Yes, this is something that was discussed at #757 if I remember correctly.
But we should keep this issue open and change the topic to a more detailed one.
I will dig into my old code to see what I already have done and will create a PR soon for it.
After that it will be first in beta and after a while in the official version.

[2015-12-24 13:06] stonerl opened #1384 "Only leave application with open navigation drawer"
Maybe this is something I got used to by other apps and I really don't know whether this is an Android-UI-Guidline or not. Currently the ownCloud-Client closes when the back button is pressed in the root folder view. Other apps, e.g. the ownCloud Newsreader, first open the navigation drawer and when pressing back a second time with the open drawer it leaves the app.

[2015-12-24 17:00] enoch85 commented on #1349
1. Take a video with the Beta app with the `kept in original folder` setting.
2. Open the video inside the Beta app.
3. Press play
4. Video doesn't play
5. Put the phone in landscape mode.
6. App crashes

[2015-12-24 18:20] floe opened #1385 "Owncloud client warns with valid letsencrypt HTTPS certificate"
I've just deployed a letsencrypt HTTPS certificate on my owncloud server. Firefox and Chrome are fine with the cert and can successfully validate it, however, the Owncloud Android app still issues a warning that the cert is signed by an unknown authority. A quick Google search tells me that this may be related to which Android URL API is in use, however, I can't give more details ATM. Issue occurs

[2015-12-24 19:21] floe commented on #1385
Apologies for the noise, it seems that I had setup lighttpd incorrectly. Closing.

[2015-12-24 19:21] #1385 closed

[2015-12-24 23:47] AndyScherzinger commented on #1384
The UI pattern is actually the way this app is implementing it, meaning back closes the open drawer but a closed drawer doesn't get opened by the back button. Other app with this behavior for example are the Google Play store or  the Gmail app.

[2015-12-25 05:31] cwmke opened #1386 "[Beta] User list doesn't appear for sharing"
Using fdroid's owncloud beta151222 on a Nexus 6p with PureNexus rom, I perform the following steps,

1. Long press on a folder I would like to share with another user.
2. Press the share button in the top bar.
3. Click 'Add User Or Group'.
4. Type in user's name.
5. No list pops up and pressing the enter button does nothing.

I noticed it still works well in the stable version.  This essentially d

[2015-12-25 07:32] tobiasKaminsky commented on #1386
This is strange as this feature is already in the official version and therefore it is not beta specific anymore. I include the master branch every time I update the beta and for me it is working.

Can you try to provide a log? (I think there is a new navigation entry "log" in the navigation drawer)

[2015-12-25 07:33] tobiasKaminsky commented on #1386
@davivel Maybe you have an idea why this happens?

[2015-12-25 09:29] stonerl commented on #1384
You're right. I'm closing this issue, thank you for your feedback.

[2015-12-25 09:29] #1384 closed

[2015-12-25 10:06] AndyScherzinger commented on #1384
You are welcome! Glad I could clarify on this matter :)

[2015-12-25 16:41] cwmke commented on #1386
Here's the logcat errors.  The in-app log was blank.
[code]
[code]

[2015-12-25 20:03] iskaron commented on #1317
same error on my 1.9.0 - since switching my certificates from cacert to letsencrypt.

[2015-12-26 07:55] tobiasKaminsky commented on #1386
Strange, it tries to use com.owncloud.android.providers.UsersAndGroupsSearchProvider where it should use org.owncloud.beta.android.providers.UsersAndGroupsSearchProvider.

Do you have installed the official version in parallel?

[2015-12-26 10:42] sermilrod commented on #1336
Hi @davivel. I didn't update the app recently. As far as  I know I've got the latest version available for my android device.

Regarding the certificate, yes, I am using a self signed certificate. Could that be the main focus of the problem? However, that is something that haven't been happening before. I am using the same URL to access the application from browser, desktop and android app.

The r

[2015-12-26 10:48] tobiasKaminsky commented on #1348
Please test with latest beta 20151226

[2015-12-26 12:00] tobiasKaminsky commented on #1349
Landscape crash should be fixed as it is the same as in #1348 right?
The other problem, I will have a look soon.

[2015-12-26 15:59] cwmke commented on #1386
I do.  I installed it again after I discovered the problem to test and see if the problem was likely with the Nexus or with the beta version.

[2015-12-26 16:08] fmoessbauer opened #1387 "Connection Problem on WLAN Networks with fast bss transition"
### Expected behaviour

The File should get uploaded normally (like if using only 1 AP).
### Actual behaviour

The Uploader gets stuck / does not finish. With very many APs not even a folder can be accessed in the app.
### Steps to reproduce
1. Connect to a WIFI with fast bss transition enabled (for example "eduroam" (Wifi of most universities), or other wifi networks with many access points)
2. T

[2015-12-26 16:52] enoch85 commented on #1348
Landscape bug fixed!

[2015-12-26 16:52] #1348 closed

[2015-12-26 16:53] enoch85 commented on #1349
Yes, thanks!

[2015-12-26 20:58] LordCrush commented on #1380
Same here only uploading, if photo is taken when WLAN is connected
Best Rgards
-LD

[2015-12-26 21:38] iskaron commented on #1317
A little more detail: I debugged the app, and found, that in my case, the NPE on share.getShareType().getValue() occurs for a shared entry. It is shared with another local user, and with another oc instance.

After removing the federated sharing, the NPE does not occur anymore. When adding back the federated share, the NPE appears again. The second oc instance is using self signed certificates.

[2015-12-27 11:49] bxabi commented on #1235
Yes, this would allow me to use a tablet as photo frame for owncloud, no need to copy all pictures to the tablet.

[2015-12-27 18:06] ekeitho commented on #1308
When I turn off the share api or exclude a group from sharing, there isn't an option to share from the settings nor from a long click. So is checking the share permission necessary?

[2015-12-27 20:41] localguru opened #1388 "Instant photo upload: Cannot modify header information ... Sapi.php#58"
Hi,

instant photo uploading with android client 1.9.0 produces this error:

Error   PHP     Cannot modify header information - headers already sent by (output started at /var/www/owncloud/3rdparty/sabre/http/lib/Sapi.php:70) at /var/www/owncloud/3rdparty/sabre/http/lib/Sapi.php#58

Photos were uploads successfully.

sudo -u www-data php ./occ app:list

Enabled:
    activity: 2.1.3
    calendar: 0

[2015-12-28 13:55] mbardelmeijer commented on #1388
:+1:

[2015-12-28 14:23] enoch85 commented on #1074
@davivel I use Nginx as a reverse Proxy with Apache backend, server version 8.2.2.

[2015-12-28 14:24] enoch85 commented on #1388
Duplicate: https://github.com/owncloud/android/issues/1074 @davivel please close.

[2015-12-28 15:34] jancborchardt commented on #1381
Sorry for any confusion! :) Should be like on the server.

[2015-12-28 15:47] jancborchardt commented on #1346
The point about the 3-dots-icon is less about number of clicks than about discoverability. When the icon is not there, it's very difficult to figure out how to e.g. share a file. Long-click is usually only used for multiselect, not to initiate a basic action.

I'd say it while the long-press approach should work, and is the way to do it for the grid view (at least for now), we can improve the UX i

[2015-12-28 16:37] AndyScherzinger commented on #1381
Do we have a specification for that or the server side code snippet to port, just to make sure that it will behave the exact same way.

[2015-12-28 18:14] AndyScherzinger commented on #1381
Code reference for the change that has been made which caused this: https://github.com/owncloud/android/commit/607fb6f5879245e2dd670e82be97e269a7d14a0b#diff-36e882c1d5231f769f0209395ecf63c4R58
the two lines basically. So the question is does it stand correct to have two decimals for peta byte and up? If so I can simply change the MB value in the digits array to 1 instead of zero and we are all set

[2015-12-28 18:24] AndyScherzinger commented on #1381
The fix has been pushed to the ```material_buttons```branch :+1:

[2015-12-28 19:19] jancborchardt commented on #1381
@PVince81 do we have any spec here, or where is the relevant code of the server?

[2015-12-28 23:50] AndyScherzinger commented on #1341
I deployed my fix to the beta branch and the originating marshmallow branch. This fixes the READ_EXTERNAL_STORAGE exception for the beta version :grinning:
This also means I implemented the new permissions API introduced with Android M in a backwards compatible (yet untested) way for this permission (write permission). Relevant commit can be checked out here: https://github.com/owncloud/android/co

[2015-12-29 00:05] AndyScherzinger commented on #1343
I deployed a permissions requsting implementation for WRITE_EXTERNAL_STORAGE in the Marshmallow branch and the beta version :grinning:
This also means I implemented the new permissions API introduced with Android M in a backwards compatible (yet untested) way. Relevant commit can be checked out here: https://github.com/owncloud/android/commit/373235225780503555388bc4a099f3c517a8129a
Requesting the

[2015-12-29 00:17] AndyScherzinger commented on #1343
Any changes to the permission API implementation should target #1220 and the ```target_marshmallow``` branch

[2015-12-29 00:23] AndyScherzinger commented on #1343
@przybylski and @tobiasKaminsky can the two of you also test drive the latest beta branch since this is quite the change (technically not LoC wise) and shouldn't be released to f-droid before anyone besides me gave it a spin :smiley:

[2015-12-29 00:52] przybylski commented on #1343
I don't have device with 6.0 so I guess I won't be a big help :( but ill have a look in the simulator

[2015-12-29 00:54] AndyScherzinger commented on #1343
@przybylski I think seeing if this (still) works on a pre-Android-M device would be quite important since I have no idea how the AppCompat implementation behaves on older Android versions handling this...

[2015-12-29 01:17] AndyScherzinger opened #1389 "House keeping: add correct checkboxes after merges"
Reminder issue to commit and merge the following change https://github.com/owncloud/android/commit/2641996d3efe4517f83bc206e00c811e71f5ac3e (right now only on beta)

This can only be done after the material_buttons PR and the multi-select PR have been merged or to the respective PR the will be merged seconds. Thus looping in @tobiasKaminsky

- [x]  #1209
- [x]  #1176

[2015-12-29 01:26] AndyScherzinger commented on #1350
Error still occurs to me with the latest beta branch (long press image in grid view):

java.lang.NullPointerException: Attempt to invoke interface method 'boolean android.view.ActionMode$Callback.onCreateActionMode(android.view.ActionMode, android.view.Menu)' on a null object reference
at com.android.internal.policy.PhoneWindow$DecorView$ActionModeCallback2Wrapper.onCreateActionMode(PhoneWindow.ja

[2015-12-29 01:34] AndyScherzinger commented on #1350
This only happens the first time which is where I think the problem is...

It doesn't happen when I open a folder which is then displayed in grid view, but it happens when I:
* open a folder in list view
* switch to grid view via the top menu
* long press an item

Beware this only happens the very first time in this scenario we a new app start, after that it works until you kill the app process an

[2015-12-29 07:36] jancborchardt commented on #1343
Proposal sounds good, this should be fixed for sure. :) A few remarks:

- What does the »OK« button do? Open the popup? Is this the normal way also Dropbox does this? Shouldn’t we simply show the popup directly when a relevant action like upload/download is performed?
- If the toast stays: Change wording to »Additional permissions required to upload & download files«, and color of »OK« to white.
-

[2015-12-29 08:34] elpraga opened #1390 "Idea for enhancement: Add the possibility to rotate images"
The beta app is already a very powerful and handy image viewer, and as it provides the option to view previews without having to download the original and to control the cache size, it became my viewer of choice for many occasions.

Would it be too hard to add the possibility to rotate the photo? I know it could be tricky as sometimes we only have the preview, and it would only make sense, if the

[2015-12-29 08:43] elpraga commented on #1272
This bug is still present in Beta app, can it be fixed in there as well?

[2015-12-29 08:44] elpraga commented on #1272
@davivel I am sorry to notify You directly, but as the issue is marked as closed, I am not sure it my previous comment gets to You or not.

[2015-12-29 08:53] AndyScherzinger commented on #1272
@elpraga @davivel I just fixed this on the beta branch, so it will be in the next beta release - which is always done by @tobiasKaminsky (see commit https://github.com/owncloud/android/commit/77e72f24ecb2a15d4a4d381563b596a61c84e4c5)

[2015-12-29 09:25] AndyScherzinger commented on #1343
@jancborchardt that is basically how it is :) I'm sorry if I wasn't specific/detailed enough.
Scenarios how the permission implementation works (which is also inline with Google's guidelines):

Scenarios:
* User opens the app and the apps checks for the permission the first time: Screenshot 1 (permission pop up is shown)
permission pop up is shown)
* User opens the app (restart) and has denied the

[2015-12-29 09:58] AndyScherzinger commented on #1343
@tobiasKaminsky @przybylski can you have a look at the implementation? I moved as much as I though makes sense to a PermissionUtil class and also created a colorSnackbar method in DisplayUtil to have this centralized but left anything else to the permission asking class.

@davivel Does it make sense to explicitly make the snackbar colors available to the setup.xml? ATM it is white so it probably d

[2015-12-29 09:58] elpraga commented on #1272
Thank You @AndyScherzinger ! I will check it out in the beta release.

[2015-12-29 10:09] jesmrec commented on #1381
Fixed!

[2015-12-29 10:13] AndyScherzinger commented on #1343
@davivel can you give me a hint where the app accesses contacts? Just asking since this permission is in the manifest and on Android M I can revoke this right but I have no idea where we would need to ask for it :disappointed:

[2015-12-29 10:16] AndyScherzinger commented on #1381
@jesmrec yes - for mega byte. To make sure it is behaving the same way for peta bytes and up we need further info from @PVince81 and @jancborchardt - In case we needs to check it for peta bytes and up :grin:

[2015-12-29 11:05] elpraga opened #1391 "Beta 20151226 - Some previews appear with white space added to photos"
Some previews appear with the original photo in the top left corner and the rest of the space filled by white. I checked the original preview on the server and it appears OK.

Maybe some glitch in the way the previews are displayed?

Let me know if I should provide more info.

[2015-12-29 11:11] elpraga opened #1392 "Beta 20151226 - Some .png photo (originals) appear with checker background"
The background around some png originals is not black, but filled with checkers instead. It does not look good and it is inconsistent with the way other pictures are shown in the app.

[2015-12-29 11:24] elpraga opened #1393 "Idea for enhancement: indicate subfolders shared with others"
Right not when someone shares a folder with me, the folder is marked as shared and so are any files and subfolders within.

On the other hand when I share a folder with someone, the folder is marked as shared, but the subfolders and files within are not.

It might be useful to be reminded that I am adding files to a folder that lies within a shared folder somewhere up the tree.

[2015-12-29 11:33] masensio commented on #1389
#1209  is merged on master :)

[2015-12-29 11:37] masensio commented on #1204
#1209  is merged on master branch.

[2015-12-29 11:38] #1204 closed

[2015-12-29 13:08] tobiasKaminsky commented on #1380
Hmm. Maybe the app is not being notified when switching back to wlan.
What kind of device (and android) do you have?

[2015-12-29 13:09] tobiasKaminsky commented on #1317
pinging @masensio @davivel

[2015-12-29 13:10] tobiasKaminsky commented on #1235
@jancborchardt what do you think?

[2015-12-29 13:11] tobiasKaminsky commented on #1346
@jancborchardt This is fine for me, but is also more code to maintain and handle it...

[2015-12-29 13:15] CriticalNoob commented on #1380
For some reason it now works well, I tried to reinstall it and basic stuffs but suddenly after a reboot, it began to work.
FI I'm using a Honor 7 - Android 5.0.2.

For the white dot I was speaking about that :
![screenshot_2015-12-29-14-12-56](https://cloud.githubusercontent.com/assets/7241431/12034829/9794899c-ae36-11e5-94ae-86fd990ddb7e.png)

But maybe I should open another ticket ? Or is it a f

[2015-12-29 13:18] tobiasKaminsky commented on #1341
@AndyScherzinger To better keep track of the merges please do commits only to PRs and then we merge them into beta.
With this we can be sure that we do not merge commits into beta without having them in master.

(I have a script which shows me if a branch is "newer" than the merge state in beta, so I can easily merge the changed branches).

[2015-12-29 13:20] tobiasKaminsky commented on #1341
[Maybe it would also be better to have this as a separate PR as it is easier to track and review]

[2015-12-29 13:24] tobiasKaminsky commented on #1390
Great idea!
We will have to see if there is already an API on server side that supports this.

[2015-12-29 13:25] tobiasKaminsky commented on #1272
@AndyScherzinger Thanks!
The next beta will be compiled today or tomorrow.

[2015-12-29 13:31] tobiasKaminsky commented on #1343
@AndyScherzinger As this "permission" PR seems to be getting more and more complex this should be definitivly in a new PR and not in "your" marshmallow branch.
So you need to revert these changes and instead open a PR against master.
[I will try to follow up with this discussion as soon as possible].

[2015-12-29 13:33] tobiasKaminsky commented on #1391
I think following infos are needed:
- screenshot
- original resolution of the photo
- display resolution
- does it happen on "official" version?

[2015-12-29 13:35] tobiasKaminsky commented on #1392
This happens when the background is transparent and is the way "all" viewer to it to better show (white) images on transparent background
https://i.stack.imgur.com/obv1J.png

[2015-12-29 13:35] tobiasKaminsky commented on #1392
Maybe you can provide a screenshot?
cc: @jancborchardt

[2015-12-29 13:37] tobiasKaminsky commented on #1393
Do you have an idea how to show this indication?

[2015-12-29 13:39] tobiasKaminsky commented on #1380
The "white dots" are indicating that a sync is in progress.
For further explanation/discussions we should open a new issue.

[2015-12-29 13:39] #1380 closed

[2015-12-29 13:43] domneu commented on #1341
Let me know when these new changes are on f-droid and I will see if they
have fixed the problem on my Kyocera.  Thank you all for the help.

On Tue, Dec 29, 2015 at 8:20 AM, Tobias Kaminsky <notifications@github.com>
wrote:

[2015-12-29 14:28] tobiasKaminsky commented on #1310
pinging @jancborchardt

[2015-12-29 14:28] tobiasKaminsky commented on #1331
@marneu Can you test it with the latest beta?
@przybylski made some changes.

[2015-12-29 14:34] tobiasKaminsky commented on #1308
Yes this is being checked at FileMenuFilter.java: capability.getFilesSharingApiEnabled().isTrue()

And this must be distinguished in the message:
- To use sharing with other users, your server needs to be at least version 8.2
- To use sharing with other users, your server needs to have share api enabled

[2015-12-29 14:39] tobiasKaminsky commented on #1349
Can you try it again?
There should be a fix in the latest beta?

[2015-12-29 14:47] tobiasKaminsky commented on #1318
This should be fixed now.
If not, please reopen.

[2015-12-29 14:47] #1318 closed

[2015-12-29 14:52] enoch85 commented on #1349
No, still can't stream (play).

Best Regards
Daniel Hansson
www.techandme.se

Sent from OnePlus Two, sorry for typos.

[2015-12-29 14:58] tobiasKaminsky commented on #1349
Same error? Or just no error?

[2015-12-29 15:46] AndyScherzinger commented on #1343
tl;dr the marhmallow branch breaks the app without having the permission api implementation. Thus permission PRs should target the marshmallow branch, be merged into this branch and after successful testing being merged into master (after the FAB branch merge though).

Unfortunately it will have to stay on this PR and the follow up PRs regarding permissions have to target the marshmallow branch. T

[2015-12-29 16:11] AndyScherzinger commented on #1341
@tobiasKaminsky I did the permission changes on the marshmallow branch and then pulled them to beta :smiley: - no worries :+1:

[2015-12-29 16:19] AndyScherzinger commented on #1390
One thing we should then consider is auto rotation based on the photo meta data. Modern cameras and cellphone cameras store this information thus the picture "knows" if it is landscape or portrait and could be displayed accordingly. But this might be a totally different topic. Not sure though.

Is this the main reason why you asked for image rotation (and persisting this rotated image)?
Because if

[2015-12-29 16:25] AndyScherzinger commented on #1204
IMHO still is still an open issue that needs to be done _after_ merging both branches thus the issue would remain open and could now be done since both referenced PRs have been merged. Right @tobiasKaminsky? Or am I missing something?

[2015-12-29 16:28] tobiasKaminsky commented on #1390
Auto rotating is already enabled

[2015-12-29 16:35] AndyScherzinger commented on #1387
Hmmm, I guess we need to check why the upload gets stuck and hwo to deal with this in case it is possible since the is imho rather an Android issue. Looking at:
https://code.google.com/p/android/issues/detail?id=22575
https://code.google.com/p/android/issues/detail?id=19068
ans especially at:
https://code.google.com/p/android/issues/detail?id=17972

proper wifi roaming need support for 802.11r whi

[2015-12-29 16:36] AndyScherzinger commented on #1390
oh okay, didn't know that. Nice! :+1:

[2015-12-29 16:42] AndyScherzinger commented on #1381
All changes up to know have been merged to master and thus I label the issue for release 1.9.1 :)

[2015-12-29 17:56] elpraga commented on #1391
Ok,
here is the info requested:
screenshots:
![405-720-max](https://cloud.githubusercontent.com/assets/13814570/12038967/c608c088-ae5c-11e5-9cbb-96c6b440296a.png)
![screenshot_phone_preview](https://cloud.githubusercontent.com/assets/13814570/12038968/c60beb32-ae5c-11e5-9e16-2e7f21775e72.png)
![screenshot_tablet_original_image](https://cloud.githubusercontent.com/assets/13814570/12038969/c60c60bc-

[2015-12-29 17:59] elpraga commented on #1392
![screenshot_tablet_original_image](https://cloud.githubusercontent.com/assets/13814570/12039123/0546c5c8-ae5e-11e5-995a-40930026e2bd.png)

I know that is the funcion of the checkers - to distinguis the transparent reagons of the image,but I think they sould not appear outside of the image. the outside should be black I think.

[2015-12-29 18:02] elpraga commented on #1393
I will give it a thought. what would be the best way and I will post it here..

[2015-12-29 18:57] jancborchardt commented on #1346
@tobiasKaminsky I know that, but however since this is very basic functionality, I would say this is quite important.

[2015-12-29 19:22] enoch85 commented on #1349
@tobiasKaminsky The landscape error is gone: https://github.com/owncloud/android/issues/1349#issuecomment-167346059

But I can't play the videos from server, or stream if you want to call it that. Same error as before.

[2015-12-29 21:35] bxabi commented on #1235
in the meanwhile I found that the QuickPic Gallery app and some others already support owncloud as image and slideshow source, and that way I can have multiple sources in the same app.
So the importance of the feature is lower.

[2015-12-30 07:44] #1381 closed

[2015-12-30 09:27] tobiasKaminsky commented on #1393
cc: @jancborchardt

[2015-12-30 09:31] tobiasKaminsky opened #1394 "Account creation: unknown error links to status.php"
When the message "unknown error occurred" is shown, there is now also a link to the status.php of the owncloud instance.
This helps with the "untrusted domains".

![unknown](https://cloud.githubusercontent.com/assets/5836855/12048847/8a47f990-aee0-11e5-90fa-f5f541c50c8e.png)

[2015-12-30 09:32] tobiasKaminsky commented on #1336
Issue and possible fix in #1394

[2015-12-30 09:33] tobiasKaminsky commented on #1394
PR is #1395

[2015-12-30 09:39] tobiasKaminsky commented on #1204
@AndyScherzinger I guess so.
But you are the master of design code ;)
Maybe it is in one of your other design PRs?

[2015-12-30 09:41] tobiasKaminsky commented on #1204
Uh.
Reverting all.
I have installed latest master in the emulator and in both cases (upload from within app and upload from another app) both upload buttons are blue with white text.
So this can remain closed!

[2015-12-30 09:44] tobiasKaminsky commented on #1343
You are right that the new permission "PR" would depend on this one.
But I thought it is easier to review a smaller PR.
The new permission PR can then depend on this one and once this one is merged it is very easy to merge the new one into master. But with this approach it is easier to review both PRs.

[2015-12-30 09:52] tobiasKaminsky commented on #1392
As this is already in master branch it is not related to beta.
@jancborchardt what do you think? Should the checker board only be displayed in the image? And outside black?
I think this would be the right way! :+1:

[2015-12-30 09:57] tobiasKaminsky commented on #1392
Uh. Sorry. I am not really awake now ;)
All images should be displayed full size. So you cannot see checkerboard outside an image.
Or am I wrong now, too?

[2015-12-30 10:01] tobiasKaminsky opened #1396 "Three dots per list item"
- show three dots per list item, showing all action that are possible with one selected item
- long press initiates multi select

(as discussed in #1346)

[2015-12-30 10:01] tobiasKaminsky commented on #1396
cc @AndyScherzinger @jancborchardt

[2015-12-30 10:01] tobiasKaminsky commented on #1346
I have created a new issue regarding this: #1396
Therefore I close this one.

[2015-12-30 10:19] rperezb opened #1397 "[Share options] I want to decide whether share with users is shown or not"
AC:
- Include 2 independent branded options
 + Show share with users: yes/no
 + Show share with link: yes or not

NOTE:
- this will imply to modify the current one https://github.com/owncloud/android/blob/master/res/values/setup.xml#L27

Related to: https://github.com/owncloud/client/issues/4325

[2015-12-30 11:29] marneu commented on #1331
The lastest beta 20151226 lacks the functionality using the external sdcard.
Storage path only shows "Default", which ist selected. Unfortunately it's on the internal sdcard.

Installation of a previous version over the lastest fails, and needs to be uninstalled before going back to the external path enabled 20151222.
The previous version shows "external path" but storage still remains on internal

[2015-12-30 12:50] przybylski commented on #1331
Whats is your device and android version?

[2015-12-30 13:22] przybylski commented on #1331
I do not have samsung device, could you please open device shell
`adb shell`
and paste the result of `mount` command?

[2015-12-30 14:43] rperezb commented on #242
a client has contacted us through the apps@owncloud.com mail asking us to improve the design for tablets.
It pointed out the same issue, on landcape mode on tablets it's not used the whole screen.
The thing is that the current idea is to divide the screen on 2: list and details view; however, yes, most of the times the details view is empty (you have to select manually the details view from a file

[2015-12-30 15:44] jancborchardt commented on #1308
@tobiasKaminsky just a wording fix for the second sentence: »your server needs to have Sharing enabled«.

Also the first part: »To share with other users, …«

[2015-12-30 15:47] jancborchardt commented on #1235
I think it’s a very specific usecase as a photo frame. Normally when showing vacation pics to friends you advance manually.

Also, we should first focus on other basics (like performance improvements) before adding this. Otherwise the app has a strange imbalance. ;)

[2015-12-30 18:49] jancborchardt commented on #242
Well, this problem should only appear on first start of the app. On any subsequent use, the last opened folder and file should be remembered and shown.

[2015-12-31 07:18] marneu commented on #1331
It's an sgs5 -> Android 5.0 (see first entry here)

[2015-12-31 08:42] tobiasKaminsky commented on #242
@jancborchardt this is a new feature request by you? Then we should open a new issue for this.
(I doubt that this is useful as (at least for me) it is 50:50 between
- browsing the latest folder
- changing to another folder, which is better reachable from root folder

[2015-12-31 12:52] tobiasKaminsky opened #1398 "Resized images/Thumbnails: load them while wlan on sync"
Thumbnails are loaded while entering a directory.
Resized images are loaded while browsing them.

As I use 200mb cache it would be great that "all" thumbnails and "all" resized images are loaded when on wlan so that I do not have to download them while I am without wlan.

So, how can we do this?
- have an entry in settings: what if all images are bigger than the cache? Then it is useless to downlo

[2015-12-31 13:36] jancborchardt commented on #1398
I’d say yes, we should do this, and automatically. Recently changed files are given priority, so if the cache is too small you still have the most likely relevant items.

[2015-12-31 14:18] tobiasKaminsky commented on #1398
The cache itself is deleting the least recently used entries, so I guess this can work.
But we will need to know which are the recently changed files.

And it still can happen that a directory which important images needs to be downloaded over and over again...
So the best would be that it is somehow synced with the cache...?

[2016-01-01 15:17] andreas-h commented on #41
What's the status on this issue? I got confused by some earlier comments. I'm running 1.9.0 from F-Droid and cannot find a 'sync on WiFi only' option. Is it there yet? Any idea on when it's coming?

[2016-01-01 17:31] tobiasKaminsky commented on #41
This should be already included, but you must first enable "instant photo upload".

[2016-01-01 20:02] andreas-h commented on #41
got it. so this means if i enable 'only on wifi' for pics and vids, then also the 'normal' sync only happens over wifi?

[2016-01-01 20:04] tobiasKaminsky commented on #41
No no, as stated above this is only for instant upload.
The sync will happen only if you swipe/pull down the directory content.

[2016-01-01 22:40] creolis commented on #1333
Same problem here using Nexus 5X @ Android 6.0.1. Resetting / flushing cashes / full reinstall did not fix anything. Disabling the Share-API is a valid and tested temporary workaround.

[2016-01-01 22:44] andreas-h commented on #41
Mh, not sure if we understand each other correctly.

I have a folder set up to be synced between my mobile and the owncloud
server.  I have auto-upload of pics and vids enabled, with the 'only on
wifi' option.  Does this mean that the folder will also only sync on wifi?

[2016-01-02 09:24] tobiasKaminsky commented on #1333
@creolis do you use federated sharing? In a similar issue federated sharing is the cause of the problem.

[2016-01-02 09:25] tobiasKaminsky commented on #41
Currently there is no automated syncing of a folder. You can only manually start a sync of a directory.
There is only auto-upload/instant-upload, and all settings are related only to this.

[2016-01-02 09:42] andreas-h commented on #41
Now I got it - thanks for your patience ;-)

[2016-01-02 10:37] alerque commented on #296
Thanks @przybylski for working on this. I'm looking forward to having it merged and being able to approve the bounty. For reference since it's not cross linked yet, it looks like PR #1368 is related to this.

[2016-01-02 11:30] przybylski commented on #296
@alerque I encourage you to test it on latests beta version

[2016-01-02 12:18] fmoessbauer commented on #1387
With Android 6 the problem does not exist any more. Tested with Cyanogenmod 13 (I have no "native" Android 5 device) on a Galaxy S3.

Thank you for your investigation.

[2016-01-02 12:44] AndyScherzinger commented on #1387
Glad to hear that. From the links my guess is it won't happen on Android 5 either.
@davivel @przybylski @masensio @tobiasKaminski is there anything we can do to restart stuck uploads and downloads or would this be covered by the reliable uploads work?

[2016-01-02 14:04] sermilrod commented on #1336
I hope it fixes it. I just replaced my self signed certificated for a trusted one and the error is persistant. When is scheduled the release of the new fix?

[2016-01-02 14:05] sermilrod commented on #1336
By the way, this is a PAID application and this is urgent as we paid for a product we cannot use.

[2016-01-02 14:11] alerque commented on #296
Is there a beta channel on the Play store to facilitate the testing process? Or at least pre-built apk's somewhere?

[2016-01-02 14:33] przybylski commented on #296
Beta is available on f-droid and pre-built apks are available here https://github.com/owncloud/android/tree/beta/apks

[2016-01-02 14:48] elpraga commented on #1392
I think You are right, there should be no checkerboard outside the image.

[2016-01-02 15:16] tobiasKaminsky commented on #1387
@AndyScherzinger restarting broken downloads is part of reliable uploads.
Best would be, of course, to resume them (but I do not know if this is supported by the server)

[2016-01-02 15:19] tobiasKaminsky commented on #1336
@sermilrod this is not a real fix but only redirect the user to status.php in order to see if there is something misconfigured (like the trusted domains).
But your problem seems to be different.
Can you access with your mobile app the official demo owncloud?
https://demo.owncloud.org
user/pass: test / test

[2016-01-02 15:36] jancborchardt commented on #1392
Yup! :)

[2016-01-03 11:22] sermilrod commented on #1336
Hi @tobiasKaminsky I am able to connect to the demo from my mobile app. That makes me think that the issue is at the cert validation process, or the SSL negotiation phase. Is it trying to validate something in particular to establish the secure connection?

[2016-01-03 12:39] tobiasKaminsky commented on #1336
Unfortunately I am not that into the ssl process (and not into nginx at all).
@davivel might help you better with that.

[2016-01-03 13:18] tobiasKaminsky opened #1400 "Resume broken up/download"
It would be nice if the app can resume broken uploads and downloads.
With this the app would not start over and over again if uploading a big video file via a buggy wlan.

[2016-01-03 13:31] przybylski commented on #1400
Resuming uploading would need to be supported on server side as well.
I don't know if webdav is able to support such thing.

[2016-01-03 13:34] tobiasKaminsky commented on #1400
I think that the desktop client can do this?
Do you know if this is true and if they use webdav?

[2016-01-03 13:39] przybylski commented on #1400
I don't know, but if they do and it is possible then it would be super valuable to investigate

[2016-01-03 13:42] przybylski commented on #1400
OK, it is possible using http options in webdav. Also client is using webdav.

[2016-01-03 20:49] BlaShadow commented on #1385
How did you solve this? I getting this issue.

[2016-01-04 07:41] floe commented on #1385
I've solved this according to https://github.com/letsencrypt/letsencrypt/issues/1201#issuecomment-153671647 and https://nwgat.ninja/setting-up-letsencrypt-with-lighttpd/ .

[2016-01-04 15:21] creolis commented on #1333
@tobiasKaminsky It's not actually in use, but the feature itself is enabled and there is an actual federation configured.

[2016-01-04 16:41] cdamken opened #1401 "[1.9.0] Can't copy to clipboard while renaming files"
When we try to rename files with branded 1.9.0 the clipboard functions don't work as expected.

1.- Try to Double tap on the entry in the renaming dialogue (instead of touching a longer time) the function menu is darkened and the symbols doesn't work anymore.
2.- Trying to mark the text add selecting the scissors closes the dialogue.

Problem win Sony Xperia Z3 (Andriod 5.1.1)

1.9.0 Branded clien

[2016-01-04 17:01] tobiasKaminsky commented on #1333
@creolis Can you disable and it try the app again?

[2016-01-04 17:05] tobiasKaminsky commented on #1401
I cannot reproduce any of it on Moto X Play with Android 6.
But this is maybe due to the fact that the copy&paste function is fresh implemented.

[2016-01-04 17:09] creolis commented on #1333
@tobiasKaminsky

**Results:**
Enabling "Allow apps to use the Share API" => Crash
Disabling only "Allow users on this server to send shares to other servers" => Crash
Disabling only "Allow users on this server to receive shares from other servers" => Crash
Disabling both => Crash
Disabling "Allow apps to use the Share API" again => Works fine

**Versions:**
Android: 6.0.1
App: 1.9.0
ownCloud: 8.2.

[2016-01-05 10:07] cdamken commented on #1401
Now I can reproduce the first point (1.-) ;

The app is opened and I am long tapping an file-entry, so I'm getting the menu:
"Share, Open with, Synchronize, Rename....".
A short tap on /Rename/ opens
a bright dialogue box to enter a new filename. The background is getting darker.
Then I'm double tapping on a part of the filename. This part is marked and I'm getting a second menu between the dialog

[2016-01-05 12:50] bes1002t commented on #10
It would be necessary to implement this feature. I have just 16GB internal storage so I need it soon.

[2016-01-05 12:59] przybylski commented on #10
@bes1002t this feature is in testing in beta, you can check is it working for you

[2016-01-05 13:19] AndyScherzinger commented on #1178
@masensio shouldn't the milestone assigned be 1.9 instead of 1.9.1 ? Just asking :)

[2016-01-05 13:59] bes1002t commented on #10
ah ok thank you :)

[2016-01-05 19:42] tobiasKaminsky commented on #1401
No, unfortunately I only have 6.x devices :/

[2016-01-05 20:18] tobiasKaminsky opened #1402 "Grid view: Change columns with pinch zoom (like google fotos)"
currently it is hardcoded to three colums if I remember correctly.
What about a slider which changes this directly between 3 and 10 (or something higher)?

@jancborchardt Where can we put this? It should be directly in the grid view? Behind the three dots?

[2016-01-05 20:30] dbenz04 commented on #1284
I also have this same issue. Is this a known issue in this app? I see very few reports of this problem.

[2016-01-05 21:07] jebrown55 commented on #1284
Same issue here on Android 5.0

[2016-01-06 01:21] jancborchardt commented on #1402
I would rather not have an option for it as it’s something the app should take care of and be properly designed. We currently do a nice job of adjusting to portrait and landscape (3 columns in portrait on my device, and 5 in landscape).

[2016-01-06 01:53] RoxasShadow opened #1403 "Thumbnail size is wrong in full screen"
Considering the beta app, currently we create thumbnails that look great for both the list and the grid, but when we tap and open an image, what we see is the same thumbnail that is shown inside the grid.

I think the best way to handle this situation is to show a thumbnail that looks like the original one but it's smaller (we could compress PNGs to JPGs and resize them to the screen size, so that

[2016-01-06 05:26] Larx commented on #1284
Never got any feedback on this bug report :-(

[2016-01-06 11:54] AndyScherzinger commented on #1284
I don't have any knowledge in this area, so looping in @davivel and @masensio

[2016-01-06 12:01] AndyScherzinger opened #1404 "Hide FAB on multi select"
following up on the discussion in #1346 I was thinking it makes sense to hide the FAB when the multi select is active and show it again when multi select has been done.

Pro:
* it removed the then unnecessary FAB since it has no actions for a multi select and could be considered clutter at this very moment

Con:
* show/hide might be confusing since it doesn't add extra functionality and might feel

[2016-01-06 16:16] AndyScherzinger commented on #1104
I pushed the graphical changes to the branch, having changed some paddings/margins and the idicator visuals as well as the next/done icon (right, bottom) to a blue arrow and chec/blue-circle for the last action (kind of like the Google apps do it :smiley:).
The arrow has been implemented with a vector-xml and thus i bumped gradle to 1.5.0 unsure if this works for ant build processes (probably not,

[2016-01-06 16:19] AndyScherzinger commented on #1104
@przybylski can't say what is is, but having the what's new screen open and turning the display off and on again seems to recalculate the idicator and the "blue/active) bubble is moved somewhere else. I guess there is some recalculation onResume (not sure).

[2016-01-06 16:40] dbenz04 commented on #1284
Andy, thanks for following up. We have done some more testing and the issue seems to be isolated only to workplace devices managed with Maas360. I'm not sure what Maas360 could be blocking to only cause external storage to not show up in OwnCloud, because regular OwnCloud folders do work. I'll continue to investigate to see if I can determine what Maas360 may be doing in this situation.

We have t

[2016-01-06 16:45] przybylski commented on #1104
@AndyScherzinger thanks for graphics, i'll have a look on what could go wrong. Thanks again!

[2016-01-06 17:08] tobiasKaminsky commented on #1402
Hm...What if you want to browse your images really quick? Then it would be great that one can adjust the column number...

[2016-01-06 17:08] tobiasKaminsky commented on #1404
Would be fine for me.

[2016-01-06 17:10] tobiasKaminsky commented on #1104
@AndyScherzinger Looks awesome!

[2016-01-06 17:12] tobiasKaminsky commented on #1403
Normally the app should load a resized version of the image and store it in the local cache.
Which owncloud version do you run?

[2016-01-06 17:56] enoch85 commented on #1104
Wow!

[2016-01-06 18:05] AndyScherzinger commented on #1104
@jancborchardt @nasli can anyone provide new (as in better and more adequate) feature images?

The thing is, the images used are taken from the iOS repository and as you can see the icon work used in these images is pre 1.8.0 using the "old" icon set for the different mine/file-types but should rather use the new ones in my opinion. Does anyone have the original layered source images, the necessar

[2016-01-06 18:09] AndyScherzinger commented on #1104
@przybylski you are very welcome, it's great to see collaboration on PRs :tada: - one thing that might be subject to change is the vector part as mentioned before. :cry:

What do you think @davivel ?
* *Pro* for the vector (+gradle): You can just change the color of the arrow in the xml file (for customer theming purposes) and everything is is handled by gradle's android plugin (generating png res

[2016-01-06 18:09] RoxasShadow commented on #1403
@tobiasKaminsky v8.2.

[Original](https://cloud.githubusercontent.com/assets/805144/12150222/d827b9f2-b4a8-11e5-9f5a-ac84030bb714.jpg)
[Grid/Fullscreen](https://cloud.githubusercontent.com/assets/805144/12150223/d86e3a76-b4a8-11e5-98eb-88248c71b57f.jpg)

[2016-01-06 18:15] AndyScherzinger commented on #1104
One side note (sorry for the comment spamming):
The feature images are only present in the hdpi folder. Imho these should be stored only once but in the xhdpi or xxhdpi folder. I stored them in hdpi due to their resolution and don't have the vector original images to provide properly scaled ones.

In my opinion we should store them only in one resolution folder to not raise the App's file size to

[2016-01-06 19:55] tobiasKaminsky commented on #1403
Can you give me a logcat of the app when trying to access a fullscreen image?
An useful app is catlog.

[2016-01-06 21:10] AndyScherzinger commented on #1104
FYI I removed the gradle implication by adding the png files, but still I believe we should drop ANT support at some point even though it is used in the background build processes but thexyy should move on to gradle imho. Not being able to utilize Android native build system will probably get more painful in the future.

Anyway it should work now except the mentioned issue.

@przybylski One other

[2016-01-06 21:20] cornzy commented on #1396
@jancborchardt is it realy necessary to have these three dots per list item?

Like in most other apps (e.g. Mail, Gallery) I think it is fair to open the Item and use the menu in the next screen. In the list I only want to perform an action for multiple Items, that's why we need the multi select.

The three dots per item is known from apps like 'Play Music' where you cannot "open" an item because

[2016-01-06 21:25] cornzy commented on #1402
@tobiasKaminsky I would prefer just pinch zoom on the grid (like you have it in the gallery). No need for sliders and most intuitive. But I agree with @jancborchardt that it needs to be properly designed and it is not that easy.

[2016-01-06 21:27] RoxasShadow commented on #1403
I used ADB since my phone is not rooted.

W/ActionBarDrawerToggle(13932): DrawerToggle may not show up because NavigationIcon is not visible. You may need to call actionbar.setDisplayHomeAsUpEnabled(true);
D/PreviewImageActivity(13932): onStart() starting
D/PreviewImageActivity(13932): onResume() starting
I/Choreographer(13932): Skipped 33 frames!  The application may be doing too much work on its

[2016-01-06 21:33] przybylski commented on #1104
@AndyScherzinger I am aware of rotation, I have never thought that someone would rotate device on whats new screen ;)
But I cannot replicate incorrect placing of current step indicator, but I guess I know where the problem is

[2016-01-06 21:40] AndyScherzinger commented on #1104
@przybylski one way would be to disallow rotation for the what's new screen - seems fine to me for this isolated case. :)

[2016-01-06 21:52] cornzy opened #1405 "Beta: NPE while trying to change path for instant video upload"
* Goto Settings
 * select instant video upload
 * Try to change "upload video path"

************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.endsWith(java.lang.String)' on a null object reference
at com.owncloud.android.ui.activity.Preferences$12.onPreferenceClick(Preferences.java:493)
at android.preference.Preference.per

[2016-01-06 22:18] dbenz04 commented on #1284
After investigating this further, this issue is very strange. Maas360 is not the problem, some users can login on devices with Maas360 and see their external storage. Others cannot see their external storage no matter what android device they login on.

All users can see the external storage when logging into the iOS app, through the sync client or the web browser. WebDAV on a computer works for e

[2016-01-06 22:35] przybylski commented on #1104
neee it "only" needs to remember the state in onSaveState and onRestoreState, so thats doable

[2016-01-06 23:52] AndyScherzinger commented on #1284
Thanks @dbenz04 for further investigating this issue. @jancborchardt do you know anyone from the server dev team who could have a look at this issue just to make sure the server side isn't the originating source (shouldn't be since iOS clients seem to work). But maybe it is some change that needs changes on Android?

@dbenz04 did you do any Server updates regarding the ownCloud version?

[2016-01-06 23:54] AndyScherzinger commented on #1405
@cornzy are you running the latest beta release? -> 20160103 ?

[2016-01-06 23:56] dbenz04 commented on #1284
This is a new server install that is only a couple weeks old - it is the community maintained virtual appliance running OC8.2.2 on Ubuntu 14.04.

[2016-01-06 23:58] AndyScherzinger commented on #1404
Would we also want a mechanism like "hide on scroll down" and "show again on scroll up"? I am just asking since some apps do this and this should be not to hard to implement observing the scrolling I guess. Just an idea though and I haven't tried to implement it yet, so no idea if and how easy this could be implemented, but like I said, it shouldn't be to hard to do I guess.

@jancborchardt what d

[2016-01-07 07:01] cornzy commented on #1405
Ok,sorry was the previous beta

[2016-01-07 07:01] #1405 closed

[2016-01-07 08:37] AndyScherzinger commented on #1405
OK, no worries, glad to hear it is fixed with the latest version :)

[2016-01-07 09:03] hitam4450 opened #1406 "(optional) Delete of successful uploaded files e.g. images, videos"
Hi,
I noticed, that images uploaded to OC, are copied to owncloud/OC-installation/SofortUpload and that they
are remaining there - until forever, thus still blocking urgently needed storage space on the SD-CARD .
Selecting an Option like: Delete image (video) after successful upload will make better use of the
limited resources on a handset.

Since the image is stored in the DCIM folder as well, t

[2016-01-07 09:46] AndyScherzinger commented on #1406
Not sure if this is already covered by features currently being developed so pinging @przybylski and @tobiasKaminsky. I guess this is already available in the beta, right?

[2016-01-07 11:50] modules commented on #1317
Same here. App crashes shortly after starting. I got that error on stable and beta version. Attached are the logs from beta:

[code]

[2016-01-07 13:47] AndyScherzinger commented on #899
@tobiasKaminsky I added further icon work for material design purposes :) - One bug I found though is when you select just one them and rotate the screen the whole menu in the action bar is gone. Haven't investigated why this happens though.

[2016-01-07 16:45] elpraga commented on #1391
Could You reproduce this issue?

[2016-01-07 16:48] elpraga commented on #1397
Should not this be decided globally in the settings?
I recall there is an option "Users are allowed to share with others" in the web interface.

[2016-01-07 16:53] elpraga commented on #1386
The problem persists in latest beta 20160103 sharing with users does not work.

Can someone check if the bug is present when only beta is installed?

[2016-01-07 17:07] elpraga commented on #1393
![folder_share_small](https://cloud.githubusercontent.com/assets/13814570/12176596/728a61c4-b568-11e5-8a98-6899446f6e4b.png)

The subfolders and files could be marked in this way.
This way it would be clear that the folders and files lie within a folder we share, but it is not the folder that is being shared itself. It would also be distinguished from the folders and files others share with us.

I

[2016-01-07 17:14] elpraga opened #1407 "Enhancement: Ability to create bookmarks"
I think that the current concept of Favorites is somewhat misleading. I might have a "Favorite" folder that lies deep within the folder tree which I want to access quickly, but it does not necessarily mean that I want this whole folder synced on my phone.

Would it be possible to make "Bookmarks" in the left menu part (where the access to configuration, and on device / all files switch is now) tha

[2016-01-07 17:21] elpraga opened #1408 "Folder list is not updated when a file is uploaded"
and as a consequence it is impossible to upload a file to a folder that was created after the app updated the folder list.

I think it would be good if fresh folder list would be fetched withing upload file dialog (when shared from other application)

[2016-01-07 17:23] elpraga opened #1409 "Beta: 20160103 Error I got repeatedly when changing uploading folder"
************ CAUSE OF ERROR ************

java.lang.ClassCastException: java.lang.String cannot be cast to com.owncloud.android.datamodel.OCFile
	at com.owncloud.android.ui.activity.ImageSimpleAdapter.getView(ImageSimpleAdapter.java:53)
	at android.widget.AbsListView.obtainView(AbsListView.java:2346)
	at android.widget.ListView.makeAndAddView(ListView.java:1876)
	at android.widget.ListView.fillDow

[2016-01-07 17:24] elpraga opened #1410 "Beta 20160103: Error I got repeatedly when opening a share dialog (server was busy, no clue if relevant)"
************ CAUSE OF ERROR ************

java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState
	at android.support.v4.app.FragmentManagerImpl.checkStateLoss(FragmentManager.java:1489)
	at android.support.v4.app.FragmentManagerImpl.enqueueAction(FragmentManager.java:1507)
	at android.support.v4.app.BackStackRecord.commitInternal(BackStackRecord.java:634)
	at androi

[2016-01-07 18:36] AndyScherzinger commented on #1386
Tested it with just the latest beta installed and I can confirm @elpraga's report. Nothing pops up during search. The only thing I see in the logcat is:
```01-07 19:11:15.717 8567-14693/com.owncloud.android.beta E/ActivityThread: Failed to find provider info for com.owncloud.android.providers.UsersAndGroupsSearchProvider```

And it can't work... I think I might have an idea about the problem...

p

[2016-01-07 18:50] AndyScherzinger commented on #1386
@tobiasKaminsky I just committed a fix for beta (namespacing stuff basically...) - see https://github.com/owncloud/android/commit/313756372a1d66cd3d18d55cc9ab957a414afcaa

[2016-01-07 18:53] tobiasKaminsky commented on #1104
:+1: Rotation is needed as it is very inconvenience to force portrait modus.
(Imagine you use a tablet which is "always" in landscape and suddenly switch to portrait).

[2016-01-07 18:54] AndyScherzinger commented on #1386
Na... to early... atm just the search works and clicking on an item doesn't do anything...

[2016-01-07 18:55] tobiasKaminsky commented on #1404
No, I think this would result in a flickering show/hide of the FAB menu.
So we should stay just with your first idea.

[2016-01-07 18:58] tobiasKaminsky commented on #1406
This is handled by #1168 which is in master now and therefore in the next release.
It is also in current beta: settings -> instant upload -> "original file will be..."

[2016-01-07 18:58] #1406 closed

[2016-01-07 18:59] tobiasKaminsky commented on #899
Can you open a new issue for this?

[2016-01-07 19:06] AndyScherzinger commented on #1386
Just found the last piece. Now it is working again on the beta branch

[2016-01-07 19:14] AndyScherzinger opened #1411 "Multi select rotation bug (#899)"
This issue belongs to #899 and probably is a missing onSaveInstanceState implementation

Scenario:
* long press a single list item --> multi selection appears with menu items in the action bar:
![device-2016-01-07-201059](https://cloud.githubusercontent.com/assets/1315170/12180124/05aa3706-b57b-11e5-8969-2f4f65436413.png)

* rotate screen --> menu is gone
![device-2016-01-07-201121](https://cloud.

[2016-01-07 19:14] AndyScherzinger commented on #899
Done, please see #1411 I goes it is a save instance issue.

[2016-01-07 19:21] AndyScherzinger commented on #1404
Okay, sounds fine to me. Any comment @jancborchardt?

[2016-01-07 19:38] AndyScherzinger opened #1412 "Multi select navigation state bug - to be discussed (#899)"
This is related to #899

Scenario:
* select a single list item and click on details menu item:
![device-2016-01-07-203550](https://cloud.githubusercontent.com/assets/1315170/12180669/4f0dc84c-b57e-11e5-839e-478f6076e3d4.png)

In case you hit the back button (or click on the arrow in the action bar), the selection mode gets disabled and you are still in the details screen. Imho this is only a not v

[2016-01-07 20:33] tobiasKaminsky commented on #1408
This should be resolved by #1038
Please confirm and then close.

[2016-01-07 20:33] tobiasKaminsky commented on #1386
:+1:
I will create a new beta tomorrow!

[2016-01-07 20:35] tobiasKaminsky commented on #1317
@davivel ping

[2016-01-07 20:36] tobiasKaminsky commented on #1402
@cornzy pinch zoom? In which gallery? I have never seen this.
But this would be the best way, I think.

[2016-01-07 22:15] cornzy commented on #1402
@tobiasKaminsky never seen or never tried ;) I had it in Sony's gallery app, now with my galaxy s6 in Samsung Gallery and even in Google Foto.

[2016-01-07 22:21] AndyScherzinger commented on #1386
Sweet! :+1: I already bumped the version to tomorrow so you don't have to :smiley:

[2016-01-07 23:12] dbenz04 commented on #1284
After much investigating, I believe I have found the source of the problem. Most of our LDAP users have a photo associated with their AD account, usually in both jpegPhoto and thumbnailPhoto. Every  OwnCloud user with an LDAP-provided avatar photo cannot see their external storage in the Android client.

To test this theory, I added a photo in AD for one of the users whose account was previously w

[2016-01-08 01:31] AndyScherzinger commented on #1284
Yes, please! :) The LDAP part/question would be a server question in my opinion. Stil that issue should reference this and we should keep it open for now until the server team can provide some more insights. Since there might still be an issue on Android (since you mentioned it works on iOS and with other webDAV clients.)

pinging @davivel @masensio - what do you think?

[2016-01-08 01:38] AndyScherzinger commented on #296
@alerque Could you give it a try?

[2016-01-08 08:23] hitam4450 commented on #1406
:thumbsup:

[2016-01-08 09:20] alerque commented on #296
@AndyScherzinger I've been using the beta since I was pointed to it 6 days ago and it hasn't given me any trouble. On the other hand I've only had a chance to give it pretty light use this week.

[2016-01-08 09:35] masensio commented on #1081
Hi,
#1099 is merged on master branch. So, you can switch between  grid vs list in the next release.
I'll close this issue.

[2016-01-08 09:35] #1081 closed

[2016-01-08 11:32] jancborchardt opened #1413 "Subheaders of share view"
Currently the share popup has these dark blue header boxes. This is a tad jarring and should instead be done by whitespace and proper header text (darkblue text color). Just like in the settings.

(Also, the Share text at the very top of the box should be correctly left aligned with the rest of the text.)

[2016-01-08 14:18] bboule commented on #1128
@felixboehm maybe we can discuss the urgency from the filed?

[2016-01-08 14:49] MorrisJobke commented on #1401
cc @rperezb @davivel

[2016-01-08 16:03] AndyScherzinger commented on #1413
I can work on this and also work on the search pop up for user and groups regarding margins and padding.

[2016-01-08 16:32] jancborchardt commented on #1413
Awesome! :)

[2016-01-08 17:33] sermilrod commented on #1336
Any progress in the case?

[2016-01-08 17:57] jancborchardt commented on #1396
This is only an assumption though. Actually people want to quickly act on files no matter the view. You shouldn't need to switch to the detail view to be able to quickly share a file. (Sure long press is possible, but hard to discover.) It should be very fast directly from the list as well, just like in the web interface.

[2016-01-09 06:55] tobiasKaminsky commented on #1393
cc @jancborchardt as he is the design guy ;)

I like the idea, but I am unsure if it
- does not clutter the ui
- understandable by the users

But I do see the importance of this: Without this notifications one can put files into a shared folder and share them without knowing/wanting this.

[2016-01-09 07:00] tobiasKaminsky commented on #1403
D/OwnCloudClient #64(13932): REQUEST GET /index.php/apps/gallery/api/preview/42317/720/1184

The app tries to download the image in a resized version with 720x1184.
I do not understand from the log what happens.
Can you give me an account to your owncloud? Please send it to owncloud@tobiaskaminsky.de
Then I can better have a look what happens.

[2016-01-09 07:05] tobiasKaminsky commented on #1407
@jancborchardt
Please help me to recall what (and if) we discussed on this topic:
- "Keep in sync" (currently Favorite) should get a new name?
- In the navigation drawer a new entry "Favorite" should list all files/folders that are "starred"? (Just like @elpraga is suggesting)

Is this correct?

[2016-01-09 07:10] tobiasKaminsky commented on #1402
Google foto is doing a great job.
Thank you for pointing this out.
@jancborchardt I think this is the best way (if we want to implement it)

[2016-01-09 07:19] tobiasKaminsky commented on #296
@alerque I think @AndyScherzinger is specifically talking about the document provider?
Is this working for you as expected?

[2016-01-09 07:31] tobiasKaminsky commented on #1412
Yeah, I think we can just wait for #1275.

[2016-01-09 08:30] tobiasKaminsky commented on #1391
Can you give me a link to the mentioned images?
Then I can test in my owncloud?

[2016-01-09 10:00] elpraga commented on #1393
Yes, that was indeed the reason why I thought about this.

And as about cluttering, note that when opening subfolders shared with us all files are marked even more notably.

I tried to think about an option that would be informative, but as least invasive as possible (that is also why I choose white and not black for the share mark)

[2016-01-09 10:12] elpraga commented on #1391
https://tomaskaluza.ocloud.de/index.php/s/tQExdDYcjwLPfaj
https://tomaskaluza.ocloud.de/index.php/s/47C4KTQpcrAE8IA
https://tomaskaluza.ocloud.de/index.php/s/i0Mgpf8Iy2GSVBj

Here there are, I saw this issue only with screenshots of the phone and the tablet. You might try to upload a screenshot of your phone and see if You get the same results.

[2016-01-09 10:17] elpraga commented on #1407
My original idea approached two things:
* now "Favorite" is not favorite as in browser or file manager manner, but rather "always synced", a new name You mention could actually be less confusing
* It might be nice to have Bookmarks entry in the drawer as in a web browser or file manager style

[2016-01-09 10:26] elpraga commented on #1408
Nope, it is something different.

Please try:
create a Test_folder in OC web interface or a desktop ap.
create a Level1 folder inside Test_folder in OC web interface or a desktop app
create a Level2 folder inside Level1 folder in OC web interace or a desktop app

Open a gallery app and try to upload an image into Level2 folder (via the share option)
- You will not be able to do so, as the folder L

[2016-01-09 10:29] elpraga opened #1414 "Multiple files: improve copy/move dialog"
They appear exactly the same and there is no way of knowing which is which as they appear only as an icon without any text

[2016-01-09 10:51] AndyScherzinger commented on #296
Thanks for the clarification @tobiasKaminsky that is what I was asking about :)

[2016-01-09 10:54] AndyScherzinger commented on #1414
@elpraga can you check with the latest release (today) 20150109 since I have replaced the icons there and copy and move to be distinguishable :)

[2016-01-09 10:59] AndyScherzinger commented on #1413
Just FYI development has been started on a new branch https://github.com/owncloud/android/tree/1413_share_view_enhancement

[2016-01-09 11:52] RoxasShadow commented on #1403
Done, thank you.

[2016-01-09 14:15] elpraga commented on #1414
I can confirm. @AndyScherzinger in 20150109 the icons can be distinguished.

Do You think it would be nice to add "copy to" and "move to" respectively to the select folder dialog? Maybe just left from the three dots menu on the top right? This is just an idea though, if You feel like it is not good idea or it would be too much work to implement it, we can close the issue

[2016-01-09 14:24] elpraga commented on #1390
I just ask if there is an API.

https://github.com/owncloud/gallery/issues/494

[2016-01-09 14:50] elpraga opened #1415 "Beta 20150109: It is harder then before to distinguish selected files"
I am not sure when exactly that happened, but now I noticed that it is harder to see which files are selected in multiselect.

Would You agree with me?

[2016-01-09 16:16] tobiasKaminsky commented on #1415
Do you mean the background color? The checkboxes are very good to distinguish, I think.

[2016-01-09 16:18] tobiasKaminsky commented on #1390
If this should be included in the app it must not depend on a "third party"/optional app but must be always included in ownloud/core.
Otherwise the app always has to make sure if the api for rotating exists.

[2016-01-09 16:20] tobiasKaminsky commented on #1414
For me there are no icons? The list, which is opened after clicking the three dots, shows only text?

[2016-01-09 16:35] AndyScherzinger commented on #1413
Thing I didn't change is the title (!) due to that being Material Standard, thus the content a bit more to the left.

[2016-01-09 16:40] elpraga commented on #1415
I'm sorry,  I should have explained the case better.
They are indeed great for files and photos in list view and for files in
grid view.

I did have problems though with some photos in grid view. They were all
from the boat with blue background.

I gave it another thought and I think if the actual ✔ was changed from
transparent (now) to white,  it would make the distinction much more clear
for pho

[2016-01-09 16:42] AndyScherzinger commented on #1414
@tobiasKaminsky there should be ;) - what @elpraga means are the following icons you can see in the screenshots in  #1411

[2016-01-09 16:43] elpraga commented on #1390
Thanks for clarifying.  I'll wait for an answer from the gallery app as it
might interest them as well and if this is the case,  I'll mention that it
should be handled by core.
El 9 ene. 2016 5:18 p. m., "Tobias Kaminsky" <notifications@github.com>
escribió: