[2019-03-14 09:01] PVince81 commented on #2453
where is the mobile documentation hosted ? this is where the ticket about updating it should be filed and scheduled @jesmrec @michaelstingl

[2019-03-14 09:12] #2475 closed

[2019-03-14 09:56] davigonz commented on #2453
Good question, maybe @settermjd can bring us some light.

We used to create documentation issues for each new Android version but https://github.com/owncloud/documentation is now read only, what's the new process now? Using
https://github.com/owncloud/docs instead?

![Screenshot 2019-03-14 at 10 51 54](https://user-images.githubusercontent.com/15261363/54347392-3bb74680-4647-11e9-8102-0c01f2087248

[2019-03-14 10:56] michaelstingl commented on #2453
Android docs are (here) in the Android repo:
https://github.com/owncloud/android/tree/master/docs/modules/ROOT/pages
(same for other clients)

Yes, exactly.

[2019-03-14 13:05] abelgardep commented on #2336
Some available improvements:
- Rename Document (API 21) [Doc](https://developer.android.com/reference/android/provider/DocumentsContract.html#renameDocument(android.content.ContentResolver,%20android.net.Uri,%20java.lang.String))
- Move Document (API 24) [Doc](https://developer.android.com/reference/android/provider/DocumentsProvider.html#moveDocument(java.lang.String,%20java.lang.String,%20java.l

[2019-03-14 13:05] PVince81 commented on #2453
ok, if it's in this repo here then either we reuse this ticket or raise a new ticket for the docs.

in any case, I can assign this to Matthew next week to process the one checkbox item

[2019-03-14 13:41] michaelstingl commented on #2453
just let us know what works best for you

[2019-03-15 12:03] abelgardep opened #2484 "[Document Provider] Rename Document"
New improvement to Document Provider : [Rename Document](https://developer.android.com/reference/android/provider/DocumentsContract.html#renameDocument(android.content.ContentResolver,%20android.net.Uri,%20java.lang.String))

| Actual behaviour | Expected behaviour |
| ------------- |-------------|
| ![ActualBehaviour](https://user-images.githubusercontent.com/47524927/54682482-55590200-4b0f-11e9-

[2019-03-15 12:12] #2482 closed

[2019-03-15 12:42] davigonz opened #2485 "App crashes when sharing files with ownCloud and creating new folder"
### Actual behaviour
- App crashes.

### Expected behaviour
- Folder creation properly performed.

### Steps to reproduce
1. Open a file browser.
2. Select a file and share with ownCloud.
3. Tap three dots and New Folder option.

### Environment data
Android version: 9

Device model: Google Pixel 3 XL

Stock or customized system: Stock

ownCloud app version: 2.10.0

ownCloud server version: not re

[2019-03-15 13:34] #2403 closed

[2019-03-15 13:47] davigonz opened #2486 "[New arch] Shares"
Epic to contain all issues related to shares within new Architecture.

--------

### PR
- App: https://github.com/owncloud/android/pull/2487
- Library: https://github.com/owncloud/android-library/pull/244

[2019-03-15 17:04] PVince81 commented on #2453
@jesmrec can you raise tickets in the docs repository for the new features and also add enough information about the details to be documented ? (don't let @settermjd spend time doing research if you already have enough context to share).

one ticket per feature please.

[2019-03-15 17:08] PVince81 commented on #2453
I don't see any new feature in the changelog above but only bugfixes :confused:

[2019-03-16 04:24] sd1998 opened #2489 "Preview for PDF files"
### Actual behaviour
On opening a pdf file the file is downloaded automatically.

### Expected behaviour
Instead the file should be opened for preview and and option should be provided to the user to download the file.

### Steps to reproduce
1.  Open any pdf file

Can this problem be reproduced with the official owncloud server?
(url: https://demo.owncloud.org, user: test, password: test)
Yes

[2019-03-16 04:35] sd1998 commented on #2485
@davigonz I have fixed this issue.

[2019-03-16 10:04] sd1998 commented on #2483
@jesmrec This cannot be replicated on Samsung Galaxy S9+. Running Android Pie

[2019-03-16 10:05] sd1998 commented on #2478
@jesmrec I would like to work on this.

[2019-03-18 07:49] davigonz commented on #2453
We create this issue just for release tasks and bug fixing once the code is frozen. The changelog is in https://github.com/owncloud/android/releases/tag/oc-android-2.10.0

[2019-03-18 07:55] jesmrec commented on #2453
the current issue is to track the work in the release.

We use to create some documentation stuff after every release, together with @lefherz and other people:

changelog: https://github.com/owncloud/android/blob/master/CHANGELOG.md
blog post: https://owncloud.org/news/owncloud-android-2-10-0-release-thanks-to-the-community/
central.org: https://central.owncloud.org/t/owncloud-2-10-for-android-rel

[2019-03-18 08:02] PVince81 commented on #2453
@jesmrec I don't think you can expect @settermjd or anyone who is assigned to write documentation to guess what changelog topics are about. Also don't assume that @settermjd is the only person that would document. I'd prefer if we work in a "push" fashion and people who know most about the feature should write details about it in tickets so that @settermjd only needs to format, structure, clarify,

[2019-03-18 08:03] PVince81 commented on #2453
(now if we had a huge documentation team it might be different and those people can spend days and weeks to go digging for information, but we currently don't have that many people)

[2019-03-18 08:08] PVince81 commented on #2453
if you think that multiple tickets are too much for small additions, a single documentation ticket that contains all details to document for this release would be fine as well.

the key is to prevent people to go digging and asking.
the ticket needs to be actionable and the things to document including details should be clear

[2019-03-18 08:31] jesmrec commented on #2453
We used to ask @settermjd because he takes care about documentation, but we were always open to explain him (or everyone) about everything we develop. No one complained or asked us for a different way to do it.  Let's take one of your approaches:

After every release, we will open a new issue in https://github.com/owncloud/docs with all the stuff to be included. We will detail everything there. Fr

[2019-03-18 08:32] jesmrec commented on #2453
of course, we start to do it with the current 2.10

[2019-03-18 09:59] davigonz commented on #2453
It works for me though it will increase the estimation points for release issues from now on.

[2019-03-18 11:29] PVince81 commented on #2453
@jesmrec @davigonz I understand that this was the way you worked before. Not sure how effective it was given Matthew's usual workload. Let's shift to the new approach and include the time for writing down the doc notes into your estimates. This is also time that is then saved from Matthew. I believe that having this work done upfront by devs is worth it as the knowledge is already there, while Mat

[2019-03-18 12:54] davigonz commented on #2453
Just to clarify @PVince81 :

After reading these two comments, it seems you thought we were expecting doc guys to read our code but is not the case. As @jesmrec commented in https://github.com/owncloud/android/issues/2453#issuecomment-473805407 , we always write topics in central with the release details and we considered them as a pretty good starting point to write documentation.

2.10 topic =>

[2019-03-18 16:23] jesmrec commented on #2489
you need to download the file to show it in the device, afaik

[2019-03-18 17:32] sd1998 commented on #2489
@jes.rec Google drive supports this. They have a seperate option for downloading the pdf.

[2019-03-19 01:13] #604 closed

[2019-03-19 07:29] jesmrec commented on #2489
ok, thanks for your effort!

[2019-03-19 08:53] jesmrec commented on #2453
Documentation issue created in docs repository: https://github.com/owncloud/docs/issues/771

We can track the docum update there, so, the current issue is done from my side and can be closed if no one has impediments or extra concerns.

[2019-03-19 09:02] jesmrec commented on #2426
Done!

[2019-03-19 09:02] #2426 closed

[2019-03-19 09:48] davigonz opened #2493 "Select all and select inverse appear in the app bar"
### Actual behaviour
- _Select all_ and _Select inverse_ options appear in the top of the file actions menu with no icon.

[<img src="https://user-images.githubusercontent.com/15261363/54595826-b1e6ef00-4a33-11e9-8603-ebcba37b5f7e.png" width="350px"/>](https://user-images.githubusercontent.com/15261363/54595826-b1e6ef00-4a33-11e9-8603-ebcba37b5f7e.png)

### Expected behaviour
- _Select all_ and _S

[2019-03-19 10:23] sd1998 commented on #2493
@davigonz I will fix this.

[2019-03-19 11:30] davigonz commented on #2493
Sure, go ahead!

[2019-03-19 13:13] michaelstingl commented on #2484
@abelgardep I don't get it. How does it work in other apps? Could you post a screenshot?

[2019-03-19 17:12] #2453 closed

[2019-03-19 17:30] davigonz commented on #2393
Closing this since is no longer a priority (https://github.com/owncloud/android/pull/2391#issuecomment-473248349) , reopen if needed

[2019-03-19 17:30] #2393 closed

[2019-03-20 11:47] jesmrec commented on #2356
Let's do a try to reproduce this

I've attached an account with app password, setting some files and folders as av. offline. The idea is checking every day if the session expires, checking the request flow. The conflict stuff will be addressed in #2376 but also having a look here.

I will update the current post with the history:

Day 1 -> Account created, text file as av. offline

[2019-03-20 11:55] jesmrec commented on #2483
i have re-checked and it does not happen always... i will need to check a bit more.

[2019-03-20 11:58] abelgardep commented on #2484
Of course, i updated this issue.

[2019-03-20 12:00] abelgardep commented on #2484
@michaelstingl Of course, i edited this issue.

[2019-03-20 12:05] jesmrec opened #2494 "Automation code cleaning"
Old tests are not being used, so they should be either removed from the repo or moved to another place for legacy code:

https://github.com/owncloud/android/tree/master/automationTest

Additionally, we need to remove the following check (@DeepDiver1975)

![Screen Shot 2019-03-20 at 13 03 13](https://user-images.githubusercontent.com/14894746/54682943-9bfb2c00-4b10-11e9-8dba-b63e64e69e95.png)

[2019-03-21 08:37] davigonz opened #2495 "[New architecture] Capabilities"
The sooner we have capabilities within the new architecture the better since some of the app features depend on them:

- Shares.
- RefreshFolderOp.
- FileMenuFilter.

![2  Capabilities](https://user-images.githubusercontent.com/15261363/54741953-45e5c180-4bc0-11e9-9248-6f5205821cb4.png)

_____
### TASKS

- [x] Create OCCapability entity
- [x] Create OCCapabilityDAO with query to get and insert cap

[2019-03-21 11:49] davigonz commented on #407
Done, to be included in 2.11

[2019-03-21 11:49] #407 closed

[2019-03-21 13:23] davigonz commented on #2494
I would remove it if is not being used. If are needed in the future, we can bring them back from git history.

[2019-03-21 13:40] davigonz commented on #1041
Already implemented via https://github.com/owncloud/android/pull/2305

[2019-03-21 13:40] #1041 closed

[2019-03-21 14:15] davigonz commented on #1402
@michaelstingl this feature looks interesting and is still used by Google Photos, have a look

![Mar-21-2019 15-13-15](https://user-images.githubusercontent.com/15261363/54758160-f3ba9580-4beb-11e9-9fd7-fa2b820f860a.gif)

And there's a PR (https://github.com/owncloud/android/pull/1466) with the implementation that we could try to merge or at least adapt its code to our current app.

[2019-03-22 05:52] sd1998 commented on #2493
@davigonz I am unable to determine the reason why the "Select-all" and "Select inverse options are appearing in the top of the file actions menu as everything seems to be fine. One way to fix this would be to shift back to `android:showAsAction` from `app:showAsAction` should  do that?

[2019-03-22 06:05] sd1998 commented on #2489
@jesmrec @davigonz  The PDF file has to be downloaded on to the device. To support this functionality what we can do is instead of showing the a progress bar of the pdf download(current case) we can instead show the user a PDFView(this can be obtained using 3rd party libraries like [AndroidPDFViewer](https://github.com/barteksc/AndroidPdfViewer)) and load the PDF in that view hence allowing the us

[2019-03-22 09:14] davigonz commented on #2489
Does AndroidPDFViewer take care of this or should we do it manually?

[2019-03-22 09:20] sd1998 commented on #2489
@davigonz The part of saving the PDF by creating a File will have to be done manually everything else is handled by the AndroidPDFViewer library.

[2019-03-24 22:11] DEvil0000 commented on #2344
same issue for me. Have a QNAP and can not update to owncloud newer then v8. The new android app however (which was even unfree) does not work with the old server version.

[2019-03-25 08:58] abelgardep opened #2496 "[Document Provider] Move files or folders"
New improvement to Document Provider : Move Files or Folders -> [Doc](https://developer.android.com/reference/android/provider/DocumentsProvider.html#moveDocument(java.lang.String,%20java.lang.String,%20java.lang.String)) API 24

Moves a file or folder including all child files to another location including OwnCloud server.

Current status:
- Option disabled in OwnCloud Provider
- Disabled option

[2019-03-25 09:02] abelgardep opened #2497 "[Document Provider] Copy files or folders"
New improvement to Document Provider : Copy Files or Folders -> [Doc](https://developer.android.com/reference/android/provider/DocumentsProvider.html#copyDocument(java.lang.String,%20java.lang.String)) API 24

Copy a file or folder including all child files to another location including OwnCloud.

Current status:
- Option available in OwnCloud Provider but doesn't work as expected
- Disabled optio

[2019-03-25 09:16] abelgardep opened #2498 "[Document Provider] Edit files and save changes"
New improvement to Document Provider: Open File Write Mode (API 19) [Doc](https://developer.android.com/reference/android/provider/DocumentsProvider.html#openFile(android.net.Uri,%20java.lang.String,%20android.os.CancellationSignal))

Open a document, edit it, and then save changes.

Current status:
- Allow users to open files within provider
- Changes are not saved

Expected status:
- Allow users

[2019-03-25 09:20] abelgardep opened #2499 "[Document Provider] Delete Files or Folders"
New improvement to Document Provider : Delete Files or Folders -> [Doc](https://developer.android.com/reference/android/provider/DocumentsProvider.html#deleteDocument(java.lang.String)) API 19

Delete a file or folder including all child files.

Current status:
- Option disabled in OwnCloud Provider

### TASKS

- [x] Add 'Delete Document' functionality to Document Provider

### PR
#2511

### Test

[2019-03-25 09:23] sd1998 commented on #2499
@abelgardep I would like to work on this.

[2019-03-25 09:24] abelgardep opened #2500 "[Document Provider] Create new folder"
New improvement to Document Provider : Create new Folder -> [Doc](https://developer.android.com/reference/android/provider/DocumentsProvider.html#createDocument(java.lang.String,%20java.lang.String,%20java.lang.String)) API 19

| Actual behaviour | Expected behaviour |
| ------------- |-------------|
| ![ActualBehaviour](https://user-images.githubusercontent.com/47524927/55476817-db00a580-5617-11e

[2019-03-25 09:42] abelgardep commented on #2499
@sd1998 I'm migrating DocumentsProvider to kotlin. This way, new functionality related with DocumentsProvider will be developed in kotlin. When i finish the migration i can ping you if you want to work on this 👍

[2019-03-25 14:23] michaelstingl commented on #1402
Looks amazing 👍

[2019-03-25 19:19] butonic commented on #2197
I would love to collect all media files and sync them to a timeline tree (`/<Devicename> Media/<YYYY>/<MM>/IMG_YYYYMMDD_HHMMSS.ext` by default). Unfortunately, pctures on the device might be stored in different folders, eg. the camera app and whatsapp store images in separate folders under separate apps.

I see two aspects that we need to consider:
1. We should listen on the media scanner for any

[2019-03-25 19:45] butonic commented on #2396
While we used the file observer to monitor new pictures inside a folder I think this was the wrong approach. We now face the problem presented in this issue. If we allow adding multiple folders that will alienate end users, because they have to manually add a path whenever an app decides to store media in a different folder.

The [JobInfo.Builder.html#addTriggerContentUri(android.app.job.JobInfo.T

[2019-03-26 07:56] sd1998 commented on #2489
@jesmrec Should I start with this then?

[2019-03-26 09:32] jesmrec commented on #2473
Done. Ready for 2.11

[2019-03-26 09:32] #2473 closed

[2019-03-26 09:49] michaelstingl commented on #2344
@DEvil0000 I explained the background here:
https://github.com/owncloud/android/issues/2433#issuecomment-460041199

You'll also find steps how to go back to the old app version using F-Droid.

[2019-03-26 11:26] jesmrec opened #2501 "Transifex behaviour improved"
Currently, transifex is pushing every day new commits to `master` when new translations are available.

We do not really need new translations every day, since we release a new version bimonthly (more or less), and all new transifex commits make become active branches outdated.

So, we can go for a similar approach that the iOS app: create a transifex branch with the translations that will be merg

[2019-03-26 12:29] davigonz commented on #2489
It would be great to finish https://github.com/owncloud/android/issues/2276 before

[2019-03-26 16:44] DEvil0000 commented on #2344
@michaelstingl I would be fine with installing older versions but f-droid does not have older ones then 2.9.3 anymore.
So where can I get a old version?

[2019-03-26 16:54] jesmrec commented on #2344
To get older versions:

1. Install F-droid app from http://f-droid.org
2. In F-droid app, tap on “Settings”, placed in the bottom bar.
3. Tap on “Repositories”
4. Enable the option “F-Droid Archive”
5. Go back to the F-Droid main screen, and search for ownCloud by using the lens icon on the floating button
6. Scroll down, and in “versions”, get the 2.8.0 version

[2019-03-27 09:12] DEvil0000 commented on #2344
Thanks. Thats working.
The archive was missing and you can not access the archive properly on the website anymore.

[2019-03-28 08:45] jesmrec commented on #2197
For the moment, this would be applied only for the camera uploads.

[2019-03-28 09:55] davigonz commented on #2396
Thanks @butonic for your comment

We are no longer using file observer from one year ago, when we replaced _Instant uploads_ feature with _Camera uploads_ one and decided to use [JobService](https://developer.android.com/reference/android/app/job/JobService).

The current implementation consists basically of a [CameraUploadsHandler](https://www.google.com/search?q=camerauploadshandler&rlz=1C5CHFA_

[2019-03-29 11:42] jesmrec commented on #2485
Fixed. Looking forward to 2.11.

[2019-03-29 11:42] #2485 closed

[2019-03-29 13:57] jesmrec opened #2503 "Settings UI tests"
Taking advantage of the isolation of `Settings` as `PreferenceActivity`, UI tests can be created over such activity.

Settings section contains three main blocks:

- Camera Uploads
- Security
- More

Tests over these sections can be addressed separately.

[2019-03-30 07:03] zatricky commented on #358
@michaelstingl Please put a reason for it being closed - for example inactivity/implemented/duplicate/wontfix/etc
Thank you

[2019-04-01 11:20] jesmrec opened #2505 "Code of conduct to be included"
Currently, ownCloud has the following code of conduct:

https://owncloud.org/community/code-of-conduct/

We should include it in the current repository, somewhere referring the community.

Different options:

1.- Include the code of conduct as a separate link in the root (such as `CONTRIBUTING.md`, `README.md`...)
2.- Integrate it in the `CONTRIBUTING.md` as new entry, including some guidelines ab

[2019-04-01 12:22] deandreamatias commented on #2493
I have tried to solve this problem but I have encountered a bug.
Apparently, there is an error in logic. When you press the "select all" option in the menu, it option appears again in the TopBar. From what I've seen, the ActionMode update and the mEnableSelectAll variable are not setting well.

[2019-04-01 13:18] davigonz commented on #2493
Yes, let's solve it by doing that.

[2019-04-01 13:21] davigonz commented on #2493
Apparently, there is an error in logic. When you press the "select all" option in the menu, it option appears again in the TopBar. From what I've seen, the ActionMode update and the mEnableSelectAll variable are not setting well.
I think this is the first step to fix this issue.

Thanks @deandreamatias for your report, I was able to solve this locally by replacing `app:showAsAction` with `android:

[2019-04-01 16:14] michaelstingl commented on #358
@zatricky Thanks for asking. I don't see a realistic chance to get this implemented from the ownCloud team in the near or mid-future. In case of a contribution, we can always re-open it. Nobody contributed to it in the last years and there are also no bounties for it:
https://www.bountysource.com/issues/1386463-feature-request-fork-for-connection-data

Please also check my comment about `dnsmasq`

[2019-04-02 08:25] thgoebel opened #2507 "Authentication lost daily"
### Actual behaviour
App asks me to authenticate again each morning.

### Expected behaviour
App should remember the authentication token.

### Steps to reproduce
1. Log in to my organisation's OwnCloud
2. Use normally for today.
3. Wake up next morning, open app.
4. Observe Snackbar: _Authentication failed -- Change account_
5. Go to _Manage Accounts_, hit key icon and authenticate again.
6. Use

[2019-04-02 10:17] jesmrec commented on #2507
You are using OAuth2 0.4.0,  will try to reproduce. This is not the same case as #2356 (i guess), so there, the session runs under app password authentication. Usually, when the snackbar with the authentication failure raises is because server returned a 4xx response over any request.

Will have a try and let you know if i find something out.

Thanks for reporting.

[2019-04-02 11:36] thgoebel commented on #2507
Let me know if there's any debugging steps I can do to help.

[2019-04-03 09:16] abelgardep commented on #2499
Hi @sd1998 , i will work on this because i have been working on the Document Provider for the last two weeks. Thanks anyway

[2019-04-03 14:48] #2478 closed

[2019-04-03 16:11] mstojanovic opened #2512 "night mode implementation? [ft][en] request"
are there any plans to introduce a night mode for the android app? that would be a great feature/enhancement imho. unfortunately gui design is not something im good at at all (i really dont know how to pair colors) but maybe i could help a bit in the background during the implementation

[2019-04-03 21:23] michaelstingl commented on #2512
@mstojanovic You mean a dark theme a user can select or something different? Could you elaborate? Do you know an example of an Android with this feature?

[2019-04-04 07:30] mstojanovic commented on #2512
@michaelstingl yes, i was thinking about a dark theme. i dont think that should be to hard to implement (to each xml in drawable add the definitions for the themes, change the res/layout files to have a dynamic value for the layout, add a switch for the user to choose). the idea is that a user can go to e.g. the settings of the app and change the theme (background color, font color, ...). many app

[2019-04-04 08:20] michaelstingl commented on #2512
You can already change colors if you compile your own client:
https://github.com/owncloud/android/blob/b549f879e3f6ab25d73721d59e33a690181035bc/owncloudApp/src/main/res/values/setup.xml#L35-L40
https://github.com/owncloud/android/blob/57fd78e326e0eb8187fe87d001cdb81eb4504188/owncloudApp/src/main/res/values/colors.xml#L27-L30

We're experimenting with more flexible theming options in the new iOS ap

[2019-04-04 08:37] mstojanovic commented on #2512
i dont think you get my point... im aware that one can change the colors if he builds his own app. my idea is to give any user an option to choose a theme he wants to use (not to mention that darker themes can save battery life on AMOLED screens).

My problem with doing the changes is that i dont have the knowledge to make the gui visually appealing with color choices, but i do know how to do the

[2019-04-04 08:58] michaelstingl commented on #2512
Here's the iOS example:

![2019-04-04 10 39 43](https://user-images.githubusercontent.com/214010/55542014-76e8ea80-56c6-11e9-9eda-fa4f1176f40e.png) | ![2019-04-04 10 39 53](https://user-images.githubusercontent.com/214010/55542015-76e8ea80-56c6-11e9-8588-ea399ee320e1.png) | ![2019-04-04 10 40 03](https://user-images.githubusercontent.com/214010/55542016-76e8ea80-56c6-11e9-8aac-8cdc59f452dd.png) |

[2019-04-04 09:02] mstojanovic commented on #2512
great, ty! thats all the info i needed :)

[2019-04-05 06:37] jesmrec commented on #2507
After 3 days i could not reproduce the problem, session keeps alive with no interruption. App version server version and OAuth2 are the same, but the device so we do not have an OnePlus. I will retry with any Android 9. Maybe a test account is helpful as well. Is it posible to send us to `android-app@owncloud.com`?

[2019-04-05 11:22] davigonz commented on #2486
@michaelstingl I've just found some lines of code that prepares the sharing view to enable/disable multiple public sharing depending on the server version. In this case, servers < 10 do not support multiple public sharing, should we keep it or remove everything related to servers < 10? Thanks

[2019-04-05 19:22] thgoebel commented on #2507
I doubt it's device specific, because I'm getting the same on my tablet (Samsung Galaxy Tab S2 (gts28vewifi), Lineage 16). Forgot to mention that because I don't use it too often, sorry.

What do you mean by your last question, *Is it posible to send us to android-app@owncloud.com?* (I don't understand the semantics :grimacing:)

[2019-04-07 15:10] michaelstingl commented on #2507
Create a test account and send the credentials

[2019-04-08 16:06] sd1998 commented on #2493
@davigonz I have also been able to replicate [this comment](https://github.com/owncloud/android/issues/2493#issuecomment-478576439) should I change it back to `android:showAsAction`?

[2019-04-09 06:34] jesmrec commented on #2507
With Android 9 is not reproducible either (Pixel2). At this point, the issue could be with Lineage, or something related with server.

As @michaelstingl said, a test account also can help to check if there is something wrong in the server? Do you have any specific set up?

[2019-04-09 06:38] davigonz commented on #2493
Yes, try to use `android:showAsAction`, I answered you in https://github.com/owncloud/android/issues/2493#issuecomment-478575429

[2019-04-09 07:03] jesmrec commented on #2450
done!

[2019-04-09 07:03] #2450 closed

[2019-04-09 07:04] jesmrec commented on #2430
done!

[2019-04-09 07:04] #2430 closed

[2019-04-09 09:49] jesmrec commented on #2376
not reproducible in an easy way. moving to backlog ftm... with an eye here.

[2019-04-09 09:50] jesmrec commented on #2480
Already implemented

[2019-04-09 09:50] #2480 closed

[2019-04-09 10:20] jesmrec opened #2515 "[Release] 2.11"
### TASKS

 - [x] [COORDINATION] Ping community guys to publish a blog post, at least one week before releasing.
 - [x] [GIT] Create branch release_2.11.0 in owncloud/android from master
 - [x] [GIT] Create branch release_1.0.1 in owncloud/android-library from master
 - [x] [DEV] Update versionCode and versionName in build.gradle in android module
 - [x] [DEV] Update versionCode and versionName in

[2019-04-09 10:26] davigonz opened #2516 "[New architecture] Edit public shares"
New use case, Edit public shares for a file

_____
### TASKS

- [x] Include update public share query in OCShareDao
- [x] Include update public share operation in OCLocalDataSource
- [x] Include update public share operation OCRemoteDataSource
- [x] Include update public share operation in OCShareRepository
- [x] Include update public share function in OCShareViewmodel.
- [x]  Connect PublicShareD

[2019-04-09 10:27] davigonz opened #2517 "[New architecture] Delete public shares"
New use case, Delete public share for a file

_____
### TASKS

- [x] Include delete public share query in OCShareDao
- [x] Include delete public share operation in OCLocalDataSource
- [x] Include delete public share operation OCRemoteDataSource
- [x] Include delete public share operation in OCShareRepository
- [x] Include delete public share function in OCShareViewmodel.
- [x]  Connect ShareFileAc

[2019-04-09 17:59] sd1998 commented on #2316
@jesmrec Is this still required?

[2019-04-09 18:04] michaelstingl commented on #2316
@sd1998 Yes, would be awesome!

There was an attempt not very long ago, but I don't know the status: https://github.com/owncloud/android/pull/2398 /cc @davigonz @jesmrec

[2019-04-10 06:35] jesmrec commented on #2316
We reviewed such PR but was not clear by the contributor, what the fix was doing.

[2019-04-10 11:11] michaelstingl commented on #516
In version 2.9, the ownCloud Android app switched to a new networking library. I'd assume this issue is gone. In case this happens again, please open a new issue. (too many things changed)

[2019-04-10 11:11] #516 closed

[2019-04-10 11:11] sd1998 commented on #2316
@jesmrec I would like to work on this.

[2019-04-10 11:14] michaelstingl commented on #668
Will be solved with https://github.com/owncloud/android/issues/830

[2019-04-10 11:14] #668 closed

[2019-04-10 11:16] michaelstingl commented on #814
In version 2.9, the ownCloud Android app switched to a new networking library. I'd assume this issue is gone. In case this happens again, please open a new issue. (too many things changed)

[2019-04-10 11:16] #814 closed

[2019-04-10 11:17] michaelstingl commented on #884
This will no longer happen with the [new sharing architecture](https://github.com/owncloud/android/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3AArchitecture+):

[2019-04-10 11:17] #884 closed

[2019-04-10 11:21] michaelstingl commented on #962
SD addressed in https://github.com/owncloud/android/issues/10

[2019-04-10 11:21] #962 closed

[2019-04-10 11:22] michaelstingl commented on #992
There's is a new Dropbox API and a new ownCloud Dropbox integration. I'd assume this issue is gone. In case this happens again, please open a new issue. (too many things changed)

[2019-04-10 11:22] #992 closed

[2019-04-10 11:23] michaelstingl commented on #997
Fixed in https://github.com/owncloud/core/issues/15092 (oC 9.0)

[2019-04-10 11:23] #997 closed

[2019-04-10 11:26] sd1998 commented on #1562
@jesmrec This issue is no longer reproducible hence I think this should be closed.

[2019-04-10 11:31] michaelstingl commented on #1128
@cdamken In version 2.9, the ownCloud Android app switched to a new networking library. I'd assume this issue is gone. Could you try again?

[2019-04-10 11:35] michaelstingl commented on #1309
Beta feature never got released. Information is in the open PR (https://github.com/owncloud/android/pull/1293)

[2019-04-10 11:35] #1309 closed

[2019-04-10 11:36] michaelstingl commented on #1310
Beta feature never got released.

[2019-04-10 11:36] #1310 closed

[2019-04-10 11:37] davigonz commented on #1358
Closing this... if it happens again, please reopen it or open a new issue

[2019-04-10 11:37] #1358 closed

[2019-04-10 11:42] michaelstingl commented on #1457
duplicate for https://github.com/owncloud/android/issues/1128

[2019-04-10 11:42] #1457 closed

[2019-04-10 11:46] michaelstingl commented on #1541
Can no longer be reproduced. (probably fixed with https://github.com/owncloud/android/pull/1493) Also Android 4.2 is no longer supported.

In case this happens again, please open a new issue. (too many things changed)

[2019-04-10 11:46] #1541 closed

[2019-04-10 11:49] michaelstingl commented on #1554
Can no longer be reproduced. (probably fixed with the changes about the new icons)

In case this happens again, please open a new issue. (too many things changed)

[2019-04-10 11:49] #1554 closed

[2019-04-10 11:50] michaelstingl commented on #1562
Thanks for checking 😍

[2019-04-10 11:50] #1562 closed

[2019-04-10 11:53] michaelstingl commented on #1653
Can no longer be reproduced. In case this happens again, please open a new issue. (too many things changed)

[2019-04-10 11:53] #1653 closed

[2019-04-10 11:55] michaelstingl commented on #1658
@davigonz @jesmrec maybe have a quick look about the behaviour with the current `master` builds.

[2019-04-10 11:57] michaelstingl commented on #1730
I'd assume this issue is gone. (`InstantUpload` got replaced by `CameraUpload`) In case this happens again, please open a new issue. (too many things changed)

[2019-04-10 11:57] #1730 closed

[2019-04-10 12:00] michaelstingl commented on #1738
@jesmrec Could you have another look with current Android tablets?

[2019-04-10 12:02] michaelstingl commented on #1768
In version 2.9, the ownCloud Android app switched to a new networking library, and chunked upload needs to be implemented from scratch. Too many things will change, we can't proceed in this issue.

[2019-04-10 12:02] #1768 closed

[2019-04-10 12:03] jesmrec commented on #1809
closing. feel free to reopen if get the problem again

[2019-04-10 12:03] #1809 closed

[2019-04-10 12:04] michaelstingl commented on #1821
Team will work on a solution in https://github.com/owncloud/android/issues/2026

[2019-04-10 12:04] #1821 closed

[2019-04-10 12:06] michaelstingl commented on #2026
@jesmrec fixed with the Android jobs?

[2019-04-10 12:08] #1828 closed

[2019-04-10 12:10] jesmrec commented on #1831
not reproducible. feel free to reopen if it is already there

[2019-04-10 12:10] #1831 closed

[2019-04-10 12:14] michaelstingl commented on #2127
In version 2.9, the ownCloud Android app switched to a new networking library and uses the new WebDAV endpoint. Chunked uploads will be implemented from scratch.

[2019-04-10 12:14] #2127 closed

[2019-04-10 12:20] michaelstingl commented on #2137
@jesmrec could you verify with oC server 10.0.8+ ? (https://github.com/owncloud/core/pull/29021 + https://github.com/owncloud/core/pull/30383)

[2019-04-10 12:29] michaelstingl commented on #2356
@PVince81 Any idea that could help us to reproduce? (Also: in next version users can create debug logs in the app. Maybe we'll can collect some useful information…)

[2019-04-10 12:36] michaelstingl commented on #2459
@braniqvranik The request in `owncloud.log` isn't one triggered by the Android app. The `reqId` should have the `X-REQUEST-ID` format. (see https://github.com/owncloud/android/issues/2055)

[2019-04-10 14:03] braniqvranik commented on #2459
Well, I was not able to find the log showing the issue, maybe the insufficient debug level. Have you tried to simulate this issue on your own ? @michaelstingl

[2019-04-10 14:53] michaelstingl commented on #2459
@braniqvranik Not yet. @jesmrec wanted to have a look.

BTW next version of the app will have a debug log that can be enabled by users. (https://github.com/owncloud/android/pull/2439) It will show you the `X-REQUEST-ID` of the error in the app, then you can `grep` for it in the `owncloud.log`.

[2019-04-10 15:56] jesmrec commented on #2493
Approved. Thanks for the fix @sd1998 !!

[2019-04-10 15:58] jesmrec commented on #2493
Fixed!

[2019-04-10 15:58] #2493 closed

[2019-04-10 16:42] jesmrec opened #2518 "[Document Provider] Account management & Multiaccount"
This is the current behaviour after installing the app from scratch

1. Add one account to ownCloud  app -> account appears in Files (OK)
2. Add a second (or more) accounts to ownCloud app -> accounts do not appear in Files (NOK, should appear as many accounts as the ones attached to the app)
3. Delete from the app the account added in 1. -> the account is still available in Files (NOK, the accoun

[2019-04-11 05:52] thgoebel commented on #2507
Here's some more information I've gathered:

| Device | OwnCloud v2.10.0 | OwnCloud v2.9.3 | [Polybox](https://play.google.com/store/apps/details?id=ch.polybox.android) v2.9.3 |
|-----|-----|-----|-----|
| LG G6 h870 LOS 14.1 | :+1:  | :+1:  | n/a |
| OP5 cheeseburger LOS 16.0 | :-1: | :+1: | :+1: |
| Galaxy Tab S2 gts28vewifi LOS 16.0 | :-1: | :+1: | n/a |
| Client source | F-Droid | F-Droid | Go

[2019-04-11 06:28] jesmrec commented on #2316
go ahead, but please, do not forget other open PRs like https://github.com/owncloud/android/pull/2400

[2019-04-11 06:36] jesmrec commented on #2026
i will take a look and let you know

[2019-04-11 08:03] PVince81 commented on #2356
so far no idea, also it hasn't happened to me any more lately

[2019-04-11 11:28] jesmrec commented on #2495
Test plan for UI tests linked in header message. @davigonz you can check if you miss something.

[2019-04-11 11:29] abelgardep commented on #2518
Multiaccount is supported, but Document Provider is not listening to logins or logouts. I agree that we need to listen to those events for security, so i include this improvement in DocumentsProvider epic.

We can display user name or display name or whatever, we can change it without problems.

[2019-04-12 13:19] jesmrec commented on #2484
Done!

[2019-04-12 13:19] #2484 closed

[2019-04-16 07:17] davigonz commented on #2481
Hi @sd1998 , what's the status of this?

[2019-04-22 12:44] jesmrec commented on #2495
Tested password policy app with the new architecture implementation. Everything is OK, currently, if the password created under some policies does not match, an error message is shown with the specific error pointing the user to change it to match every policy.

Number of expiration days depending on the public link password are also correctly managed.

CC @michaelstingl

[2019-04-23 22:51] icyerasor commented on #2182
Had the same issue (with another app though and Android Q/10) - try going into the "nexus imprint" / "fingerprint" settings of android OS and changing some stuff there - i.e. display the name of the imprints, change it, etc. For me no re-setup of the imprints was necessary.
Afterwards, back in the app everything worked again..

[2019-04-24 07:28] #2494 closed

[2019-04-24 08:51] #2499 closed

[2019-04-24 16:54] davigonz opened #2523 "[New arch] App modularization and decoupling"
The status of the app and its code is a recurrent topic that's been discussed several times. A couple of months ago we started to work on a [new architecture](https://github.com/owncloud/android/issues/2351) that is transforming the app to be more testable, robust and future proof.

Thanks to this new architecture, we should manage to have an app with much less dependencies but sometimes it's not

[2019-04-25 07:52] davigonz opened #2524 "Update password when sharing via link doesn't work"
### Actual behaviour
- Password is not updated nor disabled.

### Expected behaviour
- Password is updated or disabled.

### Steps to reproduce
1. Open view to share a file
2. Create a public link with password
3. Edit the public link created in previous step and update the password or disable it

Can this problem be reproduced with the official owncloud server?
(url: https://demo.owncloud.org, us

[2019-04-26 10:51] jesmrec opened #2526 "[Settings tests] Camera uploads section"
**Is your feature request related to a problem? Please describe.**
UI tests over the Camera uploads section, inside the Settings activity

### TASKS

- [X] Research (if needed)
- [X] Create branch feature/feature_name
- [x] Development tasks
  - [x] Picture uploads tests
  - [x] Video uploads tests
  - [x] Extra options tests
- [x] Code review and apply changes requested
- [ ] Merge branch feature

[2019-04-26 13:11] michaelstingl commented on #2523
@davigonz branch with [first steps in new architecture](https://github.com/owncloud/android/issues?q=label%3AArchitecture) isn't merged yet. What does the top image show? Last stable release build? Current master branch? Or the branch with the new architecture?

[2019-04-29 08:59] davigonz commented on #2516
@jesmrec UI tests finished, please have a look at them and tell me whether are enough or we could include more

[2019-04-29 10:44] davigonz commented on #2523
I generated the graph from new arch - capabilities branch to start seeing how the dependencies of the new architecture look like there, along with old code.

[2019-04-29 12:15] davigonz commented on #2481
I will start to work on this since it has high priority

[2019-04-30 08:48] jesmrec opened #2529 "[Settings tests] Security section"
**Is your feature request related to a problem? Please describe.**
UI tests over the Security section, inside the Settings activity

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any o

[2019-04-30 08:49] jesmrec opened #2530 "[Settings tests] More section"
**Is your feature request related to a problem? Please describe.**
UI tests over the More section, inside the Settings activity

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other

[2019-04-30 13:08] lefherz commented on #2297
And another user added pdfs. can we just do this with files in general? Let them open by other apps and delete afterwards?

[2019-04-30 13:51] jesmrec commented on #2297
this issue, and other ones, are in the same scope of not handling with downloaded files. When you open a file, it is removed just after, and only stays in device in case of offline availability. We can gather all issues with the same topic and check which background and if it is really worthy to change the current behaviour of the downloaded stuff.

CC @michaelstingl

[2019-05-01 17:53] rotational467 commented on #2460
Hello,
I can reproduce this problem.  Copying a post I made to the user forums earlier regarding this.

**Actual behaviour**
With Photo auto-upload on WiFi only enabled, photos taken while not on WiFi coverage do not automatically upload after returning to WiFi coverage.

**Expected behaviour**
The app should detect the presence of/switch to WiFi, and trigger the upload queue automatically.

**Ste

[2019-05-02 07:30] davigonz opened #2531 "[New architecture] UI tests for public sharing, using whole flows"
The tests already developed within the new architecture cover UI in an isolated way for each fragment and tests that take advantage of whole flows when sharing, e.g. create public share and see it in the shares list, would be needed as well.

### TASKS

- [x] Research (if needed)
- [x] Create branch feature/feature_name
- [x] Development tasks
  - [x] Implement whatever
  - [x] ...
- [x] Code revi

[2019-05-03 06:54] davigonz opened #2534 "[Release] 2.10.1 + oem"
### TASKS:
 - [x] [GIT] Create `release_2.10.1` branch in owncloud/android from `oc-android-2.10.0` tag
 - [x] [DEV] Update version number and name in build.gradle in android module
 - [x] [DIS] Create changelog file (< 500 chars) and add to CHANGELOG.md in owncloud/android
 - [x] [QA] Design Test plan
 - [x] [QA] Regression Test plan
 - [x] [GIT] Create and sign `oc-android-2.10.1` tag in HEAD co

[2019-05-05 14:02] Remich opened #2535 "Export to device"
Add option to export a file/multiple files/folders to your Android Device.

[2019-05-06 09:26] davigonz opened #2536 "[BUG] Just created folder disappears when synchronizing parent folder"
### Actual behaviour
Just created folder disappears when synchronizing parent folder and reappears during the next synchronization

### Expected behaviour
Just created folder should not disappear

### Steps to reproduce
1. Create new folder
2. Just created folder is shown successfully
3. Pull down to sync the parent folder
4. Just created folder disappears
5. Pull down again to sync the parent fol

[2019-05-06 10:25] #2500 closed

[2019-05-06 10:40] #2495 closed

[2019-05-07 07:49] #2498 closed

[2019-05-08 11:37] abelgardep opened #2539 "[Document Provider] Create Files"
This feature allows client apps to create files within document provider

Official Docs about it: [Support Document Creation](https://developer.android.com/guide/topics/providers/create-document-provider.html#creating)

### TASKS

- [x] Research (if needed)
- [x] Create branch document_provider/create_files
- [x] Development tasks
  - [x] Enable Create Documents at Root Cursor
  - [x] Implements c

[2019-05-09 12:59] #2481 closed

[2019-05-10 09:31] gutiar-junky commented on #2297
This "problem" really annoys me, too, since many apps on the phone then will show these images after they were downloaded just by viewing them.
An major use-case for me is to have all my photos in my owncloud and not on my phone but if viewing them will cause the photos to be "permanently" stored on my device again, it's nothing worth to initially get them off my phone and in my owncloud :(

[2019-05-14 10:40] jesmrec commented on #2297
thanks for your feedback. We will think about it... this feature was already suggested and make sense not to keep everything downloaded. There are many choices to do that, we can use the current issue to discuss and get the better approach.

[2019-05-14 11:38] jesmrec commented on #2535
Thanks for the suggestion. We will study it in order to schedule a solution.

[2019-05-14 16:14] #2451 closed

[2019-05-14 16:16] #2526 closed

[2019-05-15 11:11] #2516 closed

[2019-05-15 11:12] #2518 closed

[2019-05-15 11:59] sd1998 commented on #2535
@jesmrec Can I work on this?

[2019-05-15 11:59] sd1998 commented on #2536
@jesmrec Can I work on this?

[2019-05-15 12:15] jesmrec commented on #2535
for the moment this i not a priority. For this one, we should discuss before some acceptance criteria and think about security regards. CC @michaelstingl

[2019-05-15 12:17] jesmrec commented on #2536
of course!! we have scheduled this one into 2.11, do you think you can finish it within the next 2-3 weeks?

[2019-05-15 12:42] michaelstingl commented on #2535
@sd1998 What would be your proposal for an improvement?

[2019-05-15 14:33] sd1998 commented on #2536
@jesmrec Yes, I have already started working on it.

[2019-05-16 11:27] jesmrec opened #2547 "[Release] 2.11.0 beta1"
### TASKS:
 - [x] Merge 2.10.1 into master
 - [x] [COORDINATION] Get in touch with community/marketing team to publish a blog post, several days before releasing.
 - [x] [GIT] Create **release/1.0.1_beta.1** branch in owncloud/android-library from master
         - Update version code and name in build.gradle.
 - [x] [GIT] Create **release/2.11.0_beta.1** branch from master and:
         - Update

[2019-05-17 11:11] #2530 closed

[2019-05-17 12:04] sd1998 commented on #2536
@davigonz @jesmrec I have an issue. As you can see from the attached screenshot:-
<img width="1094" alt="Screenshot 2019-05-17 at 5 23 16 PM" src="https://user-images.githubusercontent.com/22047421/57926549-3685aa80-78c9-11e9-9c3b-5213ad684dbd.png">
(The screenshot is the debugger output at [this line](https://github.com/owncloud/android/blob/294ba33e86656a30007d4503b2a43cb14bed08a7/owncloudApp/sr

[2019-05-21 14:00] gutiar-junky commented on #2297
I think the easiest way - on Android's API-side would be this
https://developer.android.com/training/data-storage/files.html#WriteCacheFileInternal

even if i see, there're some abstraction layers in your code, for someone knowing where the actual downloading (and checking, if already downloaded) is taking place, it should be totally easy to replace possibly this
`outputStream = openFileOutput(fil

[2019-05-21 14:10] davigonz commented on #2297
Thanks for your suggestion @gutiar-junky , would you like to contribute with that? It would be great

[2019-05-21 16:29] davigonz commented on #2536
Screenshot 2019-05-17 at 5 23 16 PM
(The screenshot is the debugger output at this line I have just added an additional line(No. 1017):-
image
to check the contents of FileDataStorageManager)
The RefreshFolderOperation result shows that there are 7 files(counting the parent directory) but just after receiving the result if we fetch the folder content using FileDataStorageManager the no. of files i

[2019-05-22 17:29] Benzyme93 opened #2552 "[BUG] Directories with '[' and ']' don't display content in app"
### Actual behaviour
- Enter directory with '[' or ']' in its name (e.g. "My Folder [2019]")
- Displays empty directory message (doesn't show content)

### Expected behaviour
- Directory content should be displayed

### Steps to reproduce
1. Create directory with the above name format (e.g. "My Folder [2019]") in OwnCloud desktop or web interface
2. Navigate to the new directory in the android app

[2019-05-22 17:55] tikidad commented on #2297
Hello.  I wanted to pile onto this thread and throw my support behind it.  I think it would be a great idea to have the app able to stream media in general.  Music and pictures both, since oddly it already streams video naturally.  I have created my Owncloud as a media hub with the intent to access it on mobile.  With the Owncloud Audio player and Gallery apps I can achieve this via Chrome browser

[2019-05-22 18:09] jesmrec commented on #2552
We were reported this bug: https://github.com/owncloud/android/issues/2481

Fix will be available in 2.11 to be released withind the next weeks.

[2019-05-23 09:25] michaelstingl commented on #2297
@tikidad This issue is about photos.

ownCloud Android app [supports streaming](https://owncloud.org/news/released-new-owncloud-android-ios-clients-today/) of [supported video files](https://rigor.com/blog/optimizing-mp4-video-for-fast-streaming) since early 2017. If you encountered a bug, then please open a new issue.

Related: https://github.com/owncloud/android/issues/592, https://github.com/ow

[2019-05-23 10:18] ThinkHattke commented on #2505
Can I add this?

[2019-05-23 10:39] jesmrec commented on #2505
It was already added

https://github.com/owncloud/android/blob/master/CONTRIBUTING.md#code-of-conduct

so, this one can be closed. Thanks anyway for the offering @ThinkHattke!!. If you are interested in contributing, you can check the issues labeleld with "contributions are welcome", or any other thing you are interested in.

[2019-05-23 10:39] #2505 closed

[2019-05-23 11:15] michaelstingl opened #2554 "[DOCS] add troubleshooting advice to docs"
similar to
- [`ios-app/doc/TROUBLESHOOTING.md`](https://github.com/owncloud/ios-app/blob/master/doc/TROUBLESHOOTING.md)
- [`client/docs/modules/ROOT/pages/troubleshooting.adoc`](https://github.com/owncloud/client/blob/master/docs/modules/ROOT/pages/troubleshooting.adoc)

### PRs

- App: https://github.com/owncloud/android/pull/2652

[2019-05-23 11:24] ThinkHattke commented on #2505
sure will check for other issues @jesmrec

[2019-05-23 14:40] #2552 closed

[2019-05-23 14:54] #2534 closed

[2019-05-24 06:29] jesmrec commented on #2436
Done!! will be available in 2.11

[2019-05-24 06:29] #2436 closed

[2019-05-27 07:19] davigonz commented on #2547
All the tasks are already done, closing...

[2019-05-27 07:19] #2547 closed

[2019-05-28 10:08] davigonz opened #2555 "[New architecture] Get + search + create private shares"
Private share creation (including users and group search)

- Open search view
- Search sharee (capabilities). Internal & Federated.
- Create & Show results
- Permissions depending on file/folder
- Unit/UI tests: https://github.com/owncloud/QA/blob/master/Mobile/Android/Release_2.12.0/2584-new_architecture_create_search_shares.md

### TASKS

1. Get and show private shares in list
    - [x] Implemen

[2019-05-28 11:20] davigonz commented on #2524
Already fixed on new architecture, let's wait a bit to decide what to do with it

[2019-05-28 11:25] davigonz opened #2556 "[New arch] Edit and delete private shares"
Delete and edit private shares

- [x] Show permissions and edit
- [x] Delete private share
- [x] Unit/UI Tests https://github.com/owncloud/QA/blob/master/Mobile/Android/Release_2.12.0/new_architecture_edit_shares.md

### PRs
- App: https://github.com/owncloud/android/pull/2603

[2019-05-28 12:00] michaelstingl opened #2557 "[FEATURE REQUEST] Automatically create screenshots for Play Store and Docs"
Google Play Store Listing:
https://play.google.com/store/apps/details?id=com.owncloud.android

Docs:
https://doc.owncloud.com/android/

Related (iOS): https://github.com/owncloud/ios-app/issues/324 + https://github.com/owncloud/ios-app/issues/400

[2019-05-28 16:27] jesmrec commented on #2536
@sd1998 did you get any finding? do you need some help with the issue?

[2019-05-31 10:48] davigonz commented on #2536
@sd1998 In the end I'll take care of this since it should be included for 2.11 version, please continue with other features, thanks

[2019-05-31 11:16] davigonz opened #2560 "[BUG] Crash when notifying upload result (reported in Google Play)"
### Actual behaviour
- Crash when notifying upload result

### Expected behaviour
- Notify upload result should work without any crash

### Steps to reproduce
Not defined yet, but it's most likely related to uploads in background. It needs an additional research.

### Environment data
Android versions (% of total reports):
9 => 56.3%
8.1 => 25.2%
8.0 => 18.4%

Device model: Nexus 5X

Stock or cust

[2019-05-31 11:29] davigonz opened #2561 "[BUG] Crash triggered by RemoteServiceException (reported in Google Play)"
### Actual behaviour
- Crash with no additional information. To be researched.

### Expected behaviour
- No crash

### Steps to reproduce
1. Not defined yet, Google Play report does not show additional details, but there's some people dealing with the same error on StackOverflow. Likely related to the start of foreground services. (https://stackoverflow.com/questions/50131759/remoteserviceexceptio

[2019-05-31 11:58] davigonz opened #2562 "[BUG] Crash when starting FileUploader (reported in Google Play)"
### Actual behaviour
- Crash when starting file uploader

### Expected behaviour
- Start file uploader should work without any crash

### Steps to reproduce
Not defined yet, but it's most likely related to uploads in background. It needs an additional research.

### Environment data
Android version: 7.0 (90% of total reports)

Device model: Motorola DROID Turbo 2

ownCloud app version: 2.10.1

own

[2019-06-03 06:36] #2517 closed

[2019-06-03 07:14] davigonz opened #2563 "[BUG] Crash when clearing successful uploads"
### Actual behaviour
- App crashes when clearing successful uploads.

### Expected behaviour
- App should behave normally when clearing successful uploads.

### Steps to reproduce
1. Upload a file.
2. Wait till is completed.
2. Go to uploads view.
3. Tap three dots button and press "Clear successful".

### Environment data
Android version: 9

Device model: Google Pixel 2

Stock or customized syste

[2019-06-03 13:22] davigonz opened #2565 "[New architecture] Improve viewmodel behaviour"
There's some scenarios in which we are sharing the livedata between different operations (getShares, createShares, removeShares()) , triggering some sort of duplicated calls when there's a successful operation for example. The app works fine so far but I think this approach may be improved.

The basic implementation of a viewmodel is based on a livedata that is explicitly used to get the data, not

[2019-06-04 10:23] #2471 closed

[2019-06-04 22:01] sd1998 commented on #2563
@davigonz @jesmrec I would like to work on this.

[2019-06-05 06:33] sd1998 commented on #2489
@davigonz Shall I start working with this?

[2019-06-05 07:05] jesmrec commented on #2489
@michaelstingl @hosy , is this interesting to include in 2.12?

[2019-06-05 13:53] jesmrec opened #2567 "[BUG] [New Arch] Small glitch when editing folder permissions in public links"
### Steps to reproduce
1. Create a public link over a folder, and set a password
2. Edit the public link, and change the permission

### Current behaviour
The password textview disappears

![Jun-05-2019 15-51-08](https://user-images.githubusercontent.com/14894746/58961703-00da3000-87aa-11e9-8f7f-682d36befb72.gif)

### Expected behaviour
The password textview does not disappear

Android 9

### PRs

[2019-06-06 06:54] davigonz commented on #2563
Great, go for it

[2019-06-06 07:26] davigonz opened #2568 "[BUG] Crash when clearing failed uploads"
Similar to https://github.com/owncloud/android/issues/2563

### Actual behaviour
- App crashes when clearing failed uploads.

### Expected behaviour
- App should behave normally when clearing failed uploads.

### Steps to reproduce
1. Upload a file.
2. Turn off wifi to make the upload fail.
2. Go to uploads view.
3. Tap three dots button and press "Clear failed".

### Environment data
Android vers

[2019-06-06 07:28] sd1998 commented on #2568
@davigonz I would like to work on this.

[2019-06-06 07:31] davigonz commented on #2568
Sure, let's fix it via https://github.com/owncloud/android/pull/2566, thanks!

[2019-06-10 09:22] jesmrec commented on #2563
Fixed. To be released in 2.11

[2019-06-10 09:22] #2563 closed

[2019-06-10 13:07] #2536 closed

[2019-06-10 17:58] baptisteArnaud opened #2570 "[BUG] Infinite loading when trying to connect with OAuth2"
### Actual behaviour
After enbabling OAuth2.0 plugin, It connects using an external browser. After I click on "Authorize", It goes back to the app with an infinite loading popup message "Requesting authorization..." (I'm not sure if it's the exact translation since my app is in French).

### Expected behaviour
Goes back to the app logged in

### Steps to reproduce
1. Enable OAuth 2.0, Enable TOTP

[2019-06-11 09:17] davigonz commented on #2515
@jesmrec the branches are ready, you could start with the regression test

[2019-06-11 11:35] jesmrec commented on #2570
i will try to reproduce, and let you know. Which OAuth2 app version have you installed?

[2019-06-11 11:57] baptisteArnaud commented on #2570
[OAuth2](https://github.com/owncloud/oauth2) version 0.4.1
2-Factor Authentication version 0.5.3

[2019-06-11 13:10] jnweiger opened #2572 "Beta version destroys all settings"
I've joined the beta program, following the instructions in  README.md . I got stuck where it says "... end your final app will be replaced with the beta one." -- After waiting a while and reopening google play after reboot, nothing happened. Finally I uninstalled the app to get a chance for a re-install.
That works, I now have "Version 2.11.0-beta.1 release f280dd0a5" on my Samsung S4 with Adroid

[2019-06-11 14:07] #2565 closed

[2019-06-11 14:16] jnweiger opened #2573 "CameraUpload no longer works"
"Version 2.11.0-beta.1 release f280dd0a5" on a Samsung S4 with Android 5.0.1

When enabling Camer-Upload, I get a requester:
![Screenshot_2019-06-11-14-28-33](https://user-images.githubusercontent.com/1108546/59279813-e64dfe00-8c64-11e9-84c4-481629f44597.png)

a) It asks the user to find the folder where the camera stores images. Please add some instructions how to find that folder. This is a tedi

[2019-06-11 14:26] jnweiger commented on #2573
Camera Upload also did not work on the version I had before. Google play said I had 2.10.1 while the  settings page of my android app said owncloud Android-App Version 2.8.0-beta.1 -- not sure which was correct.

[2019-06-12 08:07] jesmrec opened #2574 "[BUG] Ocasional crashes in av. offline folders with many items"
There are not specific steps to reproduce, i will detail the process i did:

1. I have a folder called "Documents" in root. It contains 250 small txt files (~1 KB each)
2. Set the "Documents" folder as available offline. Everything inside the folder is dowloaded and marked as av. offline

From this point, if you browse inside the folder and then browse back to root, the folder is synced (it is av.

[2019-06-12 08:36] jesmrec commented on #2573
first of all, thanks for reporting!!

This folder is the usual one in which the built-in camera stores the pics. In case you have other camera apps, you have to switch to the new path (this is the target of making this selectable). I agree this is tedious, but i do not imagine other option to choose automatically other camera apps' folders. We can think about more specific instructions to select/c

[2019-06-12 11:05] jnweiger commented on #2573
If there is only one camera app, can`t we query its folder?

My use case is an artists workshop, where students draw images, I take photos and the photos appear in a shared folder. Then we post process the images digitally during the class.

I have not found that floating button yet (probably not in android 5 ?) so I need to click through all files. That is a regression. Immediate upload as we had

[2019-06-12 11:36] davigonz commented on #2515
**Steps included in wizard:**

1. Document provider
<img src="https://user-images.githubusercontent.com/15261363/59348239-e9092b80-8d16-11e9-9283-8b3140d0a2bb.png" width=50%>

2. Logs with search
<img src="https://user-images.githubusercontent.com/15261363/59348267-f3c3c080-8d16-11e9-862f-ddd4edcb4cef.png" width=50%>

@jesmrec please perform the corresponding tests

[2019-06-12 12:14] jesmrec commented on #2573
because we can not assure such folder will be the same for every vendor. Anyway, we can think a bit as well, if there is a more friendly way to set up.

Floating button is the  '+' button in the bottom right corner of the file list:

![Screenshot 2019-06-12 at 14 06 06](https://user-images.githubusercontent.com/14894746/59350028-5cad3780-8d1b-11e9-8d43-351bcca53708.png)

don't you see it in Androi

[2019-06-12 12:28] michaelstingl commented on #2489
2.12 is already pretty full, but if you @sd1998 would like to help here, it would be cool! 👍

[2019-06-12 13:25] davigonz commented on #2573
There's a way to change it, but never below 15 minutes => https://android.googlesource.com/platform/frameworks/base/%2B/master/core/java/android/app/job/JobInfo.java#137

[2019-06-12 16:30] davigonz commented on #2568
Done, to be included in 2.11

[2019-06-12 16:30] #2568 closed

[2019-06-13 09:00] jesmrec commented on #2515
Tests passed. In first message you can check the regression test performed. It is noticeable that some parts of the test were not passed, since the development during the release did not accept. Focus was in important blocks like authentication and the isolated new features like document provider and new native manual uploader, as well as other basic and necessary checks.

Upgrading was tested as

[2019-06-14 23:23] mstojanovic opened #2575 "different types of upload"
due to the change in #2436 the previously available choices for upload (copy, move) are now not possible, and this is a feature i heavily relied on. also, awaiting for review on the expansion of the choices available in #2509 is obsolete (added to 2.12.0 milestone)

it would be great if we can have those 3 options back (copy, move, remove) as a prompt on each upload or even better as a default cho

[2019-06-18 06:44] #2531 closed

[2019-06-18 06:54] jesmrec commented on #2515
Documentation PR was already created: https://github.com/owncloud/docs/issues/1323

[2019-06-18 07:34] jesmrec commented on #2575
We will have to research the options inside the native implementation to keep the same features as before. Thanks for the requests.

[2019-06-18 07:39] #2515 closed

[2019-06-18 07:41] jesmrec opened #2576 "Android 10"
Android Q is coming soon. Here we can report everything related with the current stable version of the app, including new features, bugs etc...

Checklist:

### Before targeting Android Q
- [x] Install an Android Q beta in any device
- [x] Regression test of the stable version of the app over Android Q
- [X] Fixes

### Targeting Android Q
- [x] Upgrade app target to API 29
- [x] Have a look at TLS

[2019-06-18 07:51] jesmrec opened #2577 "Complete information in Av. Offline shortcut"
**Is your feature request related to a problem? Please describe.**

The av. offline shortcut, placed in the drawer, let you know to have a list with your av. offline content, like that one:

![Screenshot 2019-06-18 at 09 50 47](https://user-images.githubusercontent.com/14894746/59663090-91ebd680-91ae-11e9-80a0-a035d5dc0d2d.png)

In this view, you have the options to sort, using different criteria:

[2019-06-18 07:59] jesmrec opened #2578 "[FEATURE REQUEST] Support for hidden files"
**Is your feature request related to a problem? Please describe.**
The web UI and the iOS app are supporting an option to show hidden files and folders.

Web UI:

![Screenshot 2019-06-18 at 09 55 18](https://user-images.githubusercontent.com/14894746/59663383-3b32cc80-91af-11e9-829b-aaeb519f5ce5.png)

iOS app:

![Screenshot 2019-06-18 at 09 57 37](https://user-images.githubusercontent.com/14894746

[2019-06-18 08:17] sd1998 commented on #2578
@jesmrec Can I work on this?

[2019-06-18 08:43] jesmrec commented on #2578
Go ahead!

[2019-06-18 08:45] jesmrec commented on #2507
@thgoebel 2.11 was released, with option to send logs. Will be appreciate logs with the problem to check if we can find out something.

[2019-06-18 10:02] jesmrec opened #2579 "Test refactoring"
Tests developed within new architecture need some refactor to avoid repeated code. Creation of an `Utils` class (or similar) will help to have different resources to be used in more suites

Related to #2607

[2019-06-18 10:16] KlausThomasMueller opened #2580 "ownCLOUD App Android crashes permanent"
### Actual behaviour
-ownCLOUD App crashes frequently when connected to ownCLOUD server.

ownCLOUD server runs on Linux Mint
-Main user has around 450GB data in 150.000 files
With this user, I'm not able to work

-Second user created specially for the mobile phone has around 45GB in 8.000 files (manly pictures and videos) operates mostly.

![A_Screenshot_20190618-105900_Software update](https://us

[2019-06-18 11:03] jesmrec opened #2581 "[RELEASE] 2.11.1 oem"
### TASKS:

 - [x] [GIT] Create branch `release_2.11.1_oem` in owncloud/android from master
 - [x] [QA] Reduced Test plan
 - [x] [DIS] Generate test APKs files from branch `release_2.11.1_oem` in owncloud/android
 - [x] [GIT] Create and sign tag `oc-android-2.11.1_oem` in HEAD commit of `release_2.11.1_oem` branch, in owncloud/android
 - [x] [GIT] Create and sign tag `1.0.1_oem` in HEAD commit of

[2019-06-18 14:12] davigonz opened #2582 "[FEATURE REQUEST] Splash screen"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**

AC:

- [x] Show a splash screen with the ownCloud logo every time the app is opened
- [x] The splash screen should include by default, the cloud icon and the dark blue background color (official oC logo)
- [ ] It should be brandable (logo and background color). [To be done]

Brandable:
- sp

[2019-06-18 16:10] davigonz commented on #2580
Hi @KlausThomasMueller , first of all, thanks for reporting this. We are aware of the crashes that are taking place in the app recently and we have put the focus on fixing them, e.g. https://github.com/owncloud/android/issues/2560.

I think all the information you attach might be helpful to find the cause of the crashes but without steps to reproduce is even more difficult, so I have a couple of q

[2019-06-18 16:26] davigonz commented on #2580
@KlausThomasMueller I see you are using 2.11, could you send us some logs? First, you need to enable the Developer Menu by tapping 5 times the app version within Settings and you will see the Logs section.

![52464638-f4d3be00-2b7b-11e9-891f-ef98eb96934f](https://user-images.githubusercontent.com/15261363/59701759-9340f180-91f6-11e9-9a32-44baf55fb9f8.gif)

[2019-06-19 07:59] KlausThomasMueller commented on #2580
Hi David,

attached you find the log. It should not be published
somewhere in the WEB.

Yes, I'm using photo and video upload. This was one of the main reasons to use a own cloud storage to save the photos from our mobile phones.

As it seems not to be possible to switch the storage location for offline files to the external SD-Card, I only made some tests.

My screenshots are manly from the uploa

[2019-06-19 09:39] thgoebel commented on #2507
Those are the logs from the app:

[code]

[2019-06-19 10:20] davigonz commented on #2580
Thanks @KlausThomasMueller for your answer.

The screenshots related to uploads are not crashes but ANR (application not responding) errors and that issue is already reported in https://github.com/owncloud/android/issues/2212 and it will be faced later. Anyway, your logs will be very helpful but I do not find them, how did you send them? You could send us an email to android-app@owncloud.com

[2019-06-19 16:38] jesmrec commented on #2507
Token refresh is failing, causing a 401 response from the server. Tokens expire every hour and a new one is granted (this is the expected behaviour). Server logs also would help to know why the refresh token is rejected. Would it be posible to get them?

[2019-06-19 16:49] michaelstingl commented on #2507
@thgoebel The ownCloud admins should be able to grep their logs for the request id's (`X-REQUEST-ID`).

[2019-06-19 22:29] tylus commented on #2464
Hi @davigonz , sorry for the delay, and sorry for a red herring. Looking at the logs was helpful. I was previously looking at Samsung "Files" app, showing the pictures to be at

SD Card > DCIM > Camera

That is why in Owncloud, I picked `/sdcard/DCIM/Camera`. Turns out that was wrong, and it's not same folder at all.
Using Total Commander app, I found one folder to contain pictures and the other t

[2019-06-19 22:29] #2464 closed

[2019-06-20 06:55] davigonz commented on #2464
Hi @tylus , glad to see this works for you now.

[2019-06-20 07:25] davigonz commented on #2560
@jesmrec ready to QA

[2019-06-20 07:46] davigonz opened #2585 "[QUICK RELEASE] 2.11.1"
### TASKS

 - [x] [COORDINATION] Ping marketing guys
 - [x] [GIT] Create branch `release_2.11.1` in owncloud/android from master
 - [x] [DEV] Update versionCode and versionName in build.gradle in android module
 - [x] [DIS] Create changelog file (< 500 chars) and add to CHANGELOG.md in owncloud/android
 - [x] [QA] Design Test plan @jesmrec  https://github.com/owncloud/QA/blob/master/Mobile/Android

[2019-06-20 08:21] caratsch commented on #2507
ssl_access_log:
[code]
OwnCloud log (same timestamp as ssl_access_log):
[code]

Let me know if you need more!

[2019-06-20 10:04] #2560 closed

[2019-06-20 11:29] #2585 closed

[2019-06-20 11:36] davigonz commented on #2581
I would face https://github.com/owncloud/ownbrander/issues/822 in coming releases since it does not seem to be urgent.

@jesmrec please review https://github.com/owncloud/android/pull/2588, is a tiny one.

[2019-06-20 14:00] ozata opened #2589 "[BUG] Project Does not Build"
### Actual behaviour
Project does not build.

### Expected behaviour
 Project should be built.

### Steps to reproduce
1.  Clone the project
2.  Build
3.  Fail

Can this problem be reproduced with the official owncloud server?
(url: https://demo.owncloud.org, user: test, password: test)

### Environment data
Android version: Android 3.4.1

Device model:

Stock or customized system:

ownCloud app v

[2019-06-20 14:30] michaelstingl commented on #2589
I answered în https://central.owncloud.org/t/android-app-does-not-build/20595

[2019-06-20 14:30] #2589 closed

[2019-06-21 10:21] jesmrec commented on #2581
Colors' issue is fixed.

Apart, some checks regarding SAML authentication were done, with successful results.

Ready to move forward.

Approved-

[2019-06-21 10:40] jesmrec commented on #2580
Logs received. Thanks!

[2019-06-23 13:06] quancs commented on #1871
So, Is there anybody will implement this function?

[2019-06-24 12:28] olcayertas opened #2590 "SQL Injection Vulnerability"
We have following warning message in Google Play Console:

[code]

Is this fixed?

https://support.google.com/faqs/answer/7668308

[2019-06-24 12:48] davigonz commented on #2590
Yes, this was fixed with 2.10.1, can you recheck it please? Your versionCode (20100201) is different from the official one, right?

[2019-06-24 13:00] olcayertas commented on #2590
Yes, it is differend. Thank you very much.

[2019-06-24 13:00] #2590 closed

[2019-06-25 11:52] jesmrec opened #2591 "[FEATURE REQUEST] Make Welcome Wizard brandable"
**Describe the solution you'd like**
Welcome Wizard is currently hardcoded. We can move it to a external set-up, so everyone can put their own slides.

### TASKS

- [ ] Create branch feature/feature_name
- [ ] Development tasks
  - [ ] Research if it is posible to include a variable number of slides
  - [ ] Rename resources, making them more generic
  - [ ] Change implementation not to take in acc

[2019-06-25 12:36] hurradieweltgehtunter commented on #2591
Wow this would be really nice. Do you have an ETA? Currently this is a blocker in the app release process for owncloud.online. Plan was to publish it end of this month so I have to see which solution works till then.
thanks anyway!

[2019-06-25 12:58] michaelstingl commented on #2591
@hurradieweltgehtunter please work with @davigonz and @ChrisEdS on a prototype the next few days. This should be sufficient for your urgent needs. I don't have an ETA for the fully parameterised, brandable solution.

[2019-06-26 07:43] hurradieweltgehtunter commented on #2591
will do. thx

[2019-06-26 07:52] #2581 closed

[2019-06-26 11:21] DeepanJN commented on #2182
I'm facing the exact same issue with low-end device [ Karbonn Aura Note 4G ] API 23

javax.crypto.KeyGenerator.generateKey(KeyGenerator.java:174)
Caused by: java.security.ProviderException: Keystore operation failed

Kindly help me!

[2019-06-26 12:25] jesmrec commented on #1010
Native upload pane is currently used. Closing.

[2019-06-26 12:25] #1010 closed

[2019-06-26 12:49] jesmrec commented on #1394
Not planned to fix

[2019-06-26 12:49] #1394 closed

[2019-06-26 16:13] jesmrec opened #2595 "[FEATURE REQUEST] Favorites"
**Describe the solution you'd like**
Favorites is a feature in server, which allows to select specific items to be accessed via shortcut. A yellow star to mark them is the distinctive.

**Additional context**
new iOS app already implement this. @hosy can detail how to fetch/post from core the favorites.

### TASKS

- [ ] Research (if needed)
- [ ] Create branch feature/feature_name
- [ ] Developme

[2019-06-29 20:07] PVince81 commented on #2575
Am also missing this option.

My workflow is that I usually that when I come home from a busy day, I'll upload all pictures from the DCIM folder to a temporary folder on ownCloud with "move" mode, because I don't want to upload them again later on, nor keep them on the device as I'll archive them on my computer. (I'm not using instant upload due to bandwidth limits) Then when I ever turn on my des

[2019-07-01 06:35] mstojanovic opened #2596 "[BUG] clear all finished in upload view clears failed alse"
### Actual behaviour
-when clicking on clear all finished in the upload view all streams are cleared

### Expected behaviour
-only uploaded streams should be cleared from the view

### Steps to reproduce
1. upload a few files
2. make some fail and let some upload
3. go to the upload view
4. select clear all finished from the dot menu

Can this problem be reproduced with the official owncloud serve

[2019-07-01 07:46] davigonz commented on #2575
Thanks for sharing your thoughts @mstojanovic and @PVince81 , I see your point, this decision was taken because the more we integrate the app with the Android system, the better, in terms of user experience and less amount of bugs to take care of.

Yes, now we can manage oC files from the [Document Provider](https://central.owncloud.org/t/owncloud-2-11-for-android-released/20515),  and move files

[2019-07-01 08:10] mstojanovic commented on #2575
@davigonz:

any idea when that should be officially released?
is there a chance to add a 'remove' option too. i.e. just to upload the files and not make them available offline by default?

[2019-07-01 10:33] davigonz commented on #2575
From now on the upload will depend on the features that Android Document Provider provides and this provider is the responsible of copying/moving files between different apps and internal folders. So if you move some files to ownCloud, they will be automatically uploaded to ownCloud and removed from the original folder, but not removed from the destination folder (ownCloud folder) as you propose.

[2019-07-01 10:39] mstojanovic commented on #2575
well... i guess since its planed to re introduce the options then this issue can be closed.

ty for your answer

[2019-07-01 10:39] #2575 closed

[2019-07-01 10:45] jesmrec commented on #2575
will keep the reference from the pertinent document provider issue

[2019-07-01 10:46] jesmrec commented on #2496
Through this issue will keep the moving option described here: https://github.com/owncloud/android/issues/2575

[2019-07-02 08:13] #2529 closed

[2019-07-03 16:08] jesmrec commented on #2596
Thanks for reporting!

My suggestion is: the options to clear should match the sections in the list. So, the following options should be available:

- Clear successful
- Clear failed
- Clear pending
- Clear all (current will not be removed)
- Retry failed

clear all finished leads to confusion, i'd get rid of it. Open to new ideas.

[2019-07-03 16:18] jesmrec opened #2598 "[BUG] Private link not accesible"
### Steps to reproduce
1. Disable Sharing API in web UI (only admins)
2. In the file list try to get the private link

### Actual behaviour
Not posible, since private link is inside the Sharing, that is disabled by capability.

### Expected behaviour
Link accesible

Options to fix:

1) Set the private link in the three-dot-button, independent from "Sharing"

![Screenshot 2019-07-03 at 18 12 16](ht

[2019-07-03 16:44] jesmrec opened #2599 "[FEATURE REQUEST] Permission UI handling"
**Is your feature request related to a problem? Please describe.**

Permissions can not be increased when content is reshared. In case of a shared folder, all its contents must "inherit" the parent folder permissions.

Currently in Android app, by following these steps:

- User1 shares a folder with User2, granting "share" and "create" permission and revoking "update" and "delete" permissions
- Us

[2019-07-03 17:54] mstojanovic commented on #2596
i could live with that as long as the actions are what they say

[2019-07-04 07:00] micbar commented on #2599
@jesmrec Just for clarifying:
The default permissions from the Capabilities are the issue here.

We should use the actual sharing permissions. These could be accessed in a PROPFIND on the file / Folder to reshare. I described it in the Enterprise Ticket

[2019-07-04 07:21] jesmrec commented on #2599
i know that issue. The point is the flow in the android app should be changed to fit the flow you mentioned:

Actually: share dialog does not show any permission. It is not posible to set permissions in creation step, only by editing. This is the first step to do, before performing the second step (submission of the share).

Is this clarifying? i can share more information if it is needed. Thanks

[2019-07-04 07:26] micbar commented on #2599
@jesmrec Thanks, clarified now :-)

[2019-07-05 07:56] #2555 closed

[2019-07-06 18:46] prsnbrg opened #2602 "[BUG] Avatar is not updated"
### Actual behaviour
-Tell us what happens
I'm updating the avatar in Web UI.
In the app I still see the old avatar despite updating the files etc..

### Expected behaviour
-Tell us what should happen
It would be helpful if the avatars could be updated to keep the servers apart, especially if you have multiple servers.

### Steps to reproduce
1. Update avatar in Web UI
2. Open Android App
3. See o

[2019-07-09 16:38] davigonz commented on #2556
I've taken advantage of the new implementation to include the error when editing private share permissions in the dialog itself, before was being shown in a snackbar contained in the background activity and it didn't look that good. Besides, now can be included in a UI test.

| Error with previous implementation | Error with new arch |
| ------------- | ------------- |
| ![device-2019-07-09-183420

[2019-07-11 12:24] jvillafanez opened #2604 "[BUG] Weird cookie handling"
### Actual behaviour
New cookies sent by the server are ignored by the client. The client keeps sending the same cookie.
In addition, the cookies sent by the client seem to include some cookie flags that shouldn't be present

Below what is sent by the server

![Screen Shot 2019-07-11 at 14 19 03](https://user-images.githubusercontent.com/1477829/61050291-f9c8c200-a3e6-11e9-8878-809a2a77642c.png)

[2019-07-12 06:45] davigonz commented on #2604
Thanks @jvillafanez for reporting this, we'll have a look

[2019-07-13 01:37] gute1 opened #2605 "[BUG] stak on "please rate us screen""
### Actual behaviour
-Tell us what happens
stak on "please rate us screen"

### Expected behaviour
-Tell us what should happen
On any press the messages should disappear

### Steps to reproduce
1. Install the app
2. Set an acount
3. Get the "please rate us screen"

Can this problem be reproduced with the official owncloud server?
(url: https://demo.owncloud.org, user: test, password: test)

### En

[2019-07-15 12:46] #2556 closed

[2019-07-17 06:48] davigonz commented on #2605
Hi @gute1 , thanks for reporting this, have you noticed any other issues when tapping other elements of the view in the app or the problem only appears when tapping the rate us dialog? Are you using Twilight app or a similar app that changes the color of the screen?

[2019-07-17 06:48] davigonz commented on #2602
Hi @prsnbrg , thanks for reporting this. I will try to reproduce it.

[2019-07-21 06:57] madmaxoft commented on #2573
On a side note, https://developer.android.com/reference/android/app/job/JobInfo.Builder.html#addTriggerContentUri(android.app.job.JobInfo.TriggerContentUri) seems to describe exactly what we want, but is only for API >= 24

[2019-07-21 11:27] sid3windr commented on #2460
Same problem here - this is not being fixed? It's pretty basic functionality. And indeed while it's uploading if you're looking at the queue, the app just crashes and restarts.

[2019-07-22 17:34] jnweiger commented on #2573
The floating (+) button exists only in the owncloud app for me. (as shown in your screenshot). No such button, if I access the list of photos from the camera or from the photo gallery.
No problem. Just a confusiton on my side. sorry. I had hoped something should show up on the camera, so that the upload can be automated...

Manual uploading is bad, when the background job is also active: It result

[2019-07-23 05:37] hannesa2 commented on #2460
@sid3windr
I total agree to you about basic functionality.
But see it positive, a half a year ago, even sync on Android P was not working at all.
But now, they are on __a good way__ and modernize the app. 👍

In my point of view any bug fixing makes no sense now, till they merge this "new architecture" stuff

Btw, please can you post the crashes log ?

[2019-07-23 12:20] jesmrec commented on #2573
The manual forcing is another solution for sure, but we are trying to know why the JobScheduler is not working properly in specific devices, while in other devices is working like a charm. @madmaxoft could you send us logs with the not-successful execution of camera uploads? let us know if you need any help. Logs are caught in `Settings` view, and enabled by tapping 5 times in the build number (bo

[2019-07-25 08:28] jesmrec commented on #2602
I managed to reproduce the problem.

That was a core bug, already fixed in 10.2. The problem was that the core response after asking for the avatar included the display name instead of the pic itself.

I encourage you to upgrade your server version to the newest (10.2.1), and tell us if you also see the issue fixed.

Thanks for reporting @prsnbrg

[2019-07-25 09:09] michaelstingl commented on #2605
@davigonz show this message later, after the user performed some actions in the app?

[2019-07-25 09:17] michaelstingl commented on #2118
@davigonz @jesmrec New iOS app doesn't have a feature to create or edit text files inside the app. We always had encoding problems. I'd rather prefer to improve the document provider features for frictionless editing with 3rd party "real" text editors..

[2019-07-25 10:50] prsnbrg commented on #2602
Yes the error no longer exists with oC 10.2.1.

Great
Thanks @jesmrec

[2019-07-25 10:50] #2602 closed

[2019-07-29 09:58] davigonz commented on #2524
Just tried to reproduce and seems to be fixed in `new_arch/shares` branch

[2019-07-29 09:58] #2524 closed

[2019-07-29 10:30] davigonz opened #2607 "[New arch] Modularization, decoupling and new error handling"
Specific issue to start modularizing the app, following the guidelines defined in #2351

- Tasks
    - [x] Split up code into different modules following a layers approach and move the corresponding shares code to those modules:
        - Presentation layer => **owncloudApp** module
        - Domain layer => **owncloudDomain** module
        - Data layer => **owncloudData** module
    - [x] Use mo

[2019-07-29 10:55] davigonz commented on #2523
In order to not duplicate information and have the generic architecture details in only one issue, I've just moved what I wrote here to the epic architecture issue. I will close this, please follow up the epic in https://github.com/owncloud/android/issues/2351

[2019-07-29 10:56] #2523 closed

[2019-07-29 11:09] davigonz opened #2608 "[New arch] Authentication (login)"
Login rearchitecture

Branch: `new_arch/login`

### Improvements:
- [x] Improve the UX OAuth2 flow to make it more clear https://github.com/owncloud/enterprise/issues/3451
- [x] Error handling: if server version is not supported, error displayed in login view is not accurate.
- [x] App password handling

### Issues to have a look at:
- [ ] Add a server certificate chain and fingerprint display men

[2019-07-29 11:34] #2567 closed

[2019-07-30 08:00] davigonz commented on #2503
Done, closing...

[2019-07-30 08:00] #2503 closed

[2019-07-30 10:54] davigonz opened #2610 "[New arch] Show share icons in filelist"
Show the icons in the filelist to know whether a file is shared via link or private.

### PRs
- App: https://github.com/owncloud/android/pull/2616

[2019-07-30 11:08] davigonz opened #2611 "[RELEASE] 2.12"
### TASKS:

 - [x] [GIT] Create branch `release_1.0.2` in owncloud/android-library from master  (almost feature-frozen)
 - [x] [GIT] Create branch `release_2.12` in owncloud/android from master (almost feature-frozen)
 - [x] [DEV] Update versionCode and number in build.gradle in android module
 - [x] [DEV] Fix Android Q bugs
 - [x] [DIS] Create changelog file (< 500 chars) and add to CHANGELOG.md

[2019-07-30 11:14] jesmrec opened #2612 "[BUG] Images are not detected in Android 9 gallery after being downloaded"
### Actual behaviour
Picture does not appear in Gallery app. After rebooting the device, the picture appear.

### Expected behaviour
Picture appears in Gallery app

### Steps to reproduce
1. Download an image from the oC Android app.
2. Open Gallery app.

Android 9
Samsung S8/S8+/S9/S9+/S10/S10+

Version 2.11.1
Server 10.2.1

https://github.com/owncloud/enterprise/issues/3449

### PRs

https://git

[2019-07-30 16:07] jesmrec commented on #2605
@davigonz i checked the rate dialog with the Twilight app above and buttons work.

@gute1 could you please give us more details?:

- The first appearance of the "rate us" view does not happen before one day after installation. Was this right for you?
- Which Android version is installed in your device?
- Which version of the app?

Thanks in advance.

[2019-07-31 14:12] ChrisEdS opened #2614 "[BUG] Local copy could not be renamed, try a different name"
### Actual behaviour
I installed your app on a Samsung S9 for the first time. When I entered the server URL I did get an error. I forgot the subfolder "/owncloud". I accepted my server certificate. After I entered the correct server URL with /owncloud I always get the error:
[code]

I always get the same error. In my WLAN with the local URL incl. SSL it
works. I think there is an entry in the file

[2019-07-31 14:26] ChrisEdS opened #2615 "[FEATURE REQUEST] As a user I want to be able to see bigger thumbnails and more condensed pictures"
### Problem
Since many users use the app to store pictures and photos, it would be very neat to have a display option, just like on the windows explorer, to be able to see bigger thumbnails and more condensed pictures. Indeed, when searching for specific ones, or just occasionally browsing is not that easy considering the very small thumbnail size.

### Solution
The possibility to scale the previe

[2019-07-31 14:35] ChrisEdS commented on #2615
Seems like another good solution: https://github.com/owncloud/android/issues/1402

[2019-07-31 16:37] michaelstingl commented on #2615
duplicate for https://github.com/owncloud/android/issues/1402

[2019-07-31 16:37] #2615 closed

[2019-08-01 09:16] michaelstingl commented on #2614
@ChrisEdS log available?

[2019-08-01 09:18] ChrisEdS commented on #2614
You have to log-in first in order to take logs, right?

[2019-08-01 09:21] michaelstingl commented on #2614
Hm, good point. `mitmproxy` as an alternative?

[2019-08-01 09:23] michaelstingl commented on #2614
Log into a working server first (demo.owncloud.com), then connect the broken server as a 2nd account)

[2019-08-01 09:24] ChrisEdS commented on #2614
I saw this error a few times when going through OTRS tickets. I can ask the users If they can provide some more information.

This should work.

[2019-08-01 09:25] michaelstingl commented on #2614
I've seen this multiple times too, but it was always caused by older ownCloud servers with the legacy WebDAV endpoint.

[2019-08-01 09:28] ChrisEdS commented on #2614
Which version should be used at least? The problem here is that the user explains that he tried with ownCloud for Android 2.0.8 as well.

[2019-08-01 10:55] davigonz commented on #2605
Let's take this issue off from the current sprint in favor of 2.12 release issue

[2019-08-01 16:48] michaelstingl commented on #2614
@ChrisEdS Please don't waste time with the 2.8, let us focus on 2.9.3+ and current ownCloud servers.

[2019-08-01 21:30] ChrisEdS commented on #2614
You're absolutely right. I will handle differently in the future. New is always better. :)

[2019-08-01 21:38] #2614 closed

[2019-08-02 09:45] #2612 closed

[2019-08-05 07:17] #2610 closed

[2019-08-05 12:52] #2598 closed

[2019-08-06 11:27] #2579 closed

[2019-08-06 12:25] #2591 closed

[2019-08-06 15:07] jesmrec commented on #2376
Since Android 2.11, logging option is available in Settings view (5 taps on commit hash number to view it). Maybe you can try to reproduce the conflicts issue and send us some logs to take a look @PVince81. It will be appreciated.

[2019-08-06 15:39] jesmrec opened #2620 "[FEATURE REQUEST] Logging coverage"
Several issues are not easy to reproduce like crash reports from Google Play, or other similar which steps are not specific.

Some examples:

- https://github.com/owncloud/android/issues/2562
- https://github.com/owncloud/android/issues/2561
- https://github.com/owncloud/android/issues/2605

In these specific cases, related with services. The aim will be increasing the logging reports to get more

[2019-08-07 08:52] davigonz commented on #2486
The shares with new architecture are done, follow the issues attached to #2351 epic to know more about what's coming in new architecture

[2019-08-07 08:52] #2486 closed

[2019-08-07 09:01] davigonz opened #2621 "[RELEASE] 2.12 beta1"
### TASKS:
 - [x] [COORDINATION] Get in touch with community/marketing team to publish a blog post, several days before releasing.
 - [x] [GIT] Create **release/1.0.2_beta.1** branch in owncloud/android-library from master
         - Update version code and name in build.gradle.
 - [x] [GIT] Create **release/2.12_beta.1** branch from master and:
    - [x] Update version code and name in build.grad

[2019-08-08 08:09] jesmrec commented on #2621
QA Checks performed (smoke test):

- [X] Auth basic
- [X] Auth OAuth2
- [X] Multiaccount
- [X] Transfers: download and upload
- [X] Basic file operations: move, copy, delete, rename
- [X] Share with user and groups
- [X] Public links
- [X] Upgrade from 2.11.1

Nexus 5X v8

[2019-08-08 09:06] jesmrec opened #2623 "[BUG] Files are overlapped if they have the same name during copy or move operations"
### Steps to reproduce
1. Copy a file to another folder. Then , we have two copies of the file
2. Move the file to the same folder

### Current behaviour
Only one copy of the file in target folder

### Expected behaviour
We are moving a file inside a folder in which, there is another file with the same name. File should be renamed to keep both, by adding a numeral like (2), (3)...

Reproduced with

[2019-08-08 11:24] #2621 closed

[2019-08-08 11:38] michaelstingl commented on #2554
Add link to information about X-REQUEST-ID (see https://github.com/owncloud/ios-app/pull/479 as example)

[2019-08-12 08:18] jesmrec opened #2624 "[FEATURE REQUEST] New permission in public links"
Public link folder has splitted up the `Download/View/Upload`permission in two:

- Download / View / Upload
- Download / View / Edit

This is the look in the web UI:

![Screenshot 2019-08-12 at 09 52 01](https://user-images.githubusercontent.com/14894746/62851840-cb8d1980-bce7-11e9-8acc-37d673ff7456.png)

Before, the  `Download / View / Upload` was a 15, now it is a 5.
`Download / View / Edit` is

[2019-08-13 10:41] jesmrec opened #2625 "[SPIKE] Authentication check"
The target of the current issue is checking the architectural/structural status of the authentication feature in order to split it up in several tasks that can be dealt in the Authentication epic: https://github.com/owncloud/android/issues/2608

Final results can be posted here, so we will create issues to have a cleaner epic

Issues created:

- Get rid of SAML implementation: https://github.com/o

[2019-08-16 10:25] ChrisEdS opened #2626 "[BUG] Changing the account does not work properly in some cases"
### Actual behaviour
Having an issue when two accounts have been added into the application that are hosted on the same server and you switch between them.

Often when switching between accounts, the application gets confused and in the end it will only show content from one of the accounts even if you switch to the other. When it happens the "manage accounts" shows the confusion, with the bold us

[2019-08-16 10:26] ChrisEdS commented on #2626
I will try to get a video of the behavior and logs in addition.

[2019-08-17 06:17] hafteto opened #2628 "[BUG] owncloud Android not sync all files"
### Actual behaviour

Not all files from server are synced to android. Manual or with Available Offline
Issues are with some *.js files that report error downloading.

Error: Download of xxx.js could not be completed.

Using Nextcloud Android client sync all files properly.

### Expected behaviour
All files and extensions to be synced and downloaded to device.

### Steps to reproduce
Files are upl

[2019-08-17 06:29] hafteto commented on #2628
Actualy found error in server log

{"reqId":"XVeSfrn8QFDIMrYMXPAw3wAAAAM","level":3,"time":"2019-08-17T05:37:02+00:00","remoteAddr":"10.10.10.1","user":"user","app":"index","method":"GET","url":"\/index.php\/apps\/files\/api\/v1\/thumbnail\/256\/256\/folder\/band_1.js","message":"Exception: {\"Exception\":\"OCP\\\\Files\\\\NotFoundException\",\"Message\":\"\\\/user\\\/files\\\/folder\\\/band_1.js\

[2019-08-17 11:37] #2628 closed

[2019-08-17 11:37] hafteto commented on #2628
Sophos Web Server Protection caused the issues.

[2019-08-19 10:20] jesmrec commented on #2576
First round will run over Pixel2 with latest Android Q beta, to the 2.12RC of the app, that will be the one in market when Android Q is released.

[2019-08-19 10:30] jesmrec commented on #2576
### (1)

1. Attach an account
2. In three-dot-menu, select "Refresh account"

Current: crash
Expected: account refreshed

[2019-08-19 12:07] jesmrec commented on #2576
### (2)

OAuth2 sessions are not being renewed when token expires. I cheated a server to decrease the expiration time from 1h to some minutes, and at the moment the time is up, the 401 comes but does not trigger the request to renew the token. Not sure which reason for AndroidQ not to behave correctly, but the same scenario with the same server worked correctly with Android 9 and 7.

[2019-08-19 12:32] davigonz commented on #2628
Ok, glad to see it works for you now

[2019-08-19 12:33] davigonz commented on #2626
Ok, thanks for the feedback

[2019-08-20 10:07] davigonz commented on #2576
@jesmrec the bugs are already fixed in `release_2.12` branch

[2019-08-20 10:35] jesmrec opened #2630 "[FEATURE REQUEST] Increase test coverage in SAF implementation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-08-20 12:33] jesmrec opened #2631 "Get rid of Travis"
Since new architecture sharing is merged into `master` branch, Bitrise is the CI system in which the app is built and tests are triggered.

So, at this point, we can get rid from Travis

### PR

- App: https://github.com/owncloud/android/pull/2642
- Library (if needed): https://github.com/owncloud/android-library/pull/261

[2019-08-20 14:35] davigonz opened #2632 "[New arch] Get rid of SAML implementation"
### TASKS

- [ ] Research (if needed)
- [ ] Create `new_arch/get_rid_saml` branch
- [ ] Development tasks
  - [ ] Implement whatever
  - [ ] ...
- [ ] Code review and apply changes requested
- [ ] Design test plan
- [ ] QA
- [ ] Merge `new_arch/get_rid_saml` branch into master

### PR

- App
- Library (if needed)

[2019-08-20 14:37] davigonz opened #2633 "[New arch] OpenID connect implementation"
### TASKS

- [x] Check [AppAuth](https://github.com/openid/AppAuth-Android)
- [x] Create `open_id_support` branch
- [x] Development tasks
  - [x] Use `openid` as scope value
  - [x] Use service discovery or manual endpoints depending on a setup parameter
  - [x] Polish and clean the code
  - [x] Multiaccount
  - [x] Check flow (Oauth2 view or not)
  - [x] Refresh token
- [x] Code review and apply

[2019-08-20 16:30] jesmrec commented on #2611
### QA

For this release, will not be performed a whole regression, since the contents will be focued in the re-architecting of the share feature.

These are the stages after the stuff was finished on a development point of view:

1. Sanity test over the whole sharing feature in Android: https://github.com/owncloud/QA/blob/master/Mobile/Android/Release_2.12.0/Sharing%20-%20regression.md

2. First

[2019-08-21 08:14] jesmrec commented on #2611
Everything fine. Approved on my side.

[2019-08-21 09:10] davigonz opened #2634 "[New arch] Login arch: check URL, check credentials and get user info (basic auth)"
The steps in the login process are:

1. _FileDisplayActivity_ is created.
2. `addAccount(...)` method from _AccountAuthenticator_ is called, which starts _AuthenticatorActivity_.
3. User introduces username and password and press login button.
4. _AuthenticatorAsyncTask_ creates two clients (with no accounts) using `OwnCloudClientFactory.createOwnCloudClient(...)` and perform _ExistenceCheckRemote

[2019-08-21 11:46] davigonz opened #2635 "[New arch] Unravel ownCloud Client + ownCloud Account mess (Session handling)"
The owncloud clients are objects used by the library to execute remote operations and contain credentials. These objects would be pretty easy to maintain if it weren't for the multiaccount support, which forces us to have a dependency between accounts and clients, reusing clients for an account.

Nowadays the creation of ownCloud Client is handled by different classes:
- OwnCloudClientFactory
- Ow

[2019-08-21 14:20] davigonz opened #2636 "[New arch] Stop supporting <10 servers"
We have a bunch of constants to consider specific cases for servers with < 10 versions.

![Screenshot_2019-08-21_at_16_12_38](https://user-images.githubusercontent.com/15261363/63439697-d1dd6d00-c42e-11e9-897f-881570811735.png)

@michaelstingl what about removing them? Removing just a couple could help us a lot for handling ownCloud clients in a proper way, as I detailed in https://github.com/ownc

[2019-08-21 14:25] michaelstingl commented on #2636
@davigonz Sure. New iOS app is also oC10+.

Who do we need version mapping at all? Preferred way would be to read the capabilities for a feature from the server?

[2019-08-21 15:45] davigonz commented on #2611
@jesmrec @michaelstingl everything is ready but since we have published today the architecture article and the release article is planned for tomorrow, I will press the button to roll out the app tomorrow, just to not have more than one blogpost a day

CC / @lefherz

[2019-08-21 16:06] davigonz commented on #2625
Spike finished, have a look at the issues posted in the first comment

[2019-08-21 16:07] #2625 closed

[2019-08-22 06:38] jesmrec commented on #2539
@abelgardep when a file is created and saved in oC, the is the file removed from original path (moved)?

[2019-08-22 07:17] abelgardep commented on #2539
I suppose it depends on how you create that file. If you create a file and u didn't save anywhere, if you save it in OwnCloud it should save only in oC. If you open a file that exists locally and save in oC it should be like a copy.

[2019-08-22 07:33] jesmrec commented on #2539
thanks for the clarification!

[2019-08-22 07:39] jesmrec commented on #2539
### (1)

Please check these steps out (regression):

1. Open a file in oC in an external app
2. Change the content of the file

Current: file in oC is not uploaded till you open again the app and open the updated file.
Expected (`master` behaviour): In the moment the changes are saved in the external app, the file is uploaded to oC

MIA2 Android 9

[2019-08-22 08:16] davigonz commented on #2539
@jesmrec could you please detail what is the external app you are using?

[2019-08-22 08:33] jesmrec commented on #2539
@abelgardep i checked with :

- MSWord
- Text Editor (https://play.google.com/store/apps/details?id=com.byteexperts.texteditor&hl=en_US)

[2019-08-22 09:39] michaelstingl commented on #2539
Create a new file in MSWord and "Save as…" in ownCloud doesn't work for me yet (with @abelgardep 's `*.APK`)

[2019-08-22 09:59] jesmrec commented on #2539
details are always welcome. I was able to create and save.

[2019-08-22 12:21] #2611 closed

[2019-08-22 13:07] PVince81 commented on #2376
I have the same error now on another file which I edited recently on desktop which is also marked for offline sync on mobile.

During several background syncs, I get a notification about file conflict even though I never edited this file on mobile before, only viewed.

Last part of the mobile sync log looks like this:
[code]

I checked the server access logs and there are no traces of any conflict

[2019-08-22 13:09] PVince81 commented on #2376
I didn't have the logs enabled at the time where I set this file for offline sync.
I've done so for another text file now and will observe if this happens again.

[2019-08-22 13:10] jesmrec opened #2638 "[FEATURE REQUEST] Settings accessible even when no account is attached"
Settings view is only accesible when an account is attached. The only path to get it is in the drawer menu.

Actually, logs are available and in case we have problems in authentication stage, user will not be able to reach "Settings".

To fix that, a link to "Settings" should be placed somewhere in the Login view. Typically, in the bottom right corner (other ideas welcome).

The access to Settings

[2019-08-22 13:24] jesmrec opened #2639 "[BUG] URL of old servers (not supported) shows an non-accurate error message"
Server versions older than 9.1 are not supported since the Android app has moved to the new webDAV endpoints. For this reason, it is not posible to login in these older versions anymore.

If you try to login, the error is:

`Local copy not be renamed; try a different name`

Error message should show the correct situation, f. ex. :

`Server version not supported anymore, please move to a newer one`

[2019-08-22 13:34] davigonz commented on #2376
It seems that our background job to synchronize available offline files is doing something wrong.

We have extra logic in https://github.com/owncloud/android/blob/master/owncloudApp/src/main/java/com/owncloud/android/operations/SynchronizeFileOperation.java#L188

[2019-08-22 13:38] PVince81 commented on #2376
What if there is a slight drift in the times ? Maybe recheck whether `mLocalFile.getLastSyncDateForData()` is really set at the very last moment ?

I wonder if there is a possibility through delays or race conditions that could cause the local modification date to be higher than the sync date.

Whenever you first download the file after marking for offline sync, I guess its local modification date

[2019-08-23 06:53] jesmrec commented on #2539
Checking the feature with the latest beta of Android Q (patch from 1 Aug), also works for me by using MSWrd and the app text editor mentioned above.

[2019-08-23 07:40] davigonz commented on #2376
We also take into account the modification time [from `Last-Modified` header](https://github.com/mendhak/owncloud-android-library/blob/master/src/com/owncloud/android/lib/resources/files/DownloadRemoteFileOperation.java#L143).

The bug likely started to happen when we replaced the old available offline implementation with the jobs one, in which we use [AvailableOfflineSyncJobService](https://githu

[2019-08-23 07:44] PVince81 commented on #2376
What is not clear to me is whether the various checks are implying the server's time and client's time to be 100% synchronized, in which case small time drifts could exist ? If not then the problem is likely elsewhere. If yes then it might be possible to manually create such time drifts.

[2019-08-23 08:45] jesmrec commented on #2639
In scope of #2636

[2019-08-26 07:58] PVince81 commented on #2356
Just got the lost auth issue again today and here are things I noticed:

The old token / app password, let's call it "nokia-oc-auth", is the one that lost access.
I can still see it in the database and it has a "lastactivity" of "1544552952" which is around 12/11/2018 @ 6:29pm (UTC). This tells me that "lastactivity" is the creation date of the token.

I have already created a new app password wit

[2019-08-26 08:06] PVince81 commented on #2356
Client logs follow:

First request that passed:
[code]

Then first request that failed:
[code]

So far I'd more suspect an issue on the server.
Still, would be good to know if the behavior with the cookies (restoring cookies / saving cookies) looks normal.

[2019-08-26 12:48] jesmrec commented on #2539
Approved on my side

[2019-08-27 05:12] thgoebel commented on #2507
It has been working again lately, even with the latest v2.12. No clue why, but since I now feel that it's more likely to have been a server issue I'm closing this.

[2019-08-27 05:12] #2507 closed

[2019-08-27 08:07] davigonz opened #2643 "Create new app in Bitrise to build the library when pushing commits or creating PRs"
It needs https://github.com/owncloud/android-library/issues/262

[2019-08-27 08:55] #2539 closed

[2019-08-27 10:34] jesmrec opened #2644 "[RELEASE] 2.12oem"
### TASKS:

- [x] [GIT] Create `release_2.12_oem` branch in owncloud/android from master, if there's something new to include.
- [x] [QA] Test plan
- [x] [DIS] Generate test APKs files from `release_2.12_oem` branch in owncloud/android
- [x] [GIT] Create and sign tag `oc-android-2.12_oem` in HEAD commit of `release_2.12_oem` branch or 2.12 commit (depending on if there's new changes or not), in ow

[2019-08-27 11:28] jesmrec opened #2645 "[RELEASE] 2.13"
### TASKS:

 - [x] [GIT] Create branch release_1.0.3 in owncloud/android-library from master
 - [x] [GIT] Create branch release_2.13 in owncloud/android from master
 - [x] [DEV] Update version number and name in build.gradle in owncloudComLibrary module
 - [x] [DEV] Update version number and name in build.gradle in owncloudApp module
 - [x] [DIS] Create changelog file (< 500 chars) and add to CHAN

[2019-08-28 08:35] #2631 closed

[2019-08-28 08:42] jesmrec commented on #2356
thanks again for the detailed description. during the re-architecture of the authentication feature, we will review the cookies behaviour... right now is even not very clear for us from a server point of view. Will check.

[2019-08-28 14:18] jesmrec commented on #2120
Already done!

[2019-08-28 14:18] #2120 closed

[2019-08-28 14:28] jesmrec commented on #2009
Not reproducible anymore

[2019-08-28 14:29] #2009 closed

[2019-08-29 07:07] #2643 closed

[2019-08-29 12:14] jesmrec commented on #2497
### (1)

1. Add two oC accounts to the device
2. Using the docum provider, copy a file from one to the other one

Current: file is not copied. This error is displayed:

![Screenshot 2019-08-29 at 14 13 43](https://user-images.githubusercontent.com/14894746/63939314-45066500-ca67-11e9-8c3a-a2616605882f.png)

[2019-09-03 08:55] jesmrec commented on #2644
QA.

Checks to do:

- [ ] SAML auth
- [ ] SAML session expiration
- [ ] Transfers: uploads and downloads
- [ ] Basic file operations: folder creation, copy, move, delete, rename

Sharing (main topic):

- [ ] Create private share with user
- [ ] Create private share with group
- [ ] Modify permissions private share
- [ ] Resharing
- [ ] Remove private share

- [ ] Create public share file
- [ ] Cre

[2019-09-03 09:47] jesmrec commented on #2644
### (1)

In a SAML server:

1. Attach an account
2. Share a file with another user

Current: when the app looks for the sharee, crashes.

Stacktrace:

[code]

Expected: no crash

[2019-09-03 13:16] #2280 closed

[2019-09-03 14:49] jesmrec commented on #2644
bug fixed, and all tests passed. Approved.

[2019-09-03 15:56] jesmrec opened #2651 "[FEATURE REQUEST] Scratch set up for Settings"
Related to https://github.com/owncloud/android/issues/2638

AC:

- If no accounts are attached: instant uploads must be disabled/hidden
- If all accounts are removed: all instant upload set up must be removed
- Security settings: no changes
- More section: no changes

[2019-09-04 09:53] davigonz commented on #2644
Everything is done in our side

[2019-09-04 09:53] #2644 closed

[2019-09-04 10:22] davigonz commented on #2620
Done, it will be included in 2.13

[2019-09-04 10:22] #2620 closed

[2019-09-04 14:21] jesmrec opened #2653 "[BUG] UI glitch view uploading content to a non-allowed folder"
### Steps to reproduce
1.  Create a guest account
2.  Log in the account. You will see the folder shared.
3. Upload files outside the folder

### Actual behaviour
Content is uploaded (check uploads view). By refreshing the file list, the content is vanished.

### Expected behaviour
Error permission after uploading, or avoiding users to upload outside the shared folder

Same behaviour with these st

[2019-09-05 13:00] jesmrec opened #2655 "[BUG] OAuth2 token is not renewed after being revoked"
### Steps to reproduce
1.  Start an OAuth2 session
2. After some minutes and correct renewals, open webUI -> Settings -> Security, and revoke the Android session
3. In the app, session finishes, displaying a Snackbar "Authentication Failed".  Open "Manage accounts", tap on key icon to re-authenticate.
4. Reauthentication

### Actual behaviour
From this point, the app is not automatically renewed a

[2019-09-10 07:00] davigonz commented on #2554
Done, to be included in 2.13

[2019-09-10 07:00] #2554 closed

[2019-09-11 12:25] davigonz commented on #2577
Done, will be included in 2.13

[2019-09-11 12:25] #2577 closed

[2019-09-13 12:47] davigonz opened #2658 "[BUG] Copy a folder with subfolders to different accounts doesn't work as expected"
### Actual behaviour
- Folder, subfolders and containing files are not copied.

### Expected behaviour
- Folder, subfolders and containing files are properly copied.

### Steps to reproduce
1. Open Files app or other app supporting the document provider.
2. Select an ownCloud account from the side menu.
3. Long press a folder with subfolders and files inside and press copy to in the three-dots men

[2019-09-13 12:54] davigonz opened #2659 "[BUG] Move files to a different oC account using the document provider doesn't work as expected"
### Actual behaviour
- Notification Couldn't move 3 items appears.

### Expected behaviour
- Files are properly moved.

### Steps to reproduce
1. Attach two accounts to oC app
2. Open Files/Download app to work with document provider
3. Select several files (i selected three)
4. Move the selected files to the another oC account

### Environment data
Android version: 9

Device model: Xiaomi MI A2

[2019-09-13 13:08] davigonz opened #2660 "[BUG] ownCloud icon doesn't appear in the list of opened apps"
### Actual behaviour
- ownCloud icon doesn't appear

[<img src="https://user-images.githubusercontent.com/15261363/64864830-39ef2f80-d638-11e9-8773-838b932568b2.png" width="350px"/>](https://user-images.githubusercontent.com/15261363/64864830-39ef2f80-d638-11e9-8773-838b932568b2.png)

### Expected behaviour
- ownCloud icon appears

### Steps to reproduce
1. Open the ownCloud app.
2. Open the list

[2019-09-13 13:42] shang001 opened #2661 "App doesn't react when iBlue is activated"
### Actual behaviour
I have the app iBlue installed to diminish the impact of the blue light on the eyes. When it's activated, OwnCloud doesn't react: impossible to navigate to folders, to scroll, etc... It took me a long time to understand that when I disable iBlue, ownCloud can now react.

### Expected behaviour
When iBlue is activated, owncloud should continue to react to user actions.

### Ste

[2019-09-13 14:49] michaelstingl commented on #2661
duplicate for https://github.com/owncloud/android/issues/1929

Please check docs:
https://doc.owncloud.com/android/#allow-light-filtering-apps

[2019-09-13 14:49] #2661 closed

[2019-09-16 17:19] mueller-ma commented on #1590
I have this issue as well:
[code]

@jesmrec Please reopen this issue.

[2019-09-16 17:22] mueller-ma commented on #1590
Version 2.12 from F-Droid.

[2019-09-16 22:20] jesmrec commented on #1590
any steps or clue to reproduce it?

[2019-09-17 17:29] mueller-ma commented on #1590
Not really. The app crashes each time when I open one specific folder. I removed everything except two folders from that folder via the desktop client. I also removed the `owncloud` directory on the files partition on my phone. App still crashes.

[2019-09-18 11:59] davigonz opened #2662 "[BUG] Copying/Moving files to ownCloud through document provider does not work if app folders are not created"
### Actual behaviour
- Files are not copied/moved to ownCloud.

### Expected behaviour
- Files are properly copied/moved to ownCloud.

### Steps to reproduce
1. Remove all the folders related to ownCloud from your internal storage.
2. Install ownCloud app.
3. Open Files/Downloads app.
4. Select a bunch of files
5. Tap three dots button and select copy or move.

### Environment data
Android version

[2019-09-20 10:33] michaelstingl commented on #413
New ownCloud iOS app can inspect, approve, or reject certificates:
https://doc.owncloud.org/ios-app/ios_settings.html#trusted-certificates

MDM-admins also can prevents users from accepting self-signed certificates.

[2019-09-20 10:34] michaelstingl commented on #617
deprecated server app

[2019-09-20 10:34] #617 closed

[2019-09-20 10:35] jesmrec commented on #634
New implementation of uploading picker (android native) solves this problem.

[2019-09-20 10:35] #634 closed

[2019-09-20 10:38] davigonz commented on #585
We are currently using [Glide](https://github.com/bumptech/glide) library but it does not support SVG afak, I will close this, follow up https://github.com/owncloud/android/issues/1033

[2019-09-20 10:38] #585 closed

[2019-09-20 10:40] jesmrec commented on #764
I will take a look

[2019-09-20 10:41] jesmrec commented on #274
Done as Android document provider

[2019-09-20 10:41] #274 closed

[2019-09-20 10:42] michaelstingl commented on #789
Replaced with new media play implementation. Please check with current version.

[2019-09-20 10:45] jesmrec commented on #477
will not do it

[2019-09-20 10:45] #477 closed

[2019-09-21 13:34] schwedenmut commented on #2407
It really is a pitty that it seems like nobody of the OC team cares. But hey, then I will go on patching this locally to make this work for me....

[2019-09-22 19:49] schwedenmut commented on #1590
I am experiencing the same issue while enabling picture sync and trying to change the default remote Upload folder.
Version 2.12 fresh install.
I will so some debugging tomorrow to figure out whats going wrong exactly.

[2019-09-24 08:34] jesmrec opened #2663 "Changes in authentication flow"
Currently, when authentication is revoked (token removal etc..), app shows an error and give the user the choice to move to list of accounts

AC:

- Error message: more accurate message.
- Redirection to login view instead of accounts view
- Shortcut to accounts view in login view. Check if it is feasible (optional)

Related: https://github.com/owncloud/enterprise/issues/3451

### PRs:
- App: http

[2019-09-24 09:54] #2496 closed

[2019-09-24 10:06] jesmrec opened #2664 "[RELEASE] 2.13.1"
### TASKS:

- [x] [GIT] Create branch `release_2.13.1` in owncloud/android from master
- [x] [DEV] Update version number and name in build.gradle in owncloudApp module
- [x] [DIS] Create changelog file (< 500 chars) and add to `CHANGELOG.md` in owncloud/android
- [x] [QA] Design Test plan
- [x] [QA] Regression Test plan
- [x] [DIS] Generate test APK file from `release_2.13.1` branch in owncloud/an

[2019-09-24 11:39] jesmrec opened #2665 "[SPIKE] Error Handling inside new architecture modularization"
This spike is intended to get a clearer idea about error handling integrations through all modules inside the app.

Goals:

- Check if exceptions are the best way to handle errors in every layer
- How to escalate errors to the upper layers

-------------------
Edited by @davigonz:

Some considerations after checking the code:
- `RemoteOperationResult` object will not longer appear above data layer

[2019-09-24 15:55] davigonz commented on #2645
Initial tasks done and release branches created, @jesmrec ready to test

[2019-09-24 16:05] pmaier1 opened #2667 "Implement dynamic roles for server 10.3+ and oCIS"
See Desktop client ticket https://github.com/owncloud/client/issues/7487

[2019-09-24 16:11] davigonz commented on #1590
Hi @mueller-ma , thanks for reporting this. Removing the owncloud directory from the internal storage on your phone might not be the best idea, it could trigger other errors in the app.

By watching your logs, the problem seems to be related to some kind of files or folders sorting by date. I would say that the files included in the folder that triggers the crash do not have a modification timesta

[2019-09-24 16:20] pmaier1 commented on #2624
https://github.com/owncloud/android/issues/2667

[2019-09-24 16:20] #2624 closed

[2019-09-24 16:22] pmaier1 commented on #2667
@michaelstingl this needs to be scheduled, thanks!

[2019-09-24 16:27] davigonz commented on #2407
Hi @schwedenmut , my apologies for the late response. We are very focused on some architectural changes in the current app.

I see you have already discovered the reason of your issue and even written some pieces of code. I highly encourage you to send us your solution via a pull request, have look at https://github.com/owncloud/android#join-development, it might be useful. Anyway, if you have any

[2019-09-25 11:08] sid3windr commented on #2212
I've had this exact same problem for a very long time as well.  Currently on 2.12 on OxygenOS 9.0.16. It is somewhat difficult to reproduce because the app also keeps crashing when I'm on the Uploads screen.

[2019-09-25 15:07] andreaslink-de commented on #2212
It's more than sad :-/. Over a year passed now and nothing changed here so far. I'm still regularly testing it again and went over to Nextcloud in parallel as the photoupload there works like a charm (including auto retry, only in WiFi, etc.).
Are there any plans, when this issue will be prioritized or the app be rewritten?

[2019-09-25 15:20] Ryion404 commented on #2212
The problem persists through Android 10 build September 2019.
Owncloud version 2.12.

As a work around, I wait for the popup and hit "wait", then the uploads usually seem to go through well unless the app is killed by the android OS.

Please let me know if there are logs that would be helpful.  I would be more than helpful to provide them.

Thank you for your time!

[2019-09-25 16:47] jesmrec opened #2668 "[BUG] Non-recognised image formats leads to black"
### Actual behaviour
Image is downloaded, but an eternal spinner remains with a black screen

### Expected behaviour
File is not openable, so any placeholder or similar should be displayed as well as in other formats

### Steps to reproduce

To reproduce i used a HEIC image

1.  Open a HEIC image (you will need an iPhone to upload easily)

Can this problem be reproduced with the official owncloud

[2019-09-25 16:51] jesmrec commented on #2645
### (1)

With Android 7, Copy and Move operations are not performed over folders between different providers.

These are the steps i performed:

1. Attach an oC account to the app, browse, and download some files, to assure the ownCloud directory is created inside the device storage. (to be sure https://github.com/owncloud/android/issues/2662 does not happen)
2. With document provider (Downloads a

[2019-09-25 16:57] michaelstingl commented on #2212
@andreaslink-de the team is very engaged doing a heavy rework of the ownCloud Android app to make the app more reliable and future-proof:
https://owncloud.org/news/tag/android/

@davigonz could you provide a perspective when such issues will be improved with the [new architecture](https://github.com/owncloud/android/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3A%22New+architecture%22+)?

[2019-09-25 17:00] michaelstingl commented on #2212
@Ryion404 Thanks for your help! A debug log feature was added. Please check the [`TROUBLESHOOTING.md`](https://github.com/owncloud/android/blob/master/TROUBLESHOOTING.md)

[2019-09-26 07:02] davigonz commented on #2645
Regarding [(1) bug](https://github.com/owncloud/android/issues/2645#issuecomment-535112654), folder creation is not supported in "Downloads" location so it's not possible to copy folders there. The same behaviour is reproducible when copying folders from other cloud solutions.

[2019-09-26 08:22] jesmrec commented on #2645
Beyond the document provider, some smoke test checks were performed:

- [X] Authentication basic
- [X] Authentication OAuth2
- [X] Transfers (uploads/downloads)
- [X] Basic file operations (rename, remove, move, copy, open, av. offline)
- [X] Upgrade from 2.12

[2019-09-26 08:41] jesmrec commented on #2645
Approved on my side.

[2019-09-26 09:55] davigonz commented on #2645
Let's move it forward then

[2019-09-26 10:34] davigonz commented on #2645
We are done here, waiting for spreading the word

[2019-09-26 10:36] #2645 closed

[2019-09-26 18:35] prsnbrg commented on #2645
Please publish this version on F-Droid.

[2019-09-26 18:37] prsnbrg commented on #2664
Reminder: Please publish this version on F-Droid after finalizing.

[2019-09-27 06:56] davigonz commented on #2645
It will be automatically updated in the coming days

[2019-09-30 06:47] davigonz commented on #2664
Same as https://github.com/owncloud/android/issues/2645#issuecomment-535815653, it will be automatically published a few days after the release

[2019-09-30 10:08] davigonz commented on #2212
Well, we are currently focused on the login process, synchronization should come after that.

[2019-09-30 13:48] McGeifer commented on #2249
After getting my new Xiaomi MI 9T I ran into problems aswell. I only allow the upload via Wi-Fi and it is not working at all (there is no error message or something else).

After a bit of playing around with the settings in the App I could reproduce a very strange behaviour. If I deselect the "Only upload via Wi-Fi" it instantly starts to upload all the pictures that are new for the server. My Wi-

[2019-09-30 13:51] McGeifer commented on #2237
After getting my new Xiaomi MI 9T I ran into problems aswell. I only allow the upload via Wi-Fi and it is not working at all (there is no error message or something else).

After a bit of playing around with the settings in the App I could reproduce a very strange behaviour. If I deselect the "Only upload via Wi-Fi" it instantly starts to upload all the pictures that are new for the server. My Wi-

[2019-09-30 20:30] MegaBrutal opened #2671 "[FEATURE REQUEST] Restore option to move files upon manual upload"
**Describe the solution you'd like**
Restore the option to move files to the selected ownCloud directory upon uploading files.

**Describe alternatives you've considered**
At least keep the file modification time when copying the files, if move is really not possible anymore.

**Additional context**
In previous versions of the app, when I selected files for upload, a question appeared where I coul

[2019-10-01 07:05] #2665 closed

[2019-10-01 10:51] jesmrec commented on #2237
Thanks for the detailed steps!! luckily we will able to reproduce!!

[2019-10-01 12:39] davigonz commented on #2671
Hi @MegaBrutal , thanks for reporting this, we decided to get rid of this option and started relying on the Android document provider to perform that kind of operations.

From 2.13 you can move files through the document provider by using the **Downloads** or **Files** app of your device. When opening any of these apps, you should be able to see your ownCloud accounts in the side menu and copy/mov

[2019-10-01 19:40] MegaBrutal commented on #2671
This is the file manager of my Android, so it seems. With this, I tried to move files into the ownCloud folder, but nothing happened. I expected the ownCloud app to notice the files I dropped there and upload them to the server.

![Screenshot_20191001-205515](https://user-images.githubusercontent.com/22104628/65993317-432e2800-e491-11e9-8d70-5a51d38eaa13.png)

I have Android 6.0.1, software data b

[2019-10-02 07:28] davigonz commented on #2671
@MegaBrutal the document provider support differs between devices, some of them have the **Downloads** or **Files** app pre-installed by default, others need an external app to support it. In the video below we used [this Files app](https://play.google.com/store/apps/details?id=com.marc.files&hl=es_419)

https://i.imgur.com/RqxH61O.mp4

[2019-10-02 19:40] MegaBrutal commented on #2671
I installed the same application you linked, but it looks a little different for me. The side menu appears and I can select ownCloud, but then it only allows me to copy files, there is no option to move. At least files copied this way really get uploaded to the server, but then I can do the same with the ownCloud app, so I'm not going anywhere with this.

![Screenshot_20191002-210828](https://user

[2019-10-03 07:00] #2663 closed

[2019-10-04 14:50] hannesa2 commented on #2460
Here is a attempt to fix it https://github.com/owncloud/android/pull/2679

[2019-10-04 14:52] hannesa2 commented on #2573
Here is a attempt to fix it https://github.com/owncloud/android/pull/2679

[2019-10-08 14:15] davigonz commented on #2664
@jesmrec ready to QA

[2019-10-09 10:00] jesmrec commented on #2664
Since this version only includes https://github.com/owncloud/android/pull/2670, check over `release_2.13.1` branch will be:

- [ ] Check OAuth2 flow: renewal and revokal of tokens
- [ ] Basic auth
- [ ] Basic operations (create folder, copy, move, rename, delete)
- [ ] Transfers (uploads, downloads)
- [ ] SAML auth
- [ ] Upgrade from 2.13
- [ ] Upgrade from 2.12 (since 2.13 is a "short" release an

[2019-10-10 07:54] jesmrec commented on #2664
Everything passed. Approved.

[2019-10-10 10:38] davigonz commented on #2664
Release completed from our side, closing this...

[2019-10-10 10:38] #2664 closed

[2019-10-10 12:24] abelgardep commented on #2671
Hi @MegaBrutal, thanks for reporting. First of all, could you please change your phone language to English just for this? It would be useful to try to solve this problem.

As David said before, we can perform move operation inside Files App, but there are some folders that do not allow this operation. For example Recent folder.

Could you open oC account from side menu and check which options do y

[2019-10-11 01:40] MegaBrutal commented on #2671
Here's how I copy a file with the Files app. Notice how I have no option to move file at 0:08, only copy. The side menu becomes available only after I select copy, I open it at 0:11. Nothing is different if I select Drive. I must select the operation before selecting the target cloud anyway.
Maybe the problem is with the Files app? Is there any better I should try?

https://cloud.megabrutal.com/s/

[2019-10-13 07:02] magicbrothers opened #2684 "[BUG] Crash when only starting the app (OnePlus One, LineageOS, F-Droid)"
### Actual behaviour
- App crashes instantly after opening it. No interaction possible

### Expected behaviour
- Show a loginscreen or something (I dont know, because its the first time I (try to) use the app.)

### Steps to reproduce
1. Download from F-Droid
2. Install
3. Try to launch

### Environment data
Android version: 9

Device model: A001 (OnePlus One)

Stock or customized system: Custom (

[2019-10-14 07:18] #2300 closed

[2019-10-14 07:18] davigonz commented on #2300
Done, to be included in 2.14

[2019-10-14 07:38] davigonz commented on #2684
Hi @magicbrothers , thanks for reporting this, the logs you attach are pretty weird in my opinion so I suspect the problem is related with your custom OS, LineageOS 16. Do you have a different device to try the same steps? I've just downloaded 2.13.1 from F-Droid in a Android 10 device and it works like a charm, thanks!

[2019-10-14 07:40] davigonz commented on #2671
@MegaBrutal I see... it's the first time we see there's no move option in a device nor other additional options that should be there, could you tell us what device are you using so we can try the reproduce the same? Thanks

[2019-10-14 09:05] magicbrothers commented on #2684
I tried it now on a Samsung Galaxy S4, also with LineageOS 16 and it crashed.
As you said, it's probably related to LineageOS, not the OnePlus One.
I dont know a lot about logs but if you can tell me, what you need, I can hopefully find it.
Thank you the answer! :)

[2019-10-15 09:30] abelgardep commented on #2671
Thanks @MegaBrutal for that video. It is really useful, and we can see that this option is not always available. We should check if we are able to recover that move option inside oC App but using the native way. As we can see [here](https://developer.android.com/guide/topics/providers/document-provider.html#delete), maybe we could delete the file we are uploading once upload is finished and if it

[2019-10-20 19:16] lefherz opened #2685 "[BUG] app loses OAuth2 token when app is closed"
### Actual behaviour
Every time I close the app and open it again, it asks me to re-authenticate. Automated uploads in the background also fail after I close the app, with a notification: "Upload error, you need to log in again - wrong username or password"

### Expected behaviour
The app should stay authenticated in the background.

### Steps to reproduce
1. login to an ownCloud account with OAut

[2019-10-21 12:27] michaelstingl commented on #2685
@lefherz please check 10.3.0 release notes:
https://doc.owncloud.org/server/10.3/admin_manual/release_notes.html#oauth2-and-session-handling-improvements

[2019-10-21 13:50] lefherz commented on #2685
Ah, great! I thought that it might be an Android issue because the Desktop clients aren't affected. A good reason to finally upgrade my server ;) I'll get back to this issue as soon as I'm done.

[2019-10-22 07:14] abelgardep commented on #2630
At the moment, i could not find any official documentation about how to test a document provider. So i close this issue for the moment. If there is any news about it, we could reopen it, and implement it.

[2019-10-22 07:14] #2630 closed

[2019-10-22 10:44] michaelstingl commented on #2071
Related blog post:
https://owncloud.org/news/owncloud-app-in-review-heaven/

[2019-10-22 11:58] jesmrec commented on #2684
@magicbrothers you will find here how to get logs:

https://github.com/owncloud/android/blob/master/TROUBLESHOOTING.md

[2019-10-28 22:48] michaelstingl commented on #2634
For Basic Authentication, it would be cool if the URL the user enters could include the username

User enters`user@mycloud.domain.com`so **username** is automatically filled with `user` and the  **URL** is `mycloud.domain.com`. In case the **username** itself includes the "`@`", users need to use proper URL encoding `user%40host@mycloud.domain.com`.

[2019-10-29 11:11] jesmrec commented on #2376
I gave a new try, by using Android 7 & Android 9

With these steps i was not able to reproduce either.

I got the incorrect conflict, with steps similar to the original. The point is that these steps do not always work (5 tries, 3 reproduced)

1. Set a txt file as available offline
2. Edit the file with Android and Desktop client. Desktop client will sync at the moment, Android doesn't (i edited t

[2019-10-29 15:18] GM-Script-Writer-62850 commented on #10
Is it possible to do this within the internal storage?
for example i have my music folder on my server i want this accessible offline in a non-default location namely /www/public/music

[2019-10-30 08:23] PVince81 opened #2688 "[FEATURE REQUEST] Additional nuance for download indicator when local file is out of date"
**Is your feature request related to a problem? Please describe.**
When a file is not mark as available offline but downloaded locally, it receives a green download indicator. When done once this is fine.
However when the file has changed on the server, I see the mtime change to "a few seconds ago" but the indicator is still green. This many times led me to believe that the file was downloaded alr

[2019-10-31 06:48] AICT20 opened #2690 "[BUG] Files whose names differ only in case may point to the same one when available offline"
### Actual behaviour
The files whose names differ only in case refer to the same one if they are set to available offline.

### Expected behaviour
We can keep files whose names differ only in case at the same time.
If can't, we should be warned

### Steps to reproduce
1. upload a picture file named 'A_1121.jpg', and set it to 'available offline'
2. upload another picture file named 'a_1121.jpg', a

[2019-10-31 08:56] jesmrec opened #2691 "[BUG] Apk file handling"
### Steps to reproduce
1. Store a correct apk inside an oC account
2. Tap to Download / Select "Open with"

### Actual behaviour
Nothing happens, neither downloading, nor "opening" with

### Expected behaviour
App must react to the user event. Options:

- If feasible, trigger the system installation wizard, so the apk started to install in case it is trusted and the system settings allow it
- Show

[2019-10-31 10:16] jesmrec commented on #2690
I aso reproduce the problem. It is not needed to set as av. offline, only downloading one of the files by tapping, both of them are set as downloaded, and the confusion starts (also i got a conflict once). This problem can be lead by the way in which Android stores the file inside.. need a little research.

Of course, contributions are welcome!

[2019-11-01 13:19] denispavliha opened #2692 "[BUG] 2FA can't authorize Android app"
**### Actual behaviour**
I set up OAuth2+TOTP apps in ownCloud settings. Then, I am able to successfully authorize the Desktop app on Windows (after I enter my 2FA code in the browser, I close the browser and the desktop clients works).

The Android app, though, cannot get authorized. After I successfully login via the embedded webbrowser in the Android app (because after login, ownCloud clearly r

[2019-11-01 13:41] pequesan opened #2693 "[FEATURE REQUEST]"
**Is your feature request related to a problem? Please describe.**
Google camera makes new folder for each burst or portrait shot, so these kind of shots never gets uploaded because they are not directly in camera folder defined in settings.

**Describe the solution you'd like**
Owncloud photo/video upload feature should add a "recurse subfolders" option next to camera folder.

[2019-11-01 20:27] schwedenmut commented on #2693
I described this behaviour in #2407 and patched this for myself for the first subdirectory.
I can create a PR after some refurbishing and optimizing my changes for this if wanted?!

[2019-11-01 20:29] schwedenmut commented on #2407
I will improve and tidy up my local changes and will create a PR shortly. 👍

[2019-11-01 20:32] pequesan commented on #2693
Would love it! But I'm running another @hannesa2 apk which contains fix for only wifi delayed uploads... I don't know if it would be possible to merge all...

[2019-11-01 21:08] schwedenmut commented on #2693
I sure can create a patch file which could be used on a fork. But @hannesa2 merges upstream into his fork, which he does I guess (without looking I to his code/repo).

[2019-11-01 21:58] hannesa2 commented on #2693
@hannesa2 What should I do ?
Currently I'm based on `master` and can merge any PR on request

[2019-11-04 20:41] madmaxoft commented on #2573
@jesmrec Sorry for the late reply, I was trying, quite unsuccessfully, to catch the app red-handed. Usually I take a picture, then a few days later I look for it in OwnCloud server and it's not there, so I check the logs, but the relevant timeframe is long gone.
Finally today I got something. Log excerpt:
[code]
Note that there's a gap from 18:28:19 till 21:06:53. I took a picture at 18:36:01, and

[2019-11-05 05:47] hannesa2 commented on #2631
@jesmrec Please explain what are the
* pro for Bitrise and
* con for Travis

for this decision.

[2019-11-05 08:15] davigonz commented on #2631
With Bitrise we can create workflows in an easier way as well as allowing us to execute UI tests while with Travis was practically impossible because Android emulators did not work properly.

[2019-11-05 09:33] jesmrec commented on #2692
Not able to reproduce. After typing the 6-digits number, i'm asked for authorization and then, logged in inside the account. The environment i used is pretty similar to your one (i used a MIA2 with Android 9, the most similar i found). I used Google Authenticator to get the code to verify.

The error you are getting is `Wrong username or password`. Are you using any additional app regarding authen

[2019-11-05 09:53] davigonz commented on #10
for example i have my music folder on my server i want this accessible offline in a non-default location namely /www/public/music so i can use the media play i made in firefox (running php server on my phone with access via localhost)

Not yet, is not one of our priorities right now but contributions are always appreciated ;)

[2019-11-05 10:07] davigonz commented on #2685
@lefherz is it finally an Android issue? Can we close it?

[2019-11-05 11:48] jesmrec opened #2696 "[New arch] Split the project in different modules"
Splitting up the project in different modules, according the layers of Components Architecture.

Tasks:

- [x] Split up code into different modules following a layers approach and move the corresponding shares code to those modules:
   - [x] Presentation layer => **owncloudApp** module
   - [x] Domain layer => **owncloudDomain** module
   - [x] Data layer => **owncloudData** module

[2019-11-05 11:52] jesmrec opened #2697 "[New arch] Switch from Mockito to Mockk"
Use mockk instead of mockito in UI and domain unit tests, more prepared to work with Kotlin instead of Java.

[2019-11-05 11:54] jesmrec opened #2698 "[New arch] Create new use cases for sharing in domain module"
- [x] Transform sharing operations into usecases in domain model.

[2019-11-05 11:59] jesmrec opened #2699 "[New arch] Error handling mechanism + Dependency injection for a whole decoupling of layers"
Error handling for new architecture (+info in https://github.com/owncloud/android/issues/2665)
Use [Koin](https://insert-koin.io/) for dependency injection

### PRs:

- App: https://github.com/owncloud/android/pull/2708
- Library: https://github.com/owncloud/android-library/pull/279

[2019-11-05 12:03] jesmrec opened #2700 "[New arch] Creation of a service to abstract data from remote operations"
Create new services as facade for remote operations to decouple that logic from remote datasources and ease remote datasource and repository tests

### PRs:

- App: https://github.com/owncloud/android/pull/2708
- Library: https://github.com/owncloud/android-library/pull/279

[2019-11-05 12:05] jesmrec opened #2701 "[New arch] Modularization tests (adapt existing, and create new ones) + FileDataStorageManager refactor"
Tasks:

- [x] Fix already existing tests: unit and UI. Use corresponding share models in TestUtils.
  - [x] Data layer
      - [x] Datasources
      - [x] Repositories
         - [x] Test getStoredCapabilities within OCCapabilityRepositoryTest
      - [x] Mappers (model-entities, model-remote)
      - [x] Entity
      - [x] DAOs
         - [x] Missing: test getCapabilitiesForAccount within OCCapab

[2019-11-06 11:59] davigonz opened #2704 "[New arch] Use Moshi to parse sharees"
- Use Moshi to parse sharees, removing the parsing from UsersAndGroupsSearchProvider.
- Make all sharees tests non instrumented and fix already non instrumented ones, avoiding returning empty arraylist.

Tasks:

- [x] Check how Moshi works
- [x] Update [Sharees API documentation](https://doc.owncloud.com/server/developer_manual/core/apis/ocs-recipient-api.html#query-attributes): https://github.com

[2019-11-06 12:02] davigonz commented on #2607
**[BUG] (1) Error is shown again when rotating the device**

1. Open the application with Activity or Fragment
2. Cause an error, e.g. switch airplane mode on and tap a button that makes a request to server
3. Observe the error is shown
4. Rotate the device

Current behavior: Error is shown again and the user has not done any request.
Expected behavior: No error is shown

[2019-11-06 13:07] davigonz commented on #2607
**[BUG] (2) Users and groups search doesn't work**

1. Tap share icon in a file.
2. Tap + button in users and groups section.
3. Type several characters to search users or groups.

Current behavior: No results
Expected behavior: Users or groups appear

`2019-11-06 13:19:05.425 26092-26488/com.owncloud.android.debug W/SuggestionsAdapter: Search suggestions query threw an exception.
    java.lang.Il

[2019-11-07 12:12] abelgardep commented on #2576
## Apps targeting API 29+
[Behaviour changes](https://developer.android.com/about/versions/10/behavior-changes-10)
- [ ] Updates to non-SDK interface restrictions
- [ ] Shared memor
- [ ] Removed execute permission for app home directory
- [ ] Android runtime only accepts system-generated OAT files
- [ ] Enforcing AOT correctness in ART
- [ ] Permissions changes for fullscreen intents
- [ ] Suppor

[2019-11-07 13:47] #2696 closed

[2019-11-07 13:48] #2697 closed

[2019-11-07 13:48] #2698 closed

[2019-11-09 10:59] denispavliha commented on #2692
Thanks, @jesmrec.

I am providing some additional logs, taken at the exact time when I tried to authorize the Android app:

`{"reqId":"CENSORED_REQUEST_ID_1","level":0,"time":"2019-11-09T10:46:03+00:00","remoteAddr":"CENSORED_IP_ADDRESS","user":"CENSORED_USERNAME","app":"OC\\Authentication\\Token\\DefaultTokenProvider::updateToken","method":"PROPFIND","url":"\/remote.php\/dav\/files\/CENSORED_USER

[2019-11-09 13:44] hannesa2 opened #2709 "Espresso test failing"
_Originally posted by @jesmrec in https://github.com/owncloud/android/pull/2689#issuecomment-549246165_

I took a look into Espresso test healthiness but the result is sobering.
I run locally `./gradlew :owncloudApp:connectedDebugAndroidTest` on master c2d0e860dabd0 and see this
![image](https://user-images.githubusercontent.com/3314607/68529535-0232fa00-0300-11ea-8939-a25841d7f3af.png)
![image](h

[2019-11-11 07:22] jesmrec commented on #2709
no, the magic is not needed. Let me tell you what the problem is.

Before the current re-architecting of the app, there was not posible to develop test in every layer. So, the Espresso tests cover the whole stack (including the server). So, these tests were removed from CI, to be executed only locally. We should move then (not remove), in order to have a cleaner execution.

[2019-11-11 07:41] hannesa2 commented on #2709
Nice, when you take care about it. 👍
Btw, I expected a constant failure rate, but the percentage is changing, that means there are flaky tests too

[2019-11-11 07:42] davigonz commented on #2709
Hi @hannesa2 , thanks for these reports. UI tests in Android, as you probably already know, are highly dependent on the device in which are executed: different screens resolution, size, performance, animations. It seems that the Emulator you chose is a default one with everything enabled I guess, including the animations, so your results are the what I would expect.

We are using [Virtual Device T

[2019-11-11 07:52] hannesa2 commented on #2709
I run on other places tests **with** animation, almost 100 % error free (around 300 tests).  For the flakyness I have/prepare a [workaround](https://github.com/hannesa2/Moka) for myself

To know what's wrong on Espresso tests, I collect failing test with Google Analytics, then you have a clear and exact overview, which tests needs the most attention

eg:

[code]

[2019-11-11 08:48] davigonz commented on #2709
A description about what you are trying to do in https://github.com/hannesa2/Moka would be appreciated 😉 , I just see `No description, website, or topics provided.`

Which information do you want to send to Google Analytics? The logs when executing the tests and which tests are failing? If so, Bitrise is already telling us in a very complete UI the tests that are failing, logs and so on, and I jus

[2019-11-11 09:31] NiceFeather commented on #2626
I have three user accounts which added into the app and located at left panel, but chaos in account switching, all contents combined with the account wasn't working propely in right file list view. I think this is an emergent bug need to be fix ASAP.

**Environment data**

- Android version:
8.0.0
- Device model:
Samsung S7 edge
- ownCloud app version:
v2.13.1
- ownCloud server version:
v10.2.1

[2019-11-11 11:19] abelgardep commented on #2574
I was able to reproduce the second stacktrace.

Caused by concurrency on the HttpInterceptor.java `deleteRequestHeaderInterceptor(String headerName)`

Pixel 2 v10

[2019-11-11 15:15] lefherz commented on #2685
I finally got around to upgrade the server - testing it right now.

It works right now, but somehow the Android app doesn't appear in https://example.org/settings/personal?sectionid=security, I only see my firefox, thunderbird, ownCloud client, and DAVx5 sessions there. Isn't this where the OAuth2 sessions should be visible?

[2019-11-11 16:40] lefherz commented on #2685
Correction: it does not work. Not closing the app deletes the OAuth2 token, it took (max.) 90 minutes until I was logged out again. The app was closed in the meantime, but not stopped or so.

[2019-11-11 16:48] lefherz commented on #2685
I'm using the official docker containers. According to this page:

[code]

[2019-11-12 07:29] davigonz commented on #2685
Ok @lefherz , thanks for the info

[2019-11-12 11:49] jesmrec commented on #2573
Thanks @madmaxoft

@hannesa2 has sent a posible fix for the problem based in retrying the pics after changes of connectivity: https://github.com/owncloud/android/pull/2679

We expect to release this inside the incoming 2.14 version. Once it is out, your feedback will be appreciated.

[2019-11-13 14:05] abelgardep opened #2714 "AsyncTask to Kotlin Coroutines"
Asynctask will be [deprecated](https://www.xda-developers.com/asynctask-deprecate-android-11/), so it could be a good option to start moving current asynctasks to Kotlin Coroutines.

[2019-11-13 14:45] davigonz opened #2715 "Resize cloud image from drawer menu"
Some time ago we decided to include a cloud image in the side menu, starting with 2.8. As we detailed in https://github.com/owncloud/android/issues/2204 we made this to avoid the impression as if the app is not ready yet.

Since then, we have added to the drawer menu an Available offline option and a new one, Shared by link, is coming. So the cloud image doesn't look that good now and it could be

[2019-11-13 15:04] ChrisEdS commented on #2715
What about making it smaller and put it in the bottom right?

[2019-11-13 15:21] davigonz opened #2716 "[New arch] Use Moshi to parse capabilities and get rid of RemoteCapability in library?"
[`GetRemoteCapabilitiesOperation.kt`](https://github.com/owncloud/android-library/blob/master/owncloudComLibrary/src/main/java/com/owncloud/android/lib/resources/status/GetRemoteCapabilitiesOperation.kt) takes care of parsing the capabilities retrieved from the server in JSON format and transform them into RemoteCapability object.

Similarly to what we detailed in https://github.com/owncloud/andro

[2019-11-13 15:51] davigonz commented on #2715
Well, we could give it a try

[2019-11-13 15:58] NiceFeather commented on #2626
BTW, this is a significant bug, when will this fix be put on the development schedule?

[2019-11-13 16:47] jesmrec opened #2717 "[FEATURE REQUEST] Sorting by size without obeying file/folder"
This is the following of https://github.com/owncloud/android/pull/2710

In such PR, the behaviour is applied to "sorting by date". Following the web UI, "sorting by size" must get the same behaviour

### TASKS

- [x] Create branch feature/sortBySizeMix
- [x] Development tasks
  - [x] Implement new way of size sorting
- [x] Code review and apply changes requested
- [x] Design test plan
- [x] QA
- [

[2019-11-14 03:20] NiceFeather opened #2718 "[BUG]The photos/videos auto-synced to unexpected account and more chaos"
I have three user accounts which added into the app and located at left panel. but there are some issues of account chaos as following:

1. **Chaos in account switching**, almost of times all of contents combined with the account wasn't working properly in right file list view;
2. **The photos/videos auto-synced to unexpected account**. Since there is no account where the photo/video is mapped in

[2019-11-14 08:44] abelgardep commented on #1334
Done, will be included in 2.14

[2019-11-14 08:44] #1334 closed

[2019-11-14 09:39] NiceFeather commented on #2718
Another use case, while sharing anything through ownCloud, there is displayed up accounts selection dialog, but these accounts are problematic and cannot continue to be selected.

![SmartSelect_20191114-171816_ownCloud](https://user-images.githubusercontent.com/28109556/68844821-604b4d00-0705-11ea-8889-53f661071d2d.jpg)
![SmartSelect_20191114-172040_Solid Explorer](https://user-images.githubuserco

[2019-11-14 10:03] davigonz commented on #2718
Hi @NiceFeather , thanks a lot for your feedback, we really appreciate it, but could you open different issues for each bug you have detected? Otherwise, we will lose focus.

I see here three different issues:

1. Photos/videos are uploaded to unexpected account. Allow to choose specific account when using automatic (camera) uploads.
2. Account switching mix up the files
3. Use username instead of

[2019-11-14 11:38] NiceFeather commented on #2718
Sure no problem, I'll report single issue everytime in later.

Actually, how can this function be close to the user behaviour habit, this design is not simplly, I personally prefer the first design, but not showing up an account selection dialog, need to **carry on the account selecting/assignment to the photo/video uploads directory in advance in the Setting**. It is clear that it is impossible t

[2019-11-14 11:45] jesmrec commented on #2718
Stuff related:  https://github.com/owncloud/android/issues/2651

[2019-11-14 11:58] jesmrec opened #2722 "[BUG] Snackbar in passcode view is not displayed"
### Steps to reproduce
#### Case 1
1. Open Settings > Passcode lock
2. Enter passcode
3. In the 2nd try, enter a different number

Update: two more cases where this bug appeared were fixed (the solution was the same)

#### Case 2
1. Register a passcode correctly
2. Close the app
3. Open the app and enter an incorrect passcode

#### Case 3
1. Register a passcode correctly
2. Go to Passcode lock to

[2019-11-14 14:21] davigonz commented on #2582
Merged

[2019-11-14 14:21] #2582 closed

[2019-11-15 09:56] butonic opened #2723 "Support opentelemetry.io"
https://opentelemetry.io/ allow tracing requests from client to server.

[2019-11-15 10:15] michaelstingl commented on #2723
Hm, they have Java SDK, but no Kotlin 😢 :
https://github.com/open-telemetry/opentelemetry-java

[2019-11-15 12:02] jesmrec commented on #2237
Trying to fix several camera upload problems: https://github.com/owncloud/android/pull/2679

[2019-11-15 12:06] jesmrec opened #2724 "[BUG] ANR when uploading several pics from the camera"
### Steps to reproduce
1. In Settings, enable camera uploads for pics
2. Take many pics
3. Wait till the pics start to upload (app open)

### Actual behaviour
Pics start to upload. Initially, everything goes OK. After some seconds, app shows the ANR dialog (bad use of UI thread?)

### Expected behaviour
Pics uploaded with no blockers

Can this problem be reproduced with the official owncloud serve

[2019-11-15 13:09] #2699 closed

[2019-11-15 13:09] #2700 closed

[2019-11-15 14:16] tboerger commented on #2723
IMHO this doesn't really make sense for clients, this only makes sense for complex micro service architectures where it's hard to debug the flow of requests.

[2019-11-15 15:37] lefherz commented on #2685
Just tried again with https://github.com/owncloud/oauth2/releases/tag/v0.4.2RC2, doesn't help

[2019-11-15 16:15] michaelstingl commented on #2685
@lefherz send logs?

[2019-11-18 07:47] davigonz commented on #2626
Hu @NiceFeather , this will be addressed during the login rearchitecture that will start soon.

[2019-11-18 09:23] jesmrec opened #2727 "[RELEASE] 2.14"
### TASKS:
 - [x] [COM] Ping marketing guys
 - [x] [GIT] Create branch release_1.0.4 in owncloud/android-library from master
 - [x] [GIT] Create branch release_2.14 in owncloud/android from master
 - [x] [DEV] Update version number and name in build.gradle in owncloudComLibrary module
 - [x] [DEV] Update version number and name in build.gradle in owncloudApp module
 - [x] [DIS] Create changelog fi

[2019-11-18 10:37] abelgardep opened #2729 "[BUG] Crash when deleting logs if no permissions granted"
### Actual behaviour
-Crash when deleting logs history if no storage permissions granted

### Expected behaviour
- No crash

### Steps to reproduce
1. Install the app
2. Do not grant storage permissions
3. Open logs view
4. Delete history

![logs-crash](https://user-images.githubusercontent.com/47524927/69045713-b830cf00-09f7-11ea-91de-0d226db5ed7d.gif)
Can this problem be reproduced with the offi

[2019-11-18 10:50] abelgardep opened #2730 "[FEATURE REQUEST] Logging with Timber"
Contribution by @hannesa2

It's about to change logging from self-made to [Timber](https://github.com/JakeWharton/timber).

It removes the logic to display log and simply uses a Fragment from logging-lib.

It keeps all previous functions like
* searching

![image](https://user-images.githubusercontent.com/3314607/68044868-82da7080-fcd8-11e9-9049-b6f6e338c685.png)

and adds
* a tab for ownCloud Fil

[2019-11-18 11:02] abelgardep commented on #2730
I have created this issue to keep track of every change in the same place and have a better organization @hannesa2 . BTW, thanks for pushing to oC repo 👍

[2019-11-19 16:41] NiceFeather commented on #2626
OK, Thanks in advance.

[2019-11-20 12:16] davigonz opened #2732 "[TESTING] Setting tests flakiness"
I was working on #2728 and at some point, I executed all the tests to check that are working as expected and noticed that some of the tests related to settings seem to be a bit flaky. I switched to master branch and try it there again but the result is pretty similar, could you check them @jesmrec ?

- 1st execution, 5 tests failing:

![Screenshot 2019-11-20 at 13 02 03](https://user-images.github

[2019-11-21 12:54] davigonz commented on #2723
Thanks a lot for the suggestion @butonic , is it something similar to the [request ids](https://github.com/owncloud/android/issues/2055) we put some time ago on the headers or is completely different?

[2019-11-22 13:07] jesmrec commented on #2709
Let's close this since #2711 was merged. Please, reopen if it is needed.

[2019-11-23 08:31] hannesa2 commented on #2709
On merged master 9d123ccf0e1b9a I can't confirm this 100% error free behavior
![image](https://user-images.githubusercontent.com/3314607/69475922-67dcb700-0dd3-11ea-8a85-e4d7a3928eb1.png)

The question is still what's different on your side ?

[2019-11-25 09:23] jesmrec commented on #2460
Merged. Ready to 2.14.

[2019-11-25 09:23] #2460 closed

[2019-11-26 11:20] #2717 closed

[2019-11-26 11:21] davigonz commented on #2717
Merged

[2019-11-26 12:12] lefherz commented on #2685
I sent a mail to android-app@owncloud.com :)

[2019-11-26 16:09] davigonz commented on #2732
@jesmrec the setting tests are not being executed on Bitrise for now, in order to move forward pending PRs without relaunching the tests multiple times. Please ping me as soon as they work fine on your local (emulator or Samsung Galaxy S9) and I will put them back

[2019-11-26 17:21] jesmrec opened #2735 "[FEATURE REQUEST] Avoid sharing items not allowed"
Detected during testing server 10.3.2 version.

The specific scenario is:

1. Add `'share_folder' => '/ReceivedShares'`  to `config.php`. All the shares you receive will be added to such folder
2. Share an item to enforce the creation of the folder

This folder (by definition) is not allowed to be shared. Its permissions in `PROPFIND` response:

`<oc:permissions>NVCK</oc:permissions>`

As you see,

[2019-11-27 12:22] jesmrec commented on #2732
@davigonz with the PR https://github.com/owncloud/android/pull/2737, tests are not failing anymore in the real device. But, before merging, we can give a try in the PR branch to know what happens under CI.

[2019-11-27 12:24] jesmrec commented on #2709
@hannesa2 let's check what happens with #2737

[2019-11-27 12:59] davigonz opened #2738 "Get rid of Android 4.4 support"
Android 4.4 was released long time ago (31st October 2013) and we are still maintaining some parts of the code to support it. Taking into account the oC users using this version, not that many, we could upgrade the minimum version to Android 5.0 (Lollipop)

### PR
- App #2748
- Library https://github.com/owncloud/android-library/pull/285

[2019-11-27 17:54] davigonz commented on #2730
Merged, to be included in 2.14, thanks @hannesa2 for the contribution

[2019-11-27 17:54] #2730 closed

[2019-11-28 06:25] hannesa2 commented on #2441
https://github.com/owncloud/android/pull/2736

[2019-11-29 11:25] davigonz commented on #2512
Android 10 brought the system-wide dark theme , we could refloat this, what do you think @michaelstingl ?

[2019-11-29 12:37] abelgardep commented on #2729
Unable to reproduce this with the new logging way (#2730)

[2019-11-29 12:37] #2729 closed

[2019-11-29 12:50] abelgardep commented on #2724
Unable to reproduce it on Pixel 2 v10

[2019-11-29 13:25] jesmrec commented on #2727
### (2)

Logs from logcat are duplicated.

1. Open the app
2. Generate some logs by performing some actions
3. Open Settings -> Logs -> Logcats

Current: Duplicated logs
Expected: Every log appears once

Nexus 5X v8

[2019-11-29 14:24] davigonz opened #2742 "Whole UI and UX redesign (ownCloud app for Android 3.0?) [WIP]"
[Changes under the hood](https://github.com/owncloud/android/issues/2351) are necessary but...

Mobile devices and Android itself are evolving very fast, with larger screens, new user interface patterns, new ways to interact with options... and the ownCloud app for Android is lagging behind in this aspect. I would say that there's at leats three key topics to address on this matter:

- The app has

[2019-11-29 14:47] ChrisEdS commented on #2742
I like the FileList approach. Very friendly and clean.

[2019-11-29 16:52] jesmrec commented on #2742
also interesting for @wuenschedesign

[2019-11-29 19:55] michaelstingl commented on #2742
❤️ it!

Did you consider adapting the "Quick Access" screen from the new iOS app?

[2019-11-29 20:00] hannesa2 commented on #2727
Interesting, in my [version](https://github.com/hannesa2/owncloud-android/releases/tag/2.13.1.s93) I don't have duplicated entries. (I use a Pixel 2 Android Q)
Additional I don't have a Nexus 5X.

Maybe you can run my version on a Nexus 5X too.
If with this version there are duplicated too, then it's located to the device.
If not, it's probably your apk. My apk is at least public !

[2019-11-30 10:56] mueller-ma opened #2743 "Reduce logging in ChunkFromFileRequestBody"
**Is your feature request related to a problem? Please describe.**
I wanted to track down a bug while uploading a video (The video upload was canceled with "Unknown error". Now it doesn't appear again), but I only see the following three messages over a dozen of times per second. This makes the log viewer in Android Studio unusable.
[code]

**Describe the solution you'd like**
Remove the logging f

[2019-11-30 19:09] Klausthorn opened #2745 "[BUG] Authentication info lost. Authentication failed. Auth retry does not end"
### Actual behaviour
I see that file edits on my android do not get synced any more (they do not appear on my Windows Desktop). I open the android app on the phone to see what is going on. The app shows: authentication failed. I touch the provided "edit account"(my own translation from German app) and enter my password again. App shows that it it tries to log in... and does not get to an end for m

[2019-12-01 07:06] hannesa2 commented on #2743
I agree, there is sometime a lot of noise in log and I would see this as an verbose log entry.
Btw, to be able to handle such noise, I introduced a filter function https://github.com/owncloud/android/pull/2725#issuecomment-554977209

[2019-12-01 07:17] hannesa2 commented on #2743
I made a fix for this https://github.com/owncloud/android-library/pull/284

[2019-12-01 14:30] michaelstingl commented on #2727
Yeah, thats a disadvantage of the bitrise.io CI we're using for a while. I'd love to have the CI errors and builds public available. @jesmrec Could you post the link to the "Public install page" manually?

@hannesa2 Send me your mail, I'd love to invite you to the bitrise project.

[2019-12-01 14:39] michaelstingl commented on #2745
@Klausthorn could you verify if this issue still exists after upgrading the server to 10.3.1 ? 10.3 got some improvements regarding auth tokens etc…

You can enable a debug log inside the app. Here you can find more information:
https://github.com/owncloud/android/blob/master/TROUBLESHOOTING.md

You don't need send the full log, just find the few lines with the error, and redact the sensitive part

[2019-12-01 18:35] hannesa2 commented on #2727
@michaelstingl you see it in commits author.
Btw, I see a lot of disadvantages with bitrise. I can't improve/test it with a pull request and it's no more public.

I will stay will Travis, and yes: with x86 tests with Travis.
With Travis I can publish any intermediate release too.
That's why I did a look in Espresso tests, but currently there are unusable with a failure rate of 90%

[2019-12-01 19:14] hannesa2 commented on #2727
https://github.com/owncloud/android/pull/2746 I found the twice logs

[2019-12-02 07:59] jesmrec commented on #2727
We worked with Travis for long time. Disadvantages of Travis from our side:

- Long queues to execute the jobs: oC account to support many repos, and waiting times usually took many hours and sometimes more than two days to execute the jobs.
- Timeouts in test execution. For a small set of unit tests is OK. When you have a large set of instrumented tests, execution became even slower and leading t

[2019-12-02 07:59] jesmrec commented on #2727
thanks, i will check.

[2019-12-02 12:17] #2715 closed

[2019-12-02 12:49] michaelstingl commented on #2512
@davigonz yeah, fits well in the epic https://github.com/owncloud/android/issues/2742

[2019-12-02 12:55] michaelstingl commented on #2727
Related? https://devcenter.bitrise.io/tips-and-tricks/use-bitrise-yml-from-repository/

[2019-12-03 09:42] davigonz commented on #2742
Not yet, but maybe is a good option too, in the middle of the bottom bar or something like that, I will think about it, thanks for the suggestion

[2019-12-03 10:20] abelgardep commented on #2742
This is an amazing first step ❤️

If we start using the bottom navigation, I would remove the drawer menu by the way in order to avoid having a drawer with just 3 options. This way, bottom navigation bar would have Files, Uploads, Quick Access and Settings. Feedback and Help options would be moved to Settings. Account switching would be moved to the right of top search bar as Gmail or Drive apps.

[2019-12-03 12:41] jesmrec opened #2747 "Short user names / group names are not found as recipients"
### Steps to reproduce
1.  In `config.php` set  `user.search_min_length' => 4`,
2. Create a user called `123` and a group called `456`
3. Try to share an item with them

### Actual behaviour
Not posible, so they do not reach the 4 characters needed to start searching

### Expected behaviour
They should be posible to share with.

After checking the web UI and desktop client, they follow the value o

[2019-12-03 13:03] #2732 closed

[2019-12-03 17:39] davigonz commented on #2742
Yes, I like this approach as well

[2019-12-03 19:45] alexanderbruns commented on #2319
Hi exact the same problem still exists. Does nobody else use owncloaud to edit xls-files with an office-tool on an android smartphone?

[2019-12-03 20:54] #2623 closed

[2019-12-03 22:54] michaelstingl commented on #2319
@alexanderbruns with version 2.11.0. the ownCloud Android app supports the Document provider (**Downloads** in Android 7 and 8 or **Files** in Android 9+):
https://owncloud.org/news/owncloud-android-2-11-0/

Document provider is the recommended way, could you give it a try? In case you encounter any issues, please open a new issue.

[2019-12-03 22:54] #2319 closed

[2019-12-04 00:05] alexanderbruns opened #2749 "[BUG] Open xls-files or doc-files with Docs to Go"
### Actual behaviour
- I open a file with owncloud-client and it is opened in "Doc to Go". I have a non-root device Samsung Galaxy S7 with Android 8. When I want to safe the file, it is not saved in the owncloud area. Doc to Go asks for giving another location, I can only save it to a local directory on the android device. If I then again open the file in owncloud it is the status before the save

[2019-12-04 00:19] michaelstingl commented on #2749
Duplicate for https://github.com/owncloud/android/issues/2319 ? I recommended to use the new document provider integration. This would mean, opening the file FROM you document editing app via the document provider integration. If you save your changes, the original file gets updated automatically.

Could you check if Docs to Go support the document provider integration?

Direct storage access won'

[2019-12-04 00:39] alexanderbruns commented on #2749
Hi, yes it is a dublicate as the other issue is closed. The App has a provider integration for Dropbox or google-drive but not for owncloud.

If not working, why owncloud-app offers me to open the xls-files with Docs to Go?

[2019-12-04 09:09] jesmrec commented on #2724
After some rechecks performed with the current `master` (`348c201`) and the tag `oc-android-2.13.1` , i was not able to reproduce either. Some other unknown reasons made the problem to reproduce, but under the basics mentioned in the first message in Android 9, Android 10 aun current stable of the server, it is not.

I will close ftm, in case it becomes reproducible again, will reopen.

[2019-12-04 09:09] #2724 closed

[2019-12-04 10:59] abelgardep commented on #2749
No, Docs to Go does not support Document Provider (SAF) integration yet.

You can try apps like MS Word or Excel that support this integration.

[2019-12-04 11:25] #2276 closed

[2019-12-04 14:59] michaelstingl commented on #2749
Meh. That's not good. But thanks for checking @abelgardep !

Changes in local storage / file system can't be synced back to the ownCloud server. ==> Works as designed

[2019-12-04 17:15] #2701 closed

[2019-12-05 10:42] tutebatti opened #2752 "[BUG][Xodo] Changed pdf file uploaded, but seemingly not changed on server"
### Actual behaviour
When downloading a pdf within the android app and changing it with Xodo reader, then pressing the sync button, an upload bar will display as usual, but at the end, the time stamp of the file is still the same and on other devices, where no syncing happens. When opening the file from within owncloud app, the changes made in Xodo do appear. When file is deleted locally and downl

[2019-12-05 11:33] michaelstingl commented on #2752
@tutebatti Changes in local storage / file system can't be synced back to the ownCloud server. Please access data from 3rd party apps via Document Provider (SAF, **Downloads** in Android 7 and 8 or **Files** in Android 9+):
https://owncloud.org/news/owncloud-android-2-11-0/

Direct storage access won't have a bright future on the Android platform: https://commonsware.com/blog/2019/06/07/death-exte

[2019-12-05 18:05] tutebatti commented on #2752
@michaelstingl Thank you for your reply. However, I'm facing the same issue. The file is uploaded after alteration, no error message displayed, but effectively does not change on the server.

[2019-12-06 21:33] ashfaqahmed opened #2753 "Cannot invoke method replace() on null object"
Hello, i just have tried to import this latest repository via android studio using option `'Import Project (Eclipse ADT, Gradle, etc)'` as per the documentation, but i am having issue with it it says.

`ERROR: Cannot invoke method replace() on null object` and error looks on file build.gradle on method `getGitOriginRemote()`

Please let me know if anyone can help in this or having same kind of iss

[2019-12-07 08:50] michaelstingl commented on #2753
@ashfaqahmed this is the issue tracker of the ownCloud Android app, not a help forum. Please use https://central.owncloud.org/ instead.

[2019-12-07 08:50] #2753 closed

[2019-12-08 10:04] michaelstingl commented on #2752
Performed quick tests in Xodo and Word, both via Document Provider. Works in Word, but fails in Xodo. I need to have a closer look…

[2019-12-10 12:04] davigonz opened #2754 "[New arch] Adapt tests on Bitrise to be executed in different modules"
This is all I've tried so far:

- Using **Virtual Device Testing** plugin:
  - Execute instrumented tests for ownCloudApp and ownCloud Domain modules in the same Bitrise workflow. Not possible, I already wrote there => https://discuss.bitrise.io/t/allow-multiple-android-vdt-step-invocations/ :x:
   - Launch multiple Bitrise workflows with the same trigger, i.e. a push event on a branch launch inst

[2019-12-10 12:24] jesmrec opened #2755 "[SPIKE] AppAuth as OAuth2 / OIDC (OpenId Connect) support library"
The target here is checking which is the best option to integrate OAuth/OIDC support in the Android app.

- Things to check:
   - [x] OIDC
     - Basic OIDC explanation: https://developer.okta.com/blog/2019/10/21/illustrated-guide-to-oauth-and-oidc (got it from [this docs issue](https://github.com/owncloud/docs/issues/2100#issue-526458351))
      - OIDC for ownCloud: https://github.com/owncloud/op

[2019-12-11 11:01] davigonz commented on #2607
Merged, great job guys!! @abelgardep @jesmrec @jcmontesmartos

![giphy](https://user-images.githubusercontent.com/15261363/70616007-cbf1de80-1c0d-11ea-8708-163e3d8471c0.gif)

[2019-12-11 11:06] #2607 closed

[2019-12-11 12:36] abelgardep opened #2757 "Remove deprecated logs"
During #2730, some logs functions were deprecated in order to avoid a big refactor and posible conflicts with new architecture modularization. Now, modularization has been merged so these deprecated functions can be removed and replaced with new ones.

![Screenshot 2019-12-11 at 13 33 32](https://user-images.githubusercontent.com/47524927/70621877-e67e8480-1c1a-11ea-927e-44e42325c133.png)

### PR

[2019-12-11 17:06] jesmrec commented on #2727
### (4)

1. Set a low qouta in the Users panel, f. ex 30MB
2. Create a folder in root, and upload inside several files which size exceeds the quota

Current: Files starts to uploads, and finally appears as uploaded (they aren't  really). If you browse in the containing folder (created in 2.), app crashes.

Expected: Files are not uploaded with a correct error, due to lack of space.

Xiaomi MiA9 v9

[2019-12-11 17:34] jesmrec commented on #2727
### (5)

1. Share by link a file/folder that is not in root folder
2. Open "Shared by link" section in the drawer
3. Long press on the recent shared item and select share icon on toolbar
4. Remove the share link created in 1.

Current: Item is not removed from the list
Expected: Item removed from the list, because the link was removed.

The difference here is the location of the file/folder. If it

[2019-12-11 17:47] davigonz commented on #2727
This is related to https://github.com/owncloud/android/pull/2705#issuecomment-561141380.

When performing the steps you describe, the share is properly removed but the file/folder is not synchronized so still has the shared flag enabled; to make it disappear we would need to discover it (browse to it) using the "All files" view.

It's not a good behaviour but I think there's nothing we can do with

[2019-12-12 07:01] hannesa2 commented on #2607
Are there plans to convert/replace `UserProfilesRepository` , `FileDataStorageManager` and `ProviderMeta` by a [room](https://developer.android.com/topic/libraries/architecture/room) solution ?

[2019-12-12 07:32] abelgardep commented on #2607
For sure, the idea is to migrate the app completely to the new architecture. That means using Room as it is already done with shares functionality. Step by step 👍

[2019-12-12 07:45] davigonz commented on #2607
In addition to what @abelgardep says

Yes, but is going to be done by features, I mean:

**- FileDataStorageManager:** we already removed all the sharing methods from there (~500 lines). We will continue replacing the old implementation in coming issues: files, uploads, camera uploads...

**- ProviderMeta:** the idea is to keep it in the data layer but just with information required by the room so

[2019-12-12 11:29] jesmrec commented on #2727
Thanks for the explanation... it's a feature not a bug :D. Will mark as won't fix

[2019-12-12 11:31] jesmrec commented on #2727
### (6)

1. In web UI disable "Allow resharing" capability
2. In app, user1 shares something with user2
3. User2 tries to reshare

Current: When long pressing the item in user2's list, the option share is enabled in the toolbar
2.13.1: When long pressing the item in user2's list, the option share is not enabled in toolbar, because such content is not allowed to be reshared.

Nexus 6P v7
10.3.1

[2019-12-12 11:50] davigonz commented on #2727
I've fixed the crash but the files will be first uploaded and removed later, it's the app behaviour for a long time. To avoid the upload we would need extra effort (perform an extra operation to check the available space since I'm not sure the upload operation itself retrieves that kind of information). Anyway, should be addressed in a separate issue, not as a part of this release.

[2019-12-12 12:19] jesmrec commented on #2727
not a problem. If the bug itself is not a regression, the behaviour you describe is even older. The point is, that after performing the action, the app is consistent with the final result. Maybe more desirable to avoid the uploads (saving time and bandwidth), but as you said, this is a separate feature. Fixing the crash is more than enough here.

[2019-12-12 13:28] jesmrec commented on #2727
### (7)

1. User1 shares a folder with User2, with no "create" permission
2. User2 uploads a file inside the shared folder

Current: File starts to uploads. Finally, in uploads view appears as completed. But, file is not in the file list.
2.13.1: Error in uploads view: Permissions error.

Nexus 6P v7

[2019-12-13 05:06] hannesa2 commented on #2757
Please switch direct to `Timber` and **delete** `Log_OC` complete, then I can get rid of the need of https://github.com/JakeWharton/timber/pull/371 and can use common upstream version instead of special version which support [delegation](https://github.com/hannesa2/Logcat/blob/5cba849239a0d71ef21f69d91c986c875c16b580/LogcatLib/build.gradle#L28-L29)

[2019-12-13 05:07] hannesa2 commented on #2757
It's not a hard requirement for this timber-only task, but I start to remove it https://github.com/hannesa2/Logcat/pull/31

[2019-12-13 08:23] davigonz commented on #2727
I've just noticed this behaviour in 2.13.1:
- Files smaller than 1MB (non chunked upload): upload fails with permission error.
- Files bigger than 1MB (chunked upload): upload is completed and appears in uploads view. After this, there's a crash when browsing the shared folder.

In 2.14 the behaviour is the same except there's no crash when browsing to the shared folder. So I would say is not a re

[2019-12-13 09:53] davigonz commented on #2727
### (8)

1. Introduce an account from a server, long press a file and select share option to see the shares.
2. Introduce an account from a different server, long press a file and select share option to see the shares.

Current: Credentials error when getting capabiities appear.
Expected: No credentials error.

Nexus 5X v8.1.0

[2019-12-13 11:37] jesmrec commented on #2727
Could you create a new issue and point from the architecture epic out?

[2019-12-16 12:54] mueller-ma opened #2760 "Remove "Delete merged branch" bot"
From its [Readme](https://github.com/SvanBoxel/delete-merged-branch):

Since you don't have a `.github/delete-merged-branch-config.yml` file in the repo, there's no advanced config.

https://help.github.com/en/github/administering-a-repository/managing-the-automatic-deletion-of-branches

[2019-12-16 12:56] davigonz commented on #2754
This is already done in ownCloud GmbH Bitrise account, with two separate apps:
- oC Android app - all unit tests and app instrumented tests
- oC Android app - data instrumented tests

[2019-12-16 12:56] #2754 closed

[2019-12-16 14:49] michaelstingl commented on #2760
I activated the "Automatically delete head branches" setting in this repo, but I didn't delete the GitHub App "Delete merged branch" yet, because it's enabled for all `org:owncloud`.

[2019-12-16 16:13] jesmrec commented on #2727
Regression stage finished with everything fixed. Let's go with the upgrade tests

[2019-12-16 16:13] jesmrec commented on #2727
Checks :

- [ ] Upgrade from 2.13.1
- [ ] Upgrade wizard
- [ ] Smoke test over the upgraded (special attention to sharing)

[2019-12-16 16:21] jesmrec commented on #2727
### (9)

1. Install 2.13.1 (release apk)
2. Add an account
3. Upgrade to 2.14
4. Select an item by long pressing and select "Share" icon

Current: app crashes
Expected: list of shares

Samsung S9 v9, Nexus 5X v8, Nexus 6P v7
commit `42eb9f1e`

[2019-12-16 17:11] michaelstingl commented on #2742
Please also consider…

- Android best practices for accessibility
- RTL support

[2019-12-16 21:27] tboerger commented on #2760
I dislike to remove the bot as this can be centrally controlled instead of the need to configure this on every repository.

[2019-12-17 08:59] mueller-ma commented on #2760
I prefer to give permissions to as less parties as possible, but of course, it's up to you to decide.

[2019-12-17 09:44] jesmrec commented on #2727
Upgrading problem is fixed. So, testing tasks are done and the 2.14 version is ready to release.

Great job, team!!!

[2019-12-17 12:31] michaelstingl commented on #2747
@jesmrec @davigonz clients should ignore the capability and fire every request after every keystroke to the server (maybe min.delay). Server will decide if there are results…

[2019-12-17 12:42] jesmrec commented on #2747
Will do for the next release

[2019-12-17 15:33] davigonz opened #2763 "[BUG] Chunked uploads appear as uploaded even with no creation permission"
This comes from https://github.com/owncloud/android/issues/2727#issuecomment-565347829

### Actual behaviour
- File starts to uploads. Finally, in uploads view appears as completed. But, file is not in the file list.

### Expected behaviour
- Permission error in both notification and uploads view.

### Steps to reproduce
1. User1 shares a folder with User2, with no "create" permission
2. User2 upl

[2019-12-17 16:49] #2738 closed

[2019-12-17 16:51] #2727 closed

[2019-12-18 07:53] davigonz commented on #2743
Merged, thanks @hannesa2 for the contribution

[2019-12-18 07:53] #2743 closed

[2019-12-18 16:08] davigonz opened #2765 "[RELEASE] 2.14.1"
### TASKS:
 - [x] [DEV] Only show the server version warning splash screen if one of the connected accounts is an old server
 - [x] [DEV] Only show the Android 4.4 deprecation warning splash screen if the device is affected
 - [x] [GIT] Create branch `release_1.0.4.1` in owncloud/android-library from master
 - [x] [GIT] Create branch `release_2.14.1` in owncloud/android from master
 - [x] [DEV] Up

[2019-12-19 08:23] michaelstingl opened #2767 "[CI] Create public project on Bitrise.io"
<img width="986" alt="Add_new_App_-_Bitrise" src="https://user-images.githubusercontent.com/214010/71156832-15ab7c00-2241-11ea-89c0-d32a5adb4cb5.png">

More info:
https://blog.bitrise.io/free-developer-plan-features-for-open-source-projects-on-bitrise

[2019-12-19 08:36] jesmrec commented on #2765
QA

2.14 -> 2.14.1

| | core < 10 | core >= 10 |
| :-:  | :-: | :-: |
|Android < 5 || Wizard with 4.4 deprecation displayed |
|Android >= 5 || No wizard displayed |

[2019-12-19 08:41] abelgardep commented on #2636
Which should be the expected behaviour here?

- Showing a snackbar with an action that will send the user to the login view (The user could use the app and may have inconsistiences reported here: https://github.com/owncloud/android/pull/2648#issuecomment-536497298) [Current status of this PR #2756]

- Showing a dialog that cannot be dismissed with an action that will send the user to the login vie

[2019-12-19 10:01] davigonz commented on #2636
I would go for this one

[2019-12-19 10:16] abelgardep commented on #2757
To move this forward as soon as possible, it would be great to know how to approach this.
3 options:

- Keep using Log_OC but updated methods.
- Switch direct to Timber not removing Log_OC
- Switch direct to Timber removing Log_OC. This may leads to problems to other people who use the library to log.

@davigonz @jesmrec @michaelstingl

[2019-12-19 12:01] davigonz commented on #2757
`Log_OC` is meant to log the ownCloud App for Android and oC Android library and I think that we should not maintain it just because it could be used by other apps using the library, our library is not a logging library but "an easy way to communicate Android apps with ownCloud servers". Logging is an additional task that any app using the oC Android library should take care of in my opinion.

Sai

[2019-12-19 12:55] davigonz commented on #2765
Done, available in Google Play already

[2019-12-19 12:55] #2765 closed

[2019-12-20 12:29] abelgardep commented on #2636
Ready to CR @davigonz 👍

[2019-12-22 15:40] pequesan opened #2771 "[FEATURE REQUEST] Respect Metered Wifi networks"
That's it. Owncloud should consider Metered Wifi networks as mobile data connections, so shouldn't trigger Camera Uploads if "only on wifi" option is checked.

[2019-12-23 08:24] NiceFeather commented on #2742
There should need at least a Product Manager, who is responsible for some product UI design solutions, that was produced by prototyping tools like [Mockplus](https://www.mockplus.com/mockplus-rp), and more something...

[2019-12-23 09:16] hannesa2 opened #2773 "[BUG] crashes during "offline available" sync"
I want to show you how an "offline available" sync behaves.

[code]

[2019-12-23 09:23] hannesa2 commented on #2773
To improve quality,
1. I recommend in next release a preparation to observer crashes
* global error catcher, like Crashlytics, to know what's wrong on customers site
* Strict mode detection during debug, to sensitise developer for ANRs

2. and the release after next, so solve these issues

[2019-12-25 10:49] mueller-ma commented on #1590
The folder I wanted to open was shared by another account to mine. I removed the share and shared it again. Now the app doesn't crash anymore.

[2019-12-28 01:32] mstojanovic opened #2774 "[BUG] GUI freezes when opening a directory with a lot of pictures"
### Actual behavior
- when i open the directory that contains many pictures (800+ items) the dots above start showing as it is loading thumbnails. after some time the GUI just freezes and i need to force close the app. if i need to upload something to that directory i need to be fast to set the upload, then the GUI stops responding and i need to wait while the upload finishes before i can force cl

[2019-12-31 19:26] iamzubin commented on #2119
hey, so will this issue be on google summer of code this year?
as this issue has a bounty as well.
I can do it as a GSoC project or I can fix it a now,

[2020-01-02 16:25] hannesa2 opened #2778 "[BUG] crash in Room concerning wrong version"
Of course, I can increase the db version, but this is not he root cause.
In my point of view, any db migration should work from any version to another following up version.
Currently I'm on `DB_VERSION = 28`

Any ideas what's wrong here ?

<img width="1016" alt="image" src="https://user-images.githubusercontent.com/3314607/71678060-7d56e080-2d84-11ea-93ac-73874d1e16c7.png">

[2020-01-02 16:30] hannesa2 commented on #2778
I found only one migration `MIGRATION_27_28` and I miss the other ones.

[2020-01-03 17:59] hannesa2 commented on #2778
I fixed it with https://github.com/owncloud/android/pull/2780 and https://github.com/owncloud/android/pull/2779 to have at least a version. But I was forced to
1. install new version (to have the chance to complete remove old database)
2. deinstall new version (remove old database)
3. install new version again to have a new database

[2020-01-03 18:08] hannesa2 commented on #2778
I tested it on my wife phone and these 3 steps were not necessary, only

3. install new version again to have a new database

was required.
So, #2779 fixes it and #2780 is not really required

[2020-01-07 12:22] jesmrec commented on #2773
This one is the same as https://github.com/owncloud/android/issues/2574. I agree in using something that is able to report crashes.

[2020-01-07 12:23] jesmrec commented on #2771
is there any way to know if a wifi connection is metered or not?

[2020-01-07 12:25] jesmrec commented on #2774
Thanks for reporting. Will check which is the cause and the best solution

[2020-01-07 12:41] pequesan commented on #2771
See here: https://developer.android.com/training/monitoring-device-state/connectivity-status-type

[2020-01-07 12:42] michaelstingl commented on #2771
Not a new feature ([Data saver settings in Android 7.0](https://support.sonymobile.com/global-en/xperiaxa/faq/system-&-performance/80193074063d82eaf01573b905dd7006da9/)), but easier to discover with Android P:
https://www.androidpolice.com/2018/03/08/android-p-feature-spotlight-mark-wifi-metered-network-details-screen/

[2020-01-07 13:00] jesmrec opened #2784 "[RELEASE] 2.14.1_oem"
### TASKS:

 - [ ] Test branded splash screen
 - [ ] Test removing SAML support
 - [ ] Smoke test over a branded version with all the new stuff
 - [ ] [GIT] Create and sign tag 'oc-android-2.14.1_oem' in HEAD commit of stable master branch, in owncloud/android
 - [ ] [GIT] Create and sign tag 'Y.Y.Y' in HEAD commit of stable master branch, in owncloud/android-library
 - [ ] [COM] inform `#release_

[2020-01-07 13:20] michaelstingl commented on #2119
@iamzubin previous attempt: https://github.com/owncloud/android/pull/2143

[2020-01-07 13:22] michaelstingl commented on #2119
No plans for GSoC yet, but yes. there's an open bounty:
https://www.bountysource.com/issues/55217024

[2020-01-07 19:46] Burdu opened #2785 "[BUG] App crashes when trying to connect to server secured with self signed certificate"
Not sure if this app is supported anymore. I can probably put up a PR for this after digging into it. Creating the ticket anyway.

### Actual behaviour
App crashes when trying to connect to server secured with self signed certificate

### Expected behaviour
App should not crash

### Steps to reproduce
1. Have a server secured with self-signed certificate
2. Open the app and try to connect to it

#

[2020-01-07 20:11] Burdu commented on #2785
Not sure if any implementation is needed on `AuthenticatorActivity` for the methods defined in  `OnSslUntrustedCertListener` interface. Adding the interface to  `AuthenticatorActivity` quick fixed the issue for me locally.

[2020-01-07 20:19] michaelstingl commented on #2785
Sure, the app is fully supported and the team works hard to make the app [more reliable and future proof.](https://owncloud.org/news/re-architecting-the-owncloud-app-for-android/) Thank you very much for reporting the issue!

[2020-01-08 07:44] jesmrec commented on #2785
Reproduced, will fix for the next release.

[2020-01-10 10:02] jesmrec commented on #2752
I perform the same test in Xodo, taking a PDF file form ownCloud. Modified file is in the device (you can check the changes correctly) but not synced to the server. This is what i have seen, i hope it can help:

1. File is modified in Xodo
2. File starts to sync (notification is there)
3. In my case, i used a 7MB file, so it is chunked-upload (1MB chunks). Several `PUT` operations are sent and all

[2020-01-10 13:18] diocas opened #2787 "Problems found while migrating CERNBox to 2.13.1"
Hi,

We're working on the release of 2.13.1 to our CERN community and there were a couple of issues that we found.
Please keep in mind that we have our own implementation of the backend (REVA), which differs from the OC10 server, so some of these issues are not bugs _per se_ but what we see as limitations.
I can open some of them in separate issues if you prefer.

## 1. App crashes looking for par

[2020-01-10 13:49] labkode commented on #2787
@michaelstingl @davivel @davigonz would be possible to address these points in a patch release?

For 1, it should be harmless to accept the content type, and I think this is one of the core fields of the WebDAV protocol.

For 2, the desktop sync client and web UI already uses a string instead of a number for the file_source/item_source variables. These type of incosistencies between different impl

[2020-01-10 16:03] michaelstingl commented on #2787
@jesmrec You did research this a while ago? Were you able to reproduce?

[2020-01-12 09:27] se7vet opened #2788 "就不能构建一个apk发出来嘛"
就不能构建一个apk发出来嘛，真的很难找诶

[2020-01-13 07:27] jesmrec commented on #2788
@se7vet by using google translate, i guess you say something like "i can not build apk". Please, send your request in english (afaip) and detail the problem or issue you want to tell.

[2020-01-13 07:28] jesmrec commented on #2787
I updated from 2.6 to 2.13 and i did not experience problems with endpoints, but i will recheck just in case. We will also review the remaining suggestions to check how feasible they are at this moment.

[2020-01-13 08:18] davigonz commented on #2787
Thanks @diocas and @labkode for your feedback.

This is something related to the oC server, since as you say, it does not seem to return `httpd/unix-directory` as `d:getcontenttype`. Of course, the app shouldn't crash under any condition, so you could create an issue in server and as soon as it returns what expected, we will fix the crash in the app. Or just give us an instance of your REVA server

[2020-01-13 08:22] davigonz commented on #2752
Maybe xodo generates a file with an unexpected file size, after modifying it? Need to check it

[2020-01-13 09:16] diocas commented on #2787
Hi @davigonz ,

We do not use the OC server, it's our own implementation. So there's nothing to report, I just stopped returning `d:getcontenttype` in our server and now it works.
I was just confused because the new REVA/OCIS returns that for folders. Probably it wasn't tested yet and it's not supposed to be like that (@butonic)?

About the issue you referenced for the app freeze problem, I was on

[2020-01-13 09:55] elschman opened #2789 "[FEATURE REQUEST] sync trigger to be executed on android tasker to start folder sync"
**Is your feature request related to a problem? Please describe.**
Currently one of the photo apps on my phone are not able to store the picture on the folder which is used from owncloud client and the other photo app to sync with my server.
Therefore tasker is coping the pictures to the correct folder but a sync is not started.
I would like to tell the client ... do a folder sync .. or .. a new p

[2020-01-13 12:00] jesmrec commented on #2774
Trying to reproduce the problem, i did not get an ANR with a folder that contains +1000 pictures. However, i found many logs like the following one (Android 9, app 2.14):

[code]

Some questions:

- Your +800 pics, are they using 30+gb? not sure if i understood correctly.
- Are your stuff only downloaded or even set as av. offline (purple mark)?

[2020-01-13 12:09] mstojanovic commented on #2774
i have the same error after every crash.
no i have multiple folders with 800+ pictures that in total have 30+gb
only 'downloaded', i.e. green mark, but not the full directory i dont keep the full local copy of the dirs on my phone.

i did some more tests, if i open a dir it takes some time to load but i loads thumbnails, the issue is only after i set files for upload to those big dirs, after selec

[2020-01-13 12:23] PVince81 commented on #2752
or one of the sent chunks is bigger. can you check the exact size of each chunk and see which of the sizes match the total ?

At the beginning of the upload, there's also a header "OC-Total-length" that a client can send. See if the client is sending it maybe with the wrong value ?

[2020-01-13 12:40] davigonz commented on #2755
Hi @DeepDiver1975 , I saw the comment above written by you in [this issue](https://github.com/owncloud/sociallogin/issues/7) and I would like to know more about the status of OIDC integration with oC.

I've also found some issues already opened, such as a [documentation](https://github.com/owncloud/docs/issues/2100) one and a repository with some instructions to configure OpenId Connect for ownClo

[2020-01-14 10:38] michaelstingl commented on #2789
With tasker, you mean https://tasker.joaoapps.com/ ? (Paid 3rd party app, similar to [iOS Shortcuts](https://apps.apple.com/app/shortcuts/id915249334))

[2020-01-14 10:50] elschman commented on #2789
yes nice tool to get things done

[2020-01-14 12:16] michaelstingl commented on #2789
There are no plans to detect changes on the filesystem. Also accessing the filesystem for apps will be heavily restricted in future Android versions. Does tasker support the Android `DocumentsProvider` / Storage Access Framework (SAF)?

[2020-01-14 12:47] elschman commented on #2789
I dont think so
 

Immo Wetzel
PGP Fingerprint (GMX) : D894 088D 3CE5 D769 7B89 518B E009 4219 129E 4642
ICQ: 30151767
Skype: immo_we

 
 

Gesendet: Dienstag, 14. Januar 2020 um 13:17 Uhr
Von: "Michael Stingl" <notifications@github.com>
An: owncloud/android <android@noreply.github.com>
Cc: elschman <elschman@wetznet.de>, Author <author@noreply.github.com>
Betreff: Re: [owncloud/android] [FEATURE

[2020-01-14 14:19] jesmrec commented on #2788
Closing... feel free to reopen after clarifying the aim of the current issue

[2020-01-14 14:19] #2788 closed

[2020-01-15 13:23] jesmrec commented on #2752
I repeated the scenario with the skeleton file `ownCloud Manual.pdf`

Initially, the origin file's size: 5097180 B

After modifying it (adding a new page) , the size in local is 5112704 B

There are 5 PUT operations (`Content-Length` header)

1024000 B
1024000 B
1024000 B
1024000 B
1016704 B

summing up 5112704 B, matching the size.

and the server exception:

`Chunks on server do not sum up to 50

[2020-01-15 14:21] PVince81 commented on #2752
@jesmrec I believe that the server is comparing that announced total size that the client sends with the "OC-Total-Length" header. Please check what value the client is sending, if at all. If none then it's a different mechanism.

[2020-01-15 15:17] jesmrec commented on #2752
you are right @PVince81. In case on the client, the header is included in the final `MOVE` (the one that fails):

`OC-Total-Length:  5083143 `

this field is read from the `OCFile` object as parameter of the `ChunkedUploadFileOperation` that's being executed by the `OwncloudClient` (this is all Android stuff).

Checking where exactly is this value coming from.

[2020-01-15 15:18] #2757 closed

[2020-01-15 16:05] jesmrec opened #2790 "Upgrading from old endpoints. Some tests and results."
After releasing 2.14 version, let's do some retrospective in the upgrading for app versions with old endpoints, that's it, versions older than 2.9

[code]

Upgrading matrix was totally correct:

| From..To | 2.9.3 | 2.10 | 2.11 | 2.12 | 2.13 | 2.14 |
| :-------: | :---: | :--: | :--: | :--: | :--: | :--: |
| 2.6 | OK | OK | OK | OK | OK | OK |
| 2.7 | OK | OK | OK | OK | OK | OK |
| 2.8 | OK | OK

[2020-01-15 16:16] michaelstingl commented on #2787
@diocas just FYI, @jesmrec had a closer look a "3. App uses the old webdav endpoint" in https://github.com/owncloud/android/issues/2790

[2020-01-15 16:18] michaelstingl commented on #2790
@diocas could you have a look what is different from your tests?

[2020-01-15 16:20] michaelstingl commented on #2790
@jesmrec @davigonz How would you estimate the effort? How often do we see this crash in the Play Store Console?

[2020-01-16 07:32] jesmrec opened #2791 "[RELEASE] 2.14.2"
Bugfixing version. Issues related:

https://github.com/owncloud/android/issues/2785
https://github.com/owncloud/android/pull/2776 (after revision)

### TASKS:

 - [x] [GIT] Create branch release_2.14.2 in owncloud/android from release_2.14.1
 - [x] [DEV] Update version number and name in build.gradle in owncloudApp module
 - [x] [DIS] Create changelog file (< 500 chars) and add to CHANGELOG.md in