[2015-10-06 17:55] bonswouar commented on #454
It's been more than one year since that suggestion, are you still planning on implementing it ?

I don't really see the point of the "instant upload" functionality if you can't easily upload old (or missing) pictures (except when you have a new phone I guess).

[2015-10-06 22:59] wuffleton commented on #516
Actually realized my APN was on dual stack still, and the WiFi AP I tried before worked today, so I think this is possibly related to #616. Switching my APN to IPv4 only allowed the app to work as expected (might be a viable workaround for some people if their carrier supports it).

Most cell carriers operate on IPv6 with tunneled v4 or have dual stack, so I wouldn't be surprised if something is c

[2015-10-07 09:20] masensio commented on #1182
Fix in master with PR #1190.

[2015-10-07 09:20] #1182 closed

[2015-10-07 10:34] AndyScherzinger commented on #1181
@jancborchardt are you fine with the proposal and change?

[2015-10-07 10:37] AndyScherzinger commented on #1179
This would mean one would basically need a remote switch, meaning you would have to configure this on the server side, for a certain client. I don't have any idea how this could be implemented concept-wise.

[2015-10-07 10:38] AndyScherzinger commented on #1166
any knowledge on where this would need to be implemented in actual code base?

[2015-10-07 11:30] agilob commented on #1179
Very easy:
1. Add Boolean shared preference SilentMode
2.
[code]

[2015-10-07 11:33] AndyScherzinger commented on #1179
Still doesn't compute for me. This works if you set it _before_ your phone gets stolen.

[2015-10-07 11:38] agilob commented on #1179
Yea, that's what I would do. Personally, two notification **per upload** annoy me. One is shown for uploading, second after upload succeeded/failed. Not having any notification would work better for me, and that's what this FR is about.

[2015-10-07 11:53] AndyScherzinger commented on #1179
Got it, that would be something that imho is technically possible to implement :) Fancy doing a PR?

[2015-10-07 11:54] agilob commented on #1179
Possibly. When's the next release?

[2015-10-07 15:04] cdamken commented on #1180
@tobiasKaminsky

https://cloud.damken.com/index.php/s/NveX5BYVLjy8zkd
password: carlos

I will ask that question again. Thanks!

[2015-10-07 16:22] AndyScherzinger commented on #1179
The next release is 1.8.1 - the release date is somewhere around end of year an excact date might be something @rperezb could tell us :)

[2015-10-07 16:42] tobiasKaminsky commented on #1179
After merging #762 there will only be a notification if an upload fails.
Disabling this function makes no sense to me.
I agree that the current situation produces too much notifications.

[2015-10-07 17:04] AndyScherzinger commented on #1179
would #762 solve your issue with the notifications @agilob ?

[2015-10-07 17:18] tobiasKaminsky commented on #1166
In InstantUploadBroadcastReceiver, function handleConnectivityAction

[2015-10-07 17:38] AndyScherzinger commented on #1166
Hmm

        if (!intent.hasExtra(ConnectivityManager.EXTRA_NO_CONNECTIVITY)
                && isOnline(context)
                && (!instantPictureUploadViaWiFiOnly(context) || (instantPictureUploadViaWiFiOnly(context) == isConnectedViaWiFi(context) == true))) {

--> checks the connection (type) but then simply starts uploading, then comes the loop:

Cursor c = db.getAwaitingFiles();

[2015-10-07 17:45] AndyScherzinger commented on #1166
One thing I am not sure of is the reference to context. Would it be possible that context somehow gets terminated by Android's life cycle system and at some point in time when using it for checking for the wifi connection the code would crash? (I am not that firm with Android and weak/strong references and the context's life cycle when being used in a receiver instance)

[2015-10-07 17:49] tobiasKaminsky commented on #1166
1. point: you are right. Within the loop there must be an additional check. This is easy and I did it locally.
But the problem is to cancel the current upload. This can be do via FileUploader.cancel(account).
Unfortunenately I could not managed it to get a reference to FileUploader in the BroadcastReceiver.
Therefore I gave up :/

Regarding context: I hope not. I think they stay intact as long as

[2015-10-07 18:04] AndyScherzinger commented on #1166
Not sure how to solve the second issue adhoc but wouldn't the first part (stop at least after the currently uploaded file) be an improvement compared to today.

So the other part "cancel an upload of a file during wifi connection lost" could be solved at another point in time on another opened issue. Standard case would be photos and/or videos I guess and at least for the photo use case (which pro

[2015-10-07 18:06] AndyScherzinger commented on #1166
@tobiasKaminsky  Would this be of any help?
--> http://stackoverflow.com/questions/10482171/how-to-get-reference-to-running-service
Lookup for a running service :)

[2015-10-07 18:06] tobiasKaminsky commented on #1166
@AndyScherzinger Yes, but it would better to solve both, I thin.
I am on IRC, if you want to discuss it.

[2015-10-07 20:47] agilob commented on #1179
Still doesn't solve the problem for me (and probably others with unreliable connection), when internet goes down or I'm behind filtered connection I get notification about failed upload every several minutes. I would prefer to disable notification completely.

[2015-10-07 20:51] tobiasKaminsky commented on #1166
@AndyScherzinger PR is in #1191.
Maybe you can test it?

[2015-10-07 20:52] AndyScherzinger commented on #1166
Nice! Did you find a solution? :)

[2015-10-07 20:56] AndyScherzinger commented on #1166
I'll see if I can test drive it tomorrow during the day or in the evening!

[2015-10-07 20:56] tobiasKaminsky commented on #1180
For my Nexus4 I cannot play it with the owncloud video player but with VLC.

[code]

[2015-10-07 20:58] AndyScherzinger commented on #1179
#1166  will be test driven soon and would fix the connection lost and still trying to upload scenario.

[2015-10-07 20:59] AndyScherzinger commented on #1166
Assuming we have a reconnect to another wifi, would the upload restart?

[2015-10-07 20:59] tobiasKaminsky commented on #454
With #1168 there will be the possibility to move the files from a folder on the device to the owncloud folder.
So this should solve this issue.

[2015-10-07 21:01] tobiasKaminsky commented on #1166
The upload starts again.
But if it tries to resume the failed file or continues with the next one, I cannot say.
But I would bet, that it does not retry :/

[2015-10-08 07:22] bonswouar commented on #454
I guess it would be a good enough workaround yes, thanks @tobiasKaminsky.

[2015-10-08 14:23] cdamken commented on #1180
It is playing on a sony xperia z3
It is not playing on Nexus 7 tablet.

Still waiting for the answers of the questions of @rperezb

[2015-10-08 16:47] tobiasKaminsky commented on #1186
Solved:
fileId is a locally managed Id whereas getRemoteId is a concatenated server fileId with serverId. So I can extract the fileId out of the remoteId

[2015-10-08 16:47] #1186 closed

[2015-10-09 13:25] cdamken commented on #1180
@tobiasKaminsky @rperezb About the video: Yes, I can view it through the regular player on the tablet.

[2015-10-09 13:30] Dreadeath opened #1192 "Date/time issue"
How can I change date and time view in app below folder names? I have only time right now, which is not very useful
![screen](https://cloud.githubusercontent.com/assets/8825774/10394911/a950e29e-6e89-11e5-88bc-da5d019a5542.png)

Version 1.8.0 from f-droid.

[2015-10-09 14:40] AndyScherzinger commented on #1192
At the moment there is no option to change this format. The app shows time being since the latest change which shows hours for the first day and after that shows the date (day/month). So this information will change in your app tomorrow :)

[2015-10-09 15:13] Dreadeath commented on #1192
Some folders updated months ago :-\

[2015-10-09 16:23] AndyScherzinger commented on #1192
hmm, that is strange.

Can you provide some kind of test account for your server to be able to debug this issue?
What Server version are you using?

[2015-10-09 16:49] Dreadeath commented on #1192
I did some tests, and when I change my smartphone's language to English, dates are displayed as it supposed to. So it is something localization-related I guess.

[2015-10-10 17:37] LukeOwncloud commented on #1188
This request reminds me of this discussion. https://github.com/owncloud/android/issues/588
Unfortunately, no solution nor compromise there...

[2015-10-10 17:46] LukeOwncloud commented on #1189
Please separate your request. One per github issue. Please open new issues.
My thoughts anyways:
This repository is just for the Android app.
If I remember correctly, the app did check the server certificate and warned me. Are you sure this isn't done everytime?
What second authentication channel are you proposing?

[2015-10-10 17:46] #1189 closed

[2015-10-10 17:55] LukeOwncloud commented on #1192
Confirmed. This is not a server issue. It's all about the system language. Try Russian, for example:
3 hours ago and 2 days ago seem to be correct. However, for older files just a timestamp as shown above is shown (I do not see any relation between that time and the actual change date.)

[2015-10-11 01:52] jancborchardt opened #1193 "Uploader layout & sort order should be same as for app"
When uploading content from another app (like the Gallery), the uploader view looks strangely different from the normal file list.

It should have the same layout, with file/folder info below the folder names, and also the same sort order if one chose to sort by modified date.

PR: #1277

@davivel @masensio @tobiasKaminsky @AndyScherzinger @Kernald @stoyicker

[2015-10-11 04:57] tobiasKaminsky commented on #1193
This depends on the app you choose.
We can only change the behaviour of upload -> files.

[2015-10-11 05:14] tobiasKaminsky commented on #1192
FileListListAdapter: 522
private CharSequence showRelativeTimestamp(OCFile file){
        return DisplayUtils.getRelativeDateTimeString(mContext, file.getModificationTimestamp(),
                DateUtils.SECOND_IN_MILLIS, DateUtils.WEEK_IN_MILLIS, 0);
    }

I do not see any language specific or custom implementation from us...
So for now I assume this is a bug by android?

[2015-10-11 05:20] tobiasKaminsky commented on #10
(As time changes and therefore new devices are purchased, I am working on this).
A really simple and awful solution is already working: you have to type the path manually and the app does not bother if the folder already exists and just writes into it.

So, for having this fully working
- check if folder exists: warn
- after changing path: move all files  --> is this needed? All files have to be c

[2015-10-11 07:45] AndyScherzinger commented on #1192
The further methods use the locale and plurals. Might be worth debugging. Not sure it is a Android bug.
Quite sure there is a work around :) I'll see if I find the time to look into this.

[2015-10-11 09:43] jancborchardt commented on #1181
Yep! :) Good call.

[2015-10-11 10:01] jancborchardt commented on #51
Well, I’d say that on a Nexus 5 and similar devices (even on a 4 inch screen), all elements of the log in screen should be visible even when the keyboard is shown.That’s the first run experience and we need to polish it. The logo doesn’t need to be that big, if it causes the action button to flow down.

cc @MTRichards

[2015-10-11 10:04] jancborchardt commented on #775
Yeah, I would handle media playing (music as well as videos) via intents, offloading it to other apps. Or we do it very very good. Currently that’s not the case at least for music, so there we should definitely offload.

cc @rperezb @davivel

[2015-10-11 10:16] jancborchardt commented on #382
Still very annoying when deleting a file:
![screenshot_2015-10-06-17-00-25](https://cloud.githubusercontent.com/assets/925062/10416283/056dcfac-706e-11e5-8565-ece17b275979.png)

Instead of doing that, the file should just get deleted in the background. If offline, queued for deletion.

@tobiasKaminsky @davivel @AndyScherzinger @Kernald @stoyicker @masensio

[2015-10-11 10:17] jancborchardt commented on #162
@MTRichards @rperezb the app still doesn’t work when offline. This is a killer when on a plane, train or plain bad wifi. People have to remember which files they wanted to delete or upload until they are next online … let’s prioritize this higher up!

[2015-10-11 10:19] jancborchardt opened #1194 "Only use one notification"
Currently when downloading multiple files, you often end up with 2 notifications: one for the download in progress, and one for the »success« notification of the previous download:
![screenshot_2015-10-11-14-47-09](https://cloud.githubusercontent.com/assets/925062/10416295/727ae18e-706e-11e5-88f5-5eccba5e28b2.png)

When there is another download coming right after, it is unnecessary to show the su

[2015-10-11 10:22] AndyScherzinger commented on #51
Just waiting for your decision on this. Resizing the logo to display all elements on devices with a resolution of a nexus4 and up can then be checked on emulators :)

[2015-10-11 10:28] AndyScherzinger commented on #1194
I think @tobiasKaminsky already took care of this in another PR :)

[2015-10-11 22:21] jancborchardt commented on #51
I’d say let’s go for it in a proof-of-concept pull request maybe?

[2015-10-12 13:05] ET-Bent commented on #163
Is there still development or any work around for this bug? I cannot use my OwnCloud weather with official certificates or self signed ones I always get the "SSL initialization failed" error. I don't want an ETA I just wan't to know if this get fixed anyway because for me and many others this makes the app unusable.

[2015-10-12 18:28] tobiasKaminsky commented on #1194
No, I think you mixed it with the "wait a moment".
In #1168 I have removed the "wait a moment" dialog for removing files as I would otherwise have to keep track of the deleted files to remove the dialog with the last file.

[2015-10-13 13:35] Circerus opened #1196 "Android App 1.8.0 Only shows "Nothing Here... Upload something" - OwnCloud 8.1.3"
Hello.
I am having issues regarding using the android app.
I have currently installed OwnCloud 8.1.3 and trying out the Android-App.

When logging into the webconsole all files are correctly shown, but when using the Android-App it only shows the message:
"Nothing here.... Upload something".
I can create folders and upload files, but files created at the web-console is not shown.

[2015-10-13 14:16] AndyScherzinger commented on #51
Sounds good to me! :)

[2015-10-13 14:22] rperezb commented on #1130
Thanks for the suggestions.

I have created new labels, mostly following the ones that are used on the core repo

0 - Backlog
1 - To develop
2 - Developing
3 - To Review
4 - To release

We do have also the Ready To Test, this I would say that it would be great to be used once the code has been reviewed and then we have the QA approved, which it´s mostly the "To release" one, isn't it?

@cmonterolu

[2015-10-13 14:33] rperezb commented on #600
Just noticed that this is a duplicated of: https://github.com/owncloud/android/issues/880, let´s follow its status on that one since there are more people involved

[2015-10-13 14:33] #600 closed

[2015-10-13 14:33] rperezb commented on #880
WIP https://github.com/owncloud/android/tree/share_with_users

[2015-10-13 18:38] tobiasKaminsky commented on #1130
Although it is not the same as /core I would suggest to add the "ready to test" as 4 and when QA is finished go to "to release".
Then we would have an exact order and it is easier to find the labels as they are in the correct order on top of the list.

[2015-10-13 19:01] tobiasKaminsky commented on #880
![share](https://cloud.githubusercontent.com/assets/5836855/10465065/4184b3a4-71ed-11e5-9c82-375b0e023152.jpg)
I like it :+1:
But I think that the folder icon is unnecessary big. This image is taken from a nexus 5 and I doubt that two sharees can be shown.
But it is great to see progress :)

[2015-10-14 01:16] jancborchardt opened #1197 "Show files in uploader"
Currently when uploading files from other Android apps (like Gallery), only folders of your ownCloud show in the upload popup. But it should also show files – otherwise you might think they are gone.

@davivel @masensio @AndyScherzinger @tobiasKaminsky

[2015-10-14 02:10] jancborchardt opened #1198 "Move file size next to date instead of floating right"
Currently in the list the file size floats on the right in free space (looks especially strange for short file names).

Instead, it should just be right next to the date, separated with a comma and space from it.

[2015-10-14 06:12] AndyScherzinger commented on #1198
This has already been done in #1090 weeks ago ;)

[2015-10-14 08:55] AndyScherzinger commented on #1192
@tobiasKaminsky @davivel @jancborchardt I found the "problem"...
https://github.com/owncloud/android/blob/master/src/com/owncloud/android/utils/DisplayUtils.java#L211
--> return dateString.toString().split(",")[0];

The ownCloud app's code is return the first part of the comma separated dateString. This works fine for English/German/etc. dates but not for e.g. Russian simply due to the fact that t

[2015-10-14 09:21] LukeOwncloud commented on #1192
According to http://developer.android.com/reference/android/text/format/DateUtils.html#getRelativeDateTimeString%28android.content.Context,%20long,%20long,%20long,%20int%29 `getRelativeDateTimeString` returns a string `formatted like "[relative time/date], [time]"`.

Quickly looking around for different time formats, did not give me any national formats which contain a , within the time part. So l

[2015-10-14 09:53] jancborchardt commented on #1198
Should get reviewed and pulled then … @davivel @rperezb @masensio @MTRichards

[2015-10-14 11:55] MTRichards commented on #1198
Concur, needs review. Wish I could do that part...

[2015-10-14 16:25] rperezb commented on #1196
Thanks for contacting us.
Let's open up the Android wiki, can you please check up: https://github.com/owncloud/android/wiki#data-is-not-shown-after-haved-login ?
thx

[2015-10-14 16:35] tobiasKaminsky commented on #1197
Please see #674 and if it is the same, please close.
PR for this would then be #821

[2015-10-14 16:47] tobiasKaminsky commented on #1196
This should be done by the app and report on failure that the webdav service is not configured correctly...

[2015-10-14 18:55] Circerus commented on #1196
Thank you for your replies.
The strange thing is that when enabling WiFi-connection on the android-phone everything works as normal. When setting up 4G-connection nothing refreshes..
Seems strange, but that's what I am experiencing.

[2015-10-14 19:29] jancborchardt commented on #1197
Right, it's the same. @davivel @masensio @rperezb the pull request #821 for that is 10 months old – we need to do better here.

Please also review #821 @AndyScherzinger @Stoyicker @Kernald

[2015-10-14 19:29] #1197 closed

[2015-10-14 20:34] tobiasKaminsky commented on #1130
Great, someone added "4 - ready to test" :+1:

Next step would be to collect guidelines for reviewing process, or? (maybe in a new issue)

[2015-10-14 20:40] cmonteroluque commented on #1130
@rperezb backlog should be a milestone, not a label, to match the other repositories.

[2015-10-15 06:52] rperezb commented on #1130
@tobiasKaminsky yes, I did it :), let´s leave open this issue till the reviewing process is updated, I will take care of in the following days
@cmonteroluque I have created the milestone as well as updated accordingly the iOS repo

[2015-10-15 06:54] rperezb commented on #1196
@Circerus are you on the same network as your server?
Perhaps the ip is not accesible out of the network, please check it.
@tobiasKaminsky yes, you are right, this is an enhancement for the app

[2015-10-15 07:41] AndyScherzinger commented on #1192
It's a matter of local dependent formatting. The [time] returns a time String and a time String also includes the date, while a date not necessarily includes hours,minutes and so on.

So the android function returns
* for English locale : "Jul 15, 4:09 PM"
* for Russian locale: "15 июля, 16:09"  (Android 23)
* for Russian locale: "16:09, 15 июля" (Android 22)

So it is a locale/Andsroid-Version to

[2015-10-15 08:06] LukeOwncloud commented on #1192
@AndyScherzinger I read the documentation differently: I understand [relative time/date] as: relative time (3 seconds ago), a relative date (5 days ago), or an absolute date (4/4/2000). Time is always hours:minutes. That is also what the examples are indicating and this is how it was changed with Android 23 (Russian). Consequently, I'd argue that the Android code did not follow its specification -

[2015-10-15 08:23] Circerus commented on #1196
@rperezb No, I am not at the same network as my server.
The server is located at an external location and is fully accesible from outside the network.
@tobiasKaminsky Will do that. ;)

[2015-10-15 09:16] AndyScherzinger commented on #1192
Ah, Sorry for my confusion, now I got what you mean :)
You proposed solution is looking good to me, covering the issue quite nicely :)

Would you like to open a branch/PR?
If not I can cover it, no problem.

[2015-10-15 10:01] LukeOwncloud commented on #1192
@AndyScherzinger please go for it! My development environment is not set up currently, as I am quite busy with other projects. I just like to come back occasionally to help a little and to see what I am missing...

[2015-10-15 12:10] AndyScherzinger commented on #1192
PR has been opened (#1200).

[2015-10-15 15:53] tobiasKaminsky opened #1201 "App should test webdav connection and inform user on failure"
If the app cannot load a folder content list, it should check webdav according to
https://github.com/owncloud/android/wiki#data-is-not-shown-after-haved-login
and inform the user that there is a problem with webdav and not only show "nothing here".

Even better: handle more common problems, like out of time, no connection, no ping...

[2015-10-15 15:54] tobiasKaminsky commented on #1196
New issue in #1201

[2015-10-15 15:56] tobiasKaminsky commented on #1196
Can you try to look into logcat, to see if there is happening something suspicious?
http://forum.xda-developers.com/showthread.php?t=1726238

[2015-10-15 16:58] tobiasKaminsky commented on #1067
As @MTRichards  said here https://github.com/owncloud/android/pull/821#issuecomment-148368416, the devs are quite busy with other developments.
Counting the open PR and (again) mention that it is getting harder to merge them the longer we wait, maybe it can be a good idea to say, that one open PR per week should be reviewed/tested.
I can help you with bug fixing :)

[2015-10-15 17:09] AndyScherzinger commented on #1067
I second @tobiasKaminsky's approach and could also help out with bug fixing. Having a community PR merged per week would make life a lot easier since like Tobias mentioned maintaining this amount of PRs I parallel get very painful over time until it is nearly impossible to merge at all.

But like Tobias said I am also aware that this is simply a capacity issue.

[2015-10-15 20:38] tobiasKaminsky commented on #1067
One community PR merged per week is maybe a little bit to eager and not something I would expect.
But maybe that the main devs are working half a day each per week for the community PR, would be great.
So that there is a more regular work and not a big rush and then two weeks "silence" (a little bit extreme though)

[2015-10-16 07:16] AndyScherzinger commented on #1067
True, it probably also depends on this size of the PR, half of mine are quite big due to libraries.

@davivel @rperezb @masensio is there anything we could do from our side which would make it easier to get PRs merged, for example also filling out a template when creating a PR or some tasks we could or should already have done and documented that would make your lifes easier?

[2015-10-16 11:42] rperezb commented on #1067
ey, yes we are trying to keep, at least, this average, 1 pr/week.

These days due to the commitment we are checking small pr or others helpful for the current features :relaxed:

My next week goal is to validate myself this one: https://github.com/owncloud/android/pull/1200 @tobiasKaminsky can you please add (y) if you agree with @AndyScherzinger implementation

thx!

[2015-10-16 17:23] tobiasKaminsky commented on #1126
@BearTi any update regarding my question?

[2015-10-16 17:24] tobiasKaminsky commented on #1097
@elpraga Do you have any update on this issue?

[2015-10-16 17:27] tobiasKaminsky commented on #873
@gjanssens Any update?
With "android app" you mean our owncloud app and not, for instance, the android gallery app (as you say "rescan")

[2015-10-16 17:29] tobiasKaminsky commented on #506
As there is no feedback, I am closing it.
If the problem still exists, please comment.

[2015-10-16 17:29] #506 closed

[2015-10-16 17:36] tobiasKaminsky commented on #529
Implemented in #1191

[2015-10-16 17:37] tobiasKaminsky commented on #513
Closed as no feedback.
If the problem still exists, please comment.

[2015-10-16 17:37] #513 closed

[2015-10-16 17:38] tobiasKaminsky commented on #510
This could be solved by #1059

[2015-10-16 17:39] Wikinaut commented on #513
ok!

[2015-10-16 17:40] tobiasKaminsky commented on #546
OC Server version < 4.5 has end of life since 7/2013, therefore closing this issue.

[2015-10-16 17:40] #546 closed

[2015-10-16 17:43] tobiasKaminsky commented on #571
Closing as no feedback given.
If problem still exists, please comment.

[2015-10-16 17:43] #571 closed

[2015-10-16 17:44] tobiasKaminsky commented on #576
@stixpunk @Crasha is this issue still valid?

[2015-10-16 17:44] tobiasKaminsky commented on #648
@aroquen is this issue still valid?

[2015-10-16 17:48] tobiasKaminsky commented on #684
Now the app cannot play the video in question at all, so therefore closing it.

[2015-10-16 17:48] #684 closed

[2015-10-16 17:48] tobiasKaminsky commented on #704
Closing due to lack of feedback.
If problem still exists, please comment.

[2015-10-16 17:48] #704 closed

[2015-10-16 17:54] tobiasKaminsky commented on #727
Then this can be closed.

[2015-10-16 17:54] #727 closed

[2015-10-16 17:55] tobiasKaminsky commented on #792
@User0815 Is this still happening?

[2015-10-16 17:55] #853 closed

[2015-10-16 18:00] tobiasKaminsky commented on #829
@davivel which version is required?
Then setup.md should be updated according to that.

[2015-10-16 18:46] jcharaoui commented on #510
Upgrading to version 1.8 fixed the problem for me on Cyanogenmod 11 M12+, video are now uploaded automatically like photos.

[2015-10-16 19:13] tobiasKaminsky opened #1202 "New label: resolved by PR"
There are many open issues that are only open as the corresponding  PR is not yet merged.
But it is hardly to see in the issue overview.
So I suggest a new label "resolved by PR/ PR exists" or something that indicates that the issue is only open as long as the PR is not merged.
For instance: #1181

[2015-10-16 19:14] tobiasKaminsky commented on #1067
BTW: I know, it is a small question, but what are "blue tickets"?

[2015-10-16 21:54] alexara opened #1203 "Unable to login due to SSL"
Hi!

I run OC 8.1.3 behind an nginx 1.8.0 proxy with php5-fpm and a self signed certificate.
The certificate has been imported as a system cert in android for DavDroid.
Everything including WebDAV and CalDAV runs find except for the OC android app:

Problem: I cannot login due to an unrecognized error.

Question: What could the reason be? Is it a bug in the OC app or has it something to do with my

[2015-10-17 03:31] MTRichards commented on #1067
These are bugs that are related to support tickets.

[2015-10-17 05:58] quamis commented on #506
I doesn't  seem to crash on large folders. I don't have folders that large
anymore, but it works ok on folders with 100 photos
On Oct 16, 2015 8:29 PM, "tobiasKaminsky" <notifications@github.com> wrote:

[2015-10-17 07:51] tobiasKaminsky commented on #1203
The HTTPS strict error is mysterious:
Can you post a http header read from e.g. firefox with live http headers addon?
This is, what I get: Strict-Transport-Security: max-age=31536000; includeSubDomains
In Apache I have configured: Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
I think ";" is causing the problem.

According to a website, in nginx this should look

[2015-10-17 08:19] stixpunk commented on #576
@tobiasKaminsky from version 8 it is ok for me

[2015-10-17 08:19] alexara commented on #1203
Problem solved: I accidentially had an empty space within the last header which actually caused the problem (Key-Pin). Interestingly OC in the browser though was  happy about it.

[2015-10-17 08:19] #1203 closed

[2015-10-17 08:22] tobiasKaminsky commented on #576
So closing it.
If @Crasha experiences this issue, please comment.

[2015-10-17 08:22] #576 closed

[2015-10-17 10:14] enoch85 commented on #510
Close?

[2015-10-17 10:17] #510 closed

[2015-10-17 10:17] tobiasKaminsky commented on #510
When the problem still occurs for somebody, please comment.

[2015-10-17 21:09] elpraga commented on #1097
Hello Tobias!

I was watching the behavior of the app. Recently the thumbnails do appear,
but tremendly slowly. I have to enter and leave the folder several times in
order to see all the thumbnails. This is true even fit folders with just a
dozen of photos in them. The internet connection should not be the issue as
download of files  goes reasonably quickly.

Is there a way to speed up the process

[2015-10-18 07:57] tobiasKaminsky commented on #1097
@elpraga thanks for your feedback.
Are those folders shared with you? Or do they belong to a shared folder?
With my OC server, all thumbnails of folders that are not shared are very fast, but the folders I have shared with my wife, show exact the same behaviour as you described. But not for me, instead my wife has this problem.
I suspect that the one who was shared with (sharees) cannot reliable a

[2015-10-18 08:20] elpraga commented on #1097
Hello Tobias!
No, the files are on my server. I just tested another folder on a different
server and it seemed like the first 7 is so thumbnails got there quickly,
and the rest took noticeably longer, though MUCH LESS then it used to take
when I first reported the issue.

This makes me wonder when are the thumbnails generated? Is it when I open
the folder for the first time in the app? Do they get

[2015-10-18 08:30] tobiasKaminsky commented on #1097
The thumbnails are generated on server side, but I do not know when and where. This is handled by /core.
We are just using the thumbnail system that are already shown on the web UI, though with a maybe different image size as our image size depends on the mobile display size.
Maybe @DeepDiver1975 can help us here (or give us an idea who we can contact for thumbnail generation questions?)

[2015-10-18 09:54] tobiasKaminsky commented on #695
@DeepDiver1975 Is there a search api in /core? (Sorry, if you are not the right contact person in /core, but you are roughly the only one I know)

[2015-10-18 11:22] tobiasKaminsky opened #1204 "Uploader: colorify primary action"
https://github.com/owncloud/android/pull/1168#issuecomment-147176140:
Colorify primary action (upload) after #1209 is merged.

File: Uploader.java / uploader_layout.xml
Depends on: #1209, #1168
- [x] material buttons https://github.com/owncloud/android/pull/1209
- [x] avoid duplicates https://github.com/owncloud/android/pull/1168

[2015-10-18 13:46] elpraga commented on #1097
That would be great! If we could find a way to improve the thumbnails
loading, it would be a great boast in usability of the Android app!

BTW.. Are there any plans to add sharing with users (like in the web) to
the Android app?

Regards.

Tomas

[2015-10-18 14:43] tobiasKaminsky commented on #1097
regarding share: there is: #880

[2015-10-19 07:22] DeepDiver1975 commented on #1097
Thumbnails are generated on request - which will generate some load on the server in case a folder with many files is entered the first time.

There have been lengthy discussions on changing this behavior ... the path to walk is not yet fully clear ... lets see

[2015-10-19 08:23] DeepDiver1975 commented on #695
Nothing which is usable by the clients (in terms of public api or ready to be used)

[2015-10-19 09:24] LukeOwncloud commented on #1067
Could some automated testing help speeding up things? I never used such tools but I imagine if contributors could use such a test which tests all activities, input fields, clicking, and swiping, etc. more problems could be found before QA starts. Would a contribution of such a test environment/tool be welcome? And could it improve speeding up integrating PRs?

[2015-10-19 11:58] elpraga commented on #1097
Thank you for the answer!

I understand that both approaches have it's reasons.

Would it be too difficult to make it an option in the settings of the
owncloud's web interface? I guess that should not be that difficult.

I would certainly check the option: "Generate thumbnails on photo upload"

I use mainly the Linux client to upload the photos, but I rely on the
Android client to see some of them

[2015-10-19 15:57] dtb1987 opened #1207 "View a file without downloading it"
I would like to be able to view a file without having to download it to my phone

[2015-10-19 17:00] tobiasKaminsky commented on #695
@DeepDiver1975 Thank you for your reply.
Is there a related issue in /core, which I can subscribe to? Or should I open one?
Then I could also link it to this one.

[2015-10-19 17:02] tobiasKaminsky commented on #1067
AFAIR there is already a test suite for automated tests:
https://github.com/owncloud/android/blob/master/automationTest/README.md

I think the most improvement would be, that many community member review and test PRs.
Then the effort for the main devs will be much less.

[2015-10-19 17:04] tobiasKaminsky commented on #1207
Please search. There are already issues for this and even a PR (for images):
#982

[2015-10-19 17:04] #1207 closed

[2015-10-19 22:11] jancborchardt commented on #1067
Then the effort for the main devs will be much less.

Yep, this is a very important point! When everyone just cross-reviews pull requests of others at https://github.com/owncloud/android/pulls, we can go through testing and finding issues much quicker. Just like we do in the server and other apps.

ccing community contributors @tobiasKaminsky @AndyScherzinger @LukeOwncloud @stoyicker @Kernald @Wik

[2015-10-19 22:27] DeepDiver1975 commented on #695
I'm not aware of one right away - maybe searching github can reveal something.
At least there should be an issue about webdav search by @butonic

[2015-10-20 07:06] butonic commented on #695
There is a research issue where I had a look at hew we could expose our search via webdaf, since there is RFC5323 for it: https://github.com/owncloud/core/pull/12884. See also comment in https://github.com/owncloud/core/issues/12543#issuecomment-67628949

The bottom line is that we should implement a query language that can express RFC5323 `DAV:basicsearch` parts:

- `DAV:select` provides the resu

[2015-10-20 16:49] ElpyDE commented on #827
Would very much love the "Account to upload to" feature as described by @jancborchardt.

@davivel is there an issue or another place your suggested "global review" of settings is discussed?

[2015-10-20 18:47] tobiasKaminsky commented on #695
Thank you both for your feedback.
Then we will wait until the server part is finished.

[2015-10-21 09:00] supportreq commented on #592
@AndyScherzinger can we have this?? Its the need of the hour as most cloud solutions have streaming of videos, mp3 instead of downloading...

[2015-10-21 10:27] AndyScherzinger commented on #592
That is rather a question for @tobiasKaminsky, @DeepDiver1975 and other server side colleagues since I am rather a UI guy than a media streaming expert.

[2015-10-21 11:35] rperezb commented on #1136
@jancborchardt we'd appreciate your input as well as @tobiasKaminsky @AndyScherzinger @LukeOwncloud and others.

The key thing is about the icon, does this icon represent that the files or folders are kept-up-to-date?
(The same one will be used on iOS too)

cc/
@davivel @masensio @javiergonzper @ggdiez @nasli @jesmrec

cc/

[2015-10-21 13:00] AndyScherzinger commented on #1136
Tricky one.
* The sync icon is imho rather an action(-trigger) than a state
* The star is used by others (e.g. Dropbox) for this matter but is also used to highlight/bookmark (e.g. gmail)

So I would keep the star for keep-in-sync since
* I guess the sync icon is not as bold from the style and thus hard to read on a white background
* the sync icon might (at least by me without any explanation) be

[2015-10-21 14:03] rperezb commented on #1136
Thanks for the answer.

The reason for changing the star is because on the ownCloud web interface it means bookmark, so it´s confusing that on the mobile apps it has a different meaning.

We agree that the sync icon may be understood as an action icos, because of that we are looking for ideas

[2015-10-21 14:09] LukeOwncloud commented on #1136
I am not sure I understand bullets 5-7 correctly: Does `sync` mean 2-way-sync(5)? Are *all* starred/favorite folders synced on starting app(5)? Or just those folders which are *currently visible*(6,7)? What is the difference between  6 and 7?

Are you aware of https://github.com/owncloud/android/pull/1109? As I understand it is already about syncing folders.If it really keeps folders synced at all

[2015-10-21 16:39] rperezb commented on #1202
What about using one of the existing ones?
For instance the same used on the pr, in this case To review
Plus, as we used to do, it would be great to comment either on the pr or on the issue: "Fixes #xxx" so that they are linked

[2015-10-21 19:59] jancborchardt commented on #1136
Right, good point by @AndyScherzinger:

Sure in the web interface the star means favoriting, but in the desktop app the circular sync arrows mean that a sync is running and the file _isn’t_ synced yet. Exactly the opposite of what this would do.

[2015-10-21 20:07] tobiasKaminsky commented on #1136
According to "accounts" in android setting a static circular symbol means, that a sync is possible (and started by clicking on it) and a spinning symbol means that a sync is in progress.
Maybe this will also work for us?

[2015-10-21 20:45] tobiasKaminsky commented on #592
https://github.com/owncloud/core/issues/19958
So this is nearly a 10liner to create.
And then it will also work for audio :)

[2015-10-21 21:09] AndyScherzinger commented on #592
Sounds awesome!!!

[2015-10-21 22:18] jancborchardt commented on #1136
Our design language (and that of Dropbox and other players of course) uses the circular arrow as »file about to be synced« though. @owncloud/designers any ideas? We could use a new »pinned« metaphor like Google Drive does …

[2015-10-22 01:12] supportreq commented on #592
This would be awesome.. Can we not implement streaming inside the android app itself cause we already have a video and audio player.. This will be an awesome and a long due feature..

[2015-10-22 06:50] JasperWeiss commented on #1188
Could this be looked at, please. The fact that I have to manually delete each and every file really makes owncloud a no-go for me.

[2015-10-22 07:55] LukeOwncloud commented on #1136
How about adding a new overlay icon (top left, e.g.) using the default icons? Green circle with white checkmark: synced/up-to-date, blue sync: about to sync, red: sync failed.

[2015-10-22 08:03] LukeOwncloud commented on #1201
I like the idea to handle all these errors in a common way. Then this issue is somewhat related to https://github.com/owncloud/android/issues/162

[2015-10-22 09:08] davivel commented on #880
@tobiasKaminsky , right, icons / thumbnails are too big. We'll improve that.

Still progressing on this one.

[2015-10-22 09:17] davivel commented on #884
Hi, @BoBeR182 . Do you still suffer this bug? What versions of app and server do you use right now?

I'm not sure what you mean with "log me out". When does the app request you to log-in, right

Can you tell us what 'Sharing' options are enabled and disabled in your server? You will find them in the 'Admin' panel.

Thanks in advance.

[2015-10-22 09:23] davivel commented on #930
Hi, @treakiandroid .

Nice to see that the crash is not there anymore.

What do you mean with this? You opened the issue due to the crash, could you give us more feedback about what's not working now?

Thanks.

[2015-10-22 11:45] jancborchardt commented on #880
Sorry I haven’t come around to a design review on this one – it’s up on my list as I have some remarks! :) (Same for iOS)

[2015-10-22 11:50] davivel commented on #1136
Totally agree.

I don't think  we need a third overlay icon. I'd use two, as right now: one to show the current *sync state* of the file (sync'ing, downloading, uploading, synced/down, ...) , and the other to show how the user wants that it's sync'ed (kept-in-sync or 'regular'). Let me open a separate issue to discuss about the icon(s), I think it's important they are well balanced.

@LukeOwncloud

[2015-10-22 12:36] davivel commented on #880
Don't worry, still working on it. Maybe we can make an overall review after covering the fundamental operation.

[2015-10-22 14:57] rperezb commented on #880
@jancborchardt it would be great if you may check it, asap.
Would it work if I provide to you an apk?

[2015-10-22 17:37] tobiasKaminsky commented on #592
No.
I tried it since 3 hours... The internal player is...awful.
I tried to play several downloaded files to just prove it is working before trying to stream them.
But none of the videos is being played.

So. I will just send the generated link via intent to all capable audio/video apps.

Supporting/enhancing the internal player is something, someone else can do :/

[2015-10-22 17:42] tobiasKaminsky commented on #1188
Do not rush! There are several issues that belong to this and that are a lot of older.
See #592. I am already working on it. Also #1044 is handling images.
And furthermore, you do not have to delete every file on its own. Just go to the parent folder and delete this with "only on device".

Replacing the download functionality to a version where the files are not permanently being stored was alread

[2015-10-22 19:34] The0x539 opened #1210 "Full-height material drawer?"
So I looked through the couple issue and PR threads pertaining to the Material redesign, and all I can tell is that at one point in the screenshots the drawer went at least up to the status bar, but then it started stopping at the app bar. Can't seem to find an issue pertaining to this, so...

### Expected behaviour
The drawer goes from the nav bar, or bottom of screen with hardware buttons, to th

[2015-10-23 06:47] supportreq commented on #592
I think the native player requires videos having native codec like h264, mp3 for it to work..

I guess what we can do is if it opens in the native player great else an option to open in another app.. what say?

[2015-10-23 07:47] AndyScherzinger commented on #1210
This is the right place and a known behavior :(
I will look into it but it will unfortunately take some time since I am quite busy at the moment.
When I implemented it it worked as you described it while I was using a toolbar instead on an action bar but the toolbar had a lot of problems with setting the back navigation right. Thus we felt back to the action bar. Not sure if this can be tackled wi

[2015-10-23 08:05] AndyScherzinger opened #1211 "Date/Time format for certain languages"
Follow up issue for #1192 and #1200

Issue: For some languages the time is shown besides the date instead of just the date (see screenshot)
![329b8b3a-7966-11e5-8b33-4237876b2e85](https://cloud.githubusercontent.com/assets/1315170/10687460/95b192ee-796d-11e5-8ae9-a56949a3d74e.png)

[2015-10-23 17:40] tobiasKaminsky commented on #592
Yes. I have convinced myself to give the internal player a second chance... ;)
The current state is:
- Passing the streaming url to the internal player
- If this does not work:
 - Show warning that password can be exposed, then dialog yes/no, after that send url to vlc (later this will be a chooseable dialog)

The url has to include the password in cleartext, so a warning is necessary.

[2015-10-23 18:59] elpraga commented on #1097
Hello Tobias!

I was looking into the issue more in those days. And it seems that the thumbnails are generated every time a device requests them. I accessed a folder with 90 pictures on my phone and waited until all the thumbnails were generated. Then I accessed the same folder from the tablet and again, it took painfully long to see the thumbnails.

Can we confirm if this is the behavior? It woul

[2015-10-24 05:49] tobiasKaminsky commented on #1097
Are you using the same account or are these independent accounts and you share the files between them?
Might be related to https://github.com/owncloud/core/issues/18417 or https://github.com/owncloud/core/issues/17186

Anyway: This seems to be more a server issue...

[2015-10-24 06:02] tobiasKaminsky commented on #592
@all: Can someone please provide me a video sample that is working with the internal player? I am using a Nexus 4.

[2015-10-24 07:44] tobiasKaminsky commented on #592
As this will be difficult to test as there are so many external players, different file names and different video formats, I will need some people to test, once the PR is ready.
I will then provide a apk with the PR, if this is ok for you? @davivel @rperezb

[2015-10-24 08:27] supportreq commented on #592
@tobiasKaminsky I can test it for you..
Will share with you a video file.. please advice how do i send the file..

[2015-10-24 11:40] aroquen commented on #648
I haven't used that app for quite a while so I can't tell. Should I experience problems again, I will report them here.

[2015-10-24 12:21] lide123 opened #1212 "Android Studio import error"
Android Studio import error

![qq 20151024071550](https://cloud.githubusercontent.com/assets/10562021/10710433/87daac9e-7a8c-11e5-9d65-d57b992df185.png)

[2015-10-24 14:21] Bugsbane commented on #880
Just going off the screenshot, is it actually necessary to have users click the button labeled "Add a user or group" when they're presumably already at the share screen? Maybe I'm missing something by not seeing the interaction flow, but from the photo alone, it seems redundant.

[2015-10-24 15:57] tobiasKaminsky commented on #648
Ok. Then for now we will close it, but please feel free to reopen, if the problem occurs again.

[2015-10-24 15:57] #648 closed

[2015-10-24 16:00] tobiasKaminsky commented on #1212
For me there is "Before launch: Gradle-aware Make" and nothing about a JDK.
Normally gradle is being used as build system and this should manage everything correct.
Have you executed: $./setup_env.sh gradle && ./gradlew clean build

[2015-10-24 16:01] tobiasKaminsky commented on #880
@Bugsbane It is also for editing the existing sharees.
But you are right if there is no existing sharee, then it is one more step.

[2015-10-24 16:37] elpraga commented on #1097
The situation with the tablet and the phone I described regarded the same
folder under the same account on two different devices.

But I do use owncloud to share photos with my family, because I live
abroad. And they de have different accounts on the same server. 8 can't
give exact measures on their parts, because they are not too fond of
computers and they live thousands if kilometers away, but I

[2015-10-24 19:18] tobiasKaminsky commented on #592
https://owncloud.tobiaskaminsky.de/index.php/s/kZ41pl8UPDieBQM
password: owncloud
There you can upload one or two videos.
Thank you!

[2015-10-25 00:38] elpraga commented on #1097
Thank you for the links! Now i understand the thumbnail creation process a
little better.

Ifound this old ns ongoing discussion that addressed the matter:

https://github.com/owncloud/core/issues/11685

..ifyou areinterested..

[2015-10-25 06:57] tobiasKaminsky commented on #1097
@elpraga Thank you for pointing out this interesting discussion on /core.
BTW: What kind of server are you using? It must be some "low" hardware as you are facing this problem?

[2015-10-25 07:04] tobiasKaminsky opened #1213 "Public Beta"
In order to pre-test the PRs by the community I suggest to create a public beta in a new branch.
There will be an apk, that experienced user can download, install and test.
This branch will contains all PRs that are "3 - to review" or above.
Issues regarding the beta will get the label "Beta".
Found bugs or improvements are implemented in the corresponding original PRs and merged back to beta.
The

[2015-10-25 07:25] tobiasKaminsky commented on #592
The app is trying to stream the audio/video with the internal player, if this fails I show a dialog:
Sending the url to an external app can expose your password. Do you want to continue? -> Yes / No

Background: The url is in form of https://test:test@demo.owncloud.org/remote.php/webdav/Demo%20MP3%20-%20E.J.%20-%20Blick%20Zur%C3%BCck.mp3

@jancborchardt Is the wording ok for you?

[2015-10-25 08:50] Wikinaut opened #1214 "Downloading an image from gallery view: owncloud crashes after the download step."
How to reproduce.

I open a folder "photos" which only has image files (jpg, png). Not a list of files, but a gallery is then shown, three column layout. In my case, the directory contains 12 photos and I see a gallery of 3 columns and 4 rows.

When I click onto one photo. the download to my android device starts (and works), then while apparently trying to display the image the automatic opening

[2015-10-25 09:47] jancborchardt commented on #592
Wait – it can expose your password? How so?

The wording could be improved to:

[2015-10-25 09:48] jancborchardt commented on #1213
I’d say this would be very good to ensure a good quality level and maybe even get some people involved in development.

[2015-10-25 10:14] elpraga commented on #1097
Happy I could help! I was thinking to ask you about the thumbnails
generation process to point it out, but i noticed that You already did :-)

I tried to look into the thumnails i have at the server yesterday to check
if the thumbnails are being generated again for the tablet because of the
different density, but I'll need more time to find that out.

I'm using mele a2000 as a server. It is origin

[2015-10-25 10:53] LukeOwncloud commented on #1213
Great idea! And thank you for your offer to act as maintainer! I'd love to test that beta.

About creating the APK: It should always the signed with the same key to allow updating without prior deinstalling. Will you, @tobiasKaminsky, always create it or should we create a "shared beta key"?

[2015-10-25 12:33] tobiasKaminsky commented on #592
@jancborchardt Yes. The username and password must be part of the called url as of the "limitation" of webdav: it must have the credentials in the url to authenticate.
The external player (e.g. vlc or mx player) only accepts a plain url and therefore we cannot send another authentication.

[2015-10-25 12:51] tobiasKaminsky commented on #1213
Ah. Good point about the signing of the app.
I guess it is not a good idea to expose the "beta key" for security reasons, or?
So, I would do this.
In fact it is not that often, I think: Once a new PR is ready for testing and once a bug/enhancement was committed. So I guess roughly max 2-3 per week...
This is something I can do :)

[2015-10-25 19:14] pascalBokBok opened #1215 "In-progress upload notification gets frozen and can't be dismissed"
Owncloud's upload will sometimes freeze in the middle of an "Instant upload" if I'm on the edge of my wifi or leaving the house. Then the notification that the upload is 55% (or whatever) just stays there as it is still uploading and it is non-dismissable. It would be nice if this uploading notification was dismissable.
If owncloud has not actually sent any data for a minute it should  queue it fo

[2015-10-25 20:38] AndyScherzinger commented on #1213
I think this is a good idea! I also always work run my latest PR on my phone to see if everything works fine over time. Having other people and/or devs running the version would provide valuable feedback :) :+1:

[2015-10-25 20:41] AndyScherzinger commented on #1214
@Wikinaut can you provide a stace trace from the logcat console? Thius would help identifying the source of the crash

[2015-10-25 20:56] Wikinaut commented on #1214
@AndyScherzinger Honestly, I don't know, how I can do this. Pls. send me a link to a page describing this,

[2015-10-25 21:43] AndyScherzinger commented on #1214
Actually I do not have a link. When you connect your phone via an USB cable to your computer and open up Android studio or Eclipse adt you have the logcat at the bottom of your ide showing you the phones log :)
Hope that helps.

[2015-10-25 23:00] jancborchardt commented on #592
@DeepDiver1975 @LukasReschke what do you think?

[2015-10-26 08:12] rperezb commented on #880
@Bugsbane the screenshot shown is the first one,
In case that the data has been already shared with any user/group there it's listed this information. If you want to share from the mobile app, then you click on the add button and a search view is implemented.

[2015-10-26 09:49] xylo commented on #592
As long as you trust the external player the solution of tobiasKaminsky seems to be OK.

However, for future it would be nice if an alternative authentication method could be used, e.g.
* hash sum of user password and filename or
* one-time-password that is valid only for one day and the given file

[2015-10-26 10:01] xylo commented on #1213
Great idea. I would also like to test the new features.
If there is interest I would offer to set up an f-droid repository for the betas (in case you didn't have the same plan yet).

[2015-10-26 13:32] TheBR commented on #1126
Hi,  I'll take this on as i have the same issue and have done some investigations to narrow it down.

The problem is as follows - please read.

demo.owncloud.org works, as will a connection to your own server, thumbnails WILL be shown however ONLY if you have generated the thumbnails by browsing via the web interface first.

Here's an example.

Copy one or more pictures to your Owncloud instance,

[2015-10-26 13:46] masensio commented on #880
Hi @all,
there are some screenshots with the appereance of "Share with users" dialog.
(Made with Nexus 5, Android 6)
![screenshot_20151026-142957](https://cloud.githubusercontent.com/assets/3862330/10730209/e0a7b4d0-7bee-11e5-8efc-74a66c1cafaf.png)

When you click on "Add User or Group" button, it is shown:

![screenshot_20151026-143001](https://cloud.githubusercontent.com/assets/3862330/10730241/

[2015-10-26 15:25] AndyScherzinger commented on #880
I don't have a preference in this case for dialogs over fragments/activities. Though I wondered how I would close the dialogs since they don't seem to have a "closing action". So maybe that is an aspect which would argue for fragments.

[2015-10-26 15:34] lide123 commented on #1212
thanks for you help.it works now.

[2015-10-26 15:34] #1212 closed

[2015-10-26 17:14] xdmx opened #1217 "Instantupload doesn't work with camera360"
I've the last version of both owncloud and [camera360](https://play.google.com/store/apps/details?id=vStudio.Android.Camera360) and I've noticed that when I take a picture is not automatically uploaded to my owncloud server. Photos are saves in the same folder used by the stock android camera app and from which the upload works correctly. It's just from camera360 that doesn't work

[2015-10-26 19:41] tobiasKaminsky commented on #1214
http://forum.xda-developers.com/showthread.php?t=1726238
Maybe this helps?

[2015-10-26 19:48] tobiasKaminsky commented on #592
I like the first idea of @xylo, but as far as I have read owncloud does not support http digest authentication: https://mail.kde.org/pipermail/owncloud/2013-June/009552.html

[2015-10-26 19:50] tobiasKaminsky commented on #1126
@TheBR As far as I know all file handling (create, update, delete) must be done via an official way: webdav, desktop or mobile client as otherwise owncloud is not aware of a file change.
Therefore your test is not valid and must fail.

[2015-10-26 19:53] tobiasKaminsky commented on #880
For maintaining reason I prefer to have both in the same way.
I think I remember that @jancborchardt said once that such non-permanend things should be dialogs an contrast to "new views (like show only offline files)" to better show the user that this is only for few actions visible.

[2015-10-26 19:55] tobiasKaminsky commented on #1217
Our app listens with a broadcast receiver on these events:
android.hardware.action.NEW_PICTURE
com.android.camera.NEW_PICTURE

They should usually be send after a new image was taken.
If this is not the case, please contact the devs of camera360 and ask them to implement this broadcast event.
You can also link them to this issue, if they need some support.

[2015-10-26 20:40] TheBR commented on #1126
Ok, so how does Owncloud handle file shares etc? This also used to work also prior to version 8.

Either way - i think my test was over complicated, here's a more "official" way of doing it.

Add a directory of pictures via Owncloud web interface however do not then go into that directory via the web interface.

Browse to the newly added directory via the app - no thumbnails.
Browse into it via th

[2015-10-26 22:01] tobiasKaminsky commented on #1213
Please see https://github.com/owncloud/android/tree/beta
I have updated the Readme and Changelog.
The next days I will add other PRs, sorted from old to new, to get the old ones tested (and merged) sooner.
Currently there is a compile error by travis, which I will fix tomorrow.

Happy testing and please use the label "Beta" if finding bugs, or comment in the corresponding PR.

[2015-10-27 08:47] davivel commented on #880
In this case they are only dialogs in appearance, the implementation is an Activity themed as a dialog. We get this way the non-permament feeling that @tobiasKaminsky comments, but moving between different fragments is easier.

@Bugsbane, besides the editing mode, it's planned to join in this view another "section" below for "share via link", and remove the separeted option from the context menu i

[2015-10-27 12:41] davivel opened #1218 "As an OC user I want clear badges in my list of files so that they are easy to understand"
UPDATE 2016/05/18: Remaining tasks to finish implementation of this topic are in comment https://github.com/owncloud/android/issues/1218#issuecomment-219725127

***

As seen in #1136, we need to find a new icon to mark files as "to-be-kept-in-sync" (1). The current icon, the star, is the same icon used in the recent versions of the web UI to bookmark files (favorites). In some moment we will proba

[2015-10-27 13:03] davivel commented on #1218
![star](raw/master/res/drawable-hdpi/ic_favorite.png?raw=true)

[2015-10-27 13:36] davivel commented on #1136
Sorry for the delay. I opened #1218 to discuss the details about the icon.

[2015-10-27 13:57] davivel commented on #1218
Just to be clear: the former table is what we have now, not we need to have. That's what we need to define in this issue, reusing part of what we have or not.

[2015-10-27 17:35] rperezb commented on #1213
Thanks a lot @tobiasKaminsky for your willingness!

[2015-10-27 18:37] BearTi commented on #1126
I also reproduced the problem:

1) I put some photos in my windows folder and the ownCloud Client synced the photos my ownCloud-Server (Webhosting).

2) I opened the app -> no thumbnails

3) I browsed to the folder via web-interface ->  thumbnails get generated.

4) Back to the app - thumbnails.

So. same like TheBR decribed just via windows client...

[2015-10-27 21:18] jancborchardt commented on #1213
Very important here is that the beta uses a different ID than the normal app, so that they can be installed side by side. Is that possible @tobiasKaminsky @rperezb?

[2015-10-28 12:50] LukeOwncloud commented on #1214
@AndyScherzinger and @tobiasKaminsky, did you ever use an `UncaughtExceptionHandler` on Android? I always wanted to suggest that we use one but since I never encountered any report of an app crash, I thought it doesn't matter. No it does... -> http://www.intertech.com/Blog/android-handling-the-unexpected/

[2015-10-28 13:24] AndyScherzinger commented on #1214
@LukeOwncloud not that I remember, but we used bugsense in Andlytics to catch/capture errors and send them to the server. With ownCloud I leave this up to @davivel @rperezb @masensio since like you mentioned I will probably never see an app crash reports being a contributor but this might be something of interest for the team operating the app :)

[2015-10-28 14:37] bymueller opened #1222 "Short with own YOURLS Links Shorter"
Hey there,

could you please reduce the over YOURLS integrate? Thanks!

Best,
Benny

[2015-10-28 14:37] #1222 closed

[2015-10-29 03:01] whisere commented on #695
When will this search feature be released in the latest Android version, will this be included into the  iOS version too?

[2015-10-29 13:10] cdamken commented on #1180
@rperezb Any news?

[2015-10-29 16:41] tobiasKaminsky commented on #1213
@jancborchardt I have included this. We can now install the app side by side :)

[2015-10-29 18:04] davivel commented on #1057
Seen & merged. Thanks!

[2015-10-29 18:04] #1057 closed

[2015-10-29 18:18] tobiasKaminsky commented on #1213
Ladies and Gentleman: We now have a nearly up-to-date beta version with every PR labeled "3 - ready to review".
If you install it, please leave a short note here. In that way we can see how many beta users we have.

[2015-10-29 18:19] tobiasKaminsky commented on #1213
https://github.com/owncloud/android/blob/beta/apks/owncloud-beta-2015-10-29.apk
Here is a direct link to it :)

[2015-10-29 18:21] tobiasKaminsky commented on #1213
@all Please feel free to ping me, if you see that a PR is missing or a PR has been updated and should be included in the beta.

[2015-10-29 18:25] AndyScherzinger commented on #1213
I got one (which you probably don't want to add :grin:) --> #1220 (23 as compile target
and one which might end up in the master branch soon anyways: #1192

[2015-10-29 18:26] tobiasKaminsky commented on #1214
@LukeOwncloud Thank you for this very useful link.
I am considering to implement this in the beta version with the possibility to save the output.
With that every user should be able to post the output to github.

[2015-10-29 18:38] Wikinaut commented on #1214
I am listening here, but being more interested, if anyone else can confirm my observation (the issue subject).

[2015-10-29 18:45] tobiasKaminsky commented on #1214
No, I think we need an output of logCat or something similar.
Everything else would be just guessing...
Do you have enough space left on the device?

[2015-10-29 18:54] tobiasKaminsky commented on #695
As the previous devs said, there is no functionality in the server that will allow searching for now.
So this will have to wait.
The same is true for the iOS app.

[2015-10-29 18:59] Wikinaut commented on #1214
As I told you, I want to see, if anyone else has this problem. I cannot produce logCat output.

[2015-10-29 19:00] Wikinaut commented on #1214
@tobiasKaminsky Try it on your device.

[2015-10-29 19:10] tobiasKaminsky commented on #1214
I have and on an emulator with Nexus 5.
I doubt that this is a common problem as otherwise many user would have it, especially if it would be this easy to reproduce.

Can you try it with demo.owncloud.org and test both for user /password?

[2015-10-29 19:30] Wikinaut commented on #1214
Do you have the problem, or not?

[2015-10-29 19:35] tobiasKaminsky commented on #1214
No, tried on my Nexus 4 and with emulator on Nexus 5.

[2015-10-29 19:39] LukeOwncloud opened #1225 "Beta: Crash: SecurityException"
@tobiasKaminsky
I just installed the new beta version -> https://github.com/owncloud/android/blob/beta/apks/owncloud-beta-2015-10-29.apk and got following exception:

	V/FileDisplayActivity(31131): onCreate() start
	D/FileDisplayActivity(31131): onCreate(Bundle) starting
	W/AccountManagerService(  530): caller uid 10088 is different than the authenticator's uid
	D/AndroidRuntime(31131): Shutting d

[2015-10-29 19:59] LukeOwncloud commented on #1225
I tried running it parallel to the origianl ownCloud app.

Apparently the beta tries to access the original account via http://developer.android.com/reference/android/accounts/AccountManager.html#getUserData%28android.accounts.Account,%20java.lang.String%29
`This method requires the caller to have a signature match with the authenticator that owns the specified account. `

Any idea what that means

[2015-10-29 20:16] LukeOwncloud commented on #1214
@tobiasKaminsky I can recommend this code: http://stackoverflow.com/questions/23486627/catching-error-and-user-information#answer-23486834
For an activity displaying and sending mail this should be a good starting point: https://github.com/owncloud/android/blob/master/src/com/owncloud/android/ui/activity/LogHistoryActivity.java
I'd love to do it right now, but I still do not have the Android dev t

[2015-10-29 20:25] LukeOwncloud commented on #1213
I like @xylo's offer. Thank you! This might bring us some new test users and helps test user's to stay up-to-date.

@xylo for F-Droid, it should be clear that it is a beta version which can be installed alongside the original ownCloud app and should only be installed if the user is willing to file bug reports -> https://github.com/owncloud/android/issues
But before uploading please wait until issu

[2015-10-29 20:35] LukeOwncloud commented on #1225
It should help to change the value of `account_type` in https://github.com/owncloud/android/blob/beta/res/values/setup.xml
Should `authority` also be changed?

[2015-10-30 03:43] whisere commented on #695
Thank you.

[2015-10-30 07:01] tobiasKaminsky commented on #1225
Please try https://github.com/owncloud/android/blob/beta/apks/owncloud-beta-2015-10-30.apk

Thank you for your hint!

[2015-10-30 07:02] tobiasKaminsky commented on #1213
@AndyScherzinger Can you maybe provide an icon with "beta" in the lower right side?
(I am not that good with graphics...)

[2015-10-30 07:22] supportreq commented on #1213
@tobiasKaminsky @AndyScherzinger I m not sure if this is an issue with the Beta app, but if I touch any file it doesn't open the file details or start downloading the file automatically.. it is just stuck.. only images open up..

[2015-10-30 07:32] tobiasKaminsky commented on #1213
@supportreq You can verify this by using the "normal" app and if the problem only occurs in beta version, please open a new issue with the label "beta".

[2015-10-30 07:35] LukeOwncloud commented on #1225
Yes, that was it! Thanks.

Are you aware of any internationalization issues concerning the beta version?
Where it should say "Protect your ownCloud app with a pin", it just reads "@2131165531". It further mixes local and English languages. Should I open an issue?

[2015-10-30 07:37] tobiasKaminsky commented on #1225
Yes. Please always create a new issue with label "beta".
Then I can close this issue ;)

[2015-10-30 07:37] #1225 closed

[2015-10-30 07:42] LukeOwncloud commented on #1213
@tobiasKaminsky thanks you a lot for this initiative! Works great. Just one more request: When providings links to the apk, please point them to the raw version which can be downloaded directly. (Downloading the other links on Android is troublesome). We can close this issue now, can't we?

[2015-10-30 07:45] tobiasKaminsky commented on #1213
I thought I have, at least "raw=true" is added to the url in https://github.com/tobiasKaminsky

[2015-10-30 07:45] tobiasKaminsky commented on #1213
You are right. Regarding the owncloud logo I will open up a new issue.

[2015-10-30 07:45] #1213 closed

[2015-10-30 07:46] tobiasKaminsky opened #1227 "Owncloud Logo"
Create an owncloud logo with "BETA" in the lower right side to distinguish better between both version as the "owncloud beta" string maybe gets truncated.

[2015-10-30 07:46] tobiasKaminsky commented on #1227
@AndyScherzinger  :)

[2015-10-30 07:47] LukeOwncloud opened #1228 "Beta: Internationalization issues"
Using owncloud-beta-2015-10-30.apk.

In settings menu, where it should say "Protect your ownCloud app with a pin", it just reads "@2131165531".

It further mixes local and English languages.

![photo_2015-10-30_08-47-17](https://cloud.githubusercontent.com/assets/2737900/10840758/d811f30c-7ee2-11e5-8b9e-5817925c429d.jpg)

[2015-10-30 07:50] xylo opened #1229 "f-droid repository for public beta"
To reach more test user for the public beta and to provide a simple update mechanism to ensure they use the latest beta it would be good if the public beta is deployed through an f-droid repository.

[2015-10-30 07:51] LukeOwncloud opened #1230 "Beta: Cannot open files"
Using owncloud-beta-2015-10-30.apk.

When clicking a file which is not an image and not already available on the device, nothing happens.

Work around: Long click the file, select "Details" from the menu, then click the download button, go back to list. Now clicking the file works.

[2015-10-30 07:53] LukeOwncloud commented on #1229
Good idea! Are you still willing to set it up?

[2015-10-30 07:56] tobiasKaminsky commented on #1229
Should be released after #1227 as this provides an separate owncloud beta logo.

[2015-10-30 07:57] xylo commented on #1229
Yes, I would try to set it up on the weekend.  I'm just wondering on which server it's finally hosted.  Of course I can use my own server for this, but maybe the official owncloud developers would prefer to host the repo themself.  In that case I could at least provide my f-droid server configuration to them.

[2015-10-30 07:58] xylo commented on #1213
@LukeOwncloud Regarding the f-droid repository i opened a new issue (#1229).  I think I can work on it this weekend.

[2015-10-30 07:58] supportreq commented on #592
@tobiasKaminsky do you require any other video file to test?
H264 codec with mp3 and atoom meta works fine..

can you share the PR so that we too can test it and help

[2015-10-30 08:00] xylo commented on #1230
Same behavior for me.

[2015-10-30 08:01] tobiasKaminsky commented on #1229
I thought f-droid is building the apk from source and therefore hosts the resulting apk on itselfs?
Using a private server is not a good idea as it looks unprofessional...

[2015-10-30 08:03] LukeOwncloud opened #1231 "Side drawer: "On device" show empty folders"
Using owncloud-beta-2015-10-30.apk.

When choosing "On device" from the side drawer I expect all folders which do not contain any downloaded files to disappear. Instead I still see the whole folder structure. This is confusing to me as a user.

Further, there is no indication that currently only files "on device" are shown. Looking at a folder which I know has content but which says "Nothing in he

[2015-10-30 08:09] xylo commented on #1229
@tobiasKaminsky So you would suggest to put the Public Beta directly into the official f-droid repository.  That's also an option.  In that case we just need to file a request on f-droid.org to integrate ownCloud Beta in their repository.  It's probably not much work for them, since they can mainly copy the configuration from the official owncloud app, I guess.

[2015-10-30 08:50] AndyScherzinger commented on #1227
sure thing :)

[2015-10-30 08:55] tobiasKaminsky commented on #1231
I see your point.
I thought this should just "filter" files and show still all folders as they are needed to navigate.
Imagine this:
root -> folder1 (no files) -> folder2 (files)
Then we would have to check recursively if an any subfolder is a file and only display this "folder path".
Furthermore there is no possibility to go in an "empty" folder and upload files.

Do we want this? I do not know.

[2015-10-30 09:31] AndyScherzinger commented on #1231
Well the most common way would be to display all offline files in one list. At least that is how dropbox and google drive do it. Point is they do is for the pinned ones so the view is not online/offline but rather all/starred. The later makes sense since you probably don't have that many files starred but thanks to your selfies quite the amount of pictures...

[2015-10-30 09:41] masensio commented on #1192
#1200  is in the master branch.
This issue will be release in the next version of the app, so I'll close it.

Thanks @AndyScherzinger  for solving it.

[2015-10-30 09:41] #1192 closed

[2015-10-30 09:54] tobiasKaminsky commented on #1228
Regarding the "Behaviour": As it is not in the official trunk, transifex does not know about it and therefore it is not translated. I think we just have live without a translation. Or we can add them by ourselves, at least for the common ones.

[2015-10-30 09:56] tobiasKaminsky commented on #1229
Yes. It should be as easy as  possible for the user to install it.
Otherwise they would have add a "simple binary repository" if I read and understood it correctly...?

[2015-10-30 10:01] tobiasKaminsky commented on #1228
I have fixed the PinCode thing.
It will be in the next version.
Please confirm it then and close the issue.

[2015-10-30 10:03] tobiasKaminsky commented on #592
Unfortunately your provided video cannot be played on my nexus 4...
The streaming PR is already in the beta version, which you can find here: https://github.com/owncloud/android/raw/beta/apks/owncloud-beta-2015-10-30.apk

[2015-10-30 10:04] tobiasKaminsky commented on #1230
This is related to multi select.
I will fix it soon.
Thanks for reporting

[2015-10-30 11:43] tobiasKaminsky opened #1232 "Confusing: Size is too close to date"
![date](https://cloud.githubusercontent.com/assets/5836855/10844878/a3fa5ed0-7f03-11e5-81ce-4d5c7ea481ef.jpg)
At least for me I read "27, 2 Mb" and not "Jun 27" and "2 Mb".
While I understand the approach to have the Filesize left aligned, I guess this not perfect...

Ps.: Is this beta related? I do not know from which PR this is...

[2015-10-30 11:49] tobiasKaminsky commented on #592
My bad. Streaming is not included in beta so far.
Will do this in the nearer future.

[2015-10-30 11:55] tobiasKaminsky commented on #1230
Ok. It was not related to multi select.
I have fixed it.
It will be available tomorrow.

So there is a faulty commit in any PR I have merged. Anybody an idea how I can figure out who to blame?  ;-) ;-)
The problem was the missing else branch in https://github.com/owncloud/android/blob/beta/src/com/owncloud/android/ui/fragment/OCFileListFragment.java#L495

[2015-10-30 13:12] AndyScherzinger commented on #1232
From mine, this has been an explicit requirement by @jancborchardt

[2015-10-30 13:21] rperezb commented on #1227
@jancborchardt your input would be appreciated here, I guess

[2015-10-30 13:28] davivel commented on #3
Another step forward: manual two-way synchronization for folders has just been merged, and will be availabe in release 1.8.1. "Manual" means the user long-clicks on a folder and may select the option "Synchronize" to trigger the two-way synchronization.

Next step: favoirte folder (also known as 'kept-in-sync' folders), to do it automatically.

[2015-10-30 14:09] LukeOwncloud commented on #1230
Then creating "beta project" was already a success! :smile:

[2015-10-30 14:11] tobiasKaminsky commented on #1230
But not, if we cannot track it back to the PR or commit...

[2015-10-30 16:07] jancborchardt commented on #1227
I’d say maybe for the beta we use the dark icon:
![](https://raw.githubusercontent.com/owncloud/core/master/core/img/favicon-touch.png)
https://github.com/owncloud/core/blob/master/core/img/favicon-touch.svg

It’s similar to the Firefox »Nightly« concept. ;)

[2015-10-30 16:08] tobiasKaminsky commented on #1227
No "Beta" branding?

[2015-10-30 16:10] jancborchardt commented on #1232
Good observation – we should put the size first, and then the date. That has the added advantage that the numbers are more or less aligned and comparable. (Whereas the date string is highly variable in length, especially the relative date.)

[2015-10-30 16:25] jancborchardt commented on #1227
In the app name I would say, and maybe in the title in the header if there’s enough space.

[2015-10-30 16:25] LukeOwncloud commented on #1230
If you already found the file, could this help?
http://stackoverflow.com/questions/3701404/list-all-commits-for-a-specific-file

Alternatively, search by content:
http://stackoverflow.com/questions/2928584/how-to-grep-search-committed-code-in-the-git-history

I do not have git installed currently.

[2015-10-30 16:33] tobiasKaminsky commented on #1227
Can you help me with the icon @AndyScherzinger ?
I tried it but it never has the right size ... :/

[2015-10-30 16:33] tobiasKaminsky commented on #1227
![beta](https://cloud.githubusercontent.com/assets/5836855/10851609/62355c10-7f2c-11e5-93f4-e4fd1a061cca.jpg)

[2015-10-30 16:37] jancborchardt commented on #1227
»beta« should be lowercase. :) Otherwise it’s like an ownCloud app. It’s »ownCloud beta«.

[2015-10-30 16:48] tobiasKaminsky commented on #1227
Good point :+1:
Changed, will be available tomorrow

[2015-10-31 06:40] tobiasKaminsky opened #1233 "Support of sending crashdump"
From @LukeOwncloud:
I can recommend this code: http://stackoverflow.com/questions/23486627/catching-error-and-user-information#answer-23486834
For an activity displaying and sending mail this should be a good starting point: https://github.com/owncloud/android/blob/master/src/com/owncloud/android/ui/activity/LogHistoryActivity.java
I'd love to do it right now, but I still do not have the Android d

[2015-10-31 06:42] tobiasKaminsky commented on #1214
@AndyScherzinger @LukeOwncloud can you confirm this issue?
@Wikinaut please try it with the demo account: demo.owncloud.org and test both for user /password?

[2015-10-31 06:58] LukeOwncloud commented on #1214
I do not have version 1.8 installed. I tried to reproduce this issue with the beta version, no success, i.e. no crash.

[2015-10-31 07:05] LukeOwncloud opened #1234 "Thumbnails gone after scroll down and up again"
Using owncloud-beta-2015-10-30.apk.

How to reproduce:
Open a folder containing many photos, choose grid view. At this moment there are still no thumbnails. Open a photo, go back to grid. Now some thumbnails are shown. Scroll down, scroll up. Thumbnails are gone.
Thumbnails are also gone after switching screen off and on again.

Note: It seems that after after thumbnails of a folder are loaded, th

[2015-10-31 07:16] LukeOwncloud commented on #1217
There are already some issue concerning instant uploads:
https://github.com/owncloud/android/issues?q=is%3Aopen+is%3Aissue+label%3Ainstant_uploads

There is also a suggestion how to solve the problem:
https://github.com/owncloud/android/issues/744

Unfortunately no quick, one-size-fit-all solution in sight. It might be quicker to convince the camera360 to send the mentioned broadcasts (which is an

[2015-10-31 07:22] tobiasKaminsky commented on #1229
And please give me a hint how to tell f-droid which version and when it should build a new apk :)

[2015-10-31 07:51] xylo commented on #1229
Yes, if we would host the repository f-droid users would need to add it in f-droid first.

Regarding the submission process of f-droid:
The following link describes how to add an app to the submission queue: https://f-droid.org/wiki/page/Inclusion_How-To

I would post the app submission in a style like this: https://f-droid.org/forums/topic/owncloud-notes/
But with an adapted version of https://gi

[2015-10-31 09:40] tobiasKaminsky commented on #1234
Latest beta is available, can you check and then close?

[2015-10-31 09:40] Wikinaut commented on #1214
@tobiasKaminsky I tested the three test photos from the demo account, on my two devices ==> test okay, no crash.I retested with my server, which I recently upgraded to 8.2.0 ==> still some images crash the client immediately after the download (the download as such works).

Can you upload further png and gif images to test/photo ? I could do this too. Pls. let me know if you want me to upload to t

[2015-10-31 09:41] tobiasKaminsky commented on #1230
Latest beta is available, can you check and then close?

[2015-10-31 09:44] tobiasKaminsky commented on #1214
The demo.owncloud.org account is periodically recreated.
So you can do anything you want there.
But what would be the benefit of this?
I suspect that it has something to do with
- your server
- the images your are downloading

[2015-10-31 09:51] tobiasKaminsky commented on #1230
Hm. I cannot find the faulty commit.
Maybe someone else can help find me? Until this is found, please keep it open

[2015-10-31 09:54] Wikinaut commented on #1214
In which cases is a directory rendered as gallery in the client? Can I force the file view for a directory which only contains images ?

[2015-10-31 10:01] tobiasKaminsky commented on #1214
All files in a folder must be images. So if you add one ore more txt files it will get displayed as list.
You can join IRC: https://webchat.freenode.net/
The channel is owncloud-android

[2015-10-31 10:03] tobiasKaminsky commented on #1230
Ok. Found it :)
@LukeOwncloud please close, if it is fixed in Beta.

[2015-10-31 10:05] tobiasKaminsky commented on #1232
@AndyScherzinger can you edit and commit this in your original PR?
And then ping me, then I can update beta.

[2015-10-31 10:09] tobiasKaminsky commented on #1231
(side note: I am not quite sure about the handling of these "bugs" as this for example is related to a PR #1205. So maybe we should close this as soon as it is obviously that it belongs to a PR and track it there?)

@AndyScherzinger Putting all downloaded files into one singe list view is kind of strange... I suggest to
- keep it the way it is
- hide folders with empty content and empty subfolders

[2015-10-31 10:10] tobiasKaminsky commented on #1231
@jancborchardt

[2015-10-31 10:21] tobiasKaminsky commented on #1229
Can you maybe prepare this? And do a PR on the beta branch?
Then, after #1227 and figuring out how to to "release" we can post it f-droid

[2015-10-31 10:25] Wikinaut commented on #1214
@tobiasKaminsky I uploaded one new photo ```20111106_Keine_Zeit, den Zaun_zu_reparieren.png``` to demo-oc. Please can you try to download it to your android ? It crashes after download.

[2015-10-31 10:28] tobiasKaminsky commented on #1214
@Wikinaut it seems as it has been deleted.
Can you join irc? Then we can "talk" more instant

[2015-10-31 10:48] xylo commented on #1229
OK.

[2015-10-31 12:11] xylo commented on #1229
Is there a direct git link to the beta branch?

[2015-10-31 12:13] tobiasKaminsky commented on #1229
https://github.com/owncloud/android/tree/beta

[2015-10-31 12:51] tobiasKaminsky commented on #1233
This is implemented in Beta now

[2015-10-31 12:52] tobiasKaminsky commented on #1233
@davivel Is this something worth to put in the official client?
Currently it displays the error log and lets the user decide what do do, e.g. save, send via mail...
This could useful to get a valid stacktrace, if we request it from the user?

[2015-10-31 12:54] tobiasKaminsky commented on #1214
@Wikinaut Please install this new beta version:
https://github.com/owncloud/android/blob/beta/apks/latest.apk
It has a new option: After a crash it collects the stacktrace, you can view it and then send it via mail or save it to file.
If the crash occurs again you can then easily post it here

[2015-10-31 17:42] Wikinaut commented on #1214
@tobiasKaminsky the latest.apk, is this bba296472602f725df7ab4bb2c4a282b40c737ad or something else ? I build bba296472602f725df7ab4bb2c4a282b40c737ad (this has the same problem).

[2015-10-31 17:57] Wikinaut commented on #1214
die Beta geht nicht richtig, schau selbst: no preview image auf dem Server.
Missing in the client is the "sync" icon. I only see the sort icon and the file/gallery icon in the upper right corner.

[2015-10-31 17:58] Wikinaut commented on #1214
Download of my file zaun.png however works now without a crash. I do not see the a preview icon - there is only the image placeholder. Same on the server (web-browser-GUI): only placeholder icon.

[2015-10-31 17:59] Wikinaut commented on #1214
placeholder icon gone after deletion (on the server), and re-upload

[2015-10-31 18:00] Wikinaut commented on #1214
but NO PREVIEW icon in the gallery view on the device.

[2015-10-31 18:25] iav commented on #1192
Please, stop playing with short and reltive formats. Or, at least, please, make a way to set format manualy.
I just want to see year.month.day hour.minute.second.
Always.
Everywhere.

[2015-10-31 19:43] aroquen commented on #3
Happy to hear that! BTW why should synced folders be called "favorite" instead of... ehm... "synced"?

[2015-11-01 05:57] LukeOwncloud commented on #1234
Solved.

Just one other thing: it seems to me that opening images while thumbnails are being generated is very slow. It might be the server. Could it also be the ordering? I. E.  That fullscreen opening is not prioritized? I am going to observe this behavior further...

[2015-11-01 05:57] #1234 closed

[2015-11-01 05:59] LukeOwncloud commented on #1230
Solved in beta.

[2015-11-01 05:59] #1230 closed

[2015-11-01 06:00] LukeOwncloud commented on #1228
Solved.

[2015-11-01 06:00] #1228 closed

[2015-11-01 06:11] LukeOwncloud commented on #1231
You are right. This is not a bug, but rather about design. Let's keep this discussion where it belongs: https://github.com/owncloud/android/issues/407

[2015-11-01 06:11] #1231 closed

[2015-11-01 07:06] tobiasKaminsky commented on #1234
Although I do not use a queue for downloading thumbnails or resized images I guess they are handled internally one after one.
Please also note that you do not download the full image, but instead only a resized version (adapted to your screen size --> #1044)

[2015-11-01 07:08] tobiasKaminsky commented on #407
From @LukeOwncloud (https://github.com/owncloud/android/issues/1231#issue-114220541):

Further, there is no indication that currently only files "on device" are shown. Looking at a folder which I know has content but which says "Nothing in here. Upload something!" (string file_list_empty), is even more confusing. Note: Also string local_file_list_empty "There are no files in this folder." would no

[2015-11-01 07:11] tobiasKaminsky commented on #1214
Is this only happening for this image?
Can you please share it with me:
https://owncloud.tobiaskaminsky.de/index.php/s/kZ41pl8UPDieBQM
password: owncloud

Regarding the missing sync icon: If this is a bug/regression in the beta version, please open a new issue and label it with "beta".

[2015-11-01 07:13] tobiasKaminsky commented on #1126
This is the issue in /core
https://github.com/owncloud/core/issues/18417

[2015-11-01 07:44] tobiasKaminsky opened #1235 "Slideshow"
My recents use cases are to show photos with a usb-> hdmi adapter.
I use the resized images, currently found in beta, so there is no option to use another image app.

My suggestion is
- add slideshow button when image is shown as option
- show dialog with time intervall (in seconds), random
- loop is always enabled

What do you think?

[2015-11-01 09:18] Wikinaut opened #1237 "[beta] In the file view, the sync icon is invisible (visibility property problem?)"
The synchronise icon is not shown (to be exact: when you know where it should be, you can click it). So it appears to be a problem with the visibility property.

[2015-11-01 09:18] LukeOwncloud commented on #407
After having tested this feature in the beta version, I am doubting the usefulness. Following issues I noticed:

- If all folders are shown, there are folders which are empty. This is confusing as one does not know where the files actually are.
- If only folders with content are shown, there is no way to upload data into an empty folder (-> https://github.com/owncloud/android/issues/1231).
- `I’m

[2015-11-01 09:20] Wikinaut commented on #1237
I cannot assign labels here. Pls. add ```beta``` (or set permissions that I can assign labels).

[2015-11-01 09:25] LukeOwncloud commented on #1214
@tobiasKaminsky Your link does not work.

[2015-11-01 09:33] Wikinaut commented on #1214
@tobiasKaminsky chat please

[2015-11-01 09:34] Wikinaut commented on #1214
@LukasReschke What's the difference between the  latest.apk and what I built from master branch yesterday, the two differ substantially.

[2015-11-01 09:35] Wikinaut commented on #1214
@LukasReschke oops, I saw, you have a branch ```beta```.

[2015-11-01 09:59] Wikinaut commented on #1214
@tobiasKaminsky @LukasReschke I built the beta version here (works). I uploaded zaun.png twice to demo-oc, thumbnails were generated & shown on both the server (browser/gui) and the android client. Download worked w/o problems.

So I am closing this issue now. Will reopen it, if necessary. Let me know your e-mail address, then I will send you the image for further tests - perhaps it's a special pn

[2015-11-01 09:59] #1214 closed

[2015-11-01 10:57] LukasReschke commented on #1214
I guess you meant @LukeOwncloud and not me? :wink:

[2015-11-01 11:16] Wikinaut commented on #1214
@LukasReschke uh, yes.

[2015-11-01 11:44] tobiasKaminsky opened #1238 "Settings: show if beta update is available"
In settings show if there is a new beta update available by adding "update available"

[2015-11-01 12:49] tobiasKaminsky commented on #407
The offline modus is in my opinion a very different thing (and of course more useful than the filter) and should be handled/implemented in a new issue.

This currently is more like a "view" that shows only some files, like if we had a filter that will filter by a search string (only local and only in the current folder).

So I would leave it this way and implement "your" offline idea in a new issu

[2015-11-01 12:51] tobiasKaminsky commented on #1237
Can you try the latest beta from 1.11.15, 13pm?
If the issue is still valid, please post a screenshot as I do not know which icon you mean ;)

[2015-11-01 14:36] TheBR opened #1239 "InstantUpload not working for Android app in Owncloud 8.2"
Using the Owncloud 8.2 Virtual Machine image (unmodified) i get the following in the log files when uploading from the Android app.

"reqId":"szi7CHYbnMIrhfTVujzE","remoteAddr":"192.168.0.1","app":"PHP","message":"Cannot modify header information - headers already sent by (output started at \/var\/www\/owncloud\/3rdparty\/sabre\/http\/lib\/Sapi.php:70) at \/var\/www\/owncloud\/3rdparty\/sabre\/htt

[2015-11-01 18:28] LukeOwncloud commented on #1238
That would be nice, but it involves some work (to get it right).
F-Droid already checks for updates and informs the user. Is that good enough for us?

[2015-11-01 18:35] LukeOwncloud commented on #407
Agreed, offline mode is another issue.

But my question remains: What is a useful use-case of this "view"? If it really is about helping the user to clean up offline files, I'd suggest to integrate my ideas from above (visualize size)

[2015-11-01 19:16] Wikinaut commented on #1237
@tobiasKaminsky is not visible (beta = 12dbd25ac9691faebd909322e9fa4662fa5cc1f8 ).

I mean the sync icon. I only see the sort icon and the gallery/folder-view icon in the header of the file view.

[2015-11-01 19:28] Wikinaut commented on #1237
<img src="http://i.imgur.com/xLcs6vn.png">

On my Tablet PC, the SYNC icon (pictured) is NOT visible. It is present, when I hover over the place.

[2015-11-01 19:28] tobiasKaminsky commented on #1238
I do not know.
For my wife, for example, it would be not as she does not have f-droid installed. ;)

[2015-11-01 19:34] Wikinaut commented on #1237
Ah, interestijg effect. On my other device, a small 4" phone Android 4.0.3, there is not even the SORT icon visible. In Portrait. When I rotate the device to landscape, I do see the SORT, and the GALLERY icon. No SYNC icon, my dear friends.

[2015-11-01 19:40] AndyScherzinger commented on #1232
Sure, no problem :)

[2015-11-01 21:01] elpraga commented on #1097
Tobias,
permit me please one side question..
Are there any plans to add the grid view possibility in folders not entirely composed of photos? Right now there is no way to see larger thumbnails in folders with let's say 100 photos and 1 text file. The small thumnails are hard to see. It would be useful to be able to swith between grid and list views like in the web interface..

..sorry for asking h

[2015-11-02 07:41] AndyScherzinger commented on #1232
@tobiasKaminsky flipped the infos on https://github.com/owncloud/android/tree/material_buttons

[2015-11-02 09:52] piwats commented on #1239
Same here.

[2015-11-02 09:56] supportreq commented on #592
@tobiasKaminsky i checked the new beta which had streaming pr added.. it doesnt seem to work..

[2015-11-02 10:54] jancborchardt commented on #1232
Btw what’s the color of the divider line between files? It should be #eee (very light grey, and only one pixel thick) as in the web interface, but seems darker than that.

[2015-11-02 11:10] AndyScherzinger commented on #1232
I checked, it has been #F0F0F0 except for the drawer where I already used #eee
Just fixed it with the latest commit https://github.com/owncloud/android/commit/efdcb979632effba0b62f3422d5ff8f9974087b6 to the ``material_buttons`` branch

[2015-11-02 12:14] tobiasKaminsky commented on #592
@supportreq Can you describe what you are doing when it is not working?
You can long-press on a video and select "stream externally".
But by default our internal player tries to stream the file, when you just click on it.
Then there is a (unfortunately) very long delay and after that you get the possibility to stream it with an external app.

[2015-11-02 13:15] jancborchardt commented on #1232
Cool, thanks! Maybe if even #eee (nearly the same as #f0f0f0) is so dark, we might need to change it to something lighter such as #f8f8f8. How does that look @AndyScherzinger?

[2015-11-02 13:26] AndyScherzinger commented on #1232
Your decision @jancborchardt  ;)

#eee
![device-2015-11-02-142327](https://cloud.githubusercontent.com/assets/1315170/10882753/b20c3af4-816d-11e5-8fbf-5ce5818b57ba.png)

#f8f8f8
![device-2015-11-02-142533](https://cloud.githubusercontent.com/assets/1315170/10882758/b71c6528-816d-11e5-8cf0-43bbb43dbd2a.png)

[2015-11-02 13:31] AndyScherzinger commented on #1232
@tobiasKaminsky I did the change and merged it into the beta branch already :)

[2015-11-02 13:43] jancborchardt commented on #1232
#f8f8f8 is definitely better! :)

Also, what is this extra bar of blue below the header? Seems strange, no?

And as well (and probably again) – I think it’s confusing to have a refresh button in the header. There’s pull to refresh and while I know that one is for refreshing the whole account and one for the current folder, we should fix this properly. Otherwise people will use the more present opt

[2015-11-02 13:45] jancborchardt commented on #1227
Oh right – the beta can be installed alongside the existing production app, right? I think this is very important so people can actually test this while still using ownCloud. For example, I only have 1 Android device (my phone) and use ownCloud of course, so it needs to be separate. ;)

[2015-11-02 14:05] AndyScherzinger commented on #1232
@jancborchardt
* so I'll change it to #f8f8f8
* the blue bar below the bar is the progress bar (animated when refreshing). It seems I did the coloring based on the darker color (of the system bar). Can fix this but will take a while since I need access to another PC of mine which has the graphics toolset to work on images. ATM I just have my dev laptop with me.
* the sync icon is shown on the bar

[2015-11-02 14:27] AndyScherzinger commented on #1227
Logo has been pushed to the beta branch https://github.com/owncloud/android/commit/2afd2d6fb6171e94fd40a712cab9ee036b4c8058

[2015-11-02 14:35] jancborchardt commented on #1232
Ah ok – but it only shows when refreshing or loading, right?

Ok – but all of these actions (refresh, switch sorting, switch view) are not very important, often used actions. I would hide them all in a dot-dot-dot menu. What do you think @tobiasKaminsky @AndyScherzinger? That way it’s more clean and focus stays on what’s important.

[2015-11-02 14:45] AndyScherzinger commented on #1232
It is always shown since the bar itself is always present (progress bar) which is configured as being indeterminate and thus is only animated when triggered, but the element is always visible (blue line) else whenever we would make the element visible the the underlying list view would "jump".

Both variants are fine to me:
* hidding: less cluttered UI
* show: one click less in order to use the ac

[2015-11-02 15:19] jancborchardt commented on #1232
Ah got it. Ok, so yeah either it should look as if it’s part of the header, or it should be transparent.

Yup – less cluttered UI takes precedence here because the »one click less« doesn’t really apply to less-used secondary actions. Cause in that screen, showing them directly would call to much attention.

[2015-11-02 15:44] AndyScherzinger commented on #1232
I will have a look, but that might be quite a challenge since the absolute correct way to do this would be to use a toolbar since that is an element where you are able and allowed to influence its content, like adding a progress bar. Unfortunately I could get it to work since the fragment fire events like crazy which than made the toolbar's back/home navigation go nuts and thus reverting back to t

[2015-11-02 16:32] jancborchardt commented on #1232
Ok, no worries :) The loading bar is a minor detail I would say. But putting the icons in the dot-dot-dot menu are important, and I guess way easier to do.

[2015-11-02 16:43] AndyScherzinger commented on #1232
That is easy, yes :) @tobiasKaminsky can you enforce the overflow in your feature branches as described by @jancborchardt with the fab button it is basically everything to the overflow menu

[2015-11-02 17:04] AndyScherzinger commented on #1232
Photo finish for @jancborchardt - @tobiasKaminsky I fixed the menu on the beta branch already, see https://github.com/owncloud/android/commit/01115a1cd50362a22924845ddc72c74467ad5d10

screenshot showing actual beta with menu overflown and the flipped size/mod-date:
![device-2015-11-02-180210](https://cloud.githubusercontent.com/assets/1315170/10888372/18e1c7ee-818c-11e5-9264-dd0b0f5ebed3.png)

[2015-11-02 17:27] xdmx commented on #1217
I wrote to them and their answer is:

[2015-11-02 18:49] tobiasKaminsky commented on #1097
Please open for such a different question a new issue as now all people involved into this issue are notified.
(to answer it: in the beta: https://github.com/owncloud/android/tree/beta there is the possibility to switch the view and this will be remembered)

[2015-11-02 18:50] tobiasKaminsky commented on #1239
@DeepDiver1975 can this "header not sent" be related to permission problems?

[2015-11-02 18:55] tobiasKaminsky commented on #1227
@jancborchardt Yes, the beta app can be installed parallel to the official version.

[2015-11-02 19:03] tobiasKaminsky commented on #1232
@jancborchardt Please open the next time a new issue if you have additional ideas/wishes as  this issue now contains three different topics and is in the future hard to find or distinguish.

Regarding hiding the menu actions: As I am using sorting and "switch layout" very often I do not want to hide them, but yes the UI is now much cleaner.

[2015-11-02 19:05] tobiasKaminsky commented on #1232
@AndyScherzinger please do not put changes directly into beta branch.
The purpose of the beta version is to prove correctly and test the PRs, we want to merge into master.
With sideloading changes we can get new errors/problems that might be not in master, when merging only the PRs.

[2015-11-02 19:11] tobiasKaminsky commented on #1229
@xylo Now the owncloud logo is included, thanks to @AndyScherzinger.
So we are ready for f-droid :)

[2015-11-02 19:12] AndyScherzinger commented on #1232
Sorry about that, from now on all changes will be done using separate branches for them.  Hope it did not cause any trouble.

[2015-11-02 19:16] AndyScherzinger commented on #1229
It might be obvious but just to make sure... The icon commit has only been done to the beta branch

[2015-11-02 21:53] daemoniac commented on #10
Hello together,

I have a little different problem: My owncloud syncs the pictures, but not the movies. I have a brand new Sony Xperia Z5 - the pictures are safed in internal memory, the videos (because of the size of 4k movie material) on the external sd card.

As written: pictures sync, movies not.

So it would be great if it would be possible to configure both path manual in the android app.
Th

[2015-11-02 22:08] AndyScherzinger commented on #1217
Sweet, would be nice to have another camera app being supported :)

[2015-11-02 23:17] DeepDiver1975 commented on #1239
We would need to see what is exact response of the PUT request would be.

@TheBR @piwats can you issue a curl to simulate a webdav PUT operation to your server?

[2015-11-03 05:00] jancborchardt commented on #1232
@tobiasKaminsky yeah, sorry about that. :> Sometimes I’m guilty of asking for too much unrelated stuff.

However, we should make this as intelligent as possible, and even though you use the layout switcher often, it is still way less important than everything else on the screen. (Which is the title, list of files, back  button, and creating new files.) As always: If everything is important, nothin

[2015-11-03 08:03] elpraga commented on #1233
What is the best way to send the dump from the beta? It's there a specific email to send it to? Is it useful to send it automatically wherever it occurs?

Tomas

[2015-11-03 08:13] elpraga opened #1241 "Showing thumbnails is slow + there are too many thumbnails versions"
In the old client clicking a photo starts its download, what is the action in beta?

I get just rotating circle both when clicking on already downloaded and non downloaded photos.

When I click on already downloaded photos they appear after a minute or so of seeing the rotating circle, as opposed to showing the photo instantly in for example QuickPic. Any reason why it takes so much longer?

I'm s

[2015-11-03 10:07] derekblankmccoy commented on #3
I agree, "favorite" is the term used in the web console for frequently used files. It will be confusing to use the term "favorite" for 2 different behaviors.

[2015-11-03 10:08] TheBR commented on #1239
Hi,
  I think i am tracking this down to a permission issue, however, i think my permission's were set correctly on the folders in question, but, i needed to issue a

/var/www/owncloud/console.php files:scan --all

In order for owncloud to "update". Either way i am now able to upload but it wasn't that obvious what was wrong or why it got in that state in the first place. Sorry that i cant give a

[2015-11-03 16:12] davivel commented on #1178
Work in progress in https://github.com/owncloud/android/tree/share_with_password_and_expiration_time

[2015-11-03 16:48] rperezb commented on #1180
@cdamken not yet, as @MTRichards said some weeks ago, we are fully focus on sharing and favorite folder,
I have been able to reproduce this error too... as @tobiasKaminsky

We will check this after finishing the compromissed features.

thx

[2015-11-03 20:57] tobiasKaminsky commented on #1233
Put it in a related issue :)
Just sending a crashdump without letting the devs know, what happens to generate the crash is not useful.

[2015-11-03 20:59] tobiasKaminsky commented on #1232
Yeah :) I know you are right from a ui expert view, but my personal view is still different.
But this is ok as we cannot make a ui that fits all needs.

![beta3](https://cloud.githubusercontent.com/assets/5836855/10921497/1d300618-8276-11e5-8694-3a30baea48fc.jpg)
This know looks strange ;)

[2015-11-03 21:00] tobiasKaminsky commented on #10
I doubt that this has something to do with the location of the owncloud folder itselfs.
You mean instantupload? If so, please open a new issue.

[2015-11-03 21:02] tobiasKaminsky commented on #1241
For now you need the owncloud app "gallery+" if <8.2 or at least 8.2 with enabled "gallery".
But from your experience, I see that we should have a fallback to the current way...

[2015-11-03 21:26] przybylski commented on #10
@tobiasKaminsky are you still working on it?
I have some spare time now and would like to grab that ;)

[2015-11-03 23:33] elpraga commented on #1241
Hello Tobias!
Thank You for the information! I was using Galery+ with ownCloud 8.2. I switched to Galery and did some testing.

Now I do know what it is supposed to do and I have to admit that I like the idea quite a bit. I will share my observations..

I have two android devices, a tablet 97 and Nexus 5 I regularly use with my account in ownCloud. To upload I (and other users) use an Ubuntu machi

[2015-11-03 23:40] elpraga commented on #1233
Ok, with the version from 1-11-2015 I was getting crashes that I could not relate to a specific action.

Thank You for the answer, I am aware that too much info can be contraproductive..

[2015-11-04 00:13] elpraga opened #1242 "Crash of current beta when opening a photo downloaded from the server"
************ CAUSE OF ERROR ************

	java.lang.NullPointerException
		at com.owncloud.android.ui.fragment.OCFileListFragment$7.onItemCheckedStateChanged(OCFileListFragment.java:348)
		at android.widget.AbsListView$MultiChoiceModeWrapper.onItemCheckedStateChanged(AbsListView.java:6119)
		at android.widget.AbsListView.performItemClick(AbsListView.java:1059)
		at android.widget.AbsListView$Perf

[2015-11-04 00:16] elpraga opened #1243 "Enhancement: indicate when the original photo is viewed"
current beta

WIth the nice large thumnails that can be viewed in fullscreen, it would be nice to add a visual indication when we are viewing the actual file and not just a thumbnail to distinguish a bad quality original from the thumb especially when pinch zooming the preview.

[2015-11-04 00:18] elpraga opened #1244 "current beta: Download menu item when does not start download"
When I click on the menu item "Download" while viewing the fullscreen thumbnail, the downloading of the file does not start.

[2015-11-04 00:33] michaelstingl opened #1245 "[1.8.0] [Transifex] [nl] First letter of menu item "verplaatsen" (Move) should be capitalized"
All menu items begin with upper-case character, but "verplaatsen" (Move) starts with lower-case character.

![image006 2](https://cloud.githubusercontent.com/assets/214010/10925862/221adaba-8292-11e5-8492-1990901d9423.jpg)

This could be easily fixed in Transifex, but I haven't got permissions to help with the Dutch translation yet:

![owncloud___transifex_editor](https://cloud.githubusercontent.c

[2015-11-04 04:34] supportreq commented on #592
@tobiasKaminsky I am opening the video file and in the background it is just processing, the screen is stuck.. unable to press any button and the app crashes..

[2015-11-04 05:50] supportreq commented on #592
![screenshot_2015-11-04-10-05-18](https://cloud.githubusercontent.com/assets/4680404/10930627/0732cd6c-82e6-11e5-96ae-2a3d03c25a6b.png)
![screenshot_2015-11-04-10-05-37](https://cloud.githubusercontent.com/assets/4680404/10930628/073386ee-82e6-11e5-8375-2ccbd2c66269.png)

[2015-11-04 06:31] tobiasKaminsky commented on #10
@przybylski  I will commit my changes tonight into a branch in this repository, so that you can work on it.

[2015-11-04 07:10] MorrisJobke commented on #1245
@rullzer @Xenopathic @jospoortvliet Is one of you in the dutch transfix team and can fix this quickly?

[2015-11-04 07:29] LukeOwncloud commented on #1241
I like the idea of resusing existing smaller versions. Seven version of the same image is really a lot. And it is only getting more... Could we use some default sizes? E.g. 384x384 as thumbnail (for list view), a small preview version (~1000px width) and a large version (~2500px width)?

I also like the cron job idea, as I have the same problem as Thomas: Showing a preview image (full screen) on m

[2015-11-04 07:31] MorrisJobke commented on #1245
cc @icewind1991

[2015-11-04 07:40] LukeOwncloud commented on #1239
Does/Did the problem only occur for instant uploads?

Same error log was reported already in other issues:
https://github.com/owncloud/android/issues/1074
https://github.com/owncloud/core/issues/17586
https://forum.owncloud.org/viewtopic.php?t=30436&p=96621

Are these related?

[2015-11-04 07:55] LukeOwncloud commented on #1241
This issue is about slow creation of too many thumbnails, right?
This is related to: https://github.com/owncloud/android/issues/921
I'll change the title of this issue accordingly.

[2015-11-04 08:01] LukeOwncloud commented on #1238
Agreed, that would be nice. There are too many updates of the beta version. Waiting for an f-droid update is too slow.

[2015-11-04 08:02] LukeOwncloud commented on #1244
Confirmed.

[2015-11-04 08:25] LukeOwncloud commented on #1215
Related to https://github.com/owncloud/android/issues/1194 (about notifications)

[2015-11-04 08:29] AndyScherzinger commented on #1227
Logo has been committed to the beta branch thus closing this issue.

[2015-11-04 08:29] #1227 closed

[2015-11-04 08:32] AndyScherzinger commented on #1232
Ah, I'll fix that on the material_buttons branch. The code has set the size invisible which simple makes the UI element invisible but still takes up the space. So since we flipped size and date we need to use visibility.gone instead of invisible :)

[2015-11-04 08:42] davivel commented on #1245
Fixed in Transifex, will be merged in next translation sync (tomorrow).

Let's keep it open until merged.

[2015-11-04 09:17] AndyScherzinger commented on #1232
Fixed and merged, see https://github.com/owncloud/android/commit/4d33ecf15e9a4fa22e1e49e563793704c7598a3f

[2015-11-04 09:18] AndyScherzinger commented on #1232
Original PR against master is #1209

[2015-11-04 09:40] Wikinaut commented on #1244
@LukeOwncloud here https://gerrit.wikimedia.org/r/#/c/248699/ is a code patch (fully tested!) which I recently developed for the Wikipedia App, it adds variant and build name, and git version hash to the apk name.

Perhaps you want me to formally send a Pull Request for oc/android, then let me know!.

[2015-11-04 09:47] Wikinaut commented on #1237
UPDATE 04.11.2015

The present beta f15c2f32ceea2f2e6abff36f828a37196db3040a shows the "3-dot-menu", and no longer icons. The three sub-menu items are working.

Why have you changed to the "three-dot-menu" ?

[2015-11-04 09:47] #1237 closed

[2015-11-04 09:48] Wikinaut commented on #1237
I reported the issue and close it now, because the icons are not rendered any more and are replaced by a 3-dot-menu, which works for me.

[2015-11-04 09:55] davivel commented on #1218
Updated reference to images after merging sync_full_folder in master. The icons shown will be in the next release.

Any thought to improve them? Other icons to replace them (specially the stars)? Proposals to add icons to states currently without icon? Any other change?

[2015-11-04 09:56] AndyScherzinger commented on #1132
@jancborchardt I moved back to #eee for the divider (discussion has been in https://github.com/owncloud/android/issues/1232#issuecomment-153020296). Unfortunately the coloring didn't work for the list even though it seemed like but I found the mistake and fixed it on the material buttons branch (see screenshot attached) and also fixed the thickness of the divider. So requesting feedback if #eee is

[2015-11-04 09:57] davivel commented on #3
I agree with both of you, there is a general agreement on the confussion, indeed. I'm using the word "favorite" because it's the current wording in the app, but will be updated soon.

That detail is probably best to be discussed in https://github.com/owncloud/android/issues/1136 .

[2015-11-04 10:08] AndyScherzinger commented on #1218
Well, getting back to the discussion we had here with @jancborchardt the pinned icon (https://materialdesignicons.com/icon/pin) might be a good one to replace the star and could color code it as in:
* green: pinned/synced
* red: pinned/conflict
* yellow: pinned/synchronizing right now (upload or/and download)

[2015-11-04 10:12] AndyScherzinger commented on #1237
@Wikinaut This has been desided by the designers, namely @jancborchardt  - for details please see discussion https://github.com/owncloud/android/issues/1232#issuecomment-153020296 ff.

[2015-11-04 10:19] Wikinaut commented on #1237
my issue is related to #1232 .

[2015-11-04 10:29] LukeOwncloud opened #1246 "Add build date and git version to beta build"
@Wikinaut wrote:

[2015-11-04 10:29] LukeOwncloud commented on #1244
@Wikinaut Let's not hijack this discussion! -> https://github.com/owncloud/android/issues/1246

[2015-11-04 10:31] LukeOwncloud commented on #1246
That reminds me of: https://github.com/owncloud/android/issues/763 (show build date)
We decided not to include it as it is very technical (and the issue about reproducible builds (which I think now, is not valid.))

@tobiasKaminsky and @AndyScherzinger What do you think? Should we include @Wikinaut's patch? I'd say just showing the build date would be fine (https://github.com/owncloud/android/issu

[2015-11-04 10:32] Wikinaut commented on #1246
@LukeOwncloud thanks.

[2015-11-04 10:33] Wikinaut commented on #1246
by the way, I am now and then in the chat, but this appears seldomly be used by owncloud developers.

[2015-11-04 10:42] AndyScherzinger commented on #1246
I think it would be a good idea for the beta app but would rather like the version name (not the numeric number) to be used thus it would simply be displayed in the settings screen, kind of like the build number discussion in the referenced ticket so basically the baseline version 1.8.0 - builddate and I guess the date would be fine since that is probably enough to find out which build it is and i

[2015-11-04 10:50] Wikinaut commented on #1246
@AndyScherzinger can you come to the chat now?

[2015-11-04 11:05] LukeOwncloud opened #1247 "Menu action: "Set picture as" also not non-picture"
Open a non-picture file (e.g. mp3), click menu: It contains entry "Set picture as".

Clicking this action has no effect. However, it should not be there in the first place!

[2015-11-04 11:05] LukeOwncloud opened #1248 "Menu action: "Set picture as" also for non-picture"
Open a non-picture file (e.g. mp3), click menu: It contains entry "Set picture as".

Clicking this action has no effect. However, it should not be there in the first place!

[2015-11-04 11:14] LukeOwncloud opened #1249 "Menu items change after download/abort"
Open a non-audio and non-video file which (e.g. xlsx), download starts. Quickly open menu. It holds about 6 entries. Wait for the download to finish, press back button when being asked to open the file. Open menu again: It holds about 12 entries. Is this intended?

Another related issue: Open file, abort download. Now menu hosts about 10 entries. This can't be right, can it?

[2015-11-04 11:14] LukeOwncloud commented on #1247
duplicate

[2015-11-04 11:14] #1247 closed

[2015-11-04 11:15] LukeOwncloud commented on #1248
Menu in file details view also shows "Switch to grid view".

[2015-11-04 11:19] LukeOwncloud opened #1250 "Playing MP3 fails / file not downloaded"
Open MP3 file. Toast appears: "Cannot read media file".
Clicking play shows toast: "File does not belong to valid account"
Switch screen off and on: Media player is gone, instead file details view is shown. I still expect to see the player.

Is this behavior beta specific? (I do not have the latest original version installed.)

[2015-11-04 11:24] LukeOwncloud opened #1251 "Disable PIN without entering PIN"
It is possible to disable the app PIN without entering the PIN.

When PIN is enabled, go to settings dialog, uncheck according checkbox. New activity is opened asking for pin. Ignore dialog and press Android's last apps key. Swipe out owncloud app (thus close it). Start owncloud app again. It does not ask for PIN anymore.

[2015-11-04 11:47] LukeOwncloud commented on #340
Is here any progress?

I know that it is part of milestone 1.8.1 but I am worried that it might be delayed again. To me a working upload seems much more important than being able to share files.

[2015-11-04 11:52] AndyScherzinger commented on #1246
@Wikinaut Sorry, I can't, at least not during the regular work hours

[2015-11-04 12:31] jancborchardt commented on #1237
@Wikinaut cool that the new design works to fix the problem you experienced as well. :)

[2015-11-04 12:32] jancborchardt commented on #1227
You are some awesome folks! :) I really expect to see you at the next conf in Berlin so I can buy you a drink. (As @rperezb @davivel @masensio @MTRichards will probably too, so that’s 5 drinks. ;D)

[2015-11-04 12:56] AndyScherzinger commented on #1227
Love too, but like @tobiasKaminsky already mentioned end of August is a no-no for both of us :)

Glad I can help :)

[2015-11-04 13:18] jancborchardt commented on #1227
Ah damn, every year? I guess cause of vacation / holiday times or so?

cc @jospoortvliet just FYI and conf planning.

[2015-11-04 13:27] jospoortvliet commented on #1227
We're currently discussing moving the conf to Sept 16-22, would that work, guys?

[2015-11-04 13:41] MTRichards commented on #1227
Yes! Maybe 2 from me...

[2015-11-04 13:45] raghunayyar commented on #1132
I think we should use the OS defaults for mobile, it gives a more native experience. @jancborchardt

[2015-11-04 13:51] jancborchardt commented on #1218
Currently there’s too many states. The circular vs the download arrow is a bit confusing. I would say the icons should be exactly the same as for the desktop client, no matter if file or folder:

* if syncing: blue circular arrows
* if finished: green checkmark
* etc.

If we try to get across a bunch of states via icons it will just result in confusion. The desktop client uses the tried and true s

[2015-11-04 13:58] jancborchardt commented on #1132
It would be cool if we can experiment with it – currently we use the OS default, but it would be nice to see how it looks with Open Sans. Cause that gives a more ownCloudy experience.

[2015-11-04 14:31] AndyScherzinger commented on #1132
We should stay with the OS font at least until we drop support for 4.0 and declare 4.1 the minimum Android version due to the fact that the font support "api wise" is really bad before 4.1 since with for 4.1 we simply declare the font and use it in style definitions, before 4.1 one needs to load the font programmatically and set is on every UI element separately thus cluttered code simply for one

[2015-11-04 14:53] jancborchardt commented on #1132
@AndyScherzinger ok, good point with the compatibility!

[2015-11-04 15:21] AndyScherzinger commented on #1227
Sept 16-22 sound good to me, but I probably might only come in for Fri-Sun b/c else I would have to take vacation days. Besides that I might also ask for some travel cost support (which you offered this year anyways, so just mentioning it) ;)

End of August never works since it is @tobiasKaminsky's wedding anniversary and for my it is my birthday (so I am usually on vacation)

[2015-11-04 16:36] AndyScherzinger commented on #1218
Is there a complete list of all states and their respective icons used by the desktop client plus a list of theses icons in a vector format?

[2015-11-04 16:56] tobiasKaminsky commented on #1243
I wanted to add a floating action button that allows one to quickly download the original file.
This could also serve as an indicator.
@jancborchardt What do you think?

[2015-11-04 16:59] tobiasKaminsky commented on #1227
16-22 Sept is good :)
I will also attend at the weekend only.
Looking forward to see you all there!

[2015-11-04 17:04] tobiasKaminsky commented on #1242
workaround is to manually deselect all items. After that opening a photo is working again.
I will fix this maybe tomorrow.

[2015-11-05 07:43] elpraga opened #1255 "Beta: crash when uploading an image"
***********\* CAUSE OF ERROR ************

java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState
    at android.support.v4.app.FragmentManagerImpl.checkStateLoss(FragmentManager.java:1377)
    at android.support.v4.app.FragmentManagerImpl.enqueueAction(FragmentManager.java:1395)
    at android.support.v4.app.BackStackRecord.commitInternal(BackStackRecord.java:637)

[2015-11-05 07:51] rperezb commented on #1245
fixed https://github.com/owncloud/android/commit/94b21ef5d933996b6a382e7474f0178950fc0f61

[2015-11-05 07:51] #1245 closed

[2015-11-05 07:59] elpraga opened #1256 "Beta: crash when deleting a file"
************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke interface method 'void android.view.Menu.clear()' on a null object reference
	at com.owncloud.android.ui.fragment.OCFileListFragment$7.onItemCheckedStateChanged(OCFileListFragment.java:348)
	at android.widget.AbsListView$MultiChoiceModeWrapper.onItemCheckedStateChanged(AbsListView.java:6263)
	at android.wid

[2015-11-05 08:01] elpraga commented on #1255
This happened when the server was busy creating thumbnails, not sure if it is related to the crash though. Nevertheless, the app should not crash even if the server is busy.

[2015-11-05 11:18] jancborchardt commented on #1227
Ok, we still need to see if the dates work since the new semesters start there which would prevent lots of students to come – but we’ll see. Maybe it’s time that @DeepDiver1975 and me just organize a full-on spring conference in Munich :D

[2015-11-05 11:19] jancborchardt commented on #1243
I’m not sure what purpose this would serve. The quality of image is for performance purposes only, so nothing relevant for the end user. I’d rather say that for example when needed (like on zooming in), the full quality image should automatically be lazy loaded.

[2015-11-05 11:21] jancborchardt commented on #1218
All the icons are in https://github.com/owncloud/client/tree/master/theme/colored (where are the vector versions though @danimo @guruz? Can we have the source files in the repo as well?)

[2015-11-05 11:42] elpraga commented on #1243
I as a user would still like to have some way of knowing if I am looking at the real picture of just a lower quality preview. And I would prefer to be in charge of downloading or not the original - it might make a difference on mobile data and in when using roaming, downloading large amount of date in the background might me an unpleasant surprise..

[2015-11-05 12:24] jancborchardt commented on #1243
This should never really matter. People should always get served the best quality image for the purpose.

When the original image is then downloaded (on zooming or whatever) we could have an overlay below the header bar saying something like »Downloading high-res original …« with a cancel X on the right.

[2015-11-05 12:27] davivel commented on #1178
![share01](https://cloud.githubusercontent.com/assets/2225614/10968343/d1fcc36a-83c0-11e5-886f-f474a92858b7.jpg)
![share02](https://cloud.githubusercontent.com/assets/2225614/10968345/d3473c14-83c0-11e5-9b95-2b016c1293a9.png)

Screenshots of work in progress.

Password working now. Next: expiration time.

[2015-11-05 12:31] davivel commented on #880
The view continues evolving to hold "share link" and its new options. Let's continue the dialog about the UI in #1178

[2015-11-05 12:35] davivel commented on #880
Share with users ready to go in next release, 1.8.1.

[2015-11-05 12:35] #880 closed

[2015-11-05 12:43] elpraga commented on #1243
This is nice (no mocking), but it does have two downsides that I think should be considered:
1. Mobile data usage, and especially roaming data. I really think, the user should make a conscious decision before starting to download 5MB picture, not just trying a pinch zoom.
2. Free space on a mobile device. Many times I am in a situation when I have to select photos and videos to erase to make free

[2015-11-05 12:57] jancborchardt commented on #1243
For point 1, that’s exactly what the notice up top is for:

It doesn’t interfere and is easily cancelable. Also, it only happens when e.g. zooming, which basically is the inherent action for requesting a higher quality image. No need to have a separate button for that.

Good point with the free space though. But I guess this fits into the cache size as well? Or rather, the limit is your SD card an

[2015-11-05 13:00] supportreq commented on #1104
@AndyScherzinger @tobiasKaminsky in case you guys can implement this will be awesome!!

[2015-11-05 13:11] elpraga commented on #1243
Last summer some roamings were counting by 1MB and pretty costly. Until I hit the cancel button I can have a whole 1MB of extra traffic.

But I get what You mean, and it is really nice, what about a cuestion "Do You want to download the whole file?" when starting the pinch gesture?

I am pointing it out, because I did play with the full screen thumbnails, and I really like it, and I did pinch and

[2015-11-05 13:24] jancborchardt commented on #1243
I can see the issue, but it _is_ an edge-case and at the same time something like a modal every time you zoom in to an image will disrupt the experience for _everyone_. So that’s not a feasible solution. I would suggest to not zoom in then when you are on roaming, or disable mobile networks/roaming as it’s pretty easy on Android.

After all, viewing and downloading images is what this app is for.

[2015-11-05 13:44] elpraga commented on #1243
:D :D :D OK. That should be fine, my concern was about large downloads without a clear notice.

[2015-11-05 14:06] tobiasKaminsky commented on #1243
I have a few remarks on this.
The resized image that is stored into the cache is fullHD, which means it is a pretty good quality.
Please open such an image and zoom in. If you do not do a 400% zoom, the quality will be still very good. --> So for zooming in a little it is not necessary to download the whole image.

For me this would be too much automation. If the user wants to have an original ima

[2015-11-05 14:11] jancborchardt commented on #1243
Ok, or we do it like some maps apps: When you are zoomed in very far to the point where it would make sense to get a high-res version, show a small overlay with »Download high-res original?«

[2015-11-05 14:12] jancborchardt commented on #1243
Cause the alternative would be to put it in the dot-dot-dot menu in the right, but when you only rarely need the original it doesn’t really justify positioning it there.

[2015-11-05 14:29] tobiasKaminsky commented on #1243
My first idea was to use a floating action button to download the full sized image.
But I guess this is too much disturbing, especially if it is rarely used.

I like your idea with the zooming step, although I do not know if it is possible.
But we also need a download button, as (even if it is rarely) sometimes one want to have the full sized.
You say "it doesn’t really justify positioning it ther

[2015-11-05 14:36] jancborchardt commented on #1243
Well, if the zooming step is difficult to do or not possible, the first step would indeed be to put it into the dot-dot-dot menu. The main problem I have with that is that every action there needs to be really thought through since otherwise this just ends up being the kitchen sink where everything is.

Kind of like the current long-press menu which is just unbelievably long to the point where it’

[2015-11-05 14:59] LukeOwncloud opened #1257 "Distinguish "Nothing in here. Upload something!" and "Folder not synchronized""
After installing oC app version 1.8, no content is yet synced. When browsing into a folder without Internet connection it shows: "Nothing in here. Upload something!" (file_list_empty)
This is usually wrong. Instead it should say something like "Folder not synchronized" if the folder was never synchronized, yet.

[2015-11-05 15:21] elpraga commented on #1243
Too bad that the zoom in a little and then offer a download is difficult to implement. It would be practical.

Even though I mostly agree with Tobias, that in most cases the previews are of sufficient quality, there are cases (like stitched panoramas) when I would opt for downloading the original file.

Could the download button appear on long tap or double tap?  Would that be better?

[2015-11-05 15:25] jancborchardt commented on #1243
Double-tap should be used for zooming. But long-tap on the image for downloading the full-res image seems like a good suggestion! What do you think @tobiasKaminsky @AndyScherzinger?

[2015-11-05 15:49] tobiasKaminsky commented on #1243
How would you inform the user that this is possible?
I think the most intuitive way is the "three dot" menu with "download full sized image".

[2015-11-05 16:03] davivel commented on #1180
This just came to top priority.

@tobiasKaminsky , did you make any work of it, apart of reproducing the bug? If you don't tell me otherwise, I'll start debugging it.

[2015-11-05 16:06] rperezb commented on #1180
@davivel you are on "developing" mode :smile:

[2015-11-05 16:15] jancborchardt commented on #1243
Well, not every functionality has to be directly known, right? For example, right now it is not possible at all to download the original, is it? As said, putting every single thing in the already crowded 3-dot menu will drown the really important actions.

[2015-11-05 16:21] rperezb commented on #3
Closed via:https://github.com/owncloud/android/pull/1109
About the wording, I encourage you to comment on #1136 thx!

[2015-11-05 16:21] #3 closed

[2015-11-05 16:30] davivel commented on #1180
Yes, in the tunnel ;-)

[2015-11-05 16:50] tobiasKaminsky commented on #1180
@davivel I have only reproduced it.
You are just trying to fix the playback of downloaded videos?
In #1236 I have added support of streaming videos/audio.

[2015-11-05 16:52] tobiasKaminsky commented on #1104
We first need the approval of @jancborchardt @masensio or @davivel

[2015-11-05 16:54] tobiasKaminsky commented on #1243
Of course it is ;) Just click on "download" in the three dot menu.
As this menu is not visible at first, I do not think that it is a problem to put "all" entries that are useful in it...

[2015-11-05 17:00] davivel commented on #1180
Just downloaded, strictly the bug reported. I'm really sorry, I'd wish to have the time to check all the work you are doing in your PRs, but I need to be fully focused in "my own stuff" for some more days. Mid November is the date to get.

[2015-11-05 17:37] tobiasKaminsky commented on #10
@przybylski Here it is: #1258
If you have any question please let me know!

Todo is:
- allow folder choosing
- check if folder exists: warn
- after changing path: move all files --> is this needed? All files have to be copied and then deleted.

[2015-11-05 17:43] tobiasKaminsky commented on #1233
If you have a crash that you cannot reproduce please also open it, but please mention it.
Maybe I can understand from the crashdump where the problem is.

Removing beta as the remaining question is if this should be implemented in master? @davivel

[2015-11-05 17:44] tobiasKaminsky commented on #1229
@xylo If I can help you by providing you additional infos, please let me know!

[2015-11-05 17:46] tobiasKaminsky commented on #1232
Looks good in beta (will available this afternoon), therefore closing it.

[2015-11-05 17:46] #1232 closed

[2015-11-05 19:44] elpraga commented on #1233
OK. Thank you. I really was not sure how to help the best without creating unnecessary work for the developers.

[2015-11-05 21:53] tobiasKaminsky commented on #1244
@elpraga the fix is in current beta (2015-11-05), please test and then close it.

[2015-11-05 22:39] elpraga commented on #1243
Ok, Today as 2015-11-05 we have menu and sharing with users!!! Waaayyyy!!!
But when I click on a picture with downloaded original am I seeing the original or the large preview? We still don't have any indication of that and even when I am viewing the photo which has the original downloded I can zoom in muuuch less then for example using QuickPic on the same file..

[2015-11-05 22:40] elpraga commented on #1244
Confirmed. Download now works using the menu.

Thank You!

[2015-11-05 22:42] #1244 closed

[2015-11-05 22:44] elpraga opened #1259 "Beta: app crashes when copying a file"
************ CAUSE OF ERROR ************

java.lang.NullPointerException: Attempt to invoke virtual method 'java.util.Iterator java.util.ArrayList.iterator()' on a null object reference
	at com.owncloud.android.ui.activity.FileDisplayActivity.requestCopyOperation(FileDisplayActivity.java:830)
	at com.owncloud.android.ui.activity.FileDisplayActivity.access$300(FileDisplayActivity.java:119)
	at com.

[2015-11-05 22:56] elpraga opened #1260 "Beta: 2015-11-05 Share with users in the menu does not work"
When a file or folder is selected by long press, menu Share with users does not work.

As a consequence, folders cannot be shared.

But great work!! Just letting You know, I was missing this feature so much! It was one of the few reasons to enter the web interface..

[2015-11-05 23:06] elpraga opened #1261 "Share with users menu is missing detailed options"
Thank You Tobias for bringing this possibility to share with ownCloud users!!

I suppose that You plan to add the options of sharing for files and folders (can share, can edit,  access control - create, change, delete), as it is important to be able to set the folder readonly when sharing..

I just wanted to leave the mention that they are missing for now.

Thank You sooo muuuchh!!

[2015-11-06 04:32] supportreq commented on #592
long press on the video gives the option for external viewing but it seems that it does not find the VLC app.. It gives me a list of browser apps, and when I select chrome it downloads the video file..

Show how the streaming function does not seem to work.. i m using one plus one..

[2015-11-06 08:57] jospoortvliet commented on #1227
@jancborchardt we do usually have an April meetup in Nue, I think that that one should grow a bit ;-)

[2015-11-06 09:22] TheBR opened #1262 "Owncloud Android doesnt like Android 6 Marshmallow"
Hey all,
  Took delivery of a Android 6 enabled phone yesterday and put the Owncloud app on it. It does not like it one bit to be honest, frequent black screen / crash and upload is not working.

I did notice that at no time was i asked for permissions management, this is new in Android 6 in that permissions are supposed to be requested as an when they are needed rather than at install time via ma

[2015-11-06 09:33] AndyScherzinger commented on #1262
I run Android 6 and do not have any of the errors you mentioned popping up. The permission management is an Android 6 feature, true. But it needs code changes in order to work like that, else it simply works as designed on pre-Android 6 (so nobody to blame :wink:).

So permissions would be a new feature which could be implemented in a backwards compatible manor using AppCompat.

At this moment if

[2015-11-06 09:43] TheBR commented on #1262
Hi,
  I'm running on a Nexus 6P - i previously reported a permissions a few days ago here on Android Lollipop using the Owncloud appliance, https://github.com/owncloud/android/issues/1239, and playing around a bit im tempted to think its that again - BUT!

Its weird though, i can upload from my Desktop no problem, but uploading via the owncloud app i have issues.

As an example, i can upload a tex

[2015-11-06 09:55] AndyScherzinger commented on #1262
Might be the issue, I guess.

I run ownCloud 8.1.3 so this might be due to the newer serverside. Since I can only update my server via the updater I can't test it since it'll still be some days to go until 8.2 becomes available.

@LukeOwncloud @tobiasKaminsky @rperezb anyone running 8.2 and exeriencing the issues mentioned here?

[2015-11-06 13:55] jancborchardt commented on #1104
Yes, however this should be condensed down to fewer steps. 6 steps is too much and will annoy people on first startup. @nasli @rperezb where is the related iOS issue?

[2015-11-06 14:16] rperezb commented on #1104
@jancborchardt on iOS there are 6 slides too, @supportreq pasted them  https://github.com/owncloud/android/issues/1104#issuecomment-133315788

[2015-11-06 14:45] TheBR opened #1263 "So i have a security issue to discuss - should i post it here?"
Do you guys have an e-mail i can send it too or should i post here?

[2015-11-06 14:46] LukasReschke commented on #1263
https://hackerone.com/owncloud

[2015-11-06 14:46] #1263 closed

[2015-11-06 14:46] TheBR commented on #1263
Thank you.

[2015-11-06 15:14] tobiasKaminsky commented on #1250
This is the default behaviour of the normal app: After an error there is no possibility always this false message occurs

[2015-11-06 15:31] LukeOwncloud commented on #1250
An option would be to close the player if file cannot be played or disable the play button.

But the actual problem is that it does not play any MP3 files at all. Does it work for you?

[2015-11-06 15:32] LukeOwncloud commented on #1250
Got it. Clicking an MP3 file does not start the download. It just opens the player which can then of course not read the file.

[2015-11-06 15:41] tobiasKaminsky commented on #1246
The build date will be visible in Settings under "owncloud beta android app".
The filename is generated by me in this format: owncloud-android-20151106.apk.
This is required for the built-in update system.
So therefore I close it.

[2015-11-06 15:59] tobiasKaminsky commented on #1250
It should stream the file...
Currently I do not know why this does not happen.

[2015-11-06 16:00] tobiasKaminsky commented on #1256
In the next beta there will be a fix, please try it and comment.

[2015-11-06 16:03] tobiasKaminsky commented on #1262
I have no Android 6.0 installed, so I can, for now, help here...

[2015-11-06 16:07] tobiasKaminsky commented on #1261
Sharing with ownCloud users is developed by @davivel and @masensio. All credits belong to them :)
This feature is only in beta as it is also in master and will be in the next release.

Therefore I remove the beta label from the topic.

[2015-11-06 16:11] tobiasKaminsky commented on #592
Do you have the latest vlc version installed?
Can you try, for instance, MX player?
Indeed this is "just" a http(s) link to the file, therefore browsers may accept this link.

[2015-11-06 16:19] TheBR commented on #1262
Well, I've been testing a few things today and in the process i deleted and then recreated my account on the app for the connection to the server.

Since doing this it seems to be fine uploading everything now, even files that were failing previously are now uploading Ok. I have a theory that it may be to do with entering my site name in a way which it failed to properly create a secure connection

[2015-11-06 16:19] #1262 closed

[2015-11-06 16:26] tobiasKaminsky commented on #1260
This is resolved in the next beta.
Please test and comment it.

[2015-11-06 16:37] tobiasKaminsky commented on #1248
This is changed in beta and will be available soon.
Please check it then.

[2015-11-06 16:43] jancborchardt commented on #1104
@rperezb I know, however I said in a past issue that 6 are too many. I can’t remember now which, that’s why I’m asking @nasli if she remembers where I said that.

[2015-11-06 16:46] tobiasKaminsky commented on #1243
For the zooming problem please open a new issue.
Do we really need an indicator?
Before you click on an image you see if it is downloaded. Is this not sufficient?
(Ok maybe when you swipe through an folder, you do not know it.)

But what is the purpose of knowing it? You can send the resized images just like a big one...
I do not think that it is necessary and it will clutter the UI (which @jancbo

[2015-11-06 17:24] elpraga commented on #1243
Yes, exactly, it is the case. And it is connected to viewing the fullscreen previews and zooming in.

But my apologies. I double checked the behaviour, and the app does show the downloaded picture in fullscrenn when available and the menu entry "Download" changes to "Open with".

I think this is sufficient indication if I am viewing the original or not.

[2015-11-06 17:24] #1243 closed

[2015-11-06 17:27] tobiasKaminsky commented on #1250
Can you stream the file with an external player like vlc or MX?

[2015-11-06 17:36] elpraga opened #1264 "Beta: add some kind of indication of which build I am using."
I thought that I could use the "View Changelog" menu entry to check which version am I using, but I just noticed that it opens: https://raw.githubcontent.com/owncloud/android/beta/CHANGELOG.mg , which I believe is the changelog for the whole branch.

I almost reported an issue using old build (I installed newer build on the phone yesterday, but not on the tablet, and I used the tablet today)

Addi

[2015-11-06 17:40] elpraga opened #1265 "Beta: 2015-11-05 Menu entry "Upload images taken with camera" is repeated in the config"
Is there any difference between the two?

[2015-11-06 17:50] elpraga opened #1266 "Beta: 2015-11-05 Deleting a local copy when viewing in fullscreen throws me back to directory listing"
When I preview the photos in fullscreen and I decide to download the original, the preview gets replaced by the original when the download is finished. That is nice.

When I view an original in fullscreen and then decide to delete it, I think, I should be presented with the large preview and stay in fullscreen mode. Do You agree with me?

[2015-11-06 18:02] elpraga opened #1267 "Beta: 2015-11-05 Suggestion: Make the list / grid view a simple toggle"
I was very happy when You introduced the possibility of using the grid view for all folders as I have many forlders with both documents and pictures or scans. Sometimes I do switch between the views as both have its advantages.

When I was using the beta now, I found out that it is a little schizofrenic when EACH folder remembers the last viewing method.

Several times I switched to grid view to l

[2015-11-06 18:14] elpraga opened #1268 "When viewing the downloaded original with the app it seems to show less details then viewing the same picture with another app"
I was really trying to make sure it is not an illusion, but I can confirm it now. When I view the original in OC app it has fewer details (and also allows less zooming in) then QuickPic on the very same picture.

It there any technical reason for this behaviour? I was using the app on my tablet with android 4.1.1.

Please, let me know if I can provide other information that would be useful to You.

[2015-11-06 18:16] LukeOwncloud commented on #1250
How would I do that? Which URL? How to authenticate?

[2015-11-06 18:26] elpraga commented on #1261
Big thanks to @davivel  and @masensio ! That was one of the last reasons why I had to use the web interface. It would be great to have it in the app as it it difficult to use the web interface on mobile devices.
Do You plan to implement the full set of options?

BTW.
...y sería una coincidencia muy grande.. ¿No sois de Sevilla, por casualidad?

[2015-11-06 18:37] elpraga commented on #1257
I just checked it out and You actually don't even know when the server cannot be reached,

I stopped the server and tried to update the directory, it was showing the indication that it usually shows when updating and after a while it just stopped letting me believe that the update has concluded.

Shouldn't a user get some kind of warning like:

_Server couldn't be reached now, only local file avai

[2015-11-06 18:50] elpraga commented on #1239
I am using OC 8.2 and Android 6. Instant upload is working. Let me know if I can help You by sending some data.

[2015-11-06 18:51] elpraga commented on #1262
I am using OC 8.2 and Android 6. Instant upload is working for me. Let me know if I can help You by sending some data.

[2015-11-06 18:51] davivel commented on #1180
Fixed in https://github.com/owncloud/android/pull/1269

[2015-11-06 19:08] LukeOwncloud commented on #1250
Do I need to install the music app? I just see experimental version 0.3.4 which just broke everything (`HP Fatal error:  Class 'OC_Search' not found in ..../owncloud/apps/music/appinfo/app.php on line 69`)

[2015-11-06 19:09] LukeOwncloud commented on #1257
Yep, that is also a problem I already reported here: https://github.com/owncloud/android/issues/688

[2015-11-06 20:05] nasli commented on #1104
@jancborchardt, here it is owncloud/ios#404 and also related on desktop owncloud/client#3711

We added a skip button as you suggested if someone does not want to see the slides, and we agreed to keep the 6 slides.

But, take the advantage now that has not yet started development and redesign it with any improvement ;)

[2015-11-07 00:35] elpraga commented on #1217
I'll check the cameras I have, I had no clue it was like this..

[2015-11-07 04:44] supportreq commented on #592
I have the latest VLC from the Play Store.. Will check with MX player and revert..

[2015-11-07 10:16] xylo commented on #1229
@tobiasKaminsky Yes, I have one question: What is the URL for retrieving the latest available version of the ownCloud betas?

BTW, it might be good to set also the package name in the file AndroidManifest.xml to "com.owncloud.android.beta".  That was a bit confusing for me when I changed the branch.

[2015-11-07 10:25] xylo commented on #1229
@tobiasKaminsky Found it: https://raw.githubusercontent.com/owncloud/android/beta/apks/latest

[2015-11-07 12:00] xylo commented on #1229
I posted the app submission on https://f-droid.org/forums/topic/owncloud-beta/

[2015-11-07 12:10] LukeOwncloud commented on #1250
Oh, that is not nice. A more music app (0.3.8) is available in tab "multimedia" , whereas "not installed" only lists experimental version 0.3.4. Sounds like an issue to report, doesn't it? Do you have an idea where? Core? Music app? Updater app?

[2015-11-07 17:15] einmal1 opened #1271 "Date changed to date of upload (not original)"
When uploading a file from Android (only?) the time and date of the file ist changed to time and date of upload. Is it possible to keep the original date and time?

Thanks!

[2015-11-07 19:59] przybylski commented on #10
@tobiasKaminsky Thanks!
this feature progress can be tracked at my fork: https://github.com/przybylski/android/tree/externalSD

[2015-11-08 06:58] LukeOwncloud commented on #1271
Duplicate of #761.

[2015-11-08 06:58] #1271 closed

[2015-11-08 08:38] JasperWeiss commented on #588
I still feel this isn't solved. When using dropbox, onedrive etc. I can browse through files and download them to my phone if I need to have it available offline. Now everytime I view a file it's stored permanently on my device and I have to manually delete it. All cloud storage apps have a separate view and download option. Why is it so hard to make this work properly with owncloud

[2015-11-08 08:57] enoch85 commented on #588
As I agree with @JasperWeiss I reopen this issue. Still, nothing has happened to solve this issue, or if so, please link the PR in this issue.

[2015-11-08 09:04] LukeOwncloud commented on #1193
I think this is about opening the gallery app, then share photo, choose owncloud app.

[2015-11-08 09:07] LukeOwncloud commented on #588
There is something happening. The the beta version provided by Tobias (branch beta). It does not load the whole file but a scaled version.

[2015-11-08 09:11] enoch85 commented on #1188
But it should still be able to choose the behavior. This has been, and will be an ongoing discussion until something happens, or someone does something to solve it.

I started a discussion in #588 that I now reopened when I saw that this still happens, and there is no plan to change it. I actually use another app to sync my pictures now a days, mainly because of this behavior and that the devs are

[2015-11-08 09:23] enoch85 commented on #588
@LukeOwncloud How do I get the Beta version so that I can try it?

[2015-11-08 09:24] JasperWeiss commented on #588
@LukeOwncloud the problem isn't that I have little bandwith or storage space. It's just that the idea of cloud storage is to store things in the cloud. Now, everytime I view a file, it downloads it and opens it. After which I have to remove the local copy. I just want to tap a file, view the image/document/song/video without having it downloaded to my device first (at least not permanently, there'

[2015-11-08 09:24] LukeOwncloud commented on #1250
What is more important. Also enabling that music app does not solve this issue.

[2015-11-08 09:37] enoch85 commented on #588
Just to take one example.

You could use the Gallery app on the server for viewing pictures, that works exactly as it should, it shows the picture, and you can *choose* to download it.

But imagine if it had the same behaviour as the android app, "to save bandwidth" or "always make the file available" it would download the picture to the computer every time. Now, wouldn't that be a pretty bad solu

[2015-11-08 09:44] JasperWeiss commented on #588
Exactly. I'd say go ahead and check out Onedrive, dropbox, Google drive. And see how they handle things.

Side note, I am planning to make my own app that uses the onedrive/google drive/dropbox api to access files so that you can use it the same way the official apps do, except it encrypts it first before sending it. This allows you to use any cloud service provider and have the owncloud like peac

[2015-11-08 12:39] LukeOwncloud commented on #588
@enoch85
The beta is here: https://github.com/owncloud/android/tree/beta/apks
Direct link to APK: https://github.com/owncloud/android/raw/beta/apks/latest.apk

@enoch85 @JasperWeiss
I do not argue with you guys and I would not have the slightest problem with such a setting. But I think it is not necessary...

@tobiasKaminsky
...because the beta can do exactly what you want, I think. Can you shed s

[2015-11-08 12:54] LukeOwncloud opened #1272 "ownCloud requires new permission READ_PHONE_STATE"
I just noticed that the beta version uses a new permission. I tracked the origin of the change down to the master branch: https://github.com/owncloud/android/commit/905b68b4ec886cff35799c0e0604383d9f1d245b#diff-a48d6def78e18cbabab3c95ae3c9fc49R44

I created a comment there but I wanted to create an official issue as well, since I deem this important.

``READ_PHONE_STATE`` allows to access a lot of

[2015-11-08 13:03] LukeOwncloud commented on #1246
Does not work with `owncloud-beta-20151105.apk`. Menu entry shows string "Version owncloud beta" where the actual version should appear.

[2015-11-08 13:04] LukeOwncloud commented on #1264
@elpraga I think you are looking for this: https://github.com/owncloud/android/issues/1246
So I close this issue. Please reopen if necessary.

[2015-11-08 13:04] #1264 closed

[2015-11-08 13:05] enoch85 commented on #588
@LukeOwncloud

Not for you maybe, and not for me neither really (I have 64 GB phone) but I'm thinking of all the other users with smaller memory. ownCloud is for everybody. Just sayin. :)

[2015-11-08 13:12] JasperWeiss commented on #588
@luke @enoch85 again, for me too it's not so much about storage space. It's just rather annoying behavior for a cloud storage app to download every file you open.

[2015-11-08 13:13] LukeOwncloud commented on #1267
This was discussed here https://github.com/owncloud/android/issues/1081 and here https://github.com/owncloud/android/pull/1099. Please follow those disscussions.

[2015-11-08 13:13] #1267 closed

[2015-11-08 13:15] LukeOwncloud commented on #1268
Are you saying the photo is of lesser quality? Or are you simply referring to the maximum zoom level?

[2015-11-08 13:16] LukeOwncloud commented on #1266
Yes, I'd agree with you.

[2015-11-08 13:17] JasperWeiss commented on #588
Oh and @lukeOwncloud, it shouldn't be too hard since there are plenty of file managers that I can borrow code from and all the connection stuff is handled by the api.
I'm just trying to think of a way to have the encryption key on multple devices without manually transferring it. I guess it should be stored on the cloud service along with the files encrypted with a (strong) password but that would

[2015-11-08 13:17] LukeOwncloud commented on #1238
Option "Download latest beta version" is available. I thus close this issue. Okay?

[2015-11-08 13:17] #1238 closed

[2015-11-08 13:21] LukeOwncloud commented on #1241
There is another circumstance that makes thumbnails slow. It seems there is no priorization queue. When scrolling all the way down to the last photo, before the thumbnail of the last photo is shown all other thumbnails are loaded first. Just checked the server log.

It get even worse when you open the last photo to show the scaled version. You have to wait until all thumbnails are loaded first.

[2015-11-08 13:24] LukeOwlclaw opened #1273 "Temporarily showing "Nothing in here. Upload something!""
When browsing into a new folder it displays "loading...", then for a glimpse "Nothing in here. Upload something!" before it shows the actual content.

[2015-11-08 13:29] enoch85 commented on #588
@LukeOwncloud Wow, the Beta version is really nice. Afaik the file is  not stored locally if you choose "do nothing", and the file is not downloaded when you browse the pictures on server. Is that a correct assumption?

@tobiasKaminsky Will this be in 1.8.1?

[2015-11-08 13:51] LukeOwncloud commented on #588
@JasperWeiss

The beta does not (at least in the context of photo).

@enoch85
No, "do nothing" is an action for instant upload (observer the title of the section).

Whole photos a never downloaded unless you explicitly choose from the menu ``download``. As I wrote before:

What you want to do is go into the settings and set the cache size to 0MB. Then all scaled images are delete right after they

[2015-11-08 14:19] Wikinaut commented on #1246
@LukeOwncloud Hi, can we chat about this ?

[2015-11-08 21:39] enoch85 commented on #588
I rest my case.

[2015-11-08 21:39] #588 closed

[2015-11-08 22:07] jancborchardt commented on #1144
An example of a file manager which includes icons in the action menu is [Cabinet](https://play.google.com/store/apps/details?id=com.afollestad.cabinet&hl=en):
![](https://lh3.googleusercontent.com/R7f2vCwYFbP9yDWsrmZBhDvtcIB1S9ewaHpzCpzDptG-hvvqj9MLbXLTTiqqA6g2SDQ=h900-rw)
Icons should be there only for Share, Favorite and Delete – as said above to keep the focus on them.

[2015-11-09 09:27] AndyScherzinger commented on #1193
@jancborchardt any comment/clarification? It's like @tobiasKaminsky said, the layout depends on the originating app and can't be influenced by the ownCloud app. Or do you mean @LukeOwncloud's pov about what we display in case you share, choose owncloud, etc.. ?

[2015-11-09 09:35] AndyScherzinger commented on #1144
I guess that should be an easy (while effort taking) one :)
* add the respective icons
* create a new layout for the line items (icon + text)
* create an adapter to file the list view

So it is some work but if one knows its way around Android UI code it is an easy one (thus also labeling it junior job).

Should we then split the issue?
* icons for Share, Favorite and Delete (should these then be

[2015-11-09 10:55] jancborchardt commented on #1144
No, Delete should _always_ be the very last action. Share and Favorite need to be the first 2.

Yeah, that’s probably the biggest thing. I’d say we start by simple reordering, bringing Delete to be the last item, and sort the rest correctly as well.

[2015-11-09 10:57] jancborchardt commented on #1193
Yeah, what @LukeOwncloud said. I open the Gallery app and share from there.

[2015-11-09 11:30] AndyScherzinger commented on #1193
Which would be this one? https://play.google.com/store/apps/details?id=md.steuer.mobile.owncloud_gallery.free

Just asking so I can try I out to see what you mean :)

[2015-11-09 11:45] AndyScherzinger commented on #1144
Ah, then it is three issues... ;)

* reordering
* layout with icons
* completely custom layout as suggested with the two column layout (in case we really want to do this, which might be quite painful to implement talking alignment and positioning which it then dynamically and custom)

[2015-11-09 12:14] jancborchardt commented on #1243
Cool! :)

[2015-11-09 12:17] jancborchardt opened #1275 "Remove »Details« action from file menu"
The details screen serves no real purpose anymore. It only duplicates the info which is available elsewhere:
- name
- size
- date
- file type (it even wrongly states SVG files are of type JPEG)
- ability to favorite

So I would say we should get rid of that screen and remove the action in the long-press file menu. This also serves as reducing the actions in the file menu, see https://github.com/ow

[2015-11-09 12:18] jancborchardt commented on #1144
Favoriting could actually even just be the star symbol as a toggle left of the file name. Boom – another row saved! :)

[2015-11-09 12:19] jancborchardt commented on #1144
And Share could be directly on the row to the right, as an element with very low opacity. See the mobile view of the web interface for reference (just make your browser smaller). Then we also don’t need to duplicate the Share function in the long-press menu and it’s way quicker to access.

[2015-11-09 12:21] jancborchardt commented on #1193
The standard Android Gallery: com.android.gallery3d

[2015-11-09 13:19] AndyScherzinger commented on #1144
No 8.2 for me yet (since I *still* have to wait for the web updater to be updated :cry:) Do you have a screenshot for reference? :) (problem with the share is that we already kind of show it twice for the folders 8on the folder and on the right hand side...)

[2015-11-09 13:20] AndyScherzinger commented on #1144
Favorite could be on the right hand side as well (like in the gmail app) also with an action, like you said.

[2015-11-09 13:27] AndyScherzinger commented on #1275
How can this info be reached? Files else open with an app that support the mime type, so if it is a pdf for example I can only see the "details" via the menu item on the long click action, right?

[2015-11-09 13:33] davivel commented on #1272
Probably it's an accident. We'll double check.

Thanks, @LukeOwncloud

[2015-11-09 13:37] supportreq commented on #1144
can we not have something like dropbox a downward arrow which tells the user that there is a menu..

https://lh3.googleusercontent.com/F-ehG8Y7CnLPFa3-RWAUa9zGrCMDrTvPcA4nQ30ayC46zDUPt7JnyWY08kxNcBbECRs=h900

[2015-11-09 13:45] AndyScherzinger commented on #1193
Aaaah..... that'll be the Uploader implementation:
https://github.com/owncloud/android/blob/master/src/com/owncloud/android/ui/activity/Uploader.java#L398

Screenshot (how it is now, minus the primary action coloring since I am running my branch on my phone):
![device-2015-11-09-144001](https://cloud.githubusercontent.com/assets/1315170/11035097/79e65802-86f0-11e5-8adc-ea597f72427c.png)

[2015-11-09 13:51] AndyScherzinger commented on #1193
I am willing to implement this if it is fine with you guys: @jancborchardt @davivel @masensio @tobiasKaminsky @Kernald @stoyicker

[2015-11-09 13:57] LukeOwncloud commented on #1246
I was impatient. Works just fine with version 20151109. Closing issue again.

@Wikinaut No need to chat then, right?

[2015-11-09 13:57] #1246 closed

[2015-11-09 13:59] LukeOwncloud commented on #1242
Confirmed. Fixed with version 20151109. Closing issue.

[2015-11-09 13:59] #1242 closed

[2015-11-09 14:00] LukeOwncloud commented on #1248
Confirmed. Fixed with version 20151109. Closing issue.

[2015-11-09 14:00] #1248 closed

[2015-11-09 14:07] Taomyn commented on #1229
@xylo could this not be added to the same entry in F-Droid as the production version? If you look at F-Droid's own listing https://f-droid.org/repository/browse/?fdfilter=f-droid&fdid=org.fdroid.fdroid it has only one yet it includes alphas/betas and they are never pushed and must be applied manually (unless you change a global setting I believe).

[2015-11-09 14:10] LukeOwncloud commented on #1255
Uploading image works for me with version 20151109. @elpraga please double check!

[2015-11-09 14:11] LukeOwncloud commented on #1256
Confirmed. Fixed with version 20151109.

[2015-11-09 14:11] #1256 closed

[2015-11-09 14:14] AndyScherzinger commented on #1144
@supportreq That is what @jancborchardt wants to do with the three dotted icon (which is Androids standrad icon for such things to indicate). Unfortunately you would than still end up with the huge amount of menu items we have right now, which is the sesconds issue Jan wants to change :)

[2015-11-09 14:14] LukeOwncloud commented on #1259
Copying file works for me with version 20151109. @elpraga please double check!

[2015-11-09 14:17] LukeOwncloud commented on #1260
Works for me with version 20151109. @elpraga please double check!

[2015-11-09 14:17] LukeOwncloud commented on #1265
Confirmed. Fixed with version 20151109.

[2015-11-09 14:17] #1265 closed

[2015-11-09 14:26] LukeOwncloud commented on #1275
@AndyScherzinger name, size, date are shown in folder view. ability to favorite is in menu.

@jancborchardt What is not available is the exact, absolute file date (including seconds). But I think it is not very important, same as the file type. So I like the idea to remove the details view.

[2015-11-09 14:34] xylo commented on #1229
@Taomyn That would be also an option, yes. In that case @tobiasKaminsky only has to tag his beta versions with a special "beta" label in git. Then the build system of f-droid could detect this and build the beta versions automatically.

On the other hand, this solution conflicts with the different package IDs the official app and the beta app currently have. This separation regarding the package I

[2015-11-09 14:39] jancborchardt commented on #1144
@AndyScherzinger if we add favorites directly in the list, we should put it left of the file thumbnail like it’s done in the mobile web interface. However I would not add that on top since it just is too much stuff. Share icon and 3-dot-menu is enough.

[2015-11-09 14:39] jancborchardt commented on #1144
(For the first pass at least, we can revisit stuff after that.)

[2015-11-09 14:39] jancborchardt commented on #1144
Initially the 3-dot-icon could just trigger the same menu. Then long-press is free for multiselect.

[2015-11-09 14:40] jancborchardt commented on #1193
Yep, exactly! :) Also the small text »Choose upload folder« should be moved to the header instead and replace »ownCloud«.

[2015-11-09 14:45] jancborchardt commented on #1275
@AndyScherzinger yeah, that screen can only be reached by the details item in the long click action. Otherwise it’s displayed for filetypes which can’t be opened by ownCloud. Which is ok – but it shouldn’t be duplicated as action in the long press menu.

In addition, the duplicate info there about »type, size, date« can be removed, and that whole screen should be beautified a bit more. Kind of lik

[2015-11-09 14:47] Taomyn commented on #1229
@xylo understood. All I would add then is that Google's own beta process through Play Store for any app works in much the same way as F-Droid in that the ID is the same - you just have to apply for access usually through G+ - just saying ;-)

Also, and I know I wrote above "All I would add", but isn't running two versions of the app against a single version of the server just as likely to cause is

[2015-11-09 16:50] AndyScherzinger commented on #1275
That isn't happening (anymore), at least not for me on the branches. It just displays a Toast saying no app found for the file type. So at least on the branches (will have to check the master), the long click really is the only way to get to the details screen...

I get @LukeOwncloud's comment and yes, atm I would also suggest to drop the screen. So not sure if the Toas is fine or the screen makes

[2015-11-09 16:51] przybylski commented on #10
This feature is now ready to merge in https://github.com/owncloud/android/pull/1276
however it requires this to work: https://github.com/owncloud/android-library/pull/91

[2015-11-09 16:57] AndyScherzinger commented on #1144
So where would the 3-dot icon be positioned then? Naturally I would expect it to be on the bottom right. And Yes, as soon as we have this the long press would be free for multi select which would be in line with the actual user's expected behavior :+1:

[2015-11-09 17:43] jancborchardt commented on #1275
Nah, the toast is fine. Even better, because it makes no sense redirecting people to a separate screen when the file can’t be opened anyway. However I can’t see the toast. For me for example, a .gpx file brings up the details screen.

[2015-11-09 17:44] jancborchardt commented on #1144
The three-dot menu would be on the right, in each row. Just like the 3-dot menu in the mobile version of the web interface.

[2015-11-09 17:44] jancborchardt commented on #1144
Of course a bit grey as to not distract too much.

[2015-11-09 17:53] AndyScherzinger commented on #1275
Than it works as designed already ... on master :)

(probably even in the release 1.8.0; not sure though)

[2015-11-09 17:54] AndyScherzinger commented on #1275
Should thus the issues' requirement be to simply remove the Details action from the menu?

[2015-11-09 18:01] AndyScherzinger commented on #1144
Gery it is ;) - I would go for the standard grey of Android's icons if that would be fine with you.

[2015-11-09 18:05] AndyScherzinger commented on #1211
issue is also fixed with #1200 as per discussion.

[2015-11-09 18:05] #1211 closed

[2015-11-09 18:10] AndyScherzinger commented on #1192
@iav as for that, please open a new issue and have a discussion with @jancborchardt about that.

[2015-11-09 18:46] LukeOwncloud commented on #1275
Same for me with the beta version: The details are shown and below a download progress bar.
Do we need that progress bar? It is also shown in the notification bar.

About "file type can't be opened". I think that is very user unfriendly:
If users click a file, they want to open it. If oC can't determine the right app automatically, wouldn't it be better to ask the user how to open the file? That i

[2015-11-09 18:57] AndyScherzinger commented on #1275
The screen only appears when the file hasn't been downloaded yet.
The open with is actually what happens :)  But the action in this case is smarter and asks the system for apps to open the file. In case one or more apps are found it launches the Open with else it shows the Toast. A Windows behavior doesn't really make sense since the call scans the phone via Android for apps with a compatible mime

[2015-11-09 19:11] tobiasKaminsky commented on #1229
Running both version parallel should be not problem unless you only use one instant upload and use keep-in-sync also only with one app...
All other operations are user-triggered one (download, upload, ...) and will not conflict.

[2015-11-09 19:14] LukeOwncloud commented on #1275
I disagree. Windows determines the possible application by examining the extension. Also Android uses the extension to determine the mime type. So if a file was renamed for whatever reason, the correct app type cannot be determined. And if no 100% hit is found, a simple text editor is often better than nothing (e.g. consider MS mail format .msg or source code files like .cs or .rb (on my phone no

[2015-11-09 20:17] tobiasKaminsky commented on #1188
Just have a look at the beta version.
There is video streaming and images are stored in a resized version in cache and are only saved if the user choose to.

Is very harsh and not friendly at all!
There is a *big* difference between having good reason to do it in one way and ignoring the users.

[2015-11-09 20:23] tobiasKaminsky commented on #1144
I am unsure if this works fine with the beta version.
I thought that we have talked about adding "three dots" to each line @jancborchardt and decided to not do that as we have multiselect, which works the same way as the gallery3d:
selecting one item: show all possible entries
selecting > 1: show only bulk operating menu entries

[2015-11-09 20:30] tobiasKaminsky commented on #1268
I think this is independent from beta as beta only has resized images.
We would have to look into good, but I guess that the ImageView which handles the image displaying is somehow limited.
This happens also to the official version.

[2015-11-09 20:35] tobiasKaminsky commented on #1250
The authentication is part of the url:
http(s)://user:pass@ownloud.server.de/path/to/file
In fact streaming is nothing else than a slow download (if we omit the seeking part).
Therefore the music app is not required.

So, basically go to an audio file, say "stream with external app" and choose vlc/mx player and it should work.

[2015-11-09 20:38] tobiasKaminsky commented on #1241
What about using fix size:
256px for thumbnails
1920px for resized images
With these hardcoded values we have
- small overhead for phones with lesser display
- small drawback on phones with higher displays as the resized images could be a little blurry
- only 2 thumbnails that may be can be auto-generated during upload/cron job or at least are available after first accessing them

What do you thin

[2015-11-09 20:39] tobiasKaminsky commented on #1241
@LukeOwncloud Regarding the wrong prioritization queue please open a new issue (or maybe search for an old one. I think I am remembering such an issue opened by @jancborchardt)

[2015-11-09 20:41] tobiasKaminsky opened #1278 "Resized images: show small thumbnail while loading resized image"
@elpraga

Related to #1044

[2015-11-09 20:42] tobiasKaminsky commented on #1273
This happens also on the official client, therefore removing beta label.

[2015-11-09 21:23] LukeOwncloud commented on #1188
And most important: It *was* changed. Setting cache size to 0 will not store any images permanently.

[2015-11-09 23:21] enoch85 commented on #1188
@tobiasKaminsky Sorry! Wrote that in without knowing that you solved it. I was a bit upset, since this has been know for several years, and no one did something about it. You the other hand - is a life saver! https://github.com/owncloud/android/issues/588#issuecomment-154876312

And thanks @LukeOwncloud for pointing me int the right direction.

[2015-11-10 02:36] mooncong commented on #455
You can lookup cname type of dns manually.
[code]

[2015-11-10 09:02] jancborchardt commented on #1192
@iav well, you’re not the only person using ownCloud. For most people e.g. seconds are completely irrelevant.

[2015-11-10 19:35] tobiasKaminsky commented on #1278
@elpraga but we must keep the thumbnail to max twice the size to prevent it from being blurry.
The spinning wheel is needed below the thumbnail?
@jancborchardt for design ;)

[2015-11-10 19:52] elpraga commented on #1278
I think that showing a blurry thumbnail until the preview is loaded would be a step forward from showing a black background. At least we would have an idea what picture we are viewing.. And the spinning wheel would tell us that something is going on and we should wait..

[2015-11-10 20:50] jancborchardt commented on #1278
Yep, sounds like a great idea! Mich better than not knowing at all which image you are loading, especially when swiping through yet undownloaded files.

[2015-11-11 01:01] strugee commented on #340
@LukeOwncloud I feel the same, but the ownCloud people have stated that the sharing thing is a paid support contract thing, so it needs to be done soon.

[2015-11-11 12:31] davivel commented on #1218
No. There's the states the app needs. Maybe there are two many icons, but the states are there, and will keep there. A different issue is if we want to distingish them with different icons or not to the users eyes.

Coordinating icons with the sync client is nice to create a consistent experience, but we can't just copy the desktop because our sync model is not the same. In the mobile apps, having

[2015-11-11 13:36] felixboehm commented on #1128
We have a workaround, but need to fix this sometime.
@MTRichards Please provide a milestone.

[2015-11-11 13:50] AndyScherzinger commented on #1128
@davivel junking should be something being part of HTTP 1.1 thus would need to be covered by the HTTP-Client in our case the apache lib (I think), which until the Android 23 branch is merges will be different on some Android versions, brands, etc.
So not the urgent matter.

[2015-11-11 13:54] AndyScherzinger commented on #1218
@jancborchardt can someone provide the icons (whenever this implementation gets done) in the right sizes and probably also redesign them. I am aware that is is a CI/CD topic but the icons neather really fit a badge character nor do they feel very material :disappointed:

[2015-11-11 15:01] jancborchardt commented on #1218
@davivel yeah, I meant to say there are too many icons. We do not need to differentiate all the states with individual icons.

@AndyScherzinger yeah, I’ll take care of getting the icons. Only the badges, right? @davivel @AndyScherzinger which sizes are needed and which format?

[2015-11-11 16:14] masensio commented on #1180
https://github.com/owncloud/android/pull/1269 is merged in master branch.

[2015-11-11 16:14] #1180 closed

[2015-11-11 16:27] davivel commented on #1180
cc @cdamken

[2015-11-11 16:29] davivel commented on #787
Fixed in https://github.com/owncloud/android/pull/1269

[2015-11-11 16:29] #787 closed

[2015-11-11 16:30] davivel commented on #790
Fixed in https://github.com/owncloud/android/pull/1269 ; full screen video is back.

[2015-11-11 16:30] #790 closed

[2015-11-11 18:07] MTRichards commented on #1128
@davivel Something for the backlog.

Seems we can live without it for a while, but schedule it in a later sprint. No milestone in site.

[2015-11-11 18:11] AndyScherzinger commented on #1218
@jancborchardt the format has to be png, the pixels keeping the same size as the ones we have right now would then be:
* drawable-xxhdpi: 48x48
* drawable-xhdpi: 32x32
* drawable-hdpi: 24x24
* drawable-mdpi: 16x16

If you provide the badges in the sizes in folders with names as shown above (drawable-...) than @davivel cann just copy paste this to the code base and everything is in the right place.

[2015-11-11 19:14] MTRichards commented on #1218
While I agree with Jan, we should consolidate on the desktop for synced files. there is 1 different state on mobile that a user needs to know: if the file is selected to sync.

On desktop the sync folder that is unselected disappears...this doesn't work on mobile. AND, won't work on desktop with whole filesystem view in the future...when we get there.

Since desktop assumes all files will be synce

[2015-11-11 19:23] strugee commented on #1218
Android doesn't have an exclude list, and given the fact that nothing syncs by default, it really shouldn't.

[2015-11-11 22:57] jancborchardt commented on #1218
@MTRichards yeah, good summary. One exception though:

When you are offline, the icons should stay exactly like they were. Just like we do on the desktop client and like any other tool does it. Offline is not a special state.

[2015-11-11 22:58] MTRichards commented on #1218
I must have installed too many overlay icons, mine are now blank for competitive solutions. oh well.

[2015-11-11 23:03] MTRichards commented on #1218
True, on the client side there is currently no such list.

On the server side, though, there is such a list and you can prevent certain files from being synced. For example, you can set a rule to reject .mp3 files in the file firewall. If you do that, should it be a red x, which suggests something is wrong that you can fix, or should it be a yellow x which is something you can't fix because the fi

[2015-11-12 09:35] rperezb commented on #1261
@elpraga yes, we plan to release firstly the option to share with users and then to add further features such as being able to handle privileges.

BTW...hehee no, Valladolid :)

[2015-11-12 09:50] davivel commented on #3
For any of you missing details about this issue, let's follow up the conversation in #1136 .

Thx

[2015-11-12 10:37] davivel commented on #1272
Fixed in https://github.com/owncloud/android/commit/d145bb16b71eb83304b78e6e1201b38b66bde03c  (release-1.9 branch).

[2015-11-12 10:37] #1272 closed

[2015-11-12 11:04] liamdennehy opened #1280 "Cannot unshare renamed file"
In Android client:
1. Share a link to a file
2. Rename file
Link still works
3. Unshare file
Error: cannot unshare file, make sure it exists
4. Rename file to original name
5. Unshare file
Share is removed

If the original name is unknown, file can never be unshared. Unknown if issue exists on Web interface.

UPDATE: Behaviour is inconsistent. Just unshared a renamed file a few minutes after test

[2015-11-12 12:10] davivel commented on #1178
With the current schedule there is no way we can have this done for https://github.com/owncloud/android/milestones/1.9-current .

Moving to next release.

cc @rperezb , @MTRichards , @cmonteroluque

[2015-11-12 12:14] davivel commented on #819
With the current schedule there is no way we can have this done for https://github.com/owncloud/android/milestones/1.9-current .

Moving to next release.

cc @rperezb , @MTRichards , @cmonteroluque

[2015-11-12 12:15] davivel commented on #674
With the current schedule there is no way we can have this done for https://github.com/owncloud/android/milestones/1.9-current .

Moving to next release.

cc @rperezb , @MTRichards , @cmonteroluque

[2015-11-12 12:19] davivel commented on #198
With the current schedule there is no way we can have this done for https://github.com/owncloud/android/milestones/1.9-current .

Moving to next release.

cc @rperezb , @MTRichards , @cmonteroluque

[2015-11-12 12:23] davivel commented on #340
With the current schedule there is no way we can have this done for https://github.com/owncloud/android/milestones/1.9-current .

Moving to next release.

cc @rperezb , @MTRichards , @cmonteroluque

I'm really sorry, @LukeOwncloud . I'd also like the progress of the app was different. Anyway, let's keep some optimism, we'll need it to keep pushing forward in the right way.

[2015-11-12 12:40] davivel commented on #1025
This was fixed in #1025, goes with the release in progress.

[2015-11-12 12:41] davivel commented on #1025
This was done in #1184. Ready to go in release in progress.

[2015-11-12 12:41] #1025 closed

[2015-11-12 13:25] MTRichards commented on #340
Hey team! As an update, we are hoping to finish the internal sharing for the next release, and then clean up a few bugs and jump on to folder sync and this. The milestone is set for the 1.9.1 release, and the next release will be 1.9.0 in under 10 days. I apologize for the delay, but we are prioritizing this next for review.

[2015-11-13 08:01] strugee commented on #1229
@xylo you should consider directly sending a Merge Request on GitLab. See https://f-droid.org/forums/topic/read-this-before-posting/

[2015-11-13 08:33] elpraga commented on #1261
That is good news! Many of my family members are not too tech savvy so many times I have to share the folders as "read only" so that they don't erase my files by accident :- D

.... Valladolid ... Still close enough! :+1:

[2015-11-13 08:50] elpraga commented on #1241
1920px for resized images

What about the traffic Tobias? Did you look at how big the files are? And also the default max preview size is 2048, pretty close to 1920..

Right now I'm experimenting with setting the max preview size to 1080 on my server (it is the largest I really use) to see if the application uses the max preview directly and thus doesn't generate a new preview.

Unfortunately I ca

[2015-11-13 09:00] elpraga commented on #1268
@LukeOwncloud both. The original photo had less details in OC app compared with QuickPic using the same zoom level, and I couldn't zoom in as far.

Do you want me to try it on my other device as well?

[2015-11-13 09:03] elpraga commented on #1260
Confirmed! Works in beta 20151109

[2015-11-13 09:03] #1260 closed

[2015-11-13 09:07] elpraga commented on #1255
OK. I'll try to recreate the conditions when at home, I'll make the server busy and then I'll check what happens when I try to upload an image.

[2015-11-13 09:40] tobiasKaminsky commented on #1255
And please try to reproduce it on the original version.
According to the posted code snippet I cannot see any beta-related code.

[2015-11-13 13:18] tobiasKaminsky commented on #1229
https://gitlab.com/fdroid/fdroiddata/blob/master/CONTRIBUTING.md
This seems the way to do it...

[2015-11-13 15:37] tobiasKaminsky commented on #1266
Then there would be no visual feedback that the file is removed, or?
So I would stay with the way it is as the user does not want to have the file...?
cc @jancborchardt

[2015-11-13 16:32] elpraga commented on #1266
Well, sometimes I just browse the photos in full-screen and if I don't want
the original I delete it and continue browsing the previews, but I would
expect to stay in the current view.

Much in the same way we stay in it when we download the original. We see
the resolution change and the change in the menu, it is our indicator.

I mention it because the full-screen viewing is great when you need t

[2015-11-13 17:00] tobiasKaminsky commented on #1241
Just try it and resize images on your own and compare the sizes.
For me this is no real problem as my server is fast enough.
I think this is more a question for /core, at least the server generation part.
(Also the question what happens if the desired preview is bigger than the max_preview_size)

[2015-11-13 17:12] tobiasKaminsky commented on #1241
Just try it and resize images on your own and compare the sizes.
For me this is no real problem as my server is fast enough.
I think this is more a question for /core, at least the server generation part.
(Also the question what happens if the desired preview is bigger than the max_preview_size)

[2015-11-13 18:40] strugee commented on #340
@MTRichards thanks for the update. It's really nice to hear from you guys once in a while; personally I feel _way_ more engaged with the community that way.

Keep up the great work and good luck with the 1.9.0 release :)

[2015-11-14 20:51] Larx opened #1284 "External storage added with "use session credentials" do not show in android app"
Before OC8.2, I had several external storages (SFTP) mounted on a per-OC-user base, so every user had to enter login and password to use the external storage. As I use LDAP, all user's logins are the same, so this was quite a bit of double work.

Now I switched to OC 8.2's new method to use session credentials. I globally added the external storage with this option, so OC logs in every user with h

[2015-11-15 09:31] tobiasKaminsky commented on #1229
https://gitlab.com/fdroid/fdroiddata/merge_requests/1056
I have added a merge/pull request.
I hope this speeds up the process.
Thanks to @xylo for creating the metadata! I could used it nearly 1:1 :)

[2015-11-15 10:34] xylo commented on #1229
Oh, I didn't know that you can just add ",branches=beta" to the Repo property.  That's great.

Are you sure about the Auto Update Mode?
As I understood this seems to be complicated.  Every beta release needs to be tagged.  And if you tag it in the form "oc-android-beta-20151115" you need to set "Auto Update Mode" to "Version oc-android-beta-%v".  Moreover, I think fdroid checks also the package na

[2015-11-15 10:40] xylo commented on #1229
The current maintainer of the owncloud app is Daniel Martí, see https://gitlab.com/fdroid/fdroiddata/commits/master/metadata/com.owncloud.android.txt.

[2015-11-15 11:15] tobiasKaminsky commented on #1229
Apparently it is not that easey. Although everything except the last step is working, the fdroid build command is not working (and seems to be a hard work getting it working...)

[2015-11-15 11:57] quimpg commented on #470
I have the same problem, the app doesn't connect generating unknown error

APP version: 1.8 (Android)
https://cloud.pagans.cat/status.php (looks everything ok)

What I'm missing?

Thanks!

[2015-11-16 07:34] pascalBokBok commented on #198
If it could auto update like the main window does now ( with "status bar" in top ) then you could skip having a button

[2015-11-16 14:06] jancborchardt opened #1288 "ownCloud beta name capitalization"
@tobiasKaminsky judging from the latest .apk, the current name is »Owncloud Beta«. The correct capitalization should be »ownCloud beta«. :)

[2015-11-17 09:48] karliwalti commented on #296
May I additionally support the integration of this. Microsoft office is now supporting "Other cloud storage" and all major service providers are supported (tested with Drive, Box, Dropbox, and OneDrive ). To work on the go from the cloud it would be essential

[2015-11-17 10:45] AndyScherzinger commented on #296
Setting exported and android:grantUriPermissions to be able to implement this seems fine to me, what do you think @davitol @masensio @tobiasKaminsky ?

[2015-11-17 13:55] elpraga commented on #1259
I just double checked with Beta 20151113

And it still doesn't work..

[code]

[2015-11-17 13:56] elpraga commented on #1259
I am copying the file from a folder  I share with other people  to a different folder in my OC.

[2015-11-17 14:48] davitol commented on #296
@davivel :santa:

[2015-11-18 11:01] ldesousa opened #1291 "Unable to log on from Android client"
I have an OwnDrive account to which I sync with the ownCloud client from various Linux systems. About one year I installed the client on an Android device to sync with this same account but I was unable to log in, always receiving the error message "Please enter valid details". I tried changing my OwnDrive password but the problem remained. Back then, various other users reported the same issue in

[2015-11-18 14:45] AndyScherzinger commented on #1291
Looking through the comments in the forum you all get the same error (message) but it is unclear from a technical point of view if the source of the problem is the same or what the problem might be.

Please use the template https://raw.github.com/owncloud/android/master/issue_template.md
Otherwise there is a lot of important information missing.

Things I can think of that might be important here

[2015-11-18 15:09] jancborchardt commented on #1266
As @tobiasKaminsky said, the current solution is good feedback. It’s normal that when you delete the current file, a viewer having it open is closed.

We could also move to the next file, but what is the »next« file? Next image, next document – older, or newer? All things which will be a bit confusing and people will come asking for settings to change which file is shown next.

[2015-11-18 15:09] #1266 closed

[2015-11-18 15:14] ldesousa commented on #1291
My apologies for forgetting about the template, I edited the first comment accordingly. My answers to your questions go below:

    http or https
The error occurs with both protocols.

    ip v4 or ip v6 (might be difficult to answer)
How can I check this? I am not that savy on Android.

    wifi or cellular connection
WiFi

    any special characters in the username or password? (e.g. german umla

[2015-11-18 15:25] AndyScherzinger commented on #1291
Pinging @davivel @masensio @tobiasKaminsky

* can the exclamation mark be a problem for Android?

@ldesousa
* can you retry with the actual Android app version 1.8.0 (play store or f-droid)
* not sure how you can check ip4/ipv6 but I think some users reportedly have problems with the different versions there
* does it work on any other Android device (which would point to the Android version being

[2015-11-18 16:13] tobiasKaminsky commented on #1259
Please try the latest beta. You can upgrade from within the app.

[2015-11-18 16:16] tobiasKaminsky commented on #1291
Tested it with password "test'123" and it worked...

[2015-11-18 18:50] przybylski commented on #1288
Close it maybe?

[2015-11-18 20:28] tobiasKaminsky commented on #1288
You are right :)
Thanks for your commit

[2015-11-18 20:28] #1288 closed

[2015-11-18 20:46] przybylski commented on #1288
Anytime :) I would commit more if I just had contributor :)

[2015-11-19 06:32] jancborchardt commented on #1288
@karlitschek can you add @przybylski to the ownCloud organization and the Android team?

[2015-11-19 09:42] ldesousa commented on #1291
It seems this was all an issue with F-Droid, the full story goes below.

Since the client I had install was so old I requested an upgrade from F-Driod, but it did not found any. I then removed the ownCloud client manually and went back to F-Droid to get it re-installed. When I selected install F-Droid would simply answer back with "not installed".

I then went to the Play Store to install ownCloud

[2015-11-19 10:02] AndyScherzinger commented on #1291
@ldesousa thank you for the feedback. Since the issue is resolved I would close this issue. As for the Play store pricing, that is the decision of ownCloud Inc. to ask for some money on the Play Store to help finance the further development of the Android a and all other parts of the platform since ownCloud has some developers on its pay roll to work on the products. So the decision is to ask for

[2015-11-19 10:02] #1291 closed

[2015-11-19 10:16] supportreq commented on #1104
@tobiasKaminsky you working on this?

[2015-11-19 12:26] karlitschek commented on #1288
done :-) Wecome back!!!

[2015-11-19 16:33] wolf12621 opened #1294 "InstantUploud does not upload raw photos"
Since Android 5.0, Android has a new camera api with the ability to save the photos as *.dng. This is a raw format and very interesting for photographers. Apps like "Camera FV-5" support this feature.

### Expected behaviour
All Images/Photos will be uploaded into my owncloud, when a made a new one.

### Actual behaviour
The instantUpload is uploading the *.jpg and not the *.dng file. The files ar

[2015-11-19 16:41] przybylski commented on #1294
I am do not support nor oppose this feature, since *.dng might be very big files it would increase time and bandwidth spend on uploading a file. Instead I would introduce a switch in settings which would indicate the preferred upload image filetype.

[2015-11-19 16:57] wolf12621 commented on #1294
I think it is a good suggestion. Your are right. The file sizes can be hugh and might not an ideal solution for everyone. An Entry Point in the settings would be a proper solution for me.

[2015-11-19 19:04] tobiasKaminsky commented on #1104
No.
The artwork and what the images should display is something I cannot do very well, so this should be up to @jancborchardt.
When the images are ready @AndyScherzinger @LukeOwncloud @przybylski  or me can do the intro slideshow.

[2015-11-19 19:34] tobiasKaminsky commented on #1294
As we are using the broadcast NEW_PICTURE I doubt that we get anything else than a jpg:
http://developer.android.com/reference/android/hardware/Camera.html#ACTION_NEW_PICTURE

[2015-11-19 19:35] AndyScherzinger commented on #1104
I think the images are already there, see link to the ios repo. Imho we would need them in the different resolutions or at least in xxhdp since scaling down isn't so bad as having Android scaling up... Support it in the native resolution for all the sizes is probably a bad idea since it will at a lot ob KBs to the APK.

Besides that we would also need a video to have an idea about the animation th

[2015-11-19 19:50] wolf12621 commented on #1294
sure, with the old api. Has anyone experiences with the new api? Is there something similar?
https://developer.android.com/reference/android/hardware/camera2/package-summary.html

I don't have luck with my quick google search. :-(

[2015-11-19 22:31] przybylski commented on #1294
I'm planning to acquire nexus 5x next month, then I can have a look ;)

[2015-11-19 22:48] AndyScherzinger commented on #1294
Can check next week when the USB cable arrives, N5X is already in my hands :)

[2015-11-19 22:50] AndyScherzinger commented on #1294
Besides that camera 2 is an 21 Api level feature thus should already be available on older phones :)

[2015-11-20 04:43] supportreq commented on #1104
@AndyScherzinger @tobiasKaminsky I can help with the images.. please advice the resolution, and the points that need to be covered..

[2015-11-20 06:50] przybylski commented on #1104
Today in the morning, i put together something super super super super super super super hacky to get some initial look and feel, this is what i did:
https://drive.google.com/file/d/0B--v4KNhT4mVSThJcFV2WUVqeHc/view?usp=sharing

[2015-11-20 08:50] nasli commented on #1104
@przybylski  look nice! Better in an ownCloud Server ;)

 We will start including all the resources in svg files into the iOS project within new release.

Until then, you can get it from here https://s3.owncloud.com/owncloud/index.php/s/KCaxDdBUxG91bau

The IntroGuide.svg file includes all icons organized in separete layers for an easy way to edit them, I use Inskcape to create it, enjoy!

[2015-11-20 12:43] supportreq commented on #1104
@przybylski check https://github.com/federicoiosue/Omni-Notes intro guide.. it is simple but looks very powerful.. and it's parent library : https://github.com/PaoloRotolo/AppIntro

[2015-11-20 13:16] przybylski commented on #1104
very interesting, I wonder what will @jancborchardt say

[2015-11-20 14:40] supportreq commented on #1104
Check the demo app they have some amazing design : https://play.google.com/store/apps/details?id=paolorotolo.github.com.appintroexample

[2015-11-20 14:50] AndyScherzinger commented on #1104
Well, this depends on several things:
* #1220 needs to be merged first since the lib you mentioned is targeting 23 for compile and thus due to dependencies ownCloud have also have to else the build would be failing (so this work has already been done)
* question is if we want to introduce more dependencies and libraries for the singular use case of an intro or if if don't just implent it using a v

[2015-11-20 14:54] AndyScherzinger commented on #1104
@nasli are you updating the intro graphics to incorporate the latest icon designs? :tada:

[2015-11-20 17:01] tobiasKaminsky commented on #1104
I would suggest to not only show the basic options of the owncloud app (as they are expected), but also go more into detail and show the newest features (once they are merged):
- remote thumbnails
- resized preview
- stop duplicating files
This should then also be adjusted for each new release and be shown the first start after an upgrade.

[2015-11-20 17:12] przybylski commented on #1104
Maybe showing new and significant features in a popup after upgrade? something like:

Did you know that now you can do A B and C?

Announcing bug fixes isn't appealing (at least not to me)

[2015-11-20 17:20] tobiasKaminsky commented on #1104
No, no bug fixes. This is just annoying.
I just thought that we can reuse this feature to not duplicate the work in order to show new features.

[2015-11-21 01:09] elpraga commented on #1259
Now works in Beta 20151120

[2015-11-21 01:09] #1259 closed

[2015-11-21 01:18] elpraga opened #1297 "Beta 20151120 All pictures are shown in fullscreen even though on device is selected"
What happens:
I select "on device" from the sliding menu on the left. Both list and grid views show only files on device. Nevertheless when I list through the pinctures in fullscreen, I still list through all picutres in the directory.

What I expect to happen:
When I select "on device" I expect to see only the photos on device when I list through in fullscreen.

Hope I managed to explain myself :

[2015-11-21 06:05] supportreq commented on #1104
@AndyScherzinger I agree dependencies will increase, with the issues being merged it should not be a tedious effort. Also @tobiasKaminsky agree we should show the new features, big ones like material design, FAB icons.. with a basic intro to the app like dropbox..

[2015-11-21 08:13] tobiasKaminsky commented on #1104
@przybylski So you are working on the technical implementation of this? :+1:
@jancborchardt We now need a decision on what should be on 6 slides.
(Also we should keep in mind that (if we want to introduce new features) this needs to be changed every release, which means extra work.)

My idea is to show 6 initial basic functions if the app is started for the very first time (of course with a skip b

[2015-11-21 08:43] tobiasKaminsky commented on #1297
Thank you very much for testing!
Your bug reports are really a great help! :+1:
This is fixed in beta. Please verify and then close.

[2015-11-21 08:44] tobiasKaminsky commented on #1294
#744 can also solve this: Maybe we should go away from instant upload but go to "folder upload"?

[2015-11-21 08:53] tobiasKaminsky commented on #1278
I have implemented it. But this will only work if there is already a thumbnail (which might be not there if swiping in preview mode through a very very big folder with images).
Please test it in latest beta :)

[2015-11-21 08:56] tobiasKaminsky commented on #1255
ping @elpraga :)

[2015-11-21 08:57] tobiasKaminsky commented on #1250
ping @LukeOwncloud
The music app is not required at all for streaming/android app.

[2015-11-21 09:09] tobiasKaminsky commented on #1249
This is indeed a little mysterious.
I someone wants to help me? @AndyScherzinger @przybylski
(Just checkout beta and give it a try. But if you can track the problem down to a specific file the change must be committed in the right PR)

[2015-11-21 09:53] przybylski commented on #1104
@tobiasKaminsky technical implementation is easy. I would really like @jancborchardt to specify at least minimal design (I do have an idea but I rather let professional to handle it ;) )
As for changes on every release I do have a plan how to ease the pain of changes :)

[2015-11-21 09:58] elpraga commented on #1255
Beta 201511121
I did it again! Well, I am not happy about it, but I could investigate more the behaviour. It does not seem to be related to server after all.

I have two devices - Nexus5 and an older tablet.  On both the legacy app and the beta installed. I tried to open a folder with new photos in the beta app to make the server busy and then tried to upload something both with beta and legacy ap

[2015-11-21 10:00] elpraga commented on #1297
Fixed in Beta 20111121

[2015-11-21 10:00] #1297 closed

[2015-11-21 10:11] elpraga commented on #1278
Wow!
It is such a leap in usability Tobias! If there is no previous thumbnail there is nothing that can be done, but now we at least have a clue what we are looking at!

I tried it out with both my tablet and Nexus5. Nexus generates 384-384.png and the tablet 128-128.png. Enlarged thumbs on Nexus look great, on tablet they are blury, but I can at least recognize this picture I am viewing.

I am no

[2015-11-21 10:17] elpraga commented on #1241
I am looking into it, but I will need more time to get more useful info

[2015-11-21 11:04] tobiasKaminsky commented on #1104
This is great :) Then we let this all up to you and @jancborchardt
You are really a very big help :) Wish you were never gone ;)

[2015-11-21 11:26] tobiasKaminsky opened #1298 "Change storage path after upgrading beta"
Hi @przybylski
I have updated my beta version (from a very old beta version) and after changing the storage path (by externalSD2) I get:
[code]

Can you have a look? :)

[2015-11-21 11:32] przybylski commented on #1298
Thats interesing, I haven't run into that while testing, I'll have a look, but it looks like its android-library problem :)

[2015-11-21 11:43] tobiasKaminsky opened #1299 "Change storage path: folder already exists"
Due to playing with the changing storage path feature I managed to move the folder to a parent folder where "owncloud-beta" already exists. At this point it stops.
Maybe a question if the app should proceed and write into it (and maybe overwrite something) is a useful idea?