[2015-07-17 09:29] #800 closed

[2015-07-17 10:36] tobiasKaminsky opened #1067 "More transparency in develop process"
I am participating since a quite long time to the android app.
But still I have some questions about the develop process.
This should not be a rant, I am just curios and want to understand the internal processes better.
I do not want to affront somebody. (And of course I am not quitting the development ;) )

- How are PR chosen for the next sprint? There are some PRs with huge impact (like #821 or

[2015-07-17 10:36] tobiasKaminsky commented on #1067
@jancborchardt @davivel @rperezb @purigarcia

[2015-07-17 11:08] jospoortvliet commented on #819
well, back on track, if nobody disagrees with https://github.com/owncloud/android/issues/819#issuecomment-77200891 then the question is - how to get it implemented.

[2015-07-17 11:19] jancborchardt commented on #1067
Yeah, I agree that the development process needs to be more transparent – especially when it seems opaque to you as the most active contributor @tobiasKaminsky. We need to fully use Github for every public issue (@rperezb @davivel etc use Jira internally), and use proper milestones and be more responsive.

There’s software like [Huboard](https://huboard.com/) which acts as an interface to make Git

[2015-07-17 11:34] karlitschek commented on #1067
Yes. I completely agree. We have to become better in all the mentioned areas.
@cmonteroluque @rperezb

[2015-07-17 14:40] tobiasKaminsky commented on #1067
If I can help you, please let me know :)

[2015-07-17 15:13] tobiasKaminsky commented on #819
@jospoortvliet
This is a good proposal, but though I do not like it ;)
With your solution the user has to star every file that he wants to have permanently on his device.
With the current situation the behaviour is exactly opposite.

And you would redefine the star icon, which is used in /core for marking favourite files to quickly find them.

[2015-07-17 17:37] strugee commented on #819
No it's not. In the current situation, the user has to check "keep on this device" for every file that they want to keep offline, permanently.

This is semantics. What icon we use isn't important (although I agree with you), it's the behavior that counts.

[2015-07-17 18:23] ovidiub13 commented on #819
Maybe also fix with this, the issue of the starred files not getting synced, if modified, unless the OwnCloud app is opened and the containing folder is opened.

Modified either locally (phone) or remotely (on other clients).

[2015-07-17 22:59] strugee commented on #1061
F-Droid apps are (in general) maintained by F-Droid community members, not the original app authors. (AFAIK this is the case for ownCloud.)

See also #1063

[2015-07-18 15:08] childnode commented on #402
can reproduce this on my owncloud 8.1.0-2 and 8.1.0-3 from [debian 7.0 repo](http://download.opensuse.org/repositories/isv:/ownCloud:/community/Debian_7.0/) installation with xmarks bookmark sync using webdav. Since I exceeded the 1MiB limit, the error occurs:
[code]
deleting bookmarks will make sync work ;/

Running apache2.2.22 with 5.4.41 at debian 7 (wheezy)

at https://github.com/owncloud/cor

[2015-07-18 16:00] cmonteroluque commented on #643
@MTRichards ping

[2015-07-18 16:05] cmonteroluque commented on #1063
@schiesbn good point. @masensio @davivel thoughts?

[2015-07-18 16:09] cmonteroluque commented on #340
@MTRichards we need a prioritization call on this

[2015-07-18 16:17] cmonteroluque commented on #1067
thank you @tobiasKaminsky. The points are well taken. The issue with old PR's is not unique to android, to be sure, and we're trying to figure out a way to address that across the board. We can do better evaluating github PR's as part of our sprint planning (better yet as part of sprint grooming so it can be done without the pressure of building the individual sprint) and prioritize appropriately.

[2015-07-18 16:22] MTRichards commented on #643
I like the concept of adding upload options. My caution is they often bite back, since setting get overly complicated for the casual user (lots above on this). @jancborchardt 's comment above, I like the dropdown option to keep it as simple as possible. As an example, I don't want a delay for my photos, so I won't set one.

I think the default should be instant, and then the user that uses apps on

[2015-07-18 18:24] enoch85 commented on #940
I still see:

[code]

Server 8.1-3
Client 1.7.2.

Shouldn't this be fixed?

[2015-07-20 07:55] jospoortvliet commented on #819
@tobiasKaminsky @strugee is right, this is already the behavior - both with regards to the star (which might indeed not be the right icon) and with regard to making the user choose what he/she wants to have synced locally.

Right now, there's a lot of unexpected and potentially damaging behavior - my proposal would make the app a lot more predictable.

For example:
* when you currently share a fil

[2015-07-20 08:05] strugee commented on #819
They are until #919 gets merged, and, well... it's been a while.

[2015-07-20 14:53] rperezb commented on #1067
@tobiasKaminsky thanks for opening this thread.

we do very appreciate your contributions to the Android app, indeed, hope to meet you personally in Berlin, will you go to the ownCloud conference?

Last week, we had the internal hack, so everyone worked on whatever they do like it such as: the widget that @masensio did. Besides, we have to take into account that we are on summer, so that not the w

[2015-07-20 15:41] schiesbn commented on #1063
BTW, I'm happy to coordinate with the f-droid developers to get the automated update running again. All we need to here is to agree on a common schema we stick to.

[2015-07-20 19:09] tobiasKaminsky commented on #940
@enoch The "cannot modify ..." error message is only mentioned by you and @mhzawadi. And he points out that it may be a problem with his nginx.
Do you see the "real" error:
E/ReadRemoteFolderOperation(13246): java.lang.NumberFormatException: Invalid long
in your Logcat?
I think this is another error... Because the NumberFormat-Error is from within the app and the php error is from your owncloud se

[2015-07-20 19:17] tobiasKaminsky commented on #819
With the current situation the behaviour is exactly opposite.

The option is named "keep file up to date". If you just want a file on your device, you can just download it. For instance, if you want to have some music from the owncloud.
"keep file up to date" means that the app is checking in the background if the file locally or remote has been changed and uploads/downloads the newest version.

[2015-07-20 19:18] tobiasKaminsky commented on #819
@ovidiub13 If this is an issue with the current app version please open a new issue, as this issue should be used for brainstorming an upcoming version/idea...

[2015-07-20 19:26] tobiasKaminsky commented on #819
@jospoortvliet There is another issue where @davivel has asked the community if the storage should be private or let kept public as it is now.
The majority said that the storage should be public as they download a file or folder with the app and use the (locally stored) files from within other apps (mainly music player).
So your idea to remove the files after usage is not something the user wants.

[2015-07-20 19:40] tobiasKaminsky commented on #1067
@cmonteroluque @rperezb
Thank you both for your detailed insights in the management and structure of your work.
Now I also see why a PR is taking this long time in QA, if you are testing this much ;)

But the first point is remained open: It is not really transparent why old PRs are left out in sprint planning and instead very newly (and minor) issues are taken into.
The main problem with these ol

[2015-07-20 19:43] tobiasKaminsky commented on #925
PR: #1069

[2015-07-20 20:07] enoch85 commented on #940
@tobiasKaminsky Yes, I think you are wrong, for once. ;)

I run Apache + Ubuntu Server 14.04-2. I updated from server 8.0.4 to 8.1 (like everybody else) and haven't changed anything in particular.

Need some more info to debug?

[2015-07-20 20:09] tobiasKaminsky commented on #940
@enoch85 Maybe you find something relevant in the logcat of your device?

[2015-07-20 20:12] enoch85 commented on #940
@tobiasKaminsky Logcat...? On my android device?

[2015-07-20 20:19] jancborchardt commented on #1067
Since there is quite a number of old pull requests, I would suggest one whole sprint fully focused on the pull requests. This is needed to take care of the accumulated contributions. And after that, every regular sprint should contain one or more of the contributor pull requests.

Thoughts @cmonteroluque @MTRichards @rperezb

[2015-07-20 23:19] strugee commented on #819
The problem with this is that if the file is changed on the server and locally, and not manually kept in sync, _it can lead to data loss_. This is unacceptable for any app, but especially a file synchronization app.

[2015-07-20 23:36] daveofsmeg commented on #819
After several months of debate I can see many valid arguments on all sides.

It seems that any approach which is going to stick to the Owncloud ethos
while simultaneously keeping a growing number of android camera users happy
is going to result in more complexity

I'm in favour of simple common sense solutions.

Owncloud is above all else a 2-way sync tool. What subscribers to this
issue are askin

[2015-07-21 08:44] jancborchardt commented on #819
That really seems unnecessary. When Dropbox and Google Drive can handle it in one app, why shouldn’t we? Having another app just makes us look silly and incapable.

[2015-07-21 09:44] daveofsmeg commented on #819
I would argue that an inability to find concensus in over 6 months by very
definition makes us appear more incapable.

I figured it might be an unpopular suggestion, but I can't be alone in not
wanting any of the file sync features of owncloud on my mobile (i use that
on my desktop and laptop and it's fantastic). Rather than make an existing
(and great) product try and fit my different usage case

[2015-07-21 12:16] sastorsl commented on #819
I would also like to see the app with an _option_ to just back up photos
and not sync. Perhaps per folder if that is solvable. If I move files from
the backup folder to a sync folder I would expect it to sync. Two birds
with one stone?

Stein Arne Storslett
21. jul. 2015 11.44 skrev "daveofsmeg" <notifications@github.com>:

[2015-07-21 14:47] jancborchardt commented on #819
@tobiasKaminsky @davivel @Stoyicker can we please come to a conclusion here? In the first step doing it like Dropbox would work, no? After that, we can see if we want to try some more advanced magic. But first it should work.

[2015-07-21 17:44] jsalatiel opened #1071 "No error messages when there are problems in the network connection"
Currently owncloud for android does a TERRIBLE job showing what is happening when there are problems with the network connection.
I will show two examples:
Right now i "appear" to be connected to my 3g network, but somehow cant connect to anything.
If i open owncloud app, and try to refresh some file ( which i have sure it was modified on the server) owncloud will popup a progressbar with "Wait a

[2015-07-21 19:49] tobiasKaminsky commented on #940
Yeah: Assuming that you have linux and adb installed: adb logcat | grep $(adb shell ps | grep com.owncloud | cut -c10-15)
There are also apps that can show logcat.
Then try a sync and see what the output in logcat is.

[2015-07-21 20:20] tobiasKaminsky commented on #819
I have figured out how dropbox is doing it, and currently I do not like it...:
- select "open with" an image within in the app
- edit the file via image editor and save it
- go back to dropbox app: no info that file has changed. Opening the file resulted in the old file.

Whereas this is working fine in owncloud:
- downloading the file
- modify it (e.g. add text)
- long click -> update file --> up

[2015-07-21 21:35] jancborchardt commented on #819
@tobiasKaminsky I guess at this point it’s best to submit a PR as base. :) You seem to have a good grasp of what the flow should be, and continuing discussion here seems to not result in a lot of improvement. ;)

[2015-07-21 22:41] strugee commented on #819
The app doesn't download any content on its own by default. Unless the user checks "keep on this device", files are downloaded on-demand.

[2015-07-21 22:44] strugee commented on #819
The issue is that users don't remember to do this, and that leads to data loss. And we will never, ever be able to get them to remember to do this. It's just not how people work.

[2015-07-22 02:17] 3dluvr commented on #104
Is there an update on this (been over a year), and the functionality is still not working?

What needs to be done to get it to work?

[2015-07-22 05:56] jospoortvliet commented on #819
@strugee exactly. You shouldn't need to manually do something to avoid data loss - keeping your data safe should be default. We have Versions support on the server in case you want to roll back your change (which makes this solution following our "provide Undo rather than asking for confirmation" rule).

[2015-07-22 05:58] tobiasKaminsky commented on #819
So, I guess we need a real 2way sync for this case?

[2015-07-22 06:10] jospoortvliet commented on #819
@tobiasKaminsky I would say so yes. Or disallow editing (but that is impossible as we don't control the apps users can use to open files with).

Note that, for example, microsoft office and open/libre office these days have 'read only mode' for exactly this reason: if you open a file in a temporary location, like from an email, you can't edit UNTIL you choose a permanent storage. This to avoid the

[2015-07-22 06:14] jospoortvliet commented on #819
Also note that this is a different use case from what has been/is discussed here, mostly. If you only want to get rid of the duplicate files, then make it simple as I said here https://github.com/owncloud/android/pull/1069#issuecomment-123572354 - either delete the file or keep it fully synced. Just making a local copy which is not kept in sync never makes any sense.

[2015-07-22 08:39] danimo commented on #1063
@schiesbn (I can't speak for the Android team, but I can perhaps clarify some of the issues) the `_signed` was when we introduced signed tags and didn't want to redo the original ones (also applies to the desktop client). The `_oem` tag usually means it contains fixes only relevant for OEMs (e.g. it's not a problem if it's not picked up automatically).

I do, however, not see why there is no `oc-a

[2015-07-22 08:42] schiesbn commented on #1063
Thanks @danimo for explaining the ````_signed```` and ````_oem```` tags. So can we agree that this are additional tags and every release will also be tagged as ````oc-android-<version>```` ?

[2015-07-22 08:43] rperezb commented on #1063
@schiesbn yes, @danimo has explained it,
We used to use the format ````oc-android-<version>````
In the version, 1.7.1, we added  ````oc-android-1.7.1-oem```` this tag was only relevant for OEMS
Plus the signed, suffix due to the fact that we introduced signed tags.
Yes, @schiesbn we agree on following,````oc-android-<version>```` , indeed, the latest version followed this pattern: oc-android-1.7.2

[2015-07-22 08:47] schiesbn commented on #1063
@rperezb Thanks for clarification

[2015-07-22 09:06] schiesbn commented on #1063
I just informed the fdroid developer that we will stick to ````oc-android-X.Y.Z```` in the future again. Thanks all for helping to clarify it.

https://gitlab.com/fdroid/fdroiddata/issues/270

[2015-07-22 09:56] mhzawadi commented on #940
Hi @tobiasKaminsky

I have run the command you suggested, also run a test with http only to see what headers are sent.
File is on my owncloud, link below

https://owncloud.horwood.biz/index.php/s/tuYCjfUAET43izw - PW is apptest

[2015-07-22 10:34] rperezb commented on #465
@jancborchardt I'd like to have your input on this one.

[2015-07-22 12:24] Juvenciodas opened #1073 "instant upload folder organization."
It would be nice to have your uploaded pictures and videos, to be saved in to a folder with the date it was uploaded.

I now need to sort through everything in the instant upload folder to find what I'm after.

Getting it to read the date stamp of the picture and video and putting in to the date folder would be even better. But I will be happy with the uploaded date folder.

Thanks for a great app

[2015-07-22 13:00] MTRichards commented on #465
@jancborchardt wanted to see your view on the settings complexity vs. feature.

[2015-07-22 15:46] davivel commented on #198
Will be fixed in the next release, 1.8

[2015-07-22 15:52] davivel commented on #1073
Thanks, @Juvenciodas . This is duplicating (mostly) the issue #520. Please, join that thread to discuss the details.

[2015-07-22 15:52] #1073 closed

[2015-07-22 15:56] davivel commented on #1063
In that case I think this may be closed.

Thanks to everybody.

[2015-07-22 15:56] #1063 closed

[2015-07-22 16:48] michaelstingl commented on #198
@davivel This is good news! Thanks!

[2015-07-22 18:46] tobiasKaminsky commented on #465
We are discussing it in the PR #745

[2015-07-22 18:59] tobiasKaminsky commented on #940
For me this does not look like the error that is described here.
There seems no problem with the quota, but only with the upload.
@davivel can you look into this?

[2015-07-22 20:14] enoch85 commented on #940
@mhzawadi Thanks for the upload, seems my issue is the same.

[2015-07-23 02:04] strugee commented on #104
@3dluvr someone needs to sit down and write the code.

[2015-07-23 06:33] davivel commented on #819
My 2 cents. Many things already said here.

- Any file shown in the UI of the app should be kept synchronized as best as possible; there are no "local files" versus "remote files" in a *cloud*, just *files*; that's the experience we should aim to offer. Besides, data loss is not acceptable.

- The problem of lack of space is, mainly, due to instant uploads. Manual uploads do not lead easily to thi

[2015-07-23 06:42] davivel commented on #819
And for the record: another PR on uploads right now? Fine for me, but don't expect it's merged soon. There are several pending PRs affecting the uploads, not only #919, and the merge is not going to be straightforward at all.

[2015-07-23 08:19] davivel commented on #104
Right that

[2015-07-23 08:58] sudhirkhanger commented on #1032
Why do we need a dedicated Activity for downloading file. Something as follows should suffice. This is just a sample. Final implementation should be determinate and material theme based.

![image](https://cloud.githubusercontent.com/assets/841656/8846729/e968d290-3146-11e5-81f1-7e0a2f202bc4.png)

[2015-07-23 10:09] jospoortvliet commented on #819
@davivel +1 on all you just said ;-)

[2015-07-23 10:23] jancborchardt commented on #1032
Huh, closing this as duplicate of my own almost-one-year old issue https://github.com/owncloud/android/issues/710 – thanks @tobiasKaminsky for letting me know.

@davivel @masensio @tobiasKaminsky @Stoyicker @LukeOwncloud @AndyScherzinger let’s get to it then – who wants to take a stab at this? :)

[2015-07-23 10:26] #1032 closed

[2015-07-23 11:02] AndyScherzinger commented on #1032
@jancborchardt I could, but I didn't quite get what needs to be done. Is this one closed and can be ignored completely and any info necessary for fixing/enhancing this is described in #710 ?

[2015-07-23 11:11] stefan-niedermann commented on #1031
references #1049

[2015-07-23 11:15] jancborchardt commented on #710
From @tobiaskaminsky's comment in #1032:

http://www.google.com/design/spec/components/progress-activity.html#progress-activity-types-of-indicators

The first one "determinate"

[2015-07-23 11:16] jancborchardt commented on #1032
Yep, all info is now in the original issue – the important thing was Tobias' comment about which loading bar to use.

[2015-07-23 12:10] AndyScherzinger commented on #710
I'll cover this if you want me too :)

[2015-07-23 13:24] AndyScherzinger commented on #710
Going in the right direction?

![screenshot_2015-07-23-15-03-21](https://cloud.githubusercontent.com/assets/1315170/8851258/a0331b64-314e-11e5-8003-5e169efc0431.png)

[2015-07-23 14:14] davivel commented on #940
@all

A vague name in an issue does not mean that anything may go in. There is much more information in the first comment to have an idea about the real topic being dealt.

First comment:

First report of "not really fixed" after the first close:

Both comments (and others) are complaining about an outdated or even empty (not refreshed) list of files. Nothing about uploads.

All the discussion fol

[2015-07-23 14:34] jancborchardt commented on #710
@AndyScherzinger yeah, most definitely! :) For images, it should only be the downloading bar and the x, with a dark background. :)

[2015-07-23 14:50] davivel commented on #1071
Duplicates #688.

[2015-07-23 14:50] #1071 closed

[2015-07-23 14:59] davivel commented on #1066
Any example about applying that in Android apps? Our translations are supported by the resource system in Android, that automatically loads the correct set of values according to a chosen locale. Right now I'm not sure if it's feasable to have arrays of string resources with different size depending of the locale.

[2015-07-23 15:40] rperezb commented on #1067
hey @tobiasKaminsky, congrats!

We have just created a new milestone, we have included those pr that are expected to be merged in the next weeks so that included in the next ownCloud Android version.
Next sprint, it will be mainly community focus. We do very appreciate your contributions.
Plus, help in the QA part is also appreciated. We are currently discussing how to make the QA process easier,

[2015-07-23 17:12] tobiasKaminsky commented on #1067
Great :)
If I can help you with QA (testing or planning/discussing tests) you can open a new issue and we can discuss it there.

[2015-07-23 17:14] tobiasKaminsky commented on #710
@jancborchardt
Why? :) I would keep the design the same, whether is is a file or an image.
And then the thumbnail could be displayed instead of the mimetype icon. (there is already a PR that is doing this for the "file detail" view).

[2015-07-23 17:50] enoch85 opened #1074 "Cannot modify header information - headers already sent"
#### Steps to reproduce
1. Take a photo with the Android client.
2. See the output in owncloud.log
#### Expected behavior

No error
#### Actual behavior

[code]
#### Configuration

**Browser:**
Chrome
**Operating system:**
Ubuntu Server 14.04
**Android Client**
1.7.2
**Server**
8.1 (Also on 8.2.2 and 9.0)

Refs: #940

Logs by @mhzawadi
https://owncloud.horwood.biz/index.php/s/tuYCjfUAET43izw - PW

[2015-07-23 17:51] enoch85 commented on #1074
cc @davivel @tobiasKaminsky

[2015-07-23 17:52] enoch85 commented on #940
@davivel New issue here: #1074

[2015-07-23 18:02] tobiasKaminsky commented on #819
@davivel Sounds good for me.
But I currently can hardly imagine how to explain the user the difference between 1./.2 and 3.
or even worser: 2. vs. 3.: As both are from a naive user view both are "uploads into the cloud".

My PR #1069 is mainly doing the thing you proposed in 3.:
asking the user if the file should be copied or moved to the local owncloud storage.
(copying is the current behaviour).

[2015-07-23 18:03] tobiasKaminsky commented on #819
@jancborchardt I think that we need your help in order to explain this to the end user.

[2015-07-23 19:54] AndyScherzinger commented on #710
How would we proceed on this matter since my PR also contains a fix for this except for images :)

[2015-07-23 23:21] Bugsbane commented on #819
This is my usecase. I have unlimited bandwidth, but very limited storage. The only thing is, if you're going to delete stuff off my phone it needs to be rock, solid certain that it's been backed up without issue on OC.

[2015-07-23 23:58] enoch85 commented on #819
@Bugsbane Agreed. This is my usecase as well.

[2015-07-24 07:25] jancborchardt commented on #710
Cause images never had the detail view shown, and they have a dark background when shown. When you swipe through a folder of images, the flash of bright and technical info will always look strange. A good point though is showing the thumbnail above the loading bar so it’s alread visible what will load – the rest of the info is not necessary though.

[2015-07-24 09:52] jancborchardt commented on #340
What’s the status here @MTRichards @rperezb? See the comment on the Facebook post of the new version: https://m.facebook.com/story.php?story_fbid=10153118538416359&id=366301826358

[2015-07-24 12:52] davivel commented on #340
If I'm not wrong, PR #919 aims to provide retry of uploads (and many other things). #919 is currently scheduled for release 1.8, as shown in https://github.com/owncloud/android/milestones/1.8-current

[2015-07-24 12:56] davivel commented on #819
Deleting stuff automatically is risky. I would not made it silently as a default.

But I'd be happy with some smart setting to "remove after upload", maybe only for certain scenarios, such as instant uploads.

[2015-07-24 12:57] davivel commented on #1074
@PVince81 , @DeepDiver1975 , could you give as a clue about what could generate that message in the server logs?

[2015-07-24 15:09] jancborchardt commented on #643
@davivel why is this closed? Is it fixed? If so, can you link the pull request?

[2015-07-24 15:34] MTRichards commented on #819
Ok, cycling this back down to the original issue with copies and uploads. @jospoortvliet and @davivel are on it.

When sending a file to ownCloud from another app, or performing instant uploads, it is uploaded to the server (no local owncloud copy). Then the file can always be downloaded again if it is desired in the ownCloud app locally. Simple, relatively easy to understand, consistent.

When up

[2015-07-24 15:34] tobiasKaminsky commented on #819
@davivel In my PR it is automatically done after a success reply of the upload.
And the user can change this behaviour on each upload (whether upload from within the app or share file to the app).
So it is not silently but obvious and transparent to the user.

A setting for instant upload would also be a good idea, but this should be additionally.

[2015-07-24 15:43] tobiasKaminsky commented on #710
Ah. Of course you are right.
(This would slightly be outdated when #982 will be merged as then the download of the resized image should be done within a sec).

[2015-07-24 16:00] tobiasKaminsky commented on #897
![video_overlay_big](https://cloud.githubusercontent.com/assets/5836855/8878835/b3104cf4-322d-11e5-8050-2c2bf1394a2d.jpg)
![video_overlay_listview](https://cloud.githubusercontent.com/assets/5836855/8878845/c8426508-322d-11e5-95ca-e88ffd5a4d0f.jpg)

@jancborchardt What do you think?
I need a bigger/better version of the play button.

[2015-07-24 16:08] jancborchardt commented on #897
Nice, looking great! It’s also good that in the thumbnail view the title is still below the video. Maybe it makes sense to omit the file extension though? Just a thought :)

The better version of the play button is the scalable SVG: https://github.com/owncloud/core/blob/master/core/img/actions/view-play.svg as mentioned in the same folder as the PNG. Does that work? :)

[2015-07-24 16:09] jancborchardt commented on #897
Ah just a detail: The play button is visually not in the center because it has more weight to the left. It needs to be moved to the right a bit.

Instead of aligning the image file itself in the center, imagine a circle around the play button touching all the corners, and align that. See https://medium.com/@erqiudao/the-play-button-is-not-optical-alignment-4cea11bda175

[2015-07-24 16:35] tobiasKaminsky commented on #897
SVG does not work. But I can save it as a better scaled png and use this.
About the centering: I have to figure out how to do this.
But maybe I can trick a little bit and move the play button on the png canvas a bit to the right ;)

[2015-07-25 07:12] jancborchardt commented on #897
Yup, both sounds good. ;)

[2015-07-25 11:06] jancborchardt opened #1075 "Show green download indicator on folder when all folder contents are downloaded"
When using the »Download« function on a folder, it would be good to have the green arrow on the folder as feedback when all files/folders in there are on the device. Otherwise it’s pretty confusing and one might think it didn’t work.

This is probably also an issue with iOS. @rperezb @davivel @masensio @tobiasKaminsky

[2015-07-25 13:43] tobiasKaminsky commented on #1075
Will this still work when #819 is merged? As @davivel proposed not to distinguish between local and cloud files?

[2015-07-25 22:01] tobiasKaminsky commented on #880
I like it.
And as I really miss this feature I would like to implement it.

@jancborchardt Is the wireframe/mockup good? Then I would start looking how this can be done...

[2015-07-26 02:40] Dinsmoor commented on #335
@jancborchardt , what about F-Droid users?

[2015-07-26 18:14] AndyScherzinger commented on #335
I did implement such a thing for Andlytics three years ago:
https://github.com/AndlyticsProject/andlytics/blob/master/src/com/github/andlyticsproject/util/ChangelogBuilder.java

Basically the app ships a changelog html file which gets loaded a single time for every new version installed/updated by the user. So the store wouldn't matter. The downside for now would be to maintain this changelog befo

[2015-07-26 18:23] AndyScherzinger commented on #1067
I :+1: @tobiasKaminsky arguments and @jancborchardt take on it. Beeing a noobie on owncloud android I get Tobias, rewrote the styling to material isn't too big of a deal but required a lot of files to be touched which makes it harder over time to keep it up to date with the develop branch in case merge conflicts arise which gets more probable by the time a PR is not merged.

[2015-07-26 18:28] AndyScherzinger commented on #1046
When my PR for the new drawer/Material design gets merged I can add a account switcher to the drawer. My guess or or more like my expection when uploading a file would then be that it gets uploaded to the "active" account which has been chosen in the drawer. Kind of like the gmail app or other Google apps behave.

[2015-07-26 22:39] AndyScherzinger commented on #692
#1076

[2015-07-26 22:43] AndyScherzinger commented on #1032
fix for #710 and thus for this one is on PR #1076

[2015-07-26 23:04] AndyScherzinger commented on #710
@jancborchardt changed it to the dark background as discussed :)

[2015-07-26 23:09] AndyScherzinger commented on #1030
Hi everybody, please have a look at #1076 for a first draft on a material design implementation #692 should be covered there already :)

[2015-07-27 08:27] jancborchardt commented on #1046
@davivel @DeepDiver1975 do we have an API to get the profile image? If not, would be good to have that for 8.2

[2015-07-27 08:38] AndyScherzinger commented on #1046
I second that! :) This would have a nice impact on the mobile UIs since it would be inline with most account integration in other app. As stated by @tobiasKaminsky we would also need a "default" icon/avatar to display in case the user hasn't set an image :)

[2015-07-27 10:53] AndyScherzinger commented on #1020
The blurry effect on the action bar icons should be gone with #1076 since I added the according icons for the higher resolutions in hdpi, xhdpi, xxhdpi and some on xxxhdpi so this should fix the action bar :)

[2015-07-27 13:37] PVince81 commented on #1074
It could be anything... In general it means that some PHP code is trying to set header values at a time where the body has already been started.

[2015-07-27 13:48] MTRichards opened #1077 "Activity Stream View in Android"
As an ownCloud user, I want to be able to see a list of my recent activities on the mobile device so I can quickly find files and actions that occur on the device.

Acceptance Criteria:
- Mobile app should query the activity stream API from the server
- Should be a separate tab, where the activity stream is shown in reverse chronological order
- Interface should look similar to the activity stream

[2015-07-27 14:12] karlitschek commented on #1077
looks good. :-)
The App should also trigger a local Android notification when a new activity appears on the server.

[2015-07-27 14:37] jancborchardt commented on #1077
Also here yep, as discussed before.

[2015-07-27 14:37] jancborchardt commented on #1077
Ref same iOS issue: https://github.com/owncloud/ios/issues/422

[2015-07-27 14:57] AndyScherzinger commented on #1066
Android supports plurals out-of-the-box, see for example: http://www.grokkingandroid.com/wrapping-your-head-around-androids-plurals/

Problem is... the translator would need to know which of the plurals the respective language supports in order to add a translation for them (German and English only support the plurals one and other) . Besides it can't be done like the GNU way it has to be done bas

[2015-07-27 15:20] jekader commented on #1066
From what I understand in this project's description:
https://code.google.com/p/android-i18n-plurals/
android 3.0 and above will have correct handling of "one/few/many/other" values according to this table:
http://unicode.org/repos/cldr-tmp/trunk/diff/supplemental/language_plural_rules.html

So it may just be enough to add strings for these values and Android will handle the rest. As you see from

[2015-07-27 17:53] davivel commented on #1066
Awesome!

Besides, seems that Transifex also supports the ```plurals``` element, so the circle seams closed: http://docs.transifex.com/formats/android/

That means...

[2015-07-27 18:00] davivel commented on #1077
We need to be careful with the number of notification thrown to the user. Is the activity stream very verbose?

Besides, is the activity stream app installed and enabled by default with OC servers? Is it possible to through it's API check if it exists and is enabled?

Thanks.

[2015-07-27 18:11] davivel commented on #1075
This is a tricky one to make with full precision. The etag of a folder is modified whenever a file inside (in any sublevel) is modified, deleted or created. Due to this, when we refresh a folder we know immediately if something changed inside, but not what. If the meaning of the badge is 'everything downloaded', check the next sequences:

Seq  A
1. in the smartphone, download /folder/ successfully

[2015-07-27 18:17] davivel commented on #1064
@jancborchardt , @LukasReschke , any thoughts about usability and security impact?

cc @MTRichards

[2015-07-27 18:18] davivel commented on #1061
Exactly waht @strugee said.

Thanks.

[2015-07-27 18:19] davivel commented on #1061
FWIW: from other issue I remember they had a problem with the names of the release tags, but should be clarified now. I guess they will release the version sooner than later.

[2015-07-27 18:27] MTRichards commented on #1064
Cool. How is the passcode stored on Android today?

[2015-07-27 18:34] davivel commented on #1064
The password is saved through the ```AccountManager``` system service. Under the hood, it stores the password in clear text, in a database owned by the system, readable with root permissions or through the ```AccountManager``` API, that requires the process accessing to a password is the same process that stored it (more or less).

Low level details to access the password in http://developer.andro

[2015-07-27 18:51] davivel commented on #1046
@AndyScherzinger , there is already an account switcher in the code, though it's commented. It's a work started by @tobiasKaminsky. Take it into account, maybe you want to work together in it.

Yes, I would also prefer the switcher in the drawer, not in a dropdown menu.

About the API for the image profile, it doesn't exist AFAIK.

[2015-07-27 19:09] AndyScherzinger commented on #1046
I also want to put it in the drawer but started out incrementally. So geht the drawer up and running with the existing app and add the account switcher later down the road.
Am 27.07.2015 20:51 schrieb "David A. Velasco" <notifications@github.com>:@AndyScherzinger , there is already an account switcher in the code, though it's commented. It's a work started by @tobiasKaminsky. Take it into account,

[2015-07-27 19:11] LukasReschke commented on #1046
@rullzer is working on this at https://github.com/owncloud/core/pull/14856

[2015-07-27 20:53] AndyScherzinger commented on #1046
@tobiasKaminsky interested in a joint venture on the material_toolbar branch? :D

[2015-07-28 09:57] jancborchardt commented on #1077
@davivel Activity stream and notifications is not the same thing. Activity stream is a view in the app. Which of those activities are shown as notifications is something different (and will mostly be actions on shared files by other users).

[2015-07-28 10:17] jancborchardt commented on #1064
@davivel @tobiasKaminsky well, using a pin code has big usability and security advantages:
* much easier and quicker to type
* doesn’t have the potential to visually leak your password

Also seeing how the other prevalent apps mostly do it with pin code instead of a password, I would actually keep it that way.
If a bunch of people really fervently (and with good arguments) request this then maybe

[2015-07-28 10:18] jancborchardt commented on #1046
@AndyScherzinger @tobiasKaminsky keep in mind though to make small steps. ;) First Material Design pull request, then another separate one for account switcher etc. :)

[2015-07-28 10:30] AndyScherzinger commented on #1046
@jancborchardt so we will postpone the switcher until the material branch got merged into dev.

[2015-07-28 11:31] rperezb commented on #1077
as said on the iOS issue:
Another AC it could be to show this per account basis.
- If you tab on a folder, you access to the folder content
- If you tab on a file
        + Being the file downloaded, you preview the file, being the previewd available if not access to the details view
        + If the file is not downloaded, it´s downloaded

About notifications, I would work on it on a different is

[2015-07-28 14:55] davivel commented on #643
Sorry, wrong button.

[2015-07-28 15:11] davivel commented on #880
Is there an entry point in the server side to get the lists of users and groups?

cc @rperezb @cmonteroluque @MTRichards

[2015-07-28 15:35] davivel commented on #829
@CyberShadow , did you run the ```setup_env.bat``` script?

[2015-07-28 15:38] CyberShadow commented on #829
Yes,  of course. I ran it as described in `SETUP.md`.

[2015-07-28 15:46] davivel commented on #829
But you are trying with the three command line environement; are you running ```setup_env.bat``` with the proper argument each time you "switch"?

Maven build is broken, anyway.

[2015-07-28 16:01] CyberShadow commented on #829
Yep.

[2015-07-28 16:16] davivel commented on #829
It's working fine for me from a fresh cloned project..

Do you have the Android SDK installed and the %ANDROID_HOME% environment variable pointing to it? Seems in your logs that Gradle is downloading the SDK from the Maven repository, we didn't check an environment without preinstalling it.

[2015-07-28 16:21] davivel commented on #976
@shayr1 , @w7virtual , any answer?

[2015-07-28 16:23] davivel commented on #931
@vsvankhede , ActionBarSherlock is not a dependency of the project anymore.

Would you like to try again and tell us if you can build the project?

Thanks

[2015-07-28 16:27] davivel commented on #922
Duplicated. Please, join to #829 to follow the topic

[2015-07-28 16:27] #922 closed

[2015-07-28 16:28] davivel commented on #808
The job is not in ci.owncloud.org yet.

[2015-07-28 16:28] #808 closed

[2015-07-28 16:31] CyberShadow commented on #829
I don't doubt that it works for someone :) Not me unfortunately.

Yep.

[code]

Maybe I'm missing some Android SDK component? I did install the ones in the build instructions.

[2015-07-28 16:34] davivel commented on #829
Mmm, it's not in the instructions, but I can see in my environment ```Android Support Repository```, in the ```Extras``` folder.

Give it a try and tell us.

Sorry, I can't check anymore today.

[2015-07-28 16:35] rperezb commented on #880
@davivel @tobiasKaminsky we have just started a issue to discuss the UI for the iOS app, https://github.com/owncloud/ios/issues/425
Once we have defined it, we may take it as reference for the Android app (adapting it to the Android style)
Time expectation, we expect to start working on the iOS side on this feature this Thursday, 30 July.
@davivel about the entry point to retry the list of userst,

[2015-07-28 16:42] jancborchardt commented on #880
For both iOS and Android it should basically look like the current share dropdown. With the exception that we need the file thumbnail and title above.

[2015-07-28 17:19] CyberShadow commented on #829
After installing `Android Support Repository` and updating `develop`, the Gradle build now works. Thanks!

Not sure which of those two fixed it. I could look into it if there's interest. Ant build still fails.

[2015-07-28 19:22] tobiasKaminsky commented on #1046
On friday I will copy the branch and update my previous account switching system and upload it.

[2015-07-28 21:06] AndyScherzinger commented on #1046
Cool :)  Maybe you want to also check out the material_design branch. It contains a toolbar implementation but I could get the drawer icon / back arrow switching right yet... After disabling the drawer icon and showing the back arrow I couldn't get the drawer icon back up when navigating back to the root folder...  :(

[2015-07-28 21:07] AndyScherzinger commented on #1046
I meant couldn't get it right yet

[2015-07-29 05:47] davivel commented on #829
It's the ```Android Support Repository``` , we'll add it to the instructions in ```SETUP.md```.

About ```ant```, from your last log, my bet is on the verion of the ```Android SDK Tools``` or/and ```Android SDK Build-tools``` components. Check in your Android SDK Manager that you are using the last one. Google sneaked a bug in a previous version of those that totally broke ant builds (at least our

[2015-07-29 05:55] CyberShadow commented on #829
I installed all versions of Android SDK Build-Tools, which fixed the ant build.

I had versions 19.0.0 and 20.0.0 installed, so the remaining ones I installed today were 19.1.0, 21.1.2 and 22.0.1. SETUP.md said that "any version from 20 or later should work fine".

[2015-07-29 05:55] vsvankhede commented on #931
@davivel Yes I would like to try it again. I will send you details after testing it.

Thanks

[2015-07-29 06:49] LukeOwncloud commented on #335
@AndyScherzinger, I did that already: https://github.com/owncloud/android/pull/368/files
Unfortunately, I had Eclipse's auto format option enabled... So it was never merged.

I think the up-to-date problem for every release (and every target platform!) is not to be neglected. I would plea for a simple web-based changelog like. Just like: https://owncloud.org/changelog/ (And then add a link to Play

[2015-07-29 08:41] #786 closed

[2015-07-29 08:42] davivel commented on #786
Merged into develop, will be released with version 1.8

[2015-07-29 08:43] davivel commented on #994
This is fixed and merged. Will be released with version 1.8

[2015-07-29 08:43] #994 closed

[2015-07-29 09:52] jospoortvliet commented on #1067
@tobiasKaminsky I want to repeat the "come to the conference" meme. There's travel support for you if money is a constraint - just shoot me an email.

[2015-07-29 10:07] jancborchardt commented on #1046
@tobiasKaminsky @AndyScherzinger really really pay attention to not put more stuff in https://github.com/owncloud/android/pull/1076 which can be done in separate pull requests. :) I don’t want to hold your efforts back by any means (you’re awesome! :) but past experience has shown that the bigger a pull request gets, the longer it takes to review and get merged – in some cases it even never happen

[2015-07-29 10:08] jancborchardt commented on #335
@LukeOwncloud yeah, good call. Web-based changelog seems to be the best option. We can of course just copy the relevant parts to the Play Store, iOS app store and platforms which support that for easier access.

[2015-07-29 10:14] jancborchardt commented on #1067
@jospoortvliet if I remember correctly, Tobias gets married on the dates. ;D Anyone else though: @AndyScherzinger @Stoyicker @LukeOwncloud @Kernald if you want to come to the conf and hack on the Android app: There’s travel support, and you’re not required to be there all the days if it’s not possible – would just be awesome to meet in person and work together! :)

[2015-07-29 11:01] AndyScherzinger commented on #1046
sure, point is, @tobiasKaminsky can branch from material_toolbar and let his PR be against this branch, so it is basically a cascade thingy ;)

[2015-07-29 11:05] AndyScherzinger commented on #1067
I would love to come but I am on vacation during that time unfortunately :( Else it would be really awesome to hack on the Android App and sit around the same table :)

[2015-07-29 11:35] Kernald commented on #1067
Coming at the conference would be awesome. I'll definitely see if I can get some days off work!

[2015-07-29 11:39] Stoyicker commented on #1067
Same for me.

[2015-07-29 12:40] jancborchardt commented on #1067
@tobiasKaminsky @AndyScherzinger next time then. ;)

@Stoyicker @LukeOwncloud @Kernald if you can come, then register at https://owncloud.org/conf and contact Jos about the travel support. There will be a workshop about contributing to the Android app so you can join in there and either learn more or also help other prospective contributors. :)

[2015-07-29 15:10] davivel commented on #829
Yes, we'll have to update that also.

[2015-07-29 19:34] tobiasKaminsky commented on #1067
Next year :)
But it has to be another weekend ;)
Not again the last weekend of august... ;)

[2015-07-29 19:37] tobiasKaminsky commented on #1046
@jancborchardt Yes, exactly like Andy said: I can work on the next step (account switching), but only get it merged after the first PR is merged...

[2015-07-29 19:37] tobiasKaminsky commented on #1046
@AndyScherzinger I will also look after the material_branch problem.

[2015-07-29 19:42] AndyScherzinger commented on #1046
Thanks a lot. I will search for the problem in parallel :)
Am 29.07.2015 21:37 schrieb tobiasKaminsky <notifications@github.com>:@AndyScherzinger I will also look after the material_branch problem.

—Reply to this email directly or view it on GitHub.

[2015-07-30 18:48] etiess opened #1080 "Grid view not shown if picasa.ini is present"
I use Picasa on my Windows desktop: it creates a special file in each folder called ".picasa.ini". This file is used to store useful information (people in the pictures, modification, ...). So, IMO, it's useful that ownCloud syncs it.

Unfortunately, this prevents the Android app to consider the folder "full of pictures, and only pictures".

As a consequence, the grid view is not shown. Instead of

[2015-07-30 19:33] tobiasKaminsky commented on #1080
On the first implementation the threshold was 80% pictures to switch to grid view.
Now it is 100% pictures.
But afair there should be a setting sooner or later.

But (again) you are right, that files starting with a dot should be ignored for computing the threshold.
@davivel Is this ok for you? Then I would implement this. Should be just one or two lines ;)

The customized threshold in the prefere

[2015-07-30 19:35] tobiasKaminsky opened #1081 "Change list vs grid view"
If set in root fold, all the children will be shown in grid mode too.
Then, if list view is selected for a subfolder, it will applied (and remembered) to that subfolder and all its children.

OLD:
The threshold was 80%, now it is 100%.
I think this should be adjustable as each user may have a different wish.

@jancborchardt What do you think? A slider with value?
https://www.google.com/design/spec

[2015-07-31 07:51] etiess commented on #1080
Great! I agree with your 2 complementary solutions:
1. Best "straight to the point" solution: ignore files starting with a dot for computing the threshold
2. Wider solution with manually adjustable threshold: https://github.com/owncloud/android/issues/1081

In order to complete solution 1, would it be possible to look at the files attributes? For example, I would propose to ignore the files with a

[2015-07-31 10:57] masensio commented on #1080
Hi @etiess,

Thanks for your feedback.

As @tobiasKaminsky said, now the gridview is shown when the folder only contains images.

Maybe we can ignore hidden files like .picasa.ini for calculating the threshold for showing the gridview or put the adjustable threshold. But about showing the filelist in listview/gridview we have https://github.com/owncloud/android/issues/894. If you read this you can

[2015-07-31 11:06] etiess commented on #1080
Thank you @masensio: indeed #894 is the answer to my button proposal.

If you need testing for implementing the hidden files feature, I'm available: unfortunately, I don't have any skills in programming.

[2015-07-31 16:39] tobiasKaminsky commented on #897
@jancborchardt
I have computed it now exactly as I hope:
I have used the three points of the triangle of the play button to compute the middle point of the circle.
From this I have computed an offset to set the overlay.

Please see if this version is better than the last one. (For me it is not...)
You can compare it to https://github.com/owncloud/android/issues/897#issuecomment-124566735 as there

[2015-08-01 03:32] radziu82 commented on #899
No Not duplicate. 426 is closed. This is needed basic functionality.

[2015-08-02 06:21] tobiasKaminsky commented on #1080
PR is #1082

[2015-08-02 06:37] tobiasKaminsky commented on #894
@jancborchardt Is this https://github.com/owncloud/android/issues/894#issuecomment-75954806 still valid?

[2015-08-02 06:41] tobiasKaminsky commented on #897
Ok it was still a bit wrong.
Please see now:
![video_overlay final](https://cloud.githubusercontent.com/assets/5836855/9025048/49ad9a0c-38f2-11e5-9d3a-45e5a5acdf41.jpg)

[2015-08-02 06:41] tobiasKaminsky commented on #897
ups :/

[2015-08-03 11:16] davivel commented on #1081
I wouldn't go this way. Sound like lots of noise about something that should be simple.

I'd just go for #894

[2015-08-03 14:37] DevTeamPostCy opened #1084 "Thumbnail on Android after core update are not working"
Thumbnail are not viewable on android .

Also when I locate from core website to /remote.php/webdav/Photos/Paris.jpg the thumbnail is automatically open in a download link and not in a preview mode.

Does anybody know how to fix that issue?

[2015-08-03 17:00] tobiasKaminsky commented on #1084
Please use the template https://raw.github.com/owncloud/android/master/issue_template.md
Otherwise there are many important informations missing.

Regarding your second question: webdav is a protocol to transfer files, so it is intended to just offer the image and not preview it.
The right url for viewing images from within the web frontend would be: http://localhost/owncloud/index.php/apps/files#

[2015-08-03 17:04] tobiasKaminsky commented on #1081
I think both ideas are additional, not complementary.
Imagine that you always want to have grid view. With #894 you would have to switch the view for every single folder to grid view.
With the threshold you can manage this by setting it to 0%.
(But maybe it is just me that is using our app mainly as an image browser due to my very small internal disk space)

[2015-08-03 17:33] jancborchardt commented on #897
Last screenshot looks great! :) :+1: from me.

[2015-08-03 17:34] jancborchardt commented on #899
@davivel @masensio @rperezb @MTRichards where are we at with this? Deletion of multiple files is basically impossible (that is, a huge pain) due to multiselect not existing.

[2015-08-03 19:58] tobiasKaminsky commented on #1067
I want to thank you for the redesign of the developing process.
Especially the new labels (or using them) is very helpful.

[2015-08-03 21:38] karlitschek commented on #1067
@tobiasKaminsky Happy to hear. :-) Please always post here if you find something that can be improved. We take feedback very seriously!

[2015-08-03 21:40] roy128 commented on #1038
:+1:

[2015-08-04 06:24] DevTeamPostCy commented on #1084
Thank you for your reply. I understand what you said.... But why with the previous version of the owncloud core, Android thumbnail, were ok and now are not visible to the application?

[2015-08-04 06:49] masensio commented on #1084
Hi @DevTeamPostCy,

Which server version are you using? We need to check if the problem is in Android app or in the server.
As @tobiasKaminsky said, it is better that you describe the problem using the template https://github.com/owncloud/android/blob/master/issue_template.md for having all the information about the problem.

Thanks for your feedback.

[2015-08-04 07:08] DevTeamPostCy commented on #1084
### Expected behaviour
Android thumbnail should be visible on the gallery view

### Actual behaviour
No thumbnail are visible.

### Steps to reproduce
1. From Android open a folder with photos
2. In the gallery I can see that has pictures but without thumbnails in order to see witch photo is what...

### Environment data
Android version: every model

Device model: every model

Stock or customized

[2015-08-04 07:18] masensio commented on #1084
@DevTeamPostCy, thanks for the complete description, now we can compare the behaviour depending on the server version.

[2015-08-04 10:40] masensio commented on #1084
@DevTeamPostCy, Do you have any forbidden character in your path? (like  \ / < > : " | ? *)

[2015-08-04 11:15] DevTeamPostCy commented on #1084
@masensio,  Let's say if I click on the Paris.jpg in the Photos folder I get this path where I can view the image from the owncloud core.
/index.php/apps/files/?dir=%2FPhotos#/Photos/Paris.jpg

[2015-08-04 16:56] tobiasKaminsky commented on #897
Then it is ready to test? @davivel

[2015-08-04 19:07] armaccloud commented on #1061
It is published now, thanks for the answers guys!

[2015-08-05 10:33] jospoortvliet commented on #819
@MTRichards yes, let's please do it that way.

[2015-08-05 10:41] rperezb commented on #880
@davitol @tobiasKaminsky WIP the Server API: https://github.com/owncloud/core/issues/16646

[2015-08-05 10:54] masensio commented on #915
Fixed in develop.

[2015-08-05 10:54] #915 closed

[2015-08-05 11:55] rperezb commented on #880
related to the desktop client: https://github.com/owncloud/client/issues/3537 and iOS https://github.com/owncloud/ios/issues/425

[2015-08-05 15:16] MTRichards commented on #819
@daveofsmeg @rperezb can we track this for after https://github.com/owncloud/android/issues/765#issuecomment-66775377 ?

[2015-08-05 15:17] rperezb commented on #899
@jancborchardt for the moment this is not expected.
Certainly, multiselection is needed as well as the improve on the UI, roadmap

[2015-08-05 16:35] rperezb commented on #819
Thanks @MTRichards
Yes, indeed the solution suggested, simplifying, by default don't copy the upload file to the ownCloud folder, is the current behavior of the ownCloud iOS app.
Thanks everyone for your discussion!

[2015-08-05 18:35] bitsunami opened #1087 "File sorting on upload"
It would be great if we could sort files in any way, when searching for upload them (from the ownCloud app), at least like usual folder browsing inside the app.

[2015-08-05 18:37] bitsunami commented on #1087
https://github.com/owncloud/android/issues/1041
Solved. Sorry for the inconvenience.

[2015-08-05 18:37] #1087 closed

[2015-08-05 23:42] jancborchardt commented on #899
Let’s move it up then @MTRichards @rperezb

[2015-08-06 16:21] sakishrist commented on #163
+1 for this. An additional layer of security through client certification would be a Very nice thing to have.

[2015-08-06 16:23] guruz commented on #1061
FYI @carlaschroder

[2015-08-06 16:34] carlaschroder commented on #1061
It's still 1.7.1: https://f-droid.org/repository/browse/?fdfilter=owncloud&fdid=com.owncloud.android

[2015-08-06 16:35] carlaschroder commented on #1061
Sorry, 1.7.2.

[2015-08-06 16:41] carlaschroder commented on #1061
Never mind, the desktop sync client is 1.8, not the Android app. OK then! We are good.

[2015-08-08 10:10] john156 commented on #1084
thanks helped me a lot :+1:

[2015-08-08 10:11] john156 commented on #1046
:+1:

[2015-08-08 16:36] pubmania commented on #1084
I have this problem too... Thumbnails are not visible on Android with 8.1 server. Although on an older device it does show thumbnails for photos on the device.

[2015-08-08 16:39] skymania commented on #984
why just not use recycler view and LayoutManager to show list or Grid?

[2015-08-08 16:42] Kernald commented on #984
@skymania actualy, that's the whole point of this issue.

[2015-08-08 16:43] skymania commented on #984
I hope so.

[2015-08-08 22:51] jancborchardt commented on #984
@skymania since it sounds like you’re experienced, maybe you’re interested in contributing? :) I’m sure if you need any help, @davivel @tobiasKaminsky @AndyScherzinger can help you.

[2015-08-08 23:17] AndyScherzinger commented on #984
Absolutely! :) The material_toolbar branch is probably a good starting point since it contains most of the material implementation and the latest AppCompat release.

[2015-08-09 15:57] tobiasKaminsky commented on #899
PR will be #1090 by @AndyScherzinger

[2015-08-09 16:30] jancborchardt commented on #899
@tobiasKaminsky isn’t that just about multiselect for upload?

[2015-08-09 16:44] AndyScherzinger commented on #899
Haven't had this issue in the radar yet

[2015-08-09 16:46] tobiasKaminsky commented on #899
Ah. Maybe. I just had read the title.
And then it would fit, right? ;)
@jancborchardt If it is just for upload, maybe you can clarify it in the issue description?

[2015-08-09 21:42] skymania commented on #984
I have implemented toolbar, recycler view and UIL. Currently Im working on navigation drawer but time is not currently on my side so I have no idea when I will have the time to proceed with material implenetations. I have to upload all the changes I made on github tho.

[2015-08-09 23:05] jancborchardt commented on #984
@skymania please do a pull request even when it's work in progress so we can already review. If a pull request is too big, risk is high it's very difficult to merge.

[2015-08-09 23:06] jancborchardt commented on #899
@tobiaskaminsky well this issue is about the app in general, everything _excwpt_ the uploads view. ;) The normal files list, multiselect for that.

[2015-08-10 00:23] synthead commented on #340
Just got situated with ownCloud.  This is a deal-breaker for me.

[2015-08-10 03:44] aplicret opened #1091 "multiple ownCloud android app on the same device - INSTALL_FAILED_CONFLICTING_PROVIDER error"
I need to install two ownCloud android apps on the same device - suppose CloudA and CloudB (different UI for CloudB). After installing CloudA and running successfully on the device, when I try to install CloudB, Eclipse shows INSTALL_FAILED_CONFLICTING_PROVIDER error. I tried by changing 'authorities' name in the manifest but it does not work. What's wrong!!!

[2015-08-10 07:30] DevTeamPostCy commented on #1084
But is there any way I can fix that problem? Is that an owncloud core bug that they will fix it?

[2015-08-10 08:11] AndyScherzinger commented on #984
@ all how should we all move forward with this overall topic, since we now have this, #1076 and #1090 and @skymania provides the next implementation (which is fine with me) and I provided the action bar variant. So imho we need some kind of coordination to not implement everything twice :)

[2015-08-10 08:53] masensio commented on #1091
Hi @aplicret,

Do you change the package name? It is impossible to install two apps with the same package name on the Android device.

Please, tell me if this solves your problem

[2015-08-10 09:14] hannesa2 commented on #1091
you have to set individual authority for provider

[2015-08-10 10:01] ares commented on #916
+1, long standing issue

[2015-08-10 10:50] rperezb commented on #340
Thanks for the call, this is included on the current milestone.

[2015-08-10 11:51] davivel commented on #1081
I don't know if it's stated in #894, but the grid setting, when enabled, should be propagated down the tree of files to all descendent folders.

If set in root fold, all the children will be shown in grid mode too.

if then, list view is selected for a subfolder, it will applied (and remembered) to that subfolder and all its children.

[2015-08-10 11:52] #531 closed

[2015-08-10 12:26] davivel commented on #897
PR commented.

[2015-08-10 12:33] davivel commented on #819
I'm not sure there is room to include this change in 1.8 milestone without taking something out.

[2015-08-10 12:43] davivel commented on #1084
@DevTeamPostCy, the URL accessed to get thumbnails from the server side is:

http(s)://<your.domain>/<your.oc.path>/index.php/apps/files/api/v1/thumbnail/<width>/<height>/<pathToFile> .

Please, check in a web browser if you can see the thumbnail there; <width> and <height> are the size the client wants for the thumbnail, use the values you prefer.

[2015-08-10 12:55] DevTeamPostCy commented on #1084
@davivel thank you for your reply. This path on the core is working correct. But on Android is not.... do I have to make changes on Android code? If yes, can you please give me some instructions?
Is that a problem that will be fixed or I have to proceed and fix it on my own?

[2015-08-10 12:56] davivel commented on #1084
I'm not sure. Any reason why you are using version 1.7.0 of the Android app? The last one is 1.7.2

[2015-08-10 13:11] floriangosse commented on #827
@tobiasKaminsky I think good solution would be global settings where I can choose the account for instant upload and account specific settings where I can define the path for instant upload.

[2015-08-10 14:01] DevTeamPostCy commented on #1084
Dear @davivel on 1.7.2 is corking correctly. Is there any issue on 1.7.0? Just to know if we can fix that issue instead of change android version.

[2015-08-10 14:39] jancborchardt commented on #827
Right … when there is more than one account there should be a dropdown in the instant upload section like: »Account to upload to«:
* Active account
* `jan@firstaccount.com` (default)
* `jan@secondaccount.com`
* …

The reason the first account instead of the active account should be the default since that’s the big source of confusion in the current approach. What do you think @tobiasKaminsky @Andy

[2015-08-10 14:40] jancborchardt commented on #827
(Btw @floriangosse just saw you’re in Berlin – you coming to https://owncloud.org/conf ?)

[2015-08-10 14:49] jancborchardt commented on #984
I’d say we should wait for #1076 to be QA'd and merged – which will hopefully happen soon. Then #1090 shortly after (we need it in the next cycle @davivel).

Then after that we can build on top of that. Otherwise it just becomes unmanageable. There’s no reason to cram all of these improvements in such a short amount of time now. ;)

[2015-08-10 15:00] kaystrobach commented on #985
any news on that?

[2015-08-10 15:06] jancborchardt commented on #1081
@davivel yup!

[2015-08-10 15:20] AndyScherzinger commented on #984
Sounds reasonable @jancborchardt - thanks for the clarification :)

[2015-08-10 17:38] davivel commented on #827
I have a hard time trying to imagine the settings layout one change at a time. I'd prefer to have a global  review taking into account what settings make sense per account, what settings makes sense once for all the app and how distribute both categories in the settings layout.

[2015-08-10 17:38] davivel commented on #985
Sorry, no.

[2015-08-10 18:06] tobiasKaminsky commented on #1091
But why do you want to do this?
You have the possibility to add different accounts?

[2015-08-10 18:13] tobiasKaminsky commented on #1081
This is a very good idea and would fit perfectly for my use case.
How can this be shown and explained to the user?

New folders would have automatically the setting of the parent folder?

[2015-08-10 18:14] davivel commented on #1084
It's a lateral effect of the changes in WebDAV support done in OC 8.1. This was merged in version 1.7.1 of the Android app, in https://github.com/owncloud/android/pull/913 . Note that it includes an update of the OC library for Android, where are located the most important changes to adapt to this change of the server side.

For more details: the thumbnail is not retrieved from the server side bec

[2015-08-10 18:14] #1084 closed

[2015-08-10 18:28] tobiasKaminsky commented on #827
Choosing the account would be fine for me.
But maybe this should be a list select to support instant upload to multiple accounts?

[2015-08-11 03:23] aplicret commented on #1091
I have changed the package name and authority but no result. Yes, I would like to run same owncloud android app two times on the same device with different accounts. Second one is the modified app (some UI and app name changes). What are the changes should I do to run both apps on the same device with different accounts?

[2015-08-11 06:48] davivel commented on #1091
See the file res/values/setup.xml. You will need to change the values of the parameters ```app_name```, ```account_type```, ```authority```, and ```data_folder```. Probably you will want to change also other parameters there, though not strictly needed to get both apps running.

[2015-08-11 08:05] jknockaert commented on #3
I have been using FolderSync, but it seems that this app is no longer developed.
While using FolderSync I noted that files started to disappear from my account. What actually happened is that random files got deleted from the microsd card in my phone (not sure why), and subsequently the removal was propagated to my owncloud account by two-way sync. I worked around this issue by switching to one-wa

[2015-08-11 08:27] davivel commented on #3
@jknockaert , this feature is currently in active development in the OC app. We'll be more careful automatic deletions. Historically, this has not been a problem with our app because, in case of doubt, we don't delete files automatically. We think that running out of local storage is not as bd as losing information.

[2015-08-11 08:38] jknockaert commented on #3
@davivel Well I think the main point of automatic syncing is that it goes automatically. So automatic deletions would be part of that. I just wanted to highlight that there are a number of sync-scenarios that ideally should be covered. If you just want to keep a local copy of an online-managed pdf-archive you typically want local copies to be (agressively) deleted when the remotes are gone but not

[2015-08-11 13:38] jancborchardt commented on #1081
It doesn’t need to be shown/explained I’d say, at least not in the first iteration.

[2015-08-11 13:43] davivel commented on #1081
Agreed.

Think in a 3-valued property: "list", "grid" and "inherited"; the default value for every folder is "inherited", with the exception of the root folder, where "inherited" makes no sense and is promoted to "list". The user only can choose in the UI between "list" or "grid", "inherited" is for internal use.

[2015-08-11 13:56] jancborchardt commented on #1081
Good call!

[2015-08-11 17:04] synthead commented on #340
When is the current milestone expected to be available? Thanks!

[2015-08-11 18:14] jancborchardt commented on #340
@rperezb please add the current milestone here on Github as milestone and assign it to the issues in that milestone. ;)

[2015-08-12 06:56] davivel commented on #340
The current milestone is https://github.com/owncloud/android/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.8-current .

[2015-08-12 07:14] aplicret commented on #1091
Hi @davivel thank you. It's working now :+1:
Thanks to all.

[2015-08-12 09:16] jancborchardt commented on #340
So is this part of the current milestone then, or not? ;) I don’t see a milestone set on this issue.

[2015-08-13 07:04] rperezb commented on #1091
Hey @aplicret, it seems that this issues is fixed so that I close the ticket, being needed please reopen and add a comment

[2015-08-13 07:04] #1091 closed

[2015-08-13 14:57] jancborchardt opened #1093 "Starred files not syncing automatically"
To sync a starred file, I manually have to open it or refresh the folder. In any case I have to manually open the ownCloud app. This is very cumbersome.

There should be regular polling for changes in starred files, or some mechanism which syncs them in the background. That’s what is expected from files which are starred (used to be »keep up to date«!)

@rperezb @MTRichards @davivel @tobiasKaminsk

[2015-08-13 17:30] tobiasKaminsky opened #1094 "Share: Remember last action and show as icon"
Hi,

I would like to implement a function that remembers the last share action.
![screenshot_2015-08-13-19-28-44](https://cloud.githubusercontent.com/assets/5836855/9256762/b46a5062-41f1-11e5-907d-4cf2d5f427d6.png)
See it here in chrome.

What do you think @davivel @jancborchardt

[2015-08-13 17:34] tobiasKaminsky commented on #1093
Isn't this the purpose of settings -> accounts -> files -> synchronisation
At least this is what I have in mind.
But it will still be on a random (or at least not predictable) time interval.
@davivel knows it better.

[2015-08-13 17:55] AndyScherzinger commented on #1093
Why would it be random? Looking at @AndlyticsProject - synchs in time intervalls, so this either worked at some point, is broken or needs to be imlemented differently (not having looked at the code though)

[2015-08-13 18:22] tobiasKaminsky commented on #1093
https://github.com/owncloud/android/issues/989#issuecomment-105419725

This was to what I was referring.

[2015-08-13 18:31] tobiasKaminsky commented on #894
I close this in favour of #1081 as there is described how this will be fixed.

[2015-08-13 18:31] #894 closed

[2015-08-13 18:33] tobiasKaminsky commented on #1081
Then I will do it this way.

[2015-08-13 21:32] jancborchardt commented on #1094
Yeeess please! :)

[2015-08-13 21:38] jancborchardt commented on #1093
Not sure what you mean by that @tobiasKaminsky

I would expect stuff to be automatically synced, very aggressively to make sure I always have the latest versions. In my case for example this is about notes which need to be always up to date.

[2015-08-14 13:42] tobiasKaminsky commented on #1093
This is an option in androids setting.
As far as I know this has to be enabled in order to have sync working properly.
Can you verify if this is enabled for you?

[2015-08-14 14:22] tobiasKaminsky commented on #1094
Isn't this better?
![actionbar-shareaction](https://cloud.githubusercontent.com/assets/5836855/9275855/69fea528-42a0-11e5-9f70-9695fdc81117.png)
Then the last action would automatically be remembered.
(ref: https://developer.android.com/training/sharing/shareaction.html)

[2015-08-14 15:34] tobiasKaminsky commented on #1081
@davivel
Here is my proposed way:
- create a new sqLite table with with mID, showGrid (boolean)
- on first start: add / with showGrid = false
- if changing via context menu: update table
- on entering an arbitrary folder:
 - try to find it in database -> show view according to entry
 - else identify parents id, try to find it in database
 - else continue until root directory is reached

Remaining

[2015-08-14 21:58] Ounnix opened #1096 "Connect button can't be pushed"
Connect button not working
I enter in all my info go to press connect and nothing happens.

[2015-08-15 09:38] tobiasKaminsky commented on #1094
This would be it :)
Currently only for ImageView.
(for overall context menu I do not know how to do it).

![send](https://cloud.githubusercontent.com/assets/5836855/9288336/ea089246-4341-11e5-9e14-546e72106dba.jpg)
![send1](https://cloud.githubusercontent.com/assets/5836855/9288338/fab36f44-4341-11e5-8a98-a37ebaba700f.jpg)

[2015-08-15 10:23] jancborchardt commented on #1093
Aaaah – I have to go to Settings -> Accounts -> ownCloud and activate File sync?

That doesn’t seem to be enabled by default, should we make the app auto-enable that once you use the Favorite / Keep up to date function?

[2015-08-15 10:33] tobiasKaminsky commented on #1093
I remember that this is off by default as it could cause higher battery drain if there are many files/folders and/or many starred files.
But yes, you have to enable it.

[2015-08-15 12:41] jancborchardt commented on #1093
Then we at least need some kind of hint. As soon as we have a »Favorites« entry in the sidebar for sure, we need some link to that setting.

[2015-08-15 13:01] tobiasKaminsky commented on #1093
But first we need confirmation of @davivel, if everything is right what I have told.
Maybe, but I do not know, if this is possible we could enable this with the first favorite entry and notify the user about that (of course with an option to revert it).

[2015-08-16 00:14] elpraga opened #1097 "Android App takes painfully too long to show thumbnails when folder opened for the first time"
The thumbnails are seen in the web on the same account.

Can I give more information?

[2015-08-16 06:31] tobiasKaminsky commented on #1097
I have tried it on my local installation and an emulated nexus 5.
It is still working.

Please provide more informations via this template: https://raw.github.com/owncloud/android/master/issue_template.md

[2015-08-16 08:32] torwag opened #1098 "Owncloud app should accept as many share content as possible"
The owncloud app is listed among the apps to share information whenever you choice to share something.  However,  most of the time the share fails,  since the owncloud app does not know how to handle the data.  This is really frustrating.  The most advantage purpose of having access to the owncloud server on an android device is the point that one is able to add very quickly content.. Owncloud on

[2015-08-16 09:37] tobiasKaminsky commented on #1081
Please see #1099 and let us discuss there.

[2015-08-16 11:12] tobiasKaminsky commented on #1098
Maybe you can a bit more specific as I do not know what you are sharing and what you expect that the app should do.
Currently the app accepts files and this should work.

Maybe we can collect it likes this:
- content -> desired option
- clipboard text -> save as txt with choosing folder

But of course this is a first brainstorming and does not mean that it can (and will) implemented this way.

[2015-08-16 11:28] torwag commented on #1098
Thanks for your quick reply.

That might be the "problem" already, since most other apps do not share a file but simply the content in some form. E.g. I would like to save a certain email from K9 as txt and it's attachments in owncloud.
Others provide text, links, images (but maybe not in a file format). Not sure about the exact exchange formats, I would have to look this up. Basically this reques

[2015-08-16 11:52] tobiasKaminsky commented on #1098
You are writing a lot of text, but it is still too unspecific. ;) ;)
It is also ok if yo give real examples with the apps you use and what you share.

For K9:
- I have an email with pdf attachement. The pdf just gets open by pdf reader, there is for me no chance to send it to owncloud. (I would have to save the pdf, open a file browser and then send it to owncloud. This is working as it is a file)

[2015-08-16 12:16] torwag commented on #1098
Hi,

in K9. Select an email->click on the double arrow->select "Share"-> select "owncloud"
One will get the message: "Bo content was received. Nothing to upload"
I'm just looking if there is a way to get information about the intent-mime type of a sending program

[2015-08-16 12:44] tobiasKaminsky commented on #1098
Mainly for developers:
![k9-text](https://cloud.githubusercontent.com/assets/5836855/9293280/3c0ca3d2-4425-11e5-8a77-9ed9ea7adce5.jpg)

in Uploader: 450 (prepareStreamsToUpload())
It seems as it is just plain text directly copied to the clipBoard.

[2015-08-16 13:08] tobiasKaminsky commented on #104
So the workflow would be:
- accepting text as input
- write it to a temporary file
- prompt for a file name
- let user choose storage path

[2015-08-16 13:49] torwag commented on #104
IMHO, it should be as easy as possible for 90% of all usage scenarios. That is, the settings should allow to set a default path and a file name structure. E.g. \notes\income\  $date-$time-$sending-app-name.
The workflow would go straight to ask the user to save the text by the default settings (single click) and prompt for a file name and path otherwise.

[2015-08-16 16:02] torwag commented on #1098
An other example would be firefox. I guess it sends the url as plain text as well.

[2015-08-16 16:06] torwag commented on #1098
Maybe we could close this ticket referring to #104  and I will  open a new ticket if I come across a specific mime type.

BTW. I would love to have an app/owncloud feature, which allows me to create a photo, add some text resp. notes (maybe even scribble in the picture) and upload that to an owncloud server as e.g. html or pdf. Not sure this should be an feature of this application or an standalon

[2015-08-16 16:13] enoch85 commented on #488
This is gone as far as I know. Please feel free to reopen if it still exists.

**Server 8.1.1**

[2015-08-16 16:13] #488 closed

[2015-08-16 19:09] tobiasKaminsky commented on #104
I do not like the idea of a setting, here.
Maybe just remember the last storage path of txt files (just like it is currently for upload files)

@jancborchardt your opinion here, please!

[2015-08-16 19:12] tobiasKaminsky commented on #104
ref: https://github.com/owncloud/android/issues/1098#issuecomment-131542181

[2015-08-16 19:15] tobiasKaminsky commented on #1098
Yeah.
I guess it just ends up that only text on the clipboard is missing.
But if you find a new use case / scenario, please feel free to open up a new issue.
--> closing.

Adressing your btw: As the owncloud app is mainly an app for sharing, uploading and managing files, I doubt that this is something a regular user wants.
I guess that a "normal" image manipulation app is enough as this one should

[2015-08-16 19:15] #1098 closed

[2015-08-17 14:00] LukeOwncloud commented on #1093
Duplicate of https://github.com/owncloud/android/issues/726?

[2015-08-17 16:58] AndyScherzinger commented on #983
UNfortunately you have to implement it yourself. There is no google implementation for the speed dial...

[2015-08-17 19:01] AndyScherzinger commented on #983
Erm, I would (like) to work on this, but won't find the time to work on this before begining/mid September though...

[2015-08-17 20:43] AndyScherzinger commented on #983
I added a branch to work on it :smile: https://github.com/owncloud/android/tree/material_fab

[2015-08-17 23:47] AndyScherzinger commented on #983
First implementation can be found on #1100

[2015-08-18 18:23] jancborchardt commented on #726
Closing this in favor of https://github.com/owncloud/android/issues/1093 because we have more info there.

[2015-08-18 18:23] #726 closed

[2015-08-18 18:24] jancborchardt commented on #1093
@LukeOwncloud thanks for the info! Closed that issue in favor of this here as we have more info here.

@davivel check this issue please and reply to @tobiasKaminsky’s remarks.

[2015-08-19 03:09] cboseak opened #1103 "Compile Issues"
Not a bug per se but should be noted so the readme can be updated with instruction. There are issues compiling with android studio (Error:Configuration with name 'default' not found.). Eclipse compile with no issues.

[2015-08-19 11:44] AndyScherzinger commented on #1097
Also tried it with my (non-emulated) nexus 5 and owncloud 8.1.1 and can confirm that it is still working.

[2015-08-19 11:45] AndyScherzinger commented on #1096
Does the problem still persist? How long did you wait?
The app checks the connection to the server address and if successful activates the connect button.

[2015-08-19 14:39] cboseak commented on #1103
Closed. Solved by installing all dependencies listed in readme

[2015-08-19 14:39] #1103 closed

[2015-08-20 11:07] supportreq opened #1104 "Intro Help guide, new wizard to guide the user through the app features"
With the Material Design almost in place, we should really have an intro screen which introduces the features of our OwnCloud App something what dropbox or box or even Google Drive does..

@AndyScherzinger what are your thoughts??

___

TASKS

- [X] [GIT] Rebase legacy PR
- [x] [DEV] Choose features to include and the order in which they should appear.
- [x] [DESIGN] Design some mockups.
- [x] [DE

[2015-08-20 12:00] AndyScherzinger commented on #1104
Du you mean like a dialog with a view pager on the very first start up the app?

[2015-08-20 12:13] supportreq commented on #1104
yes

[2015-08-20 12:33] masensio commented on #710
Fixed in master branch.
@AndyScherzinger thanks!!

[2015-08-20 12:33] #710 closed

[2015-08-20 14:07] supportreq commented on #1104
I just checked the iOS app has it.. @rperezb can we have it in android as well

[2015-08-20 14:08] AndyScherzinger commented on #710
@masensio it has only been merged against develop!!!!!

[2015-08-20 14:13] masensio commented on #710
@AndyScherzinger, master is updated also with develop!!

[2015-08-20 14:58] AndyScherzinger commented on #1104
Can someone provide some screenshots from the iOS app, to get a better picture of how this is intended to work and what kind of information should be shown?

[2015-08-20 15:32] dipenpatel235 commented on #1074
{"reqId":"OtkPaVZOvEx7bMCwYnUd","remoteAddr":"101.202.2.122","app":"PHP","message":"Cannot modify header information - headers already sent by (output started at \/var\/www\/html\/owncloud\/3rdparty\/sabre\/http\/lib\/Sapi.php:70) at \/var\/www\/html\/owncloud\/3rdparty\/sabre\/http\/lib\/Sapi.php#58","level":3,"time":"2015-08-20T15:28:49+00:00"}
Cannot modify header information - headers already

[2015-08-20 16:25] masensio commented on #340
@jancborchardt, the PR https://github.com/owncloud/android/pull/919 is in the current milestone https://github.com/owncloud/android/milestones/1.8-current.

PR #919 contains the fix for this issue.

[2015-08-20 16:47] MTRichards commented on #340
there. I set it now.

[2015-08-20 23:23] Ounnix commented on #1096
After disabling apache mod_security and mod-evasive it seems to work ok.  What can I do to use owncloud with these apache modules?

On August 19, 2015 5:45:42 AM MDT, Andy Scherzinger <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-08-21 02:28] supportreq commented on #1104
I will it to you in sometime

[2015-08-21 07:34] supportreq commented on #1104
It's an amazing animation where the owncloud logo shifts from one screen to another as an animation..

![image1](https://cloud.githubusercontent.com/assets/4680404/9403465/059cec1a-4805-11e5-9d0d-fc8966b9847a.png)
![image2](https://cloud.githubusercontent.com/assets/4680404/9403461/05976c36-4805-11e5-8ee6-84bd9967e809.png)
![image3](https://cloud.githubusercontent.com/assets/4680404/9403466/059da9

[2015-08-21 08:14] purigarcia commented on #104
@tobiasKaminsky , @AndyScherzinger , @LukeOwncloud and whoever feels like, contributions are wellcome here :)

[2015-08-21 08:15] purigarcia commented on #842
@tobiasKaminsky , @AndyScherzinger , @LukeOwncloud and whoever feels like, contributions are wellcome here :)

[2015-08-21 08:15] purigarcia commented on #1025
@tobiasKaminsky , @AndyScherzinger , @LukeOwncloud and whoever feels like, contributions are wellcome here :)

[2015-08-21 08:15] purigarcia commented on #1057
@tobiasKaminsky , @AndyScherzinger , @LukeOwncloud and whoever feels like, contributions are wellcome here :)

[2015-08-21 08:16] purigarcia commented on #1066
@tobiasKaminsky , @AndyScherzinger , @LukeOwncloud and whoever feels like, contributions are wellcome here :)

[2015-08-21 08:19] Wikinaut commented on #1025
I propose this as homework for the Berlin Hacking Space @owncloud Conference 2015 https://conference.owncloud.org/conference/oCC2015/schedule#2015-08-29

[2015-08-21 10:26] AndyScherzinger commented on #104
I agree with @tobiasKaminsky I also wouldn't like to see this realized using a setting, an expected behavior like Tobias described with "currently for upload files" seems to be a consistent way imho

[2015-08-21 10:30] AndyScherzinger commented on #1104
Nice! Are the corresponding image resources available somewhere?

[2015-08-21 11:47] tobiasKaminsky commented on #104
@jancborchardt
@davivel
We need your opinion here first :)

[2015-08-21 13:44] tobiasKaminsky commented on #1057
So this seems to all end up to "sudo: false" in travis.
I will create a PR

[2015-08-21 14:21] tobiasKaminsky commented on #1057
Please see #1105

[2015-08-21 14:23] AndyScherzinger commented on #1104
iOS files for this can be found here: https://github.com/owncloud/ios/tree/develop/Owncloud%20iOs%20Client/SupportingFiles/Images/HelpGuide

[2015-08-21 14:27] tobiasKaminsky commented on #1104
This should occur on the very first time or everytime an account should be added?
(preferring the first one: only on first installation)

[2015-08-21 14:53] AndyScherzinger commented on #1104
I would also pledge for one time only on very first launch of the app and also for no animations

[2015-08-22 09:14] soluxima-erik commented on #58
Loving the latest ownCloud App version (Android), its real stable now.
Still missing the Calendar and Contact sync (using Marten Gajda's CalDAV-Sync and CardDAV-Sync for now).
+1

[2015-08-22 13:33] godfuture opened #1106 "Share text when using public share includes username instead of the full name"
**Background**
I shared files on my Android device with Owncloud by public link sent over Whatsapp.

**Issue**
The name used to indicate the share action: "XXX shares yyy with you" is done with user name, not with full name. But how does the receiver of me know who this user is? Maybe user names were created with some cryptic pattern or appreviations. I guess using the full name to indicate a shar

[2015-08-23 07:19] Spindletop commented on #793
A workaround (requiring rebuilding the application) if you don't want to use the system proxy settings in the owncloud android client, is to disable it by removing "applyProxySettings();" call in "OwnCloudClient.java". It workes for my environment which uses proxy authenication for internet access but none for the local network in which owncloud is running.

Well, I even dare to state this should

[2015-08-23 17:31] tobiasKaminsky commented on #6
This idea would solve the problem as it allows any folder to act as a source of instant upload: #744

[2015-08-23 17:36] tobiasKaminsky commented on #125
What about a dialog "Do you want to remove all files on device?"
Easy and simple ;)

[2015-08-23 17:39] tobiasKaminsky commented on #144
Is this issue still open? @jancborchardt

[2015-08-23 17:48] tobiasKaminsky commented on #192
@AndyScherzinger maybe you can verify if this is still the problem after your fabulous material update?

[2015-08-23 18:07] tobiasKaminsky commented on #206
@davivel this can be closed now, or?

[2015-08-23 18:17] tobiasKaminsky commented on #273
Seems to be still a problem with core 8.1 and current app

[2015-08-23 19:16] tobiasKaminsky commented on #349
This is working for me.
Please, somebody also verify that it is working, then we can close the issue.

[2015-08-23 19:19] tobiasKaminsky commented on #374
Closing as android 2.x is not supported any longer.

[2015-08-23 19:19] #374 closed

[2015-08-23 19:22] tobiasKaminsky commented on #842
duplicate of #383?

[2015-08-23 19:23] tobiasKaminsky commented on #407
I remember that there was a discussion to not distinguish between local/remote files?
So is this issue still valid?
@davivel @jancborchardt

[2015-08-23 19:26] tobiasKaminsky commented on #459
So...Nothing to code her?
Therefore closing?
@jancborchardt ?

[2015-08-23 19:28] tobiasKaminsky commented on #460
How does popular file browser (dolphin, gnome(?), mac, windows, ...) handle this?

[2015-08-24 04:52] zaxebo1 opened #1108 "make android app available in "ad supported zero cost edition" and "ad-free paid edition" both"
right now the Android app  of owncloud ( https://play.google.com/store/apps/details?id=com.owncloud.android&hl=en , https://play.google.com/store/apps/details?id=com.owncloud.android.workaround.accounts&hl=en )
is available at google play for some cost. This is a huge upfront problem for my friends,colleagues etc whom I want to encourage to swtich from proprietary dropbox to the open source ownclo

[2015-08-24 05:06] zaxebo1 commented on #1108
feature wise both the Pro edition and Free edition will be same, only the difference will be that in one case - we have to pay upfront cost, in another case -we support the development by viewing advertisements. Atleast the end-user will have some choice.

[2015-08-24 05:55] tobiasKaminsky commented on #462
@davivel Is there some way how I can debug it?

@all is this issue still existing in the latest version?

[2015-08-24 05:58] tobiasKaminsky commented on #471
ref #919

[2015-08-24 06:04] tobiasKaminsky commented on #506
Does this issue still exist?
I have a folder with 1200 images and it works fine on my nexus 4.

[2015-08-24 06:08] tobiasKaminsky commented on #594
The last folder is remembered, so closing.

[2015-08-24 06:08] #594 closed

[2015-08-24 06:22] smarek commented on #462
@tobiasKaminsky from my experience it was fixed in next version (February probably)

[2015-08-24 06:33] rperezb commented on #273
This is related to: https://github.com/owncloud/core/issues/7894

[2015-08-24 06:37] tobiasKaminsky commented on #462
Thank you.
So closing, please reopen or comment if still exists.

[2015-08-24 06:37] #462 closed

[2015-08-24 06:38] rperezb commented on #1104
Hey guides, on iOS we call it the help guide, this is shown the very first time the app is open (not per account basis)

I rename this issue to help guide

The splash screen is shown everytime the app is open and it´s an static image, the one used on iOS is: https://github.com/owncloud/ios/blob/develop/Owncloud%20iOs%20Client/SupportingFiles/Images/ImageBranding/Branding/Default-Portrait%402x~ipad

[2015-08-24 06:47] tobiasKaminsky commented on #1097
@elpraga Can you please provide more infos by filling out the template?
https://raw.github.com/owncloud/android/master/issue_template.md
Thank you!

[2015-08-24 08:45] purigarcia commented on #842
@tobiasKaminsky, you are right. Although I am not sure if they are asking the exactly the same, but for sure they are similar. So maybe it is not a good idea to start to do things here, however there is a pr pending in the other issue.

[2015-08-24 11:36] masensio commented on #1080
PR #1082 merged. So I'll close the issue.

[2015-08-24 11:36] #1080 closed

[2015-08-24 11:56] etiess opened #1110 "Accentuated letter are not sorted alphabetically"
In a folder list and in a file list, accentuated letter are not considered properly to sort the folders/files.

For example, the letter "e" with accent "é" should be considered as a normal "e". But a folder or a file starting with "é" is sent to the end of the list, after "z".

Example:
- Étudiant should be before Radio
- Fé should be before Fr

It's the same for other accentuated letters (I didn'

[2015-08-24 12:27] jancborchardt commented on #104
Honestly this seems like a very specific usecase. Doing this properly would be to implement the ability to view & edit text files: #88 – then you can paste stuff and edit it afterwards too.

[2015-08-24 15:58] jancborchardt commented on #460
They do not show hidden files. They do have a setting for showing them, but Dropbox etc don’t do that. So the minimum fix here is to just hide hidden files.

[2015-08-24 15:59] #459 closed

[2015-08-24 16:00] jancborchardt commented on #407
Well, there should definitely be a way to see which files I downloaded to my device. Two use cases:
* I’m without connection and want to work with files I have locally
* I want to clean up space on my device and remove downloaded files selectively

[2015-08-24 16:01] jancborchardt commented on #144
Yes. Just click on a PDF which hasn’t been downloaded yet and watch the loading screen which has way too much info. Should just be the thumbnail and a loading bar.

[2015-08-25 09:28] tobiasKaminsky commented on #460
Hm.
I think this is an additional feature (Shall I create one?). But when the files are shown, we should decide how to show them.
For me it is acceptable that they are shown first.

[2015-08-25 09:37] jancborchardt commented on #460
Well, I think it’s a bug that hidden files are shown. ;) Having a means to show them would then be a new feature.

And if they are shown, they should be shown alphabetically in the flow. That is, the dot in front should be ignored for sorting.

[2015-08-25 10:22] davivel commented on #471
Reviewed acceptance criteria; not sure if all the details are still up to date. Please, @rperezb, @ggdiez, @nasli, @javiergonzper , have a look to them to compare with the iOS app.

[2015-08-25 10:24] davivel commented on #471
Work on this issue should continue in branch ```reliable_uploads_action_uploads_view```, based on contribution #919

[2015-08-25 10:44] masensio commented on #1110
Hi @etiess,

Thanks for your ideas.

The current method to sort the filenames is using an Alphanumeric Comparator, but it doesn't take into account the localization.
To improve the sorting method we can take into account the locale, in this way we can sort accentuated letter properly.
I think it is a good improvement, but I can't say when it will be available.

[2015-08-25 11:36] tobiasKaminsky commented on #702
see #1111 "Schnappszahl " ;)

[2015-08-25 11:38] tobiasKaminsky commented on #460
Hiding hidden files should be done in every file view?
- uploader
- local file browse
- owncloud file browse

[2015-08-25 12:22] purigarcia opened #1113 "png background is shown in the folder"
- STEPS TO REPRODUCE IT
  There is an account which has two folder:
   -a (Inside folder a, there are two png without background)
   -Documents

   1. login
   2. Access to folder "a"
   3. Thumbnails without background is shown
   4. go back to root

- CURRENT BEHAVIOR
    -- The background for png are shown in the folder

- EXPECTED BEHAVIOR
    -- background is only shown in png images, not in

[2015-08-25 12:23] jancborchardt commented on #460
Yes please :)

[2015-08-25 12:23] purigarcia commented on #1113
![background](https://cloud.githubusercontent.com/assets/4538201/9466401/ea57462a-4b34-11e5-8766-850853f46959.png)

[2015-08-25 12:29] masensio commented on #1106
Hi @godfuture,

We are using the account username in the share message.
When you say "full name", do you mean the full account name (like username@server)?

[2015-08-25 12:33] tobiasKaminsky commented on #1106
I think he means the real name with forename und surname.
Maybe something like that:
Username: mk83
Real name: Martin Klug

[2015-08-25 12:41] tobiasKaminsky commented on #1113
@purigarcia Strange, this is not happening to me.
Can you try #1114 ?

[2015-08-25 12:50] tobiasKaminsky opened #1115 "Toggle hidden files/folders"
In all file views a toggle button in the three dots should be implemented that shows/hide the hidden files/directories.
If they are shown, they should be sorted alphabetically: ignore leading "." for sorting.

[2015-08-25 12:50] tobiasKaminsky opened #1116 "All file views: do not show hidden files/folders"
In all views all hidden files/folders should not be displayed.

[2015-08-25 12:51] tobiasKaminsky commented on #460
Closing in favour of
#1115 (toggle view, sort alphbetically)
#1116 (hide)

[2015-08-25 12:51] #460 closed

[2015-08-25 13:24] etiess commented on #1110
I understand. I don't know if it can help, but I found a workaround here: http://stackoverflow.com/questions/16282083/how-to-ignore-accent-in-sqlite-query-android
I quote:

Generally, string comparisons in SQL are controlled by column or expression COLLATE rules. In Android, only three collation sequences are pre-defined: BINARY (default), LOCALIZED and UNICODE. None of them is ideal for your use

[2015-08-25 13:25] tobiasKaminsky commented on #1110
![locale](https://cloud.githubusercontent.com/assets/5836855/9467641/5c8d7ce8-4b3d-11e5-8e36-2e1f7361f077.jpg)

That was an easy one :)

[2015-08-25 13:26] etiess commented on #1110
Wao ;) Great!

[2015-08-25 13:58] tobiasKaminsky commented on #1110
PR is in #1117

[2015-08-26 06:13] tobiasKaminsky commented on #1034
Closing as related PR is merged.

[2015-08-26 06:13] #1034 closed

[2015-08-26 06:16] tobiasKaminsky commented on #772
@strugee
The icons are the same as the web-frontend.
So this is more a general question: be consistent to the native os or have the same look across all platforms for owncloud...

[2015-08-26 06:21] tobiasKaminsky commented on #804
@purigarcia Is this issue still valid?
With my nexus4, android 5.1.1 could not select multiple images in gallery to send them to owncloud.

[2015-08-26 06:25] purigarcia commented on #804
You are right, @tobiasKaminsky .
This issue can be closed. Thank you.

[2015-08-26 06:25] #804 closed

[2015-08-26 06:34] tobiasKaminsky commented on #817
So we have:
remote file: String.valueOf(ocFile.getRemoteId())
local file: String.valueOf(file.hashCode())

The problem is that in the first case it is possible that the file does not exist (remote thumbnail).
So we need a unique identifier which we can compute the same way on the server (and access it via ocFile).
Maybe md5sum or something faster? @davivel

[2015-08-26 06:38] tobiasKaminsky commented on #826
@SMillerDev Do you have any informations if there is a service we can query?

[2015-08-26 06:40] tobiasKaminsky commented on #847
@offlinehoster Has the workaround app fixed your problem?
If not please comment and/or reopen.

[2015-08-26 06:40] #847 closed

[2015-08-26 06:41] tobiasKaminsky commented on #853
@purigarcia Please test and close it.
It works for me.

[2015-08-26 06:45] tobiasKaminsky commented on #878
@davivel
Maybe it is enough to present a generated link to the status.php with something like "The following url can provide further details on this error."

[2015-08-26 06:46] tobiasKaminsky commented on #895
Still sorting by size is missing.
--> Changing title.

[2015-08-26 06:55] guettli commented on #878
@tobiasKaminsky a link to more info would be enough (my opinion).

[2015-08-26 07:22] SMillerDev commented on #826
isActiveConnectionMetered from here
developer.android.com/reference/android/net/ConnectivityManager.html should do
the trick I think.

On Wed, Aug 26, 2015 at 8:39 AM, tobiasKaminsky < notifications@github.com [notifications@github.com] > wrote:
@SMillerDev [https://github.com/SMillerDev] Do you have any informations if there is a service we can query?

—
Reply to this email directly or view it on

[2015-08-26 07:28] jancborchardt commented on #1034
Awesome, thank you @tobiasKaminsky! :)

[2015-08-26 07:37] tobiasKaminsky commented on #826
Ah. Great.
But this is an android built-in feature.
The user cannot select a single wifi and disallow the usage of this for owncloud?
I think this is what the issue reporter wants.

But this is also a good idea!
Description of the function:
Returns if the currently active data network is metered. A network is classified as metered when the user is sensitive to heavy data usage on that connection d

[2015-08-26 07:46] masensio commented on #1106
@tobiasKaminsky,

in that case, we need to access to the Display Name of the account. In the current implementation the app doesn't save this information into the Account.

I don't know if we can access to the Display Name with a GET USER request, maybe it is possible.

Any volunteer?

[2015-08-26 08:38] rperezb commented on #559
In order to be possible to read the full name, we have though that the solution is to include the file/folder full name in the long press menu.
The file/folder name will be the first item shown.
The font size is expected to be slightly smaller than the size use for the other options (rename, move...)

[2015-08-26 09:02] offlinehoster commented on #847
It seems to work now.

[2015-08-26 09:29] Kernald commented on #826
[This SO answer](http://stackoverflow.com/a/15976165/775894) gives every information we need to achieve that:
 - get the current SSID
 - get a list of known SSIDs to propose a list of SSID to include/exclude.

[2015-08-26 10:04] tobiasKaminsky commented on #847
@offlinehoster Glad to hear :)

[2015-08-26 18:56] strugee commented on #772
Oops. I seem to have missed this.

@jancborchardt thoughts?

[2015-08-27 14:43] cdamken commented on #559
@MorrisJobke @bboule @felixboehm

Resolves-blue-ticket in which milestone?

[2015-08-28 10:49] jancborchardt opened #1118 "Use new filetype icons"
From core master: https://github.com/owncloud/core/tree/master/core/img/filetypes

Preview:
![filetype icons new](https://cloud.githubusercontent.com/assets/925062/9544685/f5bf92e2-4d82-11e5-85cf-96d333c73eb6.png)

They are 16*16px but of course scale them up. Please only in multiples of 16px, for example 48px.

This should be done in sync with the release of 8.2 server. cc @rperezb @MTRichards @d

[2015-08-28 11:11] ggdiez commented on #1118
Hey @jancborchardt

These new icons looks nice. :+1:

I can not wait to change the current ones for these.

[2015-08-28 11:42] jancborchardt commented on #772
We introduced new simpler filetype icons for the web interface which will come with ownCloud 8.2. People should have a uniform experience regarding that across ownCloud, so we should use our nice new filetype icons instead of the default Android ones (actually they are pretty similar anyway).

See https://github.com/owncloud/android/issues/1118 (I’m closing this hence, ok? :)

[2015-08-28 11:42] #772 closed

[2015-08-28 11:43] jancborchardt commented on #1118
cc @tobiasKaminsky @AndyScherzinger @Stoyicker @Kernald too :)

[2015-08-28 12:00] LukeOwncloud commented on #772
I am still curious. What is the native Android folder icon? Are you talking about the material icon: https://www.google.com/design/icons/#ic_folder

[2015-08-28 12:15] jancborchardt commented on #772
Yep, that’s the one.

[2015-08-28 15:55] sicjay commented on #727
same problem here, there was an offending umlaut in the password.

[2015-08-28 18:13] pierrejochem commented on #727
We had the same problem with "Umlaute" in the Password

[2015-08-29 07:13] AndyScherzinger commented on #1118
Nice! This should simply be replace the actual png files with these and that's it :)

[2015-08-29 19:47] elpraga commented on #1097
I'm not on the computer now. I tried it again, and now it does show some thumbnails, but not all of them even though they are all seen in the web interface. The folder has some 100 photos.

I'll try to give more info when get back to the computer.

Note that if the pictures are downloaded locally on the android device, they do show all..

[2015-08-29 20:55] Kernald commented on #1118
What about the ldpi version? Currently, the images are 36*36 px - which is not a multiple of 16. Should I upscale them to 48 px?

[2015-08-29 21:19] Kernald commented on #1108
While I'm not a huge fan of the free ad-based version, if this is done one day, the "good" way to do would be a free version, plus an in-app purchase to remove the ads, instead of two different applications. This way, the user can keep its configuration when removing the ads.

[2015-08-29 21:50] Kernald commented on #1066
How do we handle the change in Transifex? I don't really know how to use it, but I'm pretty sure there's no automatic way to keep our current translations when some strings are replaced by one plural. Do we have to report every changed string in every language?

[2015-08-30 07:49] jancborchardt commented on #1118
Hm, damn. It’s pixel-perfect at 16*16. Maybe then it’s better to just use 32*32 instead of 36?

[2015-08-30 08:14] masensio opened #1120 "Create folder button in uploader view move to ActionBar"
To maintain a similar appereance in the whole app, the uploader should have the create folder button in the action bar not in the bottom as a simple bottom.
You can see in the next image:

![image](https://cloud.githubusercontent.com/assets/3862330/9566283/eecb71e4-4eff-11e5-9944-84e122b6a638.png)

[2015-08-30 09:48] Crasha opened #1121 "Contacts and Calender syncing In-App"
This would be a great feature - Syncing the local Calender/Contacts with your OwnCloud account if the app is enabled on the server. This would be a great because I'm sure other people, and not just my self, don't like the idea of downloading third-party applications and would rather prefer an original app from OwnCloud for dealing with sensitive information like this.

I know Google use multiple a

[2015-08-30 14:02] JasperWeiss commented on #1121
contacts and calendar sync would be absolutely awesome! I've been using cyanogenmod without Gapps and my main problem is syncing things like these. Material design would also be a welcome change btw :)

[2015-08-30 14:09] JasperWeiss commented on #1118
@AndyScherzinger can you add these to your material design work for android?
when is material design going to be merged? can't wait :)

[2015-08-30 14:10] Kernald commented on #1118
@JasperWeiss I generated all the icons in the right size, I'm just waiting for an answer regarding the ldpi size to open a PR.

[2015-08-30 15:33] davivel commented on #1120
This issue is solved in PR https://github.com/owncloud/android/pull/1122

[2015-08-30 15:41] zaxebo1 commented on #1108
@Kernald   :+1:

[2015-08-30 17:01] jancborchardt commented on #1118
@Kernald as I said: Use 32 * 32 instead of 36. :)

[2015-08-30 17:07] Kernald commented on #1118
Alright, I'm not at home right now, I'll open the PR later today.

[2015-08-30 18:00] jancborchardt commented on #1118
Great stuff, thank you! :)

[2015-08-30 18:42] WorldsEndless opened #1123 ""Feature request: "Open [with default]" instead of only "Open with...""
I primarily use the android app to read PDFs that I store on ownCloud, but I have to select "Adobe Reader" every single time. The regular "open with... [Once] [Every Time]" should be supported.

[2015-08-31 07:19] hitam4450 commented on #1121
Definitely a 'must have' feature for future (next ??) release!

regards, hitam4450

[2015-08-31 08:13] Wikinaut opened #1125 "[Clarification request] SETUP.md instructions. /setup_env.sh: line 7: android: command not found"
I do have the ```Android Studio``` installed (but not the stand-alone tools), working with it since a while. I wanted to start OC development and followed the instructions in https://github.com/owncloud/android/blob/master/SETUP.md .

However, when running  ```./setup_env.sh gradle``` this fails on my machine in line 7
[code]
Pls. assist, perhaps something is missing in the instructions, or not pr

[2015-08-31 08:29] BearTi opened #1126 "No remote thumbnail in App (OC server 8.1.1)"
Hi,

I´ve a problem with the preview/thumnails in the ownCloud App.
When I´m uploading Images via the DektopClient and then open the App I see no preview of trhe images I uploaded before. So I´ve to download the hole image.

When I´m taking a pgoto and the picture is synced directly I see the preview in the App.

Any Idea?

Thanks

(I´m using ownCloud 8.1.1)

[2015-08-31 08:34] rperezb opened #1127 "[Share API] As an OC eng I want to update how the share link are generated so that are aligned with oc 8.2 version"
AC:

  .  From server versions 8.2 and greaters ther server is returning the whole link

https://github.com/owncloud/core/blob/master/apps/files_sharing/api/local.php#L75

- Update how the generation of the share link

[2015-08-31 09:08] rperezb commented on #1118
thanks @Kernald !
@masensio will review it :smile:

[2015-08-31 10:27] cdamken opened #1128 "Downloads fail when server enables chunked transfer encoding"
Android client is unable to download files via the client app.
It appears that the file is downloading, but there is an issue moving it to final storage cache area.
### Log files

[code]

@MorrisJobke
@davivel

00003751

[2015-08-31 12:16] DavidWiesner opened #1129 "Uploader upload shared files multiple times"
I found a bug when uploading files. When select e.g.: multiple images in the gallery and share this with owncloud app. The files should be uploaded only once.
### Expected behaviour
- sharing 3 files (1.img, 2.img, 3.img ) to a folder A
- folder A contains 3 files (1.img, 2.img, 3.img )
### Actual behaviour
- folder A contains 5 files (1.img, 1 (2).img, 2.img, 2. (2)img, 3.img)
### Steps to reprod

[2015-08-31 12:35] cdamken commented on #1128
@davivel Client 1.7.2 in Android 4.4 and 5.02

[2015-08-31 13:27] davivel commented on #1128
@cdamken, what device models are reproducing the error?

[2015-08-31 15:43] davivel commented on #1128
OK, I debugged with the server and the problem is not related to the device. The error about but move is a side effect of cleaning up the temporary file.

The actual problem is caused because that server has enabled (or enforced) chunked transfer encoding. The Android app does not support chunked encoding in downloads.

If downloads were working before, that means that probably something was chang

[2015-08-31 16:11] davivel commented on #1128
So, they reverted the configuration change and everything keeps working.

But, we should support this header. Now with a more relaxed priority. Keeping open.

[2015-09-01 02:43] strugee opened #1130 "Consider creating a more open review process"
Obviously I'm not a core contributor, so feel free to disagree, but it seems like one of the biggest things holding this project back is lack of manpower. In particular, lack of manpower to review PRs.

I think that it might be a good idea for the Android team (which is mostly @davivel, AFAICT) to create a well-defined set of review guidelines that were clear to the point where a) some random cont

[2015-09-01 07:42] Wikinaut commented on #1125
a symbolic link helped ( ln -s ~/Android/Sdk/tools/android /usr/bin/android ) so that the android tool could be found via the exec path.

[2015-09-01 07:42] #1125 closed

[2015-09-01 10:32] masensio commented on #1121
Hi @Crasha, @JasperWeiss, @hitam4450,

thanks for your suggestions. This issue is already in the repo: https://github.com/owncloud/android/issues/58

So I'll close this issue. Please track it there.

[2015-09-01 10:32] #1121 closed

[2015-09-01 15:16] cdamken commented on #1128
@davivel Thanks a lot!

[2015-09-01 18:27] hitam4450 commented on #58
When will syncing Calendars & Contacts be available in the OC-ANDROID-client?

regards, hitam4450

[2015-09-01 20:56] koug44 commented on #402
The bug is fixed for me, both with Android and new 2.0 client.

I've fixed the PHP cache a few days ago. It may be related

[2015-09-02 05:52] childnode commented on #402
unfortunatly it isn't for me, not even on android, other related issues: https://github.com/owncloud/core/issues/17712 so it not just seems to be an android / client bug hence it worked fine prior OC 8. as it is pointed out there: it is caused by buggy PHP 5.4, you need to upgrade

[2015-09-02 09:00] #1113 closed

[2015-09-02 09:43] jancborchardt opened #1132 "Bring colors and typeface in line with web interface"
This is relevant for both iOS and Android. cc @rperezb @MTRichards @tobiasKaminsky @AndyScherzinger @Kernald @LukeOwncloud @javiergonzper @ggdiez @masensio @nasli @davivel @owncloud/designers

Currently for example the background of the file list is not white, which is a big factor in making it look different from the web interface and not fit in line with the rest of ownCloud.

Colors should be l

[2015-09-02 13:31] dper commented on #58
@hitam4450 I have heard of no work on this.  Expect nothing.  :-)

Many of us use DAVdroid for contacts and calendars.  There are some other good CalDAV and CardDAV clients for Android, too.

[2015-09-03 15:17] cdamken commented on #559
@rperezb Is this in a milestone?

[2015-09-03 17:27] Wikinaut commented on #1025
I am now working on this issue! Coming soon.

[2015-09-03 17:28] Wikinaut commented on #1025
@davivel I am working on it now. Found the place and fixed it already locally.

[2015-09-03 20:15] Alexandero89 opened #1133 "Sync complete Directorys"
Hey Guys,

just had the problem that i need to sync a complete Directory in my OwnCloud-Server to my Android-Device.
Just for Example "Music". If i add a Track to the Directory it should sync to the Server.

Thx in advance!

[2015-09-03 20:18] Alexandero89 commented on #1108
You can just use the App-Store F-Droid. It is an Appstore for OpenSource-Apps.
There you can find a free OwnCloud App

[2015-09-04 10:03] zaxebo1 commented on #1108
@Alexandero89: if i install it from F-Droid, then this app will not make money. I want to promote this app to my friends and family - by offering free installation, BUT i still want the open source to make money (through advertisements) , even in third world users.

[2015-09-04 10:56] jancborchardt commented on #702
Animated GIF support is quite a high priority! :D (Not joking)

@tobiasKaminsky @Kernald @LukeOwncloud @AndyScherzinger anyone of you want to take a stab at this, or know someone who wants to join development and would like to take this on? :)

[2015-09-04 11:05] AndyScherzinger commented on #1132
I can work on the color coding :) shouldn't take to much time. We can also change the fonts if you guys want to do that, which would the mean ship the fonts with the app, load them and dynamically set the font type on the UI/text-elements. AFAIK this needs to be done separately for every element,  so font use might be a point for discussion but colors aren't a problem. :+1:

[2015-09-04 11:20] Kernald commented on #702
Doesn't #1111 fixes it already?

[2015-09-04 11:34] jancborchardt commented on #702
Haha, how did I miss that? :D In that case can you folks please review #1111?

[2015-09-04 16:44] MTRichards opened #1135 "Gracefully handle device out of space for sync or download"
As an ownCloud user, I want to have my Android device to gracefully handle the case where I am out of disk space so that my device and ownCloud app do not crash when I fill storage with ownCloud synced files

Acceptance Criteria:
- ownCloud monitors amount of free disk space on the iOS device
- New setup for the app to leave empty (default is 500 MB - we can adjust later if that is not enough) - t

[2015-09-04 16:46] MTRichards opened #1136 "Automated synchronization of folders (scope: inside 'owncloud' folder)"
# As an ownCloud user, I want to be able to sync a folder from my Android mobile device to the server so that I can access and edit files easily across devices without thinking about it

Acceptance Criteria:
- Two-way syncing, from the folder set, to all its descendants
- For folders existing in an OC account (syncing local folders only existing in the device is out of the scope of this issue).
-

[2015-09-04 16:47] MTRichards opened #1137 "Sync Account in Android"
As an ownCloud user, I want a sync now button so that I can quickly and easily ensure that my files are up to date on my mobile device for the entire account.

Acceptance Criteria:
- A sync now button is available at the top right (next to the +) - could look like a stick version of this:
  sync
- When pressed, sync now refreshes the cache and syncs the folders with the server
- Sync now button ca

[2015-09-04 16:48] MTRichards commented on #1137
This mostly exists already, we just need to add the sync folder option.

[2015-09-04 16:51] MTRichards commented on #41
As an ownCloud user, I want to be able to specify whether I want my ownCloud client to sync folders and files with the server only when on Wifi so that I can save bandwidth and still have my files in sync across devices.

Acceptance Criteria:
- Option is a checkbox on the settings page
- The Instant uploads section header is changed to say sync settings
- Above the instant upload options is a new

[2015-09-04 16:51] MTRichards opened #1138 "Folder Sync User Stories"
Prerequisite:
- Gracefully handle devices out of space situation - https://github.com/owncloud/android/issues/1135

Core Stories:
- Sync folder - https://github.com/owncloud/android/issues/1136
- Sync entire account - https://github.com/owncloud/android/issues/1137
- Sync folder on wifi only - https://github.com/owncloud/android/issues/41

[2015-09-05 03:34] strugee commented on #1133
Duplicate of #3

[2015-09-05 08:49] offlinehoster opened #1139 "Trouble while uploading Images with "colons" in the filename"
Uploading an image with the name "IMG_20150620_171941:nopm:.jpg" is failing.

After renaming the filename to IMG_20150620_171941.jpg it is working fine.

This happens on a Samsung S6 with current official Android 5.1.1 and ownCloud Android app 1.7.2

The photo was original taken on the same Samsung S6 camera app.

[2015-09-06 19:50] AndyScherzinger commented on #1132
The background color needs to be changes in setup @jancborchardt  @davivel
The text highlight color "can't" be changed since it is bound to the material design color names that are already used for the action bar (primary / secondary color)

[2015-09-06 20:18] LukeOwncloud commented on #1129
Yes, this seems to be odd. I am sure @davivel and @masensio will sort it out as they are refactoring the PR. There is another multiple uploads issue, too: https://github.com/owncloud/android/issues/762#issuecomment-68607046 (At least I think it is another issue...)

[2015-09-07 07:21] rperezb commented on #559
@cdamken this is still not planned because of that it has not a milestone.

Perhaps, @AndyScherzinger or @tobiasKaminsky may help us

Thx

[2015-09-07 07:38] AndyScherzinger commented on #559
@rperezb what is the proposed solution to be implemented? I am unsure which of the solutions should be implemented, probably like it has been done for ios? --> https://github.com/owncloud/ios/issues/129

[2015-09-07 07:47] AndyScherzinger opened #1140 "Master build broken"
After pulling the latest master to my branches I realized the code won't compile anymore and that this also applies for the master branch due to a missing string value: error_cant_bind_to_operations_service

ping to @davivel and @masensio since I don't know what value needs to be put in or put back in. For now I added a dummy to my material branch, see https://github.com/owncloud/android/commit/b1

[2015-09-07 07:55] rperezb commented on #559
@AndyScherzinger yes that issue on iOS fix the same.

The use case is that in case that the file/folder name is very long, it´s truncated and sometimes, it´s difficut to distinguish between files that follow the same name pattern.

To fix it we have though about adding the full name (or at least increase noticiable the lenght of the file name shown) anyhow. The idea is to show the full name on the

[2015-09-07 07:55] MorrisJobke commented on #559
![bildschirmfoto am 2015-09-07 um 09 55 10](https://cloud.githubusercontent.com/assets/245432/9711777/9a1a33ae-5546-11e5-906c-4303021002ca.png)

[2015-09-07 07:57] davivel commented on #1140
Researching. Thanks, @AndyScherzinger

[2015-09-07 08:36] davivel commented on #1140
Fixed in https://github.com/owncloud/android/commit/1ff57e0665f138f6558750928012bc0809e52ed0

We overlooked some strings accidentally removed in the branch of the copy operation, but the build didn't fail until the translation strings were updated from Transifex.

[2015-09-07 08:36] #1140 closed

[2015-09-07 10:30] AndyScherzinger commented on #559
@rperezb @davivel @jancborchardt @MorrisJobke @masensio please see PR #1141 for screenshots and implementation for Android :)

[2015-09-07 10:36] AndyScherzinger commented on #41
One issue I had with the wifi upload on my vacation was that the sync started being on wifi (as it should) but went on _after_ I lost the wifi connection and further uploaded the files and thus impacted my data plan (being in a foreign country) pretty heavily with no possibility to cancel the uploads (I know their is already an issue opened for cancellations)

[2015-09-07 10:50] AndyScherzinger commented on #1120
If #1122 fixes the issue shouldn't this issue be closed, since the PR has already been merged into master?

[2015-09-07 10:55] davivel commented on #1120
Right. Thanks, @AndyScherzinger

[2015-09-07 10:55] #1120 closed

[2015-09-07 10:55] AndyScherzinger commented on #1120
you are welcome :)

[2015-09-07 11:52] LukeOwncloud commented on #1139
Duplicate of https://github.com/owncloud/android/issues/604

[2015-09-07 11:52] #1139 closed

[2015-09-07 12:28] vjex opened #1143 "Disable File System Access in Webview Activity"
If an attacker somehow find themselves in a position to inject script into a WebView, then they could exploit the opportunity to access local resources. This can be somewhat prevented by disabling local file system access. It is enabled by default. The Android WebSettings class can be used to disable local file system access via the public method setAllowFileAccess.

`webSettings().setAllowFileAcc

[2015-09-07 12:33] zeugmatis commented on #41
Yes pretty nasty bug - was this recent?  For the phone grabbing files as needed would be fine in my case, with the laptop doing all the syncing.

Mark

--
Syminet Internetworking Solutions
https://secure.syminet.com/
1-949-379-8472 ext. 8049
GPG: 2048R/966057BB

On September 7, 2015 5:36:38 AM CDT, Andy Scherzinger <notifications@github.com> wrote:

[2015-09-07 12:39] AndyScherzinger commented on #41
Yes, in the last two weeks with the git master on my phone.

[2015-09-07 13:08] LukasReschke commented on #1143
Fix is at https://github.com/owncloud/android/pull/1142. THX a lot.

[2015-09-07 14:17] AndyScherzinger commented on #1118
should further icons be added? The screenshot of the webapp shows the gear (for bin) and the "<>" for css. This would also be something that could potentially be added to the android app :)

[2015-09-07 14:23] Kernald commented on #1118
For reference, if additional icons are planned: the mime-type/icon equivalency table from core is [here](https://github.com/owncloud/core/blob/master/core/js/mimetypelist.js).

[2015-09-07 14:29] AndyScherzinger commented on #1118
For Android the icon calculation can be found here: https://github.com/owncloud/android/blob/master/src/com/owncloud/android/utils/DisplayUtils.java#L160

[2015-09-07 14:31] AndyScherzinger commented on #1118
@Kernald could you add the other two? Just the icon work, I can work on the bindings :)

[2015-09-07 17:39] Kernald commented on #1118
I can generate the icons if needed, yes, that's not a problem. Just ping me if they're needed!

[2015-09-07 17:55] AndyScherzinger commented on #1118
Sounds great, just waiting for the others' reply :)

[2015-09-07 19:26] #1143 closed

[2015-09-08 06:03] Kernald commented on #1136
Related standard material design icon [here](https://www.google.com/design/icons/#ic_sync).

[2015-09-08 09:34] AndyScherzinger commented on #1118
@jancborchardt @rperezb what do you think? Adding the other icons would make sense imho since they will be introduced by oC 8.2 on the web and the App would display another icon in case of the new icons (gear/code) which would lead to an inconsistency.

[2015-09-08 09:36] AndyScherzinger commented on #1118
If @Kernald adds them to his PR #1124 I can make the necessary changes to the code afterwards in a separate PR :)

[2015-09-08 10:49] jancborchardt opened #1144 "Actions in long-press menu"
![](https://cloud.githubusercontent.com/assets/1315170/9714873/8ccde6cc-555b-11e5-9440-878aa98b2567.png)

* Share link
* Open with
* Update file
* Rename
* Move
* Copy
* Delete
* Send
* Favorite
* Details

3 things we can do here: Correct the order, add icons and combine actions

The order should be this instead, and
* Share link (with icon)
* Favorite (with icon)
* Open with | Send
* Move | Copy

[2015-09-08 10:52] jancborchardt commented on #1118
Well, the icons should be used for the same filetypes as in the web interface. For example, the icon-code is to be used for all kinds of code filetypes, not only for CSS. See the mimetype list table @Kernald posted: https://github.com/owncloud/core/blob/master/core/js/mimetypelist.js

[2015-09-08 10:56] AndyScherzinger commented on #1118
@jancborchardt I am aware of that :smile: I would change the Android code according to the web code.

@Kernald can you add the other icons that would be great! :+1:

[2015-09-08 10:58] Kernald commented on #1118
Sure, I'll generate them tonight

[2015-09-08 11:19] AndyScherzinger commented on #1144
Hi @jancborchardt

two questions for further details/clarification
* should all items get an icon (I would recommend that)
* How can the actions be combined, since move and copy as well as open with and send trigger different actions?

[2015-09-08 11:20] AndyScherzinger commented on #1118
@Kernald sweet! Thanks a lot!

[2015-09-08 11:21] jancborchardt commented on #1144
Not all items need an icon. I would actually say since it’s soo many actions, only the important actions (Share, Favorite, Delete) should get an icon.

Regarding combining: Can actions not be put on the same row, by splitting the row somehow? The Chrome and Firefox settings menu achieve that.

[2015-09-08 11:32] AndyScherzinger commented on #1144
That would be a bit complicated but possible.

The actual implementation uses the menu definitions and renders a simple list. If we want to have a layout in the way you described it we would need to create a new layout (move from a list to a grid I guess).  At a future point in time I would recommend to move favorite into the item layout to be able to set/unset it there.

[2015-09-08 13:10] AndyScherzinger commented on #1031
@davivel is there a way to cancel an upload (in the code already, not necessarily accessible on the UI) to be able to implement the cancel an upload as descirbed by @stefan-niedermann in his issue?

[2015-09-08 15:17] AndyScherzinger commented on #1001
This is a general Lifecycle/player state bug of the the media preview for non-videos. You can simply reproduce it:

* start a song
* pause it
* flip the phone

--> it has to go from portrait to landscape or the other way around which means the on* methods are called and in contrast to a video the state seems to be dropped/forgotten and thus the player simply auto-starts for the mp3 :laughing:

[2015-09-08 15:54] AndyScherzinger commented on #793
Looking at the code @Spindletop mentioned the actual implementation simply sets the proxy if it finds one in applyProxySettings(); but does not check if the System property "http.nonProxyHosts" holding the host pattern matches the uri.
--> So with the system property it should be possible to write a proxy selector, like shown here: http://madhurtanwani.blogspot.de/2010/05/using-proxyselector-to-ta

[2015-09-08 16:05] AndyScherzinger commented on #853
@purigarcia @tobiasKaminsky works for me too, Android 5.1.1, Nexus5, oC 8.1.1

[2015-09-08 16:07] AndyScherzinger commented on #125
I second @tobiasKaminsky suggestion, when deleting an account on the device the app should simply ask if the accounts data should be deleted on the device. :)

[2015-09-08 16:08] cdamken commented on #559
Nice :+1:

[2015-09-08 16:46] LukasReschke opened #1145 "Reduce the amount of exported activites"
Would it be possible to limit the amount of exported activities? I do get a lot of reports about this though the security impact is arguably discussable.

[code]

[2015-09-09 06:51] rperezb commented on #1118
hey,

yes, this is a great idea.
@AndyScherzinger a new pr makes a lot of sense! waiting for it, in the meantime, the one for the new icons is merged https://github.com/owncloud/android/pull/1124

[2015-09-09 06:55] Kernald commented on #1118
I didn't have any time to generate the remaining icons yesterday, I'll try to do this tonight, sorry about that.

[2015-09-09 07:22] AndyScherzinger commented on #1118
Sounds great @Kernald - no worries about the timeline :) anytime you like is fine for me!

@rperezb I will open up a new PR with an implementation as soon as the new icons are present and I can start rewriting the icon choosing code and put everything in a new master-based branch.

@rperezb Should I then also open up a new issue or just have any discussion etc. in the PR itself?

[2015-09-09 09:00] davivel commented on #1118
Let's keep this issue open for the additional icons.

Thanks everybody for so awesome work.

[2015-09-09 11:09] jochenwezel commented on #125
The suggested dialog depends on the *user* - but this behaviour must be controlled by the organization/Company who "owns" the data and who has to ensure that some people can't access that data any more.

[2015-09-09 21:39] Kernald commented on #1118
A new PR (#1147) has been opened with additional icons ;-)

[2015-09-10 08:10] jancborchardt commented on #1118
So we can close this @Kernald? :)

[2015-09-10 08:10] jancborchardt commented on #1118
So we can close this @Kernald? :)

[2015-09-10 08:11] jancborchardt commented on #1118
(Ah no, the logic is missing. :)

[2015-09-10 08:34] AndyScherzinger commented on #1118
@jancborchardt how smart can my detection algorithm be? I ask this since I would incorporate two things from the web app:
* https://github.com/owncloud/core/blob/master/config/mimetypemapping.dist.json
* https://github.com/owncloud/core/blob/master/core/js/mimetypelist.js

Thus match the type according to the way the web app does it, calculate the mimetype for the file extensions based on the web

[2015-09-10 09:49] jancborchardt commented on #1118
@AndyScherzinger this is the most current list: https://github.com/owncloud/core/blob/master/core/js/mimetypelist.js

[2015-09-10 10:03] AndyScherzinger commented on #1118
That's the one I referred to ;)

[2015-09-10 10:26] jancborchardt commented on #1118
@AndyScherzinger I know. :) I’m not sure about the other one cc @rullzer

[2015-09-10 10:45] AndyScherzinger commented on #1118
imho, the other is used to determine the mime type, based on the file extension :)

[2015-09-10 10:49] AndyScherzinger commented on #1118
Looking at the android code this change will have an impact since the web app code (as of now) detects certain types the android app would after my update. On the other hand the Android app also detects types, like rtf, die web app doesn't...

[2015-09-10 10:50] rullzer commented on #1118
yes, the mimetypemapping is uses to map extentions to mimetypes.
Aliases ( https://github.com/owncloud/core/blob/master/config/mimetypealiases.dist.json ) are used to map multiple mimetypes to one (e.g.. all images types).

And then here is the logic to go from a mimetype to the right image: https://github.com/owncloud/core/blob/master/core/js/mimetype.js

[2015-09-10 10:56] AndyScherzinger commented on #1118
https://github.com/owncloud/android/blob/master/src/com/owncloud/android/utils/DisplayUtils.java#L162 does the mapping on android, which shows a hacky one for "application" which might simply be due to the android (as in operating system) might fail to detect some cases and then defaults to application/octet-stream and then tries to determine the correct icon based on the file extension.
So for th

[2015-09-10 11:22] AndyScherzinger commented on #1118
@rullzer looking at the js code, how do you detect the pdf?

[2015-09-10 12:52] AndyScherzinger commented on #1118
running a matcher test for the code leaves the following pair without a nice icon, which seems odd, since I don't think the web app doesn't match mp3, pdf, and oders like that. The list is "extension" / "mimetype" and no separate icon thus always showing the file.

kra / application/x-krita
mpg / video/mpeg
tif / image/tiff
ogv / video/ogg
sr2 / image/x-dcraw
mpo / image/jpeg
3gp / video/3gpp
oga

[2015-09-10 12:59] davivel commented on #1118
I read too fast, sorry if I missed something important.

The general rule should be ** incremental ** improvement:
- add the cases the web handles and the mobile does not
- don't lose in the mobile app the cases that web handles and mobile does
- if want to add to the web the cases that mobile app handles and web does not, fine, but that's not part of this issue; search for or create a new issue i

[2015-09-10 13:01] AndyScherzinger commented on #1118
I wasn't going to drop android app functionality, just posting the list for @rullzer to decide on what he wants to do with it. I will on the other hand add all mapping neccessary/missing on the android side :)

[2015-09-10 13:03] davivel commented on #1118
Nice :+1:

[2015-09-10 13:20] AndyScherzinger commented on #1118
One thing I will add due to the amount of extension/mimetypes not being is a simple mapping for a certain amount of main types:
* audio/ maps to the audio icon
* video/ maps to the video icon
* text/ maps to the text icon
* web/ is code
* database is file
* httpd/ is archive

in contrast the following main types won't me mapped as a fallback and thus be shown as file in case the complete mime type

[2015-09-10 14:09] AndyScherzinger commented on #1118
Mapping suggested I am going to implement for the (not yet mapped ones from the comments above):

if not explizitly stated it defaults based on the main type

kra / application/x-krita
mpg / video/mpeg
tif / image/tiff
ogv / video/ogg
sr2 / image/x-dcraw
mpo / image/jpeg
3gp / video/3gpp
oga / audio/ogg
iiq / image/x-dcraw
webm / video/webm
blend / application/x-blender
ogg / audio/ogg
xrf / image

[2015-09-10 15:00] AndyScherzinger commented on #1118
Here is the test run for file extensions, pretty verbose....

kra / file
mpg / movie
woff / image
tif / image
potx / presentation
ogv / movie
sr2 / image
mpo / image
swf / app
pptx / presentation
3gp / movie
pot / presentation
dot / document
oga / sound
iiq / image
webm / movie
php / code
blend / file
ogg / sound
xrf / image
tiff / image
keynote / presentation
xlam / spreadsheet
arw / image
markdo

[2015-09-10 16:07] AndyScherzinger commented on #1118
@davivel @jancborchardt @Kernald @tobiasKaminsky @masensio - please see #1149 for the PR with the new implementation + icons

example screenshot showing some of the additional icons now incorporated:
![device-2015-09-10-180148](https://cloud.githubusercontent.com/assets/1315170/9793605/7cd5d6f2-57e6-11e5-8165-8a6c3fe3eb1e.png)

[2015-09-10 21:00] albert-mirzoyan opened #1150 "instant upload power save"
Please add a preferance to upload media only when a power is plugged.

[2015-09-11 06:02] masensio commented on #1150
Hi @albert-mirzoyan,

thanks for using ownCloud.

This issue is duplicating #465. Also we have the PR https://github.com/owncloud/android/pull/745 that implements your suggestion.
Please, track it there. (I'll close this issue)

[2015-09-11 06:02] #1150 closed

[2015-09-11 10:40] davivel commented on #559
@cdamken , this is merged, and planned for https://github.com/owncloud/android/milestones/1.8-current .

But I don't think we hit the original date. September 23rd would be more realistic. What do you think, @cmonteroluque , @MTRichards ?

[2015-09-11 18:08] mgalushka commented on #1029
I have noticed on google nexus 4, that sometimes when I make picture without wifi, this photo is actually never uploaded.

I have instant upload option on wifi only.

When wifi is available - this feature woks perfectly, also works fine if there is not long period passed between taking photo and getting back to wifi - this also works.

Maybe persistence mechanism for storing this event is not idea

[2015-09-11 19:45] cdamken commented on #559
@davivel  Thanks a lot!, I'll tell the good news.

[2015-09-12 10:25] sniperkiki opened #1151 "Integrate server address"
Hello,

How would it be possible to integrate Server address already in application, so the client doesn't need to type address, he only needs to login?

Thanks

[2015-09-13 00:08] diggy128 commented on #559
@cdamken Good news, travel fast.
@AndyScherzinger Thanks again.

[2015-09-13 05:48] sudhirkhanger opened #1152 "Setup Guide - fatal: A branch named 'master' already exists."
I am get `fatal: A branch named 'master' already exists.` when I run `git checkout -b master remotes/origin/master` from step 1 of [setup guide][1].

[1]: https://github.com/owncloud/android/blob/master/SETUP.md

[2015-09-13 18:37] AndyScherzinger commented on #559
Should we close the issue then?

[2015-09-14 06:25] gallardo commented on #1152
The

step in the [SETUP.md]( https://github.com/owncloud/android/blob/master/SETUP.md#1-fork-and-download-the-owncloudandroid-repository) instructions seems definitely wrong: why `-b` (create new branch)? I guess `-t` (track) was meant.

[2015-09-14 07:14] masensio commented on #559
Yes, we should close this issue.
This feature will be availabel in the next release 1.8.0

[2015-09-14 07:14] #559 closed

[2015-09-14 08:17] tobiasKaminsky commented on #1126
Is image preview working with the web frontend of your owncloud?

[2015-09-14 08:33] rperezb opened #1153 "release-1.8"
AC:
- Freeze the code and regression test
- Release on the different markets: Google Play, Amazon and Blackberry

NOTE:
- Code will be fronzen on the branch https://github.com/owncloud/android/tree/release-1.8

[2015-09-14 09:32] gallardo commented on #1152
I'm sorry, I too fast deleted my previous suggestion thinking for a second that I was wrong. According to the instructions, you're cloning a repository that already has a `master` branch. You probably want to track (`-t`), instead of create (`-b`) the branch.

NB.- `-b` would be appropriate if you init your repository, add the remote, fetch the remote and want to checkout master.

[2015-09-14 10:34] sudhirkhanger commented on #1152
@tobiasKaminsky mentioned in the irc that I should try `git checkout master`.

[2015-09-14 10:56] AndyScherzinger commented on #1118
@rperezb just wanted to hint that  #1149 which is so some extend part of #1118 is not planned for 1.8 (which is fine I guess), so the additional 8.2 icons (calendar, contact, code) won't be in this release, just the 8.2 icons for the one already been present in 1.7.2.

Like I said, not a problem, but I wanted to mention it just in case, since we split the issue into two PRs being: #1124 and #1149

[2015-09-14 12:03] masensio commented on #1152
Hi @sudhirkhanger,

Thank you for your warning about this line in the setup guide.
You can use directly ```git checkout master ``` (as @tobiasKaminsky  suggested)

I'll update the setup guide.

Sorry for the inconvenience.

[2015-09-14 12:23] masensio commented on #1151
Hi @sniperkiki,

Thanks for using OwnCloud.

I have a doubt related with your question, are you trying to generate an APK form the project code or do you want to integrate Server address in  an app from the market?

If you are trying to integrate Server address directly in an installed app, the answer is no. You can't   integrate the Server address in an installed app.
But if you need to integrate

[2015-09-14 12:38] sniperkiki commented on #1151
That is exactly what I was looking for!

Thanks so much :)

Sent by Outlook for Android

On Mon, Sep 14, 2015 at 5:23 AM -0700, "masensio" <notifications@github.com> wrote:
Hi @sniperkiki,

Thanks for using OwnCloud.

I have a doubt related with your question, are you trying to generate an APK form the project code or do you want to integrate Server address in  an app from the market?

If you are

[2015-09-14 12:43] masensio commented on #1151
You are welcome.

I understand that this fix your problem, so I'll close the issue.

[2015-09-14 12:43] #1151 closed

[2015-09-14 13:02] jancborchardt commented on #1118
Similar to iOS, the filetype icons are now stuck too far to the left. Can you move them to the right a bit so they are centered between the left edge and the filename? :)

[2015-09-14 15:10] sudhirkhanger opened #1156 "Do I need the latest SDK Build tool or a specific version to import the project?"
Setup Guide says `Android SDK Build-Tools; any version from 20 or later should work fine; avoid preview versions, if any available.` I get following error if I don't have 22.0.1 not installed. I have tried changing compileSdkVersion to 23 and builtToolVersion to 23.0.1 in build.gradle but there is no luck. Although this can be fixed very easily by installing that particular built tool version but

[2015-09-14 16:53] sudhirkhanger commented on #1156
My bad I needed to change buildToolVersion in both the client and the library.

[2015-09-14 16:54] #1156 closed

[2015-09-14 18:25] rullzer commented on #1118
@AndyScherzinger I'm think you are missing something. Lets walk trough the pdf example.

If you look at https://github.com/owncloud/core/blob/master/config/mimetypemapping.dist.json you see that for example

`"pdf": ["application/pdf"]`

So the `pdf` extention is mapped to the `application/pdf` mimetype.

-----

Now https://github.com/owncloud/core/blob/master/core/js/mimetypelist.js is a cache we

[2015-09-14 18:54] AndyScherzinger commented on #1118
@rullzer argh, my bet. I totally didn't see the `"pdf": ["application/pdf"]` line :disappointed:

[2015-09-14 19:53] cdamken commented on #559
Yeah!!

[2015-09-14 19:54] AndyScherzinger commented on #1118
@jancborchardt kind if center aligned the folder icon, see screenshot
@rperezb @davivel @masensio see margin change in PR  #1157

If it fits your needs, feel free to merge :)

![device-2015-09-14-215304](https://cloud.githubusercontent.com/assets/1315170/9860223/04e0553a-5b2b-11e5-839a-f2cf02046921.png)

[2015-09-15 01:51] RonGee commented on #10
Any chance of getting a copy of Ixtalo's version? No sd card support is a total deal-breaker for me.

[2015-09-15 05:12] guettli commented on #10
I ask myself if a native android client app is needed at all.

I use FolderSync since some weeks since it can sync to an external sd card. Works nice - I am happy.

Which features does the native app have, which you don't get by using the web interface with your mobile device?

[2015-09-15 07:29] davivel commented on #1118
@jancborchardt , after moving the icon, the badges slightly overlap them, as shown in the screenshot. Please, confirm that is OK.

We'd like to include this into the release 1.8, but to get it we need to stop discussing tiny graphic details ASAP.

[2015-09-15 07:40] davivel commented on #674
Sorry, needs to wait for 1.8.1

[2015-09-15 07:40] davivel commented on #198
Sorry @michaelstingl , needs to wait for 1.8.1.

[2015-09-15 07:42] davivel commented on #1127
Done in https://github.com/owncloud/android/pull/1154

[2015-09-15 07:42] #1127 closed

[2015-09-15 07:50] davivel commented on #1153
I reviewed the contents of the milestones, and updated them according to our last talk. I moved the things that won't get into https://github.com/owncloud/android/milestones/1.8-current to https://github.com/owncloud/android/milestones/1.8.1-next .

cc @MTRichards @cmonteroluque @rperezb @masensio

[2015-09-15 08:55] AndyScherzinger commented on #1020
This issue should be resolved with the upcoming release 1.8.0 since we added the icons for the different resolutions in #1076 for the action bar and in #1118 for the file icons. :)

So this issue can be assigned to 1.8-current imho, since that's the release fixing the issue.

[2015-09-15 11:43] davivel commented on #1020
True. No more blurriness.

Thanks, @AndyScherzinger

[2015-09-15 11:43] #1020 closed

[2015-09-15 11:57] davivel commented on #1152
Done.

Thanks, @sudhirkhanger , for the tip.

[2015-09-15 12:53] sudhirkhanger commented on #1152
@davivel `git checkout -b master remotes/origin/master` has been changed to `git checkout master remotes/origin/master` which gives an error `error: pathspec 'remotes/origin/master' did not match any file(s) known to git`. The correct command being `git checkout master `.

[2015-09-15 13:09] Jbeatie opened #1158 "Enhansment sugusstion (upload)"
I have been using owncloud for 9 months or so. Owncloud  uploads all pictures and video to my server from the /sdcard/DCIM. Other applications place pictures in /sdcard/DCIM  also like Tasker and some others. Would others users like the option to auto upload other directory on the phone or even include sub directories?

Thanks you  for considering.
-Jay

[2015-09-15 13:57] davivel commented on #692
This part is DONE :)

[2015-09-15 13:57] #692 closed

[2015-09-15 16:21] jancborchardt commented on #1118
Yes, that was the intention. They are like badges on the file.

[2015-09-15 16:23] davivel commented on #1118
:+1: , thanks

[2015-09-15 19:55] terokorp commented on #10
+1

[2015-09-16 07:31] masensio commented on #1152
Hi @sudhirkhanger,

setup guide is updated with your fix (you can see https://github.com/owncloud/android/pull/1155)

Thanks for your tip :)

[2015-09-16 07:36] guettli commented on #10
@terokorp  what was the +1 for?

please implement this feature

OR

My though: Why is this app needed at all? A web interface and WebDAV sync is all you need.

[2015-09-16 07:41] sudhirkhanger commented on #1152
@masensio I am seeing you have changed

`git checkout -b master remotes/origin/master`

to

`git checkout master remotes/origin/master`

which gives following error

`error: pathspec 'remotes/origin/master' did not match any file(s) known to git`

According to @tobiasKaminsky it should be changed to

`git checkout master`

[2015-09-16 07:47] mthmulders commented on #10
@guettli, I personally use the 'share to' feature quite a bit. It allows me to directly upload a picture / video from the Gallery in my phone to my ownCloud server. I don't see how you would do that using the mobile web interface.

[2015-09-16 08:25] terokorp commented on #10
@guettli Sorry, I didint read whole discussion, just few at beginning. my 1+ was "please implement this feature".
My device has just 11G for user and owncloud used most of it (used most of it before moving files manually to sd card). Every time when I add new music/audiobooks I have to manually move files to SD card after download.

I have tried few WebDAW sync clients, but none of them had workin

[2015-09-16 10:38] masensio commented on #1118
PR #1149  and PR #1157 in master.
So I'll close the issue.

[2015-09-16 10:38] #1118 closed

[2015-09-16 15:22] davivel commented on #1153
The code is finally frozen in the branch https://github.com/owncloud/android/tree/release-1.8 .

If anybody wants to help in testing, just build the app from that branch and go for it :+1:

Two simple rules for testing in the search for regressions:
  - bugs that didn't exist in version 1.7.2 and exist in the frozen branch are welcome;
  - bugs already existing in version 1.7.2 (known or not) are

[2015-09-16 15:52] tobiasKaminsky opened #1159 "Notification bar: Show remaining time and speed"
During upload or download the file a progress bar is displayed in the notification area (pull down menu).
For big files a remaining time and the current speed should be displayed.

[2015-09-16 16:06] AndyScherzinger opened #1160 "Refresh icon/action on URL textfield"
With the new (material design) implementation buttons can't simply bind java methods via configuration anymore but need to do this is the way we already did it except for one instance in the login screen, when you hit the refresh button (for example when you entered an invalid owncloud url).

Bug number 2 (I know this should be separated..) is a UI glitch, or rather two on the login screen:
* the

[2015-09-16 16:07] AndyScherzinger commented on #1153
First one found on the login screen (actually rather 3 bugs): #1160

[2015-09-16 16:17] tobiasKaminsky opened #1161 "Resume download if current download aborts"
Steps to reproduce:
- Download very big file over wlan
- toggle wlan
- download aborts
- restart download manually -> download starts from beginning

instead the app should either
- try to download file again
- resume download and not begin with 0%

[2015-09-16 18:39] tobiasKaminsky commented on #1158
This is handled by #1059?
If so, please close this issue.

[2015-09-16 18:40] tobiasKaminsky commented on #1145
May I ask what the purpose of the reduce can be?

[2015-09-16 18:50] mckaygerhard commented on #84
now again "opps page not found"!

[2015-09-16 19:05] Jbeatie commented on #1158
Looks like it is. Thanks !

[2015-09-16 19:05] #1158 closed

[2015-09-17 06:52] rperezb commented on #84
@jospoortvliet can you please check tthe url:  http://owncloud.org/support/android/
thx

[2015-09-17 07:11] davivel commented on #1145
Is that the full list of exported activities?

In that case, the naswer is "no". The three of them are valid entry points to the app:

 ```com.owncloud.android.ui.activity.FileDisplayActivity``` -> from the app icon or notification bar ;
 ```com.owncloud.android.ui.activity.Uploader``` -> from other apps sending files to upload ;
 ```com.owncloud.android.authentication.AuthenticatorActivity```-> f

[2015-09-17 07:18] davivel commented on #1161
Please, don't start working on this for the moment. We will have time to provide more details on it after the release of https://github.com/owncloud/android/milestones

Thanks.

[2015-09-17 07:20] davivel commented on #1159
cc @jancborchardt

[2015-09-17 09:03] jospoortvliet commented on #84
https://github.com/owncloud/owncloud.org/pull/694 - that should solve it once and for all...

[2015-09-17 09:03] jospoortvliet commented on #84
will be live on the next deploy (that would be next week at the latest)

[2015-09-17 09:04] jospoortvliet commented on #84
Preview on https://staging.owncloud.org/support/android/

[2015-09-17 09:55] AndyScherzinger commented on #192
Problem still existed and has been fixed in PR #1163 (which I targeted for 1.8 now) - merge depends on @rperezb @davivel and @masensio I guess

[2015-09-17 09:59] AndyScherzinger commented on #1153
Little update, I added a PR for 1.8 which fixed the two bugs that have been present on the 1.8 branch: #1163 (this also fixes #192 which I didn't see before I already fixed the issue). This is a UI glitch fix now since the crash bug wasn't present on 1.8 but my open PRs for post 1.8.

Thus this doesn't need to be fixed but since it is a simple xml fix you might consider merging it, since it fixes

[2015-09-17 11:49] cdamken commented on #1074
Same here
[code]

[2015-09-17 12:01] AndyScherzinger commented on #1074
Imho such a message occurs in PHP when one starts writing the output before sending the header and as such is a server side implementation bug.

[2015-09-17 12:09] jancborchardt commented on #1159
I’d say remaining time should work for now. Current speed is very technical info and we do not have a lot of space for that.

[2015-09-17 12:14] cdamken commented on #1074
I think the problem happened when I try to upload the file:

![img_20150917_135911_960](https://cloud.githubusercontent.com/assets/7264495/9932718/61ddb3dc-5d46-11e5-907a-d024609f28bc.jpg)

[2015-09-17 16:14] mckaygerhard commented on #84
that not solves at all!, there's a free alternative? that redirects to the gplay store and must pay, there's a free download alternative as post prevously in this topic?

[2015-09-17 16:17] untitaker commented on #84
No, unless you build it yourself you have to pay I think.

[2015-09-17 16:19] AndyScherzinger commented on #84
Nope, like mentioned before, there is the F-Droid variant: https://f-droid.org/repository/browse/?fdfilter=owncloud&fdid=com.owncloud.android

[2015-09-17 17:10] mckaygerhard commented on #84
ok thanks @AndyScherzinger and a important question: what the diference between a fdroit variant and the gplay version?

[2015-09-17 17:11] tobiasKaminsky commented on #1159
Remaining time is really enough as you said :)

[2015-09-17 17:23] tobiasKaminsky commented on #819
Is someone eager to do this?
If not, I can start tomorrow afternoon.

[2015-09-17 17:24] tobiasKaminsky commented on #84
There is no difference, they are the same.
It is only in both stores to provide the app to as many users as possible.

[2015-09-17 17:27] enoch85 commented on #819
Please please please @tobiasKaminsky Would be so nice if you did. I´m not even using the Android app because of this. Would be nice to get this issue sorted out once and for all.

[2015-09-17 17:32] #1133 closed

[2015-09-17 17:37] tobiasKaminsky commented on #125
@jochenwezel
I see your point but how can this be achieved?
The app then must verify that the account was deleted and that the option "force delete files on remote devices" is enabled and then delete the complete folder with all files?

@davivel Do you know how this is being handled by the desktop sync?

[2015-09-17 17:40] tobiasKaminsky commented on #1031
@AndyScherzinger FileDownloader: Line277
/**
         * Cancels a pending or current download of a remote file.
         *
         * @param account ownCloud account where the remote file is stored.
         * @param file    A file in the queue of pending downloads
         */
        public void cancel(Account account, OCFile file)

[2015-09-17 17:51] tobiasKaminsky commented on #1130
This is a very good idea I think.
At least code formatting review can be done by all.
So we could add a new label: "ready for community review"
And this community review should be done by at least 2 persons.
After this review the label can change to "ready for review".

With these new labels the workflow can be described by labels as followed:
0 - Backlog
1 - Working
2 - Ready for community review

[2015-09-17 17:54] tobiasKaminsky commented on #1125
Or just put the ~/Android/Sdk/tools folder in PATH as there are other files that are worth having them globally available, like fastboot.

[2015-09-17 18:22] tobiasKaminsky commented on #1152
As far as I understand
git checkout master remotes/origin/master
can be omitted as the master is the same as origin/master:

$git branch -v -a
master                                                                  a8d55d0 Fixed range of valid versions to install
  remotes/origin/HEAD                                                     -> origin/master
  remotes/origin/master

[2015-09-17 18:23] tobiasKaminsky commented on #1108
Is there an overview how much money is generated by ads?

[2015-09-18 07:31] jochenwezel commented on #125
@tobiasKaminsky yes, this would match approx. to the requirement. Only 1 additional point: "force delete files on remote devices" should be default setting (if you like, a General Switch for changing the Default to "disabled" could be provided in administration area)

[2015-09-18 09:22] joeplus commented on #125
Just out of interest: How is it possible for an organization to administer the remote owncloud app and to ensure that when the user account is deleted (e.g. when the employee leaves the company) all files are deleted as well?

[2015-09-18 10:52] jochenwezel commented on #125
1. the Client app must still sync with the Server "with a valid Login"  (for this, the Server must still allow (at least for a few weeks) to Login with the current Login data)
2. after successful Login: Client app recieves delete notifications for all files and Folders
3. cleanup done on 1 device - maybe other devices/sync Clients follow as soon as they sync next time

[2015-09-18 11:38] AndyScherzinger commented on #51
This is imho fixed with 1.8, see screenshot due to discussions I had with @jancborchardt on the material design changes :) - The screenshot is from a Nexus5 and like @davivel said the screen real estate depends on the phone (and also on the keyboard, mine being quite big.)

Screenshot:
![screenshot_2015-09-18-13-33-54](https://cloud.githubusercontent.com/assets/1315170/9958442/4d41a310-5e0a-11e5-8

[2015-09-18 11:39] AndyScherzinger commented on #51
We can leave it open in case @jancborchardt wants te logo resizing implemented which might also be tricky, since the UI elements will be hoping upon resize of the logo...

[2015-09-18 12:09] joeplus commented on #125
Okay, that process makes sense. I didn't know that there is an admin functionality to send a "delete" command but I guess the admin would just manually delete the files associated with the user account?

[2015-09-18 12:16] jochenwezel commented on #125
yes, the files on the Server have to be deleted as usual - just that the user account "keeps alive" as long as all known devices synced the many file deletions

[2015-09-18 12:20] masensio commented on #192
PR #1163 merged so this issue is fixed

[2015-09-18 12:20] #192 closed

[2015-09-18 12:48] davivel commented on #125
The functionality that @jochenwezel talks about requires server side support. At this moment is not available, as far as I know, and I don't know what are the plans regarding.

About the deletion controlled by the user, it's a different functionality totally on the device side. I'm not sure what was the original intention of @svenclemens for this issue, maybe you can clarify it.

In any case, both

[2015-09-18 13:31] svenclemens commented on #125
@davivel My original intention for this issue was that (shared) files on the device should get deleted after the related account was removed from the device.

But as @jochenwezel idea is very close to my intention I would see it as an addition to my issue.
I would like to see both of this features implemented in the app.

In a business or large-scaled environment it would be useful to have both, t

[2015-09-18 13:49] jancborchardt commented on #51
I’d actually say that we don’t need logo resizing, but the logo should be smaller by default. Possibly even only have the icon, and the text »ownCloud« next to it, like in the header when logged in.

Because the log in screen will _always_ have the keyboard expanded, or there is no reason that it should ever not show there. So all elements should fit above the keyboard, and the keyboard shown by d

[2015-09-18 15:08] tobiasKaminsky commented on #819
@MTRichards In addition to https://github.com/owncloud/android/issues/819#issuecomment-124560233 I have extended your idea to (and shrinked it):

**Sending file to ownCloud from another app**
- upload to server, no local owncloud copy

**Instant uploads, depends on setting**
- upload to server, no local owncloud copy
- upload to server, copy file to owncloud folder
- upload to server, move file to

[2015-09-18 15:34] joede commented on #819
@tobiasKaminsky this would be the most flexible solution. So yes, I would like it.

[2015-09-18 16:41] sudhirkhanger commented on #1152
@tobiasKaminsky Can you please reopen the issue so that it can get fixed?

[2015-09-18 18:20] enoch85 commented on #819
@tobiasKaminsky :+1: Covers all possible scenarios from my POV.

[2015-09-19 11:23] tobiasKaminsky commented on #1152
@davivel please check and change it? :)

[2015-09-19 11:23] tobiasKaminsky commented on #819
Great :)
Making good progress right now.
Should be done monday morning :)

[2015-09-19 12:38] tobiasKaminsky commented on #899
I would also say that this is the next really big and important improvement that we should challenge right after #819 (which I  have nearly finished).

[2015-09-19 12:39] tobiasKaminsky commented on #899
As @masensio said here https://github.com/owncloud/android/issues/899#issuecomment-76148522 a long press would also bring the action for one single file, so "Then we need to add a 3-dots-icon to each row (on the right) which then invokes the context menu for each file." as @jancborchardt said (https://github.com/owncloud/android/issues/899#issuecomment-76180502) should not be needed, right?

[2015-09-19 21:23] tobiasKaminsky commented on #899
Currently design with no functionality.
The checkboxes are only shown if one item is selected and disappear if no item is selected.
@jancborchardt the color of the selected items is set to #1D2D44, but seems to be lightened up by android...
(Of course the position of th checkbox in the square images is not correct).

![multi1](https://cloud.githubusercontent.com/assets/5836855/9978219/f6375cb0-5f2

[2015-09-19 22:15] Bugsbane commented on #819
@tobiasKaminsky - SOunds good to me. Of course we just need to be ultra careful to be sure that files *have* been successfully copied to the server before automatically deleting them, regardless of things like an interrupted connection, phone being shutdown midway, app crashing etc.

[2015-09-20 01:51] Bugsbane commented on #1108
Seems to me that having most users install an app that shows ads, which if we use the most standard ad networks (*cough* Adsense *cough*) also includes large privacy risks, that we're actually encouraging users to run counter to the actual founding spirit of ownCloud, that is to get people's privacy back by getting them off privacy destroying networks.

Personally, I would rather have an easy to f

[2015-09-20 01:58] Bugsbane commented on #1097
I just tried with client version 1.7.2 and server 8.1.1 and a folder with 342 photos on a Moto E second generation running Android 5.1 and it works for me.

[2015-09-20 05:30] tobiasKaminsky commented on #819
@Bugsbane the app transfers the file to the server and gets a result code from it back.
And only if this code is "success" the further actions will be executed.
So this is already very safe, but will get even better when #919 will be merged.

[2015-09-20 06:13] tobiasKaminsky commented on #899
CAB will include:
if one item selected: all items from currently long press menu
if > 1 item seletced: download, move, copy, delete

[2015-09-20 08:19] tobiasKaminsky opened #1164 "Comment negative ratings on play store"
There are a lot of "does not work for me" comments on the play store.
Maybe it would be a good idea to write those people and invite them to either
- use the forum
- report an issue here
- irc

As far as I see this, our app is working fine, but there can be a lot of problems as the user can manage their own server...

[2015-09-20 08:22] tobiasKaminsky opened #1165 "Implement functionality check"
Due to the fact that everyone can manage their own server, it is often hard to find why some things do not work.
Maybe it is a good idea to implement a functionality check with (not complete)
- login
- thumbnails
- upload dummy file
- move dummy file
- and so on

This could be done with a verbose log, which can then be posted directly here, if there is a problem.
(And of course present a link to g

[2015-09-20 08:49] joede commented on #819
@tobiasKaminsky to add a little bit more redundance and so (maybe) security, it would be an option to delay the deletion of the local copy to the next sync. The first "sync" copies the file to the server and mark is as "latest version". Depending on the settings, the "local copy flag" must be removed. So with the next sync, the loal copy will be deleted. As mentioned before, it's redundant. Since

[2015-09-20 10:23] geotheory commented on #41
Sounds to me like a sensible solution to a 3 year old problem.

[2015-09-20 11:43] tobiasKaminsky opened #1166 "Sync only one wifi continues after connection switch to mobile"
As @AndyScherzinger reported (https://github.com/owncloud/android/issues/41#issuecomment-138266840):
One issue I had with the wifi upload on my vacation was that the sync started being on wifi (as it should) but went on after I lost the wifi connection and further uploaded the files and thus impacted my data plan (being in a foreign country) pretty heavily with no possibility to cancel the uploads

[2015-09-20 11:44] tobiasKaminsky commented on #41
@AndyScherzinger @zeugmatis @geotheory This is a separate issue, please track it there: #1166

[2015-09-20 11:48] tobiasKaminsky commented on #1166
@AndyScherzinger:
Imho a "simple" solution would be to check before every file if "wifi only" is activated and wifi connected and then upload the next file and else to stop (or pause).

[2015-09-20 11:48] tobiasKaminsky commented on #1166
Additionally the upload must receive a broadcast intent if the connection switches from wifi to mobile data and cancel the upload.

[2015-09-20 11:49] geotheory commented on #41
That's only for pictures/videos as I understand.

[2015-09-20 12:46] tobiasKaminsky commented on #41
@geotheory Currently it is only for instant upload, which is as for now only for photos and videos.
A sync for folder with any content is currently delevoped by @davivel (#3).
When this is completed it should give an independent preference to control it.

[2015-09-20 14:20] tobiasKaminsky commented on #819
@joede I do not think that this is necessary. In case that the upload is not reliable it should be improved to get it reliable...

[2015-09-20 14:45] tobiasKaminsky opened #1167 "Move file: remember last used folder"
Remember folder that was used for the last move file operation.

[2015-09-20 14:46] tobiasKaminsky commented on #1042
This will be covered by #899, therefore I close it.
As for the other wish, I have created #1167.

[2015-09-20 14:46] #1042 closed

[2015-09-20 19:46] wolkenschieber commented on #1074
Same here. Line number seems to vary.

[code]

[2015-09-20 20:53] AndyScherzinger commented on #1166
Jepp, agreeing on the solution! :)

[2015-09-21 07:07] AndyScherzinger commented on #1160
imho closed since #1163 has been merged. @masensio @davivel

[2015-09-21 07:08] AndyScherzinger commented on #51
imho partial fix already merged (see screenshot) with #1163
Logo changes proposed by @jancborchardt should be postponed and planned for 1.8.1 - what do you think @davivel @jancborchardt @rperezb ?

[2015-09-21 07:09] davivel commented on #1160
:+1:

[2015-09-21 07:09] #1160 closed

[2015-09-21 07:50] tobiasKaminsky commented on #819
Ladies and gentleman...
There is now (finally) a PR for this :)
Please see, review and community test it: #1168
Especially the "keep in sync" files should be tested very extended.

[2015-09-21 08:07] tobiasKaminsky commented on #1074
@PVince81, @DeepDiver1975 Can this be related to upload as @cdamken thinks?
How can we try to track this down?

@all: server and app are working without problems except of this ominous error message?

[2015-09-21 08:15] enoch85 commented on #1074
@tobiasKaminsky Yes, everything works except this error message.

[2015-09-21 08:54] jancborchardt commented on #51
@AndyScherzinger it should just be the logo (basically the app icon) and right next to it the text "ownCloud" in normal text. Not in the logo font, because that would be a mangled version of the logo.

[2015-09-21 08:57] jancborchardt commented on #899
Make the color a light grey then, that will look much better (so it looks like #f8f8f8 as on the web interface).

Also, the grid lines in thumbnaip view shouldn't be there.

[2015-09-21 09:02] geotheory commented on #41
Marvellous, thanks!

[2015-09-21 09:38] AndyScherzinger commented on #51
@jancborchardt would that be the same for landscape mode, where the horizontal space is rather limited due to the 2 column layout?

[2015-09-21 09:40] AndyScherzinger commented on #899
The grey coloring gets even more important when #1090 is merged, due to the accent colored ticked checkboxes

[2015-09-21 09:45] jancborchardt commented on #899
Yeah, also because the boxes themselves are already a very present indication. Only a slight row highlight is needed, if at all.

[2015-09-21 09:48] jancborchardt commented on #51
No, horizontal mode is of course different. But portrait on phones being the most standard way to hold your device, it should look really good there.

[2015-09-21 11:40] Dianafg76 opened #1169 "I can't upload the video"
### Steps to reproduce
1. Tap 'Upload', select 'From files'ç
2. Browse to camera folder (<public_storage>/DCIM/Camera/) and select the last video in the list
3. Click in Upload, the application says "Wait a moment" . The dialog never vanishes, and I can't upload the video

IMPORTANT: camera folder has 100s of pictures

Maybe related: after a while, the app crashes, with the next log:

´´´
09-21 13

[2015-09-21 12:19] sunftec opened #1170 "problem with Error:Configuration with name 'default' not found in android std"
hi mR
tanks you for this,
i have a problem with

Error:Configuration with name 'default' not found.

in grdl

[2015-09-21 13:55] cdamken commented on #1074
In my case it works too... they client just have to retry and works...

[2015-09-21 19:28] davivel commented on #1169
Fixed in #1171.

[2015-09-21 19:52] tobiasKaminsky commented on #899
@jancborchardt no grid lines? You mean that the images are without a gap side by side?
This has nothing to do with this issue and also I am not sure if this will look good?
Google's gallery app also has a little space

[2015-09-21 19:52] tobiasKaminsky commented on #1170
Have you followed the guide correctly?
Do you run ./setup_env.sh gradle && ./gradlew clean build?

Please provide more infos.

[2015-09-21 23:00] fxshpac commented on #761
@davivel With Android client 1.7.2 and OCS 8.1.3 on x86 Ubuntu, I can reproduce the same issue. All the uploaded files are now showing incorrect time stamps now and it makes my other backup software believe all of them have been changed and copy them all over again.

The PC client however works just fine. Can you share some progress on this please? Thx

[2015-09-22 06:59] marissacute commented on #10
I would like this feature as well. I want to use owncloud to download my music library to my phone, that's not going to fit on my internal memory.

There must be more use cases like mine where the to be synced data is too large to reasonably go on the phone's internal memory, you can't expect all users to setup WebDAV sync.

[2015-09-22 07:22] rperezb commented on #1164
@tobiasKaminsky thanks for your concern.

Yes, sometimes, the eror doesn't rely on the Android app itself but on the server configuration.

First step, I'd suggest to add these ideas to the app description, what do you think?

@MTRichards @jospoortvliet would this work?

[2015-09-22 07:37] Dianafg76 commented on #1169
I tested this issue, and now is working OK
Closed

[2015-09-22 07:37] #1169 closed

[2015-09-22 08:02] jancborchardt commented on #899
@tobiasKaminsky I mean the grey lines between the folders in your second screenshot (thumbnail view) from https://github.com/owncloud/android/issues/899#issuecomment-141708507 – they don’t look good and are not there by default. ;)

[2015-09-22 13:32] MTRichards commented on #1164
Good idea, as a lot of this is user configuration error. I would point them to github here for error reporting.

[2015-09-22 16:50] Bugsbane commented on #819
Thanks for all your work on this @tobiasKaminsky !

[2015-09-23 01:59] asyougo opened #1172 "Compile error using Eclipse"
When I try to set up the owncloud androud project, I failed to compile it.
I have following errors.
![image](https://cloud.githubusercontent.com/assets/7529885/10036390/be22b3bc-61d9-11e5-9899-0996491cc627.png)
![image](https://cloud.githubusercontent.com/assets/7529885/10036396/d3b4cf62-61d9-11e5-8305-ceafa7673e2b.png)
Hope for solution!

[2015-09-23 08:08] guettli opened #1173 "Development Roadmap"
What does the development roadmap of owncloud-android look like?

Where is the focus of the developers today, tomorrow, ...?

What are the next steps?

What will be done later?

[2015-09-23 08:09] guettli commented on #10
I create a very related ticket: https://github.com/owncloud/android/issues/1173

Quoting:
{{{

What does the development roadmap of owncloud-android look like?

Where is the focus of the developers today, tomorrow, ...?

What are the next steps?

What will be done later?
}}}

[2015-09-23 10:41] jospoortvliet commented on #1164
agreed.

[2015-09-23 17:19] tobiasKaminsky commented on #899
Is it okay, that a long click always lead to multi-select?
Maybe it is better to use the K9 way:
Long press opens the current menu as always, but with an additional entry "select" and only this will initiate multi-select

[2015-09-23 17:39] tobiasKaminsky commented on #899
@jancborchardt Regarding the grey lines: I will look into it, I suspect that this is a default behaviour of android for multi-select. But I hope that I can disable it ;)

[2015-09-23 19:18] jancborchardt commented on #899
@tobiasKaminsky no – long-press should always lead to multi-select. The menu should be brought up by an extra 3-dots icon on the right of the row, just like in the mobile web interface. Ok?

(K9 Mail is honestly not a good inspiration when it comes to interface design. ;)

[2015-09-23 19:21] tobiasKaminsky commented on #899
This will not work for grid mode.
So currently I would do it this way, to show in menu (three dots in the CAB [action bar above]):
if one item selected: all items from currently long press menu
if > 1 item selected: only download, move, copy, delete

[2015-09-23 19:22] tobiasKaminsky commented on #1173
There is the label "roadmap" for issues.
Beside that you can see the open pull requests, which will be merged sooner or later.
To see the next steps, you can browse the milestones.

[2015-09-23 19:25] tobiasKaminsky commented on #1172
Eclipse is not maintained any longer by Google for building android apps.
Therefore I recommend Android Studio.

Beside that: the red exclamation mark indicates that there is a problem with the build path.
But I cannot identify the error in values-bal/strings.xml...

[2015-09-23 19:33] tobiasKaminsky commented on #10
There are just too few man power for this.
(And I personally do not have an external sd card, so therefore this issue has low priority for me [note: I am not an official developer and doing this in my spare time).

So either try to support by developing code or there is a bounty hunter: https://www.bountysource.com/teams/owncloud/issues?tracker_ids=11489

[2015-09-23 19:38] tobiasKaminsky commented on #1164
Then we need to decide, when this "error reporting" dialog should be displayed.
First it should be shown in the navigation drawer to get it more aware by the user?
Then it should be shown if certain functions fail: log in, upload(?), download(?), empty directories(?)

@jancborchardt @davivel

[2015-09-23 19:57] jancborchardt commented on #899
@tobiasKaminsky grid view should have the 3-dots menu too, to the right of the filename / details below the filetype icon, and for images in the bottom right corner.

[2015-09-23 19:59] jancborchardt commented on #1164
Yeah, good point to show an issue reporting link when functions fail. This is also done by Chrome, Firefox etc when the app crashes – you can send feedback there.

@rperezb @MTRichards but we should really actually go in there and write to these people, at least the ones rating 1 star only. Putting it in the app description is not going to help much because people do not read that.

[2015-09-23 20:04] MTRichards commented on #1164
I think we only can write to the Android ones. The iOS ones we can't, we don't get the details.

[2015-09-23 20:05] tobiasKaminsky commented on #899
Is this not too much overload?
The stock google gallery app is it doing the same way as I have described it.

[2015-09-23 20:09] tobiasKaminsky commented on #1164
A good point would be #1165 to get better feedback without having experienced/advanced user.

[2015-09-23 20:24] jancborchardt commented on #899
Hm, ok – should then the behavior differ between list view and thumbnail view? Might indeed be better to not show an action icon over every thumbnail as it will obstruct the pictures.

[2015-09-24 07:00] davivel commented on #1164
That's an automatic operation for apps installed from Play Store. It's already working for the OC app. When users decide to send a crash report, we can see it in the Play Store developer console. We already monitor from time to time those crashes, and fix those that grow in numbers in a meaningful way.

First it should be shown in the navigation drawer to get it more aware by the user?
Then it sho

[2015-09-24 07:50] davivel commented on #819
@masensio is reviewing both code and functionality.

Really nice to see advances in this topic :) .

For the moment:

Cool!

Need to review the look & feel, but nice start too.

The option to delete the files after uploading is fine, though maybe we could have it in a separate PR.

I'm worried about the other settings. I'd rather silently do nothing, and give no other option. As @jancborchardt use

[2015-09-24 08:41] masensio commented on #819
@tobiasKaminsky, I'm reviewing the user interface, as @davivel said, it is a good start but it need to review it:
I've detected some problem related with that:

The Settings view:
![screenshot_2015-09-24-09-15-02](https://cloud.githubusercontent.com/assets/3862330/10068779/9f4ebcdc-62a7-11e5-9850-392109c06e9e.png)

You don't know what is the value for this preference. Maybe it is better to introdu

[2015-09-24 08:45] AndyScherzinger commented on #819
As for the Dialog, for the material design one needs to use the AppCompatDialog implementation from the AppCompat lib instead of the Android standard one, that should solve the render problem :smiley:

[2015-09-24 11:21] tobiasKaminsky commented on #819
For nearly all situations I agree with you. But I think this one is special and all options are valid and are needed:
- do nothing: Just upload, no file duplication. Easy and simple. Does not change anything.
- copy: Current situation. Maybe obsolete(?)
- move: For me the most useful case: The taken images are still on the phone and visible in gallery (due to registeration in medaService), BUT can

[2015-09-24 15:08] joede commented on #819
Just a stuped question. If oher tool like QuickPic can *see* the images, can the tools delete these files too? If so, what happens to the sync process? Does the ownCloud client sync the *deletion* of the file?

[2015-09-24 15:13] kiyayi commented on #597
OwnCloud i fantastic. But am of the opinion that there should be an option in either streaming a file or downloading it first.

[2015-09-24 15:55] tobiasKaminsky commented on #899
I would keep the behaviour the same for list and grid view.
Then I will do it this way.
We can change it later anyway ;)

[2015-09-24 15:58] tobiasKaminsky commented on #1164
My intention for this was to get a better understanding what is not working and try to fix this.
Maybe it is most a misconfigured server and then this could be fixed by a better manual or a smarter config check.
But you are right that this would lead to much more user feedback, that needs to be handled.

[2015-09-24 16:02] tobiasKaminsky commented on #819
@joede The deletion of the local file on the device is not synced to the server.
But I do not know, if the app is noticed about the deletion.
I bet that the app tries to open the local file and fails as it is not there OR the app downloads the file again (which is most likely)

[2015-09-24 16:13] tobiasKaminsky commented on #1164
Maybe it is a good idea to direct these users to the forum? And only if the user there confirm that it is a bug they should report it here.
With this approach the workload "here" is only a little higher, but the users get support.

[2015-09-24 16:22] joede commented on #819
@tobiasKaminsky so the OC app should disallow modifications of the filename and deletions. Is this possible?

[2015-09-24 16:58] jancborchardt commented on #899
@tobiasKaminsky yeah, good call. As long as it follows nicely designed and established Android apps then it’s good.

[2015-09-24 17:27] tobiasKaminsky opened #1175 "Deletion/modification of owncloud files from "outside""
from @joede:

from @tobiaskaminsky:

from @joede:

[2015-09-24 17:29] tobiasKaminsky commented on #819
@joede please let us discuss this in a new issue as tis is not related to this issue: #1175

[2015-09-24 17:31] tobiasKaminsky commented on #1175
I do not know if it is possible that an app is restricting its files to other apps.
As far as I know they are either "public" or "private". But with private no other app can access these files.
But as long as the app does not sync the changes, that are made on the device, back to the server, I guess it is fine, or?

[2015-09-24 18:06] joede commented on #1175
My thought was the following. The image is moved to the OC folder and than synced to the server. The app saves the state "file has local copy and is synced".  No he file is deleted without the notice of the app. What happens after this?
On my notebook I sync files with Unison. If I delete a file, this *deletion* is synced to ownCloud. I don't know the internals of the OC app, so I don't know how a

[2015-09-24 18:32] tobiasKaminsky commented on #1175
There is currently no 2way sync, so the app will not notice/track that the file is deleted.
In the nearer future there will be 2way sync, but I guess that it is then adjustable how to behave or which folders should be synced two way.

[2015-09-25 08:13] guettli commented on #10
@tobiasKaminsky  thank you for the hint. I donated 20$ to get **this external sd card issue**.
Unfortunately I saw no way to tell this inside the donation.

[2015-09-25 09:43] guettli commented on #1173
I see. Github issue tracking system gets used for this. Do you think this is a good tool for strategic planning?

[2015-09-25 14:50] tobiasKaminsky commented on #1173
Sorry, it is called "0 - Backlog": https://github.com/owncloud/android/labels/0%20-%20Backlog
Relating the "strategic planning": I do not know if the guys from owncloud using something else.
This is maybe related to #1067

[2015-09-25 14:53] tobiasKaminsky commented on #10
I do not know the work flow exactly, but this should be the site to start with:
https://www.bountysource.com/issues/541829-configure-download-folder-external_sd

[2015-09-25 15:15] tobiasKaminsky commented on #819
@masensio I am continuing the communication in the PR: #1168

[2015-09-25 15:50] tobiasKaminsky commented on #899
I have created a Pull Request: #1176, let us discuss everything else there.
Currently the multi select is not working.
But @AndyScherzinger maybe you can have a look from where these grey lines are coming?

[2015-09-25 19:17] MadWhale commented on #1172
I have the same issue.

[2015-09-27 15:51] AndyScherzinger commented on #899
You mean on the grid view? sure!

[2015-09-27 16:22] AndyScherzinger commented on #899
Update: fixed the "grid coloring" which actually is the background color, I had to change the setup.xml color definition see https://github.com/owncloud/android/commit/6a8e5930cd7045a5d054bd269a14aea1b7b0d3e4 which is in line with the color changes proposed by @jancborchardt anyways and which I already added to the material branches (buttons, fab). So this won't by a merge problem in the future :)

[2015-09-28 01:41] asyougo commented on #1172
I have solved this problem. My solution is deleting "values-bal" and “values-tzl" folders under "res". I speculate that some abbreviations of languages are not recognized by Eclipse for some reason.

[2015-09-28 08:07] BearTi commented on #1126
Yes, this does work!

[2015-09-28 16:56] masensio commented on #1153
Hi @all,

this release is available in the market. Enjoy it!

So I'll close the issue :)

[2015-09-28 16:56] #1153 closed

[2015-09-28 17:32] AlterDepp commented on #616
I think it's the same problem at me. I have a server which is connected by ipv4 and ipv6, but I'm not sure, if ipv6 is working. My client is from f-droid, version 1.7.2, owncloud server is 8.1.3. I turned off ipv6 on my router and connection was fine. After configuring the owncloud client, I reenabled ipv6 and everything worked fine. Other apps like owncloud news reader, owncloud bookmarks, DAVdro

[2015-09-29 07:18] xylo commented on #775
I absolutely agree with LukeOwncloud! Allowing external players to play video and audio streams would solve a lot of problems:
* much more video and audio formats supported
* much better navigation, volume, and brightness control
* full screen mode
* direct streaming of videos instead of downloading and playing

Moreover I would suggest to give the user the choice of downloading the video/audio fi

[2015-09-29 07:23] rperezb commented on #51
@jancborchardt Not sure about changing the position of the text, in all the ownCloud clients, it´s used the same, Logo and behind the text (desktop, web, iOS..) if this is to be changed, I'd change it on every one.

In the meantime, I move this to the backlog waiting to have an agreement.

[2015-09-29 07:27] rperezb commented on #974
This issues seems to be fixed, if not, please reopen

[2015-09-29 07:30] rperezb opened #1178 "As an OC user I want to SHARE VIA LINK with password protection and expiration time using the new interface so that I can secure my shared files"
AC:
- New interface -> https://github.com/owncloud/ios/issues/425
- Keep the current options of Share link (apps to share and unshare)
- The interface should be updated with the server data
- Possibilities of enable/disable password protection.
- Possibilities of enable/disable and change the expiration time

NOTE:
This is related to: https://github.com/owncloud/ios/issues/425
This is the first st

[2015-09-29 07:46] rperezb commented on #1173
@guettli as @tobiasKaminsky has already pointed the focus of the Android team today and in the near future is: https://github.com/owncloud/android/milestones/1.8.1-current

What will be done later? Certainly, we will take care of the pr, for instance https://github.com/owncloud/android/pull/821, this is a very big one so the idea is to work on it on small pieces, meaning this, dividing it in diffe

[2015-09-29 07:46] #1173 closed

[2015-09-29 07:47] rperezb commented on #1172
@MadWhale please, check @asyougo solution, if this didn't fix it, please reopen this issue and add further details

[2015-09-29 07:47] #1172 closed

[2015-09-29 07:52] rperezb commented on #1167
@msrex has also asked for this feature
He added "it could offer a click on the cloud symbol at the top of the move target selection window as a way to jump to the root dir"

[2015-09-29 08:18] AndyScherzinger commented on #1153
Woohoo! Nice work everybody and a big thank you for having me! It is great to be a part of this release!

[2015-09-29 09:08] jospoortvliet commented on #1164
@tobiasKaminsky yeah, that is something we could add to the description of the Android app - link to the forum for questions.

[2015-09-29 09:12] AndyScherzinger commented on #775
This should be an easy one I case it is decided to implement this. It should be simply calling an intent, e.g. like it is described here: http://stackoverflow.com/questions/15807729/android-play-video-through-intent
This might be working for streaming to but that would need some further investigation.

@jancborchardt @rperezb what is the general strategy for media playing in ownCloud?
I see benefi

[2015-09-29 11:14] rperezb commented on #1164
Added this to the description:

Should you have any problem connecting or synchronizing with your ownCloud server, please contact us on github.com/owncloud/android/issues or check https://forum.owncloud.org/.

It will be available in some hours

[2015-09-29 12:12] rperezb commented on #1153
such a great team work!

[2015-09-29 12:33] etiess commented on #1110
@tobiasKaminsky I just installed the last version of the android app: looks great. (v. 1.8.0)

This issue is still present on my mobile: is your PR integrated in this version? Thank you

[2015-09-29 12:39] jospoortvliet commented on #1164
Awesome!

Tobias, given this seems the best we can realistically do right now, you OK closing this issue?

[2015-09-29 12:44] AndyScherzinger commented on #1110
Hi @etiess this issue is still open (see milestone on the right of this issue) but this might be something which could be integrated into 1.8.1 and thus released with the end of year release. What do you think @rperezb ?

[2015-09-29 18:09] tobiasKaminsky commented on #1153
Great :)
Looking forward to all the positive comments ;)

[2015-09-29 18:15] tobiasKaminsky commented on #1164
As a lot of german users are around (I suppose so), it also should be in german:
Sollten Verbindungsprobleme oder Synchronisationsfehler mit Ihrem privaten Owncloud-Server auftreten, können Sie uns über http://github.com/owncloud/android/issues (englisch) oder
https://forum.owncloud.org (deutsch & englisch) erreichen.

And the github.com should be a link, that it is easier to click.

[2015-09-29 18:34] tobiasKaminsky commented on #899
@AndyScherzinger Thanks again :)
Had yesterday big problems, but now it is working :)
PR should be done by end of the week. For my daily use this will be one of the best enhancement after remote thumbnails :)

[2015-09-29 18:52] agilob opened #1179 "[feature request] Preference to set if notifications should be shown"
New preference checkbox which indicates if 'instant upload' should publish notifications.

[2015-09-29 19:04] tobiasKaminsky commented on #775
@AndyScherzinger The "intent sending" is already there, see "open with".
So it would only be one Preference and if it is set, then the normal click would show the same as "open with".

[2015-09-29 19:06] tobiasKaminsky commented on #1179
Do you want to completely disable all notifications?
As far as I know it is planned to remove the success notification as this is the expected behaviour and only show failing messages.
But I think an upload progress bar should always be shown as the user should know what the app is doing.

[2015-09-29 19:18] agilob commented on #1179
I was thinking about a situation when a device was lost or stolen and a thief takes pictures/videos. It should be possible to silently upload them without any notification.

[2015-09-29 19:38] tobiasKaminsky commented on #1126
Can you try to connect with the android app to the official demo account:
demo.owncloud.org
user: test
password: test

[2015-09-29 23:15] AndyScherzinger commented on #775
Ah, mist that one...  True!

[2015-09-29 23:16] AndyScherzinger commented on #899
Nice! Glad I could help :)

[2015-09-30 07:46] xylo commented on #775
@tobiasKaminsky Thanks for the hint to "open with". What's what I was looking for.

[2015-09-30 07:51] xylo commented on #592
What about an option "stream with" below the option "open with" in the context menu?

[2015-09-30 09:32] rperezb commented on #1164
Thanks @tobiasKaminsky !
I asked for it to another ownCloud colleague, since, it has not arrived it yet, I have used yours.
Besides, I have updated the github link
Both will be available within hours,
I close it, if needed, please reopen

[2015-09-30 09:32] #1164 closed

[2015-09-30 09:56] corneverbruggen commented on #616
I can confirm this. Also had to disable IPv6 on my router to make the android app connect to my owncloud server, while the same device can connect to the OC web interface in a browser just fine and the CalDAV-sync/CardDAV-sync also have no problems.

[2015-09-30 11:30] rperezb commented on #1110
@AndyScherzinger yes, thanks for pointing out this one!

Why don't we start taking care of this one by reviewing @tobiasKaminsky code? Can you have a look at it? and add +1 if you agree?

[2015-09-30 12:43] AndyScherzinger commented on #1110
did the code review, added +1 :+1:

[2015-09-30 13:10] stb2015 commented on #865
I have the same problem. And I do not think that it a problem of the router because other apps like foldersync work perfectly with webdav. When looking into logcat I found this line

XXXXX.dyndns.org/2a02:8109:8000:58:1df3:5109:e419:bcc7 (port 443) after 5000ms: isConnected failed: ECONNREFUSED (Connection refused)

The ipv6-adress is from my router, but why it is used? Other apps do not do this..

[2015-09-30 15:31] cdamken opened #1180 "Playing videos does not work"
### Expected behaivor
I trying .mkv, .mpg and .mp4 and they all work.

### Actual behavior
I trying .mkv, .mpg and .mp4 and they all don' t work.

### Device
Nexus 7 tablet with android 5.0.
For example: this video doesn't work.

### Client version
1.7.2

### Example video and Log files in:

S3-ownCloud\Shared\owncloud\support\github-issues\android\1180

### Questions

Which video's does the in ap

[2015-09-30 15:36] cdamken commented on #1180
I tested in my phone with android 5 and works:

![screenshot_2015-09-28-19-03-35](https://cloud.githubusercontent.com/assets/7264495/10197715/3ab4d5c6-6799-11e5-9119-3d0c4047c013.png)

@davivel @rperezb Let me know if you need more info

[2015-09-30 16:11] tobiasKaminsky commented on #974
This is not implemented, so I reopen it.

[2015-09-30 16:13] tobiasKaminsky commented on #592
@DeepDiver1975 Can you give us an hint, if and how streaming is possible via webdav?

[2015-09-30 16:16] tobiasKaminsky commented on #1180
Can you make the video public so that it can be tested on other devices?

[2015-09-30 17:34] tobiasKaminsky opened #1181 "[Grid View] Video should not show file name"
![video](https://cloud.githubusercontent.com/assets/5836855/10201028/1e94c458-67aa-11e5-984a-e2edcf9b2206.jpg)

Currently for the video the name is shown.
I think it is sufficient to see the play button to distinguish it from an image.

Can / should I remove it?

design gurus :)
@jancborchardt
@AndyScherzinger

[2015-10-01 07:30] rperezb commented on #1180
@cdamken is the video in question previewed by device?
I mean, access to the file manager, browse to the ownCloud folder and to the path where the video is stored, open it, is it played?
thx

[2015-10-01 07:40] rperezb commented on #88
Done, available on the Android version 1.8

[2015-10-01 07:40] #88 closed

[2015-10-01 12:24] rperezb opened #1182 "Open with is shown empty on Android 5 devices when there is not an installed app to open the file"
STEPS TO REPRODUCE
1.- Download a file whose extension can't be handled by any app installed on the device
2.- Select open with

EXPECTED BEHAVIOR
A text is shown letting the user know why it is not possible to open the file

CURRENT BEHAVIOR,
See attached image, it´s shown emtpy

![screenshot_2015-10-01-14-17-04](https://cloud.githubusercontent.com/assets/1846927/10220466/0f2bbdac-6848-11e5-92b9-

[2015-10-01 12:24] rperezb commented on #1182
@AndyScherzinger likely to be related to the material design

[2015-10-01 14:19] dtb1987 opened #1183 "Sharing with other users"
Could you guys add the ability to share files and folders with other users from the app instead of only being able to share with a link?

[2015-10-01 16:07] masensio commented on #1183
Hi @dtb1987,

in near future, luckily in the next release the app will have this feature.

I'll close this issue because is duplicated with #600. Please, track it there.

Thanks for using ownCloud

[2015-10-01 16:07] #1183 closed

[2015-10-01 21:23] godfuture commented on #1178
Is it possible to provide options according the webinterface? There is for example "allow public upload" or "show gallery link" from galleryplus app.

[2015-10-02 10:11] rperezb commented on #1178
@godfuture thanks for the suggestion. Sure, the idea is to first add this two options and then other ones, can you please, open this requirement as a new issue so that it can be tracked?
thx

[2015-10-02 10:13] rperezb commented on #600
WIP https://github.com/owncloud/android/tree/share_with_users

[2015-10-02 11:29] cdamken commented on #1180
I'll ask

[2015-10-02 12:01] AndyScherzinger commented on #1182
I am away from keyboard for the rest of the week, but will have a look.

[2015-10-02 12:26] AndyScherzinger commented on #1181
Imho Video should be considered as media ;)
Thus it should be rendered the same way so no file name.

[2015-10-02 14:27] cdamken commented on #1180
@tobiasKaminsky It does not work with any video, no need to have any special for testing

[2015-10-02 16:14] cdamken commented on #1180
@rperezb There is indeed a thumbnail when using ES file explorer.

[2015-10-02 22:46] masterkorp commented on #645
:+1: This feature would be really useful!

[2015-10-03 07:29] tobiasKaminsky commented on #1180
@cdamken The question of @rperezb was, if any other video player on your device can play the file in question?
You can browse to the file in owncloud and do "open with" via long-press.

[2015-10-03 19:28] r2evans opened #1185 "Instant_upload and multiple accounts"
Request: please make instant upload a per-account configuration.

Background: I have a personal and a company cloud configured. I cannot use federated shares. I want my pictures to always sync with my personal account and never to my work account.

Expected behavior: even if I've recently been looking in my work folder structure, new pictures should be synced to my personal account.

Actual behavi

[2015-10-04 07:04] tobiasKaminsky commented on #1185
Please see #827
Regarding your second question: I do not know, maybe you can try it and open a new issue if necessary?

[2015-10-04 07:04] #1185 closed

[2015-10-04 09:55] tobiasKaminsky opened #1186 "ocFile.getFileID does not match database value"
Using file.getFileId() in ThumnailsCacheManager does not return the same value as it is stored in database (oc_filecache).

Am I just confused?
@davivel @rperezb

[2015-10-04 09:58] haseebeqx commented on #296
ok i am working on it.  but when i used the existing content provider it shows permission denied since the `android:exported` is false and `android:grantUriPermissions` is not set. what should i do now. set `android:exported` to true or `granturipermission` or any other options ?.

 currently i managed to implement this feature with exported content provider and it is working fine

[2015-10-04 14:41] dschuermann commented on #296
Maybe it helps that there is a fully working example for Document Providers here: https://android.googlesource.com/platform/development/+/master/samples/Vault/

[2015-10-04 15:16] haseebeqx commented on #296
i already have a working model .

but the problem is in kitkat the document provider works from another app called documents inside system. so there are issues with current content provider and localbroadcasts. i can not use the current  file access provider to look at data since it is not exported and android:grantUriPermissions not set.

[2015-10-05 07:59] rperezb commented on #1182
Thx, no hurries!

[2015-10-05 15:19] ghost opened #1188 "Downloading files"
Hi,
I personally find it rather annoying to have each file I open stored locally on my device.
Would it be possible to make opening/viewing a file seperate from downloading it. So that it's streams it from the server so to say. Much like dropbox and other cloud storage providers, one can simply tap an audio file and stream it. Other documents should be stored temporarily, such as word documents (u

[2015-10-05 15:35] JasperWeiss opened #1189 "Security"
For security, I think 2FA is a must, TOTP should be sufficient. So that a compromised password isn't too big of an issue.

Also, would it be possible for the Android and Desktop clients to check the SSL certificate fingerprint?
Bassically, in the settings menu it should have a little information about the SSL certificate including the fingerprint. The app should give a warning when anything change

[2015-10-05 15:50] JasperWeiss commented on #1189
Especially with self signed keys it is crucial that fingerprints are checked every time the app connects.

[2015-10-05 16:56] AndyScherzinger commented on #1182
@rperezb fixed in PR #1190

It wasn't a material bug per se but rather the standard behavior on Lollipop (open with without any choice in case the chooser is launched). I implemented a check if there is any app awailable to handle the mime type and if not simple show the text (implemented throughout all android versions).

[2015-10-06 02:52] wuffleton commented on #516
+1 to this bug
I've been having this issue over mobile data and certain (but not all) wifi networks around my workplace. It's been happening since one of the 8.x owncloud server upgrades, but I'm not entirely sure which one. Local wifi (on same network as server) works as expected, faster wireless networks where I work also seem to work. If it makes any difference I'm running a dual-stack IPv4/IPv

[2015-10-06 12:51] #1110 closed

[2015-10-06 17:40] tobiasKaminsky commented on #1188
At least for images this is done in #1044. The file is also resized to fit to the display size on the server and therefore only a very small file (~50kb instead of 5Mb) is being transferred.
This file is cached internal just like the other thumbnails.