[2017-11-27 09:26] davigonz commented on #2061
Hi @danield5732 , thank you for your feedback, I'm trying to reproduce the problem you detail here by using a pdf editor and what I understand here is that you are requesting the next features:

1. Upload to the server the last version of a file just after updating it, without having to tap it to perform the check with the server version and update it if it is not the same.

2. When the user perfo

[2017-11-27 16:02] michaelstingl opened #2066 "Adapt "public link" permissions to oC server 10.0.4 UI"
UI for "public link" permissions has been improved with oC server 10.0.4:
https://github.com/owncloud/core/pull/29376

![bildschirmfoto vom 2017-10-27 16-30-06](https://user-images.githubusercontent.com/12717530/32109172-3460e192-bb34-11e7-9f91-6f02710c95dc.png)

@davigonz What is the effort to bring this to the Android client?

[2017-11-28 15:06] davigonz commented on #2066
@michaelstingl This is for public link, not for private links, isn't it?

I really like the new distribution of sharing permissions in core, it is much clearer for the user.

Well, in terms of UI, we just have to replace the two switch buttons (Allow editing & Show file listing) with a new dropdown menu, or something like that, which includes the new three options. I will create a mockup.

In term

[2017-11-28 21:53] sesipod commented on #2028
I have tested this using my Samsung Galaxy S8+  SM-G955U and the default camera app.
Android Version: 7.0
Build: NRD90M.G55USQU1AQK3

The upload is working about once every 5min or sometimes sooner. Thank you for getting this going and I will start following this post and testing on my S8+ :)

[2017-11-29 10:05] davigonz commented on #2028
Great news, thank you so much for your feedback, if you have any suggestion or question do not hesitate to ask us

[2017-11-29 11:04] davigonz commented on #2060
Hi @sd1998 , I've just noticed the same problem while using a different computer and I have fixed by disabling the Instant Run feature. To do that, go into File > Settings > Build, Execution, Deployment > Instant Run and disable it.

[2017-11-29 11:38] jesmrec commented on #2034
@daincredibleholg Could you check with 2.5.1-beta1 if the problem persists?

[2017-11-29 12:04] daincredibleholg commented on #2034
@jesmrec Of course. Will do hopefully tonight, once I am back home.

[2017-11-29 12:57] jesmrec commented on #2034
thanks, in case it keeps failing you can send us logs (settings view)

[2017-11-29 13:15] sd1998 commented on #2060
@davigonz Thanks I will try it now

[2017-11-29 13:27] sd1998 commented on #2060
@davigonz It is working now thanks for the help Now I will work on #2060

[2017-11-29 13:53] davigonz commented on #2060
@sd1998 Awesome! I will close this, since it's already fixed.

[2017-11-29 13:53] #2060 closed

[2017-11-29 17:01] brianmichalk1 commented on #1888
I am also having the same problem.  Where is the configuration file with this path setting?  That should be a workaround.

[2017-11-29 20:08] sesipod commented on #2028
@davigonz  - So one issue that I see and this has happened 2 times already since yesterdays post.
The beta version of the app will loose my password to my owncloud server and uploads will fail. I re-enter my password and it recycles the login page and asks me again for it. The only way that I can fix this is to uninstall the app and reinstall it. I have tried just to clear the apps Cache/Storage b

[2017-11-29 21:52] daincredibleholg commented on #2034
The behaviour is still the same :(

Where can I get the logs from? If you refer to the app's settings view, no chance, as I can not reach it (it crashes straight away once an OC account is configured)

[2017-11-30 07:27] jensd0e commented on #2030
Logfile should be in your inbox.

[2017-11-30 07:29] jensd0e commented on #2028
@sesipod  I hijacked another thread I opened for a lightly different problem, since I have the same problem as you. Maybe a mod should spawn a new issue? See: https://github.com/owncloud/android/issues/2030

[2017-11-30 08:02] davigonz commented on #2028
The beta version of the app will loose my password to my owncloud server and uploads will fail. I re-enter my password and it recycles the login page and asks me again for it. The only way that I can fix this is to uninstall the app and reinstall it. I have tried just to clear the apps Cache/Storage but that doesn't work.

Thank you for your feedback @sesipod but I think that the problem you descr

[2017-11-30 10:21] davigonz commented on #778
This is already implemented, see https://github.com/owncloud/android/pull/1559

[2017-11-30 10:22] #778 closed

[2017-11-30 10:34] davigonz commented on #349
This is being currently addressed on **new Camera uploads feature**, which is going to replace the previous Instant uploads feature, follow up: https://github.com/owncloud/android/issues/2028

[2017-11-30 12:14] jesmrec commented on #2034
You can get logs in beta version from settings view.

[2017-11-30 16:29] jensd0e commented on #2028
@davigonz
1. No
2. No

[2017-12-01 08:25] jesmrec commented on #2030
@jensd0e we did not receive the logs :(

[2017-12-01 08:37] jensd0e commented on #2030
I’m sorry. I’ll send it again.

Regards,

Jens

From: Jesús Recio Rincón [mailto:notifications@github.com]
Sent: Freitag, 1. Dezember 2017 09:26
To: owncloud/android <android@noreply.github.com>
Cc: jensd0e <jens.potthast@pro-netzwerk.de>; Mention <mention@noreply.github.com>
Subject: {Disarmed} Re: [owncloud/android] Username normalization in owncloud beta (2.5.1-beta 1) prevents login with ldap

[2017-12-01 08:38] jensd0e commented on #2030
Seems to be stuck somewhere. I just send the logfile again. Please contact me, if no E-Mail arrives.

[2017-12-01 08:56] jesmrec commented on #2030
mail received!

[2017-12-01 17:35] sesipod commented on #2028
@davigonz & @jensd0e

This is random issue...  I reinstall the app the only way I can login once the issue happens. Then use it to move a file or two around then close out of the app. At some point later it will loose my credentials ( I notice this because picture uploads will fail and I get a notification.)  So I reopen the app put in my password (it still has the server and username filled in).

[2017-12-02 16:27] danield5732 commented on #2061
Hi @davigonz , thank you for your answer! I think your three options would prevent the unintended data loss very well.

to 3.: if this option is dedicated to mobile, then it's right. Because the server is already working this way, I think.

Best, Daniel

[2017-12-02 19:55] daincredibleholg commented on #2034
@jesmrec I explored the Android settings and couldn't find a log section. So, I assume you mean the settings view from the app. As it crashes straight after opening it, there is no way for me to check that view :-/
Any other ways of getting better information?

[2017-12-05 07:53] rpcameron commented on #1128
For those still following this issue, the latest dev build of the Nextcloud client seems to have finally addressed this issue to allow downloading of encoding=chunked files, just as the HTTP spec requires.

[2017-12-06 12:02] davigonz opened #2067 "As an user, I would like to have a configurable text or email template for sending public links with system or 3rd-party messaging application"
The Android app is using a text by default when sharing public links, it would be great to give the user the possibility to configure this text or even include a html template when sharing the link via email.

[2017-12-07 05:24] unalignedcoder opened #2068 "still cannot login"
### Actual behaviour
-Cannot login with app. After testing the connection and entering credentials, I am taken back to the login screen.

### Environment data
Android version: 4.3
Device model: Samsung Note 3
ownCloud app version: ownCloud beta 2.5.1-beta-1
ownCloud server version: latest, cannot check now
I don't have the logs, anyway this behavior is repeated both with the ownCloud server they s

[2017-12-07 10:25] PVince81 opened #2069 "Resume upload after reconnecting to network"
### Steps

1. Prepare a huge video file
2. Upload video file
3. Disconnect wifi
4. Wait for error
5. Reconnect wifi
6. Wait

### Expected
Video file uploaded again

### Actual
Video file not uploaded

### Versions
Android 5.1.1
ownCloud Android App 2.5.0

Note that if I have a series of small files it seems to resume the upload list.
Maybe it does continune with the next item but does not resume f

[2017-12-07 10:27] PVince81 commented on #1865
Seems to work in 2.5.0

[2017-12-07 10:27] #1865 closed

[2017-12-07 10:31] PVince81 opened #2070 "Chunked upload and resuming"
### Steps to reproduce

1. Prepare a big video files
2. Upload big video files
3. Disconnect from network
4. Wait for error
5. Connect again
6. Wait

### Expected result
Upload resumes from last starting point (takes less time)

### Actual result
Upload does not resume (see https://github.com/owncloud/android/issues/2069) or would restart transfer from scratch.

### Versions
Android app 2.5.0
Andr

[2017-12-07 11:59] davigonz opened #2071 "Include new dialog to encourage users to add a new app review in PlayStore"
It would be great to increase the number of app reviews in Play Store so that we can receive more feedback from our users.

The idea is to create a new dialog that would appear from time to time (we will think about the exact frequency), asking the users for a new review and redirect them to the PlayStore.

Mockup:

![rate_dialog](https://user-images.githubusercontent.com/15261363/33764566-2db0c1d

[2017-12-08 11:42] davigonz commented on #2071
Rate dialog mockup:
![rate_dialog](https://user-images.githubusercontent.com/15261363/33764566-2db0c1d0-dc15-11e7-9a40-820ee074fcd6.png)

[2017-12-10 09:33] ldmpub opened #2072 "Activity screen: same info displayed twice"
Hi,

See screen shot => the layout can be optimized without repeating twice the timestamp ...
![same info displayed twice](https://user-images.githubusercontent.com/1452146/33803680-768274ae-dd95-11e7-8cfc-79e001a12c02.png)

[2017-12-11 07:42] davigonz commented on #2072
Hi @ldmpub , thank you for reporting this problem but I think that it should be opened in a different repository since it has nothing to do with our app. Sorry for the inconvenience but I will close this issue.

[2017-12-11 07:42] #2072 closed

[2017-12-11 08:00] ldmpub commented on #2072
Hi,

@davigonz , does it mean I need to report this to the "server team"? because obviously this layout may come 50% from the server side (which provides datas) and 50% from the Android client side (which displays these datas in "Activities" screen).

Thanks for your answer,

[2017-12-11 08:09] AndyScherzinger commented on #2072
@ldmpub what @davigonz means is that you need to report it to the Nextcloud Android client issue tracker, not ownCloud.

[2017-12-11 12:42] ldmpub commented on #2072
OK sorry, I made a mistake,
I have understood that desktop client is here (because Nextcloud currently only rebrands the client) but it was not clear regarding the Android client ... now it is => there are 2 differents Android clients.

Sorry again for the annoyance.

[2017-12-12 11:15] davigonz commented on #2068
Hi @unalignedcoder , thank you for your feedback, are you able to see the list of files? Does any error message appear when you are redirected to login view?

[2017-12-12 15:53] jesmrec commented on #2032
Already developed, tested and approved.

Available in 2.5.1

[2017-12-12 17:54] unalignedcoder commented on #2068
No, no list of files. The login screen disappears and reappears a split second later. No error messages.

[2017-12-13 09:00] davigonz commented on #2027
Hi @sd1998 , have you progressed in this feature?

[2017-12-13 09:20] davigonz opened #2073 "Update PlayStore video"
The video we currently have in PlayStore is pretty old, we should update it with the latest features included in our app, so that users know how to use some of them, such as multiaccount, new side menu with avatar, available offline, multiple share links, video streaming and so on...

Keeping this video during long time might give the feeling that the app is no longer maintained

Current video:

[

[2017-12-13 10:36] sd1998 commented on #2027
@davigonz I am facing a exception which results in the application to crash.
<img width="1098" alt="screen shot 2017-12-13 at 4 04 51 pm" src="https://user-images.githubusercontent.com/22047421/33934619-73beb638-e01f-11e7-963a-09e50ffee824.png">
<img width="963" alt="screen shot 2017-12-13 at 4 05 06 pm" src="https://user-images.githubusercontent.com/22047421/33934622-7524ac4e-e01f-11e7-8561-73a4c

[2017-12-13 11:09] jesmrec commented on #2027
@sd1998 it sounds like a lack of permissions in `AndroidManifest.xml`

did you add?:

`<uses-feature android:name="android.hardware.camera"
                           android:required="true" />`

[2017-12-13 16:03] xeyownt commented on #744
Can we have this issue bumped up?

I understand from the comments above that there are dependencies, but these do not seem to make much progress, and I would happily go for:
* **Issue with multiple accounts -> don't use multiple accounts**, or clearly state the limitations. In my android app, I was not even aware you could have multiple accounts. I have the feeling that multiple accounts setup are

[2017-12-14 06:17] sd1998 commented on #2027
@davigonz  @jesmrec Yes I have fixed that and the feature is working. And could you tell me which file should I edit so that I can add the Upload from camera option in the Floating Action Button.

[2017-12-14 08:01] davigonz commented on #2027
Hi @sd1998, I can give you some pointers:
1. In [ExtendedListFragment file](https://github.com/owncloud/android/blob/master/src/com/owncloud/android/ui/fragment/ExtendedListFragment.java#L76) you will found the different Floating Action buttons we currently have, so you have to include the new one there and initialize it.
2. In [OCFileListFragment file](https://github.com/owncloud/android/blob/mas

[2017-12-14 08:28] Kawohl opened #2074 "FR: Release request. Provide APK as a Download possibilty on owncloud/download"
Hey Guys as sombeody suggested in FB :
![bildschirmfoto 2017-12-14 um 09 18 36](https://user-images.githubusercontent.com/12275313/33982497-06de769c-e0b1-11e7-8763-ec36ceb141cf.png)
What do you think? Should we add that as an deliverable or is their anything to consider that would be against this?

[2017-12-14 10:30] michaelstingl commented on #2074
Our official Android app is available in Google Play Store. User always have the latest version with Play Store Updates ==> best user experience for unexperienced users.

Users that install the *.apk don't get auto updates of the app. Also, to install the *apk directly, users would need to disable security features on their devices. This is nothing we should recommend.

Unofficial *.apk's are avai

[2017-12-14 10:36] Kawohl commented on #2074
Yes but for instance there is no way to install on amazon devices without apks

john@owncloud.com
-----------------------------
Jonathan Kawohl

Tel: +49 151 637 49 502

owncloud.com
ownCloud GmbH, GF: Tobias Gerlinger, Holger Dyroff, Harald Weimer
Rathsbergstr. 17, 90411 Nürnberg, HRB 28050 (AG Nürnberg)

[2017-12-14 10:51] michaelstingl commented on #2074
We could point to it from a less prominent position. (FAQ section in docs?)

[2017-12-14 10:53] Kawohl commented on #2074
Good Point!

john@owncloud.com
-----------------------------
Jonathan Kawohl

Tel: +49 151 637 49 502

owncloud.com
ownCloud GmbH, GF: Tobias Gerlinger, Holger Dyroff, Harald Weimer
Rathsbergstr. 17, 90411 Nürnberg, HRB 28050 (AG Nürnberg)

[2017-12-14 11:01] sd1998 commented on #2027
@davigonz Thanks I will work on this and send a pull request.

[2017-12-14 14:17] dm82m commented on #2034
Same issue here on OnePlus phone with Android 8.0.0. It was working fine in earlier Android versions. So I can confirm everything that @daincredibleholg wrote. Can you please fix that soon? Its very annoying that a paid app (Google Play Store) isn't able to fix that issue within a quarter of a year...

And no: there is no chance to provide a crashlog, cause the app is instantly crashing after you

[2017-12-15 08:30] davigonz commented on #2034
@daincredibleholg , @dm82m thank you for your feedback, since it's not possible to have app logs in this case, could you please answer the questions @jesmrec asked above?

- server reached under protocol http/https/https with custom certificate ?
- are you using AD/LDAP? or other apps in server that can be involved in authentication process.
- both accounts in same or different servers?

If we con

[2017-12-15 08:35] jesmrec commented on #2034
To get logs it is needed the beta version (in the official logs are not available).

[2017-12-15 09:15] jesmrec commented on #2034
are the steps the following? (Pyxel C Android 8, the environment reported in first message):

![dec-15-2017 10-00-36](https://user-images.githubusercontent.com/14894746/34034469-f9be3f5a-e17e-11e7-9efb-b008fb2d56d6.gif)

we are not reproducing the problem, so we are missing something, and all our help will be useful.

Other question to add @davigonz's above:

- Did the problem start to happen afte

[2017-12-15 09:31] daincredibleholg commented on #2034
Good morning.

Right, let's see:
* I use https with a valid SSL cert from letsencrypt.org
* My backend is an OpenLDAP, running on Ubuntu Server 16.04
* Both accounts in question run on the same server - and it doesn't matter which account I try in the non-primary Android account, the error happens either way.
* The problem started after upgrading the app, but uninstalling it (both, Beta and Stable

[2017-12-15 09:38] jesmrec commented on #2034
@daincredibleholg you can ship the credentials to apps@owncloud.com

[2017-12-15 09:57] jesmrec commented on #2068
Not reproducible with Android 4.3 and 10.0.4 in server with 2.5.1-beta1

[2017-12-15 10:03] stratoss commented on #601
I'm checkout out OwnCloud at the moment, and really interested is this functionality implemented already?

[2017-12-15 10:11] dm82m commented on #2034
- yes the problem started with Android 8
- it is ONLY happening if you are using a second/third/... user on Android. If you use your first user, everything works like a charm. Have you tried that on your side with Android 8 and a second user on the device? **Looks like you are testing with Android 8 and your primary user...**
- clearing the system cache, application cache, application data, reinst

[2017-12-15 11:09] sd1998 commented on #1727
Is anyone working on this?

[2017-12-15 11:35] jesmrec commented on #2034
In the gif above i attached two accounts (demo and admin), and i couldn't reproduce it, unfortunately. Beta app sets the logs in settings view.

[2017-12-15 14:51] michaelstingl commented on #2034
@dm82m I have limited understanding about Android, but do you mean you not only have multiple accounts in your ownCloud Android abb, but you also have multiple accounts in your Android 8 system itself? (https://support.google.com/pixelphone/answer/2865483?hl=en-GB)

[2017-12-15 14:57] dm82m commented on #2034
guys for sure, we are NOT talking about different OwnCloud users. we are talking about ANDROID users. If you create a second/third/... user on ANDROID the OwnCloud app fails on that second/third/... user on ANDROID. Completely independent from the OwnCloud user(s).

Hope it is more clear now!

[2017-12-16 12:19] sd1998 commented on #2027
@davigonz Will this project be there for GSOC-18?

[2017-12-16 13:58] daincredibleholg commented on #2034
@jesmrec Sure. Will send it over in a minute. Let me know if you need anything else. And thanks for looking into this!

[2017-12-17 12:34] investigatronica commented on #2068
Same issue here.
Android version: 7.1.2
Device model: Xiaomi Mi A1
ownCloud app version: ownCloud 2.5.0 and ownCloud beta 2.5.1-beta-1 and nextcloud 2.0.1 and nextcloud  dev 20171212
ownCloud server version: 10.0.4-1.1 on ubuntu desktop 16.04

[2017-12-17 23:18] pjao commented on #2030
@jesmrec Same problem here, from a fresh install debian9 and owncloud 10.0.4.4, when using ownCloudBeta-android/2.5.1-beta.1 always redirects me to login page.

After entering my (valid) credentials, I see my root folder for a short time before I'm send back to login screen.

With ownCloud-android/2.5.0 no problem at all. Windows or web interface, also without problems.

[2017-12-18 07:29] jesmrec commented on #2027
@sd1998 it is quite soon to talk about that.

[2017-12-18 08:48] michaelstingl commented on #2027
@sd1998 ==> https://central.owncloud.org/c/gsoc

[2017-12-18 11:30] sd1998 commented on #2027
@jesmrec @michaelstingl  Thanks

[2017-12-18 11:43] jesmrec commented on #2068
This bug seems to be the same reported in https://github.com/owncloud/android/issues/2030

If not, please reopen. All info you find helpful, report in https://github.com/owncloud/android/issues/2030

Thanks all.

[2017-12-18 11:43] #2068 closed

[2017-12-18 12:01] sd1998 commented on #2036
Is anyone working on this?

[2017-12-18 13:46] jesmrec commented on #2034
That was our missing detail. Sorry for the misunterstanding with the Android account/ownCloud account.

The problem seems to come from a lack of `INTERACT_ACROSS_USERS` permission.

We will check for a fix.

@davigonz this is the stacktrace of the problem:

                                                 Process: com.owncloud.android.beta, PID: 9046

[2017-12-18 16:42] unalignedcoder commented on #2068
NOT the same bug. My username is "admin". No spaces. When I get redirected to the login screen, the fields are empty and editable.

[2017-12-19 06:36] sd1998 commented on #2036
@davigonz The Chrome Custom Tabs dependency required minSdkVersion 15 and the app has minSdkVersion as 14 should I change it?

[2017-12-19 09:02] sd1998 opened #2077 "Feature Request - Pattern Lock"
Similar to Passcode Lock there should be another option to provide the user to setup a Pattern Lock.

### Steps to reproduce
1. Open the App
2. Open the Navigation Drawer and select settings

[2017-12-19 14:30] jesmrec commented on #2036
no one is working on this yet, so if you want to contribute, you are welcome!!

@davigonz is off for some days, but he will be pleasant to help you once he is back.

[2017-12-19 17:40] jesmrec commented on #2077
Any suggestion about pattern locks?

[2017-12-20 04:53] sd1998 commented on #2077
@jesmrec [This dependency can be used](https://github.com/aritraroy/PatternLockView)

[2017-12-21 07:34] DaanTry commented on #1964
I have exact the same issue.

Android version: 7.0
Device model: SM-G935F
Stock or customized system: Stock
ownCloud app version: 2.5.0
ownCloud server version: 10.0.4 (on PHP 7.0.16)

Only removing and reinstalling App from Appstore resolves the issue.

[2017-12-21 09:45] jensd0e commented on #1964
I guess, this isn't a new issue. Some people (including me) reported this before.

[2017-12-21 21:02] kerlerm opened #2078 "share feature does not recognise server version"
App version 2.5.0 does not recognise the 10.x server version. Server is 10.0.3 while app says "min. 8.2 version has to installed on server to share".

Therefore no _additional_ sharing is possible.
Usernames which were added to the share list earlier are listed and can be deleted. Creating a share link works, too.

Can this problem be reproduced with the official owncloud server?
(url: https://dem

[2017-12-22 12:39] michaelstingl commented on #2078
@kerlerm use admin:admin and create more users: https://demo.owncloud.org/settings/users

[2017-12-22 13:52] kerlerm commented on #2078
*banging my head*
I created several users and it works on demo.owncloud.org

What could cause the app to misinterpret my server version string? Or how can I check which version string is sent by my server manually?

[2017-12-22 14:38] michaelstingl commented on #2078
@kerlerm What does your `status.php` says? (https://demo.owncloud.org/status.php)

Anything suspicious in your `config/config.php`? Here you can find all parameters: https://doc.owncloud.org/server/latest/admin_manual/configuration/server/config_sample_php_parameters.html

[2017-12-23 02:26] joaopompeu opened #2079 "Can't login with Andoid Beta app"
### Actual behaviour
When I insert my IP for login in the Android app an error message appears. Something like this: An error occurs when connecting to server. "Ocorreu um erro durante a conexão com o servidor"

### Expected behaviour
After inserting the IP it should open the tabs for username and password

### Steps to reproduce
1. insert my IP to the specific box in the app and see the error
2.

[2017-12-23 23:09] PVince81 opened #2080 "Display file size during upload"
### Steps

1. Select multiple files for upload
1. Go to uploads section

### Expected
File sizes displayed for all files

### Actual
size only displayed for files not currently uploading. For any file currently uploading or waiting for upload, the size is hidden. Why ?

My use case is that I'm uploading on a slow network and would like to be able to estimate how long I need to wait until I can sto

[2017-12-23 23:13] PVince81 opened #2081 "Confusing download buttons when mixed"
### Steps

1. Enter folder with multiple files where **none** of the files were ever synced
2. Touch and hold on each file to select them
3. Find the option for "available offline" in the top bar

### Expected result
Easy to distinguish icons with no ambiguity

### Actual result
There are two icons there: an arrow down and another arrow down with an underline. I suspect that many people would not

[2017-12-23 23:14] PVince81 commented on #2080
#2070 is the one about resuming

[2017-12-23 23:18] PVince81 commented on #2070
I have some huge files (videos) from holiday to upload and I know they won't survive wifi timeout when phone automatically locks. This leads to me having to actively use the phone because I know that if the upload cancels it will start from the beginning, and without me forcing the WiFi to on actively, the upload will never complete as its resuming starts again at zero.

This is why I think this f

[2017-12-23 23:20] PVince81 commented on #2070
I suspect this would make affect users using instant upload. Such users usually expect no interaction at all with the client as everything is uploaded. (are videos included ?) In case of big files, the upload might never complete due to the above reasons (network disconnect), so such user might wonder later why their files still haven't reached the server after so much time.

[2017-12-24 08:07] destinyfucker opened #2082 "an ANR happened in entering the PassCodeActivity"
### Actual behaviour
I use the avd in android studio to have a try on owncloud, however, it causes an ANR when entering PassCodeActivity.I have the logs but can not reproduce it any more.From the log i think it is involved with FileObserverService but do not know why.

### Steps to reproduce
1. swipe the drawerlayout, entering the setting panel.
2. chick on passcode lock, and the activity displays

[2017-12-25 21:52] PVince81 commented on #2070
This is getting more annoying over time. I can't comfortably upload my holidays videos on mobile as they keep failing when I forget to manually keep my mobile phone unlocked / connected.

cc @michaelstingl

[2017-12-27 12:08] michaelstingl commented on #2070
@davigonz @jesmrec Is some of the annoyance addressed in the 2.5.1 release?

[2017-12-28 09:37] davigonz commented on #2070
Hi @PVince81 , I agree with you about this feature, it is pretty annoying for the user to have to be actively using the phone so that the big upload is completed. We will address this problem for coming releases, but not for the 2.5.1 @michaelstingl since it should be ready in January and will include the new camera uploads. To fix the big uploads problem we would need to use the new chunking endp

[2017-12-28 10:02] davigonz commented on #2036
Hi @sd1998 , you can import libraries ignoring the app minimum SDK version by using [**tools:overrideLibrary**](https://developer.android.com/studio/build/manifest-merge.html#override_wzxhzdk38uses-sdk_for_imported_libraries) option.

In our case, something like this should be enough:

`<uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="26" />
        tools:overrideLibr

[2017-12-28 10:06] davigonz commented on #2034
Thanks for the logs @jesmrec , I will check them

[2017-12-28 11:06] davigonz commented on #2081
Hi @PVince81 , thank you for your feedback, the iOS app is going to update some icons in coming versions and it will use a new icon for available offline feature (see below). We can try to use a similar one in the Android app and avoid the confusion with download icon.

![screen shot 2017-12-28 at 12 00 31](https://user-images.githubusercontent.com/15261363/34408888-c357bebc-ebc6-11e7-92b6-fd99570

[2017-12-28 13:44] davigonz commented on #1727
@sd1998 No, contributions are welcome 😉

[2017-12-28 13:47] davigonz commented on #601
Hi @stratoss , it is not implemented yet but contributions are always welcome 😉

[2018-01-04 14:14] davigonz commented on #2034
@daincredibleholg @dm82m

After researching a bit about the problem, I'm not able to find a quick solution to fix this crash since is triggered because of the **INTERACT_ACROSS_USERS** permission, which is not like other Android permissions that are available to third party applications like ownCloud, I mean, it's not possible to grant this permission from the code directly or ask the user for acc

[2018-01-04 14:26] davigonz commented on #2079
Hi @joaopompeu , is your server working properly? Have you tried it out from the browser?

[2018-01-04 17:39] kerlerm commented on #2078
config.php:
`'version' => '10.0.3.3',`

status.php:
`
version: "10.0.3.3"
`
`
versionstring: "10.0.3"
`

The version strings were never manipulated - only regular updates happened (8.x->9.x->10.x).

[2018-01-05 09:40] davigonz commented on #2078
@kerlerm could you provide us a test account to reproduce the problem? If so, please send it to [apps@owncloud.com ](url) , thanks

[2018-01-06 15:52] kerlerm commented on #2078
Done. Please check your mails.

[2018-01-06 17:03] YMDH commented on #2022
I can confirm having the same problem on a Galaxy Tab A which was recently upgraded to Android 7.

[2018-01-08 07:44] davigonz commented on #2078
@kerlerm sure! thank you

[2018-01-09 07:52] jesmrec commented on #2077
Thanks for contributing @sd1998 !! i have check a bit this feature and i suggest a couple of improvements:

- The section "Details" of the settings view should be renamed to "Security"
- The word "Lock" is uppercase in Pattern and lowercase in Passcode
- Pattern Lock can only be set if the passcode if not set. But if both are enabled, the pattern lock can not be disabled. Which priorities did you

[2018-01-09 14:19] jesmrec commented on #1964
we have the following opened with the same issue:

https://github.com/owncloud/android/issues/1964

We can keep on discussing there. If you think is a different issue, please reopen

[2018-01-10 08:33] davigonz commented on #1964
@jensd0e , @jesmrec are you sure this is the same issue that #2030?

@johnkj Are you using LDAP? Are you using spaces in your username? Do you notice this behaviour described by @jensd0e in the other issue?

[2018-01-10 08:44] jesmrec commented on #1964
that issue refers directly to ldap or blanks but i mean that the problem is not in this set-up. Bug appears regardless LDAP is enabled or not

[2018-01-10 09:33] jensd0e commented on #1964
@davigonz I'm not that sure anymore. There where two problems. Username normalization and being redirected to login screen. If username normalization would cause my problems, I would see logon errors on my windows server. But for me, logon is ok and only after login I'm redirected to login screen. In #2030 I started with problem No. 1 (username normalization) and continued with problem No. 2 (bein

[2018-01-10 09:35] jesmrec commented on #1964
ok, we reopen and keep the discussion alive

[2018-01-10 10:00] DaanTry commented on #1964
In my case no spaces in de username and no LDAP used for authentication. Reproducability is 100%. A few days after installing the issue appears and can only be resolved by uninstalling/reinstalling the app.

[2018-01-10 13:04] jesmrec commented on #2047
Should rename to 2.6.0? 2.5.1 is a name for a minor/bugfixing release, and this one will include interesting stuff and some new features.

[2018-01-10 14:24] michaelstingl commented on #2047
Yes, sounds plausible 👍

[2018-01-10 15:27] davigonz commented on #2047
Totally agree

[2018-01-10 18:06] davigonz opened #2089 "[UI] Hide loading bar gap when no syncing action is being performed"
### Actual behaviour
- When the user scrolls down in the list of files, the loading bar gap appears always.

<img src="https://user-images.githubusercontent.com/15261363/34787839-fe837f36-f638-11e7-9bf5-d008db248d90.png" width="60%">.

### Expected behaviour
- Loading bar disappears if the user is not syncing the files and show a color gradiant instead.

### Steps to reproduce
1. Have a list of fi

[2018-01-11 09:03] davigonz opened #2090 "Include new wizard to guide the user through the app features"
It would be great to include a wizard with several steps to explain to the user not only the app main features but the new features we are including in the app.

In a first phase, this wizard could appear the first time the app is installed and later, we can show it with new features added in every app update, if any.

Have a look at the next gif got from [this project](https://github.com/matrixxu

[2018-01-11 14:51] patrickjahns commented on #2070
I've also experienced these issues.

During my holidays I was not always having reliably wifi connections. For uploading smaller files this was not a issue - but with uploading several pictures (and videos) the uploads would fail inbetween. But instead of resuming the uploads, they would need to start from the beginning.

Photos would upload eventually since the file size is just around 5-10MB - b

[2018-01-11 15:10] mario commented on #2090
Yay for inspirations!

[2018-01-11 18:43] davigonz commented on #2090
Sorry @mario but if you think I need some kind of inspiration in your code or characteristics to implement a feature that a great bunch of apps already include, you are wrong.

My task here is to improve this app as far as I can and make it work fine so that our users are happy. Sincerely, I prefer to invest my time in that instead of paying attention to your code or features to find something int

[2018-01-11 18:50] mario commented on #2090
This would be so sweet if it wasn't an obvious lie :)

[2018-01-12 08:40] davigonz commented on #2028
It's important for you to know that the new Camera uploads feature, which is going to replace the previous Instant uploads feature, needs to be enabled and configured, even if you had previous Instant Uploads feature enabled since is not going to be handled in the same way for the app.

[2018-01-12 09:56] jesmrec commented on #2028
Feature approved and finished. Let's enjoy the new camera uploads!!!

[2018-01-12 11:11] #2028 closed

[2018-01-12 11:31] davigonz commented on #2082
Hi @destinyfucker, thanks for your feedback.

It is possible that your emulator was stuck for any reason?

[2018-01-12 11:33] davigonz commented on #2027
Deleting instant upload label, this feature is not related with that...

[2018-01-12 11:51] davigonz commented on #95
@axet @enoch85 @8h2a @mueller-ma

The Instant uploads feature will be replaced with Camera uploads feature, which is going to be included in the next Android app release (2.6.0).

To use it, you just have to select a camera folder and the pictures and videos contained there will be automatically uploaded to the folder you select in a period of 15 minutes at most.

In your case, if you want to uplo

[2018-01-12 11:56] axet commented on #95
I already wrote an app which helps me to move camera / screenshots to the user specified folder.

https://gitlab.com/axet/android-media-merger

[2018-01-12 12:07] jesmrec commented on #2090
The welcome wizard is a feature that the ownCloud iOS app included from many years ago. It is not anything new for the ownCloud mobile team.

[2018-01-12 12:17] davigonz commented on #95
@axet Pretty interesting app 👍

You opened this issue because screenshots were not being properly detected and uploaded to your ownCloud account, do you still have the same problem?

We are not going to try to detect Screenshots event any more because we cannot trust it, since Android system kills the observer responsible for detect it, but once you move all the screenshots to the folder selected

[2018-01-12 12:22] axet commented on #95
I'm no longer using owncloud. But for some people move-app can help.

[2018-01-12 12:54] davigonz commented on #95
Ok, so I will close it this issue since, as I explained in my previous comment, the screenshots can be uploaded with Camera Uploads feature. Please, reopen this if necessary.

[2018-01-12 12:54] #95 closed, assigned to nobody

[2018-01-12 13:03] davigonz commented on #349
This feature is already implemented and working as expected in new **Camera uploads** feature, which will be included in 2.6.1 release, so I think that we can close this issue

CC @jesmrec

[2018-01-12 13:41] davigonz commented on #1828
Hi @Obi-Wahn , thanks for your feedback.

We have finally drop the Instant uploads feature and replaced it with Camera uploads feature, which is going to be included in the next Android app release (2.6.0).

To use it, you just have to select a camera folder and the pictures and videos contained there will be automatically uploaded to the folder you select in a period of 15 minutes at most.

In yo

[2018-01-12 13:44] davigonz commented on #1787
@jesmrec could we check if this still happens with the new Camera uploads?

[2018-01-14 21:39] smalltoe commented on #163
Great project an thanks to contributors. I would be happy to see this functionality.

[2018-01-15 08:22] jesmrec commented on #1787
@davigonz currently i have not reproduced the problem in an Android 6 device. We can close here, and in the case the bug is reproducible again, reopen the issue.

Thanks

[2018-01-15 08:32] nasli commented on #2090
Closed as duplicated of https://github.com/owncloud/android/issues/1104, this was already in our backlog for a long time.
Please add more details you consider and keep up to date in the other issue, thank you

[2018-01-15 08:32] #2090 closed

[2018-01-15 09:14] davigonz commented on #1964
Hi @DaanTry , thank you for your feedback, can you create a test account and send us the credentials to [apps@owncloud.com](apps@owncloud.com) so that we can try to reproduce it? Thanks

[2018-01-15 09:19] jesmrec commented on #1964
@DaanTry if you send the credentials, please include a link to this issue within the email.

[2018-01-15 09:29] #1787 closed

[2018-01-15 09:37] davigonz commented on #2034
We have not found a quick solution for this problem to be included in the next release 2.6.0, so we will face it in coming releases.

[2018-01-15 12:40] jesmrec commented on #1964
@DaanTry credentials received, thanks a lot!!!!

[2018-01-15 16:52] AndyScherzinger commented on #2090
Well, the funny part is rather that there is #1375 since Dec 21, 2015 ;)

[2018-01-16 02:48] gfredericks commented on #1964
This has been happening to me for a week or two now. It also seems to always take exactly two logins to get it working, for some reason.

[2018-01-16 07:41] davigonz commented on #1964
Hi @gfredericks , what's your ownCloud app version and which device are you using? Thanks

[2018-01-16 07:54] davigonz commented on #2090
@AndyScherzinger Thank you for pointing us to that PR, I will try to revive it then... 😄

[2018-01-16 08:01] davigonz commented on #1717
Closing as duplicated of https://github.com/owncloud/android/issues/1104, follow up there.

[2018-01-16 08:01] #1717 closed

[2018-01-16 11:24] #349 closed

[2018-01-16 11:54] gfredericks commented on #1964
android, 2.5.0

[2018-01-16 12:04] kerlerm commented on #2078
Any news on this? May I close the provided test account?

[2018-01-16 16:12] davigonz commented on #2030
Still trying to reproduce it, it will not be included in 2.6.0 release, moving it...

[2018-01-17 08:36] Relaking commented on #1799
Same issue here, using a pixel-filter app or anything else that overlays the ownCloud app

[2018-01-17 11:26] sd1998 commented on #2089
@davigonz I would like to work on this.

[2018-01-17 12:01] jesmrec commented on #2047
Bug (1)

https://github.com/owncloud/android/issues/1964 is reproducible in the release branch. This is a regression as well.

[2018-01-17 16:28] davigonz commented on #1964
4- It will login successfully, and after few hours about 3-4 hours of inactivity.

@johnkj which of these accounts is redirected to login view? Can you try out if this happens with both accounts?

[2018-01-17 16:55] davigonz commented on #1964
Another question @johnkj , are you using http or https?

[2018-01-18 10:06] jesmrec opened #2095 "Multiaccount OAuth2 - basic"
### Steps to reproduce
1. Add a basic auth account
2. Add a OAuth2 account
3. Switch to account in 1.

### Current behaviour
Basic auth account is redirected to login view

### Expected behaviour
Swiching of accounts correct

Android app 2.5.0
Samsung Galaxy S7 v7
Nexus 6P v7.1
Server v10.0

Stack trace:

01-17 12:31:28.175 32421-768/com.owncloud.android.debug E/HttpMethodDirector: bearer authoriz

[2018-01-18 12:44] davigonz commented on #2095
Well, I've been researching a bit about this issue and this is what I've found.

Our network library, Apache HTTP Client 3.x, **supports three different types of http authentication** schemes: Basic, Digest and NTLM, so to support SAML and OAuth, we introduced a **new scheme called Bearer**.

All the requests we perform to the server (once we are logged in) includes the Authorization header, even

[2018-01-18 12:57] jesmrec commented on #2047
Bug (2)
Session finishes suddenly, and redirection to login view

Steps to reproduce:

1. Add a basic auth account with http and server 9.1
2. Add a OAuth2 auth account with http and server 10.0
3. Switch account from 2. to 1.

Current: Redirected to login view
Expected: Account switching correct

Tested with Nexus 6P v7.1.2

[2018-01-18 14:12] davigonz commented on #2047
@jesmrec I've managed to reproduce the Bug 2 with the next steps:

1. Add a basic auth account with http and server 9.1
2. Kill the app.
3. Reopen the app.

**Current behaviour**: Redirected to login view
**Expected**: Account switching properly

With 10.0 servers is not reproducible

Tested with Nexus 6P v7.1.2 and Samsung Galaxy S7 edge v7.0

[2018-01-19 13:12] jesmrec commented on #2047
### Bug (3)

Steps to reproduce:

1. Set plane mode
2. Tap on a file to download it

Current: App crashes
Expected: Error message, no connection

Tested with Nexus 6P v7.1.2

[2018-01-22 09:47] NZOzzDeveloper opened #2096 "AS 3.0 with Gradle dependency file"
### Actual behaviour
-Setting up project for the first time, apologise if this is a "newbie" error and I have not done something I should have.  I have followed the setup documentation twice.

done a clean and a rebuild of the project.

Looked at the gradle dependencies.
org.gradle.api.ProjectConfigurationException: A problem occurred configuring root project
org.gradle.api.ProjectConfigurationExc

[2018-01-22 10:23] davigonz commented on #1964
Hi @johnkj, I've managed to reproduce your problem and seems to be related with your server version (9.1.0) because of a bug in ownCloud server (https://github.com/owncloud/core/issues/30196)

I suggest you to update your server to the stable version of 9.1, which is in this moment 9.1.7 and try to have 9.1.7 account along with 10 and see what happens.

@DaanTry Your case is different, you are usi

[2018-01-22 11:25] davigonz commented on #2096
Hi @NZOzzDeveloper , can you check the version of Gradle build tools you have in build.gradle file? Please use 2.3.3 version, have a look at https://github.com/owncloud/android/blob/master/build.gradle#L13

[2018-01-22 14:31] davigonz commented on #1900
Hi @mrow4a , the first idea of what you describe here is being currently implemented in https://github.com/owncloud/android/issues/2027

[2018-01-22 14:35] davigonz commented on #695
Some core efforts are needed before:

owncloud/core#13915

[2018-01-23 07:51] davigonz commented on #2096
Hi again @NZOzzDeveloper , how have you cloned the repository? Have you used `git clone --recursive https://github.com/owncloud/android.git`

[2018-01-23 08:25] NZOzzDeveloper commented on #2096
hi Dave

I cloned the repo. to my then dowloaded the zip file  and created a folder in AS for the project and extracted all the files into named directory.

hmm nope haven't done the clone from console

[2018-01-23 23:29] #2096 closed

[2018-01-23 23:30] NZOzzDeveloper commented on #2096
thanks Dave, thast done the trick

[2018-01-24 07:52] davigonz commented on #2096
@NZOzzDeveloper Great, if you have any other question while using this project, ping me. Besides, if you want to contribute, there are several issues with `contributions are welcome` label or you can just suggest a new feature 😉

[2018-01-24 20:20] PVince81 commented on #1964
@davigonz my wife just go this CSRF thing with 10.0.5 final which I had on my server for quick testing before announcing.

She has 2.5.1-beta.

Since I upgraded from 10.0.5 RC3 to 10.0.5 final today the problem appeared, not sure why. There is no code difference between these versions and the Android app worked fine before that. Maybe her session got killed by the update somehow ?

Now the app is

[2018-01-24 20:21] PVince81 commented on #1964
This CSRF thing doesn't even make sense for the mobile app ?! Or is it using some kind of web view ?

[2018-01-24 20:30] DaanTry commented on #1964
I have temporary disabled the csrf check in config.php. That solves the issue with the App but it is not preferred of course.
-------- Original message --------From: Vincent Petry <notifications@github.com> Date: 1/24/18  21:21  (GMT+01:00) To: owncloud/android <android@noreply.github.com> Cc: DaanTry <Daan.Try@GMail.com>, Mention <mention@noreply.github.com> Subject: Re: [owncloud/android] Androi

[2018-01-24 20:39] PVince81 commented on #1964
I tried deleting all PHP session files but somehow it didn't kick out any people (likely another bug...)

I managed to restore my wife's account by manually deleting the matching entry in `oc_authtoken` table where the connection name is "Mozilla/5.0 (Android) ownCloudBeta-android/2.5.1-beta.1" and type 1. Now she can login again.

This also mean we'll likely not be able to reproduce the problem a

[2018-01-24 21:04] PVince81 commented on #1964
Additional info: my wife original used an app password. Then after today's server upgrade she lost the connection. Then she tried using her regular password. Not sure if that matters in this scenario, just pointing it out in case it reveals more clues.
This resulted in two separate entries in the oc_authtoken table. I deleted both to restore account access.

If the Android app is using a web view

[2018-01-24 22:01] SamuAlfageme commented on #1964
@PVince81 do you happen to know if the app password was created at some point prior to the server being 10.0.4? there are some issues with them described in https://github.com/owncloud/core/issues/30157

[2018-01-25 07:49] PVince81 commented on #1964
@SamuAlfageme I think I had 10.0.4 on my server when she created the app password last December.

Hmm, so that core bug tells that upgrading from OC < 10.0.4 to 10.0.4 or later would likely invalidate passwords ? Maybe that's the same bug. I'll see if I can reproduce this locally.

However it seems we now have two bugs:

1) the app password invalidation, which should not happen: https://github.com

[2018-01-25 09:20] davigonz commented on #1964
@PVince81 Thank you so much for your feeback.

The Android app is using a web view with SAML or OAuth authentication, is your wife using these authentication methods or just basic?

These are the steps the Android app follows when logging in:

1. GET status.php to retrieve the server information.
2. PROPFIND to /remote.php/webdav to know which authentication methods are supported by the server.

[2018-01-25 14:05] davigonz commented on #1964
I do not see CSRF header in our requests, at least in the login ones I described above. I will send you the logs of the login flow with the headers and content for the requests/responses, maybe you notice something weird there.

[2018-01-25 14:28] PVince81 commented on #1964
Let's look at the server code: https://github.com/owncloud/core/blob/v10.0.4/apps/dav/lib/Connector/Sabre/Auth.php#L166

These are the conditions that would trigger a CSRF check for any DAV call:
- method is not GET
- user agent is neither desktop, android or ios
- user is logged in
- method is POST
- user is not "DAV authenticated" (not clear what this means, possibly that the user got authentica

[2018-01-25 14:33] PVince81 commented on #1964
ohhh... this "DAV authenticated" condition is based on a session variable.

It is possible that the session was in a weird state: the user was still logged in (because if `isLoggedIn()` is false, the CSRF check is cancelled) but not DAV authenticated, maybe the session value is gone ?

Maybe something happened to the session and/or the app token during the upgrade.

I have the feeling that this is

[2018-01-25 14:36] PVince81 commented on #1964
And yet another little issue: as I said above, this CSRF check should never kick in for Android users.
We do see a user-agent check in the server code.

However my wife's user-agent says "ownCloudBeta-android/2.5.1-beta.1" but this is the server check:
[code]

I also wonder whether other users in this ticket were using a different or branded version where the user agent did not match ?

So I think

[2018-01-25 16:35] PVince81 opened #2098 "Fix user agent of beta"
Android beta should use a suffix in user-agent to be able to be recognized properly by the server.

@michaelstingl @davigonz

[2018-01-26 07:55] DaanTry commented on #1964
"I have the feeling that this is related to a zombie session / zombie
token, basically something that isn't cleared properly."

I wonder if that is the case. In my case this is 100% reproducible.

1 Install App
2 Make connection
3 Access files
4 Leave app alone for a few hours to a day (maybe it is the IP switch that
triggers it, going from WLAN to 4G and vice versa)
5 Try to access files

6 Login

[2018-01-26 08:51] PVince81 commented on #1964
@DaanTry are you using the beta client or a branded client ? Are you able to find the user-agent of your client from the access logs ?

From my analysis above, if the Android client is properly detected by the server it should never trigger the code path for CSRF check.

[2018-01-26 08:57] jesmrec commented on #2047
Resuming the work here, second review

[2018-01-26 09:15] davigonz commented on #1964
@PVince81 Thank you for the research

@DaanTry is using 2.5.0, as he commented in https://github.com/owncloud/android/issues/1964#issuecomment-353279235.

Other users such as @jensd0e and @pjao reported [here](https://github.com/owncloud/android/issues/2030) the same redirection to login page with 2.5.0 beta 2 and 2.5.1-beta.1 respectively so it's most likely that those redirections appear because

[2018-01-26 09:16] DaanTry commented on #1964
I am using the BETA Android app.

From the server access logs:

xx.xxx.xxx.xx - test [26/Jan/2018:10:15:17 +0100] "PROPFIND
/remote.php/webdav/Data/ HTTP/1.1" 207 23241 "-" "Mozilla/5.0 (Android)
ownCloudBeta-android/2.5.1-beta.1"

On Fri, Jan 26, 2018 at 9:51 AM, Vincent Petry <notifications@github.com>
wrote:

[2018-01-26 09:32] davigonz commented on #1964
@DaanTry in [this comment](https://github.com/owncloud/android/issues/1964#issuecomment-353279235) you reported the login redirection with 2.5.0, have you noticed the problem with 2.5.0 and after installing 2.5.1-beta.1 it appears again or you just wrote down the wrong app version? Thanks

[2018-01-26 09:34] DaanTry commented on #1964
I moved to 2.5.1-beta as per your request. Should I retry with the 2.5.0
version?

On Fri, Jan 26, 2018 at 10:32 AM, David González Verdugo <
notifications@github.com> wrote:

[2018-01-26 09:38] PVince81 commented on #1964
@DaanTry given the data above, I expect that the problem will disappear for you if you switch back to 2.5.0.

[2018-01-26 09:43] davigonz commented on #2030
 @jensd0e , @pjao , please follow up https://github.com/owncloud/android/issues/1964 where we are talking about the login redirection in beta app.

I will keep this issue opened to fix the problem described in the first comment, not the login redirection one.

[2018-01-29 11:53] jesmrec commented on #2047
### Bug (4)

Steps to reproduce:

1. Enable instant uploads with default camera folder
2. Take pics/videos -> they are uploaded after maximum 15 minutes
3. Change camera folder to a different one (for example, camera MX)
4. Take pics/videos with the default camera (not with the new one)

Current: Pics/videos are uploaded
Expected: Pics videos are not uploaded, so the camera folder points to a diff

[2018-01-30 07:52] jesmrec commented on #2047
### Bug (5)

kind of different to (4), different steps:

Steps to reproduce:

1. Install the app and enable instant uploads with default camera folder
2. Take pics and videos with two different cam apps (for example, the default one  and MX)
3. Pics of default camera are uploaded. MX's are not.
4. Change the camera folder to Camera MX and tap on back arrow

Current: Pics of step 2. are uploaded
Ex

[2018-01-30 09:03] jesmrec commented on #1963
@xavery92 is this still reproducible with the newer versions?

[2018-01-30 12:10] jesmrec commented on #2047
at this point, all bugs fixed and regression finished. Pending to perform upgrade testing before releasing 2.6.0

[2018-01-30 16:42] jesmrec commented on #2047
@davigonz could you try to generate a release .apk and install it in a tablet?

[2018-01-30 16:59] davigonz commented on #2047
@jesmrec It works for me in a Samsung Galaxy Tab S 6.0.1

[2018-01-30 18:23] DaanTry commented on #1964
Update:

- I switched back to Android v2.5.0
- I restored the  'csrf.disabled' in config.php back to false

I have not seen the issue again the past few days.

It seems fixed although I do not understand why and how.

Thanks for all your support!

On Fri, Jan 26, 2018 at 10:38 AM, Vincent Petry <notifications@github.com>
wrote:

[2018-01-31 09:22] jesmrec commented on #2047
Another issue related with upgrading (6)

Steps:

1.- Install release 2.5.0
2- Attach two accounts, download some files and enable camera uploads and passcode lock.
3- Upgrade to the current 2.6.0

Current: App crashes after typing passcode
Expected: Correct upgrade

Tested with Nexus 6P v7, GalaxyS v6

Stack trace of the crash

01-31 10:18:50.178 3961-4078/? E/AndroidRuntime: FATAL EXCEPTION: Thr

[2018-01-31 15:55] davigonz commented on #2047
@jesmrec The crash described in [Bug 6](https://github.com/owncloud/android/issues/2047#issuecomment-361872118) is related to the way in which apks are generated, it's highly recommended to clean the project before building it to avoid that kind of dependency errors.

[2018-01-31 15:56] jesmrec commented on #2047
All stuff fixed, release QA work finished.

[2018-01-31 18:57] harshitbansal05 commented on #2080
@davigonz may I work on this?

[2018-01-31 19:35] kerlerm commented on #2078
Test account closed. Comment here if you need access again.

[2018-02-01 07:02] harshitbansal05 commented on #2070
@davigonz i would like to work on this issue, can I start?

[2018-02-01 07:05] harshitbansal05 commented on #2071
@davigonz can i work on this issue?

[2018-02-01 07:27] davigonz commented on #2080
HI @harshitbansal05 , I would start with this issue or with #2071 , since #2070 might be a bit difficult as starting point.

[2018-02-01 07:35] harshitbansal05 commented on #2080
Thanks for the response @davigonz, i would start working on those two issues..

[2018-02-01 08:47] sd1998 commented on #2009
@jesmrec I would like to work on this issue.

[2018-02-01 09:15] jesmrec commented on #2009
@sd1998 ok! first of all, try to reproduce the problem by yourself, so you can check what is really happening. Please, open a new branch to develop the fix and tell us if you need help.

[2018-02-01 09:30] sd1998 commented on #2009
@jesmrec I tried to reproduce the problem. The login layout is account_setup.xml in res/layout right? What I have seen is that when the activity(AuthenticatorActivity.java) launches the on screen keyboard opens and then if I press back two times the app is closed. To fix this issue when the user presses the back button the app should not close right? Or the app should close and relaunch again. And

[2018-02-01 09:51] harshitbansal05 commented on #2071
@davigonz should I use a library for this purpose(there are some present)? Also, the design should be the same as in the screenshot?

[2018-02-01 12:15] jesmrec commented on #2009
Two taps on the back button are performed without the screen keyboard, and no accounts attached. I mean, first tap on the back button to vanish the keyboard, and then, double tap to reproduce the problem. The expected behaviour is that the app is closed as well as with one tap. Maybe it is not easy to reproduce (for that reason the low severity).

[2018-02-01 12:27] sd1998 commented on #2009
@jesmrec So after the keyboard disappears if the user taps the back button two times the app should not close?

[2018-02-01 12:29] jesmrec commented on #2009
It should close. The wrong behaviour is that it does not. It closes and reopens.

For that reason, i pointed you to try to reproduce it before start developing :)

[2018-02-01 12:31] sd1998 commented on #2009
@jesmrec  I am trying to reproduce it but it happens sometimes (very rarely) and most of the times it just closes.

[2018-02-01 12:43] sd1998 commented on #2009
@jesmrec I think I just have to eliminate the very rarely possibility of the activity to relaunch.

[2018-02-01 22:07] codedsun opened #2100 "OwnCloud-Android setup throws Error"
### Actual behaviour
Cloning the repo and opening in Android studio, it throws error

### Expected behaviour
It should work fine

### Steps to reproduce
1. Cloned the repo
2. Gradle sync starts and then error is shown

## Logs:
Error:Project : declares a dependency from configuration 'compile' to configuration 'default' which is not declared in the descriptor for project :owncloud-android-library.

[2018-02-01 22:46] harshitbansal05 commented on #2071
@davigonz @PVince81 do i need to set up a server or is there a demo server url so I can login into app.

[2018-02-01 22:48] michaelstingl commented on #2071
https://demo.owncloud.org/
user: demo
pw: demo:

[2018-02-02 09:43] davigonz commented on #2071
Hi @harshitbansal05 , you don't need a new library, dialog fragments can be used for that purpose, we already have many of them implemented in our code, see [this](https://github.com/owncloud/android/tree/master/src/com/owncloud/android/ui/dialog).

If you need more information. here you have the official documentation about Android dialogs: https://developer.android.com/guide/topics/ui/dialogs.ht

[2018-02-02 11:02] sd1998 commented on #2070
@davigonz I would like to work on this.

[2018-02-02 12:23] davigonz commented on #2070
@harshitbansal05 thank you for being interested in this issue but let's start with #2071 and #2080 first and we will talk about this issue then.

[2018-02-02 12:29] davigonz commented on #2070
@sd1998 We are thinking about changing our network library for the next release, so I would prefer not to start with this issue before that part is finished.

[2018-02-02 12:45] davigonz commented on #2089
@sd1998 Great! If you need some pointers, ping me

[2018-02-02 13:14] davigonz commented on #1870
Hi @M0ses, @houseofbugs, @bkraul, @smmilani and @jensd0e ,

we released yesterday the 2.6.0 Android app with the new **Camera uploads** feature, which will replace Instant Uploads and **will upload automatically your pictures and videos in 15 minutes at most**, focusing on reliability instead of immediacy and avoiding battery draining caused by excessive checking of the folder.

I invite you to tr

[2018-02-02 13:18] davigonz commented on #1829
Hi @kigero , @piperfect , @andreaphsz , @ToonOwncloud , @smmilani , @seisen , @songpr , @dauuser , @Trini2906 , @jaescribano , @moulip , @sastorsl , @sr222 , @livingclueless , @nejkica , @janipewter , @roots84 , @d98ama , @conlledo , @jreiter1975 , @erwinfolmer , @Diamondog , @fishstew ,

we released yesterday the 2.6.0 Android app with the new **Camera uploads** feature, which will replace Instan

[2018-02-02 13:21] davigonz commented on #1421
As the comment just above says, this is duplicated, so closing it... please follow up #520.

[2018-02-02 13:21] #1421 closed

[2018-02-02 13:23] davigonz commented on #520
Changing the label here to Camera uploads, instant uploads feature doesn't longer exist

[2018-02-02 14:06] davigonz commented on #251
Hi @FStrohmeier , could you give a new try with the 2.6.0 app we released yesterday? It includes the new Camera uploads feature, which will replace Instant Uploads and will upload automatically your pictures and videos in 15 minutes at most.

[2018-02-02 14:07] davigonz commented on #465
Changing the label from Instant uploads to Camera uploads since instant uploads feature doesn't longer exist...

[2018-02-02 15:19] codedsun commented on #2100
I missed that little part :( was stucked in this problem since 2 days, skimmed over the setup more than every time I opened the project.Thanks a lot!

[2018-02-03 06:11] icobg commented on #2047
Im unable to compile the project as the way described in SETUP.md

C:\Users\home\AndroidStudioProjects\android-oc-android-2.6.0>gradlew.bat --debug clean build
07:59:50.844 [INFO] [org.gradle.internal.nativeintegration.services.NativeServices] Initialized native services in: C:\Users\home\.gradle\native
07:59:50.894 [ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter]
07:59:50.896 [ERR

[2018-02-03 09:03] codedsun commented on #2100
@davigonz I am facing this issue again, while opening the project in Android studio.
Gradle build fails and throws

`Error:Cannot set the value of read-only property 'outputFile' for ApkVariantOutputImpl_Decorated{apkData=Main{type=MAIN, fullName=debug, filters=[]}} of type com.android.build.gradle.internal.api.ApkVariantOutputImpl.

Consult IDE log for more details (Help | Show Log)`

at line
`

[2018-02-03 10:30] harshitbansal05 opened #2104 "file deletion snackbar hiding the fab"
### Actual behaviour
When a single item is deleted, the ***removed successful*** snackbar partially hides the floating action button.

### Expected behaviour
The floating action button should actually move up when the snackbar is shown.
### Steps to reproduce
1. Delete a item from the **File Display Activity**.
2. On deletion, the snackbar hides the fab.

### Environment data
Android version:5.1

[2018-02-04 05:44] harshitbansal05 commented on #2104
@davigonz can you please look into this?

[2018-02-04 12:59] codedsun commented on #2100
@davigonz
I was facing with this issue multiple time,
`Failed to finalize session : INSTALL_FAILED_INVALID_APK: /data/app/vmdl2030466577.tmp/11_android-_______-debug version code 20600000 inconsistent with 0`

For Android studio 3.0. Can it be added to the documentation?, if needed.

[2018-02-04 12:59] #2100 closed

[2018-02-04 15:04] harshitbansal05 opened #2106 "Feature-Request - "Select All" button in launcher activity."
### Actual behaviour
There is no **Select All** feature in the main activity.
### Expected behaviour
There should be a such option to select all items in one go. It can be done by adding a **Select All** button in menu of File Display Activity.

[2018-02-05 01:11] tigerjiang opened #2107 "The source can't complied successfully."
### Actual behaviour
-Tell us what happens
I execute the command in terminal " ./gradlew clean build" in the source root path.
The error occur!

See the below log
tiger@:android-1$ ./gradlew clean build
File /home/tiger/.android/repositories.cfg could not be loaded.

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'android-1'.

           Re

[2018-02-05 01:13] tigerjiang commented on #2107
And I can't understand the settings.gradle config.
`include ':owncloud-android-library'
include ':'`
I havn't find the project owncloud-android-library .

[2018-02-05 01:38] #2107 closed

[2018-02-05 01:38] tigerjiang commented on #2107
Sorry to my wrong environment config

[2018-02-05 07:36] davigonz commented on #2100
@codedsun Have you managed to fix this finally?

[2018-02-05 07:42] davigonz commented on #2106
Hi @harshitbansal05 , thank you for requesting this feature but we already have an issue about it, so I will close this since is duplicated and you can follow up https://github.com/owncloud/android/issues/1727

[2018-02-05 07:42] #2106 closed

[2018-02-05 07:48] davigonz commented on #2071
@harshitbansal05

That was a initial mockup but you can propose a new one if you want.

You can use our demo site: https://demo.owncloud.org/login with the next credentials:

- admin/admin
- test/test

[2018-02-05 08:54] davigonz commented on #2107
@tigerjiang No problem, glad to see you've fixed the issue 👍

[2018-02-05 12:30] codedsun commented on #2100
@davigonz Yes, the instant run has to be disabled for running this app. I think it might help for future devs hence can be included in the documentation.

These days I am setting up the owncloud-server to get started with android project, is there any way I can get help for setting up the server and is there any demo (dev) owncloud server link to go through the app>?

[2018-02-05 12:45] davigonz commented on #2100
You can use our demo site: https://demo.owncloud.org/login with the next credentials:

admin/admin
test/test

[2018-02-05 12:52] codedsun commented on #2100
@davigonz Saved my day! thanks a lot 👍

[2018-02-05 12:53] codedsun commented on #2100
@davigonz Is there any time limit for the demo server?

[2018-02-05 12:57] codedsun commented on #1462
@davigonz I want to work on this issue.

[2018-02-05 13:01] michaelstingl commented on #2100
It resets every 1h which causes a little downtime.

[2018-02-05 13:04] codedsun commented on #2100
@michaelstingl How can i setup on my own pc? I read through the guide but I am stuck :(

[2018-02-05 13:21] michaelstingl commented on #2100
I prefer Docker (requires installation of [Docker](https://docs.docker.com/install/) and (maybe) [docker-compose](https://docs.docker.com/compose/install/)):

[code]

==> http://localhost/

With `docker-compose down` you shut it down.

[2018-02-05 13:28] davigonz commented on #1462
Great, ping me if you have any question or need any pointer to our code.

[2018-02-05 13:34] sd1998 commented on #1033
@davigonz I would like to work on this.

[2018-02-05 13:47] codedsun commented on #1462
@davigonz I want to ask, that how the following will go.

1.Like the user clicks on the android fingerprint choice and then he will navigate to which choice?

2.(i) he has to confirm the choice by confirming his finger and then the choice will be made.
2.(ii).or the choice will be confirmed and the next time the app is opened, the fingerprint activity is shown.

Next, can two locks be chosen simul

[2018-02-05 13:59] cdamken commented on #1462
It would be nice if the application can be locked with the fingerprint.

[2018-02-05 14:10] codedsun commented on #1462
@cdamken That means that it will follow step2(i) or step2(ii)?

[2018-02-05 14:32] davigonz commented on #1462
@codedsun Once the user presses the **Fingerprint lock** option, he will be asked for configuring the fingerprint and after that, the fingerprint will be required by the ownCloud app when it is resumed after closing or killing it.

In this case, we could follow the same approach as Android system itself, I mean, a different lock (passcode or pattern) is necessary before configuring Fingerprint, ju

[2018-02-05 14:32] davigonz commented on #1462
Sorry, wrong button

[2018-02-06 11:36] davigonz opened #2109 "Migrate to Gradle 3.1.2 and add Java 8 support"
We are currently using Android plugin for Gradle 2.3.3, but there is a newer Android plugin for Gradle with version 3.1.2 that could be used along with 4.4 gradle distribution.

Following [Migrate to Android Plugin for Gradle 3.0.0](https://developer.android.com/studio/build/gradle-plugin-3-0-0-migration.html#manifestOutputFile) and [Use Java 8 Language Features](https://developer.android.com/stud

[2018-02-06 12:57] jindalAnuj commented on #2109
@davigonz i want to work on this

[2018-02-06 13:18] hannesa2 commented on #2109
Here it's already included https://github.com/owncloud/android/pull/2076 and ready to merge

[2018-02-06 13:23] jindalAnuj commented on #2109
@hannesa2 it's ok  👍

[2018-02-06 18:59] codedsun commented on #1462
@davigonz To implement this further I want to ask that when the user presses the Fingerprint Lock option, then what screen(UI) has to be shown? For eg:
<img src= "https://www.androidhive.info/wp-content/uploads/2016/11/android-fingerprint-authentication-sign-in.png" />

Do we need such UI and can u guide me more as the above point is not clear to me enough.
Like, the user clicks fingerprint option

[2018-02-06 19:47] harshitbansal05 commented on #695
@davigonz i think we should add the feature to search locally for documents of a certain type example pdf, images, videos and files. Also, is the feature of local search being implemented?

[2018-02-06 20:18] harshitbansal05 opened #2111 "Soft keyboard not hiding on going back from select user/group activity"
### Actual behaviour
In Share activity, if no user or group is selected, after pressing the back navigation, the soft keyboard still persists.

### Expected behaviour
The soft keyboard should hide after the user/group selection activity is closed.

### Steps to reproduce
1. Long tap on a file and click the share icon.
2. Click on add a user or group.
3. Go back pressing the back navigation.

Can t

[2018-02-06 20:23] harshitbansal05 opened #2112 "No password visibility toggle feature in Create link share dialog"
### Actual behaviour
There is no password toggle feature in **Create Link Share** dialog.
### Expected behaviour
A password toggle feature should be added to the  dialog.

### Steps to reproduce
1. Long tap on a file and click share icon.
2. Click on create a link option.

Can this problem be reproduced with the official owncloud server?
Yes

### Environment data
Android version: 5.1.1

Device mod

[2018-02-06 20:32] sd1998 commented on #702
@davigonz  Is this issue fixed? If not I would like to work on it.

[2018-02-06 20:35] sd1998 commented on #1041
@davigonz I would like to work on this.

[2018-02-07 06:01] harshitbansal05 commented on #1179
hi, @davigonz i would like to work on this issue, is it still open?

[2018-02-07 06:13] harshitbansal05 commented on #1799
@davivel @davigonz is the issue still open? I found it interesting but could'nt get exactly what is preferred? Could you please help me?

[2018-02-07 07:04] harshitbansal05 commented on #842
@tobiasKaminsky i want to work on this issue, I think we should come to a common solution for issues #383 and #842.

[2018-02-07 07:15] sd1998 commented on #1064
@davigonz  Is this feature needed? I would like to work on it.

[2018-02-07 07:16] sd1998 commented on #1123
@davigonz I would like to work on this.

[2018-02-07 07:30] jesmrec commented on #2112
do you mean  the password to protect the public link? i can not reproduce with version 2.6.0

![screen shot 2018-02-07 at 08 29 10](https://user-images.githubusercontent.com/14894746/35903814-04c918e8-0be1-11e8-94e1-58e01792bf0b.png)

[2018-02-07 07:32] jesmrec commented on #2111
Thanks for reporting!!!

[2018-02-07 08:02] harshitbansal05 commented on #2112
After we switch on the password feature, while entering the password, there is no option to toggle visibility of the password.

[2018-02-07 08:26] jesmrec commented on #2112
do you mean to set the password as visible (not hidden behind asterisks), like the password in login view?

[2018-02-07 08:55] jesmrec commented on #2112
yep, i meant that. The eye icon, for example?

[2018-02-07 08:56] jesmrec commented on #2111
@harshitbansal05 yes, you can. thanks!!!

[2018-02-07 09:49] harshitbansal05 commented on #2112
Yes, should it be implemented?

[2018-02-07 09:54] davigonz commented on #1462
@codedsun The fingerprint is stored in the Android system so **you wouldn't need to ask for confirming the choice or configuring the fingerprint**, I've just updated my previous comment.
If the user doesn't have the fingerprint in his device yet, a error message would appear saying something like "To enable the fingerprint lock you should configure your fingerprint in your device".

Besides, you h

[2018-02-07 09:56] davigonz commented on #1462
@codedsun Instead of the dialog I suggested above, you could also use your "One touch sign-in" view, with a small option that says "use passcode".

[2018-02-07 11:03] davigonz commented on #1179
Hi @agilob, are you still interested in this feature? Have you updated your Android version to a newer one so that you can disable the notifications from the device settings? If so, I will close this issue since is a feature already included in Android system from several years ago.

[2018-02-07 12:12] agilob commented on #1179
yes

yes  :)

You can close it if you think it's not a feature for the app

[2018-02-07 12:52] michaelstingl commented on #1799
@harshitbansal05 please install a tool like Lux or Twilight and try to use the ownCloud app to check the behavior. ownCloud app has a security feature that protects your data from other apps that add an additional layer to your screen. A config option is needed so users could disable this security feature.

[2018-02-07 13:21] mueller-ma commented on #64
If I'm on my wifi and internet is down, it would annoy me if the oc client doesnt want to sync to my local oc server.
And whats even worse: I use a client side firewall to block some traffic and increase privacy. Since the internet check requires a connection to google I blocked it, so all wifis are tagged as no internet.

[2018-02-07 14:10] RalphBike commented on #1799
I still have the same effect with the latest lineage, with Twilight and without.

I tried excluding the client from Twilight and also uninstalled Twilight. For me this is a blocker and makes the client completely unusable, which is basically the only reason why I still have to use Dropbox and can not switch to Owncloud.

[2018-02-07 17:20] FStrohmeier commented on #251
Hello,

Sorry for the late reply. As I do not use this smartphone anymore for now about a year, I can only give the app a try on my new one (Huawei P9). I will do so and give a feedback in a few days.

Kind regards,

Franz

Am 02.02.2018 um 15:42 schrieb David González Verdugo <notifications@github.com<mailto:notifications@github.com>>:

Hi @FStrohmeier<https://github.com/fstrohmeier> , could you

[2018-02-07 17:28] jesmrec commented on #695
this should be a work in different stages, but for the current one we can put the focus on filtering in the current folder using the file name.

@michaelstingl is it worthy to put effort in this issue?

[2018-02-07 17:34] codedsun commented on #1462
@davigonz I am not able to figure "One touch sign-in" view? Can you tell me about that and tell me your location/gmt so that I can sync.Can u drop ur email/ any chat channel suitable for conversation.?

I am setting up the server still :( because the demo ones expire and widout it I am not able to make a walkthrough and debugging every time.
Thanks for the help.

[2018-02-07 17:37] jesmrec commented on #2029
Blackberry is not currently supported by oC. Are you experiencing this problem only with blackberry or another kind of device?

[2018-02-07 20:01] elutz commented on #2029
Thanks for your answer. It reminds me to test the connection again. To be honest, after I posted the problem, I didn't try again, assuming it doesn't work anyway.

But the good news is, the app connects now and all is working fine.
I haven't any clue what the cause was. In the meantime there were updates of the app (2.5.0 now) and of the owncloud server (in the moment of writing 10.0.4.4). Maybe o

[2018-02-07 20:01] #2029 closed

[2018-02-07 23:28] michaelstingl commented on #695
From my understanding, on the device is only a small number of files present. Local search don't really solve a problem.

Folder filtering in big folders with a long list of files might already solve a small problem for some users, and the UI should be reusable for server-based search via API. 👍

[2018-02-08 07:26] MarcioQuimbundo commented on #1074
error_reporting(0) will not solve the problem, but it will clean the output error

[2018-02-08 09:08] davigonz commented on #1179
@agilob We have included a new feature in the new ownCloud Android app 2.6.0 to configure separately the notifications for downloads or uploads in Android 8.

<img src="https://user-images.githubusercontent.com/15261363/35964339-bd8fc972-0cb7-11e8-83b2-5afae396675e.png" width="50%">

[2018-02-08 11:42] jesmrec commented on #695
then, this can be a good start point @harshitbansal05 .

The acceptance conditions should be. Some tips related:

- Will the filtering dialog in UI be always visible?, or should keep hidden until a user perform any action that makes it visible? Where to place it?
- Only filtering by name. Will the filtered list support multiselection?
- Option to clear the filter, needed.

[2018-02-08 14:20] davigonz commented on #1104
Taking into account the current status of the app, I would use 5 different steps for this wizard following this order:

1. Manage all your files
2. Share your files
3. Multiaccount
4. Camera uploads
5. Video streaming

[2018-02-08 20:21] codedsun commented on #2100
@michaelstingl  I am facing some issues when I type docker-compose up -d.
It gives me some error of Compose file and says that unsupported config option for services.db, services.owncloud.

[2018-02-09 07:11] harshitbansal05 commented on #2112
@jesmrec i would start working on it...

[2018-02-09 09:18] davigonz commented on #2100
@codedsun You can also use something like this, without using docker-compose:

1. Execute `docker run -d -p 11181:80 owncloud:latest` (You can use 11181 or other one, up to you)
This command will download the latest owncloud image, create a docker container and start it automatically. Besides, it will export the 80 port from docker container to your 11181 port.
2. Open a browser and write localhos

[2018-02-09 09:36] davigonz commented on #1462
@codedsun "One touch sign-in" view is the one you attached in https://github.com/owncloud/android/issues/1462#issuecomment-363528048. What I meant is that you can use the dialog I explained in https://github.com/owncloud/android/issues/1462#issuecomment-363715728 or just use that view, with an option that says "use passcode".

GMT +1, Spain 🇪🇸

I would prefer discuss about the topic here, so anyon

[2018-02-09 10:06] #2027 closed

[2018-02-09 14:45] jesmrec commented on #1104
Order is fine for me. 5 are a good number, so a longer wizard will make users to skip it.

[2018-02-09 17:58] codedsun commented on #1462
@davigonz  I couldn't move forward until I get the server ready :( hence trying to set up server asap!

[2018-02-10 11:04] harshitbansal05 commented on #695
@jesmrec, imo a progress bar can be shown when user performs any search and can be placed on the top of the screen.
But I could'nt undertand the third point.. do you mean returning back to the normal list of files? could you please explain?
Also the search needs to be done for files in a folder, right?

[2018-02-10 12:16] cheesecracker opened #2114 "Still no support to save file in SD card -- Bye bye"
### Actual behaviour
- NOTHING happens in more than four years

### Expected behaviour
-Expected feature to be implemented ages ago

### Steps to reproduce
1. Ask once
2. Ask twice
3. Ask and ask

Can this problem be reproduced with the official owncloud server?
(url: https://demo.owncloud.org, user: test, password: test)
Yes, anywhere, everywhere

I'm leaving ownCloud: this forum, the newsletters

[2018-02-10 13:17] harshitbansal05 commented on #904
@jesmrec is the issue still open?

[2018-02-10 14:06] codedsun commented on #2100
@davigonz That above method works, now for the app how can I use this address

[2018-02-11 11:17] jesmrec commented on #1892
Is this problem still reproducible?

[2018-02-12 07:38] jesmrec commented on #904
yes, it is. The way to do that is: https://github.com/owncloud/android/issues/904#issuecomment-76710222

[2018-02-12 07:42] jesmrec commented on #695
With the third point i mean to set something that clears the text area where the user inputs the filter (An (x) or similar).

do you mean in the current folder? i meant that searching in the current folder is filtering.

[2018-02-12 07:59] sd1998 commented on #2089
@davigonz what do you mean by color gradiant here?

[2018-02-12 08:00] davigonz commented on #2100
You need to know your local IP by typing `ifconfig` in a terminal if your OS is linux based. Once you have your local IP, open a browser and type `IP_ADDRESS:11181`

[2018-02-12 08:22] codedsun commented on #2100
and is it necessary to have the devices connected to the same network?
On 12-Feb-2018 1:30 pm, "David González Verdugo" <notifications@github.com>
wrote:

[2018-02-12 08:37] davigonz commented on #2100
No, there's options like port forwarding to access from a different network, but I would recommend you to work in the same network.

[2018-02-12 08:38] davigonz commented on #2089
@sd1998 Something like this

![test](https://user-images.githubusercontent.com/15261363/36088677-7d09e6e8-0fd8-11e8-96cd-5f52b331637c.png)

[2018-02-12 08:41] codedsun commented on #2100
Thankyou so much for the help.Will try as soon as I reach my home.And for
today the list of organizations are to be declared.Hoping the best and will
contact you further for android project ideas.

Thankyou.

On Feb 12, 2018 2:07 PM, "David González Verdugo" <notifications@github.com>
wrote:

[2018-02-12 08:56] davigonz opened #2116 "ownCloud notification always visible in Android 8"
### Actual behaviour
- ownCloud app shows notification with message "ownCloud is using battery" all the time.

<img src="https://user-images.githubusercontent.com/15261363/36089114-81de5d8c-0fda-11e8-9685-2f8a83fa67ec.png" width="70%">

### Expected behaviour
- ownCloud app notification should be shown when it's needed and disappear after that.

### Steps to reproduce
1. Open the app
2. Press home

[2018-02-12 09:29] jesmrec commented on #2080
It will release within 2.7.0.

[2018-02-12 09:38] davigonz commented on #2027
It will release within next version 2.7.0

[2018-02-12 09:40] jesmrec commented on #2114
@cheesecracker i'm sorry if you are not satisfied, but please, you have to take in account several things:

- We receive a lot of proposals regarding many features of the app.
- SD card sounds as a very cool feature, but other considerations have to be taken in account. Also, many people is against the feature due to security issues.
- This issue is duplicated in https://github.com/owncloud/androi

[2018-02-12 09:40] #2114 closed

[2018-02-12 16:30] #2080 closed

[2018-02-12 16:36] sd1998 commented on #1033
@davigonz I would like to work on this.

[2018-02-13 11:01] dragu commented on #1892
I still have this issue with mobile client 2.6.0 and 9.1 server

[2018-02-13 11:03] jesmrec commented on #1892
could you send us a test account in your server? to check from here where the problem can be. You can ship it to apps@owncloud.com, pointing in the message to this issue.

[2018-02-13 17:05] jesmrec commented on #1892
I have checked your test account and the main differences i noticed with out test 9.1.6 server are:

- Your server returns a cookie:

that should not affect the fact the file is not downloaded.

- The request returns a header `X-Cacheable NO`, not standard afaik.

Are there any noticeable setup in your environment that could affect?

[2018-02-13 17:28] SamuAlfageme commented on #2036
Linking here the conclusions drawn from dealing with webview sandboxes and their risks (ref. https://github.com/owncloud/oauth2/pull/112): https://github.com/owncloud/core/pull/30365#issuecomment-365335101

[2018-02-13 18:49] michaelstingl commented on #2036
As I understand, Chrome Custom Tabs would have own cookies that can’t be accessed from oC Android app, and Chrome Custom Tabs also can’t access cookies from oC Android app. They would be totally separated, same as the desktop sync client and the default system browser. It should work exactly the same way.

[2018-02-14 09:59] jesmrec commented on #1104
About 1.

I miss the word `Sync`, `Syncing`, or `Keep on sync` anywhere.

About 3.

`Connect to all your clouds` is a bit confusing, so it sounds to "external storage" like the core feature. I'd use: `Connect to all your ownClouds` or `Connect to all your servers`, `Manage many accounts` or something similar.

[2018-02-14 10:05] michaelstingl commented on #1104
@ChrisEdS Please review and provide feedback

[2018-02-14 10:37] pmaier1 commented on #1104
Looks very nice so far but I have to ask about the intention/benefit. Should this be a feature overview to make the user aware of the nice features to captivate to explore those? Or does a user maybe know about the features from e.g. the app description on the appstore and actually needs some guidance on how to use them? How do I upload/move/copy/rename/delete a file? How can I share with another

[2018-02-14 11:15] davigonz commented on #1104
@pmaier1 Thanks for your feedback, this is an introduction to all the features included in the Android app, more visual and accessible than the description provided in Google PlayStore, we have a similar introduction in the iOS app as well.

This intro is going to appear not only after first install but in updates, to show the new features included in that specific update, so that our users are aw

[2018-02-14 16:59] davigonz commented on #1104
iOS wizard has a specific step with the message "Your private files synced anywhere" but it doesn't include Video streaming step. Including those words would be great but I don't know where exactly 😕

What about a mix between two of your suggestions, "Connect to all your ownCloud servers"?

[2018-02-15 08:27] dragu commented on #1892
Cookie comes from cloudflare, X-Cacheable is header from Varnish telling that page is not cached, what is wrong with this header?

[2018-02-15 11:53] jesmrec commented on #1892
nothing is wrong ftm, only checking differences between your server and other one with the same version and same app version, where downloads are correctly done.

[2018-02-15 11:55] jesmrec commented on #2036
Currently, android app is not using webview cookies after the auth process. Chrome Custom tabs is supposed to do the same, of course.

[2018-02-15 12:24] jesmrec commented on #1104
An option: in 1. change the title for `Manage all your synced files`. It is not direct, but at least we are telling the users that they can sync + manage.

sounds good!

[2018-02-15 12:49] jesmrec commented on #1696
Already supported in the app. Thanks @malkomich

[2018-02-15 12:49] #1696 closed

[2018-02-15 12:51] jesmrec commented on #1179
Android fixed the problem itself :)

Closing, if any consideration regarding notifications is noticeable, please reopen

thanks for reporting @agilob

[2018-02-15 12:51] #1179 closed

[2018-02-16 09:11] davigonz commented on #1729
Hi @atsag , is this already fixed after applying the https://github.com/owncloud/android/pull/1765 changes? Can we close this then?

[2018-02-16 09:37] davigonz commented on #1831
@croisez can you please check if you have any app described in #1799 installed that might be blocking the touch events? Thanks

[2018-02-19 09:18] davigonz opened #2118 "As an user, I would like to create a new text file or edit an existing one and upload it directly to my ownCloud"
The Android app has already an option to create a folder, but it would be great to have a new one to create a new text file with some content or edit an existing one and upload it directly to ownCloud. This option is already implemented in iOS app.

Possible design with the "New text file" floating button:

<img src="https://user-images.githubusercontent.com/15261363/36375093-2f97975c-156e-11e8-9c

[2018-02-19 09:24] davigonz opened #2119 "As an user, I would like to take a picture of my handwritten notes or printed documents, scan them and upload it directly to my ownCloud"
The current ownCloud Android app has different options to upload files to an ownCloud server, such as selecting them from the internal storage, selecting content from other apps or uploading photos directly from the camera.

It would be great to include a new option which enables the user to take a new picture with the camera and select the edges of handwritten notes or printed documents. After th

[2018-02-19 09:50] sd1998 commented on #2119
@davigonz I would like to work on this.

[2018-02-19 11:21] davigonz opened #2120 "Floating buttons and bottom sheets reorder"
We have recently included a new contribution to upload pictures directly from the camera and created a new bottom sheets menu in the app that appears when pressing the upload button and includes the new option and upload files one:

![bottom_sheet](https://user-images.githubusercontent.com/15261363/36371109-73dea4b2-1561-11e8-988d-0a2ddf4cb0bf.gif)

Following the new bottom sheet menu shown above

[2018-02-19 13:09] pmaier1 commented on #1104
Sorry, but I don't see much benefit in a firstrun/update wizard that tells the user that they can manage and share files, stream videos, do camera uploads but does not tell them how. Don't get me wrong - it looks nice - but how would it help the user?

In current state this is not more than a high-level feature list that the user needs to dismiss 5 times.
While this is of course better than nothin

[2018-02-19 13:37] jesmrec commented on #1104
The welcome wizard is a way to welcome new uses to the app. Of course, those who download the app know what is it for, but, perhaps, not all of them know that the app handles with videostreaming, for example. The welcome wizard is a feature included in the iOS app from long ago, and it is a simple way to introduce basic features that you can skip with a simple click if not interested in. Many apps

[2018-02-19 13:46] davigonz commented on #1104
This is a pretty well-known feature in many mobile apps, the user needs an overview with the app features to know at a glance what the app is able to do.

I agree with you @pmaier1 that we would need a better approach to answer the questions in https://github.com/owncloud/android/issues/1104#issuecomment-365563086.

As @jesmrec says, we have a `Help` section in Android app which is basically a web

[2018-02-19 15:45] cheesecracker commented on #2114
-  FYI: Someone sent me a private message telling me that NextCloud has already implemented this cool feature
- I don't know what "security issues" it's about.  But we cannot live in the shadow of the fear.  We need to go forward.  We can always inform user of eventual security issues before letting them choose SD card.
- I knew #10.  I have subscribed on that.  I opened this issue NOT to duplicat

[2018-02-19 18:46] mueller-ma opened #2121 "FR: Adaptive icon"
Api 26 introduced adaptive icons where background and foreground are two different images.
https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive.html

[2018-02-20 12:51] #2047 closed

[2018-02-20 12:56] zindabad8 opened #2122 "automatic camera upload fails"
### Actual behaviour
The new camera upload feature doesn't work. Files are synced properly. Photos can only be uploaded manually. When selecting the default photo folder (/storage/emulated/0/DCIM) it appears empty in the owncloud app but I can see the files when opening with an explorer. Uploads appeared to be starting but failed (Upload failed - device not connected to a network).

### Expected b

[2018-02-20 13:11] #2122 closed

[2018-02-21 09:32] davigonz commented on #1462
@codedsun have you finally got the server ready? I would like to start with this but if your server is ready and want to contribute here, let us know.

[2018-02-21 11:26] cdamken commented on #1462
I can provide you an account in my server if you want to test.

[2018-02-21 15:51] davigonz commented on #2119
Great @sd1998 , glad to hear you want to contribute with this. Just for you to know, there's a bounty for implementing this feature.

[2018-02-21 15:54] sd1998 commented on #2119
@davigonz Where can I get the information about the bounty for this feature?

[2018-02-21 16:33] michaelstingl commented on #2119
@sd1998 https://www.bountysource.com/issues/55217024

[2018-02-21 16:46] sd1998 commented on #2119
@michaelstingl  Thanks.

[2018-02-22 08:01] sd1998 commented on #2119
@davigonz  For this feature should I use a 3rd party dependency or should I try to implement the feature from scratch using opencv etc.?

[2018-02-23 07:59] jesmrec opened #2124 "FileObserverService: use startForegroundService on Oreo and later"
### Actual behaviour
The ownCloud Android app crashes

### Expected behaviour
The ownCloud Android app shouldn't crash

### Steps to reproduce
1. Install the ownCloud Android app.
2. Login.
3. Restart the device.
4. Wait 10-15 seconds.

Can this problem be reproduced with the official owncloud server?
Yes

### Environment data
Android version: 8.0.0

Device model: Nexus 5X

Stock or customized sys

[2018-02-23 08:59] davigonz commented on #2124
Hi @jesmrec , have you tested this? Do we have steps to reproduce?

[2018-02-23 09:04] jesmrec commented on #2124
not yet

[2018-02-23 19:52] mudit9 commented on #2118
Hi, I am working on this issue. I would just like to know how the create folder module is working.
Can you please explain this line of code?
**((ComponentsGetter)getActivity()).getFileOperationsHelper().createFolder(path, false);**
This is in the CreateFolderOperationFragment.java file.
Right now, I have used similar dialogues that are being used to create a folder, to create a new file. I just wa

[2018-02-26 09:40] Unsigno commented on #2119
Hi guys , when you talk about "the image will be processed", do you mean using OCR to get plain text or adjust the marked edges to get a rect and aligned document ?

[2018-02-26 09:57] davigonz commented on #2118
Hi @mudit9 , glad to see you are working on this. Let's answer your different questions:

((ComponentsGetter)getActivity()).getFileOperationsHelper().createFolder(path, false);

When executing that line, we are calling `createFolder()` method in FileOperationsHelper which, as its name says, is a class responsible for handling operations related to files, such as opening, renaming, removing files a

[2018-02-26 10:06] davigonz commented on #2119
Actually Is not OCR itself, is just about taking a picture and adding some kind of filters so that the picture seems a scanned document.

[2018-02-27 15:01] Unsigno commented on #2119
Oki , i am looking for a PR and have some questions.

1 - Could be added OpenCV as dependency to do this ?
2 - If i send a PR, it has to contain all the translations of the texts used ?

[2018-02-27 16:20] sd1998 commented on #2119
@Unsigno I am already working on this. Could you work on any other issue? Thanks.

[2018-02-27 21:03] cdamken opened #2127 "Android uploads does not respect the temporal folder upload configuration in oC10"
Server version 10.0.7

The desktop clients  and the WebUI  uploads  respect the right chunk folder.

I get a lot of errors like this:

<img src="https://user-images.githubusercontent.com/7264495/36754946-daf178f0-1c0a-11e8-8a72-660cb9847285.png" width=350px/>

And  the android sync-client uploads the files in `data/carlos/cache/VID_20171230_114308.mp4-chunking-4273-477`

I have configured in the c

[2018-02-27 21:05] cdamken commented on #2127
Uploading in the wrong directory (in this case the NFS storage) makes the uploads much slower.

[2018-02-28 10:45] cdamken commented on #2127
Related to: https://github.com/owncloud/android/issues/2070

[2018-02-28 15:18] Unsigno commented on #2119
@sd1998  You could mark it on bountysource as started and give an aproximated time to prevent bounty hunters :p . give some news if you leave it please .

If some one can asnwer 2 i still curious .

[2018-02-28 18:08] davigonz commented on #2119
@Unsigno

1. Yes, OpenCV could be used to detect the document edges for example.
2. Not necessarily, including texts in english is enough since they will be automatically translated by transifex. If you have a look at the master commits history, you will see that many of them are automatically added by owncloud-bot and include the translations I mention.

[2018-03-01 14:42] DrissiReda commented on #470
Hello I have a similar issue on my iOS app, everything worked perfectly beffore SSL, once added I started having on and off issues, the app randomly freezes, and rarely works on my log I found this line :
`host-001.home:443 37.168.224.23 - - [01/Mar/2018:15:30:02 +0100] "PROPFIND /owncloud/remote.php/webdav/InstantUpload/ HTTP/1.1" 403 232 "-"     "Mozilla/5.0 (iOS) ownCloud-iOS/3.7.2"`

But when

[2018-03-02 08:24] davigonz commented on #470
Hi @DrissiReda , thank you for the logs, will be useful. Can you please include this information in a [iOS repository](https://github.com/owncloud/ios/issues) issue as well? Thanks

[2018-03-02 12:03] jesmrec commented on #2077
This will be included en 2.7.0

[2018-03-02 12:07] #2077 closed

[2018-03-02 12:49] jesmrec commented on #702
To be included in 2.7.0

[2018-03-02 14:31] #702 closed

[2018-03-02 15:28] DrissiReda commented on #470
Already did when  I first encountered this issue.

[2018-03-04 06:29] sd1998 commented on #2119
@davigonz I am using camera2 API it requires the API level 21 and currently, the minimum API level has been set to 14. Should I change it? Or try an alternate approach?

[2018-03-04 07:50] sd1998 opened #2129 "ANR when opening logs"
### Actual behaviour
-Tell us what happens

### Expected behaviour
-Tell us what should happen

### Steps to reproduce
1.
2.
3.

Can this problem be reproduced with the official owncloud server?
(url: https://demo.owncloud.org, user: test, password: test)

### Environment data
Android version:

Device model:

Stock or customized system:

ownCloud app version:

ownCloud server version:

### Logs
##

[2018-03-05 15:25] cdamken opened #2130 "[2.6.0] Automatically uploads settings are removed after the upgrade."
I upgraded from 2.5.0 to 2.6.0  and I had activated automatically upload pictures and video.

after the upgrade (over Playstore) the settings are removed and I have to add it manually again.

Tested with branded app (damken-cloud)

@michaelstingl @davigonz

[2018-03-06 08:18] davigonz commented on #2130
Thanks @cdamken , we replaced the "Instant upload" preference with "Camera uploads" one, so the behaviour you describe is what we expect, if you want to use Camera uploads feature you will need to enable the feature to initialize and configure it properly.

I know it wasn't the best solution, we included a note about this topic in central and in PlayStore description.

If something like this happe

[2018-03-06 08:19] #2130 closed

[2018-03-06 10:06] #2116 closed

[2018-03-06 10:27] davigonz commented on #2129
Hi @sd1998, thank you for reporting this, can you please include the Android device and version you are using to reproduce it?

[2018-03-06 17:00] davigonz commented on #2111
Hi @harshitbansal05 , I am not able to reproduce this problem, when I press the back navigation button or even the Android back button, the soft keyboard always disappear, am I missing something? Thanks

![mar-06-2018 17-58-36](https://user-images.githubusercontent.com/15261363/37046208-1348ff04-2168-11e8-8341-03537e5285a3.gif)

[2018-03-06 18:04] jesmrec commented on #2111
@davigonz check it with Android 5. Also reproducible with Android 4.

[2018-03-07 07:56] davigonz commented on #2111
I see, thanks @jesmrec

[2018-03-07 09:26] theScrabi opened #2131 "OCFileListFragment uses ListView instead of RecyclerView"
[OCFileListFragment](https://github.com/owncloud/android/blob/master/src/com/owncloud/android/ui/fragment/OCFileListFragment.java), and all the other fragments that derive from [ExtendedListFragment](https://github.com/owncloud/android/blob/master/src/com/owncloud/android/ui/fragment/ExtendedListFragment.java) are still based on ListView instead of [RecyclerView](https://developer.android.com/refe

[2018-03-07 09:48] davigonz commented on #2124
As @invisiblek mentioned [here](https://github.com/owncloud/android/pull/2110#issuecomment-364136581) , avoiding this crash is not so easy since is related to the current implementation of **available offline feature**.

Most part of the code involved in available offline feature belongs to [FileObserverService](https://github.com/owncloud/android/blob/master/src/com/owncloud/android/services/obse

[2018-03-07 11:25] sd1998 commented on #2129
@davigonz I have updated the issue with the android device, version and the owncloud app version.

[2018-03-07 11:54] jesmrec commented on #2124
anything wrong detected in the version in which we adapt to Android O. But i will perform a sanity to the av. offline feature using Android O and N.

[2018-03-07 12:00] davigonz commented on #2124
Ok thanks, please put the focus on keeping the app in background and changing favourite files locally, to see if they are automatically synchronized with the OC server.

[2018-03-07 16:30] theScrabi commented on #1703
So what I found out investigating this is that we drop the database entry of a file when it gets gets renamed, and then synchronized.
So all the information that is not stored on the server like local path to the file stored on the smarthphone, and the "available offline" flag get lost, and the actual renamed file is then handled like a new file.

[2018-03-07 17:48] jesmrec commented on #2131
Related with https://github.com/owncloud/android/pull/1636

[2018-03-07 17:49] theScrabi commented on #1662
Since version 2.6.0 got a complete refactoring of the image upload this issue might not be valid anymore.

[2018-03-07 18:08] davigonz commented on #1662
@s3b- , @kslaggs could you try with the latest version of ownCloud Android app? 2.6.0 version includes the new Camera uploads feature, replacing Instant Uploads, and will upload automatically your pictures and videos in 15 minutes at most.

[2018-03-07 19:24] s3b- commented on #1662
@davigonz Doesn't seem to happen anymore. It takes a while until the images are being uploaded, though. But no error messages. Thanks!

[2018-03-08 08:21] davigonz commented on #1662
Thanks for your feedback @s3b- , we will close this then

[2018-03-08 08:21] #1662 closed

[2018-03-08 08:42] davigonz commented on #2131
This is duplicated of https://github.com/owncloud/android/issues/984, follow up there.

[2018-03-08 08:42] #2131 closed

[2018-03-08 09:16] davigonz commented on #2119
@sd1998

Were not you using [https://github.com/jhansireddy/AndroidScannerDemo](url) to implement this feature? What is camera2 API used for?

If there's no way to include this feature in APIs lower than 21, I would include a condition to disable the feature for versions lower than 21 instead of setting the minimum API level.

Keep in mind we still have users with Android versions previous to Loll

[2018-03-08 09:31] davigonz opened #2135 "[2.7.0] Release new version"
### TASKS
- [x] [WIZARD] Create new steps with important features included in 2.7.0 #2136
- [x] [COORDINATION] Create task in marketing board to publish a blog post, at least one week before releasing.
 - [X] [GIT] Create branch release_0.9.19 in owncloud/android-library from master  (almost feature-frozen) [DONE, not library changes for this version]
 - [x] [GIT] Create branch release_2.7.0 in ow

[2018-03-08 09:57] davigonz opened #2136 "[2.7.0] Wizard, include coming features"
Since we are going to include several important features in the coming release, we could include them in our new wizard, but just for the users that update the app from old versions to 2.7.0.

Features to include:
1. Pattern lock.
<img src="https://user-images.githubusercontent.com/15261363/37155875-bd079b36-22e4-11e8-9ff5-7df47eb6d765.png" width=50%>

2. Fingerprint lock.
<img src="https://user-i

[2018-03-08 10:04] jesmrec commented on #2136
i expect that the rating feature will be included in the current version as well

[2018-03-08 12:31] theScrabi opened #2137 "Moving/renaming file remotly delets it and remove avoffline flag"
Basically all the local information about a file is lost when its renamed or moved remotely. This is because we use the file path instead of the fileID to identify a remote file.

[2018-03-08 12:33] theScrabi commented on #2137
This is related to https://github.com/owncloud/android/issues/1703

[2018-03-08 12:40] theScrabi commented on #1703
There is a more common issue than this. https://github.com/owncloud/android/issues/2137
https://github.com/owncloud/android/issues/2137 also handles the deletion of a local file if a file gets renamed or moved. This is both related to this issue.

[2018-03-09 10:30] cdamken commented on #2127
![android](https://user-images.githubusercontent.com/7264495/37203227-45cc7088-238d-11e8-9c9a-cdba8824987a.png)

It uploads the file correct many times.

[2018-03-09 10:31] cdamken commented on #2127
@theScrabi could you help?

[2018-03-09 11:14] davigonz commented on #2136
@jesmrec Yes, it will be included but I wouldn't consider it as a feature to show in the wizard.

[2018-03-09 16:45] sd1998 opened #2141 "Upload pictures directly from devices camera, uploads the thumbnail of the image."
### Actual behaviour
When using the upload from camera feature the thumbnail of the picture is being uploaded.

### Expected behaviour
The actual picture file should be uploaded instead of the thumbnail.

### Steps to reproduce
1. Open the main FAB.
2. Select  Upload FAB
3. Select "Picture from camera" option in the Bottom Sheet

Can this problem be reproduced with the official owncloud server?
(u

[2018-03-09 16:46] sd1998 commented on #2141
@davigonz while I working on this feature I did not notice this mistake. But I just saw it when I ws working on #2119. And I have fixed it will be sending a PR in some time.

[2018-03-10 10:15] sd1998 commented on #2119
@davigonz I did not use https://github.com/jhansireddy/AndroidScannerDemo but have implemented the feature in a better way. And it will also work for minSDk = 14 thus supporting Android version previous to Lollipop.

[2018-03-12 08:32] davigonz commented on #2141
Great @sd1998, thanks for reporting it, we will include it in the next 2.7 release

[2018-03-12 11:53] theScrabi opened #2145 "New downloaded/offline available icons + pins"
Through [this](https://github.com/owncloud/android/issues/2081) issue here we came to the conclusion that we might need new pin designs in order to keep UI consistence. We tried to take an approach equal to what was suggested [here](https://github.com/owncloud/ios/issues/927) for the iOS version.

Instead of showing two labels when a file is marked offline available and downloaded we only show the

[2018-03-12 11:58] #1104 closed

[2018-03-12 12:16] jesmrec commented on #2111
Fixed and ready to 2.7.0

[2018-03-12 12:37] theScrabi commented on #2127
@cdamken I just found out the android client still uses the old chunk end point. Maybe this issue is related to that.

[2018-03-12 12:51] cdamken commented on #2127
I changed at the weekend the storage to a faster one, that probably that will help with the timeouts or something. but, we have to migrate to the new implementation as soon as possible.

[2018-03-12 12:55] theScrabi commented on #2127
I don't know how fast we can do that, but I'll take a look at it :)

[2018-03-12 12:57] cdamken commented on #2127
now I have a full 1GBit connection to the NFS, before was  arround 200 MBps

[2018-03-12 14:20] moscicki opened #2146 "Camera Upload (2.6.0) does not work on Android 5.1.1"
### Actual behaviour

After updating from 2.2 to 2.6 CERNBox branded Android App (Alpha testing channel) the photo upload functionality got broken for me on Android version 5.1.1

However, I have a report from another tester that Camera Upload works for them on Android version 8.0.0.

### Expected behaviour

I expect the photo to be uploaded. I also expect to see it in the "Uploads" list.

Related

[2018-03-13 07:41] jesmrec commented on #2146
Currently, the Android system is cutting off background services, so we do not have another option to upload automatically pics directly from the camera. I will check with Android 5 again in any case if the is any weird behaviour.

To upload automatically faster, we will release in next version the feature `upload from camera` to take a pic from the app.

[2018-03-13 07:46] moscicki commented on #2146
@jesmrec: ok, but 2.2.0 was working fine. why? it looks like a 2.6.0 regression to me.

[2018-03-13 08:07] jesmrec commented on #2146
2.2.0 implemented instant uploads, different from camera uploads

[2018-03-13 09:15] theScrabi commented on #2127
I think this might more be an issue of the core, that it is ignoring the `dav.chunk_base_dir` parameter for the old chunking endpoint.

[2018-03-13 09:55] theScrabi commented on #2069
The problem is that we use an old endpoint for junk uploading. Since there are more issues related to this old junk upload such as https://github.com/owncloud/android/issues/2127, we may want to consider upgrading to the new endpoint.

[2018-03-13 10:15] #2141 closed

[2018-03-13 12:14] theScrabi commented on #1888
This issue does not ocure to me in the current version 2.6.0.
@seisen do you experience this still? Maybe this can be closed.

[2018-03-13 19:17] cdamken commented on #2127
I just tested with the new fasts storage. the problem still happens.

[2018-03-14 08:46] davigonz opened #2147 "[2.7.0 beta v1] Release new beta version"
### TASKS:
 - [X] [COORDINATION] Create task in [Community Management](https://kanboard.owncloud.com/board/22) board to publish a blog post, several days before releasing: https://kanboard.owncloud.com/project/22/task/1867
 - [x] [DEV] Create **2.7.0_beta_v1** branch from master and:
         - Get rid of previous beta implementation.
         - Update version code and name in build.gradle.

[2018-03-14 13:47] lefherz opened #2148 "FR: Upload Speed Limit"
A user review on GooglePlayStore requested a feature:

"Great app. Just missing upload speed limit, every time I make a video it kills my internet for several minutes."

Could this be implemented into the app?

[2018-03-14 13:57] lefherz opened #2149 "FR: Retry failed uploads"
A user review on GooglePlayStore requested a feature:

"Image upload still does not work reliably, not in 2.6 and is actually my most important feature. As far as I was happy, everything worked as it should.  I was actually satisfied so far, everything worked as it should. Now I've had the problem for a long time that the photo upload to the InstantUpload directory always fails, especially because

[2018-03-14 14:14] jesmrec commented on #2148
Not sure if it is worthy. We can not lose the focus in the app main features (storage and sync are the priorities), and the speed should not be something to be controlled in this kind of app. All feedback is welcome in any case.

[2018-03-14 14:25] michaelstingl commented on #2148
A quick Google search brought up various 3rd party apps for bandwidth control and traffic shaping. Did you tried these? Why should this be implemented in the oC app?

[2018-03-14 14:25] theScrabi commented on #2066
This is how it will look like
![screenshot_1521037265](https://user-images.githubusercontent.com/1891273/37408233-ef01c11e-279b-11e8-927a-12b2e4ae9213.png)

[2018-03-14 14:29] michaelstingl commented on #2149
Implement a new feature to work around something else that isn't working? Why not fix the root cause?

@lefherz Please ask the user to send more information to apps@owncloud.com .

[2018-03-14 14:44] theScrabi commented on #2145
This is what it currently looks like
![screenshot_1521038508](https://user-images.githubusercontent.com/1891273/37409407-91048512-279e-11e8-8ec3-166c23519c2b.png)
![screenshot_1521038517](https://user-images.githubusercontent.com/1891273/37409408-91300958-279e-11e8-9663-45f701e6e21d.png)

[2018-03-14 14:45] lefherz commented on #2149
Done :)

[2018-03-14 14:57] lefherz commented on #2148
It's implemented in the desktop client, so... I recommended such an app to him, though :)

[2018-03-14 15:50] andreaslink-de commented on #2149
Ok, let me try to explain the major issue I have and where I would be surprised, if others would not have. I'm using newest version on Android (and iOS), I have set up an instant picture and video upload into a dedicated target folder on my owncloud. I also only want pictures/videos to be uploaded, when I'm connected to a WiFi.

_Please see the following real life example:_
Some days ago (10.03.20

[2018-03-14 16:37] #1462 closed

[2018-03-14 16:38] jesmrec commented on #1462
Ready to be released in 2.7.0

[2018-03-14 16:50] michaelstingl commented on #1462
Awesome – can't wait to test the beta!

[2018-03-15 00:58] michaelstingl commented on #2149
@andreaslink-de thank you very much for your feedback. To work on such an issue, ownCloud experts need some more information. Normally if you open a new issue here, you need to provide [this information](https://raw.githubusercontent.com/owncloud/android/master/.github/issue_template.md). (you can use it as an template). Please help and provide the information in the structured format. It would be

[2018-03-15 08:32] davigonz commented on #2145
@theScrabi you could use tables to compare previous with current UI, something like

| Current filelist labels | New filelist labels  |
| ------------- |:-------------:|
| ![current_file_list_labels](https://user-images.githubusercontent.com/1891273/37409407-91048512-279e-11e8-8ec3-166c23519c2b.png) | ![new_file_list_labels](https://user-images.githubusercontent.com/1891273/37282263-16192b2e-25f4-

[2018-03-15 09:12] jesmrec commented on #2146
with 2.6.0 is not reproducible in my side with Android 5, pics are being uploaded. Which device/model are you using?

[2018-03-15 09:54] jesmrec commented on #2127
After a but research about the issue, in the client side we are only using the WebDAV endpoint to put chunks in server + file local path + suffixes

https://github.com/owncloud/android-library/blob/0e7fd8ee8fb1ad082acba8911412571b206ee1f0/src/com/owncloud/android/lib/resources/files/ChunkedUploadRemoteFileOperation.java#L86

as @theScrabi told, seems that the core ignores the folder and keeps the

[2018-03-15 10:06] davigonz commented on #2147
Before deleting the previous beta configuration, we need to know if F-Droid supports beta and final release with just one package name, as PlayStore does with beta program. @theScrabi is trying to figure out whether that is possible or not in F-Droid.

[2018-03-15 12:16] theScrabi commented on #2147
According to [this](https://forum.f-droid.org/t/how-to-mark-releases-as-pre-releases/1246/9) commend from krt it is possible to have beta and non beta application within the same package name. An example for that was the package of the fdroid app itself: https://gitlab.com/fdroid/fdroiddata/blob/master/metadata/org.fdroid.fdroid.txt

[2018-03-15 13:06] #2136 closed

[2018-03-16 08:42] theScrabi opened #2153 "Possible Code refactorings"
I've worked on the android app code for a little while now, and found some code which could be refactored or even removed. Here is my list:

- [ ] [ChangeLogDialog](https://github.com/owncloud/android/blob/master/src/com/owncloud/android/ui/dialog/ChangelogDialog.java) is not in use anymore since we now have the tutorial screen. Thus we can DELETE it.

[2018-03-16 12:25] theScrabi commented on #2153
Also we might want to consider to upgrade to Java 8 since that comes very in handy with lambda expressions, which is good because less ugly Java code -> better readable.

[2018-03-16 13:20] davigonz commented on #2147
@jesmrec @theScrabi 2.7.0 beta is already tagged and released on our Github repository, next week we will continue with F-Droid and PlayStore.

[2018-03-16 13:49] theScrabi commented on #2147
Fdroid PR for new beta release [is out](https://gitlab.com/fdroid/fdroiddata/merge_requests/3005).

[2018-03-16 14:26] davigonz commented on #2147
@theScrabi great, please update the F-Droid tasks in the first comment, I mean, check the ones that are finished.

[2018-03-18 19:12] dutta14 commented on #2153
I can work on this if it has not been taken up yet.

[2018-03-18 23:07] theScrabi commented on #2153
@dutta14 if you like go ahead :)

[2018-03-19 07:56] theScrabi commented on #125
Maybe we can add a allert dialog when deleting an account, in order to ask the user weather he wants his files should be deleted or not.

[2018-03-19 09:09] davigonz commented on #2147
Our feedback channel for beta will be [https://github.com/owncloud/android/issues](https://github.com/owncloud/android/issues) from now on, any suggestion is welcome anyway.

[2018-03-19 09:34] davigonz commented on #2135
### Bug (1)

**Steps to reproduce:**
1. Enable fingerprint lock.
2. Close the app.
3. Open the app.
4. Fingerprint dialog to unlock the app appears.
5. Tap any part of the white screen around the dialog.

**Current**: Fingerprint dialog disappears and screen keeps white, no action can be performed except pressing back button.

**Expected**: No action when clicking around the dialog.

Tested with N

[2018-03-19 09:41] davigonz commented on #2135
### Bug (2)

**Steps to reproduce:**
1. Enable fingerprint lock
2. Press + button -> Upload button -> Picture from camera
3. Take a picture to be uploaded

**Current behaviour**: fingerprint is asked

**Expected behaviour**: fingerprint shouldn't be asked

Tested with Nexus 5X v8.0.0

[2018-03-19 09:45] davigonz commented on #2135
### Bug (3)

**Steps to reproduce:**
1. Press + button -> Upload button -> Picture from camera
2. Android system asks for different apps that can be used to take the picture

**Current behaviour**: file picker appears below the menu to choose the camera app.

**Expected behaviour**: file list should appear below the menu to choose the camera app.

Tested with Nexus 5X v8.0.0

[2018-03-19 09:54] michaelstingl commented on #125
@theScrabi Okay, this would at least solve a part …

[2018-03-19 10:12] jesmrec commented on #2147
i think apps mail should be included as well

[2018-03-19 10:15] davigonz commented on #2147
@jesmrec only one feedback channel is allowed 😕

[2018-03-19 11:07] jesmrec commented on #2147
oooh... i did not expect that. In this case, maybe should we centralize the feedback in one issue?

[2018-03-19 12:44] sbocconi commented on #10
Still no news in 2018?

[2018-03-19 13:21] theScrabi commented on #1856
This is how it will look like:
![screenshot_1521465114](https://user-images.githubusercontent.com/1891273/37597849-d40eb09a-2b80-11e8-973d-a7231f48ca15.png)

[2018-03-19 13:48] theScrabi commented on #10
@davigonz do we use the storage framework to save files? With that it would be possible to get access to an external sdcard

[2018-03-20 07:40] davigonz commented on #10
@theScrabi we have a DocumentProvider [here](https://github.com/owncloud/android/blob/master/src/com/owncloud/android/providers/DocumentsStorageProvider.java) but it seems that is not being used at the moment

[2018-03-20 07:58] zoff99 commented on #10
[code]

please tell me this is not still open?

[2018-03-20 08:01] theScrabi commented on #2147
So [2.7.0-beta.1](https://f-droid.org/packages/com.owncloud.android/) is now available on fdroid, however fdroid failed to mark it as a beta release, so now it's available as release. I already fixed it however, we still wait for an fdroid maintainer to eventually merge our [pull request](https://gitlab.com/fdroid/fdroiddata/merge_requests/3005).

[2018-03-20 08:48] theScrabi commented on #10
@zoff99 Well maybe other things where more important to take care of :D
However we are currently discussing about this, and of course, help is always welcome ;)

[2018-03-20 10:03] theScrabi commented on #125
Well but as @davivel states, it is complicated to remove the files if the account was deleted from android settings, and its impossible to delete them if the app gets removed.

So if I'm writing such a dialog it would only work if a user removes an account from the app it self. @michaelstingl @davigonz what are your thoughts about this?

[2018-03-20 12:48] theScrabi commented on #2147
Merge request for fdroid repository was merged. And exidental wrong release got fixed.

[2018-03-20 16:58] davigonz commented on #2147
@theScrabi I've downloaded F-Droid with no ownCloud app installed and seen that Version 2.7.0-beta.1 is the active version when Version 2.6.0 should be the active one

[2018-03-20 17:04] #474 closed

[2018-03-20 17:06] davigonz commented on #474
This will be included in 2.7.0. version as well, great job @theScrabi

[2018-03-21 07:58] theScrabi commented on #2147
This is what that pull request should fix. Because of the way the server understood the regex, he thought beta was a release, and added it automatically.

[2018-03-21 10:03] theScrabi commented on #2036
So I was about to implement this, however we have a problem. Chrome custom tabs is called Chrome custom tabs its based on chrome, and thus needs it to be installed. What should we do when chrome is not installed? Should we keep using WebView as a fall back, or should we force the user to install chrome (might piss off some FLOSS people).

AppAuth solves this problem by using a Black/Whitelist for

[2018-03-21 10:15] michaelstingl commented on #2036
sounds interesting

[2018-03-21 12:54] cdamken commented on #2127
Yes, that's what I wrote at the beginning:

Isn't there any way to follow the dav.chunk_base_dir configuration?

[2018-03-21 13:03] theScrabi commented on #2036
Well it seems we'd hat to replace the current setup with AppAuth if we wanted to do that. Well...
I compiled a list of apps that allow custom tabs. Maybe we could ask the user to install one of these apps if CustomTab is not available.

[2018-03-21 15:40] mueller-ma commented on #2147
Nextcloud releases their beta version under a different package name, so people can install both apps alongside: https://f-droid.org/packages/com.nextcloud.android.beta/
Is there something against this for owncloud?

[2018-03-22 08:53] theScrabi commented on #2147
Yes we figured that when people use both they would not test the beta application well enough, so we thought about changing this and make users use either beta or the stable.

[2018-03-22 12:24] davigonz commented on #2081
This is fixed in https://github.com/owncloud/android/pull/2152 and it will be included in 2.8.0, please follow up https://github.com/owncloud/android/issues/2145

[2018-03-22 12:24] #2081 closed

[2018-03-22 15:33] sd1998 opened #2158 "Feature Request Show the video being played even if the app has been closed."
### Actual behaviour
When the user plays a video and closes the app using the home button the video stops playing and the app closes.

### Expected behaviour
When the user presses the home button the video should continue playing on a small window that can be drawn on other apps.

### Steps to reproduce
1. Play a video that has been uploaded to ownCloud
2. Press the home button.

Can this problem

[2018-03-22 15:33] sd1998 commented on #2158
@davigonz I think this would be a nice feature. I would like to work on this.

[2018-03-22 16:43] moscicki commented on #2146
It's 5.1.1 Samsung SM-G388F

[2018-03-22 17:11] michaelstingl commented on #2146
@moscicki could you check with [2.7.0 beta version](https://central.owncloud.org/t/owncloud-android-2-7-0-beta-app-released/12528) or 2.6.0 *-debug.apk from ownBrander? There you can get logs from the settings screen.

[2018-03-22 18:11] cdamken commented on #2127
![snoopy-going-down-300x193](https://user-images.githubusercontent.com/7264495/37789621-b5adb642-2e04-11e8-8cbf-870b35f950e7.png)
Any news?

[2018-03-22 18:57] cdamken commented on #2127
access.log:
[code]

owncloud.log

[code]

[2018-03-22 20:19] cdamken commented on #2127
I tried also the  workarounds from:
https://forum.owncloud.org/viewtopic.php?t=14190
https://github.com/owncloud/android/issues/509
I also removed the `'dav.chunk_base_dir' => '/tmp/uploads',`
No success.
I tesed in the iOS  version 3.7.3, but the error does not appear there.

[2018-03-22 20:22] cdamken commented on #2127
I read about the certificates:
PKCS #1 SHA-256 With RSA Encryption TLS 1.2 normal from LetsEncrypt.

[2018-03-22 20:59] cdamken commented on #2127
I tested the size of the uploaded files, under 1 MB  is no error, after that you get the  "Malformed  server configuration"

[2018-03-22 21:00] cdamken commented on #2127
Files are correct uploaded without errors.

[2018-03-22 21:52] cdamken commented on #2127
After checking with @michaelstingl we found out the main reason:

The admin_audit app sends a 500 error and the Android think that the file was not uploaded correctly and leaves it for retry.

For you the experts: @theScrabi @jesmrec @davigonz . Is there any way to detect the error from  "22/Mar/2018:17:31:18" and avoid the "malformed server configuration" message?

[2018-03-22 22:08] cdamken commented on #2127
Why does this problem only happens with Android?
- Windows, Linux and Mac use the new chunking API
- iOS does not use chunking
- Android use the old chunking API

A good reason to get rid of the old API :+1:

[2018-03-23 07:48] davigonz commented on #2158
Hi @sd1998 , thanks for this suggestion, this feature would be awesome!! Glad to hear you want to work on this, we will help you in whatever you need.

[2018-03-23 07:50] sd1998 commented on #2158
@davigonz will there be a bounty for this feature?

[2018-03-23 08:15] michaelstingl commented on #2158
@sd1998 currently there is no bounty: https://www.bountysource.com/issues/56314384-feature-request-show-the-video-being-played-even-if-the-app-has-been-closed

Propose on https://central.owncloud.org/ to get some attention from supporters?

[2018-03-23 08:41] jesmrec commented on #1825
In the case of authentication (OAuth2 or whatever), if the user credentials are revoked, the side-effect is the same, making the app annoying to use.

[2018-03-23 09:37] theScrabi commented on #2158
Over at NewPipe we use a non Pip based overlay mode that gives us the ability to to play videos while we are in another app.

![screenshot_20180323-102747](https://user-images.githubusercontent.com/1891273/37821964-746cbf8a-2e85-11e8-9002-4123fcff6edc.png)

Our implementation has several advantages/disadvantages over Oreo pip:

#### Advantages
- Windows is resizable
- Compatible with older android

[2018-03-23 10:25] davigonz commented on #2127
Hi @cdamken , thanks for all this information, as @theScrabi and @jesmrec said before, it seems this is a core issue in the old endpoint.
We are planing to update the network library and we will take advantage of it to migrate to the new endpoint as well.

[2018-03-23 22:17] billie80 opened #2159 "App crashes when trying to access settings"
# Actual behaviour

After the update to 2.7.0-beta.1 the App crashes when trying to access settings. The App closes and a popup window appears stating "Owncloud stopped"

# Expected behaviour

Settings should be accessible.

# Steps to reproduce

1. Open the app
2. Go to settings
3. App stops

Can this problem be reproduced with the official owncloud server?
(url: https://demo.owncloud.org, user:

[2018-03-24 10:37] jesmrec commented on #2159
Thanks for reporting, we will check and let you know.

[2018-03-24 10:54] michaelstingl commented on #2159
Couldn't reproduce with 2.7.0-beta.1 from Play Store Beta running with Android 8.1 on my Pixel 2

[2018-03-24 11:10] billie80 commented on #2159
F-Droid version here. If this makes a difference.

[2018-03-24 11:53] jesmrec commented on #2159
the store you install the app from should not make any difference. I installed the FDroid 2.7.0-beta1 and i can not reproduce (Android 4.4). Were you be able to perform any setup before you started to receive crashes? reinstalling keep the app crashing?

[2018-03-24 12:12] billie80 commented on #2159
Up to now I only wiped all App data without deleting the accounts I have set up with a previous version.
I will delete the accounts and reinstall the App. Will report back here!

[2018-03-24 18:49] billie80 commented on #2159
Okay I did remove all accounts, uninstalled and reinstalled Owncloud-2.70-beta.1. I had to add an account to be able to access the settings. The result is the same, it still crashes when trying to open the settings.

[2018-03-24 19:33] billie80 commented on #2159
I captured the crash with logcat:

03-24 20:14:14.007 22731 22731 I Timeline: Timeline: Activity_launch_request id:com.owncloud.android time:175139776
03-24 03-24 20:14:14.042 22731 22731 V FileDisplayActivity: onPause() start
03-24 20:14:14.042 22731 22731 D FileDisplayActivity: onPause() ending
03-24 20:14:14.047 22731 22731 V FileDisplayActivity: onPause() end
03-24 03-24 20:14:14.067 22731 227

[2018-03-25 09:56] jesmrec commented on #2159
are you using different Google accounts which shares the same ownCloud account?

[2018-03-25 13:07] billie80 commented on #2159
I do not completely understand your question. What do you mean by different Google accounts sharing the same ownClowd account?
However there is only one Google account for this device.

[2018-03-26 08:10] jesmrec commented on #2071
Ready to be released in 2.7.0

[2018-03-26 08:10] #2071 closed

[2018-03-26 08:13] jesmrec commented on #2159
@theScrabi could you have a look to the logs?

[2018-03-26 08:28] jesmrec commented on #2159
I have reproduce the problem with a Samsung Galaxy Tab S (ST1), with 6.0.1. We will take care to fix the problem for the 2.7.0.

[2018-03-26 08:29] jesmrec commented on #2135
###Bug (4)

Described in https://github.com/owncloud/android/issues/2159

[2018-03-26 08:31] billie80 commented on #2159
Perfect, thanks a lot for your effort!

[2018-03-26 09:55] theScrabi commented on #2135
Bug two https://github.com/owncloud/android/issues/2135#issuecomment-374153626

Not only applies to the new fingerprint, but also to pattern and pascode unlock.

[2018-03-26 10:51] theScrabi commented on #2135
I don't realy understand this one:
https://github.com/owncloud/android/issues/2135#issuecomment-374154688

What is the difference between a file picker, and a file list. Could you show me via screen shot?

[2018-03-26 11:09] jesmrec commented on #2135
File picker: This is the file list that appears to select a target/source folder. You can reach it by tapping on FAB -> Upload -> Files
File list: The list of files in your ownCloud

[2018-03-26 11:14] jesmrec commented on #2135
i have noticed it. For this case, in which you are expecting a response from the camera, i would take the same fix for all three security methods, in order to keep the same behaviour. If the security is removed form this case, will any other cases be affected?

[2018-03-26 11:55] theScrabi commented on #2159
Apparently there are some android 6 devices where the vendor of the device locked down finger print support for all applications. Only some apps that are signed from the vendor can access the finger print sensor. I had to deactivate fingerprint for these devices.

@billie80 I'm sorry about that. My personal advice: Try device modding with [LineageOS](https://lineageos.org/), because Samsung firmwa

[2018-03-26 11:58] theScrabi commented on #2159
Aparently there are some android 6 devices where fingerprint access is locked down for common apps. Only vendor signed apps can access the fingerprint sensor. This however caused the crash for these devices. By deactivating fingerprint for these made settings available again.

[2018-03-26 12:04] billie80 commented on #2159
Well, LineageOS has its own problems which, at the moment, would affect me more than missing fingerprint authentication when using the stock rom.
Thanks for taking care of this issue!

[2018-03-26 12:12] Tobaloidee opened #2163 "icon/logo design proposal"
Hi @owncloud , I am a designer and I have an icon/logo design proposal to contribute. If you like and will use it, I am happy to give it to you as a gift.. :)
![idea](https://user-images.githubusercontent.com/36028424/37905558-d420267a-3131-11e8-8860-e47ae54c5e5e.png)

orig color
![orig color owncloud-02](https://user-images.githubusercontent.com/36028424/37905741-68b437a4-3132-11e8-86a0-a9a37235b

[2018-03-26 13:09] theScrabi commented on #2163
:D @Tobaloidee nice work, but I think a new logo would require a process of reworking our whole cooperate identity, and that would affect the whole owncloud project. I don't think we need to do this right now :D

[2018-03-26 13:09] #2163 closed

[2018-03-26 13:09] #2159 closed

[2018-03-26 13:10] Tobaloidee commented on #2163
No problem Sir.. thanks for the feedback..best regards!

On Mon, Mar 26, 2018, 9:09 PM Christian Schabesberger, <
notifications@github.com> wrote:

[2018-03-26 13:12] theScrabi commented on #2127
We have an engendering meeting with @michaelstingl this week. I will purpose this to him. However we already spoke about this, and we figured that one of the requirements was that we get okhttp running before that.
So might still take a while, but this is definitely on my todo list.

[2018-03-27 11:27] theScrabi commented on #2135
No, we can make it very fine grained.

[2018-03-27 14:31] cdamken commented on #2127
We have to think in reliable responses from the server that the client needs to give a more accurate output to the user.

[2018-03-28 03:08] syefulislam opened #2164 "upload file from specified predefined path"
- I want to upload contact backup VCF file from specified path.

### Expected behaviour
-It should be upload automatically and already exist then override existing one.
- Every time when i launch my cloud app, my contact backup generate in background and save in specific path.
- If I click on backup option it can upload file

[2018-03-28 07:01] jesmrec commented on #2146
5.1.1 with  Nexus device works fine... maybe an issue related with Samsung devices.

[2018-03-28 07:02] theScrabi commented on #2127
Yes.

[2018-03-28 13:05] theScrabi opened #2165 "Improve file select/upload UI"
I wan't a clear and consistent UI for file upload so that I don't get confused which button is the import and with is the upload form files button.
@michaelstingl @jesmrec please tell me what you think about that.

This is my suggestion:
![screenshot_1522239691](https://user-images.githubusercontent.com/1891273/38030605-5b3d29ba-3299-11e8-95a7-d74e25fc2ce1.png)
![asdf](https://user-images.githubus

[2018-03-28 13:09] michaelstingl commented on #2165
Please also add screenshots of existing solution and maybe us Markdown tables for side by side comparison.

[2018-03-28 13:11] jesmrec commented on #2165
Duplicated from https://github.com/owncloud/android/issues/2120.  Put your thoughts there.

Thanks!

[2018-03-28 13:11] #2165 closed

[2018-03-28 13:13] michaelstingl commented on #2120
👍

[2018-04-02 10:25] jesmrec opened #2167 "Guest app shows empty file list"
### Steps to reproduce
Create a guest account in the server by sharing with an email account,  and login with it in the Android client

### Current behaviour
File List is empty. iOS client shows the list in the same server

### Expected behaviour
File list is shown

Android 7 Nexus 6P v7.1.2

Server:

{"installed":true,"maintenance":false,"needsDbUpgrade":false,"version":"10.0.7.2","versionstring"

[2018-04-03 06:18] jesmrec commented on #2147
Beta released and available

[2018-04-03 06:18] #2147 closed

[2018-04-03 06:20] jesmrec commented on #2135
### Bug (5)

**Steps to reproduce:**
1. Enable pattern lock
2. Close the app and open again
3. When the pattern lock is asked, tap on "Back" button

**Current behaviour**:  pattern lock is skipped

**Expected behaviour**: pattern lock is not skipped.

Tested with Samsung Galaxy S7 v7

[2018-04-03 06:35] sd1998 commented on #2135
@jesmrec I will fix this bug.

[2018-04-03 08:21] theScrabi commented on #2135
Thank you, but I already took care about that :D

[2018-04-03 10:09] theScrabi commented on #2167
The error I get when I try to access guest account is this

[code]

[2018-04-03 11:21] theScrabi opened #2170 "returning form share result in reenter credentials"
returning form share result in reenter credentials

@jesmrec pointed out that you had to enter your patterncode/passcode/fingerprint again after returning from sharing data to other apps.

For regular shares I could not reproduce this
![s1](https://user-images.githubusercontent.com/1891273/38246367-d89dbee0-3741-11e8-990f-1105cf939111.gif)

However if I brake up the process of sharing I had to ent

[2018-04-03 13:52] theScrabi commented on #2167
fix provided here https://github.com/owncloud/android-library/pull/185

[2018-04-04 06:48] jesmrec commented on #2135
### Bug (6)

**Steps to reproduce:**
1. Enable passcode after installing the app from scratch
2. Go to device settings -> ownCloud -> Storage
3. There, clear data and cache
4. Open the app again

**Current behaviour**:  upgrading wizard is shown

**Expected behaviour**: upgrading wizard is not shown

Tested with Nexus 6P v7

[2018-04-04 07:32] theScrabi commented on #2135
This is not something we can fix. Also it's not our concern, since other apps behave the same here.

[2018-04-05 08:38] theScrabi commented on #2135
### Bug (5)

**Steps to reproduce:**
1. set view to list view
2. create new folder
3. enter folder
4. set view to grid view
5. return to previous folder

**Current behaviour**:  app crashes

**Expected behaviour**: app not crashes

Tested with Galaxy tab S

[2018-04-05 10:26] theScrabi commented on #1890
Absoloutly, and its also completely out of trend. No other files app does two panels anymore. So I remove it.

[2018-04-05 10:41] theScrabi commented on #1890
@michaelstingl Your opinion pls:
![screenshot_2018-04-05-12-33-59](https://user-images.githubusercontent.com/1891273/38361717-a21fdd6a-38ce-11e8-9d6d-c899543b1003.png)

[2018-04-06 08:48] jesmrec commented on #2124
i have checked this issue with a Nexus device with Android 8 and i could not reproduce the problem, including files or folders with offline availability. More clues are welcome...

[2018-04-06 09:24] theScrabi commented on #2120
I researched a bit about the "create new file" features, and I found out that other apps basically create an empty file, and than call another app to handle that file.
Like create empty excel document, then call excel.
However for this to implement we'd have to put empty office files into our app assets.
Also if we want to support MSO we should also consider to offer support for odf files.

@micha

[2018-04-06 10:58] michaelstingl commented on #1890
Sounds like a good approach. Go for it! 👍

[2018-04-06 11:15] theScrabi commented on #1825
So the idea was to redirect the user to the account select window instead of the login view. This way the user is still able to select another account or delete one if no other is there.

[2018-04-06 15:14] michaelstingl commented on #2120
Empty *.docx files are probably not what was requested from them. As I understood (@SamuAlfageme can verify), they were thinking about the Cloud Storage Provider integration. (see https://github.com/owncloud/ios/issues/1038#issuecomment-374165166 , also why it is difficult)

The alternative would be the approach we discussed in https://github.com/owncloud/enterprise/issues/1948 (private repo, mayb

[2018-04-06 19:36] michaelstingl commented on #1825
Great teamwork. Go for it!

[2018-04-07 09:38] erfanmoradi commented on #2170
vnk

[2018-04-09 08:13] theScrabi commented on #2120
we should, the problem with the saving also affects normal users :)

[2018-04-09 10:44] theScrabi commented on #1888
![gurken](https://user-images.githubusercontent.com/1891273/38493806-c203dcbc-3bf3-11e8-9b36-a9f7ed80f3ca.gif)

[2018-04-09 11:18] theScrabi commented on #2121
This is also useful because on android 8+ the icon does not blend in well.
![screenshot_1523272529](https://user-images.githubusercontent.com/1891273/38495040-6f9f3d04-3bf8-11e8-8544-79277413af1e.png)

[2018-04-09 11:39] jesmrec commented on #2135
Having some issues in installin a signed apk for release in order to test the upgrading from latest versions with the following error:

Checking it. Ideas are welcome, of course.

[2018-04-09 12:42] theScrabi commented on #1972
What is the status of this? is it still up to date?

[2018-04-09 12:45] michaelstingl commented on #1972
I think this is no longer required. @pmaier1 can you confirm?

[2018-04-10 09:38] davigonz commented on #2118
Moving the discussion opened in https://github.com/owncloud/android/issues/2120#issuecomment-366660896 to this issue, which is the proper one.

@theScrabi yes, this is what other apps do and we could do the same with the ownCloud Android app as well.

Also if we want to support MSO i would love to also be able to support odf files.

I do not understand exactly what you mean with using the assets f

[2018-04-10 09:46] davigonz commented on #1825
Yes but just an improvement I came up with about the next thought

@michaelstingl @jesmrec @theScrabi  What about deleting the account when the app detects that the server account was removed? I mean, instead of keep showing it in the account select view in a loop, just delete it from the list if is not longer available in the server. IMHO, keep a loop for this doesn't make sense.

[2018-04-10 09:57] theScrabi commented on #2118
Yes but those empty files needed to build into our app. I meant the android project assets folder which is part of its resources.

[2018-04-10 10:02] jesmrec commented on #1825
@theScrabi and me were discussing about that. Is there any way to detect a removed account in server-side?

[2018-04-10 10:06] theScrabi commented on #1825
One method that works the same for basic auth and oauth

[2018-04-10 10:26] davigonz commented on #2135
@jesmrec it's working fine for me, I've just updated the version number and name in case it was related. Can you give it another try?

[2018-04-11 07:41] jesmrec commented on #2135
It worked after your fix. Thanks @davigonz

[2018-04-11 07:51] jesmrec commented on #2135
I also detected that the upgrading wizard is not being displayed. could you check?

[2018-04-11 08:16] davigonz commented on #2135
Yes, I'm on it

[2018-04-11 08:44] davigonz commented on #2135
### Bug (8) [READY TO TEST]

**Steps to reproduce:**
1. Install 2.6.0 version
2. Open the app and log in
3. Install 2.7.0 version
4. Open the app

**Current behaviour**:  upgrading wizard doesn't appear

**Expected behaviour**: upgrading wizard should appear

Tested with Nexus 5

[2018-04-11 09:41] dpeger commented on #1358
This actually still seems to be a thing. I this issue still WiP for more than 2 years?!

[2018-04-11 10:31] jesmrec commented on #2135
after the fix in (8) bug, i get again the error

after installing a signed-for-release apk

[2018-04-11 10:33] davigonz commented on #1358
Hi @dpeger , I've just tested this feature with ownCloud 2.6.0 in a Samsung Galaxy S7 Edge with Android 7 and is working fine, could you give it a try? If it works for you, I will close this since is already implemented

[2018-04-11 10:40] dpeger commented on #1358
@davigonz Oh, I kind of misread the issue, I thought it was about uploading images using the ownCloud web frontend, not the ownCloud app.

I'll delete my comment...

[2018-04-11 10:46] davigonz commented on #1358
No problem @dpeger. @rawbertp , could you test it with 2.6.0 ownCloud app and tell us whether is still not working for you?

[2018-04-11 15:50] davigonz opened #2180 "Use a more recent and trustable network library"
After researching about the available Android network libraries out there and performing some tests by using our sample client app (more details in https://github.com/owncloud/android-library/issues/51), we have finally made the decision to get rid of Jackrabbit WebDAV library and implement [OkHttp](https://github.com/square/okhttp) 3.10.0
___

**TOPICS TO DISCUSS**

1. Include tests by using [OkH

[2018-04-11 16:31] jesmrec commented on #2135
Problem fixed. Depending on the android version, it is needed a different version of the signing algorithm

[2018-04-11 16:31] jesmrec commented on #2135
Regression test passed. Version approved.

[2018-04-11 16:33] davigonz commented on #2135
Awesome, let's move forward this

[2018-04-11 17:05] jesmrec commented on #2135
I detected a small defect. These are the steps:

- Set the device in a non-english language (Spanish, German...)
- Install the app from scratch

Current: In the first slide of the welcome wizard, the title is alligned to the left, and not to the center
Expected: all slides' titles are alligned to the center.

@davigonz @theScrabi

[2018-04-12 08:56] jesmrec commented on #2167
Fixed. Will be released in 2.8.0

[2018-04-13 07:27] davigonz opened #2182 "App crashes when using fingerprint lock in Android 8.1"
### Actual behaviour
- App crashes

### Expected behaviour
- App should ask fingerprint to access

### Steps to reproduce
1. Enable passcode lock
2. Introduce passcode
3. Enable fingerprint lock
4. Close the app
5. Open the app
6. ownCloud has stopped message appears

Can this problem be reproduced with the official owncloud server?
(url: https://demo.owncloud.org, user: test, password: test)

###

[2018-04-13 07:41] davigonz commented on #2182
It seems to be an Android bug itself, the problem has been fixed after installing **Security patch level: April 1, 2018**, closing...

[2018-04-13 07:41] #2182 closed

[2018-04-13 11:03] #2167 closed

[2018-04-13 11:30] #2111 closed

[2018-04-13 11:31] kerlerm commented on #2078
Problem persists with latest app version 2.7.0 and OC 10.0.7

[2018-04-13 11:53] #2112 closed

[2018-04-14 20:34] mueller-ma opened #2188 "Notification: Wrong timestamp is shown"
### Actual behaviour
![screenshot_20180414-214804](https://user-images.githubusercontent.com/22525368/38772068-8bc50c04-402e-11e8-9954-f15e6be9d542.png)

### Expected behaviour
The timestamp should be the time I started the upload (~2 seconds before)

### Steps to reproduce
1. Open app
2. Upload image

### Environment data
Android version: 7.1

Device model: Oneplus X

Stock or customized system:

[2018-04-16 03:12] Calimero33 opened #2189 "ownCloud upload failed you do not have permission to upload to this folder"
**Actual behaviour**

Cant upload to the server over Android either manual either auto
(But I can Over Win desktop...)

**Expected behaviour**
Upload on to the connected and logged in server

**Steps to reproduce**
1.Select a photo on the Android Oreo (S8)
2. Select Share and Owncloud
3. upload to the 30-40% after what error message: own cloud upload failed you do not have permission to upload

Ca

[2018-04-16 07:46] Calimero33 commented on #2189
Just reinstalled all over again (deactivated cphulk and all other server security) and the we go the very same same message near try to upload the file: You dont have permission... (Permission error). Other than that this NEW error came from the ownCloud installation:
Technical information
=====================
The following list covers which files have failed the integrity check. Please read
the

[2018-04-16 11:58] theScrabi commented on #2189
I'm testing this.

[2018-04-16 12:02] theScrabi commented on #2189
I could not reproduce the bug neither with the domo.owncloud.com nor with our own owncloud test instance.

[2018-04-16 15:20] Calimero33 commented on #2189
https://ljubo.si/cld/cloud/index.php/login

user: test
Pass: testtest

From: Jesús Recio Rincón [mailto:notifications@github.com]
Sent: 16 April 2018 15:25
To: owncloud/android <android@noreply.github.com>
Cc: Calimero33 <ljubo@ljubo.si>; Mention <mention@noreply.github.com>
Subject: Re: [owncloud/android] ownCloud upload failed you do not have permission to upload to this folder (#2189)

@Calimer

[2018-04-17 07:01] theScrabi commented on #2188
I have that bad feeling that this timestamp shown isn't even doing something useful. Maybe we can remove it.
@davigonz what do you think.

[2018-04-17 08:15] davigonz commented on #2188
Thanks @mueller-ma for reporting this issue

@theScrabi the mentioned timestamp could be relevant to the user since is used in the notifications panel to sort the notifications by time.

Yes @mueller-ma , you are right, we have already used that option when reproducing an audio file (https://github.com/owncloud/android/blob/master/src/com/owncloud/android/media/MediaService.java#L649).

Following

[2018-04-17 09:26] mueller-ma commented on #2188
Having all in #2192 would be the best, wouldn't it? ;)

[2018-04-17 09:28] peted2 commented on #1888
Android version: 7.1.2

Device model: Motorola Moto G 2014

Stock or customized system: LOS 14.1

ownCloud app version: 2.7.0

I experience the same issue.
Pretty annoying since the Phones internal storage is limited and i cannot use the preset internal Camera folder.
I need to select external storage. This is impossible due to this bug.

[2018-04-17 10:17] theScrabi commented on #2188
I think its better to discuss here.

[2018-04-17 10:27] davigonz commented on #2188
@mueller-ma That PR is going to remove the timestamp, not implement your expected behaviour - The timestamp should be the time I started the upload.

As I said in my previous comment, I wouldn't delete it but implement it properly by using `setWhen(System.currentTimeMillis());` so I would close #2192, do you agree @theScrabi?

[2018-04-17 10:30] theScrabi commented on #2188
I aggree.

[2018-04-17 10:30] peted2 commented on #1888
until the fix is implemented, would it be feasable to create a symlink in the root dir pointing to the camera folder? which permissions would have to be set to this symlink?

[2018-04-17 10:42] theScrabi commented on #1888
@peted2 my fix will only bring you back to home after you accesd root. You should already be able to access your sdcard. What is in your `/storage` folder?

[2018-04-17 10:49] peted2 commented on #1888
when i access it with any file explorer app, i can see /storage/external-sd-card-number /storage/emulated and storage/self

Unfortunately inside the app i am already stuck to /

@theScrabi is there any way to contact you more directly?

[2018-04-17 11:01] peted2 opened #2193 "/etc/hosts"
false

[2018-04-17 11:02] #2193 closed

[2018-04-17 11:43] jesmrec commented on #2189
I have checked your test account. Did you try to upload something using the web UI? i am not allowed either. I can not upload anything. Maybe you have any misconfigured in the server side?

[2018-04-17 12:05] Calimero33 commented on #2189
try upload over pc… works for me, just android wont…

⁣Sent from Blue ​

On 17 Apr 2018, 13:43, at 13:43, "Jesús Recio Rincón" <notifications@github.com> wrote:

[2018-04-17 15:30] Calimero33 commented on #2189
OK, build thins environment:
- Install Wordpress in the Public_html folder and instal WP Cereb Security plug in
- Create folder in Public_html folder and install ownCloud in there (public_html/folder/ownCloud)

No test it on such environment!

[2018-04-17 16:10] michaelstingl commented on #2189
@Calimero33 Better open issue at `WP Cereb Security plug in` and asks why they break the ownCloud instance that's placed in a subfolder. Maybe `WP Cereb Security plug in` has a config option to exclude the ownCloud directory. (public_html/folder/ownCloud)

I'm sorry, but ownCloud team can't help you debug issues with `Wordpress` and `WP Cereb Security plug in`

Please consult ownCloud documentatio

[2018-04-17 16:10] #2189 closed

[2018-04-17 16:38] Calimero33 commented on #2189
I am saying you should test and research it for your self... I can´t use it and soon or later you may get more users with same problem... Do whatever you like...

[2018-04-18 03:43] Calimero33 commented on #2189
I Presume the Cereb lockout there are yours:

![screenshot-2018-4-18 cerber dashboard](https://user-images.githubusercontent.com/38414044/38910771-4dc97a12-42cb-11e8-9385-7a55bc831728.png)

[2018-04-18 08:14] theScrabi opened #2194 "Change Icons for edit shares"
Currently the icon for editing shares is just an arrow, however I think its more meaningful if it was a pen.

### Currently
![screenshot_20180418-100215](https://user-images.githubusercontent.com/1891273/38919557-321ee13c-42f1-11e8-8b0f-473b109d2302.png)

### Pruposal
![pruposal](https://user-images.githubusercontent.com/1891273/38919576-39b299d4-42f1-11e8-981f-827202a42474.png)

[2018-04-18 09:09] #1888 closed

[2018-04-19 06:42] jesmrec commented on #2078
yes please. If you can open the test account we will check asap

[2018-04-19 08:25] lucasvieites opened #2197 "Feature request- upload photos in folder hierarchy from date"
### Actual behaviour
- Uploading photos or videos from a phone stores everything in one folder

### Desired behaviour
- Be able to choose uploading into a file hierarchy derived from the photo's date, for example:
-2018
|--01
|--02
|--03
[...]
|--12
-2017
|--01
|--02
[...]
|--12
 ...etc

### Steps to reproduce
Not applicable

[2018-04-19 13:29] jesmrec commented on #2078
your server is

`{"installed":true,"maintenance":false,"needsDbUpgrade":false,"version":"10.0.6.1","versionstring":"10.0.6","edition":"Community","productname":"ownCloud"}`

and the problem is the lack of `versioning` capability, that makes crash the capabilities retrieval and set the rest of capabilities with defaults, in case of sharing, with the oldest version supported (8.1).

Your server retu

[2018-04-20 11:26] kerlerm commented on #2078
No changes and no upgrade problems I'm aware of. I used the normal upgrade path with "productive" versions.

But I must have missed something. Is this capability tied to some special module? Or module version?

[2018-04-20 11:27] kerlerm commented on #2078
So this is a server issue on my side. Should I close the bug report?

[2018-04-20 11:43] jesmrec commented on #2078
yes, the problem is not in Android side. Anyway, you can reopen if it is necessary.

You can ask in core repo, or in central.owncloud.org

Thanks for reporting.

[2018-04-20 18:10] #2078 closed

[2018-04-23 17:16] dubreuia commented on #10
The app is unusable without this, I just refunded my purchase in favor of https://softwarerecs.stackexchange.com/questions/42963/alternative-to-owncloud-which-can-store-data-on-external-sdcard-on-android / https://play.google.com/store/apps/details?id=dk.tacit.android.foldersync.lite

[2018-04-25 02:47] Yoshimanly opened #2201 "Option not insta upload on mobile data"
It's not really a problem, but I find it really annoying having to manually upload my photos because instant upload dosent have the feature to not upload when using mobile data, I still want to have access to my files when on mobile data, so no the fix is not going to options a disabling it.

[2018-04-25 06:38] davigonz commented on #2201
Hi @Yoshimanly ,
if I've understood well, your problem is that you want your photos to be automatically uploaded only when you are using wifi, isn't it? If so, there's an option for that purpose in Instant Uploads settings, which is **Upload pictures via wifi only**. Could you give it a try and tell us if it works for you? Thanks

[2018-04-25 06:58] davigonz commented on #2197
Hi @lucasvieites , thank you for your suggestion but I don't think that implementing this option is one of our priorities at this moment. Anyway, contributions are always welcome 😉

[2018-04-25 08:14] davigonz commented on #2109
Resuming the work here...

[2018-04-25 10:00] theScrabi commented on #2109
@davigonz you could try to add java 8 support while you upgrade gradle:
https://developer.android.com/studio/write/java8-support.html

[2018-04-25 10:03] Yoshimanly commented on #2201
Sorry @davigonz, I posted to the wrong place, I'm running ios, if u could help me anyway it would be amazing, thank you

[2018-04-25 10:06] theScrabi commented on #2201
@Yoshimanly please take a look at our [ios app](https://github.com/owncloud/ios) then. We are not responsible for iPhone :)

[2018-04-25 10:09] Yoshimanly commented on #2201
@theScrabi Oh okay, thank you ^^

[2018-04-25 11:44] #1656 closed

[2018-04-25 11:45] davigonz commented on #1656
Done, it will be included in 2.8.0

[2018-04-25 11:46] davigonz commented on #2201
Let's close this then...

[2018-04-25 11:46] #2201 closed

[2018-04-25 15:09] davigonz commented on #2109
https://developer.android.com/studio/write/java8-support.html

Yes, done and rewritten the PR issue name

[2018-04-25 15:09] lucasvieites commented on #2197
Thanks for your reply, mobile development is not in my skillset but I'll look into creating a plugin around this idea.

[2018-04-25 17:07] jesmrec commented on #2104
it will be released in 2.8.0

[2018-04-30 21:36] 3c06d558-36fd-4740-913c-c4e11fc74b88 commented on #1796
Same here:
GSM-> working
WLAN-> not working

But Firefox shows owncloud login, no matter if GSM ow WLAN. So it cannot be a misconfiguration.

Then I deactivated IPv6 in the router (Fritz)
-> Tada: The owncloud app works with WLAN too.

So it's an IPv6 issue. And Firefox is connecting somehow different than the owncloud app.

[2018-05-02 08:54] davigonz commented on #2104
Not merged yet, see #2203

[2018-05-02 09:44] #2104 closed

[2018-05-02 11:44] theScrabi opened #2204 "Better looking sidebar"
Our sidebar gives the impression as if the app is not yet ready, this is because of the huge white space in the middle.

[<img src="https://user-images.githubusercontent.com/1891273/39521421-b70e3ac8-4e0e-11e8-8b59-18c67d9f8e61.png" width="350px"/>](https://user-images.githubusercontent.com/1891273/39521421-b70e3ac8-4e0e-11e8-8b59-18c67d9f8e61.png)

So I suggest something like this here. It can al

[2018-05-02 16:45] davigonz commented on #2204
@theScrabi Great! I like the new design and I have a question, what is expected to be shown when pressing the arrow located on the right of the account? The list of accounts? If so, we might have too much space there if there's just a couple of accounts configured.

[2018-05-02 16:55] davigonz opened #2205 "As a user, I would like to know the space remaining in my account"
It would be great to have this feature included in our side menu for example, as suggested [here](https://github.com/owncloud/android/issues/2204).

There's a pretty old PR, https://github.com/owncloud/android/pull/737 that follows a different approach, creating a specific activity to show the quota. Although we can use the library PR maybe, https://github.com/owncloud/android-library/pull/102 and

[2018-05-02 21:11] michaelstingl commented on #2204
@theScrabi What a beauty! 😍

P.S. Don't forget branded clients. /cc @ChrisEdS

[2018-05-03 04:37] Chillstice opened #2206 "Android App successfully tests SSL connection but fails to log in 'Unknown error'"
### Actual behaviour
When trying to log in using the android application (version 2.7.0) entering `https://cloud.chillstice.com` yields the message: `Secure connection established`; however, when logging in with the correct credentials it tries to log in for 3 seconds and fails with the message: `Unknown error`. The desktop client works fine and the ownCloud panel accessible at cloud.chillstice.co

[2018-05-03 06:47] davigonz commented on #2206
Hi @Chillstice , thanks for your feedback, could you create a test account and send us the credentials to [apps@owncloud.com](apps@owncloud.com) so we can try to reproduce your problem?

[2018-05-03 11:13] theScrabi commented on #2204
@jvillafanez do we already feature such an icon like the gray cloud for the branded clients?

[2018-05-03 11:32] ChrisEdS commented on #2204
Love the idea! I think best practise is to set two more options in ownBrander for the new sidebar.
One for the background image and one for the logo. Maybe we can implement a option for transparency as well. With our grey ownCloud logo everything is looking fine, but this works not for every customer.
 @michaelstingl What do you think?

[2018-05-03 11:33] theScrabi commented on #2205
Related to this: https://github.com/owncloud/android/issues/2204

We can put a mark in the sidebar, an optional show more detailed information if one tabs on that mark.

[2018-05-03 11:35] theScrabi commented on #2204
We could maybe show the name of the app instead of a logo if a customer does not add a gray logo.
And for the the header just show a color if header is not set.

[2018-05-03 11:40] jesmrec commented on #2204
Things to be branded:

- Background image in the top of the drawer
- ownCloud logo on background
- (n2h) background color on the main drawer section.

Question:

The white triangle at the right of the URL. Right now it opens the account options, but in your suggestion such options are in the main. What will i see when i tap on the triangle?

[2018-05-03 11:43] davigonz commented on #2204
That color is already brandeable

+1, I have the same question

[2018-05-03 11:57] #1703 closed

[2018-05-03 11:58] davigonz commented on #1703
It will be included in 2.8.0

[2018-05-03 12:56] jesmrec commented on #2066
The links to files has also incuded the "Read Only" option:

![screen shot 2018-05-03 at 14 54 18](https://user-images.githubusercontent.com/14894746/39577565-fbc901b0-4ee1-11e8-9c4a-bd0c87a72da7.png)

will we include in the scope of this issue, or create a separate one? @theScrabi @davigonz

[2018-05-04 08:58] davigonz opened #2208 "As a user I would like to list all "available offline" files/folders"
This option shouldn't be that tricky to implement and can be included in the side menu to start completing it as #2204 suggests.

| New available option | Available offline list |
| ------------- |:-------------:|
| ![new_available_option](https://user-images.githubusercontent.com/15261363/39619818-63491800-4f89-11e8-8d21-e2afa482f6c2.png) | ![available_offline_list](https://user-images.githubuser

[2018-05-04 09:14] davigonz commented on #2208
Closing as duplicated of #407

[2018-05-04 09:14] #2208 closed

[2018-05-04 09:15] theScrabi commented on #2204
After having a discussion about UX and UI here is our second iteration:

#### Not enlarged
[<img src="https://user-images.githubusercontent.com/1891273/39620700-49fe9412-4f8c-11e8-8b63-c27bac9cf4ec.png" width=350px/>](https://user-images.githubusercontent.com/1891273/39620700-49fe9412-4f8c-11e8-8b63-c27bac9cf4ec.png)

#### Enlarged
[<img src="https://user-images.githubusercontent.com/1891273/39620

[2018-05-04 10:02] theScrabi opened #2211 "Fix acessebility for login view"
For people with bad eyesight it is important to have a big font size. OC app seems to work fine with it except the description in the login view:

![photo_2018-05-04_11-57-39](https://user-images.githubusercontent.com/1891273/39622547-f59ea072-4f92-11e8-9a27-4d46e6066441.jpg)

[2018-05-04 10:05] insanebits opened #2212 "App is shows not responding while uploading images"
### Actual behaviour
App shows not responding popup while uploading photos. Connection speed is decent, seems to happen when there are a lot of images waiting to be uploaded.

### Expected behaviour
Should upload without any popups.

### Steps to reproduce
1. Take a couple of photos
2. Open app
3. Go to uploads screen
4. Wait for not responding(2-5s)

Can this problem be reproduced with the offici

[2018-05-04 10:53] theScrabi commented on #2066
Is the readonly a radio button here or a check box?

[2018-05-04 11:01] theScrabi commented on #2066
I think this should be in scope of this. However I think this option is not working on server side because it looks like a radio button and it behaves like one, tho it should be a checkbox. This is why clicking on it has no action.

![gurken](https://user-images.githubusercontent.com/1891273/39624866-2d5cd4c2-4f9b-11e8-88c2-277c69f78497.gif)

However maybe it's not intended to make a single file s

[2018-05-04 11:46] #2036 closed

[2018-05-04 12:53] jesmrec commented on #2204
i guess `Feedback` and `Help` are the same in settings view, and the visibility have to be branded as well.

Other option to include (only an idea if there is enough room, or for future), is adding a link to the rate dialog.

[2018-05-04 13:16] jesmrec commented on #2066
let's check with core to take a decision.

[2018-05-04 20:51] Chillstice commented on #2206
I sent the message 2 days ago, but here's the credentials anyway:
username: test
password: test
:o
The server is secure and I'll just delete the account once we're done with it.

[2018-05-04 21:33] jesmrec commented on #2212
Thanks for reporting, i will have a look

[2018-05-07 08:29] SamuAlfageme opened #2216 "DetectAuthenticationMethodOperation:run() assumes one WWW-Authenticate header per auth. method"
_This comes from @guimaluf's report on central: https://central.owncloud.org/t/www-authenticate-response-header-issues-when-authenticating-mobiles-apps-with-oauth2-on-apache-php5-6-fpm/13308/_

---

[code]

[code]

---

According to [HTTP's Message Syntax and Routing RFC](https://tools.ietf.org/html/rfc7230#section-3.2.2):

**This read together with message (header) syntax BNF tells that both form

[2018-05-07 08:53] jesmrec commented on #2216
Thanks for reporting!! we will face a fix.

[2018-05-07 10:10] jesmrec commented on #2206
A couple of issues:

- I recommend you not to make public neither your server URL nor the credentials, so anyone can read this and make a wrong use of the account.
- Regarding the issue, do you hace any kind of redirection in your server? the requests after authentication are returning 301 and 302

[2018-05-07 11:40] jesmrec commented on #1888
This fix will be released in 2.8.0

[2018-05-07 17:02] lefherz opened #2217 "Feature Request: Select account for instant upload"
### Actual behaviour
In https://central.owncloud.org/t/android-instant-upload-with-multiple-accounts-select-target-account/7427 a user reports that in a multi-account setup they can not select the account to which photos shall be instantly uploaded.

The photos are currently only going to the last account which was used. This means that they end up in the wrong folder sometimes. In nextcloud it se

[2018-05-07 23:34] Chillstice commented on #2206
- I'm forcing https, but it shouldn't be redirecting since we're working with https in the first place.
- The `cloud` subdomain redirects to /cloud technically since that's the folder that it's installed in.
- I've had some other rewrite rules for unrelated situations on the server back when it was working. I haven't changed much besides setting it up with the subdomain.

I guess I could reinstall

[2018-05-07 23:39] Chillstice commented on #2206
**WAIT**

I just started messing around with toggling redirects. Apparently my redirect for:
`RedirectMatch 301 /cloud https://cloud.chillstice.com/`
Was causing the problem...

My intention was to keep the url consistent and force requests to the /cloud directory to the subdomain. That probably causes some weird redirect when the mobile version tries to log in.

It's working now. I can't believe

[2018-05-07 23:39] #2206 closed

[2018-05-08 08:50] davigonz commented on #1890
It will be included in 2.8.0

[2018-05-08 08:51] #1890 closed

[2018-05-08 10:35] jesmrec commented on #2217
Some considerations to take in account and discuss before implementing.

- If only one account is attached in the moment of enabling the feature (or multiaccount disabled): account selected automatically?
- Account by default, or force the user to select one account at the time the feature is enabled.
- If the account selected to upload automatically is removed from device, which one should be set

[2018-05-08 16:16] davigonz commented on #2129
Resuming the work here...

[2018-05-08 16:28] davigonz commented on #2217
Thanks for opening this issue and attach useful information but this is a duplicated of #827, I will close this issue and paste there what you have commented here.

[2018-05-08 16:30] davigonz commented on #827
Some considerations by @jesmrec to take in account and discuss before implementing.

- If only one account is attached in the moment of enabling the feature (or multiaccount disabled): account selected automatically?
- Account by default, or force the user to select one account at the time the feature is enabled.
- If the account selected to upload automatically is removed from device, which one s

[2018-05-08 16:31] #2217 closed

[2018-05-09 08:57] davigonz commented on #2205
Here we go with some screenshots so you can see how this feature is gonna look like:

| Limited quota | Unlimited quota |
| ------------- | ------------- |
| ![limited](https://user-images.githubusercontent.com/15261363/39805633-b553bf78-5377-11e8-872e-718322349fc8.png) | ![unlimited](https://user-images.githubusercontent.com/15261363/39805641-baeb4fe6-5377-11e8-81ad-b7a28e60ceef.png) |

[2018-05-09 16:12] davigonz opened #2219 "New login view"
Our login view is not consistent with the most recent ownCloud versions, so I suggest to update it with something like this.

[<img src="https://user-images.githubusercontent.com/15261363/39826067-ce0e1694-53b3-11e8-8b0b-93f355874c15.png" width="400px"/>](https://user-images.githubusercontent.com/15261363/39826067-ce0e1694-53b3-11e8-8b0b-93f355874c15.png)

In comparison with the previous design:

[2018-05-11 08:13] davigonz opened #2221 "[2.8.0 beta v1] Release new beta version"
### TASKS:
 - [x] [COORDINATION] Create task in [Community Management](https://kanboard.owncloud.com/board/22) board to publish a blog post, several days before releasing
 - [x] [DEV] Create **2.8.0_beta_v1** branch from master and:
         - Update naming of drawer resources to be brandable. Have a look at https://github.com/owncloud/ownbrander/issues/801
         - Update version code and name

[2018-05-13 15:26] nikolayhg commented on #10
The app is also unusable for me without SD Card storage. Uninstalled.

[2018-05-14 07:30] wioxjk opened #2223 "Owncloud Android client does not verify TLSA-record (DANE)"
### Expected behaviour
Owncloud Client should verify TLSA record

### Actual behaviour
Owncloud Client does not verify TLSA record

### Steps to reproduce
1. Set up a invalid TLSA record

######################

It seems that the Owncloud-client does not verify DANE (TLSA-record).

[2018-05-15 15:06] davigonz commented on #2124
Trying to reproduce this again...

[2018-05-15 16:55] jesmrec opened #2224 "Improvements in "Descending" file list sort method"
Currently, the "descending" option to sort the file list is placed within the action bar menu as following:

![device-2018-05-15-184407](https://user-images.githubusercontent.com/14894746/40071510-409aed42-5871-11e8-81e4-1b23ce8c2d5f.png)

We can improve this behaviour in two different ways:

- By changing the wording to `Sort descending` , so only the word `Descending` can be confusing
- By setti

[2018-05-15 16:56] michaelstingl commented on #2224
@cdamken @voroyam @lefherz @pmaier1 what do you think?

[2018-05-15 17:00] voroyam commented on #2224
The more options to sort the files the better, imo.

[2018-05-15 17:02] michaelstingl commented on #2224
@voroyam The question is: Where to show the "Descending" menu item?

[2018-05-15 17:03] voroyam commented on #2224
In the sort dialog

[2018-05-17 11:57] ainnazrah95 opened #2225 "No such property: name for class: java.lang.String"
### Actual behaviour
def setOutputFileName(variant, appName, callerProject) {
    logger.info("Setting new name for output of variant $variant.name")

    def originalFile = variant.outputs[0].outputFileName
    **def originalName = originalFile.name**
    logger.info("$variant.name: originalName is $originalName")

    def newName = ""

    if (appName) {
        newName += appName
    } else {

[2018-05-17 12:51] #2205 closed

[2018-05-17 13:15] davigonz commented on #2225
Hi @ainnazrah95 , I don't know what you mean with _clicking on the link Open File_, that method is being used to set the apk name when building the app.

[2018-05-18 00:55] ainnazrah95 commented on #2225
ok sorry Mr @davigonz . I attach the screenshot of my Android Studio to understand the situation.
![capture](https://user-images.githubusercontent.com/38446031/40210714-21d0b98c-5a79-11e8-8b76-62857c35373a.PNG)

[2018-05-18 05:36] ainnazrah95 commented on #2225
And I try to delete the owncloud android repository from my github and fork again the repo but I got an error as I open the file in Android Studio. Error seems from the outputFile
![capture](https://user-images.githubusercontent.com/38446031/40217618-496d7d6e-5aa0-11e8-82bd-34065f98ec0a.PNG)

[2018-05-18 06:48] davigonz commented on #2225
Hi @ainnazrah95 , have you upgraded the gradle version? This error is likely due to a gradle upgrade.
Replace `variant.outputs[0].outputFile = new File(originalFile.parent, newName)` with: `variant.outputs.all {
    outputFileName = new File(".", newName)
}` and try to build the project again.

We will upgrade gradle and fix this in the next version anyway.

[2018-05-18 08:01] #2109 closed

[2018-05-18 08:09] theScrabi commented on #2224
true.

I've tried that, at the beginning, however it's not quite trivial to put it there since that menu only accepts either radio buttons or checkbox buttons, but not both. Supporting both would require to create a new layout.

Could you be convinced to something like that:

#### aproche 1
![screenshot_1526630418](https://user-images.githubusercontent.com/1891273/40223497-8f17c8b4-5a83-11e8-8f59-

[2018-05-18 08:39] davigonz commented on #2224
I would choose the second approach

[2018-05-18 09:39] ainnazrah95 commented on #2225
Hi @davigonz , yes I was upgrading the gradle version 3.1.2. After I replace the code, rebuild the project and just left the errors for obsolete configuration for androidTestCompile, compile and testCompile. Thanks for your help.

[2018-05-18 09:57] jesmrec commented on #2224
First approach overloads the menu. The menu is intended to be a list of available options and there are mixed checkbuttons, radiobuttons and other options, not a good UX from my POV. Second option is better so the main menu structure remains and  it is clear in the sort view the available options.

[2018-05-18 10:08] theScrabi commented on #2224
here is an implementation of the second suggestion: https://github.com/owncloud/android/pull/2226

[2018-05-18 10:38] jesmrec commented on #2224
Are the cloud pic and the background image in the top of the drawer brandable?

[2018-05-18 11:17] theScrabi commented on #58
So since we started to cooperate with the devs of dav4droid we thought it was a good idea to add a link to their apps [davdroid](https://www.davdroid.com/) for private and [managed davdroid](https://www.davdroid.com/organizations/managed-davdroid/) for busies customers.

As Holger pointed out we will also have to make this an optional point in own brander.

[2018-05-18 11:32] ainnazrah95 commented on #2225
Now I'm stuck at this error Could not find com.android.tools.lint:lint-gradle:26.1.2.
Do you have any idea Mr @davigonz ?

![capture](https://user-images.githubusercontent.com/38446031/40232587-fa1f31d0-5ad1-11e8-8fc5-35ff7d98347a.PNG)

[2018-05-18 12:17] davigonz commented on #2225
@ainnazrah95 we have merged the gradle upgrade into master this morning, I would recommend you to `fetch` and `rebase` the changes in your branch. All the problems you are facing are already fixed in master.

[2018-05-18 12:39] ainnazrah95 commented on #2225
I'm still new in using Git and so much new things I learnt so far. But how to fetch and rebase the changes? Can you check the commands below is it true or not?
my forked repository named: androidOwncloud
to fetch:
git fetch android
to rebase:

$ git clone https://github.com/my-username/androidOwncloud.git
$ cd androidOwncloud
$ git checkout -b my-branch

Sorry I'm asking too much questions @davigo

[2018-05-18 13:12] davigonz commented on #2225
No worries, glad to know you are playing with our project and you can even contribute with some features someday 😊

To understand better how a rebase works, you can follow the instructions I posted [here](https://github.com/owncloud/android/pull/2075#issuecomment-359428847) about how to perform a rebase with master and ask me if there's any additional question.

[2018-05-18 15:44] ainnazrah95 commented on #2225
I think I'm mistaken for any command parts. Can you check @davigonz ?
![capture](https://user-images.githubusercontent.com/38446031/40244155-a9de427e-5af4-11e8-9e20-da36b550f688.PNG)
![capture](https://user-images.githubusercontent.com/38446031/40244234-ebd6c534-5af4-11e8-9b36-2925739bbcf1.PNG)

[2018-05-19 08:56] theScrabi commented on #2225
You where trying to rebase even though git clearly says that you have stashed changes.

@ainnazrah95 If you want to contribute to this project you need to be aware of how git works. I highly recommand trying this: https://learngitbranching.js.org/

[2018-05-19 23:57] ainnazrah95 commented on #2225
ok, thank you for your advice Mr @theScrabi 👍

[2018-05-19 23:57] #2225 closed

[2018-05-21 07:50] theScrabi commented on #2204
So I've re based with the quota changes. However I have several problems now.
1. quota does not show up in landscape mode.
2. quota shows a not resolved template string if no quota was yet detected.

[2018-05-21 08:56] davigonz commented on #2204
I will have a look at it

[2018-05-22 10:56] priyanktyagi89 commented on #2219
@davigonz : Can I pick this task?

[2018-05-22 13:58] jesmrec commented on #2219
@pmaier1 do you agree to use the mentioned look for the login view? i think is congruent with the current web UI in the product.

The point is, that this pic changes in different versions of the product, so it should be maintained.

About branding, the pic is the same used in https://github.com/owncloud/android/issues/2204, so a combined option with the current one for branding the color of the dr

[2018-05-22 13:59] michaelstingl commented on #2219
@jesmrec sounds cool 👍

[2018-05-23 07:55] #1825 closed

[2018-05-23 10:18] #2204 closed

[2018-05-23 17:09] jesmrec opened #2228 "Public link password capabilities support"
Currently, we deal this capability for public links:

[code]

It was splitted up, and core versions from 10.0.9 will include:

[code]

Web UI does not allow to save the public links if the option selected has the password enforced. Other option (cooler) is setting dynamically the `*` to mark the field as mandatory.

To develop after 10.0.9 and https://github.com/owncloud/android/pull/2150

Related

[2018-05-24 08:28] jesmrec commented on #2212
i can not reproduce this problem with an 8.0.0 device over 10.0.7. Next days we will release a beta version of the app. If you want to install it and send the logs, we will have a deeper look into your problem

[2018-05-24 12:23] jbeguna04 opened #2229 "Logo/Icon Proposal"
Sorry for not having the template
Hi good day! Im Jibbie Eguna, a graphics designer, I would like to ask for your permission to propose a new designs of logo in your application/project. I would like to help projects in open-source .I would just like to propose new designs if you are needing it. Hoping for your positive response Thank You!

[2018-05-24 17:48] michaelstingl commented on #2229
@jbeguna04 Thanks for your kind offer. I checked some of your contributions to other projects – amazing!

The [ownCloud logo is a registered trademark](https://owncloud.org/trademark/) and widely used across the platform. Changing the logo itself in the ownCloud Android app would cause some confusion. But help from skilled designers would be definitely beneficial. @davigonz @theScrabi What do you

[2018-05-25 00:17] jbeguna04 commented on #2229
Thank You for your response. I understand, thank you for viewing my issue, Good luck in your application

[2018-05-25 04:12] ChemWater commented on #2229
Hello,

I've been trying to use the app to see how I can contribute to the project.
But I've never used an application that prompts you to use a server address
to use the service. Can someone instruct me on how to attain and implement
a personal server address for the initial prompt?

Thanks in advance

On Thu, May 24, 2018 at 8:17 PM, Jibbie R. Eguna <notifications@github.com>
wrote:

[2018-05-25 06:52] theScrabi commented on #2229
an easy way would be to get a test account at [blaucloud.de](https://blaucloud.de).

[2018-05-25 06:55] davigonz commented on #2229
As @michaelstingl said, changing the ownCloud Android icon would be weird if we don't update the global ownCloud logo but of course, any help is welcome so @jbeguna04 maybe you are interested in contributing with some UI mockups for different new features.

For example, we are planning to update our login view and we would appreciate more designers feedback, have a look at https://github.com/owncl

[2018-05-25 07:03] davigonz commented on #2229
a personal server address for the initial prompt?

Hi @ChemWater , glad to see you want to install your first ownCloud server, I would highly recommend you to read our [ownCloud administrator manual](https://doc.owncloud.org/server/10.0/admin_manual/) about the installation and create new topics in [https://central.owncloud.org/c/server](https://central.owncloud.org/c/server) if you have any quest

[2018-05-25 13:52] pmaier1 commented on #2219
I kind of dislike the headline "Server address https://...". Would rather like to have it as a placeholder in the input field. Apart from that it's only the background/colors that has changed, right?

[2018-05-25 13:58] pmaier1 commented on #1972
Well, with 2.7.0 it does not yet work. It is correct that a separate UI should not be required anymore but we need to find a way for that the sharing autocomplete will display guest suggestions. Maybe that's just server-side/API. Probably @PVince81 can shed some light if time permits.

[2018-05-25 14:01] pmaier1 commented on #2066
Just to clarify: It works as expected and should not be a checkbox as it's the only available permission currently for public links on single files. We will add read/write permission to the server at some point but not yet scheduled. Clients should adapt to that when it's available.

[2018-05-25 14:40] michaelstingl commented on #2066
okay, thanks @pmaier1 . Then let's go for the next 2.8.0 release…

[2018-05-28 07:16] pmaier1 commented on #2219
Ah ok, I see, thanks :+1:

[2018-05-28 07:33] davigonz commented on #2219
@pmaier1 Colors, background and a better handling of white spaces.

[2018-05-28 09:03] jesmrec commented on #1825
The case of SAML behaves in same way. SAML session expires itself and the expected behaviour is asking credentials again, so it should be redirected to login view.

[2018-05-28 10:30] davigonz commented on #2221
### Bug (2)

**Steps to reproduce:**

1. Download a file
2. Wait till is completely downloaded
3. Swipe down the notifications bar

**Current:** Downloaded file size is not properly set, something like `%1$s downloaded` appears.

[<img src="https://user-images.githubusercontent.com/15261363/40610471-c54a5e28-6272-11e8-9449-9409876d5c3a.png" width="300px"/>](https://user-images.githubusercontent.co

[2018-05-28 12:45] #2145 closed

[2018-05-29 07:38] theScrabi commented on #2221
fixed https://github.com/owncloud/android/issues/2221#issuecomment-392487886

[2018-05-29 10:52] davigonz commented on #2221
@jesmrec initial tasks done, ready to test

[2018-05-29 12:32] PVince81 commented on #1972
the "add guest" entry is added dynamically by the JS frontend code of the guests app, so querying backend endpoints will not return it

we might need to rework this and have said entry be injected at the API endpoint level

[2018-05-30 07:10] jesmrec commented on #2221
### (3)

Steps:

1. Install 2.7.0 (previous release)
2. Upgrade to beta

Current: Quota is displayed as `Loading quota` forever
Expected: Quota is displayed correctly

Tested with Nexus 6P v7.1.2

[2018-05-30 07:38] jesmrec commented on #2221
### (4)

Steps:

1. Open share view of any file

Current: Thumbnail (top left corner) is too small

![screen shot 2018-05-30 at 09 37 44](https://user-images.githubusercontent.com/14894746/40706154-25aaceda-63ed-11e8-8e29-e4f0acb94393.png)

Expected: as before

![screen shot 2018-05-30 at 09 35 41](https://user-images.githubusercontent.com/14894746/40706091-004cab04-63ed-11e8-8c4d-6d2d68088849.png

[2018-05-30 10:15] theScrabi commented on #2221
fixed https://github.com/owncloud/android/issues/2221#issuecomment-393061414

[2018-05-30 12:00] theScrabi commented on #2221
I noticed that the items in the drawer overlap the cloud in portrait mode if the screen of the phone is to small.
![image](https://user-images.githubusercontent.com/1891273/40718856-cfa13f36-6411-11e8-8161-825953ebe559.png)

[2018-05-30 12:02] theScrabi commented on #2221
I noticed that the items in the drawer overlap the cloud in portrait mode if the screen of the phone is to small.
![image](https://user-images.githubusercontent.com/1891273/40718963-1fed64f6-6412-11e8-8930-c335d01a7513.png)

[2018-05-30 12:14] jesmrec commented on #2221
i think that the cloud image as background does not look bad at all

[2018-05-30 13:11] jesmrec commented on #2221
@michaelstingl yes, we have taken it in account. This oB issue is opened: https://github.com/owncloud/ownbrander/issues/801

[2018-05-31 07:35] theScrabi commented on #2221
It should be lighter if we want it to be a background image. @davigonz and me decided to not show it behind the items. Therefore I removed it on smaller screens now.

[2018-05-31 07:52] jesmrec commented on #2221
### (6)

The new options in the drawer has some dependency on the device language. For example, the spanish translation for `Feedback` is  `Mensajes de retroalimentación` (https://github.com/owncloud/android/blob/5f54c3aa83f894eacf02637a61004b0b3ff85a9e/res/values-es/strings.xml#L31)

there is not enough room for such translation:

![device-2018-05-31-094714](https://user-images.githubusercontent.

[2018-05-31 07:54] davigonz commented on #2221
@theScrabi It is not possible to include the cloud resource in ldpi or mdpi resources so it looks smaller?

[2018-05-31 08:02] davigonz commented on #2221
@jesmrec IMHO, we cannot handle this in a proper way unless we include a better translation, because ellipsizing the text like `Mensajes de... wouldn't work` for us either.

What about "Sugerencias"?

[2018-05-31 08:05] jesmrec commented on #2221
it is an option, i like als other ones like: `Dános tu Feedback` or  `Dános tu opinión`. But, if we can not handle the room for the length of the options (technical fix), it is out of the scope and we can fix it it transifex.

[2018-05-31 08:27] jesmrec commented on #2221
### (8)

maybe same bug as (7)

Steps:

1. Install the app in a device with Android 8
2. Go to settings, and enable either `Picture upload` or `Video Uploads`
3. Tap on the square button to switch to another app

Current: app crashes
Expected: no crash

[2018-06-01 10:30] jesmrec commented on #2221
All stuff fixed and test performed. approved.

[2018-06-01 11:08] davigonz commented on #2221
Great @jesmrec , can you please review the [changelog](https://github.com/owncloud/android/pull/2231/files) before merging the beta branch?

[2018-06-01 11:28] jesmrec commented on #2221
Changelog is correct 👍

[2018-06-01 18:29] theScrabi opened #2233 "No animazions in powersave mode"
Currently the app showns animations even though powerdave mode is enabled. This should be changed.

[2018-06-04 08:33] theScrabi commented on #2221
[PR for f-droid](https://gitlab.com/fdroid/fdroiddata/merge_requests/3274) got created

[2018-06-04 18:18] sd1998 commented on #2211
@theScrabi I would like to work on this.

[2018-06-04 18:23] sd1998 commented on #1727
@davigonz I would like to work on this.

[2018-06-05 10:05] jesmrec commented on #1727
@sd1998 for me it is ok, go on!! first of all, we should agree the way it is going to be displayed. I think in several options:

- Set a global checkbox in multiselection mode. By selecting it, all checkboxes will be selected
- Set an option in tool bar or three-dot-menu to select all the stuff.

Also, it would be cool to include an additional option to "deselect" all the stuff

If you are going t

[2018-06-06 05:01] sd1998 commented on #1727
@jesmrec I will add the mockups here is some time. I think the second options will be better and I think that the option in three-dot-menu should only be available if the user has already selected an item(i.e is already in multiselection mode).

[2018-06-08 17:45] sd1998 commented on #1727
@jesmrec I have made the mockup. The mockup is not very good as I still learning to make these so Sorry for the inaccuracy to replicate the UI completely but the mockup still represents vaguely the option in tree-dot menu to select all the items and deselect all the items. Is this type of representation of the options ok?

![image](https://user-images.githubusercontent.com/22047421/41172486-a2b228

[2018-06-09 11:50] constrictor commented on #2146
Camera uploads don't work at all for me with Samsung Galaxy S9+ using Android 8.0.0. The same on both latest stable and 2.8.0-beta.1.

[2018-06-09 13:15] michaelstingl commented on #2146
@constrictor with the 2.8.0-beta1, you can capture logs on the settings screen. You could send them to apps@owncloud.com .

[2018-06-10 04:12] lhartmann opened #2237 "Automatic picture upload not starting if "only on wify" unchecked"
### Actual behaviour
- If "upload only on wifi" is unchecked then picture upload never starts.

### Expected behaviour
- If "upload only on wifi" is unchecked then pictures should be uploaded, regardless of which network is active, wifi or cellular.

### Steps to reproduce
1. Install and configure owncloud client on android
2. Enable instant uploads for pictures
3. Uncheck "upload only on wifi" (n

[2018-06-11 07:22] davigonz commented on #2237
Hi @lhartmann , thanks for reporting this bug, we will try to reproduce it and give you more information with the details

[2018-06-11 10:11] #2221 closed

[2018-06-11 14:45] #2135 closed

[2018-06-11 15:55] lhartmann commented on #2237
I noticed UploadFileOperation.java has been updated a month ago, videos and pictures got dedicated code. Reading through I could find no obvious issues.

Is that code on the current/beta google play releases?

[2018-06-12 11:45] jesmrec commented on #2229
This issue about the login/icon will not be moved forward due to the already explained reasons. For contributing, please check the links that @davigonz pasted, and for any question please open new issue here or in https://central.owncloud.org.

Thanks for your interest!

[2018-06-12 11:45] #2229 closed

[2018-06-12 11:49] jesmrec opened #2238 "[2.8.0] New release"
### TASKS
- [x] [WIZARD] Create new steps with important features included in 2.8.0 https://github.com/owncloud/android/issues/2244
- [x] [COORDINATION] Ping community guys to publish a blog post, at least one week before releasing.
 - [x] [GIT] Create branch release_0.9.20 in owncloud/android-library from master, if needed
 - [x] [GIT] Create branch release_2.8.0 in owncloud/android from master

[2018-06-12 12:17] lefherz commented on #2224
idea - what if we leave out the descending option, and instead make it descending, when people tap on "A-Z" the second time, even if it's already chosen? so if "A-Z" is checked right now, user taps on "A-Z", the option morphs to "Z-A"? then we could get rid of the ugly descending checkbox.

[2018-06-12 14:11] jesmrec commented on #2233
To be released in 2.8.0

[2018-06-12 14:11] #2233 closed

[2018-06-12 16:55] jesmrec commented on #2238
### (1)

Steps:

1. Open a SAML session and wait until it expires

Current: Snackbar shown and redirected to list of servers.
Expected: Session is expired, so the only think the user is able to do is login again.

This issue is caused by https://github.com/owncloud/android/pull/2175, that is valid for basic and OAuth2 where sessions do not expire (only in case of token revokation in OAuth2).

[2018-06-12 18:45] sciurius commented on #1829
Running 2.7.0 and it seems to work.
A preference setting for the camera path and the scan interval would be appreciated.

[2018-06-12 19:45] dahamsta commented on #1829
There's already a setting for camera path.

[2018-06-12 20:41] sciurius commented on #1829
I stand corrected. Thanks.

[2018-06-12 21:28] dahamsta commented on #1829
NP

[2018-06-12 21:38] Polfo commented on #1799
I have the same issue with EyeFilter installed

[2018-06-13 06:13] jesmrec commented on #1829
The scan interval depends directly on the Android system and can not be controlled directly by the app.

[2018-06-13 06:48] theScrabi commented on #1799
@RalphBike Let me guess, since you are trying to setup owncloud you want to login before using the app.

Well the reason it might not be working is because we secured the login screen, so it is not possible to take screenshots of it, or use an overlay with it.
Please make sure not to use any overlay if you want to log in.

[2018-06-13 07:37] theScrabi commented on #2224
Well but the checkbox can be combined with all the other options. If we really wanted to replace it we had to add 3 more options. @lefherz why do you think [this](https://github.com/owncloud/android/pull/2226#issuecomment-391257298) solution is ugly?

[2018-06-13 07:49] jesmrec commented on #2224
we can create a separate issue to be scheduled with this enhancement. It does not have room for 2.8.0 (current milestone)

[2018-06-13 07:58] #2224 closed

[2018-06-13 11:15] jesmrec opened #2240 "OAuth2 + multiaccount"
Currently it's not quite an easy task to do if you want to login into 2 or more accounts at the same server.

Because after accessing the first account you are still loged  in your browser, and you get directly redirected to the authorise view:
![screenshot_1528803133](https://user-images.githubusercontent.com/1891273/41288133-8a939ebe-6e45-11e8-9d36-9936269105c6.png)

If you now want to login int

[2018-06-13 11:35] jesmrec commented on #2237
You are performing these steps under wifi connection, i guess. Did you change the network in any moment during the performance?

[2018-06-13 15:30] #2121 closed

[2018-06-13 18:16] Diamondog commented on #1829
/storang/emulated/0/dcim/camera

I do not see the interval setting on the beta or it is not showing at
this time. BUT I do remember one somewhere before on your app. Maybe I
just can't find it at this time. Where are is it located?

On 6/12/2018 2:46 PM, Johan Vromans wrote:

[2018-06-15 06:41] sciurius opened #2241 ""Available offline" does not seem to work"
### Actual behaviour
When a folder is flagged as "Avalable offline", it is assumed to be updated automatically (within a reasonable amount of time) when a file in this folder changes on the server.

This doesn't seem to work for me on all of my devices:
Samsung Note 10.1 (GT-N8010) with LineageOS 14.1 (Android 7.1)
Samsung A3 (A320FL) with Oreo 8.0
Asus Zenpad Z300M with Android 7.0

As soon as th

[2018-06-15 06:43] sd1998 commented on #1727
@jesmrec Is [this](https://github.com/owncloud/android/issues/1727#issuecomment-395836030) alright? If it is then I will start working on it.

[2018-06-15 07:41] jesmrec commented on #1727
looks good for me. Are he options "Select all" and "Deselect all" always in the three-dot-menu, and not in the toolbar (although there is room for this)?

CC @davigonz @michaelstingl

[2018-06-15 08:21] theScrabi commented on #2241
It will, however Google changed the behavior for code that runs in the background. It is only possible to update every 15 minutes. So the file will be updated every 15 minutes if you don't open the app.

In order to show the latest changes you did on the server we of course also check marked files if you open the app.

[2018-06-15 08:52] davigonz commented on #1727
Thanks @sd1998 for the mockup, I have a couple of questions:
1. Does the option **select all** appear when the user has already selected one or more files or when there's no one selected? In my opinion it could appear in both cases.
2. Does the option **deselect all** make sense when there's no file selected? Think it should appear just when the **select all** option is being used.

What do you th

[2018-06-15 09:16] sciurius commented on #2241
I would love to acknowledge, but I can't.

This is what I tried.

On the A320FL (hostname smotty), run a ssh server (Simple SSHD).
On the PC:
[code]
On the PC, make a small change to Safe/pwsafe.cfg:
[code]
Verify that it is uploaded to the server:
[code]
Then, repeatedly run the ssh command to see if the file changes on the A320FL:
[code]
Note that we're already significantly past the 15 minute m

[2018-06-15 09:38] sd1998 commented on #1727
@davigonz Yes I agree with this. I will implement it this way.

[2018-06-15 09:41] sd1998 commented on #1727
@jesmrec Yes I just checked there is enough space so I think it would be better to add the select all icon on the toolbar and the deselect option to be in the three dot menu. What do you think?

[2018-06-15 10:09] jesmrec commented on #1727
which icon will you use in the tool bar for "Select all"? I like the 1. approach of @davigonz

[2018-06-15 10:54] sd1998 commented on #1727
I have though of using this
![image](https://user-images.githubusercontent.com/22047421/41464573-7c031558-70b8-11e8-9d45-512b2bcf2969.png)

So the select all option should be visible even when the iser has not select a single file?

[2018-06-15 11:05] theScrabi commented on #1727
It's not bad since its the one that is listed when you search for an Icon corresponding to that option.
I somehow don't like it tho.

@sd1998 what do you think about this icon here? Do you like it?
![check-all 1](https://user-images.githubusercontent.com/1891273/41465025-ab45e578-709c-11e8-8b30-b54cb9927ff4.png) ![check-all 2](https://user-images.githubusercontent.com/1891273/41465051-bcc35cea-709

[2018-06-15 11:21] theScrabi commented on #2241
Hm have you checked if only the date label is wrong or if the files really haven't been synchronized? Maybe you can install the [beta version](https://f-droid.org/repo/com.owncloud.android_20600100.apk) of our app [here from fdroid](https://f-droid.org/en/packages/com.owncloud.android/). This version can collect logs which you can find in the settings. It might help us if you send us those logs. I

[2018-06-15 11:32] sd1998 commented on #1727
@theScrabi  Yes it is ok. I have another alternative.
![image](https://user-images.githubusercontent.com/22047421/41465894-9e1f6ee8-70bd-11e8-8770-46092b10ce2c.png)
I found this [here](https://material.io/tools/icons/?style=baseline)
What do you think about this? Or should I go with the one you have suggested.

[2018-06-15 11:34] jesmrec commented on #1727
this icon is very close to the "Move" icon. For deselecting... any idea? or will not be never placed in toolbar ?